<div class="list-group-item-text">
  <strong><i class="fa fa-user-circle" aria-hidden="true"></i> Inizio-fine lavoro: </strong>
  #{list items:day.beginEnd, as:'stamp'}  
  #{secure.check 'TeleworkStampings.deleteTeleworkStamping'}
  	<a class="label label-primary" href="@{TeleworkStampings.deleteTeleworkStamping(stamp.id)}" 
  		data-async-modal="#modalDeleteStamping">${stamp.formattedHour()}</a>  
  #{/secure.check}
  #{/list}
  
  <br>
  <strong><i class="fa fa-cutlery" aria-hidden="true"></i> Pausa pranzo: </strong>
  #{list items:day.meal, as:'meal'}  
  #{secure.check 'TeleworkStampings.deleteTeleworkStamping'}
  	<a class="label label-danger" href="@{TeleworkStampings.deleteTeleworkStamping(meal.id)}" 
  		data-async-modal="#modalDeleteStamping">${meal.formattedHour()}</a> 
  #{/secure.check}
  #{/list}
  
  <br>
  <strong><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Interruzioni: </strong>
  #{list items:day.interruptions, as:'inter'}  
  #{secure.check 'TeleworkStampings.deleteTeleworkStamping'}
  	<a class="label label-info" href="@{TeleworkStampings.deleteTeleworkStamping(inter.id)}" 
  		data-async-modal="#modalDeleteStamping">${inter.formattedHour()}</a> 
  #{/secure.check}
  #{/list}
 
</div>