#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Inserimento orario in telelavoro'  /}

<div class="text-center">
<h3>Articolazione oraria svolta in regime di telelavoro nell'ambito del monte orario d'obbligo</h3>
</div>
<div class="container">
<br><br>
<div class="text-center">
    <a class="btn btn-info" href="@{InformationRequests.saveTeleworkRequest(currentPerson.id, year, month)}"><i class="fa fa-flag-o"></i>
      Invia alla presa visione </a>
</div>
<table class="table table-striped table-hover table-condensed center">

    <tr>
      <th>Giorno</th>
      <th>Inizio Giornata</th>
      <th>Fine giornata</th>
      <th>Inizio pausa pranzo</th>
      <th>Fine pausa pranzo</th>      
      <th>Interruzione dalle</th>
      <th>Interruzione alle</th>
    </tr>

#{list items:list, as:'day'}
<tr>
	<td>${day.displayDay()}</td>
	<td>${day.beginDay != null ? day.beginDay.formattedHour() : ' '}</td>
	<td>${day.endDay != null ? day.endDay.formattedHour() : ' '}</td>
	<td>${day.beginMeal != null ? day.beginMeal.formattedHour() : ' '}</td>
	<td>${day.endMeal != null ? day.endMeal.formattedHour() : ' '}</td>
	<td>${day.beginInterruption != null ? day.beginInterruption.formattedHour() : ' '}</td>
	<td>${day.endInterruption != null ? day.endInterruption.formattedHour() : ' '}</td>
</tr>
#{/list}

</table>
<p>Il sottoscritto ${currentPerson.getFullname()}, matr. ${currentPerson.number} comunica di avere svolto nel
mese in oggetto, nei giorni indicati e secondo gli orari concordati con il Direttore/Dirigente sopra evidenziati,
la propria prestazione in regime di Telelavoro:
<ul>
	<li> presso la propria abitazione,
	<li> nella sede di lavoro prevista coerentemente con quanto localmente ed oggettivamente rilevabile ed in 
uniformità a quanto previsto nel proprio contratto di Telelavoro.
</ul>
</p>
<br><br>
<h4>${date.format()}</h4>
</div>