#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Orari dipendenti in telelavoro'  /}

<div class="container">
  #{title title:'Orari in telelavoro di  ' + person.fullName() /}
</div>

<div class="container">

	<table class="table">
      <thead>
      <tr>
        <th>Giorno</th>
        <th>Inizio telelavoro</th>
        <th>Fine telelavoro</th>
        <th>Inizio pranzo</th>
        <th>Fine pranzo</th>
        <th>Inizio interruzione</th>
        <th>Fine interruzione</th>        
      </tr>
      </thead>
      <tbody>
      #{list items:list, as:'day'}

      <tr  #{if (!day.hasTeleworkStampingsWellFormed() || !day.isTeleworkInDay()) 
      && (day.personDay.stampings.isEmpty() || day.isTeleworkInDay())
      && (!day.personDay.isHoliday)} class="warning" webui-popover-hover
    			data-content="Giornata incompleta: verificare orari inseriti e/o codice telelavoro (103)"#{/if}>
      <td #{if day.personDay.isHoliday}class="danger" webui-popover-hover data-content="festivo" #{/if}>${day.personDay.date.shortDayName()}</td>
      <td>${!day.beginEnd.isEmpty() && day.beginEnd.get(0) != null ? day.beginEnd.get(0).date.toLocalTime() : '-'}</td>
      <td>${!day.beginEnd.isEmpty() && day.beginEnd.get(1) != null ? day.beginEnd.get(1).date.toLocalTime() : '-'}</td>
      <td>${!day.meal.isEmpty() && day.meal.get(0) != null ? day.meal.get(0).date.toLocalTime() : '-'}</td>
      <td>${!day.meal.isEmpty() && day.meal.get(1) != null ? day.meal.get(1).date.toLocalTime() : '-'}</td>
      <td>${!day.interruptions.isEmpty() && day.interruptions.get(0) != null ? day.interruptions.get(0).date.toLocalTime() : '-'}</td>
      <td>${!day.interruptions.isEmpty() && day.interruptions.get(1) != null ? day.interruptions.get(1).date.toLocalTime() : '-' }</td>
      </tr>

      #{/list}
      </tbody>
    </table>

</div>