#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Inserimento orario in telelavoro'  /}

<div class="container">

#{title title:('Orario in telelavoro ' + templateUtility.monthName(month) + ' ' + year) /}

#{list items:list, as:'day'}
      <ul class="list-group">
     	 <li class="list-group-item  list-group-item-grey">
     	 <div class="pull-right btn-group">
            
            <a class="btn btn-sm btn-default" href="@{TeleworkStampings.insertStamping(day.personDay.person.id, day.personDay.date.format())}" data-async-modal="#modalInsertStamping">
              <i class="fa fa-plus"></i> Aggiungi orario</a>
           
          </div>
          <span class="label label-primary">${day.personDay.date.shortDayName()}</span>
          </li>
        <li class="list-group-item  list-group-item-bianco">
          #{include './_info.html' /}
        </li>
      </ul>
#{/list}

</div>

<div id="modalInsertStamping" class="modal fade container" tabindex="-1"></div>