#{extends 'main.html' /}
#{set title: 'Riepilogo Mensile' + date /}

<table>
	<tr>
		<th>Persona</th>
		<th>Giorni lavorativi nel mese</th>
		<th>Giorni di presenza a lavoro nei giorni festivi</th>
		<th>Giorni di presenza a lavoro nei giorni lavorativi</th>
		<th>Ore di lavoro fatte</th>
		<th>Assenze giustificate</th>
		<th>Assenze non giustificate</th>
		<th>Buoni mensa da restituire</th>		
		<th>progress</th>
		<th>tipo orario</th>
	</tr>
	
%{
     for(personMonth in personMonths) {
}%
		<tr>
			<td>${personMonth.person.fullName() }</td>
			<td>${personMonth.monthWorkingDays()}</td>
			<td>${personMonth.workingDaysOnHoliday()}</td>
			<td>${personMonth.getWorkingDays()}</td>
			<td>${personMonth.getJustifiedAbsence()}</td>
			<td>${personMonth.getNotJustifiedAbsence()}</td>
			<td>${personMonth.mealTickeToRender()}</td>
			<td>${personMonth.progressive()}</td>
			<td>${personMonth.person.workingTimeType != null ? day.person.workingTimeType.description : ''}</td>
		</tr>
%{  		   
     }
     
}%

*{Significato codici assenza}*
</table>