<td class="assenza default-single">
  #{secure.link @AbsenceGroups.insert(dayRecap.personDay.person.id, dayRecap.personDay.date?.format()),
      target:person, display:'hidden', 'data-async-modal':'#modalGroupAbsence'}
      ___
  #{/secure.link}

  #{list items:dayRecap.personDay.absences, as:'absence'}


  #{secure.link @Absences.edit('absence.id':absence.id), target: absence, 'data-async-modal':'#modalAbsence'}
    
    <span webui-popover-hover data-url="#${absence.id}"
        *{ colore codice assenza }*
        #{if !absence.troubles.empty} 
          class="text-danger" 
        #{/if}
        #{else} 
          #{if absence.nothingJustified()} class="text-muted" #{/if}
        #{/else}
     >

	    #{if !absence.troubles.empty} <strong>${absence.absenceType.code}</strong> #{/if}
	    #{else} ${absence.absenceType.code} #{/else}
	    
	  </span>
  #{/secure.link}

  #{if absence.absenceFile.exists()}
    #{secure.link @Absences.downloadAttachment(absence.id), fa:'paperclip'}#{/secure.link}
  #{/if}

  #{absences.absence-popover absence:absence, person:person /}

  #{/list}
</td>