#{list items:psDto.contractMonths, as:'mese'}

#{accordionGroup 'monthRecaps'}

#{accordionItem ('accordion_contract_recap'+mese.contract.value.id), parent:'monthRecaps',
title:('Riepilogo ore '+mese.value.contractDescription), open:true, color:'primary'}

<!-- solo last in month -->
#{if mese.contract.isLastInMonth((int)psDto.month, (int)psDto.year)}
<p>Il numero di giorni lavorativi in sede è di: <strong>${psDto.basedWorkingDays}</strong></p>
<p>Tempo disponibile per straordinari: <strong>${mese.value.progressivoFinalePositivoMese.toHourTime()}</strong></p>
<p>Il numero di riposi compensativi usati nell'anno è <strong>${psDto.numberOfCompensatoryRestUntilToday}</strong></p>
<p>E' possibile utilizzare il residuo dell'anno precedente? <strong>${mese.value.possibileUtilizzareResiduoAnnoPrecedente==true ? 'sì' : 'no'}</strong></p>
#{/if}
#{else}
<p class="text-error" style="margin-top: 5px;"><em>Il contratto e' terminato nel corso di questo mese.</em></p>
#{/else}


<!--  Anno passato -->
#{if mese.hasResidualLastYear() }
<p><h4>Situazione residuo derivante dall'anno precedente</h4><p>
<table class="table table-bordered table-condensed">
  <tr>
    <td class="col-xs-10">Residuo da anno precedente disponibile all'inizio del mese</td>
    <td class="col-xs-2 success">${mese.getResidualLastYearInit().toHourTimeWithPlus()}</td>
  </tr>
  <tr>
    <td class="col-xs-10">Residuo da anno precedente utilizzato questo mese come recupero ore</td>
    <td class="col-xs-2 danger">${mese.value.progressivoFinaleNegativoMeseImputatoAnnoPassato.toHourTimeWithMinus()}</td>
  </tr>
  <tr>
    <td class="col-xs-10">Residuo da anno precedente utilizzato questo mese come riposo compensativo</td>
    <td class="col-xs-2 danger">${mese.value.riposiCompensativiMinutiImputatoAnnoPassato.toHourTimeWithMinus()}</td>
  </tr>
  <tr class="warning">
    <td class="col-xs-10">Residuo da anno precedente disponibile alla fine del mese</td>
    <td class="col-xs-2"><strong>${mese.value.remainingMinutesLastYear.toHourTime()}</strong></td>
  </tr>
</table>
#{/if}

<!--  Anno corrente -->
<p><h4>Situazione residuo derivante dall'anno corrente</h4><p>
<table class="table table-bordered table-condensed">
  
  
  #{if mese.contract.residualInitInYearMonth(yearMonth)}
	  <tr>
	    <td class="col-xs-10">Residuo da inizializzazione (${mese.contract.value.sourceDateResidual})</td>
	    #{if mese.value.initResiduoAnnoCorrenteNelMese >= 0}
	    <td class="col-xs-2 success">${mese.value.initResiduoAnnoCorrenteNelMese.toHourTimeWithPlus()}</td>
	    #{/if}
	    #{else}
	    <td class="col-xs-2 danger">${mese.value.initResiduoAnnoCorrenteNelMese.toHourTimeWithMinus()}</td>
	    #{/else}
	  </tr>
  #{/if}
  #{else}
	  <tr>
	    <td class="col-xs-10">Residuo dai mesi precedenti</td>
	    #{if mese.getPreviousRecapInYear().present}
	    <td class="col-xs-2 success">${mese.getPreviousRecapInYear().get().remainingMinutesCurrentYear.toHourTimeWithPlus()}</td>
	    #{/if}
	    #{else}
	    <td class="col-xs-2 success">+00:00</td>
	    #{/else}
	
	  </tr>
  #{/else}
  
  <tr>
    <td class="col-xs-10">Residuo del mese positivo</td>
    <td class="col-xs-2 success">${mese.value.getPositiveResidualInMonth().toHourTimeWithPlus()}</td>
  </tr>

  #{if mese.value.straordinariMinutiS1Print != 0}
  <tr>
    <td class="col-xs-10">Straordinario diurno nei giorni lavorativi</td>
    <td class="col-xs-2 danger">${mese.value.straordinariMinutiS1Print.toHourTimeWithMinus()}</td>
  </tr>
  #{/if}

  #{if mese.value.straordinariMinutiS2Print != 0}
  <tr>
    <td class="col-xs-10">Straordinario diurno nei giorni festivi o notturno nei giorni lavorativi</td>
    <td class="col-xs-2 danger">${mese.value.straordinariMinutiS2Print.toHourTimeWithMinus()}</td>
  </tr>
  #{/if}

  #{if mese.value.straordinariMinutiS3Print != 0}
  <tr>
    <td class="col-xs-10">Straordinario notturno nei giorni festivi</td>
    <td class="col-xs-2 danger">${mese.value.straordinariMinutiS3Print.toHourTimeWithMinus()}</td>
  </tr>
  #{/if}
  
  #{if mese.value.progressivoFinaleNegativoMeseImputatoAnnoCorrente != 0}
  <tr>
    <td class="col-xs-10">Residuo da anno corrente utilizzato come recupero ore</td>
    <td class="col-xs-2 danger">${mese.value.progressivoFinaleNegativoMeseImputatoAnnoCorrente.toHourTimeWithMinus()}</td>
  </tr>
  #{/if}
  #{if mese.value.riposiCompensativiMinutiImputatoAnnoCorrente != 0}
  <tr>
    <td class="col-xs-10">Residuo da anno corrente utilizzato come riposo compensativi</td>
    <td class="col-xs-2 danger">${mese.value.riposiCompensativiMinutiImputatoAnnoCorrente.toHourTimeWithMinus()}</td>
  </tr>
  #{/if}

  <tr class="warning">
    <td class="col-xs-10">Residuo di questo anno a fine mese</td>
    <td class="col-xs-2"><strong>${mese.value.remainingMinutesCurrentYear.toHourTime()}</strong></td>
  </tr>
</table>


<!-- Totale  -->
<p><h4>Riepilogo generale ore di lavoro</h4><p>

<table class="table table-bordered table-condensed">
  <tr>
    <td class="col-xs-10">Residuo da anno precedente</td>
    <td class="col-xs-2 warning"><strong>${mese.value.remainingMinutesLastYear.toHourTimeWithPlus()}</strong></td>
  </tr>
  <tr>
    <td class="col-xs-10">Residuo di questo anno</td>
    <td class="col-xs-2 warning"><strong>${mese.value.remainingMinutesCurrentYear.toHourTimeWithPlus()}</strong></td>
  </tr>
  <tr class="warning">
    <td class="col-xs-10">Residuo ore ad oggi</td>
    <td class="col-xs-2"><strong>${(mese.value.remainingMinutesLastYear+mese.value.remainingMinutesCurrentYear).toHourTime()}</strong></td>
  </tr>

</table>

#{/accordionItem}
#{/accordionGroup}

#{/list}