    <td class="default-single">
      #{if dayRecap.mealTicket.equals("NO")}
      <i class="fa fa-ban" popover-hover data-content="&{'mealTicket.notAquired'}"></i>
      #{/if}
      #{if dayRecap.mealTicket.equals("NOT_YET")}
      <i class="fa fa-spinner fa-spin" popover-hover data-content="&{'mealTicket.notYetAquired'}"></i>
      #{/if}
      #{if dayRecap.mealTicket.equals("YES")}
      <i class="fa fa-cutlery" popover-hover data-content="&{'mealTicket.aquired'}"></i>
      #{/if}
    </td>