<style>

  html, body {
  background-color: white;
  }

  #page_content {
  padding-top: 70px;
  }

  .col-xs-12, .col-sm-12, .col-md-6 {
  padding-left: 4px;
  padding-right: 4px;
  }

  .panel-success>.panel-heading {
  color: black;
  background-color: grey;
  border-color: #dddddd;
  }

  .col-xs-10, .col-xs-2 { /* tabelle riepilogo responsive */
  border: 1px solid lightgrey;
  padding-top: 3px;
  padding-bottom: 3px;
  }

  .col-xs-2 {
  text-align: center;
  }

  .container {
  margin-left: 0;
  margin-right: 0;
  }
  
  /* The max width is dependant on the container (more info below) */
  .popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
  }

  #page_content {
  widht: 100%;
  }

  @media (max-width: 767px) {

  #tabellonetimbrature {
  font-size: 10px !important;
  /* min-width: 600px; */
  }

  #padre {
  /* min-width: 640px; */
  }

  .container {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;

  }

  footer {
  display: none;
  }

  #riepiloghi {
  font-size: 12px !important;
  }

  }

</style>