 
 #{list items:dayRecap.stampingsTemplate, as:'stampingTemplate'}
    
    *{ posizione timbratura }*
    <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId}
       
    *{ colore timbratura }*
    #{if stampingTemplate.colour.equals("in")}       default-left"  #{/if}
    #{elseif stampingTemplate.colour.equals("out")}  default-right" #{/elseif}
    #{elseif stampingTemplate.colour.equals("warn")} warn"          #{/elseif}

    *{ popover }*    
    #{if stampingTemplate.showPopover()} webui-popover-hover data-url="#${stampingTemplate.stamping.id}" #{/if}
    >

      #{if stampingTemplate.date}
	      #{if showLink}
		      #{secure.link @Stampings.edit('stamping.id':stampingTemplate.stampingId),modal:'#modalStamping'}
		        ${stampingTemplate.hour}
		      #{/secure.link}
		  #{/if}    
		  #{else}
		  	  ${stampingTemplate.hour}
		  #{/else}
      #{/if}
      #{elseif stampingTemplate.pairPosition.equals("center")}
      <abbr title="Timbratura di servizio mancante" class="initialism"><i
              class="icon-warning-sign"></i></abbr>
      #{/elseif}


      #{if stampingTemplate.showPopover()}
        <div class="webui-popover-content" id="${stampingTemplate.stamping.id}">
          #{if stampingTemplate.stamping.stampType}
            <p><strong>${stampingTemplate.stamping.stampType.identifier}</strong> ${stampingTemplate.stamping.stampType.description}</p>
          #{/if}
          #{list items:stampingTemplate.stampModificationTypes, as:'smt'}
            <p><strong>${smt.code}</strong> ${smt.description}</p>
          #{/list}
        </div>
      #{/if}
      
      #{if stampingTemplate.stamping.stampType}
        <strong>${stampingTemplate.stamping.stampType.identifier}</strong>
      #{/if}
      #{list items:stampingTemplate.stampModificationTypes, as:'smt'}
        <strong>${smt.code}</strong>
      #{/list}

      <!--  ${stampingTemplate.pairId}${stampingTemplate.pairPosition}  -->
    </td>
    #{/list}
        
    #{if showLink}
    <td class="inserisciTimbratura default-single">
      #{if !dayRecap.personDay.future}
      #{secure.link @Stampings.blank('id':dayRecap.personDay.person.id, dayRecap.personDay.date.format()),modal:'#modalStamping'}
        +++
      #{/secure.link}
      #{/if}
    </td>
    #{/if}