#{modalAsync id:'modalEditInstitute', button:'Salva', title:(institute?.persistent ? 'Modifica istituto' : 'Nuovo istituto')}

  <div class="alert alert-success" role="alert">
  Inserisci il nome del nuovo istituto e la sigla (ex. IIT). 
  </div>

  <div id="instituteData">

	#{form action:@save(), method:'POST', autocomplete:false,
	    class:'form form-horizontal', 'data-async':'#instituteList',
	    'data-async-error':'#instituteData'}
	        
	    
		#{if institute.persistent}
 		 #{f.hidden 'institute.id' /}
        #{/if}

        #{f.input 'institute.name', required:true /}
        #{f.input 'institute.code'/}
	  	
    	#{b.buttons}
          #{b.cancel @index() /}
          #{b.save /}
        #{/b.buttons}
	#{/form}
	
  </div>
#{/modalAsync}
