#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}

<div class="container">
	
	#{form action:@Institutes.list(), class:'form-inline', method:'GET',
    'data-reload':'#results', autocomplete:'off'}

    <div class="row">
     <div class="col-sm-3">
        #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'search'.label(), inline:true /}
     </div>
     <div class="col-sm-1">
        <button type="submit" name="_filter" class="btn btn-primary">
            <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
        </button>
     </div>
    </div>
	#{/form}
	
	#{secure.checkAction 'Institutes.blank'}
	  #{b.actions}
	    <a data-async-modal="#modalEditInstitute" class="btn btn-default"
			   	href="@{blank()}">
				<i class="fa fa-plus"></i> &{'Institutes.blank'}
	    </a>
      #{/b.actions}
    #{/secure.checkAction}
	
	<div id="instituteList"> <!-- per il risultato della modale asincrona -->
	
	<section id="results">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
		 <li class="list-group-item">
		   <div class="pull-right btn-group">
		    #{secure.check 'Institutes.delete'}
		       <a class="btn btn-default" href=@{delete(item.id)}><i class="fa fa-trash"></i></a> 
	        #{/secure.check}
		    </div>
	           
	             <a data-async-modal="#modalEditInstitute" class="list-group-item-heading"
			    	href="@{edit(item.id)}">
				    ${item.name}
	    	    </a>
	           
	           <div class="list-group-item-text">
	             <i class="fa fa-university"></i> ${item.code}
	           </div>
	     </li>
	   #{/list}
	   </ul>
     #{/paginate} 
     </section>
     </div>
</div>



<div id="modalEditInstitute" class="modal container" tabindex="-1"></div>

<!-- <a class="btn btn-primary pull-right" href="@\{Import.officeList()}">Importa da Perseo</a>	 -->
