#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}

<div class="container">

  #{form action:@Institutes.list(), class:'form-inline', method:'GET',
  'data-reload':'#results', autocomplete:'off'}

  <div class="row">
    #{f.searchInput 'name' /}
  </div>
  #{/form}
  <br>
  #{secure.check 'Institutes.blank'}
  #{b.actions}
  <a class="btn btn-success" href="@{blank()}" data-async-modal="#modalEditInstitute">
    <i class="fa fa-plus"></i> &{'Institutes.blank'}
  </a>
  #{/b.actions}
  #{/secure.check}

  <div id="instituteList"> <!-- per il risultato della modale asincrona -->

    <section id="results">
      #{paginate results}

      #{list results.results, as:'institute'}
      <ul class="list-group">
        <li class="list-group-item list-group-item-grey">
          <div class="pull-right btn-group">
            #{secure.check 'Offices.blank'}
            <a class="btn btn-sm btn-default" href="@{Offices.blank(institute.id)}" data-async-modal="#modalInsertOffice">
              <i class="fa fa-plus"></i> Aggiungi sede</a>
            #{/secure.check}
          </div>
          <h4>
            #{secure.link @edit(institute.id), 'data-async-modal':'#modalEditInstitute',fa:'university'}
              <span webui-popover-hover data-placement="vertical">${institute.name}</span>
              <div class="webui-popover-content">
                #{if institute.cds}<em>cds: ${institute.cds}</em>#{/if}
                #{else}<small><em>cds non impostato</em></small>#{/else}
              </div>
            #{/secure.link}
          </h4>

        </li>
        #{list institute.seats, as:'seat'}
        <li class="list-group-item  list-group-item-bianco">
          #{include './_office.html' /}
        </li>
        #{/list}
      </ul>

      #{/list}
      #{/paginate}
    </section>
  </div>

  <!--Link per la vista di import degli uffici da Perseo -->
  *{
  <a href="@{Import.officeList()}" class="btn btn-default">
    <i class="fa fa-cloud-download text-primary"> Importa Sedi</i>
  </a>
  }*
</div>


<div id="modalEditInstitute" class="modal fade container" tabindex="-1"></div>

<div id="modalInsertOffice" class="modal fade container" tabindex="-1"></div>

<!-- <a class="btn btn-primary pull-right" href="@\{Import.officeList()}">Importa da Perseo</a>	 -->
