#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}

<div class="container">

  #{form action:@Institutes.list(), class:'form-inline', method:'GET',
  'data-reload':'#results', autocomplete:'off'}

  <div class="row">
    <div class="col-sm-3">
      #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
      placeholder:'search'.label(), inline:true /}
    </div>
    <div class="col-sm-1">
      <button type="submit" name="_filter" class="btn btn-primary">
        <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
      </button>
    </div>
  </div>
  #{/form}

  #{secure.checkAction 'Institutes.blank'}
  #{b.actions}
  <a class="btn btn-success" href="@{blank()}" data-async-modal="#modalEditInstitute">
    <i class="fa fa-plus"></i> &{'Institutes.blank'}
  </a>
  #{/b.actions}
  #{/secure.checkAction}

  <div id="instituteList"> <!-- per il risultato della modale asincrona -->

    <section id="results">
      #{paginate results}

      #{list items:results.results, as:'item'}
      <ul class="list-group">
        <li class="list-group-item list-group-item-grey">
          <div class="pull-right btn-group">
            #{secure.checkAction 'Offices.blank'}
            <a class="btn btn-sm btn-default" href="@{Offices.blank(item.id)}" data-async-modal="#modalInsertOffice">
              <i class="fa fa-plus"></i> Aggiungi sede</a>
            #{/secure.checkAction}
          </div>
          <h4 style="color: black">
            #{secure.link @edit(item.id), modal:'#modalEditInstitute',fa:'university'}
              ${item.name}
            #{/secure.link}
          </h4>

        </li>
        #{list items:item.seats, as:'seat'}
        <li class="list-group-item  list-group-item-bianco">
          #{office.item item:seat /}
        </li>
        #{/list}
      </ul>

      #{/list}
      #{/paginate}
    </section>
  </div>

  <!--Link per la vista di import degli uffici da Perseo -->
  *{
  <a href="@{Import.officeList()}" class="btn btn-default">
    <i class="fa fa-cloud-download text-primary"> Importa Sedi</i>
  </a>
  }*
</div>


<div id="modalEditInstitute" class="modal fade container" tabindex="-1"></div>

<div id="modalInsertOffice" class="modal fade container" tabindex="-1"></div>

<!-- <a class="btn btn-primary pull-right" href="@\{Import.officeList()}">Importa da Perseo</a>	 -->
