#{extends 'main.html' /}
#{set title: person.fullname /}
#{set breadcrumbs:['People.list':@People.list(), (person.fullname):null] /}

#{include './_navs.html' /}

#{b.actions}
  #{if person.account == null}
  	 #{b.link @Accounts.newFromPerson('person.id':person.id)}Crea la login#{/b.link}
  #{/if}
  #{b.edit @edit(person.id) /}
  #{secure.check 'Resecure.switchAccountTo'}
    #{secure.check 'Resecure.switchAccountTo', target:person.account}
                <a class="btn btn-danger" href="@{Resecure.switchAccountTo(person.account.id)}"
                 rel="nofollow" data-method="POST">
                    <i class="fa fa-sign-in"></i> ${'sudo.activate'.label()}
                </a>
    #{/secure.check}
    #{secure.denied 'Resecure.switchAccountTo', target:person.account}
    			<button class="btn btn-disabled" disabled><i class="fa fa-ban"></i> ${'sudo.activate'.label()}</button>
    #{/secure.denied}
  #{/secure.check}
#{/b.actions}

<section class="form form-horizontal">

#{accordionGroup 'personalData'}
#{accordionItem 'fullnameData', parent:'personalData', title:person.fullname}
#{f.view 'person.title' /}
#{f.view 'person.firstname' /}
#{f.view 'person.otherNames' /}
#{f.view 'person.surname' /}
#{f.view 'person.otherSurnames' /}
#{/accordionItem}

#{accordionItem 'mainData', parent:'personalData', title:'Dati anagrafici', open:true}
#{b.actions}
	#{b.link @vcard(person.id), fa:'download'}&{'People.vcard'}#{/b.link}
#{/b.actions}

#{f.view 'person.gender' /}
#{f.view 'person.email', bodyonly:true}
	<a href="mailto:${person.email}">${person.email}</a>
#{/f.view}
#{f.view 'person.taxCode' /}
#{f.view 'person.birthDate', value:person.birthDate?.format() /}
#{f.view 'person.birthMunicipality' /}
#{f.view 'person.birthCountry' /}
#{f.view 'person.educationalQualification' /}
#{f.view 'person.educationalQualificationYear' /}
#{f.view 'person.note' /}
#{/accordionItem}

#{accordionItem 'addressesData', parent:'personalData', title:'Indirizzi'}
#{showAddress address:person.residence, title:'person.residence' /}
#{showAddress address:person.domicile, title:'person.domicile' /}
#{/accordionItem}

#{accordionItem 'cnrData', parent:'personalData', title:'Sezione CNR'}
#{f.view 'person.mainDepartment'/}
#{f.view 'person.rooms', bodyonly:true}
 <ul>
   #{list items:person.rooms, as:'item'}
   <li><a href="@{Rooms.show(item.id)}">${item.name}</a></li>
   #{/list}
 </ul>
#{/f.view}
#{f.view 'person.groups', bodyonly:true}
 <ul>
   #{list items:person.groups, as:'item'}
   <li><a href="@{Groups.show(item.id)}">${item}</a></li>
   #{/list}
 </ul>
#{/f.view}
#{f.view 'person.badges', bodyonly:true}
    <ul>
    #{list items:person.badges, as:'item'}
        <li>${item.number}</li>
    #{/list}
    </ul>
#{/f.view}
#{/accordionItem}
#{/accordionGroup}

</section>