<div class="container-fluid">
#{alert color: 'info' }
<p>Compila il form sottostante per avviare un flusso di informazione di assenza per congedo parentale per il padre.
Specifica la <strong>data di inizio</strong> , la <strong>data di fine</strong> e allega i documenti necessari:<br>
 
</p>
#{/alert}
</div>


#{form action:@saveParentalLeaveRequest(), method:'POST', autocomplete:false, class:'form form-horizontal',
	  'data-spinner':'#defaultSpinner'}
	  
	#{f.hidden 'parentalLeaveRequest.id' /}
	#{f.hidden 'parentalLeaveRequest.person.id' /}
	#{f.hidden 'parentalLeaveRequest.informationType' /}
	#{f.hidden 'persist', value:persist /}
	
	#{f.date 'parentalLeaveRequest.beginDate', required:true, value:parentalLeaveRequest.beginDate?.format() /}
	#{f.date 'parentalLeaveRequest.endDate', required:true, value:parentalLeaveRequest.endDate?.format() /}
	
	#{f.input 'parentalLeaveRequest.bornCertificate', type:'file' /}
	#{f.input 'parentalLeaveRequest.expectedDateOfBirth', type:'file' /}
            
	#{b.buttons center:true}
		 #{b.link @list(type), color:'default', title:'Indietro' /}
		 
         #{b.submit 'Inserisci'/}
         
    #{/b.buttons}
#{/form}