#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Importazione da altre istanze' /}

<div class="container">

	#{alert color:'info'}
  		<p>
    	Inserisci nel campo sottostante l'indirizzo da cui andare a prelevare le informazioni.
  		</p>
  	#{/alert}
	#{form @Instances.importSeat(), method:'POST', autocomplete:false, class:'form form-horizontal'}
	#{f.input 'instance', type:text/}
	#{b.buttons center:true}
		<button type="submit" class="btn btn-default">Vai</button>
	#{/b.buttons}
	#{/form}
</div>