#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Importazione da altre istanze' /}

#{set breadcrumbs:['Importa istanza':@Instances.importInstance(), 
  (instance):null] /}
#{breadcrumbs breadcrumbs, noHome:true, container:true /}
<div class="container">
#{title title: title /}

	#{alert color:'info'}
  		<p>
    	Seleziona la sede di cui vuoi importare le informazioni presente sul sito <strong>${instance}</strong>
  		</p>
  	#{/alert}
	
	
	<ul class="list-group">
	#{list items:list, as:'item'}
		<a href="@{Instances.importInfo(instance, item.codeId)}" class="list-group-item list-group-item-action">${item.name} - ${item.codeId}</a>		
	#{/list}
	</ul>
	
</div>