#{modalAsync id:'modalInsertOffice', button:'Salva', title:'Nuova sede'}

  <div class="alert alert-success" role="alert">
    	Inserisci i dati della nuova sede appartenente a <strong>${office.institute.name}</strong>
  </div>

  <div id="officeData">

	#{form action:@save(), method:'POST', autocomplete:false,
	    class:'form form-horizontal', 'data-async':'#instituteList',
	    'data-async-error':'#officeData'}

	#{f.hidden 'office.institute.id', value: office.institute.id /}

    #{f.input 'office.name', required:true /}
    #{f.input 'office.codeId', required:true, popover:true /}
    #{f.input 'office.code', popover:true /}
    #{f.input 'office.address'/}
    #{f.booleanRadio 'office.headQuarter'/}

    #{b.buttons}
      #{b.cancel @Institutes.index() /}
      #{b.save /}
    #{/b.buttons}
	#{/form}
	
  </div>
  
  <br>
  
#{/modalAsync}
