#{form @Offices.disable()}
<input type="hidden" name="remoteOfficeId" value="${remote.id}"/>
<p class="lead">Selezionare l'ufficio a cui associare le persone che sono attualmente associate 
<br>alla sede distaccata ${remote.name} che si intende eliminare</p>
<ul class="nav nav-list">
#{list items: offices, as: 'office'}
	<li><span class="label label-success">${office.name}</span> <input type="radio" name="office" value="${office.name}" /></li>
	
#{/list}
</ul>
<br>
<div class="buttoncenter">
<input type="submit" class="btn btn-primary" value="Ok"/>
</div>
#{/form} 