#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['Istituti':@Institutes.list(), 'Configura sede':null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs /}
  
  #{accordionGroup 'info'}
    #{accordionItem 'orario', parent:'info', title:'Informazioni', open:true}
  	  <div class="alert alert-success" role="alert">
    	Modifica i dati di <strong>${office.name}</strong> appartenente a <strong>${office.institute.name}</strong>
      </div>
		#{form action:@save(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }
			
	 		#{f.hidden 'office.id' /}
	        #{f.hidden 'office.institute.id' /}

	        #{f.input 'office.name', required:true /}
	        #{f.input 'office.codeId', required:true, popover:true /}
	        #{f.input 'office.code',popover:true /}
	        #{f.input 'office.address'/}
	        #{f.booleanRadio 'office.headQuarter'/}
	
	    	#{b.buttons}
	          #{b.save /}
	        #{/b.buttons}
		#{/form}
    #{/accordionItem}
  #{/accordionGroup}  
  
   #{accordionGroup 'ammi'}
    #{accordionItem 'amministratori', parent:'ammi', title:'Amministratori', open:true}

  #{b.buttons center:true}
  <a class="btn btn-success centre" href="@{Administrators.blank(office.id)}" data-async-modal="#modalInsertUro">
    <i class="fa fa-plus"></i> Assegna Ruolo
  </a>
  #{/b.buttons}

	<div class="col-sm-offset-2 col-sm-8" id="uroList">

	<h4>Amministratore tecnico</h4>    
    #{if wrOffice.technicalAdmins.empty }
      <div class="alert alert-danger">
        Non è stato ancora impostato alcun amministratore tecnico!
      </div>
    #{/if}
    #{else}
	    <ul class="list-group">
	       #{list items:wrOffice.technicalAdmins, as:'userRole'}
	         <li class="list-group-item clearfix">
						 <span class="label label-info"> ${userRole.user.person.fullname}</span>
             <a class="label label-badge label-danger pull-right" href="@{Administrators.delete(userRole.id)}" webui-popover-hover data-content="Revoca Ruolo" >
               <i class="fa fa-trash"></i> Rimuovi
             </a>
	          </li>
	       #{/list}
	    </ul>
    #{/else}
    
    <h4>Amministratore del personale</h4>
    #{if wrOffice.personnelAdmins.empty }
      <div class="alert alert-danger">
        Non è stato ancora impostato alcun amministratore del personale!
      </div>
    #{/if}
    #{else}
		<ul class="list-group">
			#{list items:wrOffice.personnelAdmins, as:'userRole'}
			<li class="list-group-item clearfix">
				<span class="label label-success"> ${userRole.user.person.fullname}</span>
				<a class="label label-badge label-danger pull-right" href="@{Administrators.delete(userRole.id)}" webui-popover-hover data-content="Revoca Ruolo" >
					<i class="fa fa-trash"></i> Rimuovi
				</a>
			</li>
			#{/list}
		</ul>
    #{/else}
	
	
    #{if !wrOffice.miniAdmins.empty }
      <h4>Amministratore del personale sola lettura</h4>    
	    <ul class="list-group">
        <ul class="list-group">
          #{list items:wrOffice.miniAdmins, as:'userRole'}
          <li class="list-group-item clearfix">
            <span class="label label-warning"> ${userRole.user.person.fullname}</span>
            <a class="label label-badge label-danger pull-right" href="@{Administrators.delete(userRole.id)}" webui-popover-hover data-content="Revoca Ruolo" >
              <i class="fa fa-trash"></i> Rimuovi
            </a>
          </li>
          #{/list}
        </ul>
	    </ul>
    #{/if}
    
    </div> <!-- fine uroData -->

  
    #{/accordionItem}
  #{/accordionGroup}


	<br>
  
  #{if office.persons.empty}
   #{secure.check 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{Offices.delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.check}
  #{/if}

</div>

<div id="modalInsertUro" class="modal fade container" tabindex="-1"></div>
