#{modalAsync id:'modalEditOffice', button:'Salva', title:(office?.persistent ? 'Modifica sede' : 'Nuova sede')}

  <div class="alert alert-success" role="alert">
    #{if office?.persistent }
  		Modifica i dati di ${office.name} appartenente a <strong>${office.institute.name}</strong>
    #{/if} #{else}
    	Inserisci i dati della nuova sede appartenente a <strong>${office.institute.name}</strong>
    #{/else}
  </div>

  <div id="officeData">

	#{form action:@save(), method:'POST', autocomplete:false,
	    class:'form form-horizontal', 'data-async':'#instituteList',
	    'data-async-error':'#officeData'}
	        
	    
		#{if office.persistent}
 		 #{f.hidden 'office.id' /}
        #{/if}
		#{else}
		 #{f.hidden 'office.institute.id' /}
		#{/else}
		
        #{f.input 'office.name', required:true /}
        #{f.input 'office.code', required:true /}
        #{f.input 'office.address'/}
        #{f.booleanRadio 'office.headQuarter'/}
        

    	#{b.buttons}
          #{b.cancel @index() /}
          #{b.save /}
        #{/b.buttons}
	#{/form}
	
  </div>
  
  <br>
  
  #{if office.persons.empty}
   #{secure.checkAction 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.checkAction}
  #{/if}
#{/modalAsync}
