#{extends 'modal.html' /}
#{set modalHeader: 'Nuovo istituto' /}

<div class="container-fluid">

#{form @Offices.saveInstitute()}

  <input name="area.id" type="hidden" value="${area.id}"/>
  
  <table class="table table-form table-hover">
  
    <tr>
      <td class="lab"><strong>Nome</strong></td>
      <td><input name="institute.name" type="text"/></td>
    </tr>
    
    <tr>
      <td class="lab"><strong>Sigla</strong></td>
      <td><input name="contraction" type="text"/></td>
    </tr>
   
 </table>
 
 <p class="center">
 <input class="btn btn-primary" type="submit" value="Inserisci" />
 </p>


#{/form}

</div>

<div class="well">
  <p><strong>Esempio</strong></p>
  <p>
    Nome <em>Istituto Informatica e Telematica</em>
    <br>
    <u>Sigla</u> <em>IIT</em>
  </p>


</div>

