
#{form @Offices.save()}

<fieldset>
  <legend>Nuova sede associata a ${office.name}</legend>

  <table class="tablenoborder">
    <tr>
      <td><strong>Nome</strong></td>
      <td><input name="name" /></td>
    </tr>
    
    <tr>
      <td><strong>Indirizzo</strong></td>
      <td><input name="address" /></td>
    </tr>
    
    <tr>
      <td><strong>Codice</strong></td>
      <td><input name="code" /></td>
    </tr>

    <tr>
      <td><strong>Data affiliazione</strong></td>
      <td><input name="date" type="text" id="datepicker3" data-date-format="yyyy-mm-dd" /></td>
   	</tr> 

  </table>


</fieldset>
<div class="buttoncenter">
  <input class="btn btn-primary" id="insertWorkingTime" type="submit" value="Ok"/>
  #{/form}
</div>