#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}

<div class="container">
	
	#{form action:@Offices.list(), class:'form-inline', method:'GET',
    'data-reload':'#results', autocomplete:'off'}

    <div class="row">
     <div class="col-sm-3">
        #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'search'.label(), inline:true /}
     </div>
     <div class="col-sm-1">
        <button type="submit" name="_filter" class="btn btn-primary">
            <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
        </button>
     </div>
    </div>
	#{/form}
	
	<br>
	
	
	<div id="instituteList"> <!-- per il risultato della modale asincrona -->
	
	%{ previousInstitute = null; }%
	
	<section id="results">
    #{paginate results} 
	   
	   #{list items:results.results, as:'item'}
	   
	   *{ prima iterata }*
	   #{if previousInstitute == null }
	     %{ previousInstitute = item.institute.id; }%
	     <ul class="list-group">
	        <li class="list-group-item list-group-item-grey"><h4>${item.institute.name}</h4></li>
	   #{/if}
	   
	   *{ iterate successive }*
	   #{if !previousInstitute.equals(item.institute.id) }
	     %{ previousInstitute = item.institute.id; }%
	     </ul>
	     <ul class="list-group">
	       <li class="list-group-item list-group-item-grey"><h4>${item.institute.name}</h4></li>
	   #{/if} 
	     
		 <li class="list-group-item  list-group-item-bianco">
		       <h4><a data-async-modal="#modalEditOffice" class="list-group-item-heading"
			    	href="@{edit(item.id)}">
				    ${item.name}
	    	    </a></h4>
	           
	           <div class="list-group-item-text">
	            ${item.address}
	           </div>
	           <div class="list-group-item-text">
	            ${item.code}
	           </div>
	     </li>
	   #{/list}
	   
     #{/paginate} 
     </section>
     </div>
</div>



<div id="modalEditOffice" class="modal container" tabindex="-1"></div>

<!-- <a class="btn btn-primary pull-right" href="@\{Import.officeList()}">Importa da Perseo</a>	 -->
