#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}


<div class="container">

	#{list items:instituteList, as:'institute'}
	 
	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">${institute.name}</h3>
	  </div>
	  <div class="panel-body">
	  
	    <p>Il numero totale dei dipendenti presenti in ePAS con contratto attivo in questo instituto è <strong>${institute.getActivePersons().size()}</strong></p>
	  
	    <table class="table table-hover">
	      <tr>
	        <th>Sede</th>
	        <th>Indirizzo</th>
	        <th>Codice</th>
	        <th>Data Affiliazione</th>
	        <th>Numero Dipendenti</th>
	        <th>Modifica</th>
	      </tr>
	      
	      #{list items:institute.remoteOffices, as:'seat'}
	        <tr>
	          <td>${seat.name}</td>
	          <td>${seat.address}</td>
	          <td>${seat.code}</td>
	          <td>${seat.joiningDate}</td>
	          <td>${seat.getActivePersons().size()}</td>
	          <td>
	            <a data-modal=".my-modal" href="@{Offices.editSeat(seat.id)}">Modifica</a>
	          </td>
	        </tr>
	  	  #{/list} 
	      
	    </table>
	    
	    <p>
	      <a  data-modal=".my-modal" href="@{Offices.insertSeat(institute.id)}">
	        <span class="glyphicon glyphicon-plus"></span> Crea una nuova sede per ${institute.contraction}
	      </a>
	    </p>
	  	 
	  </div>
	</div>   
	  
	#{/list}
	
	<p>
	  <a  data-modal=".my-modal" href="@{Offices.insertInstitute()}">
	    <span class="glyphicon glyphicon-plus"></span> Crea un nuovo istituto
	  </a>
	</p>

</div>

#{include '_myModal.html' /}


