#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}


<div class="container">
	<!-- TODO 
	<p>
	  <a  data-modal=".my-modal" href="@{Offices.insertArea()}">
	    <span class="glyphicon glyphicon-plus"></span> Crea una nuova Area
	  </a>
	</p>
	 -->

	#{list items:allAreas, as:'area'}
	  #{if area.isPrintable() }
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">${area.value.name}</h3>
		  </div>
		  <div class="panel-body">
		  
		    <p>Il numero totale dei dipendenti presenti in ePAS con contratto attivo in quest area è <strong>${area.activePersonsInOffice().size()}</strong></p>
		    
		    #{if session.username.equals("admin") }
		    <p>
		      <a data-modal=".my-modal" href="@{Offices.insertInstitute(area.value.id)}">
		        <span class="glyphicon glyphicon-plus"></span> Crea un nuovo istituto per ${area.value.name}
		      </a>
		    </p>
		  	#{/if}
		  	
		  	#{list items:area.getWrapperInstitutes(), as:'istituto'}
		  	  
		  	  #{if istituto.isPrintable() }
			  	  <div class="well">
			  	     <a data-modal=".my-modal" href="@{Offices.editInstitute(istituto.value.id)}"><p class="lead">${istituto.value.name}</p></a>
			  	    
			  	    <strong>Lettori istituto installati</strong> 
		  	  	    #{list items:istituto.getActiveBadgeReaders(), as:'badgeReader'}
			          <span class="label label-success">${badgeReader}</span>
			        #{/list}
				    <br>
				    <br>
				    
				    <table class="table table-hover">
				      <tr class="warning center">
				        <th>Sede</th>
				        <th>Indirizzo</th>
				        <th>Codice</th>
				        <th>Data<br>Affiliazione</th>
				        <th>Numero<br>Dipendenti</th>
				        <th>Amministratori</th>
				        <th>Amministratori<br>sola lettura</th>
				      </tr>
				      
				      #{list items:istituto.getWrapperSeats(), as:'sede'}
				      #{if sede.isPrintable() }
				        <tr style="background-color: white;">
				          
				          <!-- Seat data -->
				          <td>
				          #{if sede.isEditable() }
				            <a data-modal=".my-modal" href="@{Offices.editSeat(sede.value.id)}">${sede.value.name}</a>
				          #{/if}
				          #{else}
				            ${sede.value.name}
				          #{/else}
				          </td>
				          <td>
				            ${sede.value.address}<br><br>
				            <strong>Lettori sede abilitati</strong><br>
				            #{list items:sede.getActiveBadgeReaders(), as:'badgeReader'}
				              <h4><span class="label label-success">${badgeReader}</span></h4>
				            #{/list}
				          </td>
				          <td class="center">${sede.value.code}</td>
				          <td class="center">${sede.value.joiningDate}</td>
				          <td class="center">${sede.activePersonsInOffice().size()}</td>
				          <!-- End Seat Data -->
				          
				          <!-- Seat administrator -->
				          <td class="center">
				            #{if sede.isEditable }
				              <a class="btn btn-primary btn-xs"
				                 data-modal=".my-modal"
				                 href="@{Administrators.insertNewAdministrator(sede.value.id, roleAdmin.id)}">
				                 <span class="glyphicon glyphicon-plus" 
				                    data-toggle="tooltip" data-placement="left" 
				                    title="Aggiungi Amministratore per ${sede.value.name}">
				                  </span>
				              </a>  
				              <br>
				            #{/if}
				            #{list items:sede.getPersonnelAdmin(), as:'person'}
				                <br>${person.surname} ${person.name}
								#{if sede.isEditable }
								  #{if person.user.username.equals(session.username) }
								  <a href="@{Administrators.deleteSelfAsAdministrator(sede.value.id)}" data-modal=".my-modal">
								  #{/if}
								  #{else}
								  <a href="@{Administrators.deleteAdministrator(sede.value.id, person.id)}">
								  #{/else}
								    <span class="glyphicon glyphicon-trash" 
				                      data-toggle="tooltip" data-placement="left" 
				                      title="Rimuovi dagli amministratori ${person.surname} ${person.name}">
				                    </span>
				                  </a>
								#{/if}
				            #{/list}
				          </td>
				          <td class="center">
				            #{if sede.isEditable }
				              <a class="btn btn-primary btn-xs"
				                 data-modal=".my-modal"
				                 href="@{Administrators.insertNewAdministrator(sede.value.id, roleAdminMini.id)}">
				                 <span class="glyphicon glyphicon-plus" 
				                    data-toggle="tooltip" data-placement="left" 
				                    title="Aggiungi Amministratore sola lettura per ${sede.value.name}">
				                  </span>
				              </a>
				              <br>
				            #{/if}
				            #{list items:sede.getPersonnelAdminMini(), as:'person'}
				                <br>${person.surname} ${person.name}
				                #{if sede.isEditable }
								  <a href="@{Administrators.deleteAdministrator(sede.value.id, person.id)}">
				                    <span class="glyphicon glyphicon-trash" 
				                      data-toggle="tooltip" data-placement="left" 
				                      title="Rimuovi dagli amministratori ${person.surname} ${person.name}">
				                    </span>
				                  </a>
								#{/if}
				            #{/list}
					      </td>
					      <!-- End Seat administrator -->
				        </tr>
				      #{/if}  
				  	  #{/list} 
				    </table>
				    #{if session.username.equals("admin") }
				    <p>
			          <a  data-modal=".my-modal" href="@{Offices.insertSeat(istituto.value.id)}">
			            <span class="glyphicon glyphicon-plus"></span> Crea una nuova sede per ${istituto.value.name}
			          </a>
			        </p>
			        #{/if}
				  </div>
			  #{/if}  
			#{/list}

		  </div>
		</div>   
	  #{/if}
	#{/list}
	
</div>

#{include '_myModal.html' /}


