 #{title title:('Situazione Ferie anno ' + year), administration:true /}
  
  #{alert color:'info'}
    <p>Nella cella <strong>&{'vacations.takable'}</strong> per i tempi determinati vengono considerati solo i giorni
    maturati mentre per i tempi indeterminati vengono considerati i giorni totali rimanenti.</p>
    #{if isVacationCurrentYearExpired}
    <p><span class="glyphicon glyphicon-remove" style="color: red;"></span> Questo simbolo indica che il relativo
    residuo adesso non è più utilizzabile in quanto scaduto.</p>
    #{/if}
  #{/alert}
  
  <table  class="table table-striped table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>
		<tr>
		    <th rowspan="2">Nome</th>
		    <th rowspan="2">Totali</th>
			<th rowspan="2">Maturate</th>
			<th rowspan="2">Usate</th>
			<th colspan="2">Rimanenti</th>
		    <th colspan="2">Limiti Utilizzo</th>
		</tr>	
		<tr>
		    <th>&{'vacations.takable'}
		    #{if isVacationCurrentYearExpired}
    			<span class="glyphicon glyphicon-remove" style="color: red;"></span>
            #{/if}
		    </th>
		    <th>Totali</th>
		    <th>Iniziale</th>
			<th>Finale</th>
		</tr>
	</thead>

	<tbody>
		#{list items:vacationSituations, as:'vacationSituation'}
		#{if vacationSituation.currentYear != null}
		<tr>
		    <td>
				<a
				href="@{VacationsAdmin.vacationsCurrentYear(vacationSituation.contract.id, vacationSituation.year)}"
				data-async-modal="#defaultModal">
					${vacationSituation.contract.person.fullname}</a>
			</td>
			
			<td>${vacationSituation.currentYear.total()}</td>
			<td>${vacationSituation.currentYear.accrued()}</td>
			<td>${vacationSituation.currentYear.used()}</td>
			
			<!-- residui totali -->
			<td>${vacationSituation.currentYear.usable()}</td>
  		    <td>${vacationSituation.currentYear.usableTotal()}</td>
				
			<!-- limiti utilizzo -->	
			<td
			#{if vacationSituation.currentYear.isContractLowerLimit()}><em><strong>${vacationSituation.currentYear.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${vacationSituation.currentYear.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if vacationSituation.currentYear.isContractUpperLimit()}><em><strong>${vacationSituation.currentYear.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${vacationSituation.currentYear.upperLimit().format()}#{/else}	
			</td>

		</tr>
		#{/if}
		#{/list}

	</tbody>
  </table>