#{extends 'main.html' /}
#{set header:'navbar' /} 
#{set title: 'ePAS - Ferie e Permessi' /} 

#{set 'moreStyles'}

<style>
/* allineamento centrato dei th con rowspan e colspan */
#tabella-ferie th {
	vertical-align: inherit;
}
</style>

#{/set}

<div class="container-fluid">
  
   #{alert color:'info'}
     <p>Ferie Anno Precedente ${(year -1)}
   #{/alert}
   <table  class="table table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>
		<tr>
		    <th>Nome</th>
		    
		    <!-- 2016 -->
		    <th>Totali</th>
		    <th>Totali New</th>
		    <th>Maturate</th>
		    <th>Maturate New</th>
		    <th>Usate</th>
		    <th>Usate New</th>
		    <th>Usufruibili</th>
		    <th>Usufruibili New</th>
            <th>Rimanenti</th>
		    <th>Rimanenti New</th>
		    <th>Inizio</th>
		    <th>Inizio New</th>
		    <th>Fine</th>
		    <th>Fine New</th>
		    *{ <th>2016 Att</th> }*
		    
		</tr>	
	</thead>

	<tbody>
		#{list items:comparedVacationList, as:'comparedVacation'}
		
		#{if comparedVacation.lastYear != null}
		<tr #{if !comparedVacation.epasLastYearEquivalent()} class="bg-danger" #{/if}>

			<td>
			  ${comparedVacation.person.fullname}
			</td>
            
            <!-- 2016 -->
			<td>${comparedVacation.oldLastYear.total()} (${comparedVacation.oldLastYear.postPartum()})</td>
			<td>${comparedVacation.lastYear.total()} (${comparedVacation.lastYear.postPartum()})</td>
			<td>${comparedVacation.oldLastYear.accrued()}</td>
			<td>${comparedVacation.lastYear.accrued()}</td>
			
			<td>${comparedVacation.oldLastYear.used()}</td>
			<td>${comparedVacation.lastYear.used()}</td>
			
			<td>${comparedVacation.oldLastYear.usable()}</td>
			<td>${comparedVacation.lastYear.usable()}</td>
			<td>${comparedVacation.oldLastYear.usableTotal()}</td>
			<td>${comparedVacation.lastYear.usableTotal()}</td>
			
			<td
			#{if comparedVacation.oldLastYear.isContractLowerLimit()}><em><strong>${comparedVacation.oldLastYear.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldLastYear.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.lastYear.isContractLowerLimit()}><em><strong>${comparedVacation.lastYear.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.lastYear.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.oldLastYear.isContractUpperLimit()}><em><strong>${comparedVacation.oldLastYear.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldLastYear.upperLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.lastYear.isContractUpperLimit()}><em><strong>${comparedVacation.lastYear.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.lastYear.upperLimit().format()}#{/else}	
			</td>
			
			
			*{ questo dato andrebbe preso dal cruscotto 2016
            <td>${comparedVacation.attestatiLastYear.total()}</td>
            }* 			

		</tr>
		#{/if}
		#{/list}

	</tbody>
  </table>
  
  #{alert color:'info'}
    <p>Ferie Anno Corrente ${(year)}
  #{/alert}
  <table  class="table table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>
		<tr>
		    <th>Nome</th>
		    
		    <!-- 2017 -->
		    <th>Totali</th>
		    <th>Totali New</th>
		    <th>Maturate</th>
		    <th>Maturate New</th>
		    <th>Usate</th>
		    <th>Usate New</th>
		    <th>Usufruibili</th>
		    <th>Usufruibili New</th>
            <th>Rimanenti</th>
		    <th>Rimanenti New</th>
		    <th>Inizio</th>
		    <th>Inizio New</th>
		    <th>Fine</th>
		    <th>Fine New</th>
		    *{ <th>2017 Att</th> }*
		    
		</tr>	
	</thead>

	<tbody>
		#{list items:comparedVacationList, as:'comparedVacation'}
		
		#{if comparedVacation.currentYear != null}
		<tr #{if !comparedVacation.epasCurrentYearEquivalent()} class="bg-danger" #{/if}>

			<td>
			  ${comparedVacation.person.fullname}
			</td>
            
            <!-- 2017 -->
  		    <td>${comparedVacation.oldCurrentYear.total()} (${comparedVacation.oldCurrentYear.postPartum()})</td>
  		    <td>${comparedVacation.currentYear.total()} (${comparedVacation.currentYear.postPartum()})</td>
            <td>${comparedVacation.oldCurrentYear.accrued()}</td>
			<td>${comparedVacation.currentYear.accrued()}</td>
			
			<td>${comparedVacation.oldCurrentYear.used()}</td>
			<td>${comparedVacation.currentYear.used()}</td>
			
			<td>${comparedVacation.oldCurrentYear.usable()}</td>
			<td>${comparedVacation.currentYear.usable()}</td>
			<td>${comparedVacation.oldCurrentYear.usableTotal()}</td>
			<td>${comparedVacation.currentYear.usableTotal()}</td>
			
			<td
			#{if comparedVacation.oldCurrentYear.isContractLowerLimit()}><em><strong>${comparedVacation.oldCurrentYear.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldCurrentYear.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.currentYear.isContractLowerLimit()}><em><strong>${comparedVacation.currentYear.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.currentYear.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.oldCurrentYear.isContractUpperLimit()}><em><strong>${comparedVacation.oldCurrentYear.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldCurrentYear.upperLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.currentYear.isContractUpperLimit()}><em><strong>${comparedVacation.currentYear.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.currentYear.upperLimit().format()}#{/else}	
			</td>
			
  		    *{ 
  		    <td>${comparedVacation.attestatiCurrentYear.total()}</td>
  		    }*

		</tr>
		#{/if}
		#{/list}

	</tbody>
  </table>  
  #{alert color:'info'}
    <p>Permessi ${(year)}
  #{/alert}
  <table  class="table table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>
		<tr>
		    <th>Nome</th>
		    
		    <!-- Permessi -->
		    <th>Totali</th>
		    <th>Totali New</th>
		    <th>Maturate</th>
		    <th>Maturate New</th>
		    <th>Usate</th>
		    <th>Usate New</th>
		    <th>Usufruibili</th>
		    <th>Usufruibili New</th>
            <th>Rimanenti</th>
		    <th>Rimanenti New</th>
		    <th>Inizio</th>
		    <th>Inizio New</th>
		    <th>Fine</th>
		    <th>Fine New</th>
		    *{ <th>P Att</th> }*
		</tr>	
	</thead>

	<tbody>
		#{list items:comparedVacationList, as:'comparedVacation'}
		
		#{if comparedVacation.permissions != null}
		<tr #{if !comparedVacation.epasPermissionEquivalent()} class="bg-danger" #{/if}>

			<td>
			  ${comparedVacation.person.fullname}
			</td>
          
            <!-- Permessi -->
			<td>${comparedVacation.oldPermissions.total()} (${comparedVacation.oldPermissions.postPartum()})</td>
			<td>${comparedVacation.permissions.total()} (${comparedVacation.permissions.postPartum()})</td>
			<td>${comparedVacation.oldPermissions.accrued()}</td>
			<td>${comparedVacation.permissions.accrued()}</td>
			
			<td>${comparedVacation.oldPermissions.used()}</td>
			<td>${comparedVacation.permissions.used()}</td>
			
			
			<td>${comparedVacation.oldPermissions.usable()}</td>
			<td>${comparedVacation.permissions.usable()}</td>
			<td>${comparedVacation.oldPermissions.usableTotal()}</td>
			<td>${comparedVacation.permissions.usableTotal()}</td>
			
			<td
			#{if comparedVacation.oldPermissions.isContractLowerLimit()}><em><strong>${comparedVacation.oldPermissions.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldPermissions.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.permissions.isContractLowerLimit()}><em><strong>${comparedVacation.permissions.lowerLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.permissions.lowerLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.oldPermissions.isContractUpperLimit()}><em><strong>${comparedVacation.oldPermissions.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.oldPermissions.upperLimit().format()}#{/else}	
			</td>
			<td
			#{if comparedVacation.permissions.isContractUpperLimit()}><em><strong>${comparedVacation.permissions.upperLimit().format()}</strong></em>#{/if}
			#{else} class="text-muted">${comparedVacation.permissions.upperLimit().format()}#{/else}	
			</td>
			
			*{
			<td>${comparedVacation.attestatiPermission.total()}</td>
			}*


		</tr>
		#{/if}
		#{/list}

	</tbody>
  </table>
  
 
</div>
