#{form @VacationsAdmin.save()}
<fieldset>
  <legend>Modifica dati per tipo ferie: ${vc.description}</legend>


  
  <table class="tablenoborder">
    <tr>
  	  <td><strong>Nome</strong></td>
  	  <td><input name="nome" type="text" value="${vc.description}" size="40" maxlength="200" /></td>
    </tr>  
    <tr>
      <td><strong>Giorni ferie</strong></td>
      <td><input name="giorniFerie" type="number" value="${vc.vacationDays}" size="10" maxlength="10" /></td>
    </tr>
    <tr>
      <td><strong>Giorni permesso</strong></td>
      <td><input name="giorniPermesso" type="number" value="${vc.permissionDays}" size="10" maxlength="10" /></td>
  	</tr> 
  	
  </table>
  </fieldset>

  <div class="buttoncenter">
    <input class="btn btn-primary" id="salvaVacationCode" type="submit" value="Salva"/>
  </div>
#{/form}


