#{extends 'main.html' /}

<h2 id="titoloModificaTipoFerie">Modifica dati per tipo ferie: ${vc.description}</h2>

#{form @VacationsAdmin.save()}
<p id="descrizione"><strong>Nome</strong> <input name="nome" type="text" value="${vc.description}" size="40" maxlength="200" /></p>
<p id="descrizione"><strong>Giorni ferie</strong> <input name="giorniFerie" type="number" value="${vc.vacationDays}" size="10" maxlength="10" /></p>
<p id="descrizione"><strong>Giorni permesso</strong> <input name="giorniPermesso" type="number" value="${vc.permissionDays}" size="10" maxlength="10" /></p>
<div id="frm">
<input class="btn btn-primary" id="salvaVacationCode" type="submit" value="Salva"/>
#{/form}
#{form @VacationsAdmin.discard()}
<input class="btn" id="annullaVacationCode"type="submit" value="Annulla"/>
#{/form}
</div>
