
<h2 id="titoloInserimentoTipoFerie">Inserimento dati per nuovo tipo di ferie</h2>

#{form @VacationsAdmin.save()}
<p id="descrizione"><strong>Nome</strong> <input name="nome" type="text" value="${vacationCode.description}" size="40" maxlength="200" /></p>
<p id="descrizione"><strong>Giorni ferie</strong> <input name="giorniFerie" type="number" value="${vacationCode.vacationDays}" size="10" maxlength="10" /></p>
<p id="descrizione"><strong>Giorni permesso</strong> <input name="giorniPermesso" type="number" value="${vacationCode.permissionDays}" size="10" maxlength="10" /></p>
<div id="frm">
<input class="btn btn-primary" id="salvaVacationCode" type="submit" value="Salva"/>
#{/form}

</div>