
#{form @VacationsAdmin.save()}
<fieldset>
  <legend>Inserimento dati per nuovo tipo di ferie</legend>


  
  <table class="tablenoborder">
    <tr>
  	  <td><strong>Nome</strong></td>
  	  <td><input name="nome" type="text" size="40" maxlength="200" /></td>
    </tr>  
    <tr>
      <td><strong>Giorni ferie</strong></td>
      <td><input name="giorniFerie" type="number" size="10" maxlength="10" /></td>
    </tr>
    <tr>
      <td><strong>Giorni permesso</strong></td>
      <td><input name="giorniPermesso" type="number" size="10" maxlength="10" /></td>
  	</tr> 
  	
  </table>
  </fieldset>

  <div class="buttoncenter">
    <input class="btn btn-primary" type="submit" value="Salva"/>
  </div>
#{/form}
