#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Ferie e Permessi' /}

#{set 'moreStyles'}

<style>
	/* allineamento centrato dei th con rowspan e colspan */
	#tabella-ferie th {
		vertical-align: inherit;
	}
</style>

#{/set}

<div class="container-fluid">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Situazione Ferie e Permessi per l'anno ${year}</h3>
    </div>
    <div class="panel-body">
	
        <div class="col-xs-5">
          #{form action:@VacationsAdmin.list()	,  
          method:'GET', autocomplete:'off',
          'data-reload':'#results'}
            <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="input-medium"/>
            <i class="icon-search icon-large"></i>
            <input type="hidden" name="year" value="${year}"/>
         #{/form}
        </div>
 
        <section id="results">
	      
	      <div class="col-xs-7">
	        <ul class="pagination">

	        #{if simpleResults.totalPage > 0}
  	          #{list items:0..simpleResults.totalPage-1, as:'indexPage', class:'inline'}
  	            #{if simpleResults.page==indexPage}
  	             <li class="active"><a href="#">${indexPage+1}</a></li>
  	            #{/if}
  	            #{else}
  	              <li><a href="@{VacationsAdmin.list(year, name, indexPage)}">${indexPage+1}</a></li>
  	            #{/else}
	          #{/list}
	        #{/if}
	        #{else}
	          <br>
	        #{/else}  

            </ul>
          </div>
		  

 
		  <div class="col-xs-12">
		  <table id="tabella-ferie" class="table table-condensed table-hover center">
		    <thead>
		      <tr>
		        <th rowspan="2">Nome</th>
		        <th colspan="2" class="warning">Ferie fatte</th>
		        <th rowspan="2" class="warning">Permessi legge<br>937/77 fatti</th>
		        <th colspan="5" class="success">Residuo</th>
		        <th colspan="2" class="danger">Limiti utilizzo residui<br>per l'anno ${year}</th>
		      </tr>
		      <tr>
		        <th>${year-1}<br>anno precedente</th>
		        <th>${year}<br>anno richiesto</th>
		        <th>
		          Ferie ${year-1}<br>
		          #{if isVacationLastYearExpired}
		            <span class="glyphicon glyphicon-remove" style="color: red;"></span>
		          #{/if}
		          #{else}
		            <span class="glyphicon glyphicon-ok" style="color: green;"></span>
		          #{/else}
		        </th>
		        <th>Ferie ${year}<br>Residue Totali</th>
		        <th>Ferie ${year}<br>Residue Maturate</th>
		        <th>Permessi<br>Residui Totali</th>
		        <th>Permessi<br>Residui Maturati</th>
		        <th>Inizio</th>
		        <th>Fine</th>
		      </tr>
		    </thead>
		    
		    <tbody>
		      #{list items:vacationsList, as:'vacationsRecap'}
		      <tr>
		        <!-- ferie e permessi fatti -->
		        <td>${vacationsRecap.person.surname} ${vacationsRecap.person.name}</td>
		        
		        <td>
		          <a data-toggle="modal" 
		             href="@{VacationsAdmin.vacationsLastYear(vacationsRecap.person.id, vacationsRecap.year)}" data-modal=".my-modal">
					${vacationsRecap.vacationDaysLastYearUsed}
			      </a> 
		        </td>
		        
		        <td>
		          <a data-toggle="modal" 
		             href="@{VacationsAdmin.vacationsCurrentYear(vacationsRecap.person.id, vacationsRecap.year)}" data-modal=".my-modal">
					${vacationsRecap.vacationDaysCurrentYearUsed}
				  </a>
				</td>
				
				<td>
		          <a data-toggle="modal" 
		             href="@{VacationsAdmin.permissionCurrentYear(vacationsRecap.person.id, vacationsRecap.year)}" data-modal=".my-modal">
					${vacationsRecap.permissionUsed}
				  </a>
		        </td>
		        
		        <!-- residui -->
		        
		        <!-- ferie 2013 -->
		        <td>
		          ${vacationsRecap.vacationDaysLastYearNotYetUsed}
		        </td>
		        
		        <!-- ferie 2014 -->
		        <td>${vacationsRecap.vacationDaysCurrentYearTotal - vacationsRecap.vacationDaysCurrentYearUsed} </td>
		        <td>${vacationsRecap.vacationDaysCurrentYearAccrued - vacationsRecap.vacationDaysCurrentYearUsed} </td>
		        
		        <!-- permessi 2014 -->
		        <td>${vacationsRecap.permissionCurrentYearTotal - vacationsRecap.permissionUsed}</td>
		        <td>${vacationsRecap.permissionCurrentYearAccrued - vacationsRecap.permissionUsed}</td>
		        
		        <td>
		          #{if vacationsRecap.isActiveAfterBeginYear }
		            <span class="badge badge-success">${vacationsRecap.activeContractInterval.getBegin()}</span>
		          #{/if}
		        </td>
		        
		        <td>
		          #{if vacationsRecap.isExpireBeforeEndYear }
		            <span class="badge badge-important">${vacationsRecap.activeContractInterval.getEnd()}</span>
		          #{/if}
		        </td>
		       
		      </tr>
		      #{/list}
		    
		    </tbody>
		  
		  </table>
		  
	  
		  <p>
		     <br> 
		     #{if isVacationLastYearExpired}
		       <span class="glyphicon glyphicon-remove" style="color: red;"></span> Ferie anno precedente scadute.
		     #{/if}
		     #{else}
		       <span class="glyphicon glyphicon-ok" style="color: green;"></span> Ferie anno precedente utilizzabili.
		     #{/else} 
		  </p>
		
		  #{if personsWithVacationsProblems.size() > 0}
		    <p>
		      Sono stati riscontrati errori durante il calcolo dei piani ferie per le seguenti persone: 
		    </p>
		    <ul>
		      #{list items:personsWithVacationsProblems, as:'person'}
		        <li><a href="@{Persons.edit(person.id)}">${person.surname} ${person.name}</a></li>
		      #{/list}
		    </ul>
		    <p>
		      Tali errori potrebbero derivare dalla mancanza di dati di inizializzazione inerenti il contratto attuale.
		    </p>
		  #{/if}
		  
		  </div>

       </section> 
  
    </div> <!-- end panel body -->
  </div> <!-- end panel -->
  
</div>    


#{include '_myModal.html' /}
