#{extends 'main3.html' /} 
#{set header:'navbar' /} 
#{set title: 'ePAS - Ferie e Permessi' /} 

#{set 'moreStyles'}

<style>
/* allineamento centrato dei th con rowspan e colspan */
#tabella-ferie th {
	vertical-align: inherit;
}
</style>

#{/set}

<div class="container">
  #{title title:'Ferie e Permessi ' + year, administration:true /}
</div>  

<div class="container-fluid">

  <table  class="table table-striped table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>
		<tr>
		    <th rowspan="2">Nome</th>
		    <th class="warning" colspan="3">Ferie ${year-1}</th>
		    <th class="info" colspan="5">Ferie ${year}</th>
		    <th class="success" colspan="5">Permessi ${year}</th>
		    <th colspan="2">Limiti</th>
		</tr>	
		<tr>	
			<th class="warning">Totali</th>
			<th class="warning">Usufruite</th>
			<th class="warning">Residue</th>
			
			<th class="info">Totali</th>
			<th class="info">Maturate</th>
			<th class="info">Usufruite</th>
			<th class="info">Residue<br>Totali</th>
			<th class="info">Residue<br>Maturate</th>
			
			<th class="success">Totali</th>
			<th class="success">Maturate</th>
			<th class="success">Usufruite</th>
			<th class="success">Residue<br>Totali</th>
			<th class="success">Residue<br>Maturate</th>
			
			
			
			<th>Iniziale</th>
			<th>Finale</th>
		</tr>
	</thead>

	<tbody>
		#{list items:vacationsList, as:'vacationsRecap'}
		<tr>
			<!-- ferie anno precedente -->
			<td>${vacationsRecap.vacationsRequest.contract.person.fullname}</td>
			
			<td class="warning"><strong>${vacationsRecap.vacationsLastYear.total}</strong></td>
			<td data-order="${vacationsRecap.vacationsLastYear.used}">
				<a
				href="@{VacationsAdmin.vacationsLastYear(vacationsRecap.vacationsRequest.contract.id, 
				    vacationsRecap.vacationsRequest.year)}"
				data-async-modal="#defaultModal">
					${vacationsRecap.vacationsLastYear.used} </a>
			</td>
			#{if vacationsRecap.vacationsLastYear.expired}
			  <td class="danger">${vacationsRecap.vacationsLastYear.notYetUsedTotal}</td>
			#{/if}#{else}
			  <td>${vacationsRecap.vacationsLastYear.notYetUsedTotal}</td>
			#{/else}
			
			
			
			<!-- Ferie anno corrente -->
			<td class="info"><strong>${vacationsRecap.vacationsCurrentYear.total}</strong></td>
			<td>${vacationsRecap.vacationsCurrentYear.accrued}</td>
			<td data-order="${vacationsRecap.vacationsCurrentYear.used}">
				<a
				href="@{VacationsAdmin.vacationsCurrentYear(vacationsRecap.vacationsRequest.contract.id, 
				    vacationsRecap.vacationsRequest.year)}"
				data-async-modal="#defaultModal">
					${vacationsRecap.vacationsCurrentYear.used} </a>
			</td>
			
			<td>${vacationsRecap.vacationsCurrentYear.notYetUsedTotal}</td>
			<td>${vacationsRecap.vacationsCurrentYear.notYetUsedAccrued}</td>

			<!-- Permessi anno corrente -->
			<td class="success"><strong>${vacationsRecap.permissions.total}</strong></td>
			<td>${vacationsRecap.permissions.accrued}</td>
			<td data-order="permissions">
				<a
				href="@{VacationsAdmin.permissionCurrentYear(vacationsRecap.vacationsRequest.contract.id, 
				    vacationsRecap.vacationsRequest.year)}"
				data-async-modal="#defaultModal">
					${vacationsRecap.permissions.used} </a>
			</td>
			
			<td>${vacationsRecap.permissions.notYetUsedTotal}</td>
			<td>${vacationsRecap.permissions.notYetUsedAccrued}</td>

			
			<td>
			  #{if vacationsRecap.isActiveAfterBeginYear } 
			    ${vacationsRecap.vacationsRequest.contractDateInterval.getBegin().format()}
			  #{/if}
			  #{else}
			    
			  #{/else}
			</td>
			<td>
			  #{if vacationsRecap.isExpireBeforeEndYear } 
			    ${vacationsRecap.vacationsRequest.contractDateInterval.getEnd().format()}
			  #{/if}
			</td>

		</tr>
		#{/list}

	</tbody>
  </table>





			<p>
				<br> #{if isVacationLastYearExpired} <span
					class="glyphicon glyphicon-remove" style="color: red;"></span>
				Ferie anno precedente scadute. #{/if} #{else} <span
					class="glyphicon glyphicon-ok" style="color: green;"></span> Ferie
				anno precedente utilizzabili. #{/else}
			</p>

			#{if contractsWithVacationsProblems.size() > 0}
			<p>Sono stati riscontrati errori durante il calcolo dei piani
				ferie per le seguenti persone:</p>
			<ul>
				#{list items:contractsWithVacationsProblems, as:'contract'}
				<li><a href="@{Persons.edit(contract.person.id)}">Contratto
						di ${contract.person.surname} ${contract.person.name} iniziato il
						${contract.beginDate}</a></li> #{/list}
			</ul>
			<p>Tali errori potrebbero derivare dalla mancanza di dati di
				inizializzazione inerenti il contratto.</p>
			#{/if}

</div>
