#{extends 'main.html' /}

<h2 id="titoloGestioneTipiFerie">Gestione dei tipi di ferie e dei permessi legge</h2>

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<p><a href="@{VacationsAdmin.insertVacationCode}">Nuovo</a></p>

<h3 id="titoloPianoFerie">Tipi di piano ferie definiti</h3>
<table>
	<tr>
		<th>Nome</th>
		<th>Giorni di ferie</th>
		<th>Giorni di permesso</th>
		<th>Default</th>
	</tr>
	%{
		for(vacationCode in vacationCodeList){
	}%
	<tr>
		<td><a href="@{VacationsAdmin.edit(vacationCode.id)}">${vacationCode.description}</a></td>
		<td>${vacationCode.vacationDays}</td>
		<td>${vacationCode.permissionDays}</td>
		<td></td>		
	</tr>
	%{
		}
	}%

</table>