#{extends 'main_with_navbar.html' /}
#{set titolo: 'Gestione dei tipi di ferie e dei permessi legge' /}

<div class="container">
  <p class="lead"><a data-toggle="modal" href="@{VacationsAdmin.insertVacationCode}" data-target="#modal-insert-vacationperiod">Inserisci nuovo piano ferie</a></p>
</div>
<div class="container centered">

<h3>Tipi di piano ferie definiti</h3>

<table class="table table-striped">

	<tr>
		<th>Nome</th>
		<th>Giorni di ferie</th>
		<th>Giorni di permesso</th>
		<th>Default</th>
	</tr>
	%{
		for(vacationCode in vacationCodeList){
	}%
	<tr>
		<td><a data-toggle="modal" href="@{VacationsAdmin.edit(vacationCode.id)}" data-target="#modal-edit-vacationperiod">${vacationCode.description}</a>
		
		</td>
		<td>${vacationCode.vacationDays}</td>
		<td>${vacationCode.permissionDays}</td>
		<td></td>		
	</tr>
	%{
		}
	}%

</table>

</div>

<div id="modal-edit-vacationperiod" class="modal hide fade modal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modifica piano ferie</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--   <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<div id="modal-insert-vacationperiod" class="modal hide fade modal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inserimento nuovo piano ferie</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--   <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>