/.project
/.classpath
/*.iml
/*.ipr
/*.iws
/tmp
/logs
eclipse/
server.pid
lib/
/test-result
/test-output
/modules
/precompiled
/data
/conf/secure
/conf/pdf-0.9
/conf/db-1.1.1
/conf/shibboleth-1.2
/build
/.settings
/docs/_build
/scrap.jpage
/.pydevproject
/fabfile.pyc
/bin/
/.gradle/
