############################################################################
#                             ePAS Server                                  #
# Configurazione per l'avvio di ePAS e di un'eventuale postgres locale     #
############################################################################

services:

   ### Le variabili volumes sono mappate come - host_folder:container_folder
   ### Correggere all'occorrenza i path per le cartelle sull'host ma lasciare 
   ### inalterati i path sui container docker

  epas:
    image: consiglionazionalericerche/epas
    container_name: epas
    platform: linux/amd64
    volumes:
      - ./epas/logs:/home/epas/epas/logs
      - ./epas/attachments:/home/epas/epas/data/attachments
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    #Non è necessario esporre la porta 9000 se si utilizza un proxy per
    #servire le richieste http/https. L'utilizzo del proxy https è fortemente
    #consigliato in produzione, utilizzare per esempio traefik.
    ports:
      - 9000:9000
    #labels:
    #  - traefik.enable=true
    #  - traefik.backend=epas
    #  - traefik.frontend.rule=Host:${HOST_NAME}
    #  - traefik.port=9000
    environment:
      - VIRTUAL_HOST=${HOST_NAME}
      #- PROTOCOL=https                         # default: http  -- (http,https)
      #- HTTP_PATH=${HTTP_PATH}                 # default: / -- da utilizzare per non servire l'applicazione come root path ( / )
                                                # se è specificata la variabile HTTP_PATH questa deve cominciare con uno slash ( / ), es.: HTTP_PATH=/epas
      #- EPAS_SHIB_LOGIN=                       # default: false  -- (true,false)
      - JOBS_ACTIVE=true                        # default: false  -- (true,false) --  Se forzato a true abilita l'esecuzione di tutti i job
      #- APPLICATION_SECRET=${APPLICATION_SECRET}  # Opzionale ma fortemente consigliato, utilizzato per le funzioni criptografiche.
                                                   # E' una stringa random, per esempio y2RS8pYk7g8NFttsRbjmhpEUm00tAQILvOfI1LMQ2wIiVV20J2S0VfQOdTjys9yh
                                                   # Su Linux l'application secret può essere creato con il comando $ tr -dc A-Za-z0-9 </dev/urandom | head -c 64 ; echo
      #- SKIP_IP_CHECK=                         # default: false -- (true,false) -- Disabilita il controllo sugli indirizzi ip delle richieste
      - FLOWS_ACTIVE=true
      #- URL_ATTESTATI=                         # default: https://attestativ2.rm.cnr.it
      #- URL_USER=
      #- URL_PASS=
      ####### JVM ############
      #- JAVA_OPTIONS=-XX:MaxRAMPercentage=50
      ###### PLAY ############
      #- PLAY_POOL=20                          # default: nb processors + 1 threads in PROD mode.
      ######## LOGS ###########
      #- LOG_LEVEL=                            # Opzionale. default: INFO   -- (OFF,FATAL,ERROR,WARN,INFO,DEBUG,TRACE,ALL)
      - APPENDERS=file                         # Opzionale. default: stdout, stderr -- (stdout, stderr, file, graylog2). Abilita i log sulla console, file e server graylog
      #- GRAYLOG_HOST=                         # Obbligatorio se attivato log sull'appender graylog2. default: null
      #- GRAYLOG_PORT=                         # Opzionale. default: 3514
      #- GRAYLOG_ORIGIN_HOST=                  # Opzionale. default: valore in VIRTUAL_HOST
      ###### Container ########
      #- BACKUP_CRON=                          # default: disattivato. (utilizzare il format del crontab. Es. 0 0 * * *)
      #- CERT_NAME=                            # default: valore specificato in VIRTUAL_HOST -- Specifica un nome diverso per i file del certificato SSL
      - TZ=Europe/Rome
      #### Connessione DB ####
      - DB_HOST=${DB_HOST}                     # default: indirizzo assegnato al container postgres linkato
      - DB_NAME=${DB_NAME}                     # default: epas
      - DB_PASS=${DB_PASS}                     # Obbligatoria. Password per accedere al database server
      #- DB_PORT=5432                          # default: 5432
      #- DB_USER=${DB_USER}                    # default: postgres
      #- DB_POOL_TIMEOUT=1000              # default :1000
      #- DB_POOL_MAX_SIZE=60                   # default :30
      #- DB_POOL_MIN_SIZE=10                   # default :10
      #### server SMTP ####
      - SMTP_HOST=${SMTP_HOST}                # default: smtp.cnr.it
      #- SMTP_PORT=${SMTP_PORT}                # default: 25 se SMTP_CHANNEL è impostato clear o starttls; 465 se impostato su ssl
      ##- SMTP_CHANNEL=${SMTP_CHANNEL}          # default: clear -- (clear, ssl ,starttls)
      #- SMTP_FROM=${SMTP_FROM}                # default: epas@cnr.it -- Indirizzo utilizzato per il campo mittente delle mail inviate dal sistema
      #- SMTP_PROTOCOL=${SMTP_PROTOCOL}        # default: smtp -- (smtp, smtps)
      #- SMTP_USER=${SMTP_USER}                # user utilizzato per l'autenticazione sul server smtp (se necessario)
      #- SMTP_PASS=${SMTP_PASS}                # password utilizzato per l'autenticazione sul server smtp (se necessaria)
      #### Autenticazione LDAP ####
      #- LDAP_LOGIN=true                       # default: false. Impostare a true per attivare l'autenticazione tramite LDAP
      #- LDAP_URL=${LDAP_URL}                  # url del server LDAP, per esempio ldap://ldap.cnr.it:389
      #- LDAP_STARTTLS=${LDAP_STARTTLS}        # default: false. Se impostato a true attiva la connessione cifrata tramite il protocollo starttls
      ##- LDAP_TIMEOUT=${LDAP_TIMEOUT}          # default: 1000. Time in millisecondi della connessione LDAP.
      #- LDAP_DN_BASE=${LDAP_DN_BASE}          # DN per la ricerca degli utenti su LDAP, per esempio ou=People,dc=iit,dc=cnr,dc=it
      ##- LDAP_LOGIN_RETURN=${LDAP_LOGIN_RETURN} # default: /. Indirizzo relativo di reindirizzamento dopo il login LDAP.
      ##- LDAP_EPPN_ATTRIBUTE_NAME=${LDAP_EPPN_ATTRIBUTE_NAME}  # default: eduPersonPrincipalName. Campo LDAP utilizzato per il mapping con il campo eppn presente in ePAS.      
      ### I due parametri successivi sono da impostare solo nel caso sia necessario effettuare la prima connessione ad LDAP con un utente privilegiato.
      ##- LDAP_BIND_DN=${LDAP_BIND_DN}                                           # Eventuale DN dell'utente LDAP privilegato
      ##- LDAP_BIND_CREDENTIALS=${LDAP_BIND_CREDENTIALS}                         # Eventuale password dell'utente LDAP privilegato
      ##- LDAP_AUTHENTICATE_USER_SEARCH_DN=${LDAP_AUTHENTICATE_USER_SEARCH_DN}   # Da utilizzare solo è presente un LDAP_BIND_DN. L'utente viene cercato su LDAP con 
                                                                                 # l'utente amministratore e poi verificata l'autenticazione facendo una search LDAP 
                                                                                 # con le credenziali utente con contesto uguale a questo parametro. Es. o=cnr,c=it
      ##- LDAP_PASSWORD_RECOVERY_URL=${LDAP_PASSWORD_RECOVERY_URL}    # Opzionale. default non presente.

      #### Autenticazione OAuth ####
      #- OAUTH_LOGIN=${OAUTH_LOGIN}                       #Opzionale. default: false -- (true,false) -- Abilita l'autenticazione keycloak.
      #- KEYCLOAK_CONFIG_URI=${KEYCLOAK_CONFIG_URI}       #Opzionale se OAUTH_LOGIN è false, altrimenti obbligatorio. default: file://${application.path}/conf/default-keycloak.json. Di solito è un URL dell'IdP OIDC
      #- KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}         #Opzionale. default: false.
      #- KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET} #Opzionale se OAUTH_LOGIN è false, altrimenti obbligatorio.
      #- KEYCLOAK_JWT_FIELD=${KEYCLOAK_JWT_FIELD}         #Opzionale. default: email
      #### Invio Segnalazioni via email
      #- REPORT_TO=${REPORT_TO}                 # default: epas@iit.cnr.it
      #- REPORT_FROM=${REPORT_FROM}             # default: segnalazioni@epas.tools.iit.cnr.it
      #- REPORT_SUBJECT=${REPORT_SUBJECT}       # default: Segnalazione ePAS
      
      #- TELEWORK_ACTIVE=${TELEWORK_ACTIVE}   # default: false 
      #- TELEWORK_BASEURL=${TELEWORK_BASEURL}   # default: http://telework-stampings:8080
      #- TELEWORK_USER=${TELEWORK_USER}   # default: app.epas
      #- TELEWORK_PASS=${TELEWORK_PASS}   # default: chiedere al team di sviluppo

      # Impostando CLEAN_ABSENCE_TYPES_CONFIGURATIONS all'avvio non vengono rimosse le configurazioni delle assenze
      # presenti nel database ma non nel codice sorgente.
      #- CLEAN_ABSENCE_TYPES_CONFIGURATIONS=${CLEAN_ABSENCE_TYPES_CONFIGURATIONS} #Opzionale. Possibili valori true o false. Default: true

    restart: unless-stopped

  postgres:
    image: postgres:12
    environment:
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

    restart: unless-stopped
