#{extends 'main.html' /}

<h2 id="titoloGestionePersonale">Gestione dati del personale per rilevazione presenze</h2><!-- Da aggiungere come entry nel file main.css dove dovrò sistemare le caratteristiche della tabella  -->

<div id="logout">
#{form @Application.logout()}
	
    	<input type="submit" value="Account logout" />
     

#{/form}
</div>

<div id="chooseView">
#{form @SwitchTemplate.dispatch()}
#{select 'menuItem', value:menuItem, id:'view'}
	#{option 'yearlyAbsences'}Assenze Annuali#{/option}
	#{option 'absences'}Assenze Mensili#{/option}
	#{option 'stampings'}Timbrature#{/option}
	#{option 'vacations'}Ferie#{/option}
	#{option 'competences'}Competenze e Straordinari#{/option}	
#{/select}
    	<input type="submit" value="go!" />
     

#{/form}
</div>

<p>Personale reperibile</p>

<table id="listaPersone"><!-- Da aggiungere come entry nel file main.css dove dovrò sistemare le caratteristiche della tabella  -->
	<tr>
		<th>Cognome</th>
		<th>Nome</th>
		<th>Matricola</th>
		<th>Data inizio lavoro</th>
		<th>Data fine lavoro</th>
		<th>Orario</th>
		<th>Ferie</th>
		<th>Livello</th>
		<th>Aut. timbratura via web</th>
		<th>Dipartimento</th>
		<th>Sede</th>
		<th>Telefono</th>
		<th>Stanza</th>
		<th>Email</th>
		<th>Note</th>
	</tr>
	
%{
     for(person in personList) {
}%

	<tr>
		<td><a href="@{form(person.id)}">${person.surname}</a></td>
		<td>${person.name}</td>
		<td>${person.number}</td>
		<td>${person.getLastContract() != null && person.getLastContract().beginContract != null ? person.getLastContract().beginContract : ''}</td>
		<td>${person.getLastContract() != null && person.getLastContract().endContract != null ? person.getLastContract().endContract : ''}</td>
		<td>${person.workingTimeType != null && person.workingTimeType.description != null ? person.workingTimeType.description : ''}</td>
		<td>${person.getVacation(person) != null ? person.getVacation(person).description : ''}</td>
		<td>${person.qualification}</td>
		<td>${}</td>
		<td>${person.getLocation(person) != null ? person.getLocation(person).department : ''}</td>
		<td>${person.getLocation(person) != null ? person.getLocation(person).headOffice : '' }</td>
		<td>${person.getContact(person) != null ? person.getContact(person).telephone : ''}</td>
		<td>${person.getLocation(person) != null ? person.getLocation(person).room : ''}</td>
		<td>${person.getContact(person) != null ? person.getContact(person).email : ''}</td>
		<td>${}</td>
	</tr>

%{  		   
     }
     
}%

</table>