#{extends 'main.html' /}

<h2 id="titoloInserimentoTipoFerie">Inserimento dati per nuovo tipo di ferie</h2>

#{form @VacationsAdmin.insertVacationCode()}
<p>Nome <input name="nome" type="text" value="${vacationCode.description}" size="40" maxlength="200" /></p>
<p>Giorni ferie <input name="giorniFerie" type="text" value="${vacationCode.vacationDays}" size="40" maxlength="200" /></p>
<p>Giorni permesso <input name="giorniPermesso" type="text" value="${vacationCode.permissionDays}" size="40" maxlength="200" /></p>
<p>Tipo ferie default 	<form> 
 							<fieldset>
  								sì<input type="radio" name="si" value="si"/>
  								no<input type="radio" name="no" value="no"/>
  							</fieldset>
						</form>	</p>
<input type="submit" value="Salva"/>
#{/form}
<input type="submit" value="Annulla"/>