#{extends 'main.html' /}
#{set header:'navbar' /} 
#{set title: 'ePAS - Ferie e Permessi' /} 

#{set 'moreStyles'}

<style>
/* allineamento centrato dei th con rowspan e colspan */
#tabella-ferie th {
	vertical-align: inherit;
}
</style>

#{/set}

<div class="container">
  
</div>  

<div class="container">

#{tabList}
  #{tabItem id:'remaining', title:'Residui Totali', active:true /}
  #{tabItem id:'feriePrec', title:'Riepilogo Ferie ' + (year-1) /}
  #{tabItem id:'ferieAtt', title:'Riepilogo Ferie ' + (year) /}
  #{tabItem id:'permessi', title:'Riepilogo Permessi '+ (year) /}
#{/tabList}

<br>

#{tabContent}

  #{tabContentItem id:'remaining', active:true}
    #{include './_residual.html' /}
  #{/tabContentItem}

  #{tabContentItem id:'feriePrec'}
    #{include './_vacationLast.html' /}
  #{/tabContentItem} 
  
  #{tabContentItem id:'ferieAtt'}
    #{include './_vacationCurrent.html' /}
  #{/tabContentItem}  
  
  #{tabContentItem id:'permessi'}
    #{include './_permission.html' /}
  #{/tabContentItem}  
  

#{/tabContent}



</div>
