<div class="modal-header hidden-xs">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4>Permessi ${vacationsRecap.person.surname + ' ' + vacationsRecap.person.name} nel ${vacationsRecap.year}</h4>
</div>

<div class="modal-body">

<table class="table table-striped table-condensed">
	<tr>
		<th>Giorno</th>
		<th>Mese</th>
		<th>Anno</th>
		<th>Descrizione</th>
		<th>Codice</th>
	</tr>
	%{ 
		int i = 0;
		while(i < vacationsRecap.permissionUsed.size()){
		
	}%
	
	#{if vacationsRecap.permissionUsed.get(i)==null}
	  <tr>
	    <td>Assenza da inizializzazione</td>
	  </tr>
	#{/if}
	#{else}
	  <tr>
		
		<td>${vacationsRecap.permissionUsed.get(i).personDay.date.getDayOfMonth()}</td>
		<td>${vacationsRecap.permissionUsed.get(i).personDay.date.getMonthOfYear()}</td>
		<td>${vacationsRecap.permissionUsed.get(i).personDay.date.getYear()}</td>
		<td>${vacationsRecap.permissionUsed.get(i).absenceType.description}</td>
		<td>${vacationsRecap.permissionUsed.get(i).absenceType.code}</td>
	  </tr>
	#{/else}
	%{
		i++;}
	}%

</table>

</div>