
 <!--  ferie anno passato -->
   #{if activeVacationLastYear }
      %{ recap = vacationsRecap.vacationsLastYear;
         recapYear = (vacationsRecap.vacationsRequest.year - 1); 
         recapLabel = 'Ferie Competenza ' + (recapYear);   
      }%   
   #{/if}
   <!--  ferie anno passato -->
   #{if activeVacationCurrentYear }
      %{ recap = vacationsRecap.vacationsCurrentYear;
         recapYear = vacationsRecap.vacationsRequest.year; 
         recapLabel = 'Ferie Competenza ' + (recapYear);
      }%   
   #{/if}
   <!--  permessi -->
   #{if activePermission }
      %{ recap = vacationsRecap.permissions;
         recapYear = vacationsRecap.vacationsRequest.year; 
         recapLabel = 'Permessi Competenza ' + (recapYear);   
      }%   
   #{/if}

#{modalAsync title: vacationsRecap.vacationsRequest.contract.person.fullname + ' - ' + recapLabel }

  
<div>
 
   #{tabs}
    
    #{tabItem id:'infoTot', title:'Informazioni Giorni Totali', active:true /}
    #{tabItem id:'infoAcc', title:'Informazioni Giorni Maturati' /}
    #{tabItem id:'date', title:'Date Utilizzo' /}
    
  
  #{/tabs}
  
  <br>

   #{tabContent}
   
     #{tabContentItem id:'date' }
     
         #{if recap.sourced > 0}
	        <div class="alert alert-success">
				<p><strong>${recap.sourced}</strong> giorni utilizzati sono stati definiti da
				da inizializzazione ePAS.</p>
			</div>	
		  #{/if}
       
         <div class="col-md-8 col-md-offset-2">
	        <table class="table table-condensed table-hover" datatable-small>
				    
			<thead>
			  <tr class="warning">
				 <th class="col-xs-4">Data</th>
			     <th class="col-xs-2">Codice</th>
			     <th class="col-xs-6">Descrizione</th>
			  </tr>
			</thead>
			<tbody>
			#{list items:recap.absencesUsed, as:'absence'}
			    <tr>
			       <td data-order="${absence.personDay.date}">${absence.personDay.date.format()}</td>
			       <td>${absence.absenceType.code}</td>
			       <td>${absence.absenceType.description}</td>
			    </tr>
			#{/list}
			</tbody>
		    </table>
          </div>
          
          <br>
   
	 #{/tabContentItem}  
	   
	 #{tabContentItem id:'infoTot', active:true}
		 #{alert color:'info'}
		   <p>Per l'anno <strong>${recapYear}</strong> la persona dispone di <strong>${recap.total}</strong> giorni totali 
		      di cui <strong>${recap.used}</strong> usufruiti
		      e <strong>${recap.notYetUsedTotal}</strong> rimanenti
		      #{if recap.notYetUsedTotal > 0 }
	            #{if recap.expireDate }
	              da utilizzare entro il <strong>${recap.expireDate?.format()}</strong>
	            #{/if}
	          #{/if}
	        </p>
		 #{/alert}
		 <p><strong>Calcolo dei giorni totali</strong></p>
	     #{list items:recap.totalResult.accruedResultsInPeriod, as:'accruedResultInPeriod'}
	       #{if accruedResultInPeriod.interval != null}
	       <table class="table table-condensed">
	         <tr>
	           <td>Piano Ferie</td>
	           <td>${accruedResultInPeriod.vacationCode.description}</td>
	         </tr>
	         <tr>
	           <td>Intervallo</td>
	           <td>Dal <strong>${accruedResultInPeriod.interval.begin.format()}</strong> al <strong>${accruedResultInPeriod.interval.end.format()}</strong></td>
	         </tr>
	         

	         #{if accruedResultInPeriod.postPartum.size() > 0 }
	         <tr>
	           <td>Giorni nell'intervallo</td>
	           <td><strong>+ ${accruedResultInPeriod.days + accruedResultInPeriod.postPartum.size()}</strong></td>
	         </tr>
	         <tr>
	           <td>Giorni congedo parentale</td>
	           <td><strong>- ${accruedResultInPeriod.postPartum.size()}</strong></td>
	         </tr>
	         <tr>
	           <td>Giorni considerati</td>
	           <td><strong>${accruedResultInPeriod.days}</strong></td>
	         </tr>
	         #{/if}
	         #{else}
			 <tr>
	           <td>Giorni considerati</td>
	           <td><strong>${accruedResultInPeriod.days}</strong></td>
	         </tr>	         
	         #{/else}
	         <tr>
	           <td>Giorni calcolati</td>
	           <td><strong>${accruedResultInPeriod.accrued}</strong></td>
	         </tr>	  
	         
	       </table>
	       #{/if}
        #{/list}
        
	    *{    
	      <p>Intervallo: Dal <strong>${recap.totalResult.interval.begin.format()}</strong> al <strong>${recap.totalResult.interval.end.format()}</strong></p>
	      <p>Giorni Totali: <strong>${recap.totalResult.days + recap.totalResult.postPartum.size()}</strong></p>
	      <p>Giorni PostPartum: <strong>${recap.totalResult.postPartum.size()}</strong></p>
      	  <p>Giorni Considerati: <strong>${recap.totalResult.days}</strong></p>
      	  <p>Giorni Calcolati: <strong>${recap.totalResult.accrued}</strong></p>
      	  <p>Aggiustamento: <strong></strong></p>

        }*
        
    #{/tabContentItem}
    
    #{tabContentItem id:'infoAcc'}
       #{alert color:'info'}
	     <strong>Riepilogo Giorni Maturati</strong>
	   #{/alert}
	   
	      <p>Maturate: <strong>${recap.accrued}</strong></p>
	      <p>Usufruiti: <strong>${recap.used}</strong></p>
	      <p>Rimanenti: <strong>${recap.notYetUsedAccrued}</strong>
	      #{if recap.notYetUsedTotal > 0 }
	        #{if recap.expireDate }
	          Da utilizzare entro il <strong>${recap.expireDate?.format()}</strong></p>
	        #{/if}
	      #{/if}

		  #{if recap.sourced > 0}
	        <div class="alert alert-success">
				<p><strong>${recap.sourced}</strong> giorni utilizzati sono stati definiti da
				da inizializzazione ePAS.</p>
			</div>	
		  #{/if}
    
    #{/tabContentItem}
    
  #{/tabContent}  

</div>          
 
#{/modalAsync}        

