#{extends 'main.html' /}
#{set title:vacationsRecap.person.surname + ' ' + vacationsRecap.person.name + ', matricola=' + vacationsRecap.person.number /}

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h3 id="titoloSituazioneFerie">Situazione ferie ${vacationsRecap.year}</h3>

inizio contratto: ${vacationsRecap.currentContract.beginContract} 
fine contratto: ${vacationsRecap.currentContract.endContract} 

<div align="left">
#{form @Vacations.show()}
<input type="hidden" name="personId" value="${vacationsRecap.person.id}" />	
<table id="ferie">
	<tr>
		<th colspan=2 class="ferieFatte">Ferie fatte</th>
		<th rowspan=3>Permessi legge 937/77 fatti</th>
		<th colspan=5 class="residuo">Residuo</th>
	</tr>
	<tr>
		<th rowspan=2>${vacationsRecap.year-1} anno precedente</th>
		<th rowspan=2>${vacationsRecap.year} anno richiesto</th>
		<th rowspan=2>ferie ${vacationsRecap.year-1}</th>
		<th colspan=2>ferie ${vacationsRecap.year}</th>
		<th colspan=2>permessi</th>
	</tr>
	<tr>
		<th>tot.</th>
		<th>mat.</th>
		<th>tot.</th>
		<th>mat.</th>
	</tr>
	<tr>
	
		<td>
			<a 	href="@{Vacations.vacationsLastYear(vacationsRecap.person.id, vacationsRecap.year)}" 
				class="example3demo">
				${vacationsRecap.vacationDaysLastYear}
			</a> 
			<script type="text/javascript"> 
				$('.example3demo').popupWindow({ 
					height:500, 
					width:800, 
					top:50, 
					left:50 
				}); 
			</script></td>
		<td>
			<a 	href="@{Vacations.vacationsCurrentYear(vacationsRecap.person.id, vacationsRecap.year)}" 
				class="example3demo">
				${vacationsRecap.vacationDaysCurrentYear}
			</a> 
			<script type="text/javascript"> 
				$('.example3demo').popupWindow({ 
					height:500, 
					width:800, 
					top:50, 
					left:50 
				});  
			</script></td>
		<td>${vacationsRecap.permissionUsed}</td>
		<td>${vacationsRecap.vacationDaysLastYearNotYetUsed}</td>
		<td>${vacationsRecap.personalVacationDays}</td>
		<td>${vacationsRecap.vacationAccruedCurrentYear}</td>
		<td>${vacationsRecap.personalPermission}</td>
		<td>${vacationsRecap.permissionAccruedCurrentYear}</td>
		

		
	</tr>

</table>

<div>
<p><h4>I residui di ferie e permessi per l'anno in corso sono indicati su 2 colonne:</h4></p>
<p><b>tot.</b>: Giorni residui totali di ferie o permessi</p>
<p><b>mat.</b>: Giorni di ferie o permesso maturati fino ad oggi</p>


</div>
#{/form}