#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Ferie e permessi' /}


<div class="container">

#{title title:('Ferie e Permessi ' + year) /}
   
   #{if vacationSituations.empty}
     #{alert color:'warning'}
       <p>Nessun contratto attivo per l'anno richiesto.</p>
     #{/alert}
   #{/if}
   
   #{list items:vacationSituations, as:'vacationSituation'}
	
	#{panel title:'Ferie', dim:6, color:'primary' }
	     
      <table class="table table-bordered table-hover">
      
      <tr class="warning">
        <th>Anno</th>
        <th>Totali (maturate)</th>
        <th>Utilizzate</th>
        <th>Residue (maturate)</th>
      </tr>

      <!-- Ferie Past year -->  
      #{if vacationSituation.lastYear != null}	
      <tr>
        <td>${vacationSituation.lastYear.year}</td>
        <td>${vacationSituation.lastYear.total()} (${vacationSituation.lastYear.accrued()})</td>
        <td>
           <a href="@{Vacations.personVacationSummary(vacationSituation.contract.id, vacationSituation.lastYear.year, 'VACATION')}" 
              data-async-modal="#defaultModal">
			${vacationSituation.lastYear.used()}
		  </a>
	    </td>
        <td>${vacationSituation.lastYear.usableTotal()} 
           (${vacationSituation.lastYear.usable()}) 
        </td>
      </tr>
      #{/if}
      
      <!-- Ferie Current year -->
      #{if vacationSituation.currentYear != null}
      <tr>
        <td>${vacationSituation.currentYear.year}</td>
        <td>${vacationSituation.currentYear.total()} (${vacationSituation.currentYear.accrued()})</td>
        <td>
           <a href="@{Vacations.personVacationSummary(vacationSituation.contract.id, vacationSituation.currentYear.year, 'VACATION')}" 
              data-async-modal="#defaultModal">
			${vacationSituation.currentYear.used()}
		  </a>
	    </td>
        <td>${vacationSituation.currentYear.usableTotal()} 
           (${vacationSituation.currentYear.usable()}) 
        </td>
      </tr>
      #{/if}
  	</table>
  	
	#{/panel}
	
	#{panel title:'Permessi legge 937/77', dim:6, color:'primary' }
	  
	  #{if vacationSituation.permissions != null}    
        <table class="table table-bordered table-hover">
	      <tr class="warning">
	        <th>Anno</th>
	        <th>Totali (maturati)</th>
	        <th>Utilizzati</th>
	        <th>Residui (maturati)</th>
	      </tr>  	
	      <tr>
	        <!-- year -->
	        <td>${vacationSituation.permissions.year}</td>
	        <!-- totali (maturate) -->
	        <td>${vacationSituation.permissions.total()} (${vacationSituation.permissions.accrued()})</td>
	        <!-- utilizzate -->
	        <td>
	           <a href="@{Vacations.personVacationSummary(vacationSituation.contract.id, vacationSituation.permissions.year, 'PERMISSION')}" 
	              data-async-modal="#defaultModal">
				${vacationSituation.permissions.used()}
			  </a>
		    </td>
		    <!-- residue (maturate) -->
	        <td>${vacationSituation.permissions.usableTotal()} 
	           (${vacationSituation.permissions.usable()}) </td>
	      </tr>
  	    </table>
      #{/if}#{else}
      <p>Nessun dato da visualizzare.</p>
      #{/else}  
	#{/panel}      
    
    <div class="col-md-12">
	
	  <p>I <strong>Piani Ferie</strong> attualmente associati sono i seguenti:<br></p>
	     <table class="table center">
	    <tr class="info">
	      <th>Dal</th>
	      <th>Al</th>
	      <th>Valore</th>
	    </tr>
	    
	    #{list items: vacationSituation.contract.vacationPeriods, as: 'vp'}
	    <tr>
	      <td>${vp.beginDate.format()}</td>
	      <td>
	        #{if vp.endDate}${vp.endDate.format()}#{/if}#{else}<em>Indeterminato</em>#{/else}
	      </td>
	      <td>${vp.vacationCode.label()}</td>
	    </tr>
	    #{/list}
	    
	    </table>
	  
		
    </div>
    #{/list}
</div>



