#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Ferie e permessi' /}

<!-- container pagina ferie -->
<div class="row-fluid container">
   
   #{list items:vacationsRecapList, as:'vacationsRecap'}
	
	<div class="container col-xs-12 col-md-6">
	<!-- panel Ferie -->
	<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Ferie</h3>
      </div>
      <div class="panel-body">
      
      <table class="table table-bordered table-hover">
      <tr class="warning">
        <th>Anno</th>
        <th>Totali (maturate)</th>
        <th>Utilizzate</th>
        <th>Residue (maturate)</th>
      </tr>

      <!-- Ferie Past year -->  	
      <tr>
        <!-- year -->
        <td>${vacationsRecap.year - 1}</td>
        <!-- totali (maturate) -->
        <td>${vacationsRecap.vacationDaysLastYearAccrued} (${vacationsRecap.vacationDaysLastYearAccrued})</td>
        <!-- utilizzate -->
        <td>
		  #{if vacationsRecap.vacationDaysLastYearUsed != 0 } 
           <a href="@{Vacations.vacationsLastYear(vacationsRecap.year)}" data-async-modal="#defaultModal">
			${vacationsRecap.vacationDaysLastYearUsed}
		  </a>
		  #{/if}
		  #{else} 0 #{/else}     
	    </td>
	    <!-- residue (maturate) -->
        <td>${vacationsRecap.vacationDaysLastYearNotYetUsed} 
           (${vacationsRecap.vacationDaysLastYearNotYetUsed}) </td>
        </td>
      </tr>
      
      <!-- Ferie Current year -->
      <tr>
        <!-- year -->
        <td>${vacationsRecap.year}</td>
        <!-- totali (maturate) -->
        <td>${vacationsRecap.vacationDaysCurrentYearTotal} (${vacationsRecap.vacationDaysCurrentYearAccrued})</td>
        <!-- utilizzate -->
        <td>
		  #{if vacationsRecap.vacationDaysCurrentYearUsed != 0 } 
           <a href="@{Vacations.vacationsCurrentYear(vacationsRecap.year)}" data-async-modal="#defaultModal">
			${vacationsRecap.vacationDaysCurrentYearUsed}
		  </a>
		  #{/if}
		  #{else} 0 #{/else}     
	    </td>
	    <!-- residue (maturate) -->
        <td>${vacationsRecap.vacationDaysCurrentYearTotal - vacationsRecap.vacationDaysCurrentYearUsed} 
           (${vacationsRecap.vacationDaysCurrentYearAccrued - vacationsRecap.vacationDaysCurrentYearUsed}) </td>
        </td>
      </tr>
  	</table>
      
      </div>
    </div> <!-- end panel Ferie -->
	</div>
	
	<div class="container col-xs-12 col-md-6">
	<!-- panel Permessi -->
	<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Permessi legge 937/77</h3>
      </div>
      <div class="panel-body">
      
      <table class="table table-bordered table-hover">
      <tr class="warning">
        <th>Anno</th>
        <th>Totali (maturati)</th>
        <th>Utilizzati</th>
        <th>Residui (maturati)</th>
      </tr>  	
      <tr>
        <!-- year -->
        <td>${vacationsRecap.year}</td>
        <!-- totali (maturate) -->
        <td>${vacationsRecap.permissionCurrentYearTotal} (${vacationsRecap.permissionCurrentYearAccrued})</td>
        <!-- utilizzate -->
        <td>
		  #{if vacationsRecap.permissionUsed != 0 } 
           <a href="@{Vacations.permissionCurrentYear(vacationsRecap.year)}" data-async-modal="#defaultModal">
			${vacationsRecap.permissionUsed}
		  </a>
		  #{/if}
		  #{else} 0 #{/else}     
	    </td>
	    <!-- residue (maturate) -->
        <td>${vacationsRecap.permissionCurrentYearTotal - vacationsRecap.permissionUsed} 
           (${vacationsRecap.permissionCurrentYearAccrued - vacationsRecap.permissionUsed}) </td>
        </td>
      </tr>
  	</table>
      
      
      </div>
    </div>  <!-- end panel Permessi -->
    </div>
	
</div>
	
<div class="row-fluid container">
    <div class="container col-xs-12 col-md-6">	
	<!-- panel Piani -->
	<div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Piani ferie associati contratto</h3>
      </div>
      <div class="panel-body">
      
      <table class="table table-bordered table-hover center">
    <tr class="info">
      <th>Descrizione</th>
      <th>Data inizio</th>
      <th>Data fine</th>
    </tr>
    
    #{list items: vacationsRecap.contract.vacationPeriods, as: 'vp'}
    <tr>
      <td>${vp.vacationCode.description}</td>
      <td>${vp.beginFrom}</td>
      <td>${vp.endTo}</td>
    </tr>
    #{/list}
    
    </table>
      
      
      </div>
    </div> <!-- end panel Piani -->
    </div>
    
    #{/list}
</div>

      
 

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    
    <div class="modal-content">
             
    </div><!-- /.modal-content -->
           
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







