
#{modalAsync title: vacationSummary.title() }

  
<div>


 
   #{tabList}
	 	#{tabItem id:'infoTot', title:'Riepilogo', active:true /}
        #{tabItem id:'date', title:'Date Utilizzo' /}
        #{tabItem id:'calcTot', title:'Calcolo Giorni Totali' /}
        #{tabItem id:'calcAcc', title:'Calcolo Giorni Maturati' /}
   #{/tabList}
  
  <br>

   #{tabContent}
   
     <!-- Riepilogo Residui -->
     #{tabContentItem id:'infoTot', active:true}
	 
		 <div class="col-md-6 col-md-offset-3">
		   <table class="table">
		     <tr>
		       <td><strong>Totali</strong></td>
		       <td>${vacationSummary.total()}</td>
		     </tr>
		     <tr>
		       <td><strong>Maturate</strong></td>
		       <td>${vacationSummary.accrued()}</td>
		     </tr>
		     <tr>
		       <td><strong>Usate</strong></td>
		       <td>${vacationSummary.used()}</td>
		     </tr>
		   </table>
	   </div>
	   
	   <div class="col-md-12">
	   #{alert color:'info'}
	   <p>Le assenze <strong>&{'vacations.takable'}</strong> sono le assenze maturate che il dipendente può effettivamente utilizzare in questo
	   momento.</p>
	      <p>Le assenze <strong>Rimanenti</strong> sono tutte le assenze (maturate e non) residue per il dipendente.</p>
	   #{/alert}
	   </div>
	   
	   <div class="col-md-6 col-md-offset-3">
		   <table class="table">
		     <tr>
		       <td><strong>&{'vacations.takable'}</strong></td>
		       <td>${vacationSummary.usable()}</td>
		     </tr>
		     <tr>
		       <td><strong>Rimanenti</strong></td>
		       <td>${vacationSummary.usableTotal()}</td>
		     </tr>
		     <tr>
		       <td><strong>Limite Massimo Utilizzo</strong></td>
		       <td>${vacationSummary.upperLimit().format()}</td>
		     </tr>
		   </table>
	   </div>
	   
	   
    #{/tabContentItem}
    
    <!-- Riepilogo Giorni utilizzati -->
    #{tabContentItem id:'date' }
     
         #{if vacationSummary.sourced() > 0}
	        <div class="alert alert-info">
				<p><strong>${vacationSummary.sourced()}</strong> giorni utilizzati sono stati definiti da
				da inizializzazione ePAS.</p>
			</div>	
		  #{/if}
       
         <div class="col-md-8 col-md-offset-2">
	        <table class="table table-condensed table-hover" datatable-small>
				    
			<thead>
			  <tr class="warning">
				 <th class="col-xs-4">Data</th>
			     <th class="col-xs-2">Codice</th>
			     <th class="col-xs-6">Descrizione</th>
			  </tr>
			</thead>
			<tbody>
			#{list items:vacationSummary.absencesUsed(), as:'absence'}
			    <tr>
			       <td data-order="${absence.personDay.date}">${absence.personDay.date.format()}</td>
			       <td>${absence.absenceType.code}</td>
			       <td>${absence.absenceType.description}</td>
			    </tr>
			#{/list}
			</tbody>
		    </table>
          </div>
          
          <br>
   
	 #{/tabContentItem}  
   

  
     <!-- Calcolo giorni totali -->
     #{tabContentItem id:'calcTot'}
    
       
	     <p>Sono stati calcolati <strong>${vacationSummary.total()}</strong> giorni totali.<br>
	     I giorni totali di maturazione per l'anno ${vacationSummary.year} sono <strong>${vacationSummary.accruedDayTotal()}</strong>.<br>
	     #{if vacationSummary.postPartum() > 0 }
	     Dai giorni dell'anno sono sottratti <strong>${vacationSummary.postPartum()}</strong> giorni di assenza usufruiti 
	        che non contribuiranno alla maturazione.
	     #{/if}   
	     </p>
	   
	   
	   <table class="table table-condensed center">
	     <tr>
           <th>Piano Ferie</th>
	       <th>Data di Maturazione</th>
	       *{ <th>Al</th> }*
	       <th>Maturati</th>
	       <th>Progressione</th>
	       <th>Giorni nell'anno</th>
	       #{if vacationSummary.postPartum() > 0}
	         <th>Giorni riduzione</th>
	       #{/if}
	     </tr>
	     #{list items:vacationSummary.absencePeriod.subPeriods, as:'period'}
	       #{if period.vacationCode}
	       <tr #{if vacationSummary.subFixedPostPartum(period)} class="bg-danger" #{/if}>
	         <td>${period.vacationCode.name}</td>
	         <td>${period.from.format()}</td>
	         *{ <td>${period.to.format()}</td> }*
	         <td>
	          *{
	          ${vacationSummary.subAmount(period)}
	          #{if vacationSummary.subFixedPostPartum(period)}
	            (${vacationSummary.subAmountBeforeFixedPostPartum(period)})
	          #{/if}
	          }* 
	          ${vacationSummary.subAmountBeforeFixedPostPartum(period)} 
	         </td>
	         <td><strong>${vacationSummary.subTotalAmount(period)}</strong></td>
	         <td>${period.periodInterval().dayInInterval()} (${vacationSummary.subDayProgression(period)})</td>
	         #{if vacationSummary.postPartum() > 0}
	         <td>
	           #{if vacationSummary.subDayPostPartum(period) > 0}
	             ${vacationSummary.subDayPostPartum(period)}
	             (${vacationSummary.subDayPostPartumProgression(period)})
	           #{/if}
	           
	         </td>
	         #{/if}
	       </tr>
	       #{/if}
	     #{/list}
	   </table>
	    
    
     #{/tabContentItem}
     
      <!-- Calcolo giorni maturati -->
     #{tabContentItem id:'calcAcc'}
    
         <p>Sono stati calcolati <strong>${vacationSummary.accrued()}</strong> giorni maturati alla data di oggi.<br>
	     I giorni di maturazione trascorsi per l'anno ${vacationSummary.year} sono <strong>${vacationSummary.accruedDay()}</strong>.<br>
	     #{if vacationSummary.postPartum() > 0 }
            Dai giorni dell'anno sono sottratti <strong>${vacationSummary.postPartum()}</strong> giorni di assenza usufruiti 
	        che non contribuiranno alla maturazione.
	     #{/if}   
	     </p>
	   
	   <table class="table table-condensed center">
	     <tr>
           <th>Piano Ferie</th>
	       <th>Data di Maturazione</th>
	       *{ <th>Al</th> }*
	       <th>Maturati</th>
	       <th>Progressione</th>
	       <th>Giorni nell'anno</th>
	       #{if vacationSummary.postPartum() > 0}
	         <th>Giorni riduzione</th>
	       #{/if}
	     </tr>
	     #{list items:vacationSummary.absencePeriod.subPeriods, as:'period'}
	       #{if period.vacationCode}
	       <tr 
	           #{if vacationSummary.subFixedPostPartum(period)} class="bg-danger" #{/if}
	           #{elseif !vacationSummary.subAccrued(period)}     class="bg-warning" #{/elseif}
	       >
	         <td>${period.vacationCode.name}</td>
	         <td>${period.from.format()}</td>
	         *{ <td>${period.to.format()}</td> }*
	         <td>
	          ${vacationSummary.subAmountBeforeFixedPostPartum(period)}
	         </td>
	         <td><strong>${vacationSummary.subTotalAmount(period)}</strong></td>
	         <td>${period.periodInterval().dayInInterval()} (${vacationSummary.subDayProgression(period)})</td>
	         #{if vacationSummary.postPartum() > 0}
	         <td>
	           #{if vacationSummary.subDayPostPartum(period) > 0}
	             ${vacationSummary.subDayPostPartum(period)}
	             (${vacationSummary.subDayPostPartumProgression(period)})
	           #{/if}
	           
	         </td>
	         #{/if}
	       </tr>
	       #{/if}
	     #{/list}
	   </table>
    
     #{/tabContentItem}
    
      
   #{/tabContent}  

</div>     
     
 
#{/modalAsync}        

