<h3 id="ferieFatte">Ferie fatte da ${vacationsRecap.person.surname + ' ' + vacationsRecap.person.name} nel ${vacationsRecap.year}</h3>
<table class="table table-striped">
	<tr>
		<th>Giorno</th>
		<th>Mese</th>
		<th>Anno</th>
		<th>Descrizione</th>
		<th>Codice</th>
	</tr>
	%{ 
		int i = 0;
		while(i < vacationsRecap.vacationDaysCurrentYearUsed.size()){
		
	}%
	<tr>
		<td>${vacationsRecap.vacationDaysCurrentYearUsed.get(i).personDay.date.getDayOfMonth()}</td>
		<td>${vacationsRecap.vacationDaysCurrentYearUsed.get(i).personDay.date.getMonthOfYear()}</td>
		<td>${vacationsRecap.vacationDaysCurrentYearUsed.get(i).personDay.date.getYear()}</td>
		<td>${vacationsRecap.vacationDaysCurrentYearUsed.get(i).absenceType.description}</td>
		<td>${vacationsRecap.vacationDaysCurrentYearUsed.get(i).absenceType.code}</td>
	</tr>
	%{
		i++;}
	}%

</table>