#{extends 'main.html' /}
#{set title:yearRecap.person.surname + ' ' + yearRecap.person.name + ', matricola=' + yearRecap.person.number /}

<h3>Ferie fatte da ${yearRecap.person.surname + ' ' + yearRecap.person.name} nel ${yearRecap.year}</h3>
<table>
	<tr>
		<th>Giorno</th>
		<th>Mese</th>
		<th>Anno</th>
	</tr>
	%{ 
		int i = 0;
		if(yearRecap.listVacationDaysCurrentYear().size()>0){
		while(i < yearRecap.listVacationDaysCurrentYear().size()){
		
	}%
	<tr>
		<td>${yearRecap.listVacationDaysCurrentYear().get(i).date.getDayOfMonth()}</td>
		<td>${yearRecap.listVacationDaysCurrentYear().get(i).date.getMonthOfYear()}</td>
		<td>${yearRecap.listVacationDaysCurrentYear().get(i).date.getYear()}</td>
	</tr>
	%{
		i++;}
		}
	}%

</table>