#{extends 'main.html' /}
#{set title:yearRecap.person.surname + ' ' + yearRecap.person.name + ', matricola=' + yearRecap.person.number /}

<h3>Ferie fatte da ${yearRecap.person.surname + ' ' + yearRecap.person.name} nel ${yearRecap.year-1}</h2>
<table>
	<tr>
		<th>Giorno</th>
		<th>Mese</th>
		<th>Anno</th>
	</tr>
	%{ 
		int i = 1;
		while(i < yearRecap.listVacationDaysLastYear().size()){
		
	}%
	<tr>
		<td>${yearRecap.listVacationDaysLastYear().get(i).date.getDayOfMonth()}</td>
		<td>${yearRecap.listVacationDaysLastYear().get(i).date.getMonthOfYear()}</td>
		<td>${yearRecap.listVacationDaysLastYear().get(i).date.getYear()}</td>
	</tr>
	%{
		i++;}
	}%

</table>