<div class="modal-header hidden-xs">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 id="ferieFatte">Ferie fatte da ${vacationsRecap.person.surname + ' ' + vacationsRecap.person.name} nel ${vacationsRecap.year-1}</h4>
</div>

<div class="modal-body">

  #{if vacationsRecap.sourceVacationLastYearUsed() > 0}
		<p><strong>${vacationsRecap.sourceVacationLastYearUsed()}</strong>
		giorni di ferie da inizializzazione ePAS.</p>
  #{/if}

  <table class="table table-striped table-condensed">
	<tr>
		<th>Giorno</th>
		<th>Mese</th>
		<th>Anno</th>
		<th>Descrizione</th>
		<th>Codice</th>
	</tr>
	#{list items:vacationsRecap.listVacationLastYearUsed(), as:'absence'}
		
	      <tr>
			<td>${absence.personDay.date.getDayOfMonth()}</td>
		    <td>${absence.personDay.date.getMonthOfYear()}</td>
		    <td>${absence.personDay.date.getYear()}</td>
		    <td>${absence.absenceType.description}</td>
		    <td>${absence.absenceType.code}</td>
	      </tr>
	#{/list}

  </table>

</div>
