#{extends 'main.html' /}

#{set title:'ePAS - electronic Personnel Attendance System' /}

<div class="container" style="text-align:center;">
  <h2>Benvenuto in ePAS</h2>

  <div>

	#{form @authenticate(), id:'formLogin'}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p>
			<input placeholder="Username" type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p>
			<input placeholder="Password" type="password" name="password" id="password" value="" />
		</p>
		<p>
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
		</p>
		<p>
			<input class="btn" type="submit" id="signin" value="&{'secure.signin'}" />
		</p>
	#{/form}
	    <p>
			<a href="@{LostPassword.lostPassword()}">Password dimenticata?</a>
		</p>
		
		#{if play.Play.configuration.getProperty("shib.login").equals("true")}
		<p>
			<a href="@{ShibbolethSecurity.login()}">
				<div>
					<img src="@{'/public/images/shibboleth-logo.jpg'}" />
				</div>
				Login via Shibboleth
			</a>
		</p>
		#{/if}
  </div>
</div>