#{extends 'main.html' /} 
#{set header:'banner' /} 
#{set title:'ePAS - electronic Personnel Attendance System' /}
#{set shibAuthEnabled: play.Play.configuration.getProperty("shib.login").equals("true") /}
#{set ldapAuthEnabled: play.Play.configuration.getProperty("ldap.login").equals("true") /}
#{set oauthEnabled: play.Play.configuration.getProperty("oauth.login").equals("true") /}
#{set idpAuthEnabled: shibAuthEnabled || ldapAuthEnabled || oauthEnabled /}

#{set companyCode: play.Play.configuration.getProperty("company.code") /}

<div class="container">
  <div class="row col-md-4 col-md-offset-4 center margin-top-5 margin-bottom-3">
  	<h2>Benvenuto in ePAS</h2>
  </div>
  
  <div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <div class="panel panel-login">
	  	<!-- start of panel-heading -->
		<div class="panel-heading">		
		  <div class="row">
		    #{if idpAuthEnabled}
			<div class="col-xs-6">
			  <a href="#" class="active" id="login-idp-link">Credenziali ${companyCode}</a>
			  <span class="badge"><i class="fa fa-question"
			     data-toggle="tooltip" data-placement="right" 
			     title="Credenziali ufficiali ${companyCode}."></i>
	          </span>			  
			</div>
			<div class="col-xs-6">
			  <a href="#" id="login-form-link">Credenziali ePAS</a>
			  <span class="badge"><i class="fa fa-question"
			     data-toggle="tooltip" data-placement="right" 
			     title="Credenziali interne ad ePAS, queste non sono le credenziali ufficiali ${companyCode}."></i>
 	          </span>
			</div>			
			#{/if} #{else}
			  <a href="#" id="login-form-link" class="active">Autenticazione</a>
			#{/else}
		  </div>
		  <hr />
		</div>
		<!-- end of panel-heading -->
		
		<div class="panel-body">
		  <div class="row">
			<div class="col-lg-12">
			
				#{if idpAuthEnabled}
			      #{include './_login_idp.html' /}
			    #{/if}
			    
				#{include './_login_epas.html' /}
			</div>
		  </div>
		</div>
	  </div>	   	  
	</div>
  </div>

  <div class="row col-md-4 col-md-offset-4 center margin-top-5">
  	  #{if controllers.Security.checkForWebstamping()}
  	   <div class="center">
		  <a class="btn btn-default btn-block" id="web-stamping-btn" href="@{Clocks.show()}">
		    <i class="fa fa-globe"></i> Timbratura web 
		  </a>  	   
	  </div>
	  #{/if}  
  </div>  
</div>