#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Import istituti da Anagrafica'  /}

#{synch.synchPeopleTabs activeAction:'people' /}

<div class="container">
  
  <table class="table table-bordered" datatable>
  <thead>
	<tr>
	  <th>Persona Perseo</th>
	  <th>Persona Epas</th>
	  <th>Sincronizzata</th>
	</tr>
  </thead>
  <tbody>
	#{list items:perseoPeopleByPerseoId.values(), as:'perseoPerson'}
	%{ epasPerson = epasPeopleByPerseoId.get(perseoPerson.perseoId); }%
	
	<tr #{if epasPerson != null} class="bg-success"#{/if}>
	  <td>
	    <span class="label label-danger">${perseoPerson.number}</span>
	    <span class="label label-primary">${perseoPerson.name}</span>
	    <span class="label label-primary">${perseoPerson.surname}</span>
	    <span class="label label-default">${perseoPerson.qualification}</span>
	  </td>
	  <td>
	    #{if epasPerson}
	    <span class="label label-danger">${epasPerson.number}</span>
	    <span class="label label-primary">${epasPerson.name}</span>
	    <span class="label label-primary">${epasPerson.surname}</span>
	    <span class="label label-default">${epasPerson.qualification}</span>
	    #{/if}
	  </td>
	  <td>
	    
	    #{if epasPerson}
	      <span class="label label-success">${perseoPerson.perseoId}</span>
	      #{if templateUtility.syncDiagnostic.personEquals(epasPerson, perseoPerson) == false}
	        <i class="fa fa-times fa-2x text-danger" aria-hidden="true"
	         popover-hover-2 data-content="Dissimili... eventi mancati."></i>
	      #{/if}
	    #{/if}
	    #{else}
	      <a class="btn btn btn-info btn-xs" href="@{Synchronizations.importPerson(perseoPerson.perseoId)}">Importa</a>
	    #{/else}
	  </td>		    

    </tr>
   #{/list}
  </tbody>
</table>

  #{alert color:'info'}
  <p>Importa tutte le persone non ancora importate. Verificare che tutte le persone già esistenti siano sincronizzate.
    <a class="btn btn btn-info btn-xs" href="@{Synchronizations.importAllPersonInOffice(office.id)}">Importa</a>
  </p>
  #{/alert}  
  
</div>


