#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Import istituti da Anagrafica'  /}

#{synch.synchPeopleTabs activeAction:'people2' /}


<div class="container">
  
  <table class="table table-bordered" datatable>
  <thead>
	<tr>
	  <th>Persone Sincronizzate</th>
	  <th>Contratti</th>
	</tr>
  </thead>
  <tbody>
	#{list items:perseoPeople.values(), as:'perseoPerson'}
	
		*{ ispezione se la persona in epas è importata e nel caso se è correttamente sincronizzata }*
		%{ 
		  epasPerson = epasSynchronizedPeople.get(perseoPerson.perseoId);
		  properSynchronized = true;
		  if (epasPerson) {
		    properSynchronized = epasWrapperedPeople.get(epasPerson.id).isProperSynchronized();
		  }
		}%
		
		#{if properSynchronized}
	
	    <tr>
	      <td>
	        <span class="label label-danger">${perseoPerson.number}</span>
	        <span class="label label-primary">${perseoPerson.name}</span>
	        <span class="label label-primary">${perseoPerson.surname}</span>
	        <span class="label label-primary">${perseoPerson.qualification}</span>
	        <br>
	         #{if epasPerson}
	          #{if properSynchronized}
	            <span class="label label-default">${epasPerson.number}</span>
	            <span class="label label-default">${epasPerson.name}</span>
	            <span class="label label-default">${epasPerson.surname}</span>
	            <span class="label label-default">${epasPerson.qualification}</span>
	          #{/if} #{else}
	            <i class="fa fa-warning text-danger" aria-hidden="true"
		           popover-hover-2 data-content="Presente in ePAS non sincronizzato correttamente..."></i> 
	          #{/else}
	        #{/if} #{else} 
	          Non presente in epas.
	        #{/else}
	      </td>
	      
	      <td>
	      </td>
	    
	    </tr>
	
	    #{/if}
	#{/list}    
  </tbody>
  </table>
  
  *{
	<tr #{if epasPerson != null} class="bg-success"#{/if}>
	  <td>
	    <span class="label label-danger">${perseoPerson.number}</span>
	    <span class="label label-primary">${perseoPerson.name}</span>
	    <span class="label label-primary">${perseoPerson.surname}</span>
	    <span class="label label-default">${perseoPerson.qualification}</span>
	  </td>
	  <td>
	    #{if epasPerson}
	    <span class="label label-danger">${epasPerson.number}</span>
	    <span class="label label-primary">${epasPerson.name}</span>
	    <span class="label label-primary">${epasPerson.surname}</span>
	    <span class="label label-default">${epasPerson.qualification}</span>
	    #{/if}
	  </td>
	  <td>
	    
	    #{if epasPerson}
	      <span class="label label-success">${perseoPerson.perseoId}</span>
	      #{if templateUtility.syncDiagnostic.personEquals(epasPerson, perseoPerson) == false}
	        <i class="fa fa-times fa-2x text-danger" aria-hidden="true"
	         popover-hover-2 data-content="Dissimili... eventi mancati."></i>
	      #{/if}
	    #{/if}
	    #{else}
	      <a class="btn btn btn-info btn-xs" href="@{Synchronizations.importPerson(perseoPerson.perseoId)}">Importa</a>
	    #{/else}
	  </td>		    

    </tr>
   #{/list}
  </tbody>
</table>

  #{alert color:'info'}
  <p>Importa tutte le persone non ancora importate. Verificare che tutte le persone già esistenti siano sincronizzate.
    <a class="btn btn btn-info btn-xs" href="@{Synchronizations.importAllPersonInOffice(office.id)}">Importa</a>
  </p>
  #{/alert}  
  }*
  
  
  <table class="table table-bordered" datatable>
  <thead>
	<tr>
	  <th>Persone con problemi di sincronizzazione</th>
	  <th>Contratti In ePAS Non Sincronizzati</th>
	</tr>
  </thead>
  <tbody>
	#{list items:epasWrapperedPeople.values(), as:'epasWrapperedPerson'}
      #{if !epasWrapperedPerson.isProperSynchronized() }
        <tr>
          <td>
           <span class="label label-danger">${epasWrapperedPerson.value.number}</span>
	       <span class="label label-default">${epasWrapperedPerson.value.name}</span>
	       <span class="label label-default">${epasWrapperedPerson.value.surname}</span>
	       <span class="label label-default">${epasWrapperedPerson.value.qualification}</span>
	       #{if epasWrapperedPerson.value.perseoId == null}
	         <i class="fa fa-times text-danger" aria-hidden="true"
		           popover-hover-2 data-content="Non sincronizzato"></i> 
	       #{/if}
          </td>
          <td>
            #{list items:epasWrapperedPerson.value.contracts, as:'contract'}
              #{if !contract.isProperSynchronized()}
                <span class="label label-primary">${contract.beginDate}</span>
	            <span class="label label-primary">${contract.endDate}</span>
	            <span class="label label-danger">${contract.endContract}</span>
	            <i class="fa fa-times text-danger" aria-hidden="true"
		           popover-hover-2 data-content="Non sincronizzato"></i> 
              #{/if}
            #{/list}
          </td>
        </tr>
      #{/if}
  	#{/list}
  </tbody>
  </table>
</div>


