<div class="row">
  <div class="col-xs-6 text-dark">
  #{if _certification.certificationType.equals(models.enumerate.CertificationType.MEAL) }
    <i class="fa fa-cutlery" aria-hidden="true"></i>
    <em>Buoni Pasto</em>
  #{/if}
  #{if _certification.certificationType.equals(models.enumerate.CertificationType.ABSENCE) }
    <i class="fa fa-paperclip" aria-hidden="true"></i>
    <em>Assenza</em>
  #{/if}
  #{if _certification.certificationType.equals(models.enumerate.CertificationType.FORMATION) }
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    <em>Formazione</em>
  #{/if}
  #{if _certification.certificationType.equals(models.enumerate.CertificationType.COMPETENCE) }
    <i class="fa fa-money" aria-hidden="true"></i>
    <em>Competenza</em>
  #{/if}
  
  <strong>${_certification.content}</strong>
    
  </div>
  <div class="col-xs-6"> 
  #{if _type.equals('correct') }
    <span class="label label-success" popover-hover data-content="OK: elemento presente su ePAS e su attestati.">Ok</span>
  #{/if}
  #{if _type.equals('toSend') }
    <span class="label label-primary">Da Inviare</span>
  #{/if}
  #{if _type.equals('problems') }
    <span class="label label-danger" popover-hover data-content="Non inviato: elemento presente su ePAS ma respinto da attestati a causa di errori.">Non Inviato</span>
    <i class="fa fa-exclamation-triangle" style="color:#d9534f" popover-hover data-content="${_certification.problems}"></i>
  #{/if}
  #{if _type.equals('toDelete') }
    <span class="label label-warning" popover-hover data-content="Da rimuovere: elemento presente su attestati ma non presente in ePAS.">Da Rimuovere</span>
    #{if _staticView == false}
      <span class="label label-warning">Non Cancellabile</span>
    #{/if}
  #{/if}             
  
  </div>
</div>