#{modalAsync id:'defaultModal', title:('Approvazione richiesta di straordinari per ' + competenceRequest.person.fullname)}

<div class="container-fluid">
	<div class="container-fluid">
		#{include './_overtimeSituation.html' /}
	</div>
#{alert color:'success'}
<p class=center>Specifica la quantità di ore di straordinario da salvare.</p> 
#{/alert}
#{form action:@approval(competenceRequest.id, approval, value), method:'POST', class:'form form-horizontal'}

#{f.hidden 'competenceRequest.id', value:competenceRequest.id /}

#{f.view 'competenceRequest.value', label:'Quantità richiesta' /}

#{f.input 'value', label:'Quantità concessa' /}

	    #{b.buttons center:true}
	      #{b.submit 'Approva', color:'success', fa:'cross' /}
	    #{/b.buttons}
#{/form}
</div>
#{/modalAsync}

