#{modalAsync id:'defaultModal', title:('Approvazione richiesta di straordinari per ' + competenceRequest.person.fullname)}

<div class="container-fluid">
	<div class="container-fluid">
		#{include './_overtimeSituation.html' /}
	</div>
#{alert color:'success'}
<p class=center>Specifica la quantità di ore di straordinario da salvare.</p> 
#{/alert}
#{form action:@approval(competenceRequest.id, approval), method:'POST', class:'form form-horizontal'}

#{f.hidden 'competenceRequest.id', value:competenceRequest.id /}
#{if competenceRequest.value != null}
	#{f.input 'competenceRequest.value', label:'Quantità richiesta' /}
#{/if}
#{else}
	#{f.input 'value', type:'number', label:'Quantità approvata' /}
#{/else}

	    #{b.buttons center:true}
	      #{b.submit 'Approva', color:'success', fa:'cross' /}
	    #{/b.buttons}
#{/form}
</div>
#{/modalAsync}

