#{extends 'main.html' /}
#{set header:'navbar' /}
#{set competenceRequestTypeLabel: messages.get('CompetenceRequestType.' + type.toString() + 'S') /}
#{set title:('ePAS - ' + competenceRequestTypeLabel) /}
#{switcher year:true, month:true, type:true /}
#{set breadcrumbs:[(competenceRequestTypeLabel):null] /}

%{
	approvalsRequired = 0;
	if (config.officeHeadApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.managerApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.employeeApprovalRequired) {
	  approvalsRequired++;
	}
	approvalRequired = approvalsRequired > 0
}%

<div class="container">
  #{breadcrumbs breadcrumbs /}

  #{title title:competenceRequestTypeLabel.capitalize(), administration:true /} 
  
  #{tabList}
    #{tabItem id:'attivo', title:'Flussi attivi', active:true /}
    #{tabItem id:'nonAttivo', title:'Flussi conclusi' /}
  #{/tabList}
 <br>
  	#{tabContent}	
  
  	#{tabContentItem id:'attivo', active:true}
  	#{b.buttons center:true}
  		<a class="btn btn-success" href="@{CompetenceRequests.blank('person':person, 
  		'year':currentData.year, 'month':currentData.month, 'competenceType':type)}">
    		<i class="fa fa-plus"></i> &{'CompetenceRequestType.' + type + '.blank'}
  		</a>
  	#{/b.buttons}
 	#{if myResults.isEmpty()}
 		#{alert color:'info'}
 		<p>Al momento non ci sono flussi di richiesta competenza in esecuzione.</p>
 		#{/alert}
 	#{/if}
 	#{else}
 		#{include './tableElements/_table.html' /}
 	#{/else}
  	
  #{/tabContentItem}

  #{tabContentItem id:'nonAttivo'}
  	#{if closed.isEmpty()}
  		#{alert color:'info'}
 		<p>Al momento non ci sono flussi di richiesta competenza conclusi.</p>
 		#{/alert}
  	#{/if}
  	#{else}
  		#{include './tableElements/_closedTable.html' /}
  	#{/else}
  	
  #{/tabContentItem}
 
  #{/tabContent}
</div>

