#{extends 'main.html' /}
#{set header:'navbar' /}
#{set competenceRequestTypeLabel: 'Visualizza flusso' /}
#{set title:('ePAS - ' + competenceRequestTypeLabel) /}
#{switcher year:true, month:true, competenceType:true /}
#{if competenceRequest.person != user.person }
#{set breadcrumbs:['Richieste competenza':@CompetenceRequests.listToApprove(competenceRequest.type), ('Visualizza'):null] /}
#{/if}
#{else}
#{set breadcrumbs:['Mie richieste':@CompetenceRequests.list(competenceRequest.type), ('Visualizza'):null] /}
#{/else}

#{breadcrumbs breadcrumbs, noHome:true, container:true /}

<div class="container">

#{title title: 'Richiesta di '+ competenceRequest.person.fullName()  /}

<br>
 #{alert color:'info'}
    <p>Elenco degli stati di approvazione della <strong>#{f.value 'competenceRequest.type', value:competenceRequest.type /}</strong>
    per <strong>#{f.value 'competenceRequest.person.fullname', value:competenceRequest.person.fullname /}</strong>:</p>
 #{/alert}
 <div class="container-fluid center color:info">
 
 	#{f.view 'competenceRequest.startAt', value:competenceRequest.startAt?.format("dd/MM/yyyy") /}<br>
	#{f.view 'competenceRequest.endTo', value:competenceRequest.endTo?.format("dd/MM/yyyy") /}
</div>	
<table class="table table-striped">
<tr>
	<th>Autore</th>
	<th>Data e ora sottomissione</th>
	#{if competenceRequest.type.equals(models.flows.enumerate.CompetenceRequestType.OVERTIME_REQUEST)}
		<th>Quantità richiesta</th>
	#{/if}
	<th>Tipo evento</th>
	<th>Descrizione</th>
	
</tr>
#{list items:competenceRequest.events, as:'item'}
<tr #{if item.eventType != null && (item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.MANAGER_REFUSAL) 
	|| item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.ADMINISTRATIVE_REFUSAL)
	|| item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.OFFICE_HEAD_REFUSAL))
	|| item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.DELETE)} class="danger" #{/if}
	#{if item.eventType != null && (item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.MANAGER_APPROVAL) 
	|| item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.ADMINISTRATIVE_APPROVAL)
	|| item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.OFFICE_HEAD_APPROVAL))} class="success" #{/if}
	#{if item.eventType != null && (item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.FIRST_APPROVAL))}
	class="warning" #{/if}
	#{if item.eventType != null && (item.eventType.equals(models.flows.enumerate.CompetenceRequestEventType.EMPLOYEE_APPROVAL))}
	class="info" #{/if}
	>
	<td>#{f.value 'item.owner.person.fullname', value:item.owner.person.fullname /}</td>
	<td>#{f.value 'item.createdAt', value:item.createdAt /}</td>
	#{if competenceRequest.type.equals(models.flows.enumerate.CompetenceRequestType.OVERTIME_REQUEST)}
		<td>${competenceRequest.value} ore</td>
	#{/if}
	<td>#{f.value 'item.eventType', value:item.eventType /}</td>
	<td>#{f.value 'item.description', value:item.description != null ? item.description : competenceRequest.note /}</td>
</tr>
#{/list}
</table>

	#{b.buttons center:true}
	#{if competenceRequest.type.equals(models.flows.enumerate.CompetenceRequestType.OVERTIME_REQUEST)}
		#{secure.check 'CompetenceRequests.delete', target:competenceRequest}
			#{b.link @delete(competenceRequest.id), color:'danger', title:'Revoca' /}
		#{/secure.check}
		#{secure.check 'CompetenceRequests.approval', target:competenceRequest}
			<a class="btn btn-success btn-xs" href="@{CompetenceRequests.approval(competenceRequest.id)}" data-async-modal="#defaultModal" color="primary" title="Approva">
				Approva 
    		</a>
		#{/secure.check}
		#{secure.check 'CompetenceRequests.disapproval', target:competenceRequest}
			<a class="btn btn-warning btn-xs" href="@{CompetenceRequests.disapproval(competenceRequest.id)}" data-async-modal="#defaultModal" color="warning" title="Rifiuta">
        		Rifiuta
      		</a>
      	#{/secure.check}
    #{/if}
    #{else}
    	#{secure.check 'CompetenceRequests.delete', target:competenceRequest}
			#{b.link @delete(competenceRequest.id), color:'danger', title:'Revoca' /}
		#{/secure.check}
		#{secure.check 'CompetenceRequests.approval', target:competenceRequest}
			#{b.link @approval(competenceRequest.id), color:'success', title:'Approva'/}
		#{/secure.check}
		#{secure.check 'CompetenceRequests.disapproval', target:competenceRequest}
			#{b.link @disapproval(competenceRequest.id, disapproval), 'data-async-modal': '#defaultModal', color:'warning', title:'Rifiuta'/}			
		#{/secure.check}
    #{/else}
	#{/b.buttons}
</div>


