#{extends 'main3.html' /}
#{set header:'banner' /}
#{set title:'ePAS - electronic Personnel Attendance System' /}

<div class="container">

  <br><br>
  <h2>Procedura di recovery password</h2>
  <br><br>

  #{form action:@LostPassword.resetUserPassword(), class:'form-horizontal', role:'form'}

  #{f.hidden 'token' /}
  #{f.input 'nuovaPassword', type:'password', placeholder:'Nuova Password' /}
  #{f.input 'confermaPassword', type:'password', placeholder:'Ripeti Password' /}

  #{b.buttons center:true}
    #{b.submit 'Conferma'/}
  #{/b.buttons}
  #{/form}

</div>