#{extends 'main3.html' /}
#{set header:'banner' /}
#{set title:'ePAS - electronic Personnel Attendance System' /}

<div class="container my-centered-container">

  <br><br>
  <h3>Procedura di recovery password</h3>

  <div>

	#{form @Persons.resetPassword(), role:'form', class:'form-horizontal'}
                
        <div class="form-group">
         <label for="nuovaPassword" class="col-sm-4 col-md-4 control-label hidden-xs">Nuova Password</label>
         <div class="col-sm-8 col-md-8">
           <input type="password" class="form-control" name="nuovaPassword" id="nuovaPassword" placeholder="Nuova password">
         </div>
        </div>
        
        <div class="form-group">
         <label for="confermaPassword" class="col-sm-4 col-md-4 control-label hidden-xs">Ripeti Password</label>
         <div class="col-sm-8 col-md-8">
           <input type="password" class="form-control" name="confermaPassword" id="confermaPassword" placeholder="Ripeti password">
         </div>  
        </div>
	  
		<button type="submit" class="btn btn-primary pull-right">Resetta password</button>
      #{/form}
  </div>
  
</div>