#{extends 'main.html' /}
#{set header:'banner' /}
#{set title:'ePAS - electronic Personnel Attendance System' /}

<div class="container my-centered-container">
  
  <br><br>
  <h3>Procedura di recovery password</h3>
  <br>
  <div>

	#{form @LostPassword.sendTokenRecoveryPassword()}
		
		<div class="form-group">
         <label for="email" class="col-sm-4 col-md-4 control-label hidden-xs">Inserisci la tua email di riferimento</label>
         <div class="col-sm-8 col-md-8">
           <input type="text" class="form-control" name="email" id="email" placeholder="Email utente">
         </div>
        </div>
        
        <div class="center">
			<input style="margin-top: 50px;" class="btn btn-info center" type="submit"/>
		</div>
	#{/form}
  </div>
  
</div>