#{title title:'Terminati', administration:true /}
  
  <table  class="table table-striped table-hover table-bordered table-condensed center" datatable width="100%">
	<thead>		
		<tr>
			<th width="10%" rowspan="2">Data e ora sottomissione</th>
			#{if !onlyOwn}
				<th width="15%" #{if approvalRequired}rowspan="2"#{/if}>&{'informationRequest.person'}</th>
			#{/if}
			<th width="10%" #{if approvalRequired}rowspan="2"#{/if}>Il</th>
		    <th width="10%" #{if approvalRequired}rowspan="2"#{/if}>dalle</th>
			<th width="10%" #{if approvalRequired}rowspan="2"#{/if}>alle</th>				
			
			#{if approvalRequired}
				<th colspan="${approvalsRequired}">Date di Approvazione/Disapprovazione</th>
			#{/if}
			<th #{if approvalRequired}rowspan="2"#{/if}>Stato attuale</th>
			<th #{if approvalRequired}rowspan="2"#{/if}>Visualizza</th>			
		</tr>			
		#{if approvalRequired}
			<tr>
				#{if config.officeHeadApprovalRequired}
					<th width="20%">Responsabile di sede</th>
				#{/if}			
		#{/if}
	</thead>

	<tbody>
		#{list items:servicesClosed, as:'item'}
			<tr>
				<td>#{f.value 'item.startAt', value:item.startAt /}</td>
				#{if !onlyOwn}
					<td>#{f.value 'item.person.fullname', value:item.person.fullname /}</td>
				#{/if}
								
				<td>${item.day.format()}</td>	
				<td>#{f.value 'item.beginAt', value:item.beginAt.format() /}</td>	    
				<td>#{f.value 'item.finishTo', value:item.finishTo.format() /}</td>
				#{if config.officeHeadApprovalRequired}
					<td>#{f.value 'item.officeHeadApproved', value:item.officeHeadApproved /}</td>
				#{/if}
				<td>${item.actualEvent().eventType.label()}</td>
				<td>
				#{secure.link @InformationRequests.show(item.id, type)}	    	  	
	        	<i class="fa fa-eye" aria-hidden="true"></i> Visualizza
	        	#{/secure.link}
				</td>
			</tr>
		#{/list}
	</tbody>
  </table>