#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'Test Calendario' /}

#{set 'moreStyles' }
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
<link rel="stylesheet" media="print"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
#{/set}

<!-- Switcher delle attività di turno-->
#{title title:'Test sul calendario' /}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        #{form action:@Calendar.show(), method:'POST', class:'form form-horizontal auto-submit',
        onChange:'this.form.submit()' }
        #{f.selectModel 'activity', items:activities, value: activitySelected /}
        #{/form}
    </div>
</div>
<!-- Menu laterare-->
<div class="col-sm-2 well well-lg">
    <ul class="list-group">
        #{list people, as:'person'}
        <li class="list-group-item" id="${person.id}"
            data-draggable
            data-event='{"title": "${person.fullname}",
                     "allDay": "true",
                     "personId" : "${person.id}",
                     "color": "purple" }'>
            ${person.fullname}
        </li>
        <br>
        #{/list}
    </ul>
    <h4>&{'shiftSlot'}</h4>
    <hr>
    #{list models.enumerate.ShiftSlot}
    <div class="radio">
        <label>
            <input type="radio" name="shiftSlot" id="shiftSlot" value="${_}" #{ifnot _isLast}checked#{/ifnot}>
            ${_.label()}
        </label>
    </div>
    #{/list}
</div>

<!-- Calendario-->
<div class="col-lg-8 col-sm-10"
     data-calendar
     data-calendar-source="@{shifts()}"
     #{secure.check 'Calendar.changeShift'}
     data-calendar-resize="@{changeShift()}"
     data-calendar-drop="@{changeShift()}"
     data-calendar-external-drop="@{newShift()}"
     data-calendar-click="#"
     #{/secure.check}>
</div>

#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale/it.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
#{script 'calendars/newCalendar.js' /}
#{/set}