#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Calendario Turni'  /}

#{set 'moreStyles' }
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
<link rel="stylesheet" media="print"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
#{/set}

<!-- Switcher delle attività di turno-->
#{title title:'Calendario turni' /}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        #{form action:@Calendar.show(), method:'POST', class:'form form-horizontal',
        onChange:"getCurrentViewDate('#date'); this.submit();" }
        #{f.hidden 'date' /}
        #{f.selectModel 'activity', items:activities, value: activitySelected /}
        #{/form}
    </div>
</div>
<!-- Menu laterale-->
<div class="col-md-2 well well-lg" data-render-load="@{shiftPeople()}"></div>

<!-- Calendario-->
<div class="col-md-8"
     data-calendar
     data-calendar-source="@{events()}"
     data-calendar-drop="@{changeShift()}"
     data-calendar-external-drop="@{newShift()}"
     data-calendar-event-remove="@{deleteShift()}"
     data-calendar-editable="@{editable()}"
     data-calendar-date="${currentDate}">
</div>

<div class="col-md-2 well well-lg" data-render-load="@{recap()}"></div>

#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/it.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/gcal.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
#{script 'calendars/newCalendar.js' /}
#{/set}