#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'Test Calendario' /}

#{set 'moreStyles' }
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
<link rel="stylesheet" media="print"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css">
#{/set}

<!-- Switcher delle attività di turno-->
#{title title:'Test sul calendario' /}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        #{form action:@Calendar.show(), method:'POST', class:'form form-horizontal',
        onChange:"getCurrentViewDate('#date'); this.submit();" }
        #{f.hidden 'date' /}
        #{f.selectModel 'activity', items:activities, value: activitySelected /}
        #{/form}
    </div>
</div>
<!-- Menu laterale-->
<div class="col-sm-2 well well-lg" data-render-load="@{shiftPeople()}"></div>

<!-- Calendario-->
<div class="col-lg-8 col-sm-10"
     data-calendar
     data-calendar-reload="@{show}"
     data-calendar-source="@{events()}"
     #{secure.check 'Calendar.changeShift'}
     	data-calendar-drop="@{changeShift()}"
     	data-calendar-external-drop="@{newShift()}"
     	data-calendar-event-remove="@{deleteShift()}"
      data-calendar-date="${currentDate}"
     #{/secure.check}>
</div>

#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/locale/it.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
#{script 'calendars/newCalendar.js' /}
#{/set}