#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Stato inizializzazioni'  /}

#{set 'moreStyles'}
<style>
  td.alignLeft { text-align: left !important; }
</style>
#{/set}

#{tabs.initializationsTabs action:'initializationsStatus', office:office /}

<div class="container">

  #{title title:'Inizializzazione Monte Ore ' + office.name /}

  <!-- Tutti i dipendenti sono correttamente inizializzati -->
  #{if initializationsMissing.empty}
    #{alert color:'success'}
      <i class="fa fa-2x fa-check bg-success"></i>
      Tutti i dipendenti della sede risultano correttamente inizializzati.
    #{/alert}
  #{/if}
  <!-- Alcuni dipendenti non sono correttamente inizializzati (elenco) -->
  #{else}
	  #{alert color:'danger'}
	  <p>
	    <i class="fa fa-2x fa-warning bg-danger"></i> Sono presenti dipendenti della sede non correttamente inizializzati.
	  </p>
	  <p>  
	    Per tali dipendenti il sistema sarà inutilizzabile fin quando la loro situazione non verrà ripristinata.
	  </p>
	  #{/alert}
	  
	  <table class="table table-bordered table-striped table-hover table-condensed center">
	    <thead>
	    <tr>
	      <th>&{'person.name'}</th>
	      <th>&{'person.number'}</th>
	      <th>Inizio<br>Contratto</th>
	      <th>Fine<br>Contratto</th>
	      <th>Inizializzabile Dal</th>
	      <th>Inizializza</th>
	    </tr>
	    </thead>
	    <tbody>
	    #{list items:initializationsMissing, as:'contract'}
	
	    <tr>
	      <td class="alignLeft">
	        ${contract.value.person.fullname}
	      </td>
	       
	      <td>${contract.value.person.number}</td>
	      <td data-order="${contract.value.beginDate}">
	        ${contract.value.beginDate?.format()}
	      </td>
	      <td data-order="${contract.value.endDate}">
	        #{if contract.value.endDate}
	          ${contract.value.endDate.format()}
	        #{/if}
	        #{else}
	          #{if contract.value.isTemporaryMissing}
	            <em class="text-danger">Data da inserire</em>
	          #{/if}
	        #{/else}
	
	      </td>
	      <td>
	          ${contract.dateForInitialization().format()}
	      </td>
	      <td>
	        <a href="@{updateSourceContract(contract.value.id)}" data-async-modal="#defaultModal"><i class="fa fa-plus" aria-hidden="true"></i></a>
	      </td>
	
	    </tr>
	
	    #{/list}
	    </tbody>
	  </table>
  #{/else}

  #{alert color:'info'}
  <p>
    Elenco dei dipendenti attivi correttamente inizializzati.
  </p>
  #{/alert}
  
  <table class="table table-bordered table-striped table-hover table-condensed center">
    <thead>
    <tr>
      <th>&{'person.name'}</th>
      <th>&{'person.number'}</th>
      <th>Inizio<br>Contratto</th>
      <th>Data <br>Iniziale</th>
      <th>Residuo<br>anno passato</th>
      <th>Residuo<br>anno corrente</th>
      <th>Modifica</th>
    </tr>
    </thead>
    <tbody>
    #{list items:correctInitialized, as:'contract'}

    <tr>
      <td class="alignLeft">
        ${contract.value.person.fullname}
      </td>
       
      <td>${contract.value.person.number}</td>
      <td data-order="${contract.value.beginDate}">
        ${contract.value.beginDate?.format()}
      </td>

      <td>
          ${contract.value.sourceDateResidual?.format()}
      </td>
      <td>
         ${contract.value.sourceRemainingMinutesLastYear?.printHourMinute()}
      </td>
      <td>
        ${contract.value.sourceRemainingMinutesCurrentYear?.printHourMinute()}
      </td>
      <td>
        <a href="@{updateSourceContract(contract.value.id)}" data-async-modal="#defaultModal"><a href="@{updateSourceContract(contract.value.id)}" data-async-modal="#defaultModal">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>  
      </td>

    </tr>

    #{/list}
    </tbody>
  </table>

 
  #{alert color:'info'}
    <p>
      Elenco dei dipendenti attivi non inizializzati e che non necessitano di inizializzazione.
    </p>
  #{/alert}
  <table class="table table-bordered table-striped table-hover table-condensed center">
    <thead>
    <tr>
      <th>&{'person.name'}</th>
      <th>&{'person.number'}</th>
      <th>Inizio<br>Contratto</th>
      <th>Fine<br>Contratto</th>
      <th>Inizializzabile Dal</th>
      <th>Inizializza</th>
    </tr>
    </thead>
    <tbody>
    #{list items:correctNotInitialized, as:'contract'}

    <tr>
      <td class="alignLeft">
        ${contract.value.person.fullname}
      </td>
       
      <td>${contract.value.person.number}</td>
      <td data-order="${contract.value.beginDate}">
        ${contract.value.beginDate?.format()}
      </td>

      <td data-order="${contract.value.endDate}">
        #{if contract.value.endDate}
          ${contract.value.endDate.format()}
        #{/if}
        #{else}
          #{if contract.value.isTemporaryMissing}
            <em class="text-danger">Data da inserire</em>
          #{/if}
        #{/else}

      </td>
      <td>
        ${contract.dateForInitialization().format()}
      </td>
      <td>
        <a href="@{updateSourceContract(contract.value.id)}" data-async-modal="#defaultModal"><i class="fa fa-plus" aria-hidden="true"></i></a>
      </td>

    </tr>

    #{/list}
    </tbody>
  </table>



</div>

