#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Modifica ' + contract.person.fullname /}

#{set breadcrumbs:['Lista Persone':@Persons.list(), 
  (contract.person.fullname):@Contracts.personContracts(contract.person.id), 
  'Gestisci Contratto':null] /}
#{breadcrumbs breadcrumbs, noHome:true, container:true /}

#{contracts.editContractTabs activeAction:'updateSourceContract' /}

<div class="container">

#{if wContract.initializationMissing()}
  <div class="alert alert-danger">
    <p><i class="fa fa-2x fa-times bg-danger"></i> Il contratto necessita di inizializzazione poichè ePAS 
    potrebbe non disporre di tutta l'informazione necessaria.</p>
    <p>Affinchè la situazione sia configurata correttamente occorre che l'inizio del contratto o la sua
    inizializzazione sia successiva alle seguenti date: <br>
    <ul>
    <li>all'inserimento in ePAS della sede del dipendente ${contract.person.office.name} avvenuta in data ${wOffice.initDate().format()}</li>
    <li>all'inserimento in ePAS del dipendente avvenuta in data ${wPerson.value.createdAt.format()}.</li>
    </ul>
    
    <p>Pertanto scegliere una data uguale o successiva al <strong>${wContract.dateForInitialization().format()}</strong>.</p>
  </div>
#{/if}
#{else}
  <div class="alert alert-success">
   <i class="fa fa-2x fa-check bg-success"></i> Il contratto non necessita di inizializzazione. 
   <p>Se si desidera definire una nuova inizializzazione scegliere una data uguale o successiva al <strong>${wContract.dateForInitialization().format()}</strong>.</p>
  </div>
#{/else}
     
  <div id="sourceRes">

    #{panel title:'Dati generali', color:'primary'}

     <div class="alert alert-info">
	  <p>
  		  Inserire la situazione della persona alla fine della giornata specificata nel campo <strong>Data Inizializzazione</strong>.<br>
  	 	  Una volta definiti i dati il software provvederà a ricalcolare i ripiloghi annuali della persona utilizzando i dati di inizializzazione e i dati presenti nel database 
  		  a partire dal giorno successivo a <strong>Data Inizializzazione</strong>. 
  	  </p>
	 </div>

	  *{ 'data-anchor':'#sourceRes' }*
      #{form @Contracts.saveResidualSourceContract(), 'method':'POST', class:'form-horizontal', 
      'data-async':'#sourceRes', 'data-async-error':'#sourceRes'}
	    <input type="hidden" name="contract.id" value="${contract.id}" />

		#{if success}
		      #{alert dismissible:true}
		        Inizializzazione inserita con successo ed effettuati i ricalcoli.
		      #{/alert}
		#{/if}
		    	    
	    #{if !confirmed}
		    #{f.date 'sourceDateResidual', value:contract.sourceDateResidual?.format(), biglabel:true  /}
		    #{f.input 'contract.sourceRemainingMinutesLastYear', biglabel:true /}
		    #{f.input 'contract.sourceRemainingMinutesCurrentYear', biglabel:true  /}
		    #{f.input 'contract.sourceVacationLastYearUsed', biglabel:true  /}
		    #{f.input 'contract.sourceVacationCurrentYearUsed', biglabel:true  /}
		    #{f.input 'contract.sourcePermissionUsed', biglabel:true  /}
			#{f.input 'contract.sourceRecoveryDayUsed', biglabel:true  /}
		    #{b.buttons center:true}
              #{b.submit 'Salva'/}
            #{/b.buttons}
		#{/if}
		#{else}
			
			#{f.hidden 'confirmed', value:true /}
			#{f.simpleView 'sourceDateResidual', value:sourceDateResidual.format(), biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceRemainingMinutesLastYear', biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceRemainingMinutesCurrentYear', biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceVacationLastYearUsed', biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceVacationCurrentYearUsed', biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourcePermissionUsed', biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceRecoveryDayUsed', biglabel:true, hidden:true /}
		    
		  #{if sourceNew}
		    #{alert color:'danger'}
				La definizione di questa inizializzazione comporterà il ricalcolo della situazione
				della persona dal 
				<strong>${recomputeFrom.format()}</strong> al <strong>${recomputeTo.format()}</strong> 
				per un totale di <strong>${days}</strong> giorni.		      
		    #{/alert}
		  #{/if}
		  #{if sourceUpdate}
		    #{alert color:'danger'}
				La definizione di questa inizializzazione sovrascriverà quella esistente 
				impostata alla data ${contract.sourceDateResidual.format()}<br>
				Comporterà il ricalcolo della situazione della persona dal 
				<strong>${recomputeFrom.format()}</strong> al <strong>${recomputeTo.format()}</strong>
				 per un totale di <strong>${days}</strong> giorni.		      
		    #{/alert} 
		  #{/if}
		  #{b.buttons center:true}
            #{b.cancel @updateSourceContract(contract.id) /}
            #{b.submit 'Conferma'/}
          #{/b.buttons}
		#{/else}
	    
      #{/form}
    #{/panel}
  </div>    
  #{if !wContract.initializationMissing()}  
  <div id="sourceMeal">    
    #{panel title:'Buoni Pasto', color:'primary'}
       <div class="alert alert-info">
		  <p>
          	Tramite questa form è possibile inizializzare il <strong>residuo buoni pasto</strong> in un momento arbitrario del contratto selezionato.  
  		  </p> 
       </div>
       
       #{form @Contracts.saveMealTicketSourceContract(), 'method':'POST', class:'form-horizontal', 
      'data-async':'#sourceMeal', 'data-async-error':'#sourceMeal'}
	    <input type="hidden" name="contract.id" value="${contract.id}" />
       
       #{if success}
		      #{alert dismissible:true}
		        Inizializzazione buoni pasto inserita con successo ed effettuati i ricalcoli.
		      #{/alert}
		#{/if}
		
	    #{if !confirmed}
		    #{f.date 'sourceDateMealTicket', value:contract.sourceDateMealTicket?.format(), biglabel:true  /}
		    #{f.input 'contract.sourceRemainingMealTicket', biglabel:true  /}
		    #{b.buttons center:true}
              #{b.submit 'Salva'/}
            #{/b.buttons}
		#{/if}
		#{else}
			
			#{f.hidden 'confirmed', value:true /}
			#{f.simpleView 'sourceDateMealTicket', value:sourceDateMealTicket.format(), biglabel:true, hidden:true /}
			#{f.simpleView 'contract.sourceRemainingMealTicket', biglabel:true, hidden:true /}
			
		  #{if sourceNew}
		    #{alert color:'danger'}
				Verranno rigenerati i riepiloghi della persona a partire dal mese 
				<strong>${recomputeFrom.format()}</strong> a quello attuale. 
				per un totale di <strong>${months}</strong> mesi.
		    #{/alert}
		  #{/if}
		  #{if sourceUpdate}
		    #{alert color:'danger'}
				La definizione di questa inizializzazione sovrascriverà quella esistente 
				impostata alla data ${contract.sourceDateMealTicket.format()}<br>
				Verranno rigenerati i riepiloghi della persona a partire dal mese 
				<strong>${recomputeFrom.format()}</strong> a quello attuale. 
				per un totale di <strong>${months}</strong> mesi.	      
		    #{/alert} 
		  #{/if}
		  #{b.buttons center:true}
            #{b.cancel @updateSourceContract(contract.id) /}
            #{b.submit 'Conferma'/}
          #{/b.buttons}
		#{/else}
        #{/form}
    #{/panel}
  </div>
  #{/if}
</div>

