#{modalAsync title: 'Inizializza contratto ' + contract.person.fullname }

<div id="updateSource">

#{if wrContract.initializationMissing()}
  #{alert color:'danger'}
    <p><i class="fa fa-2x fa-times bg-danger"></i> Il contratto necessita di inizializzazione poichè ePAS 
    potrebbe non disporre di tutta l'informazione necessaria.</p>
    <p>Affinchè la situazione sia configurata correttamente occorre che l'inizio del contratto o la sua
    inizializzazione sia successiva alle seguenti date: <br>
    <ul>
    <li>alla operativià in ePAS della sede del dipendente ${contract.person.office.name} valorizzata a partire da ${wrOffice.initDate().format()}</li>
    <li>la fine dell'anno precedente all'inserimento in ePAS del dipendente (${wrPerson.value.beginDate.format()}).</li>
    </ul>
    
    <p>Pertanto scegliere una data uguale o successiva al <strong>${wrContract.dateForInitialization().format()}</strong>.</p>
  #{/alert}
#{/if}
#{else}
  #{alert color:'success'}
   <i class="fa fa-2x fa-check bg-success"></i> Il contratto non necessita di inizializzazione.
   #{if wrContract.value.sourceDateResidual}
     <p>
       Esiste già una inizializzazione definita alla data <strong>${wrContract.value.sourceDateResidual.format()}</strong>
     </p>
     <p>  
       Se si desidera modificare la data e l'inizializzazione esistente scegliere una data uguale o successiva al 
       <strong>${wrContract.dateForInitialization().format()}</strong> e impostare nuovamente i valori iniziali.
     </p>
   #{/if}#{else}
     <p>
       Se si desidera definire l'inizializzazione scegliere una data uguale o successiva al 
       <strong>${wrContract.dateForInitialization().format()}</strong>.
     </p>
   
   #{/else} 
  #{/alert}
#{/else}
     

     #{alert color:'info'}
	  <p>
  		  Inserire la situazione della persona alla fine della giornata specificata nel campo <strong>Data Inizializzazione</strong>.<br>
  	 	  Una volta definiti i dati il software provvederà a ricalcolare i ripiloghi annuali della persona utilizzando i dati di inizializzazione e i dati presenti nel database 
  		  a partire dal giorno successivo a <strong>Data Inizializzazione</strong>. 
  	  </p>
  	  <p><i class="fa fa-bell"></i> Per sicurezza in caso di ricalcoli necessari verrà visualizzato un riepilogo delle modifiche e chiesto un comando di conferma. </p>
	 #{/alert}

	 #{if contract.sourceDateResidual != null}
	 #{alert color:'info'}
	  <p>Per rimuovere l'inizializzazione esistente svuotare il campo <strong>&{'sourceDateResidual'}</strong>.</p>
	 #{/alert}
	 #{/if}
	 
     <!-- Form di input -->		
	 #{if !confirmedResidual}
	   #{form @Contracts.saveResidualSourceContract(), 'method':'POST', class:'form-horizontal', 
         'data-async':'#updateSource', 'data-async-error':'#updateSource', 'data-spinner':'#defaultSpinner'}

        <input type="hidden" name="contract.id" value="${contract.id}" />
	
	    #{f.date 'sourceDateResidual', value:contract.sourceDateResidual?.format(), biglabel:true  /}
	    #{f.input 'contract.sourceRemainingMinutesLastYear', biglabel:true /}
	    #{f.input 'contract.sourceRemainingMinutesCurrentYear', biglabel:true  /}
	    #{f.input 'contract.sourceVacationLastYearUsed', biglabel:true  /}
	    #{f.input 'contract.sourceVacationCurrentYearUsed', biglabel:true  /}
	    #{f.input 'contract.sourcePermissionUsed', biglabel:true  /}
		#{f.input 'contract.sourceRecoveryDayUsed', biglabel:true  /}

		#{secure.check 'Contracts.saveResidualSourceContract'}
	      #{b.buttons center:true}
               #{b.submit 'Salva'/}
             #{/b.buttons}
		#{/secure.check}
	  #{/form}	
	#{/if}
	<!-- Form di conferma -->
	#{else}

	  #{form @Contracts.saveResidualSourceContract(), 'method':'POST', class:'form-horizontal', 
         'data-async':'#page_content', 'data-async-error':'#updateSource', 'data-spinner':'#defaultSpinner'}
			
		<input type="hidden" name="contract.id" value="${contract.id}" />
		#{f.hidden 'confirmedResidual', value:true /}
		#{f.simpleView 'sourceDateResidual', value:sourceDateResidual.format(), biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourceRemainingMinutesLastYear', biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourceRemainingMinutesCurrentYear', biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourceVacationLastYearUsed', biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourceVacationCurrentYearUsed', biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourcePermissionUsed', biglabel:true, hidden:true /}
		#{f.simpleView 'contract.sourceRecoveryDayUsed', biglabel:true, hidden:true /}

		#{if removeMandatory}
		  #{alert color:'danger'}
		    L'inizializzazione attuale alla data <strong>${wrContract.value.sourceDateResidual.format()}</strong> è obbligatoria. 
		    Procedere con la rimozione solo se si intende spostare la data di inizio del contratto dopo tale data.
		  #{/alert}
		#{/if}
		#{if removeUnnecessary}
		  #{alert color:'warning'}
		    La rimozione di questa inizializzazione definita alla data <strong>${wrContract.value.sourceDateResidual.format()}</strong> comporterà il ricalcolo della situazione della
		    persona dall'inizio del contratto <strong>${recomputeFrom.format()}</strong> 
		    al <strong>${recomputeTo.format()}</strong> 
		    per un totale di <strong>${days}</strong> giorni. 
		  #{/alert}			  
		#{/if}  
		  
		#{if sourceNew}
		    #{alert color:'warning'}
				La definizione di questa inizializzazione comporterà il ricalcolo della situazione
				della persona dal 
				<strong>${recomputeFrom.format()}</strong> al <strong>${recomputeTo.format()}</strong> 
				per un totale di <strong>${days}</strong> giorni.		      
		    #{/alert}
		#{/if}
		#{if sourceUpdate}
		    #{alert color:'warning'}
				La definizione di questa inizializzazione sovrascriverà quella esistente 
				impostata alla data <strong>${contract.sourceDateResidual.format()}</strong><br>
				Comporterà il ricalcolo della situazione della persona dal 
				<strong>${recomputeFrom.format()}</strong> al <strong>${recomputeTo.format()}</strong>
				 per un totale di <strong>${days}</strong> giorni.		      
		    #{/alert} 
		#{/if}
		
		#{b.buttons center:true}
            #{b.cancel @initializationsStatus(contract.person.office.id) /}
            #{b.submit 'Conferma'/}
        #{/b.buttons}
      #{/form}	  
	#{/else}
   
</div>

#{/modalAsync}        

