<!DOCTYPE html>

<html>
    <head>
        <title>Istituto di Informatica e Telematica - Turni di ${month} ${year}</title>
        <link rel="stylesheet" href="@{'/public/stylesheets/sistorgReportPDF.css'}" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="@{'/public/stylesheets/shiftPDF.css'}" type="text/css" charset="utf-8">
    </head>
    <body>
    		%{
    			mm = 0;
    			
    			mese = firstOfMonth.plusMonths(mm).monthOfYear().getAsText();
    			anno = firstOfMonth.plusMonths(mm).year().getAsText();

    		}%
        	<h1>Istituto di Informatica e Telematica </h1>
        
        	<div class="table">
			<table class="mensile">
			<caption> Giorni di turno del personale per il mese di ${mese} ${anno}</caption>
			<tr>
			<th>Persona</th><th>Numero di giorni</th><th>Numero di ore</th>
			</tr>	
			<tr>	
			%{
				for(person in shiftSumDays.rowKeySet()) {
				giorniTot = 0;
			}%
				<td> 
					<p>
						${person}
					</p>
				</td>

				%{
					for(shift in shiftSumDays.columnKeySet()) {

						if (shiftSumDays.contains(person, shift)) {
							giorniTot += shiftSumDays.get(person, shift);
						}
    				}
    				resto = (giorniTot%2 == 0) ? ':00' : ':30'; 
					ore = giorniTot*6 + (int)(giorniTot/2) + resto;	
				}%
				<td>
					<p>${giorniTot}</p>
				</td>
				<td>
					<p>${ore}</p>
				</td>
			</tr>
			%{
    			}
			}%
			</table>
			</div>
      		
      		
      		<div class="date">
      			<strong>Data </strong>&nbsp;&nbsp;${today.getDayOfMonth()}/${today.getMonthOfYear()}/${today.getYear()}
      		</div>
      		<div class="firma dir">
      			<strong>Il Direttore</strong> <br />
      			Dott. Domenico Laforenza
      		</div>
      
     		<div class="firma resp">
      			<strong>Il Responsabile</strong><br />
      			Dott. Maurizio Martinelli
      		</div>
      		
      		
      		%{
				if (!inconsistentAbsence2.isEmpty()) {
				
				fistTr = true;
			}%
					<div class="note_presenze">
					<h1>Inconsistenze con le presenze del personale </h1>
			    	<p>Sono state rilevate delle inconsistenze tra i turni e le presenze del personale: </p>
			    	
			    	<table class="mensile">
			    		<tr>
			    		<th>Nome dipendente</th>
			 %{
					for(th in ths) {
			 }%  
			    		<th>${th} </th> 
			%{
					}
			 }%  
			
			%{
					for(person in inconsistentAbsence2.rowKeySet()) {
			}%
						<tr>
							<td>${person}</td>
			%{
							for(th in ths) {
								if (inconsistentAbsence2.contains(person, th)) {
			}%
							<td> 
			%{
								for(day in inconsistentAbsence2.get(person, th)) {
			}%
								${day}<br/>
			%{
    							}
			}%
							</td>
			%{
		    					} else {
		    }%
		  					<td>&nbsp;</td>
		  	%{
		  						}
				
							}
			}%
		    			</tr>
		    %{
		    		}
		  	}%
		  	
		  	</table>
						
      		</div>
      		
      		<div class="date">
      			<strong>Data</strong> &nbsp;&nbsp;${today.getDayOfMonth()}/${today.getMonthOfYear()}/${today.getYear()}
      		</div>
      		
		  	%{
		    	}						
			}%
      		
    </body>
</html>