<!DOCTYPE html>

<html>
<head>
  <title>Istituto di Informatica e Telematica  Turni di ${month} ${year}</title>
  
  <link rel="stylesheet" href="@{'/public/stylesheets/sistorgReportPDF.css'}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="@{'/public/stylesheets/shiftPDF.css'}" type="text/css" charset="utf-8">
</head>
<body>
%{
  mm = 0;

  mese = firstOfMonth.plusMonths(mm).monthOfYear().getAsText();
  if (mese.equals('July')) {
    mese = 'luglio';
  }
  else if (mese.equals('June')) {
    mese = 'giugno';
  } else if (mese.equals('August')) {
    mese = 'agosto';
  }
}%

<h1>Istituto di Informatica e Telematica </h1>

<div class="table">
  <table class="mensile">
    <caption> Calendario Turni del gruppo <em>${shiftDesc}</em> <br /> ${mese} ${firstOfMonth.plusMonths(mm).year().getAsText()}</caption>

    <tr>
      <th>GIORNO</th>
      #{list shiftCalendar.rowKeySet()}
      <th colspan='2'> TURNO ${_}</th>
      #{/list}
    </tr>
    <tr>
      <th></th>
      #{list shiftCalendar.rowKeySet()}
      <th>Mattina</th>
      <th>Pomeriggio</th>
      #{/list}
    </tr>
    #{list items:1..firstOfMonth.dayOfMonth().withMaximumValue().getDayOfMonth(),as:'gg'}
    <tr>
      <td class="${firstOfMonth.plusDays(gg-1).dayOfWeek().getAsShortText()}"> ${gg} ${firstOfMonth.plusDays(gg-1).dayOfWeek().getAsShortText()}</td>
      #{list shiftCalendar.rowKeySet(),as:'shift'}
      #{if shiftCalendar.contains(shift, gg)}
        #{if (shiftCalendar.get(shift, gg).mattina == null) || (shiftCalendar.get(shift, gg).pomeriggio == null)}
        <td class="${'turno'+shift} annullato" colspan="2">
          ANNULLATO <br />
        </td>
        #{/if}
        #{else}
        <td class="${'turno'+shift}">
          ${shiftCalendar.get(shift, gg).mattina.surname}
        </td>
        <td class="${'turno'+shift}">
          ${shiftCalendar.contains(shift, gg) ? shiftCalendar.get(shift, gg).pomeriggio.surname : ''}
        </td>
        #{/else}
      #{/if}
      #{else}
      <td colspan="2"></td>
      #{/else}
      #{/list}
    </tr>
    #{/list}
  </table>

</div>
<div class="date">
  <strong>Data ${today.getDayOfMonth()}/${today.getMonthOfYear()}/${today.getYear()} </strong>
</div>

</body>
</html>