<!DOCTYPE html>

<html>
    <head>
        <title>Istituto di Informatica e Telematica - Turni di ${month} ${year}</title>
        <link rel="stylesheet" href="@{'/public/stylesheets/sistorgReportPDF.css'}" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="@{'/public/stylesheets/shiftPDF.css'}" type="text/css" charset="utf-8">
    </head>
    <body>
    		%{
    			mm = 0;
    			
    			mese = firstOfMonth.plusMonths(mm).monthOfYear().getAsText();
    			anno = firstOfMonth.plusMonths(mm).year().getAsText();

    		}%
    		
        	<h1>Istituto di Informatica e Telematica </h1>
        
        	<div class="table">
			<table class="mensile">
			<caption> Giorni di turno del personale per il mese di ${mese} ${anno}</caption>
			<tr>
			<th>Persona</th>
			%{
					for(th in thShift) {
			}%  
			    		<th>${th} </th> 
			%{
					}
			}%  

			</tr>	
			
			%{
				for(person in totalShiftInfo.rowKeySet()) {
			}%
			<tr>	
				<td> 
					<p>
						${person.surname} ${person.name}
					</p>
				</td>

			%{
					for(th in thShift) {
			}%  
			    <td>
					<p>
						${totalShiftInfo.contains(person, th) ? totalShiftInfo.get(person, th) : ''} 
					</p>
				</td>
			%{
					}
			}%  
				
			</tr>			
			%{
    			}
			}%
			
			</table>
			</div>
      		
      		
      		<div class="date">
      			<strong>Data </strong>&nbsp;&nbsp;${today.getDayOfMonth()}/${today.getMonthOfYear()}/${today.getYear()}
      		</div>
      		<div class="firma dir">
      			<strong>Il Direttore</strong> <br />
      			Dott. Domenico Laforenza
      		</div>
      
     		<div class="firma resp">
      			<strong>Il Responsabile</strong><br />
      			Dott. Maurizio Martinelli
      		</div>
      		
      		%{
				if (!totalInconsistentAbsences.isEmpty()) {
				
				fistTr = true;
			}%
					<div class="note_presenze">
					<h1>Inconsistenze con le presenze del personale </h1>
			    	<p>Sono state rilevate delle inconsistenze tra i turni e le presenze del personale: </p>
			    	
			    	<table class="mensile">
			    		<tr>
			    		<th>Nome dipendente</th>
			 %{
					for(th in thInconsistence) {
			 }%  
			    		<th>${th} </th> 
			%{
					}
			 }%  
			
			%{
					for(person in totalInconsistentAbsences.rowKeySet()) {
			}%
						<tr>
							<td>${person.surname} ${person.name}</td>
			%{
							for(th in thInconsistence) {
								if (totalInconsistentAbsences.contains(person, th)) {
			}%
							<td> 
			%{
								for(day in totalInconsistentAbsences.get(person, th)) {
			}%
								${day}<br/>
			%{
    							}
			}%
							</td>
			%{
		    					} else {
		    }%
		  					<td>&nbsp;</td>
		  	%{
		  						}
				
							}
			}%
		    			</tr>
		    %{
		    		}
		  	}%
		  	
		  	</table>
						
      		</div>
      		
      		<div class="date">
      			<strong>Data</strong> &nbsp;&nbsp;${today.getDayOfMonth()}/${today.getMonthOfYear()}/${today.getYear()}
      		</div>
      		
		  	%{
		    	}						
			}%
			
 
      		
    </body>
</html>