 *{ howTo sui tipi }*
 
 #{alert color:'info', textcolor:'dark'}   
    
    *{ howTo sui parametri }*
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ABSENCES_FOR_EMPLOYEE) }
      <p>Abilitando questa funzionalità sarà possibile permettere ai dipendenti di sapere se i propri colleghi sono assenti in un determinato giorno.<br>
       Non verrà visualizzato il codice di assenza, ma solo la dicitura "Assente".
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_CALENDARSHIFT) }
      <p>Impostando a sì questo parametro si potranno abilitare il calendario per la gestione dei turni ai supervisori e ai gestori di turno.<br>
       Anche i turnisti potranno verificare la propria situazione di turno attraverso una propria schermata.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_CALENDAR_REPERIBILITY) }
      <p>Impostando a sì questo parametro si potranno abilitare il calendario per la gestione delle reperibilità ai supervisori e ai gestori di reperibilità.<br>
       Anche i reperibili potranno verificare la propria situazione di reperibilità attraverso una propria schermata.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_REPERIBILITY_APPROVAL_BEFORE_END_MONTH) }
      <p>Impostando a sì questo parametro sarà possibile, per i responsabili dei servizi di reperibilità, procedere all'approvazione del calendario dell'intero
      mese di reperibilità anche se il mese non è ancora terminato. Ad esempio, se il calendario fosse già completamente schedulato per l'intero mese
      e si tentasse l'approvazione prima della fine del mese (es.: giorno 25 del mese), con questo parametro a <strong>SI</strong> verrebbero conteggiati tutti i giorni del mese
      nell'approvazione e non solo quelli fino al giorno in cui si sta approvando il calendario del servizio.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_MISSIONS_INTEGRATION) }
      <p>Abilitando questa funzionalità, ePAS comunicherà con la piattaforma Missioni ricevendo in automatico i giorni di missione dei dipendenti <br>
      e inserendoli automaticamente nel loro cartellino.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.WEB_STAMPING_ALLOWED) }
      <p>Abilitando questa funzionalità sarà possibile accedere alla timbratura via web per i dipendenti di <strong>${configuration.office.name}</strong>.<br>
      <i class="fa fa-exclamation-triangle"></i> E' necessario impostare gli indirizzi IP autorizzati alla timbratura via web. 
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ADDRESSES_ALLOWED) }
      <p>Tramite questo parametro è possibile attuare una restrizione sui terminali abilitati alla timbratura
      via web dei dipendenti.</p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.PEOPLE_ALLOWED_INSERT_MEDICAL_EXAM) }
      <p>Abilitando questa funzionalità si permette ai dipendenti della sede di procedere all'auto inserimento dei codici
      per permesso visita medica (631 orario e giornaliero). 
      Una volta inserito il codice, sarà possibile per il dipendente anche allegare il certificato rilasciato in sede 
      di visita medica.</p> 
    #{/if}
	
	#{if configuration.epasParam.equals(manager.configurations.EpasParam.SEND_INFO_DAYS_JOB_TO_SEAT_SUPERVISOR) }
	  <p>Abilitando questa funzionalità si permette al responsabile della sede <strong>${configuration.office.name}</strong> di ricevere via mail la situazione
		relativa a problemi sui giorni dei dipendenti della sede su cui è responsabile. Questa mail viene comunque sicuramente inviata agli amministratori del personale.</p> 
	#{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.NUMBER_OF_VIEWING_COUPLE) }
      <p>Il numero di coppie di timbrature visibili di default nella pagina Timbrature.</p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.MEAL_TICKET_BLOCK_TYPE) }
      <p>In questa sezione è possibile specificare quale sia la tipologia di default dei blocchetti di
      buoni pasto che la sede <strong>${configuration.office.name}</strong> utilizza.<br>
      Il sistema comunica giornalmente con Attestati dove questa informazione risiede e si aggiorna, tuttavia
      è possibile modificare manualmente qui la tipologia di blocchetto selezionando quella corretta.</p> 
    #{/if}
    
    #{secure.check 'Configurations.disableDateStartMealTicket'}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.DATE_START_MEAL_TICKET) }
   
      <p>Tramite questo parametro è possibile specificare la data in cui <strong>${configuration.office.name}</strong> 
      ha iniziato ad utilizzare i Ticket Restaurant.</p>
      <p> A partire da tale data i dipendenti inizieranno a maturare i buoni pasto.</p>
      <p><i class="fa fa-info-circle"></i> Sarà possibile definire il residuo di buoni pasto iniziale per ciascun dipendente
      modificando i loro dati iniziali da Lista Persone.</p>
      
    #{/if}
    #{/secure.check}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.EMAIL_TO_CONTACT) }
      <p>Tramite questo parametro è possibile specificare l'indirizzo email di risposta nelle email inviate dal sistema.</p>
      <p><i class="fa fa-info-circle"></i> Inserire per esempio un indirizzo di segreteria amministrativa.</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SEND_ADMIN_NOTIFICATION) }
      <p>Tramite questo parametro è possibile specificare se l'amministratore del personale deve essere notificato o meno,
      attraverso i banner in alto sulla barra di menu, ogni qualvolta viene effettuata una timbratura per lavoro fuori sede.</p>
      
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.WORKING_OFF_SITE) }
      <p>Tramite questo parametro è possibile permettere ai dipendenti che lavorano fuori sede di giustificare l'intera giornata
      lavorativa o inserire le proprie timbrature con causale "Lavoro fuori sede".</p>
      <p><i class="fa fa-info-circle"></i> Selezionando "sì", sarà permesso ai dipendenti di specificare le proprie timbrature con causale preimpostata "lavoro fuori sede".</p>
    #{/if}

   
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.TR_AUTOCERTIFICATION) }
      &{'description.' + configuration.epasParam}
    #{/if}
    
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SEND_EMAIL) }
      <p>Abilitando questa funzionalità sarà possibile notificare a tutti i dipendenti di <strong>${configuration.office.name}</strong> 
      i giorni di presenza con problemi.<br> L'invio delle notifiche via email è configurato secondo la seguente schedulazione:<p>
      <ul>
        <li><strong>Giorni con timbrature disaccoppiate</strong> Ogni giorno alle 5 del mattino.</li>
        <li><strong>Giorni senza assenze e timbrature</strong> Ogni Lunedì, Mercoledì e Venerdì alle ore 15 verrà 
        inoltrata una email inerente i problemi riscontrati fino al giorno precedente.</li>
      </ul>
      <p><i class="fa fa-info-circle"></i> Una volta abilitata la funzionalità per l'istituto è possibile disattivarla
       per alcuni dipendenti modificando la loro configurazione da Lista Persone.</p>
       
      
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SEND_FLOWS_NOTIFICATION) }
      <p>Abilitando questa funzionalità sarà possibile notificare a tutti gli <u>amministratori del personale</u> di <strong>${configuration.office.name}</strong> 
      gli inserimenti delle assenze avvenuti attraverso la procedura di flusso di approvazione.<br>
      Per la configurazione del flusso di approvazione vedi la scheda: <strong>"Flussi di lavoro"</strong>.<p>
           
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SEND_MANAGER_NOTIFICATION_FOR_661) }
      <p>Abilitando questa funzionalità sarà possibile notificare al <u>responsabile di gruppo</u> di un dipendente, 
      qualora i gruppi siano stati definiti, l'avvenuta terminazione di un flusso di richiesta di permesso personale (661) 
      da parte del dipendente stesso.<br>
      Per la configurazione del flusso di approvazione vedi la scheda: <strong>"Flussi di lavoro"</strong>.<p>
           
    #{/if}
	
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.EXPIRY_VACATION_PAST_YEAR) }
      <p>Questo parametro configurabile su base annuale specifica il giorno di scadenza delle ferie anno precedente.
      <p>Esempio: <em>impostando il valore 31/8 per l'anno 2016 si otterrà che le ferie dell'anno 2015 si
      esauriranno in data 31/8/2016.</em></p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.MONTH_EXPIRY_RECOVERY_DAYS_13) 
         || configuration.epasParam.equals(manager.configurations.EpasParam.MONTH_EXPIRY_RECOVERY_DAYS_49)  }
      <p>Questo parametro configurabile su base annuale specifica il mese massimo di utilizzo per il residuo ore dell'anno precedente.
      <p>Esempio: <em>Impostando il valore 3 per l'anno 2016 si otterrà che il residuo ore rimanente dal 2015 sarà utilizzabile entro il 31/3/2016.</em></p>
      <p><i class="fa fa-info-circle"></i> Per impostare l'utilizzo illimitato del residuo anno precedente inserire nel campo il valore 0.</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.MAX_RECOVERY_DAYS_13) 
         || configuration.epasParam.equals(manager.configurations.EpasParam.MAX_RECOVERY_DAYS_49)  }
      <p>Questo parametro configurabile su base annuale specifica il numero massimo di riposi usufruibili nell'anno solare.
      <p><i class="fa fa-info-circle"></i> Per impostare un numero illimitato di riposi inserire nel campo il valore 0.</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.DAY_OF_PATRON) }
      <p>Inserire il giorno festivo per la Festa del Santo Patrono per la sede <strong>${configuration.office.name}</strong> e la date di inizio e fine validità.
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.HOUR_MAX_TO_CALCULATE_WORKTIME) }
      <p>Tramite questo parametro è possibile specificare l'orario massimo del giorno successivo all'interno del quale cercare una timbratura di uscita.</p>
      Esempio: <em>Se un dipendente risulta in istituto alla mezzanotte ed effettuerà una timbratura di uscita nel giorno successivo prima dell'orario massimo, il software provvederà ad inserire
      due timbrature fittizie (uscita/ingresso) a mezzanotte in modo che sia possibile considerare il tempo nel calcolo delle ore lavorate.</em>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.WORK_INTERVAL_MISSION_DAY) }
      <p>Tramite questo parametro è possibile specificare l'orario di inizio e di fine dell'attività lavorativa in sede.<br>
      Questo parametro è propedeutico alla integrazione di ePAS con il sistema Missioni, infatti serve per stabilire da 
      che ora inizia l'attività lavorativa in sede e a che ora essa termina, per poter calcolare correttamente le ore 
      di lavoro che un dipendente nel primo e nell'ultimo giorno di missione deve fare in relazione all'orario di partenza
      del primo giorno di missione e di arrivo nell'ultimo giorno di missione.
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.LUNCH_INTERVAL) }
      <p>Tramite questo parametro è possibile specificare la finestra temporale all'interno della quale cercare le uscite per pranzo.</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.WORK_INTERVAL) }
      <p>Tramite questo parametro è possibile specificare la finestra temporale all'interno della quale verrà conteggiato il tempo a lavoro dei dipendenti.</p>
    #{/if}
    
     #{if configuration.epasParam.equals(manager.configurations.EpasParam.OFF_SITE_STAMPING) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente le timbratura di lavoro fuori sede.
      </p> 
    #{/if}
    

    #{if configuration.epasParam.equals(manager.configurations.EpasParam.TELEWORK) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza relativo al Telelavoro (103).
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.TELEWORK_STAMPINGS) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente gli orari di lavoro relativi al Telelavoro (103). <strong>NOTA BENE: </strong>questi orari non concorrono in alcun
      modo alla formazione del residuo orario del giorno.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_TELEWORK_STAMPINGS_FOR_WORKTIME) }
      <p><strong>ATTENZIONE! QUESTA FUNZIONALITA' E' VALIDA SOLO PER IL PERSONALE
      RICERCATORE-TECNOLOGO</strong><br>
      Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente gli orari di lavoro relativi al Telelavoro e questi verranno contestualmente inseriti
      nel cartellino del dipendente concorrendo alla formazione del residuo orario del giorno.<br>
      <strong>NOTA BENE:</strong> utilizzando questa funzionalità è necessario che il dipendente, nei giorni in cui inserisce
      gli orari in telelavoro, inserisca il codice <strong>103RT</strong> al posto del codice 103.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.RIGHT_TO_STUDY) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente i codici di assenza relativi ai permessi per diritto allo studio.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COVID_19) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente i codici di assenza relativi all'emergenza COVID-19.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.AGILE_WORK) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente i codici di assenza relativi al lavoro agile di cui alla nota del DG 22278 del 22 marzo 2022.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ADDITIONAL_HOURS) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente i codici di assenza relativi alle ore aggiuntive effettuate presso strutture terze e di cui il ${templateUtility.getCompanyCode()}
      non è tenuto a corrispondere emolumenti.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.DISABLED_PERSON_PERMISSION) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza per legge 104 per dipendente disabile (19).
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.DISABLED_RELATIVE_PERMISSION) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza per legge 104 per parente disabile del dipendente (18).
	  </p> 
    #{/if}
	
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.OFF_SITE_ABSENCE_WITH_CONVENTION) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente le assenze che giustificano l'intera giornata per lavoro fuori sede presso sede convenzionata.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.PARENTAL_LEAVE_AND_CHILD_ILLNESS) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente le assenze per congedo parentale, malattia figlio e affini.
      Assicurarsi che per il dipendente sia presente in anagrafica almeno un figlio. In caso contrario, inserirlo.
      </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SECOND_DISABLED_RELATIVE_PERMISSION) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza per legge 104 per un secondo parente disabile del dipendente (182).
	  </p> 
    #{/if}
	
	#{if configuration.epasParam.equals(manager.configurations.EpasParam.THIRD_DISABLED_RELATIVE_PERMISSION) }
	  <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
	  autonomamente il codice di assenza per legge 104 per un terzo parente disabile del dipendente (183).
	  </p> 
	#{/if}
   
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.AGILE_WORK_OR_DISABLED_PEOPLE_ASSISTANCE) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza 39LA per poter assistere un parente disabile od immunodepresso in lavoro agile.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SMARTWORKING) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza SMART per poter gestire il proprio smartworking.
	  </p> 
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.PARENTAL_LEAVE_FOR_FATHERS) }
      <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> inserire 
      autonomamente il codice di assenza 21P o 21P2 per poter gestire le proprie richieste di congedo parentale per il padre.
      A contorno di questo, il dipendente è tenuto ad effettuare un flusso di richiesta congedo parentale per informare la propria
      amministrazione che intende usufruire del permesso in questione. 
	  </p> 
    #{/if}
	
	#{if configuration.epasParam.equals(manager.configurations.EpasParam.DISABLE_OVERTIME_LIMIT) }
	  <p>Abilitando questa funzionalità sarà possibile per il dipendente <strong>${configuration.person.fullname}</strong> disabilitare il limite
		delle 200 ore di straordinario annuale previste dalla normativa, consentendo quindi lo sforamento.
	  </p> 
	#{/if}
    
     #{if configuration.epasParam.equals(manager.configurations.EpasParam.MATERNITY_PERIOD) }
      <p>Inserire lo stato di maternità per il dipendente <strong>${configuration.person.fullname}</strong> e la date di inizio e fine periodo.</p>
    #{/if}
    
    
    <!-- Parte dei parametri relativi ai flussi -->
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_FLOWS) }
      <p>Abilitando questo paramentro si permette alla sede <strong>${configuration.office.name}</strong> di usufruire del sistema integrato
      di approvazione delle richieste di assenza. <br>
      Esso permette di far richiedere al dipendente un'assenza di tipo <strong>ferie</strong> o <strong>riposo compensativo</strong> direttamente 
      al proprio responsabile di gruppo o al proprio responsabile di sede o a entrambi in sequenza (a seconda di quale deve essere il flusso di approvazione standard presente nella sede).</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_37_FLOW) }
      <p>Abilitando questo paramentro si permette ai dipendenti della sede <strong>${configuration.office.name}</strong> di usufruire della possibilità
      di utilizzare i flussi di richiesta assenza anche per le ferie dell'anno passato post data di scadenza delle stesse 
      (vedi parametro Annuale "<em>Giorno massimo utilizzo ferie dell'anno precedente</em>").<br>
      Esso permette di far richiedere al dipendente un'assenza di tipo <strong>ferie anno passato</strong> anche successivamente alla data di 
      termine utilizzo delle stesse, utilizzando il codice <strong>37</strong>.<br>
      La richiesta seguirà lo stesso iter definito nella configurazione utilizzata per l'approvazione delle ferie standard.</p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.VACATION_REQUEST_I_III_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di ferie provenienti da dipendenti con
      livello <strong>I-III</strong> (ricercatori/tecnologi) debbano essere approvate dal responsabile di Sede.</p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.VACATION_REQUEST_IV_VIII_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di ferie provenienti da dipendenti con
      livello <strong>IV-VIII</strong> (tecnici/amministrativi) debbano approvate dal responsabile di Sede.</p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.VACATION_REQUEST_I_III_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di ferie provenienti da dipendenti con
      livello <strong>I-III</strong> (tecnologi/ricercatori) debbano approvate dal responsabile del gruppo di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi</p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.VACATION_REQUEST_IV_VIII_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di ferie provenienti da dipendenti con
      livello <strong>IV-VIII</strong> (tecnici/amministrativi) debbano approvate dal responsabile del gruppo di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi</p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.VACATION_REQUEST_MANAGER_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di ferie provenienti da dipendenti con qualifica
      <u><strong>Responsabile di gruppo</strong></u> debbano approvate dal responsabile della sede di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi</p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COMPENSATORY_REST_REQUEST_I_III_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di riposo compensativo provenienti da dipendenti con livello
      <strong>I-III</strong> (ricercatori/tecnologi) debbano approvate dal responsabile della sede di lavoro di cui fanno parte.<br>
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COMPENSATORY_REST_REQUEST_IV_VIII_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di riposo compensativo provenienti da dipendenti con livello
      <strong>IV-VIII</strong> (tecnici/amministrativi) debbano approvate dal responsabile della sede di lavoro di cui fanno parte.<br>
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COMPENSATORY_REST_REQUEST_I_III_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di riposo compensativo provenienti da dipendenti con livello
      <strong>I-III</strong> (ricercatori/tecnologi) debbano approvate dal responsabile del gruppo di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COMPENSATORY_REST_REQUEST_IV_VIII_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di riposo compensativo provenienti da dipendenti con livello
      <strong>IV-VIII</strong> (tecnici/amministrativi) debbano approvate dal responsabile del gruppo di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.COMPENSATORY_REST_REQUEST_MANAGER_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo parametro si fa in modo che le richieste di riposo compensativo provenienti da dipendenti con qualifica
      <u><strong>Responsabile di gruppo</strong></u> debbano approvate dal responsabile della sede di lavoro di cui fanno parte.<br>
      <strong>N.b.</strong>: l'abilitazione di questo parametro è propedeutica alla definizione di gruppi di lavoro interni alla sede.<br>
      Per definirli: Menu Configurazione -> Gestione gruppi
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_COMPETENCE_FLOWS) }
      <p>Abilitando questo paramentro si permette alla sede <strong>${configuration.office.name}</strong> di usufruire del sistema
      integrato di approvazione delle richieste di competenza. <br>
      Abilita per il dipendente la possibilità di usufruire dei flussi di richiesta competenza: 
      <ul>
      <li>Richiesta di straordinari</li>
      <li>Cambio di reperibilità</li>
      </ul>
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_OVERTIME_FLOWS) }
      <p>Abilitando questo paramentro si permette alla sede <strong>${configuration.office.name}</strong> di usufruire del sistema
      integrato di approvazione delle richieste di STRAORDINARIO. <br>
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.CHANGE_REPERIBILITY_REQUEST_REPERIBILITY_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che sia il supervisore del servizio a dover approvare una richiesta 
      di cambio di reperibilità.
      Questo parametro va abilitato SOLO nel caso in cui le decisioni sui cambi di reperibilità debbano essere concordate
      anche con il supervisore del servizio.
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.CHANGE_REPERIBILITY_REQUEST_EMPLOYEE_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di cambio di reperibilità vada innanzitutto al
      reperibile con cui si richiede il cambio.      
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_INFORMATION_FLOWS) }
      <p>Abilitando questo paramentro si permette alla sede <strong>${configuration.office.name}</strong> di usufruire del sistema
      integrato di approvazione/presa visione dei flussi informativi. <br>
      Esso permette di far richiedere al dipendente tecnico/amministrativo un'uscita per servizio al proprio responsabile di sede, 
      o a qualsiasi qualifica, se preventivamente abilitata, la possibilità di farsi approvare le informazioni per il telelavoro. 
     
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_I_III_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un ricercatore/tecnologo
      richieda l'approvazione del responsabile di sede.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_IV_VIII_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un tecnico/amministrativo
      richieda l'approvazione del responsabile di sede.      
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_I_III_ADMINISTRATIVE_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un ricercatore/tecnologo
      richieda l'approvazione dell'amministratore del personale.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_IV_VIII_ADMINISTRATIVE_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un tecnico/amministrativo
      richieda l'approvazione dell'amministratore del personale.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_I_III_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un tecnologo/ricercatore
      richieda l'approvazione del responsabile del gruppo di lavoro di cui il dipendente fa parte.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ILLNESS_INFORMATION_IV_VIII_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione di un'assenza per malattia per un tecnico/amministrativo
      richieda l'approvazione del responsabile del gruppo di lavoro di cui il dipendente fa parte.      
      </p>
    #{/if}
    
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.TELEWORK_INFORMATION_I_III_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione del mese in telelavoro per i tecnologi/ricercatori
      venga inviata al responsabile di sede.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.TELEWORK_INFORMATION_IV_VIII_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di presa visione del mese in telelavoro per i tecnici/amministrativi
      venga inviata al responsabile di sede.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SERVICE_INFORMATION_I_III_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di uscita di servizio per i tecnologi/ricercatori venga inviata
       al responsabile di sede.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SERVICE_INFORMATION_IV_VIII_OFFICE_HEAD_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di uscita di servizio per i tecnici/amministrativi venga inviata
       al responsabile di sede.      
      </p>
    #{/if}
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.SERVICE_INFORMATION_IV_VIII_MANAGER_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di uscita di servizio per i tecnici/amministrativi venga inviata
       al responsabile del gruppo di lavoro di cui fanno parte.      
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.FATHER_PARENTAL_LEAVE_I_III_ADMINISTRATIVE_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di congedo parentale per il padre per i tecnologi/ricercatori venga inviata
       al responsabile amministrativo della sede di lavoro di cui fanno parte.      
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.FATHER_PARENTAL_LEAVE_IV_VIII_ADMINISTRATIVE_APPROVAL_REQUIRED) }
      <p>Abilitando questo paramentro si fa in modo che la richiesta di congedo parentale per il padre per i tecnici/amministrativi venga inviata
       al responsabile amministrativo della sede di lavoro di cui fanno parte.      
      </p>
    #{/if}

    #{if configuration.epasParam.equals(manager.configurations.EpasParam.ENABLE_EMPLOYEE_REQUEST_OVERTIME_QUANTITY) }
      <p>Abilitando questo paramentro si permette al dipendente di specificare, in fase di richiesta straordinario, anche
      la quantità di ore che intende richiedere per un certo anno/mese.
      Non abilitando il parametro, la richiesta sarà composta esclusivamente da un campo testuale in cui il dipendente dovrà
      richiedere la quantità oraria adducendo una motivazione per la richiesta.
      </p>
    #{/if}
    
    #{if configuration.epasParam.equals(manager.configurations.EpasParam.OVERTIME_ADVANCE_REQUEST_AND_CONFIRMATION) }
      <p>Abilitando questo paramentro si permette al dipendente di effettuare una richiesta <strong>PREVENTIVA</strong>
      di straordinario al proprio responsabile.
      Questa richiesta dovrà poi essere validata dal responsabile sia <strong>al momento 
      in cui arriva</strong>, sia poi <strong>quando dovrà essere effettivamente assegnata la quantità di ore di straordinario</strong>.
      </p>
    #{/if}
    
  #{/alert} 
  
  <!-- Riepilogo delle ricomputazioni eventuali -->
  #{alert color:'warning', textcolor:'dark'}
    <p><strong>Guida alla Modifica</strong></p>
    
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.BOOLEAN) }
      <p>Selezionare il nuovo valore dalla form sottostante. </p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.INTEGER) }
      <p>Inserire il nuovo valore numerico nella form sottostante. </p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.LOCALDATE) }
      <p>Seleziona la nuova data.</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.EMAIL) }
      <p>Inserire un indirizzo email valido.</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.MONTH) }
      <p>Inserire il mese nel formato numerico.</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.IP_LIST) }
      <p>Inserire ogni IP separato da quello precedente tramite una virgola.</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.DAY_MONTH) }
      <p>Inserire il giorno-mese nel formato GG/MM.</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.LOCALTIME) }
      <p>Inserire l'orario nel formato HH:mm (dove HH può assumere valori da 0 a 23).</p>
    #{/if}
    #{if configuration.epasParam.epasParamValueType.equals(manager.configurations.EpasParam.EpasParamValueType.LOCALTIME_INTERVAL) }
      <p>Inserire l'intervallo orario nel formato HH:mm-HH:mm (dove HH può assumere valori da 0 a 23).</p>
    #{/if}
    
    #{if configuration.epasParam.periodic}
      <p>Per impostare una validità a tempo indeterminato lasciare vuoto il campo Validità Fine.</p>
    #{/if}
    
    #{if configuration.epasParam.recomputationTypes.empty }
    
      *{
	  <p><i class="fa fa-thumbs-o-up"></i> La modifica del valore di questo parametro non comporta alcun tipo di riconteggio 
	    o sincronizzazione.
	  </p> }*
    #{/if}
    #{else}
      <p><strong>Effetti</strong></p>
	  <p><i class="fa fa-exclamation-triangle"></i> La modifica di questo paramatro comporta la sincronizzazzione per tutti i dipendenti 
	    coinvolti</strong> di tipo:</p>
	    <ul> 
	    #{list items:configuration.epasParam.recomputationTypes, as:'recomputationType'}
	      <li>&{recomputationType}</li>
	    #{/list}
	    </ul>
	    a partire dal primo giorno modificato fino ad oggi.
	   <p><i class="fa fa-bell"></i> Per sicurezza in caso di ricalcoli necessari verrà visualizzato un riepilogo delle modifiche e chiesto un comando di conferma. </p>
    #{/else}
	
	

  #{/alert}