#{extends 'main_with_navbar.html' /}
#{set titolo: 'Gestione parametri di configurazione' /}

<ul class="nav nav-tabs">
  <li class="active"><a href="@{Configurations.insertConfig()}#">Insert config</a></li>
  <li><a href="@{Competences.overtime(year, month)}#">Straordinari</a></li>
  <li><a href="@{Competences.totalOvertimeHours(year, month)}#">Monte ore</a></li>
  <li><a href="@{Competences.recapCompetences()}#">Recap competenze</a></li>
  <li><a href="@{Competences.exportCompetences()}#">Esporta competenze</a></li>
</ul>

#{form @Configurations.saveConfGeneral()}

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Nuova Configurazione Generale Istituto</legend>
  <table class="table tablenoborder">
    <tr>
	  <td class="span7">Data di inizio uso di questo programma</td>
	  <td> <input type="text" name="confGeneral.initUseProgram"  class="span2" id="datepicker1" data-date-format="dd-mm-yyyy"></td>
    </tr>
    <tr>	
	  <td class="span7">Nome dell'istituto</td>
	  <td><input name="confGeneral.instituteName" type="text"/></td>
    </tr>	
    <tr>	
      <td class="span7">Email a cui può essere inviato un messaggio in caso di password dimenticata</td>
      <td><input name="confGeneral.emailToContact" type="email"/></td>
    </tr>
    <tr>	
      <td class="span7">Codice sede</td>
      <td><input name="confGeneral.seatCode" type="number" min="0"/></td>
    </tr>
    <tr>	
      <td class="span7">URL per gestione attestato presenza dell'amministrazione centrale </td>
      <td><input class="span3" name="confGeneral.urlToPresence" type="text"/></td>
    </tr>
    <tr>	
      <td class="span7">User per gestione attestato presenza dell'amministrazione centrale</td>
      <td><input name="confGeneral.userToPresence" type="text"/></td>
    </tr>
    <tr>	
      <td class="span7">Password per gestione attestato presenza dell'amministrazione centrale</td>
      <td><input name="confGeneral.passwordToPresence" type="text"/></td>
    </tr>
    <tr>	
      <td class="span7">Numero di colonne di entrata/uscita da visualizzare</td>
      <td><input class="span1" name="confGeneral.numberOfViewingCoupleColumn" type="number"/></td>
    </tr>
    <tr>
      <td>Festa del patrono (giorno)</td>
      <td><input class="span1" name="confGeneral.dayOfPatron" type="number" min="1" max="31"/></td>
    </tr>
    <tr>
      <td>Festa del patrono (mese)</td>
      <td><input class="span1" name="confGeneral.monthOfPatron" type="number" min="1" max="12"/></td>
    </tr>
    
    <tr>
      <td>Autorizzazione timbratura via web</td>
      <td>
        Sì<input type="radio" name="confGeneral.webStampingAllowed" value="true"/>
     	No<input type="radio" name="confGeneral.webStampingAllowed" value="false"/>
      </td>
    </tr>
    
    <tr>
      <td>Indirizzi abilitati alla timbratura via web</td>
      <td><textarea id="timbraturaWeb"title="indirizziWeb" rows="2" cols="40"></textarea></td>
    </tr>
  </table>  
  
  <div class="buttoncenter"><input class="btn btn-primary" type="submit" value="Salva"/></div>
</fieldset>


#{/form}

#{form @Configurations.saveConfYear()}

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Nuova Configurazione Annuale</legend>
  <table class="table tablenoborder">
  <tr>
    <td><input class="span1" name="confYear.year" type="number"/></td>
    <td>Anno configurazione</td>
  </tr>	
  <tr>
    <td><input class="span1" name="confYear.monthExpiryVacationPastYear" type="number" min="1" max="12" /></td>
    <td>Mese scadenza ferie dell'anno precedente (mm)</td>
  </tr>	
  <tr>	
    <td><input class="span1" name="confYear.dayExpiryVacationPastYear" type="number" min="1" max="31" /></td>
    <td>Giorno scadenza ferie dell'anno precedente (dd)</td>
  </tr>						
  <tr>
    <td><input class="span1" name="confYear.monthExpireRecoveryDaysOneThree" type="number" min="0" max="12" /></td>
    <td>Mese entro il quale devono essere usati i residui dell'anno precedente per i livelli da 1 a 3 (mm) 00=i recuperi devono essere presi nell'anno. (0 == indefinito)</td>
  </tr>						
  <tr>
    <td><input class="span1" name="confYear.monthExpireRecoveryDaysFourNine" type="number" min="0" max="12" /></td>
    <td>Mese entro il quale devono essere usati i residui dell'anno precedente per i livelli da 4 a 9 (mm) 00=i recuperi devono essere presi nell'anno. (0 == indefinito)</td>
  </tr>						
  <tr>	
    <td><input class="span1" name="confYear.maxRecoveryDaysOneThree" type="number" min="0" max="365" /></td>
    <td>Numero massimo di giorni di recupero in un anno per i livelli da 1 a 3 (0 == indefinito)</td>
  </tr>						
  <tr>
    <td><input class="span1" name="confYear.maxRecoveryDaysFourNine" type="number" min="0" max="365" /></td>
    <td>Numero massimo di giorni di recupero in un anno per i livelli da 4 a 9 (0 == indefinito)</td>
  </tr>					
  </table>
  <div class="buttoncenter"><input class="btn btn-primary" type="submit" value="Salva"/></div>
   
</fieldset>


#{/form}


#{form @Configurations.saveConfPeriod()}

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Nuova Configurazione Periodica</legend>
  <table class="table tablenoborder">
  <tr>
	<td class="span7">Inizio periodo (compreso)</td>
	<td> <input type="text" name="confGeneral.dateFrom"  class="span2" id="datepicker2" data-date-format="dd-mm-yyyy"></td>
  </tr>
  <tr>
	<td class="span7">Fine periodo (compreso)</td>
	<td> <input type="text" name="confGeneral.dateTo"  class="span2" id="datepicker3" data-date-format="dd-mm-yyyy"></td>
  </tr>
  <tr>
    <td class="span7">Default tempo di lavoro giornaliero per avere il buono pasto (in minuti)</td>
    <td><input class="span1" name="confPeriod.workingTimeToHaveMealTicket" type="text" size="10" maxlength="100"/></td> 
  </tr>	
  <tr>	
    <td class="span7">Default tempo intervallo pasto (in minuti)</td>
    <td><input class="span1" name="confPeriod.mealTime" type="number" size="10" maxlength="100"/></td>
  </tr>	
  <tr>	
    <td class="span7">Inizio orario pausa pranzo (HH:mm)</td>
    <td>
      <input class="span1" name="confPeriod.mealTimeStartHour" type="number" min="0" max="23" />
      <input class="span1" name="confPeriod.mealTimeStartMinute" type="number" min="0" max="59" />
    </td>
  </tr>	
  <tr>	
    <td class="span7">Fine orario pausa pranzo (HH:mm)</td>
    <td>
      <input class="span1" name="confPeriod.mealTimeEndHour" type="number" min="0" max="23" />
      <input class="span1" name="confPeriod.mealTimeEndMinute" type="number" min="0" max="59" />
  </td>
  </tr>	
  </table>
  <div class="buttoncenter"><input class="btn btn-primary" type="submit" value="Salva"/></div>
   
</fieldset>


#{/form}