#{extends 'modal.html' /}
#{set modalHeader: 'Inserisci parametri per anno: ' +year+ ' per istituto: ' +office.name /}
#{if message != ''}
<div class="panel-group" id="accordionUpdateSource">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionUpdateSource" href="#collapseUpdateSource">
            <strong>Attenzione</strong>
          </a>
        </h4>
      </div>
      <div id="collapseUpdateSource" class="panel-collapse collapse out">
        <div class="panel-body">
          <p>
          	Il database contiene già una configurazione per l'anno ${year} relativa all'ufficio: <br> <strong>${office.name}</strong>. <br>
          	I valori della configurazione, popolano già i campi richiesti da riempire. <br> 
          	Continuando, verranno sovrascritti tali valori con quelli che verranno definiti. <br>
          	Se non si intende continuare, è sufficiente uscire da questa finestra. 
  		  </p> 
  		  
        </div>
      </div>
    </div>
  </div>
#{/if}
#{form @Configurations.saveNewConfYear()}
<div class="container-fluid center">

	<input type="hidden" name="year" value="${year}"/>
	<input type="hidden" name="id" value="${office.id}"/>
	<table class="table table-condensed table-hover table-xeditable">
		<tr>
			<td>Giorno massimo utilizzo ferie dell'anno precedente</td>
			<td><input datepicker-month class="form-control" placeholder="${dayExpiryVacationPastYear.fieldValue}/${monthExpiryVacationPastYear.fieldValue}"  type="text" name="giornoMassimoFerieAnnoPrecedente"  required></td>
		</tr>
		<tr>
			<td>Limite utilizzo residui dell'anno precedente per i livelli da 1 a 3</td>
			<td>
			#{select 'residuiAnnoPrecedente13', value: templateUtility.monthNameByString(monthExpireRecoveryDaysOneThree.fieldValue), class:'col-xs-12', id:'residuiAnnoPrecedente13', 
		    style:'margin-bottom: 10px;', onclick:'Change();'}
		    #{list items: mesi, as:'mese'} 
	           #{option mese}${mese} #{/option}
		      #{/list}
		    #{/select}
		    </td>
		</tr>
		<tr>
			<td>Limite utilizzo residui dell'anno precedente per i livelli da 4 a 9</td>
			<td>
			#{select 'residuiAnnoPrecedente49', value: templateUtility.monthNameByString(monthExpireRecoveryDaysFourNine.fieldValue), class:'col-xs-12', id:'residuiAnnoPrecedente49', 
		    style:'margin-bottom: 10px;', onclick:'Change();'}
		    #{list items: mesi, as:'mese'} 
	           #{option mese}${mese} #{/option}
		      #{/list}
		    #{/select}
		    </td>
		</tr>
		<tr>
			<td>Numero massimo di giorni di recupero in un anno per i livelli da 1 a 3 (0 se illimitati)</td>
			<td><input type="text" name="giorniRecupero13" placeholder="${maxRecoveryDaysOneThree.fieldValue}"
			required data-toggle="tooltip" data-placement="left" title="Quanti giorni di recupero possono usufruire al massimo i dipendenti con qualifica da 1 a 3">
			</td>
		</tr>
		<tr>
			<td>Numero massimo di giorni di recupero in un anno per i livelli da 4 a 9 (0 se illimitati)</td>
			<td><input type="text" name="giorniRecupero49"  placeholder="${maxRecoveryDaysFourNine.fieldValue}"
			required data-toggle="tooltip" data-placement="left" title="Quanti giorni di recupero possono usufruire al massimo i dipendenti con qualifica da 4 a 9">
			</td>
		</tr>
		<tr>
			<td>Limite orario massimo per timbratura notturna</td>
			<td><input type="text" name="oreTimbraturaNotturna"  placeholder="${hourMaxToCalculateWorkTime.fieldValue}"
			required data-toggle="tooltip" data-placement="left" title="Orario massimo entro cui far calcolare orario di lavoro se ultima timbratura di uscita è nel giorno successivo">
			</td>
		</tr>

	</table>
	
<input class="btn btn-primary" type="submit" value="Ok"/>
#{/form}
</div>

