#{extends 'main.html' /}

<h2 id="titoloInserimentoCausaliUscita">Inserisci una nuova causale di uscita</h2>

<table>
  <tr>
    <th>Causale</th>
    <th>Descrizione</th>
    <th>Inizio validità</th>
    <th>Fine validità</th>
    <th>Gestione</th>
    <th>Uso codici</th>
    <th>Se prima entrata</th>
    <th>Se prima uscita</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<input type="submit" value="Ok"/>
<input type="submit" value="Annulla"/>


