#{extends 'main.html' /}

<h3 id="gestioneConfigurazioneParametri">Gestione configurazione parametri</h3>

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h4 id="configurazioniEsistenti">Configurazioni esistenti</h4>

<p><a href="@{Configurations.insertConfig}">Inserisci una nuova configurazione</a></p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  %{ for(conf in configList){
  }%
  <tr>
    <td>${conf.id}</td>
    <td><a href="@{Configurations.edit(conf.id)}">${conf.beginDate.convertToLocalDate()}</a></td>
  </tr>
  %{
  }
  }%
</table>

