#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Parametri di configurazione' /}

<ul class="nav nav-tabs">
  <li class="active"><a href="@{Configurations.showConfGeneral()}#">Parametri Generali</a></li>
  <li><a href="@{Configurations.showConfYear()}#">Parametri Annuali</a></li>
</ul>

<div class="container">
  <br>
  <div class="center">
	  #{form action:@Configurations.showConfGeneral(), role:'form', class:'form-inline', 
	    method:'GET', autocomplete:'off',
	    'data-reload':'#results'}
	    
	       <div class="form-group">
	        <label class="hidden-xs hidden-sm" for="dip">Sede </label>
	        <select name="officeId" class="form-control" id="dip" >
	            #{list items:offices, as:'officeItem'}
	              <option value="${officeItem.id}" #{if officeItem.id.equals(office.id) } selected="selected" #{/if} >
	                ${officeItem.name}
	              </option>
	            #{/list}
	        </select>
	      </div>
	       
	      <button type="submit" class="btn btn-default">Invio</button>
	  #{/form}
  </div>

  <section id="results">
  
  <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge">1</span> Configurazione Generale Istituto</h3>
      </div>
      <div class="panel-body">
  		<table class="table table-condensed table-hover table-xeditable">
          <tr>
	        <td class="col-sm-6">Data di inizio uso di questo programma</td>
	        <td class="col-sm-6"><strong>${initUseProgram.fieldValue}</strong></td>
          </tr>
          <tr>
            <td class="col-sm-6">Festa del patrono</td>
            <td class="col-sm-6">
 			<strong>
		          <a href="#"
		           data-x-editable 
		           data-type="combodate"
		           data-format="DD/MM"
		           data-template="DD MM"
		           data-pk="${office.id}"
		           data-value="${dayOfPatron?.fieldValue} ${monthOfPatron?.fieldValue}"
		           data-url="@{savePatron()}"></a>
		    </strong>
            <strong></strong></td>
          </tr>
        </table>  
  	  </div>
  	</div>
  <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge">2</span> Gestione Timbrature</h3>
      </div>
      <div class="panel-body">
  
		  <table class="table table-condensed table-hover table-xeditable">
		    <tr>
		      <td class="col-sm-6">Autorizzazione timbratura via web</td>
		      <td class="col-sm-6">
		        <strong>
		          <a href="#" 
		          id="select1" 
		          data-type="select" 
		          data-name="${webStampingAllowed?.field}"
			  	  data-pk="${office.id}" 
		          data-value="['${webStampingAllowed.fieldValue}']"
		          data-source="[{'true': 'SI'},{'false': 'NO'}]" 
		          data-url="@{saveConfGeneral()}" 
		          class="editable editable-click"></a>
		        </strong>
		      </td>
		    </tr>
		    <tr>
		      <td class="col-sm-6">Indirizzi IP autorizzati per timbratura via web</td>
		      <td class="col-sm-6">
		        <strong>
		      	  <a href="#" 
		      	    id="textComments1" 
		      	    data-type="textarea" 
		     	    data-name="addresses_allowed"
			  	    data-pk="${office.id}"  
			  	    data-value="['${addressesAllowed?.fieldValue}']"
		      	    data-title="Inserire un indirizzo IP per linea"
		      	    data-url="@{saveConfGeneral()}" 
		      	    class="editable editable-pre-wrapped editable-click">
		      	  </a>  
		        </strong>
		      </td>
		    </tr>
		  </table>  
	  </div>
	</div>
	
  <br>
	
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge">2</span> Gestione Buoni Mensa</h3>
      </div>
      <div class="panel-body">
  
		  <table class="table table-condensed table-hover table-xeditable">
		    <tr>
		      <td class="col-sm-6">Data inizio gestione Ticket Restaurant</td>
		      <td class="col-sm-6">
				<a href="#" 
				   id="dob1" 
				   data-type="combodate" 
				   data-value="#{if dateStartMealTicket.fieldValue != null}${dateStartMealTicket.fieldValue}#{/if}"
				   data-format="YYYY-MM-DD" 
				   data-viewformat="DD/MM/YYYY" 
				   data-template="D / MMM / YYYY" 
		     	   data-name="${dateStartMealTicket?.field}"
			  	   data-pk="${office.id}" 
				   data-title="Select Date of birth" 
				   data-url="@{saveConfGeneral()}" 
				   class="editable editable-click">${dateStartMealTicket.fieldValue}</a>
		      </td>
		    </tr>
		    
		  </table>  
	  </div>
	</div>

  <br>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="badge">3</span> Parametri applicazione</h3>
      </div>
      <div class="panel-body">

		 <table class="table table-condensed table-hover table-xeditable">
		    <tr>	
		      <td class="col-sm-6">URL per gestione attestato presenza dell'amministrazione centrale </td>
		      <td class="col-sm-6">
		        <strong><a href="#" id="simpleText1" 
		        		   data-type="text" 
		     			   data-name="${urlToPresence?.field}"
			  			   data-pk="${office.id}" 		        		
		                   data-url="@{saveConfGeneral()}" 
		                   class="editable editable-click">
		          			${urlToPresence.fieldValue}
		        </a></strong>
		      </td>
		    </tr>
		    <tr>	
		      <td class="col-sm-6">User per gestione attestato presenza dell'amministrazione centrale</td>
		      <td class="col-sm-6"><strong>
		      	<a href="#" 
		      	id="simpleText2" 
		      	data-type="text" 
				data-name="${userToPresence?.field}"
				data-pk="${office.id}" 
		      	data-url="@{saveConfGeneral()}" 
		      	class="editable editable-click">${userToPresence.fieldValue}</a></strong></td>
		    </tr>
		    <tr>	
		      <td class="col-sm-6">Password per gestione attestato presenza dell'amministrazione centrale</td>
		      <td class="col-sm-6"><strong>
		      	<a href="#" 
		      	id="simpleText3" 
		      	data-type="text" 
		        data-name="${passwordToPresence?.field}"
			    data-pk="${office.id}" 
		      	data-url="@{saveConfGeneral()}" 
		      	class="editable editable-click">${passwordToPresence.fieldValue}
		      	</a></strong></td>
		    </tr>
		    <tr>	
		      <td class="col-sm-6">Numero di colonne di entrata/uscita da visualizzare</td>
		      <td class="col-sm-6">
		        <strong>
		      	   <a href="#" 
			          id="select2" 
		              data-type="select" 
		              data-name="${numberOfViewingCouple?.field}"
			          data-pk="${office.id}"  
		              data-value="[${numberOfViewingCouple.fieldValue}]"
		              data-source="[{1: '1'},{2: '2'},{3: '3'},{4: '4'},{5: '5'}]" 
		              data-url="@{saveConfGeneral()}" 
		              class="editable editable-click"></a>
		        </strong>
		      </td>
		    </tr>
		     <tr>	
		      <td class="col-sm-6">Invio email di avviso agli utenti</td>
		      <td class="col-sm-6">
		        <strong>
		      	   <a href="#" 
			          id="select3"
			          data-name="send_email"
			          data-pk="${office.id}" 
		              data-type="select" 
		              data-value="['${sendEmail?.fieldValue}']"
		              data-source="[{true: 'Attivo'},{false: 'Inattivo'}]" 
		              data-url="@{saveConfGeneral()}" 
		              class="editable editable-click"></a>
		        </strong>
		      </td>
		    </tr>
		  </table>  
	  </div>
	</div>

<br>

<!-- DA IMPLEMENTARE 
<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Finestra per pausa pranzo</legend>
  <div class="container span10">
  <div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" 	href="#collapseOne">
        <p class="text-error"><strong>Importante</strong></p>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse out">
      <div class="accordion-inner">
        <p>
          Settare i valori della finestra temporale entro cui il dipendente deve effettuare la pausa pranzo (es. l'orario d'apertura mensa interna all'area).<br>
          Attualmente l'algoritmo si accontenta di trovare una uscita entro tale finestra, indipendentementa dall'ora specifica in cui il dipendente effettuerà il corrispettivo reingresso
         (confrontarsi con le amministrazioni del personale).
         <br>
         <br>
         Questo parametro è il valore di default per l'Istituto. <br>
         Se si desidera modificare la finestra per pausa pranzo del singolo dipendente modificare il piano orario specifico della persona. <br>
         La modifica di questo parametro provoca l'aggiornamento dei piani orario di tutti i dipendenti con contratto attivo alla data specificata a partire dalla quale verrà considerata nel calcolo dell'orario di lavoro e del buono pasto la nuova finestra temporale inserita.
          
         
        </p>
      </div>
    </div>
  </div>
  </div>
  
  <table class="table tablenoborder">
    <tr>	
      <td class="span7">Inizio pausa pranzo</td>
      <td>Ore:</td>
      <td>Minuti:</td>
    </tr>
    <tr>	
      <td class="span7">Fine pausa pranzo</td>
      <td>Ore:</td>
      <td>Minuti:</td>
    </tr>
    
  </table>  
  </div> 
</fieldset>

 -->
 </section>
</div>