#{extends 'main_with_navbar.html' /}
#{set titolo: 'Gestione parametri di configurazione' /}

<ul class="nav nav-tabs">
  <li class="active"><a href="@{Configurations.showConfGeneral()}#">Parametri Istituto</a></li>
  <li><a href="@{Configurations.showConfYear()}#">Parametri Annuali</a></li>
</ul>
<div class="container" style="padding-left:200px;">
#{form action:@Configurations.showConfGeneral(), class:'form', 
    method:'GET', autocomplete:'off',
    'data-reload':'#results'}
    
    <select style='display:inline;' name="officeid" class="input-medium span2">
      #{list items:offices, as:'office'}
        <option value="${office.id}" >${office.name}</option>
      #{/list}
	</select>
    

#{/form}
</div>
<div class="container">
<section id="results">

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Configurazione Generale Istituto (Parametri non modificabili)</legend>
  <table class="table tablenoborder">
    <tr>
	  <td class="span7">Data di inizio uso di questo programma</td>
	  <td><strong>${initUseProgram.fieldValue}</strong></td>
    </tr>
    <tr>	
	  <td class="span7">Nome dell'istituto</td>
	  <td><strong>${instituteName.fieldValue}</strong></td>
    </tr>	
    <tr>	
      <td class="span7">Codice sede</td>
      <td><strong>${seatCode.fieldValue}</strong></td>
    </tr>
    <tr>
      <td>Festa del patrono</td>
      <td><strong>${dayOfPatron.fieldValue} / ${monthOfPatron.fieldValue}</strong></td>
    </tr>
  </table>  
</fieldset>

<br>

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Gestione Timbrature</legend>
  <table class="table tablenoborder">
    <tr>
      <td class="span7">Autorizzazione timbratura via web</td>
      <td>
        <strong>
          <a href="#" 
          id="select1" 
          data-type="select" 
          data-pk="${webStampingAllowed.id}" 
          data-value="['${webStampingAllowed.fieldValue}']"
          data-source="[{'true': 'SI'},{'false': 'NO'}]" 
          data-url="@{saveConfGeneral()}" 
          class="editable editable-click"></a>
        </strong>
      </td>
    </tr>
    <tr>
      <td class="span7">Indirizzi IP autorizzati per timbratura via web</td>
      <td>
        <strong>
      	  <a href="#" 
      	    id="textComments1" 
      	    data-type="textarea" 
      	    data-pk="todo" 
      	    data-title="Inserire un indirizzo IP per linea"
      	    data-url="@{saveConfGeneral()}" 
      	    class="editable editable-pre-wrapped editable-click">
      	    
      	  </a>  
        </strong>
      </td>
    </tr>
  </table>  
</fieldset>

<br>

<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Parametri applicazione</legend>
  <table class="table tablenoborder">
    <tr>	
      <td class="span7">URL per gestione attestato presenza dell'amministrazione centrale </td>
      <td><strong><a href="#" id="simpleText1" data-type="text" data-pk="${urlToPresence.id}" data-url="@{saveConfGeneral()}" class="editable editable-click">${urlToPresence.fieldValue}</a></strong></td>
    </tr>
    <tr>	
      <td class="span7">User per gestione attestato presenza dell'amministrazione centrale</td>
      <td><strong><a href="#" id="simpleText2" data-type="text" data-pk="${userToPresence.id}" data-url="@{saveConfGeneral()}" class="editable editable-click">${userToPresence.fieldValue}</a></strong></td>
    </tr>
    <tr>	
      <td class="span7">Password per gestione attestato presenza dell'amministrazione centrale</td>
      <td><strong><a href="#" id="simpleText3" data-type="text" data-pk="${passwordToPresence.id}" data-url="@{saveConfGeneral()}" class="editable editable-click">${passwordToPresence.fieldValue}</a></strong></td>
    </tr>
    <tr>	
      <td class="span7">Numero di colonne di entrata/uscita da visualizzare</td>
      <td>
        <strong>
      	   <a href="#" 
	          id="select2" 
              data-type="select" 
              data-pk="${numberOfViewingCouple.id}" 
              data-value="[${numberOfViewingCouple.fieldValue}]"
              data-source="[{1: '1'},{2: '2'},{3: '3'},{4: '4'},{5: '5'}]" 
              data-url="@{saveConfGeneral()}" 
              class="editable editable-click"></a>
        </strong>
      </td>
    </tr>
  </table>  
</fieldset>

<br>

<!-- DA IMPLEMENTARE 
<fieldset style="margin-left:100px; margin-right:100px;">
  <legend>Finestra per pausa pranzo</legend>
  <div class="container span10">
  <div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" 	href="#collapseOne">
        <p class="text-error"><strong>Importante</strong></p>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse out">
      <div class="accordion-inner">
        <p>
          Settare i valori della finestra temporale entro cui il dipendente deve effettuare la pausa pranzo (es. l'orario d'apertura mensa interna all'area).<br>
          Attualmente l'algoritmo si accontenta di trovare una uscita entro tale finestra, indipendentementa dall'ora specifica in cui il dipendente effettuerà il corrispettivo reingresso
         (confrontarsi con le amministrazioni del personale).
         <br>
         <br>
         Questo parametro è il valore di default per l'Istituto. <br>
         Se si desidera modificare la finestra per pausa pranzo del singolo dipendente modificare il piano orario specifico della persona. <br>
         La modifica di questo parametro provoca l'aggiornamento dei piani orario di tutti i dipendenti con contratto attivo alla data specificata a partire dalla quale verrà considerata nel calcolo dell'orario di lavoro e del buono pasto la nuova finestra temporale inserita.
          
         
        </p>
      </div>
    </div>
  </div>
  </div>
  
  <table class="table tablenoborder">
    <tr>	
      <td class="span7">Inizio pausa pranzo</td>
      <td>Ore:</td>
      <td>Minuti:</td>
    </tr>
    <tr>	
      <td class="span7">Fine pausa pranzo</td>
      <td>Ore:</td>
      <td>Minuti:</td>
    </tr>
    
  </table>  
  </div> 
</fieldset>

 -->
 </section>
</div>