*{ item: il gruppo
edit: se voglio il link a edit

}*

<h4 style="color: black">
  <i class="fa fa-users"></i>
  #{if _edit}
  #{secure.check 'Groups.edit', target:_item.manager.getCurrentOffice().get()}
  <a class="list-group-item-heading" href="@{edit(_item.id)}" data-async-modal="#modalInsertBadgeReader">
    #{/secure.check}
    ${_item.name}</a>
  #{/if}
  #{else}
  ${_item.name}
  #{/else}
</h4>
<div class="container">

  <p>
    <strong><i class="fa fa-star"></i> Responsabile</strong>
    <span class="label label-primary">${_item.manager.getFullname()}</span>
  </p>

  <p>
    <strong><i class="fa fa-list-ul"></i> Appartenenti al gruppo</strong>
    #{list items:_item.people, as:'person'}
    <span class="label label-primary">${person.getFullname()}</span>
    #{/list}
  </p>

</div>