<h2>&{actionSelected+'.table'}</h2>

#{accordionGroup 'generalSetting'}
  #{accordionItem 'registrySynchSettings', parent:'generalSetting', title:'Sincronizzazione anagrafica', open:true}
  	#{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
  		#{f.hidden 'generalSetting.id' /}
  		#{alert color:'info'}Abilita la sincronizzazione dei badge di tutti gli uffici con l'anagrafica centrale#{/alert}
		#{f.booleanRadio 'generalSetting.syncBadgesEnabled' /}
		#{alert color:'info'}Abilita la sincronizzazione delle persone con l'anagrafica centrale verificando la
		presenza della persona in ePAS e la sua attuale apppartenza all'ufficio corretto.#{/alert}
  		#{f.booleanRadio 'generalSetting.syncOfficesEnabled' /}
  		<!--  #{f.booleanRadio 'generalSetting.syncPersonsEnabled' /}  -->
  		
        #{b.buttons}
        	#{b.save /}
        #{/b.buttons}
  	#{/form}
  #{/accordionItem}
  #{accordionItem 'registryToSendData', parent:'generalSetting', title:'Tipologia invio dati di fine mese', open:true}
  	#{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
  		#{f.hidden 'generalSetting.id' /}
  		#{alert color:'info'}Abilita l'invio solo dei buoni pasto in fase di invio dati a fine mese #{/alert}
		#{f.booleanRadio 'generalSetting.onlyMealTicket' /}
  		
        #{b.buttons}
        	#{b.save /}
        #{/b.buttons}
  	#{/form}
  #{/accordionItem}
    #{accordionItem 'shiftTimeTable', parent:'generalSetting', title:'Orari per attribuzione codici di turno', open:true}
  	#{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
  		#{f.hidden 'generalSetting.id' /}
  		#{alert color:'info'}Specifica gli orari di inizio e fine delle fasce per i codici di turno #{/alert}
		#{f.input 'generalSetting.startDailyShift', type:text /}
		#{f.input 'generalSetting.endDailyShift', type:text /}
		#{f.input 'generalSetting.startNightlyShift', type:text /}
		#{f.input 'generalSetting.endNightlyShift', type:text /}
  		
        #{b.buttons}
        	#{b.save /}
        #{/b.buttons}
  	#{/form}
  #{/accordionItem}
    #{accordionItem 'handleGroupsByInstitute', parent:'generalSetting', title:'Gestione gruppi per istituto', open:true}
  	#{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
  		#{f.hidden 'generalSetting.id' /}
  		#{alert color:'info'}Permette la gestione dei gruppi su base di istituto. Se messo a "no", la gestione dei gruppi è in base alla sede. #{/alert}
		#{f.booleanRadio 'generalSetting.handleGroupsByInstitute' /}
  		
        #{b.buttons}
        	#{b.save /}
        #{/b.buttons}
  	#{/form}
  #{/accordionItem}
#{/accordionGroup}
