<h2>&{actionSelected+'.table'}</h2>

#{accordionGroup 'generalSetting'}

  #{accordionItem 'epasServiceIntegration', parent:'generalSetting', title:'Integrazione con epas-service', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}
        Abilita l'integrazione con il microservizio epas-service.
      #{/alert}
      #{alert color:'warning'}
        Attivando questa integrazione alcune operazioni saranno eseguita dal microservizio epas-service
        invece che direttamente da ePAS. 
        <p>
          epas-service è ancora in fase di sviluppo e le sue integrazioni/funzionalità sono <em>in progress</em>.
        </p>
        <p>
          epas-service è un servizio a se stante con una propria installazione e configurazione, vedi 
          <a href="https://github.com/consiglionazionaledellericerche/epas-service" target="_new">https://github.com/consiglionazionaledellericerche/epas-service</a> 
        </p>
        <p>
          <strong>Questa integrazione è utilizzabile solo se l'utente ha fatto login tramite OAuth.</strong>
        </p>
      #{/alert}
      #{f.booleanRadio 'generalSetting.epasServiceEnabled' /} 
      #{f.input 'generalSetting.epasServiceUrl', type:text /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}

  #{accordionItem 'epasHelpdeskServiceIntegration', parent:'generalSetting', title:'Integrazione con epas-helpdesk-service', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}
        Abilita l'integrazione con il microservizio epas-helpdesk-service.
      #{/alert}
      #{alert color:'warning'}
        <p>
        epas-helpdesk-service è ancora in fase di sviluppo e le sue integrazioni/funzionalità sono <em>in progress</em>.
        </p>
        <p>
          epas-helpdesk-service è un servizio a se stante con una propria installazione e configurazione, vedi 
          <a href="https://github.com/consiglionazionaledellericerche/epas-helpdesk-service" target="_new">https://github.com/consiglionazionaledellericerche/epas-helpdesk-service</a> 
        </p>

        <p>
        Attivando questa integrazione le operazioni di invio dei feedback degli utenti saranno eseguite
        dal microservizio epas-helpdesk-service invece che direttamente da ePAS.
        </p>
        <p>
          <strong>Questa integrazione è utilizzabile solo se l'utente ha fatto login tramite OAuth.</strong>
        </p>
      #{/alert}
      #{f.booleanRadio 'generalSetting.epasHelpdeskServiceEnabled' /} 
      #{f.input 'generalSetting.epasHelpdeskServiceUrl', type:text /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
    <div class="center">
       <a class="btn btn-warning btn-xs" href="@{Administration.epasHelpdeskServiceConfig()}" 
         data-async-modal="#defaultModal" color="warning" title="Vedi configurazione">
         Verifica configurazione servizio
       </a>
    </div>
  #{/accordionItem}

  #{accordionItem 'privacyPolicySettings', parent:'generalSetting', title:'Impostazioni Privacy Policy', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}
        Abilita la visualizzazione del Banner con la richiesta di approvazione della Privacy Policy.
      #{/alert}
      #{f.booleanRadio 'generalSetting.cookiePolicyEnabled' /}
      #{f.textArea 'generalSetting.cookiePolicyContent', wysiwyg:true}#{/f.textArea}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'regulationsSettings', parent:'generalSetting', title:'Impostazioni Menu normativa', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}
        Abilita la visualizzazione del menu <em>Normativa</em> a tutti i dipendenti.
      #{/alert}
      #{f.booleanRadio 'generalSetting.regulationsEnabled' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'registrySynchSettings', parent:'generalSetting', title:'Sincronizzazione anagrafica', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita la sincronizzazione dei badge di tutti gli uffici con l'anagrafica centrale#{/alert}
      #{f.booleanRadio 'generalSetting.syncBadgesEnabled' /}
      #{alert color:'info'}Abilita la sincronizzazione delle persone con l'anagrafica centrale verificando la
         presenza della persona in ePAS e la sua attuale apppartenza all'ufficio corretto.#{/alert}
      #{f.booleanRadio 'generalSetting.syncOfficesEnabled' /}
      <!--  #{f.booleanRadio 'generalSetting.syncPersonsEnabled' /}  -->
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'registryToSendData', parent:'generalSetting', title:'Tipologia invio dati di fine mese', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita l'invio solo dei buoni pasto in fase di invio dati a fine mese #{/alert}
      #{f.booleanRadio 'generalSetting.onlyMealTicket' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'shiftTimeTable', parent:'generalSetting', title:'Orari per attribuzione codici di turno', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Specifica gli orari di inizio e fine delle fasce per i codici di turno #{/alert}
      #{f.input 'generalSetting.startDailyShift', type:text /}
      #{f.input 'generalSetting.endDailyShift', type:text /}
      #{f.input 'generalSetting.startNightlyShift', type:text /}
      #{f.input 'generalSetting.endNightlyShift', type:text /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
    #{accordionItem 'enableAbsenceTopLevelRequestAuthorization', parent:'generalSetting',
                     title:'Abilitazione dei flussi di approvazione per i livelli I-III', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Permette di configurazione l'approvazione delle richieste di assenza per i livelli I-III. Se impostato a "no" per i livelli I-III sarà possibile solo configurare le notifiche per le comunicazioni di assenza. #{/alert}
      #{f.booleanRadio 'generalSetting.enableAbsenceTopLevelAuthorization' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}

  #{accordionItem 'handleGroupsByInstitute', parent:'generalSetting', title:'Gestione gruppi per istituto', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Permette la gestione dei gruppi su base di istituto. Se messo a "no", la gestione dei gruppi è in base alla sede. #{/alert}
      #{f.booleanRadio 'generalSetting.handleGroupsByInstitute' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'saturdayHolidayShift', parent:'generalSetting', title:'Gestione sabato per i turni', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Specifica se considerare il sabato come festivo . #{/alert}
      #{f.booleanRadio 'generalSetting.saturdayHolidayShift' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'roundingShiftQuantity', parent:'generalSetting', title:'Tipo di calcolo delle ore di turno', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Specifica se permettere l'arrotondamento per il calcolo delle ore di turno da salvare via approvazione del calendario. #{/alert}
      #{f.booleanRadio 'generalSetting.roundingShiftQuantity' /}  		
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'enableUniqueDailyShift', parent:'generalSetting', title:'Permette un unico slot di turno per la stessa persona nel giorno', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita ad un solo slot di turno per la stessa persona in un giorno. #{/alert}
      #{f.booleanRadio 'generalSetting.enableUniqueDailyShift' /}  		
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'enableIllnessFlow', parent:'generalSetting', title:'Abilita flusso richiesta malattia', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Specifica se abilitare il flusso per la richiesta informativa per malattia. #{/alert}
      #{f.booleanRadio 'generalSetting.enableIllnessFlow' /}  		
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'maxDaysInPastForRestStampings', parent:'generalSetting', title:'Giorni nel passato per timbrature via REST', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Specifica il numero massimo di giorni nel passato per timbrature via REST#{/alert}
      #{f.input 'generalSetting.maxDaysInPastForRestStampings' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'enableCovid19Param', parent:'generalSetting', title:'Abilita parametri auto inserimento Covid19', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita la visualizzazione dei parametri per autoinserimento assenza covid19/covid19bp#{/alert}
      #{f.booleanRadio 'generalSetting.enableAutoconfigCovid19' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'enableSmartworkingParam', parent:'generalSetting', title:'Abilita parametri auto inserimento smartworking', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita la visualizzazione dei parametri per autoinserimento assenza smartworking#{/alert}
      #{f.booleanRadio 'generalSetting.enableAutoconfigSmartworking' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'enableDailyPresenceForManagerParam', parent:'generalSetting', title:'Abilita visualizzazione presenza giornaliera gruppi', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita la visualizzazione della presenza giornaliera dei dipendenti appartenenti a un gruppo#{/alert}
      #{f.booleanRadio 'generalSetting.enableDailyPresenceForManager' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'holidayShiftInNightToo', parent:'generalSetting', title:'Abilita conteggio festivo per tutti gli orari in giorno festivo', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita al conteggio di turno festivo qualsiasi turno svolto nelle 24 ore di un giorno festivo (anche se dovrebbe essere notturno)#{/alert}
      #{f.booleanRadio 'generalSetting.holidayShiftInNightToo' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
    #{accordionItem 'warningInsertPerson', parent:'generalSetting', title:'Avvisa per inserimento nuova unità di personale', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita alla visualizzazione di un alert in caso di inserimento di una nuova persona.#{/alert}
      #{f.booleanRadio 'generalSetting.warningInsertPerson' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  #{accordionItem 'showOvertimeRequest', parent:'generalSetting', title:'Abilita visualizzazione flusso straordinari', open:false}
    #{form action:@saveGeneralSetting(), method:'POST', class:'form form-horizontal'}
      #{f.hidden 'generalSetting.id' /}
      #{alert color:'info'}Abilita la visualizzazione delle opzioni di configurazione per il flusso degli straordinari #{/alert}
      #{f.booleanRadio 'generalSetting.showOvertimeRequest' /}
      #{b.buttons}
        #{b.save /}
      #{/b.buttons}
    #{/form}
  #{/accordionItem}
  
#{/accordionGroup}
