#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Parametri di Configurazione Play' /}

<div class="container">
  <table datatable class="table table-bordered table-hover">
    <caption><h2>&{'configurations.entries'}</h2></caption>
    <thead>
    <tr>
      <th>&{'configuration.entry'}</th>
      <th>&{'configuration.entry.value'}</th>
    </tr>
    </thead>
    <tbody>
    #{list configurations}
    <tr>
      <td>${_.getKey()}</td>
      <td>${_.getValue()}</td>
    </tr>
    #{/list}
    </tbody>
  </table>
</div>
