#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Utility Supreme' /}


<div class="container">

  <h3><i class="fa fa-hand-spock-o"></i> Utility per il Supremo</h3>

  <br>

  <!-- RICALCOLO DEI PERSONDAY -->
  #{panel title:'Ricalcolo dei personDay ', dim:12 }

  #{form @Administration.fixPersonSituation(), class:'form-horizontal'}
  <div class="alert alert-danger">
    Impostare il mese-anno dal quale effettuare i ricalcoli. Per effettuare il ricalcolo per tutti i
    dipendenti lasciare vuoto il campo Dipendente.
  </div>

  #{f.selectModel 'person', items:personList, label:'Dipendente', placeholder:'Vuoto per ricalcolare tutti' /}
  #{f.input 'month', type:'number', label:'Mese' /}
  #{f.input 'year', type:'number', label:'anno' /}
  #{f.booleanRadio 'onlyRecap', label:'Ricalcola soli i riepiloghi', value:false /}

  <input class="btn btn-primary" type="submit" value="Esegui"/>
  #{/form}
  #{/panel}

  <!-- LE TIMBRATURE DISACCOPPIATE -->
  #{panel title:'Eliminazione timbrature disaccoppiate', dim:12 }

  #{form @Administration.deleteUncoupledStampings(),class:'form-horizontal'}
  <div class="col-sm-4">
    #{field 'peopleId'}
    <div class="form-group">
      #{select field.name, id:field.id,class:'form-control', multiple:'',size:'8'}
      #{list personList}
      #{option _.id}${_.fullname}#{/option}
      #{/list}
      #{/select}
    </div>
    #{/field}
  </div>

  <div class="col-sm-4">
    #{field 'begin'}
    <div class="form-group">
      <label for="${field.id}" class="col-sm-1 control-label">Dal</label>
      <div class="col-sm-6">
        <input class="form-control" datepicker-year id="${field.id}" type="text"
               name="${field.name}" value='${field.value?.format()}'>
      </div>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}

    #{field 'end'}
    <div class="form-group">
      <label for="${field.id}" class="col-sm-1 control-label">Al</label>
      <div class="col-sm-6">
        <input class="form-control" datepicker-year id="${field.id}" type="text"
               name="${field.name}" value='${field.value?.format()}'>
      </div>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}

    #{f.booleanRadio 'forAll', label:'Per tutti', value:false /}

    <button type="submit" class="btn btn-default col-sm-offset-1">Elimina timbrature disaccoppiate
    </button>
    #{/form}
  </div>
  
  #{/panel}

  <!-- I day in trouble esistenti -->
  #{panel title:'Fix dei days in trouble', dim:12 }
  #{alert color:'info'}
  <p>Eliminare dal database i giorni con problemi delle persone che non appartengono a nessun
    contratto oppure che sono appartenenti ad un contratto ma precedenti la sua inizializzazione.
  </p>
  #{/alert}
  #{form @Administration.fixDaysInTrouble(),class:'form-horizontal'}
  <button type="submit" class="btn btn-default">Elimina problemi fuori dei contratti</button>
  #{/form}
  #{/panel}

  #{panel title:'Applica il Capitalize ai campi nome e cognome delle Persone', dim:12 }
  #{form @Administration.capitalizePeople(),class:'form-horizontal'}
  <button type="submit" class="btn btn-default">Sistema Nome e Cognome di tutte le persone</button>
  #{/form}
  #{/panel}

  <!-- Cambio del dominio email per le persone di un ufficio -->
  #{panel title:'Cambio dominio email per un Ufficio', dim:12 }
  #{alert color:'info'}
  <p>Questa funzionalità sostituisce il dominio delle email per le persone dell'ufficio selezionato</p>
  #{/alert}
  #{form @Administration.changePeopleEmailDomain(),class:'form-horizontal'}
  #{f.selectModel 'office', items:templateUtility.officesAllowed() /}
  #{f.input 'domain', popover:true/}
  #{f.checkbox 'sendMail' /}
  #{b.buttons center:true}
  <button type="submit" class="btn btn-default">Reimposta dominio email</button>
  #{/b.buttons}
  #{/form}
  #{/panel}
  
  #{panel title:'Assegna competenza su presenza mensile', dim:12 }
  #{alert color:'info'}
  <p>Questa funzionalità permette di ricalcolare e riassegnare le competenze a presenza mensile.<br>
  	 Se si vuole effettuare il ricalcolo per tutti i dipendenti di tutte le sedi, lasciare vuoto il campo Sede.
  </p>
  #{/alert}
  #{form @Administration.applyBonus(), class:'form-horizontal'}
  	#{f.selectModel 'office', items:templateUtility.officesAllowed() /}
  	#{f.selectModel 'code', items:templateUtility.allOnMonthlyPresenceCodes() /}
  	#{f.input 'month', type:'number', label:'Mese' /}
  	#{f.input 'year', type:'number', label:'anno' /}
  	#{b.buttons center:true}
  		<button type="submit" class="btn btn-default">Ricalcola competenza</button>
  	#{/b.buttons}
  #{/form}
  #{/panel}
  
  <!-- Import data fine da attestati (e terminazione degli inattivi) -->
  #{panel title:'Sincronizza data fine con attestati', dim:12 }
  #{alert color:'info'}
  <p>
    Popola il campo data fine contratto nel caso sia da valorizzare. Termina inoltre
    il contratto di coloro che risultano inattivi (non presenti nello stralcio).
    Utilizza il primo stralcio disponibile (mese attuale, mese precedende, mese ancora precedente).
  </p>
  #{/alert}
  #{form @Administration.importCertificationContracts(), class:'form-horizontal'}
  	#{f.selectModel 'office', items:templateUtility.officesAllowed() /}
  	#{b.buttons center:true}
  		<button type="submit" class="btn btn-default">Esegui</button>
  	#{/b.buttons}
  #{/form}
  #{/panel}
  
  <!-- Consistency absence groups -->
  #{panel title:'Stato gruppi assenze e enumerato', dim:12 }
  #{alert color:'info'}
  <p>
    Visualizza la pagina di stato modellazione assenze.
  </p>
  #{/alert}
  #{form @AbsenceGroups.consistencyGroups(), class:'form-horizontal'}
  	#{b.buttons center:true}
  		<button type="submit" class="btn btn-default">Apri</button>
  	#{/b.buttons}
  #{/form}
  #{/panel}

</div>
