*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   personId = session.get("personSelected");
   officeId = session.get("officeSelected");
 }%

<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("uploadData")} class="active" #{/if}>
      <a href="@{UploadSituation.uploadData(officeId)}">Carica Dati</a>
    </li>
    <li #{if _activeAction.equals("checkData")} class="active" #{/if}>
      <a href="@{UploadSituation.checkData(officeId, year, month)}">Verifica Dati</a>
    </li>
    <li #{if _activeAction.equals("createFile")} class="active" #{/if}>
      <a href="@{UploadSituation.createFile(officeId)}">Crea File</a>
    </li>
    <li #{if _activeAction.equals("newAttestati")} class="active" #{/if}>
      <a href="@{Certifications.newAttestati(officeId)}">Nuova procedura attestati</a>
    </li>
  </ul>
</div>
<br>
