#{modalAsync id:'modalInsertInstitute', button:'Elimina', title:'Elimina Badge'}

#{panel title:'Elimina badge' , color:'danger'}
	<div class="alert alert-danger" role="alert">
    		Cliccando su "elimina" si cancellerà l'occorrenza del badge ${badge.code} per <strong>${badge.person.fullname}</strong>
	</div>
	#{form action:@deleteBadge(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }	 
		
		#{f.hidden 'badge.id' /}
	    
		<div class="container-fluid center">
		   <input class="btn btn-danger" type="submit" value="Elimina" />
		</div>      
	#{/form}
		
#{/panel}

#{/modalAsync}