#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Associazione badge ai lettori badge'  /}

#{set breadcrumbs:['Lista persone':@Persons.list(),
  (person.fullname):null] /}

#{breadcrumbs breadcrumbs, noHome:true, container:true /}

#{persons.personsTabs activeAction:'badge' /}

<div class="container">



#{panel title:'Associa badge' , color:'primary'}	  
    <div class="alert alert-warning" role="alert">
    	Specificare il numero badge da associare a <strong>${person.fullname}</strong>
    </div>
    #{form action:@allocateBadge(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }	
		    #{f.hidden 'person.id' /}
		    #{f.input 'badge.code', required:true /}
		    
		    #{f.selectModels 'badgeReader', items:templateUtility.getAllBadgeReader(person), required:true /} 
			
	  #{b.buttons center:true}
	     #{b.save  /}
	  #{/b.buttons}
	#{/form}
#{/panel}

#{panel title:'Lista badge' , color:'primary'}	
    #{if person.badges.size() > 0}
		<div class="alert alert-warning" role="alert">
    		Lista badge già associati a <strong>${person.fullname}</strong>
    	</div>
    	#{list items:person.badges, as:'badge'}
	  		<li><strong>${badge.code}</strong> associato al lettore <strong>${badge.badgeReader.code}</strong></li>
	  	#{/list}
	#{/if}
	#{else}
		<div class="alert alert-warning" role="alert">
    		Non ci sono altri badge associati a <strong>${person.fullname}</strong>
    	</div>
	#{/else}
#{/panel}
</div>
    
