<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Legenda
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>
          <strong><em>Tempo di lavoro giornaliero: </em></strong><br>
          La quantità di tempo in minuti che il dipendente deve effettuare per ogni giorno della settimana.<br>
          Nei giorni festivi questa quantità viene automaticamente impostata a 0. 
        </p>
        <p>
          <strong><em>Tempo di lavoro minimo per diritto a intervallo pranzo: </em></strong><br>
          La quantità di lavoro minima che il dipendente deve aver lavorato per poter usufruire del buono pasto.<br> 
          <em>N.B.</em>
          Se si vuole che il dipendente non usufruisca del buono pasto impostare questo valore a 0 oppure lasciarlo non valorizzato.
        </p>
        <p>
          <strong><em>Durata minima intervallo pranzo: </em></strong><br>
          Il tempo minimo che deve obbligatoriamente trascorrere fra la timbratura di uscita per pranzo e la conseguente timbratura di ingresso.<br>
          <em>N.B.</em>
          Per legge tale quantità minima non può essere inferiore a 30 minuti.
        </p>
  	      </div>
    </div>
  </div>
</div>