	  <h4>Dati di Riepilogo</h4>
	  <table class="table table-hover">
	    <tr>
	      <th class="col-xs-5"></th>
	      <th class="col-xs-1">L</th>
	      <th class="col-xs-1">M</th>
	      <th class="col-xs-1">M</th>
	      <th class="col-xs-1">G</th>
	      <th class="col-xs-1">V</th>
	      <th class="col-xs-1">S</th>
	      <th class="col-xs-1">D</th>
	    </tr>
	   
	    <tr>
	      <td><p class="hidden-xs">Tempo a Lavoro</p><span class="label label-info visible-xs">1</span></td>
	      <td>7:12</td>
	      <td>7:12</td>
	      <td>7:12</td>
	      <td>7:12</td>
	      <td>7:12</td>
	      <td></td>
	      <tD></td>
	    </tr>
	   
	    <tr>
	      <td><p class="hidden-xs">Giorno festivo</p><span class="label label-info visible-xs">2</span></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td></td>
	      <td>x</td>
	      <tD>x</td>
	    </tr>
	    
	    <tr>
	      <td><p class="hidden-xs">Tempo di lavoro minimo per diritto a usufruire del buono pasto</p><span class="label label-info visible-xs">3</span></td>
	      <td>6:00</td>
	      <td>6:00</td>
	      <td>6:00</td>
	      <td>6:00</td>
	      <td>6:00</td>
	      <td></td>
	      <tD></td>
	    </tr>
	    
	    <tr>
	      <td><p class="hidden-xs">Durata minima intervallo pranzo (in minuti)</p><span class="label label-info visible-xs">4</span></td>
	      <td>30</td>
	      <td>30</td>
	      <td>30</td>
	      <td>30</td>
	      <td>30</td>
	      <td></td>
	      <tD></td>
	    </tr>
	  
	    <tr>
	      <td><p class="hidden-xs">Soglia pomeridiana per buono pasto</p><span class="label label-info visible-xs">5</span></td>
	      <td>13:30</td>
	      <td>13:30</td>
	      <td>13:30</td>
	      <td>13:30</td>
	      <td>13:30</td>
	      <td></td>
	      <tD></td>
	    </tr>
	  
	    <tr>
	      <td><p class="hidden-xs">Lavoro minimo per buono pasto dopo soglia pomeridiana (in minuti)</p><span class="label label-info visible-xs">6</span></td>
	      <td>1</td>
	      <td>1</td>
	      <td>1</td>
	      <td>1</td>
	      <td>1</td>
	      <td></td>
	      <tD></td>
	    </tr>
	  </table>
	  
	  <div class="visible-xs">
	    <p><span class="label label-info">1</span>Tempo a lavoro</p>
	    <p><span class="label label-info">2</span>Giorno festivo</p>
	    <p><span class="label label-info">3</span>Tempo di lavoro minimo per diritto a usufruire del buono pasto</p>
	    <p><span class="label label-info">4</span>Durata minima intervallo pranzo</p>
	    <p><span class="label label-info">5</span>Durata minima intervallo pranzo</p>
	    <p><span class="label label-info">6</span>Soglia pomeridiana per buono pasto</p>
	    <p><span class="label label-info">6</span>Lavoro minimo per buono pasto dopo soglia pomeridiana</p>
	  </div>