#{form @WorkingTimes.updateWorkingTime()}

<fieldset>
<legend>Modifica dati dell'orario di lavoro ${wtt.description}</legend>


<input type="hidden" name="wtt.id" value="${wtt.id}"/>
<input type="hidden" name="wttd1.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(1).id}"/>
<input type="hidden" name="wttd2.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(2).id}"/>
<input type="hidden" name="wttd3.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(3).id}"/>
<input type="hidden" name="wttd4.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(4).id}"/>
<input type="hidden" name="wttd5.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(5).id}"/>
<input type="hidden" name="wttd6.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(6).id}"/>
<input type="hidden" name="wttd7.id" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(7).id}"/>

<p class="lead">Nome di questo tipo di orario: <input type="text" name="wtt.description" value="${wtt.description}"/></p>

<table class="table custom1">
	<tr>
		<th></th>
		<th>Lunedì</th>
		<th>Martedì</th>
		<th>Mercoledì</th>
		<th>Giovedì</th>
		<th>Venerdì</th>
		<th>Sabato</th>
		<th>Domenica</th>

	</tr>
	<tr>
			<td class="caratteristica">Tempo lavoro (in minuti)</td>
			<td><input class="span1" type="number" name="wttd1.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(1).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd2.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(2).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd3.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(3).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd4.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(4).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd5.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(5).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd6.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(6).workingTime}"/></td>
			<td><input class="span1" type="number" name="wttd7.workingTime" value="${wtt.getWorkingTimeTypeDayFromDayOfWeek(7).workingTime}"/></td>
			
		</tr>
		<tr>
			<td class="caratteristica">Tempo minimo di lavoro per diritto a intervallo pranzo (in minuti)</td>
			<td><input class="span1" type="number" name="wttd1.mealTicketTime" value="${wtt.getMinimalTimeForLunch(1, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd2.mealTicketTime" value="${wtt.getMinimalTimeForLunch(2, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd3.mealTicketTime" value="${wtt.getMinimalTimeForLunch(3, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd4.mealTicketTime" value="${wtt.getMinimalTimeForLunch(4, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd5.mealTicketTime" value="${wtt.getMinimalTimeForLunch(5, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd6.mealTicketTime" value="${wtt.getMinimalTimeForLunch(6, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd7.mealTicketTime" value="${wtt.getMinimalTimeForLunch(7, wtt)}"/></td>
			
		</tr>
		<tr>
			<td class="caratteristica">Intervallo pranzo (in minuti)</td>
			<td><input class="span1" type="number" name="wttd1.breakTicketTime" value="${wtt.getBreakTime(1, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd2.breakTicketTime" value="${wtt.getBreakTime(2, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd3.breakTicketTime" value="${wtt.getBreakTime(3, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd4.breakTicketTime" value="${wtt.getBreakTime(4, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd5.breakTicketTime" value="${wtt.getBreakTime(5, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd6.breakTicketTime" value="${wtt.getBreakTime(6, wtt)}"/></td>
			<td><input class="span1" type="number" name="wttd7.breakTicketTime" value="${wtt.getBreakTime(7, wtt)}"/></td>

		</tr>
		<tr>
			<td class="caratteristica">Giorno festivo</td>
			
            <td>
			<select name="wttd1.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(1, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(1, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd2.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(2, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(2, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd3.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(3, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(3, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd4.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(4, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(4, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd5.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(5, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(5, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd6.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(6, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(6, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

            <td>
			<select name="wttd7.holiday" class="span1">
              <option value="true"  #{if wtt.getHolidayFromWorkinTimeType(7, wtt)==true } selected="selected" #{/if} >SI</option>
              <option value="false" #{if wtt.getHolidayFromWorkinTimeType(7, wtt)==false} selected="selected" #{/if} >NO</option>
            </select>
			</td>

		</tr>	
</table>

<p style="margin-left: 10px; font-weight:bold;">Può fare i turni
  Sì<input type="radio" name="turni" value="true"/>
  No<input type="radio" name="turni" value="false"/>
</p>

</fieldset>



<div class="buttoncenter forminline">
<input class="btn btn-primary" id="updateWorkingTime" type="submit" value="Aggiorna"/>
#{/form}
#{form @WorkingTimes.discard()}
<input class="btn" id="backUpdate" type="submit" value="Indietro"/>
#{/form}
</div>
</div>