#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'Creazione Tipo Orario verticale per ' + office.name  /}

#{set breadcrumbs:['Tipi Orario':@WorkingTimes.manageWorkingTime(office.id), ('Nuovo tipo orario ' + office.name):null]/}

<div class="container">

  #{breadcrumbs breadcrumbs, noHome:'true' /}

  #{title title:'Creazione Nuovo Tipo Orario Verticale - ' + office.name /}
    
  <h4><strong>Nome orario verticale:</strong> ${name}</h4>
    
  <div id="vertical">
   
    #{alert color:'info'}
	    #{if daysProcessed.size() < 7}
	      <p>Definisci gli orari giornalieri.</p>
	      <p>Definiti: <em><strong>${daysProcessed.size()} su 7</strong></em></p>
	    #{/if}
	    #{else}
	      
	      <div class="center">
	      <p>Tutti i giorni sono stati correttamente definiti. Puoi modificarli cliccando
	      sui singoli giorni oppure creare l'orario definitivamente.</p>
	        <a class="btn btn-primary" href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 1, false, true)}">Crea Orario</a>
	      </div> 
	    #{/else}
    #{/alert}  
    
    <ul class="nav nav-tabs">
      <li role="presentation" #{if step == 1 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 1, true, false)}">Lun #{if daysProcessed.contains(1)} <i class="fa fa-check"></i> #{/if}</a></li>  
      <li role="presentation" #{if step == 2 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 2, true, false)}">Mar #{if daysProcessed.contains(2)} <i class="fa fa-check"></i> #{/if}</a></li>
      <li role="presentation" #{if step == 3 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 3, true, false)}">Mer #{if daysProcessed.contains(3)} <i class="fa fa-check"></i> #{/if}</a></li>
      <li role="presentation" #{if step == 4 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 4, true, false)}">Gio #{if daysProcessed.contains(4)} <i class="fa fa-check"></i> #{/if}</a></li>
      <li role="presentation" #{if step == 5 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 5, true, false)}">Ven #{if daysProcessed.contains(5)} <i class="fa fa-check"></i> #{/if}</a></li>
      <li role="presentation" #{if step == 6 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 6, true, false)}">Sab #{if daysProcessed.contains(6)} <i class="fa fa-check"></i> #{/if}</a></li>
      <li role="presentation" #{if step == 7 } class="active" #{/if}><a href="@{WorkingTimes.insertVerticalWorkingTime(office.id, name, 7, true, false)}">Dom #{if daysProcessed.contains(7)} <i class="fa fa-check"></i> #{/if}</a></li>
    </ul>
    
	<div class="col-md-10 col-md-offset-1">
	
	
	
	<br>
      #{form @WorkingTimes.insertVerticalWorkingTime(), class:'form-horizontal'}
      
        #{f.hidden 'name', value:name /}
      	
      	<input type="hidden" name="officeId" value="${office.id}"/>
  	  	<input type="hidden" name="step" value="${step}"/>
  	  	
  	  	%{ disable = vwt.holiday; }%
      	 
       	  #{workingTime.input
	   		type:'radio', 
	   		title:'Festivo',
	   		color:'info',
	   		field:'vwt.holiday',
	   		value:vwt.holiday,
	   		disabled:disable /} 
      	
      
	      #{workingTime.input 
		    type:'hoursAndMinutes',
		    title:'Tempo lavoro giornaliero', 
		  	color:'info', 
		  	field:'vwt.workingTime',
		  	hourValue:vwt?.workingTimeHour,
		  	minuteValue:vwt?.workingTimeMinute,
		  	disabled:disable  /}
		  		   
		   <!-- Buono pasto -->
	  
	  		#{workingTime.legend buonoPastoAbilitato:'true', wttTips:'true' /}
	  
	  		#{workingTime.input
	   		type:'radio', 
	   		title:'Calcolo Buono Pasto abilitato',
	   		color:'danger',
	   		field:'vwt.mealTicketEnabled',
	   		value:vwt.mealTicketEnabled,
	   		disabled:disable /}  
	   		
	   		<div id="horizontal-mealticket" #{if !vwt.mealTicketEnabled} style="display: none" #{/if}>
	  		#{workingTime.legend buonoPasto:'true', wttTips:'true' /}
	  
      		#{workingTime.input 
	    		type:'hoursAndMinutes', 
	    		title:'Tempo di lavoro minimo per diritto a usufruire del buono pasto', 
	  			color:'danger', 
	  			field:'vwt.mealTicketTime',
	  			hourValue:vwt.mealTicketTimeHour,
	  			minuteValue:vwt.mealTicketTimeMinute,
	  			disabled:disable /}
	  	
	  		#{workingTime.input 
	   			type:'minutes', 
	   			title:'Durata minima intervallo pranzo', 
	   			color:'danger',
	   			field:'vwt.breakTicketTime',
	   			value:vwt.breakTicketTime,
	   			disabled:disable /}
	  
	  		<!-- Soglia buono pasto -->  
	  
	  
	  		#{workingTime.input
	   		type:'radio', 
	   		title:'Condizione soglia pomeridiana attiva',
	   		color:'danger',
	   		field:'vwt.afternoonThresholdEnabled',
	   		value:vwt.afternoonThresholdEnabled,
	   		disabled:disable /}  
	  
	   		<div id="horizontal-afternoon" #{if !vwt.afternoonThresholdEnabled} style="display: none" #{/if}>
	   
	      	#{workingTime.legend sogliaPomeridiana:'true', wttTips:'true' /}
	      	
		  	#{workingTime.input 
		   	type:'hoursAndMinutes',
		   	title:'Soglia pomeridiana per buono pasto',
		   	color:'danger',
		   	field:'vwt.ticketAfternoonThreshold',
		   	hourValue:vwt.ticketAfternoonThresholdHour,
		   	minuteValue:vwt.ticketAfternoonThresholdMinute  /}
		
		  	#{workingTime.input
		   	type:'minutes', 
		   	title:'Lavoro minimo per buono pasto dopo soglia pomeridiana',
		   	color:'danger',
		   	field:'vwt.ticketAfternoonWorkingTime',
		   	value:vwt.ticketAfternoonWorkingTime /}  
			</div>
   			</div>
   			
   			<div class="center">
   			#{if daysProcessed.contains(step) }
   				<input class="btn btn-primary" type="submit" value="Aggiorna"/>
   			#{/if}
   			#{else}
	    		<input class="btn btn-primary" type="submit" value="Crea"/>
	  		#{/else}
	  	    </div>
      #{/form}
	</div>
  </div>
</div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
		
		$('input[type=radio]').click( function() {
			
			var selected = $("input[type='radio']:checked").val();
			if(selected == "true"){
				jQuery("input[type=number]").attr( "disabled", "disabled" );	
				
			}
			else{
				jQuery("input[type=number]").removeAttr("disabled");				
			}		    
		    
		});    
		
		$("input[name='vwt.mealTicketEnabled']").change(function(){
			
			jQuery( "#horizontal-mealticket" ).toggle(0);
		
		});
		

		$("input[name='vwt.afternoonThresholdEnabled']").change(function(){
			
			jQuery( "#horizontal-afternoon" ).toggle(0);
		
		});
	 });
	</script>
#{/set}