#{extends 'modal.html' /}
#{set modalHeader:'Nuovo tipo orario' /}

<div class="container-fluid">

#{form @WorkingTimes.save()}

<fieldset>
<legend>Nuovo tipo orario</legend>


<p class="lead">Nome nuovo tipo di orario <input name="wtt.description" type="text"/></p>


<table class="table custom1">
	<tr>
		<th></th>
		<th>Lunedì</th>
		<th>Martedì</th>
		<th>Mercoledì</th>
		<th>Giovedì</th>
		<th>Venerdì</th>
		<th>Sabato</th>
		<th>Domenica</th>
	</tr>
	<tr>
		<td class="caratteristica">Tempo di lavoro giornaliero (in minuti)</td>
		<td><input class="span1" name="wttd1.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd2.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd3.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd4.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd5.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd6.workingTime" type="number"/></td>
		<td><input class="span1" name="wttd7.workingTime" type="number"/></td>
	</tr>
		<tr>
		<td class="caratteristica">Tempo di lavoro minimo per diritto a intervallo pranzo (in minuti)</td>
		<td><input class="span1" name="wttd1.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd2.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd3.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd4.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd5.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd6.mealTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd7.mealTicketTime" type="number" /></td>
	</tr>
		<tr>
		<td class="caratteristica">Tempo minimo intervallo pranzo (in minuti)</td>
		<td><input class="span1" name="wttd1.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd2.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd3.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd4.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd5.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd6.breakTicketTime" type="number" /></td>
		<td><input class="span1" name="wttd7.breakTicketTime" type="number" /></td>
	</tr>
		<tr>
		<td class="caratteristica">Giorno festivo</td>
		<td><input type="checkbox" name="wttd1.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd2.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd3.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd4.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd5.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd6.holiday" value="true"/></td>
		<td><input type="checkbox" name="wttd7.holiday" value="true"/></td>
	</tr>

</table>
</fieldset>
<div class="buttoncenter forminline">
<input class="btn btn-primary" id="insertWorkingTime" type="submit" value="Ok"/>
#{/form}
#{form @WorkingTimes.discard()}
<input class="btn" id="back" type="submit" value="Indietro"/>
</div>
#{/form}

</div>
