#{extends 'main.html' /}

<h2 id="nuovoOrario">Inserimento dati per nuovo tipo di orario</h2>

<p>Nome nuovo tipo di orario <input name="nuovoOrario" type="text" value="${wtt.description}" size="40" maxlength="200" /></p>

<table>
	<tr>
		<th></th>
		<th>Lunedì</th>
		<th>Martedì</th>
		<th>Mercoledì</th>
		<th>Giovedì</th>
		<th>Venerdì</th>
		<th>Sabato</th>
		<th>Domenica</th>
	</tr>
	<tr>
		<td>Tempo di lavoro giornaliero</td>
		<td><input name="tempoLavoro" type="text" value="${wttd.workingTime}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="text" value="${person.password}" size="40" maxlength="200" /></td>
	</tr>
		<tr>
		<td>Tempo di lavoro minimo per diritto a intervallo pranzo</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<tr>
		<td>Tempo minimo intervallo pranzo</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<tr>
		<td>Giorno festivo</td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
		<td><input name="tempoLavoro" type="radio" value="${person.password}" size="40" maxlength="200" /></td>
	</tr>

</table>