#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione tipi orario'  /}

<div class="container">
  #{title title:'Gestione Dei Tipi Orario' /}
</div>

#{workingTime.workingTimeTabs activeAction:'manageWorkingTime' /}

<div class="container">

  #{panel title:'Tipi Orario Predefiniti CNR', color:'primary'}

  <div class="alert alert-info" role="alert">
    I <strong>tipi orario predefiniti</strong> possono essere assegnati ad ogni dipendente di ogni sede.<br>
    Non possono essere modificati o aggiunti ma possono essere presi ad esempio da parte degli amministratori
    del personale per creare nuovi tipi orario particolari per le sedi amministrate.
  </div>

  #{tabList}
    #{tabItem id:'attivi', title:'Attivi', active:true /}
    #{tabItem id:'inattivi', title:'Disattivati' /}
  #{/tabList}
  
  #{tabContent}
    #{tabContentItem id:'attivi', active:true}
      #{workingTime.defaultWorkingTimes wtts:wttDefault /}
    #{/tabContentItem}
    #{tabContentItem id:'inattivi'}
      #{workingTime.defaultWorkingTimes wtts:wttDefaultDisabled /}
    #{/tabContentItem}
  #{/tabContent}

  #{/panel}
</div>
