#{extends 'main_admin.html' /}


<h2 id="titoloGestioneOrariLavoro">Gestione tipi di orario di lavoro</h2>


<p class="text-info lead"><a href="insertWorkingTime.html">Nuovo orario di lavoro</a></p>

<table class="table table-hover">
	<tr>
		<th>Nome tipo orario</th>
		<th></th>
		<th>Lunedì</th>
		<th>Martedì</th>
		<th>Mercoledì</th>
		<th>Giovedì</th>
		<th>Venerdì</th>
		<th>Sabato</th>
		<th>Domenica</th>
		<th>Default</th>
		<th>Può fare turni</th>
	</tr>
	%{
		for(wtt in wttList){ 
	}%
	<tr>
		<td rowspan=5><a href="@{WorkingTimes.edit(wtt.id)}">${wtt.description}</a></td>
		<tr>
			<td>Tempo lavoro</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(1).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(2).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(3).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(4).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(5).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(6).workingTime}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(7).workingTime}</td>
			<td></td>
			<td></td>
			
		</tr>
		<tr>
			<td>Tempo minimo di lavoro per diritto a intervallo pranzo</td>
			<td>${wtt.getMinimalTimeForLunch(1, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(2, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(3, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(4, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(5, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(6, wtt)}</td>
			<td>${wtt.getMinimalTimeForLunch(7, wtt)}</td>
			<td></td>
			<td></td>
			
		</tr>
		<tr>
			<td>Intervallo pranzo</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Giorno festivo</td>
			<td>${wtt.getHolidayFromWorkinTimeType(1, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(2, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(3, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(4, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(5, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(6, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(7, wtt)}</td>
			<td></td>
			<td></td>
		</tr>

	
	</tr>
	%{
		}
	}%
</table>