#{modalAsync noTitle:'true' }
  
  <div class="text-center">
  #{title title:'Periodi con Tipo Orario ' + wtt.description /}
  </div>
  #{alert color:'info'}
    
    <p>Elenco dei periodi in cui è stato associato il tipo orario <strong>${wtt.description}</strong>
     per le persone attualmente attive di <strong>${office.name}</strong> 
    .</p>
    
  #{/alert}
	<table class="table table-condensed table-hover" datatable>
	  <thead>
		<tr class="warning">
			<th>Nome</th>
			<th>Dal</th>
			<th>Al</th>
		</tr>
	  </thead>
	  <tbody>	
        #{list items:cwttList, as:'cwtt'}
		<tr>
			<td>${cwtt.contract.person.surname} ${cwtt.contract.person.name}</td>
			<td data-order="cwtt.beginDate">${cwtt.beginDate?.format()}</td>
			<td data-order="cwtt.endDate">${cwtt.endDate?.format()}</td>
		</tr>
		#{/list}
	  </tbody>
	</table>

#{/modalAsync}
