#{modalAsync noTitle:'true' }

    <div class="text-center">
      #{title title:'Visualizza Tipo Orario ' + wtt.description /}
    </div>
  
    <table id="table-wtt" class="table center table-hover">
  
    <tr class="info">
		<th></th>
		<th>Lun</th>
		<th>Mar</th>
		<th>Mer</th>
		<th>Gio</th>
		<th>Ven</th>
		<th>Sab</th>
		<th>Dom</th>
	</tr>
	<tr>
		<td class="item warning">Tempo di lavoro giornaliero<br>(in minuti)</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.workingTime > 0 }
		      ${ wttd.workingTime.toHourTime() }  
		    #{/if}
		  </td>
		#{/list}
	</tr>
	<tr>
		<td class="item warning">Tempo di lavoro minimo per diritto a intervallo pranzo<br>(in minuti)</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.mealTicketEnabled() }
		      ${ wttd.mealTicketTime.toHourTime() }  
		    #{/if}
		  </td>
		#{/list}
	</tr>
	<tr>
		<td class="item warning">Durata minima intervallo pranzo<br>(in minuti)</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.mealTicketEnabled() }
		      ${ wttd.breakTicketTime.toHourTime() }  
		    #{/if}
		  </td>
		#{/list}
	</tr>
		<tr>
		<td class="item warning">Soglia pomeridiana per buono pasto</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.ticketAfternoonThreshold && wttd.mealTicketEnabled() }
		      ${ wttd.ticketAfternoonThreshold.toHourTime() }  
		    #{/if}
		  </td>
		#{/list}
	</tr>
		<tr>
		<td class="item warning">Lavoro minimo per buono pasto dopo soglia pomeridiana<br>(in minuti)</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.ticketAfternoonWorkingTime && wttd.mealTicketEnabled() }
		      ${ wttd.ticketAfternoonWorkingTime }  
		    #{/if}
		  </td>
		#{/list}
	</tr>
	
	<tr>
		<td class="item warning">Giorno festivo</td>
		#{list items:wtt.workingTimeTypeDays, as:'wttd'}
		  <td>
		    #{if wttd.holiday }
		       <span class="glyphicon glyphicon-ok"></span>
		    #{/if}
		  </td>
		#{/list}
		
		
	</tr>

  </table>
  
  <br>
  

#{/modalAsync}