<div class="container-fluid">
#{if vacationSituations != null && !vacationSituations.isEmpty()}
 	#{accordionItem 'infoFerie', parent:'info', title:'Info situazione ferie', open:false, color:'info' }
 	#{include './../Vacations/vacationsElements/info.html' /}
 	#{/accordionItem}
 #{/if}
</div>
<br>
<div class="container-fluid">
#{alert color: 'info' }
<p>Compila il form sottostante per inviare una richiesta di assenza.
Specifica la <strong>data di inizio</strong> e la <strong>data di fine</strong>.<br>  
Ogni volta che cambierai il campo relativo alle date, il sistema <strong>automaticamente</strong> calcolerà l'esito della richiesta,
riportando il/i codice/i inserito/i al completamento del flusso.  </p>
#{/alert}
</div>
#{form action:@edit(), method:'POST', autocomplete:false,
	class:'form form-horizontal', 'data-spinner':'#modalSpinner'}

	#{f.hidden 'absenceRequest.id' /}
	#{f.hidden 'absenceRequest.person.id' /}
	#{f.hidden 'absenceRequest.type' /}
	#{f.hidden 'persist', value:persist /}
	#{f.hidden 'groupAbsenceType.id', value:absenceForm.groupSelected.id /}

	#{f.date 'absenceRequest.startAt', required:true, class:'auto-submit-parent',
		value:absenceRequest.startAt?.format("dd/MM/yyyy") /}
	#{f.date 'absenceRequest.endTo', class:'auto-submit-parent',
		value:absenceRequest.endTo?.format("dd/MM/yyyy") /}
	
	#{if absenceRequest.type.equals(models.flows.enumerate.AbsenceRequestType.PERSONAL_PERMISSION) || 
		absenceRequest.type.equals(models.flows.enumerate.AbsenceRequestType.VACATION_REQUEST)}
	
		#{if absenceForm != null}
		#{f.hidden 'groupAbsenceType.id', value:absenceForm.groupSelected.id /}
     
	    #{if absenceForm.hasAbsenceTypeChoice()} 
			 #{f.selectModel 'absenceType', personalizeItems:true, class:'auto-submit-parent'}
				#{if absenceForm.automaticChoiceExists && absenceRequest.type.equals(models.flows.enumerate.AbsenceRequestType.VACATION_REQUEST)}
			      <optgroup label="Inserimento Automatico">
			        <option value=""
			          #{if absenceForm.automaticChoiceSelected} selected #{/if}>Codice selezionato da ePAS</option>
				  <optgroup/>
			   #{/if}   
			   <optgroup label="Codice Specifico">
			    #{list absenceForm.absenceTypes, as:'absenceType'}
			    <option value="${absenceType?.id}"
			      #{if absenceForm.absenceTypeSelected != null && absenceForm.absenceTypeSelected.equals(absenceType) } selected #{/if}>
			      ${absenceType.getLabel()}
			    </option>
			    #{/list}   
			   <optgroup/>
			 #{/f.selectModel}
		 #{/if}
		 #{else}
		   #{f.hidden 'absenceType.id', value:absenceForm.theOnlyAbsenceType().id /}
		   *{ #{f.view 'absenceType', value:absenceForm.theOnlyAbsenceType() /} }*
		 #{/else}
		 #{f.hidden 'absenceCode', value:absenceForm.absenceTypeSelected? absenceForm.absenceTypeSelected : absenceType /}
	     #{if absenceForm.hasJustifiedTypeChoice() }
	       #{f.selectModel 'justifiedType', items:absenceForm.justifiedTypes, value:absenceForm.justifiedTypeSelected,
	           class:'auto-submit-parent' /}
	     #{/if}

	     *{ seleziona minuti }*    
	     #{if absenceForm.hasHourMinutesChoice() }
	       #{f.selectEnum 'hours', items:absenceForm.selectableHours(), value:absenceForm.hours != null ? absenceForm.hours : hours, byEquals:'true',
	           class:'auto-submit-parent' /}
	       #{f.selectEnum 'minutes', items:absenceForm.selectableMinutes(), value:absenceForm.minutes != null ? absenceForm.minutes : 0, byEquals:'true',
	           class:'auto-submit-parent' /}
	     #{/if}
	     #{/if}

	#{/if}

	#{if retroactiveAbsence}
		#{f.input 'absenceRequest.note', required:true, value:absenceRequest.note,
			class:'absenceRequest_note_input' /}
	#{/if}
	#{if handleCompensatoryRestSituation}
	<div class="container-fluid">
	<h3>Riposi compensativi rimasti: 
	<span #{if compensatoryRestAvailable > 10 } class="label label-info"#{/if} 
		  #{if compensatoryRestAvailable > 5  && compensatoryRestAvailable < 10} class="label label-warning"#{/if}
		  #{if compensatoryRestAvailable > 0  && compensatoryRestAvailable < 5} class="label label-danger"#{/if}>
		  ${compensatoryRestAvailable}</span></h3>
	</div>
	#{/if}
	
	#{if absenceRequest.type.equals(models.flows.enumerate.AbsenceRequestType.VACATION_DELAY_REQUEST)}
		<div class="container-fluid">
			<h3>Il dipendente ha a disposizione ancora ${vacationDelayResidual - vacationDelayList.size()} giorni di ferie per l'anno 2024</h3>
		</div>
		*{ Le ferie 2024 residue possono essere prese solo a partire dal 2026 }*
		#{if absenceRequest.startAt.getYear() != 2026}
			#{alert color:info}
			<strong>Modifica le date per richiedere le ferie prorogate.<br>
				Si sta richiedendo di usare un codice di proroga ferie 2024 in una data dell'anno ${absenceRequest.startAt.getYear()}.
				<br>Il codice di assenza per la proroga però può essere utilizzato esclusivamente per i giorni dell'anno 2025.
			</strong>
			#{/alert}
		#{/if}
		*{ Questo è il caso dal 1 gennaio 2026 }*
		#{else}
			#{if vacationDelayResidual - vacationDelayList.size() > 0}
				#{if existing != null}
					<div class="container-fluid"> 
						#{include './existing.html' /}
					</div>
				#{/if}
				<div class="container-fluid"> 
					#{include './_report.html' /}
				</div>
			#{/if}
			#{else}
				#{alert color:info}
					<strong>Non ci sono ferie 2024 da utilizzare.</strong>
				#{/alert}
			#{/else}
		#{/else}
	#{/if}
	*{ Fine del trattamento speciale delle VACATION_DELAY_REQUEST }*

	#{else}
		#{if existing != null}
			<div class="container-fluid"> 
			#{include './existing.html' /}
			</div>
		#{/if}
		<div class="container-fluid"> 
		#{include './_report.html' /}
		</div>
	#{/else}
#{/form}

#{form action:@save(), method:'POST', autocomplete:false, class:'form form-horizontal',
	  'data-spinner':'#defaultSpinner'}

	#{f.hidden 'absenceRequest.id' /}
	#{f.hidden 'absenceRequest.person.id' /}
	#{f.hidden 'absenceRequest.type' /}
	#{f.hidden 'persist', value:persist /}
	#{f.hidden 'absenceRequest.startAt', value:absenceRequest.startAt?.format() /}
	#{f.hidden 'absenceRequest.endTo', value:absenceRequest.endTo?.format() /}
	#{f.hidden 'absenceRequest.note', class:'absenceRequest_note_hidden' /}

	#{if absenceRequest.type.equals(models.flows.enumerate.AbsenceRequestType.PERSONAL_PERMISSION)}
		#{if absenceForm != null} 
      	#{f.hidden 'groupAbsenceType.id', value:absenceForm.groupSelected.id /}
      	#{f.hidden 'absenceType.id', value:absenceForm.absenceTypeSelected?.id /}
      	#{f.hidden 'justifiedType.id', value:absenceForm.justifiedTypeSelected.id /}
        #{f.hidden 'allDay', value:allDay /}
      	#{f.hidden 'hours', value:absenceForm.hours /}

      	#{f.hidden 'minutes', value:absenceForm.minutes /}
      	
    	#{/if}
    #{/if}
	#{if absenceForm.automaticChoiceSelected}
		#{f.hidden 'absenceCode', value:' ' /}
	#{/if}
	#{else}
		#{f.hidden 'absenceCode', value:absenceForm.absenceTypeSelected.code /}
	#{/else}
	
	#{b.buttons center:true}
		 #{b.link @list(absenceRequest.type), color:'default', title:'Indietro' /}
		 #{if insertable && insertReport.howManySuccess() > 0}
         #{b.submit 'Inserisci', id:'absenceRequest_insertButton' /}
         #{/if}
         #{else}
         #{b.submit 'Inserisci', id:'absenceRequest_insertButton', disabled:true /}
         #{/else}
    #{/b.buttons}
#{/form}	  