#{form action:@save(), method:'POST', autocomplete:false,
	class:'form form-horizontal' }
                        
	#{f.hidden 'absenceRequest.id' /}
	#{f.hidden 'absenceRequest.person.id' /}
	#{f.hidden 'absenceRequest.type' /}
	#{f.hidden 'persist', value:persist /}
	#{f.date 'absenceRequest.startAt', required:true, value:absenceRequest.startAt?.format() /}
	#{f.date 'absenceRequest.endTo' /}
	#{f.input 'absenceRequest.note' /}
	
	#{if !persist}
	#{b.buttons center:true}
		#{b.save @save() /}
	#{/b.buttons}
	#{/if}
	#{else}
	#{b.buttons center:true}
		#{b.link @flush(absenceRequest.type, absenceRequest.person.id), color:'warning', title:'Ripristina'/}
		#{b.save @save() /}
	#{/b.buttons}	
	#{/else}
#{/form}