#{alert color: 'info' }
<p>Compila il form sottostante per inviare una richiesta di assenza.
Specifica:<br>
  - la data di inizio<br>
  - la data di fine <br>
  
Ogni volta che cambierai il campo relativo alle date, il sistema <strong>automaticamente</strong> calcolerà l'esito della richiesta,
riportando il/i codice/i inserito/i al completamento del flusso.  </p>
#{/alert}
#{form action:@edit(), method:'POST', autocomplete:false,
	class:'form form-horizontal auto-submit', 'data-spinner':'#modalSpinner' }
                        
	#{f.hidden 'absenceRequest.id' /}
	#{f.hidden 'absenceRequest.person.id' /}
	#{f.hidden 'absenceRequest.type' /}
	#{f.hidden 'persist', value:persist /}

	#{f.date 'absenceRequest.startAt', required:true, value:absenceRequest.startAt?.format("dd/MM/yyyy") /}
	#{f.date 'absenceRequest.endTo', value:absenceRequest.endTo?.format("dd/MM/yyyy") /}

	<div class="container-fluid"> 
   	#{include './_report.html' /}
	</div>
	
#{/form}



#{form action:@save(), method:'POST', autocomplete:false, class:'form form-horizontal',
	  'data-async':'#page_content', 'data-spinner':'#defaultSpinner'}
	  
	#{f.hidden 'absenceRequest.id' /}
	#{f.hidden 'absenceRequest.person.id' /}
	#{f.hidden 'absenceRequest.type' /}
	#{f.hidden 'persist', value:persist /}
	#{f.hidden 'absenceRequest.startAt', value:absenceRequest.startAt?.format() /}
	#{f.hidden 'absenceRequest.endTo', value:absenceRequest.endTo?.format() /}
	#{f.hidden 'absenceRequest.note' /}
      
            
	#{b.buttons center:true}
		 #{if insertable}
         #{b.submit 'Inserisci'/}
         #{/if}
         #{else}
         #{b.submit 'Inserisci', disabled:true /}
         #{/else}
    #{/b.buttons}
#{/form}	  