#{modalAsync id:'defaultModal', title:('Rifiuto richiesta di assenza per ' + absenceRequest.person.fullname)}

<div class="container-fluid">

#{alert color:'warning'}
Specifica una motivazione per cui la richiesta di assenza inoltrata deve essere respinta. 
#{/alert}
#{form action:@disapproval(absenceRequest.id, disapproval), method:'POST', class:'form form-horizontal'}
#{f.input 'reason'/}
	    #{b.buttons center:true}   
	      #{b.submit 'Rifiuta', color:'warning', fa:'cross' /}
	    #{/b.buttons}
#{/form}
</div>


#{/modalAsync}