#{extends 'main.html' /}
#{set header:'navbar' /}
#{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + absenceRequest.type.toString() + 'S') /}
#{set title:('ePAS - ' + absenceRequest.isPersistent() ? 'Modifica ' : 'Inserimento ' + absenceRequest.type.label()) /}

#{set breadcrumbs:[(absenceRequestTypeLabel):@AbsenceRequests.list(absenceRequest.type), ('Modifica'):null] /}

<div class="container">
  #{breadcrumbs breadcrumbs /}
  #{title title:(absenceRequest.isPersistent() ? 'Modifica ' : 'Inserimento ' + absenceRequest.type.label()) /}
</div>

<div class="container">
	#{include './_form.html' /}
</div>

#{set 'moreScripts'}
  <script type="text/javascript">

  // Original JavaScript code by Chirp Internet: chirpinternet.eu
  // Please acknowledge use of this code by including this header.

  function checkDate(field) {
    var allowBlank = true;
    var minYear = 1902;
    var maxYear = (new Date()).getFullYear();

    var errorMsg = "";

    // regular expression to match required date format
    re = /^(\d{1,2})\/(\d{1,2})\/(\d{4})$/;

    if(field.value != '') {
      if(regs = field.value.match(re)) {
        if(regs[1] < 1 || regs[1] > 31) {
          errorMsg = "Invalid value for day: " + regs[1];
        } else if(regs[2] < 1 || regs[2] > 12) {
          errorMsg = "Invalid value for month: " + regs[2];
        } else if(regs[3] < minYear || regs[3] > maxYear) {
          errorMsg = "Invalid value for year: " + regs[3] + " - must be between " + minYear + " and " + maxYear;
        }
      } else {
        errorMsg = "Invalid date format: " + field.value;
      }
    } else if(!allowBlank) {
      errorMsg = "Empty date not allowed!";
    }

    if(errorMsg != "") {
      alert(errorMsg);
      field.focus();
      return false;
    }

    return true;
  }
  </script>
#{/set}