#{extends 'main.html' /}
#{set header:'navbar' /}
#{if currentUser.person != null && currentUser.person.isTopQualification()}
  #{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + absenceRequest.type.toString() + 'S_TOP_LEVEL') /}
  #{set typeLabel: messages.get('AbsenceRequestType.' + absenceRequest.type.toString() + '_TOP_LEVEL') /}
#{/if}#{else}
  #{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + absenceRequest.type.toString() + 'S') /}
  #{set typeLabel: messages.get('AbsenceRequestType.' + absenceRequest.type.toString()) /}
#{/else}
#{set title:('ePAS - ' + absenceRequest.isPersistent() ? 'Modifica ' : 'Inserimento ' + absenceRequest.type.label()) /}

#{set breadcrumbs:[(absenceRequestTypeLabel):@AbsenceRequests.list(absenceRequest.type), ('Modifica'):null] /}

<div class="container">
  #{breadcrumbs breadcrumbs /}
  #{title title:(absenceRequest.isPersistent() ? 'Modifica ' : 'Inserimento ' + messages.get(typeLabel)) /}
</div>

<div class="container">
	#{include './_form.html' /}
</div>