#{extends 'main.html' /}
#{set header:'navbar' /}
#{if currentUser.person != null && currentUser.person.isTopQualification() && !templateUtility.absenceRequestAuthorizationTopLevelEnabled()}
  #{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + type.toString() + 'S_TOP_LEVEL') /}
  #{set topLevelNoAuth:true /}
#{/if}#{else}
  #{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + type.toString() + 'S') /}
  #{set topLevelNoAuth:false /}
#{/else}
#{set title:('ePAS - ' + absenceRequestTypeLabel) /}

#{set breadcrumbs:[(absenceRequestTypeLabel):null] /}

%{
	approvalsRequired = 0;
	if (config.officeHeadApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.managerApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.administrativeApprovalRequired) {
	  approvalsRequired++;
	}
	approvalRequired = approvalsRequired > 0
}%

<div class="container">
  #{breadcrumbs breadcrumbs /}

  #{title title:absenceRequestTypeLabel.capitalize(), administration:true /} 
  
  #{tabList}
    #{tabItem id:'attivo', title:'Flussi attivi', active:true /}
    #{tabItem id:'nonAttivo', title:'Flussi conclusi' /}
  #{/tabList}
 <br>
  	#{tabContent}	
  
  	#{tabContentItem id:'attivo', active:true}
  	#{b.buttons center:true}
  		<a class="btn btn-success" href="@{AbsenceRequests.blank('person':person, 'type':type)}">
    		<i class="fa fa-plus"></i> 
    		#{if topLevelNoAuth}&{'AbsenceRequestType.' + type + '_TOP_LEVEL.blank'}#{/if}
    		#{else}&{'AbsenceRequestType.' + type + '.blank'}#{/else}
  		</a>
  	#{/b.buttons}
 	#{if myResults.isEmpty()}
 		#{alert color:'info'}
 		<p>Al momento non ci sono flussi di richiesta/comunicazione assenza in esecuzione.</p>
 		#{/alert}
 	#{/if}
 	#{else}
 		#{include './tableElements/_table.html' /}
 	#{/else}
  	
  #{/tabContentItem}

  #{tabContentItem id:'nonAttivo'}
  	#{if closed.isEmpty()}
  		#{alert color:'info'}
 		<p>Al momento non ci sono flussi di richiesta assenza conclusi.</p>
 		#{/alert}
  	#{/if}
  	#{else}
  		#{include './tableElements/_closedTable.html' /}
  	#{/else}
  	
  #{/tabContentItem}
 
  #{/tabContent}
</div>