#{extends 'main.html' /}
#{set header:'navbar' /}
#{set absenceRequestTypeLabel: messages.get('AbsenceRequestType.' + type.toString() + 'S') /}
#{set title:('ePAS - ' + absenceRequestTypeLabel) /}

#{switcher year:true, month:true /}

#{set breadcrumbs:[(absenceRequestTypeLabel):null] /}

%{
	approvalsRequired = 0;
	if (config.officeHeadApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.managerApprovalRequired) {
	 approvalsRequired++;
	}
	if (config.administrativeApprovalRequired) {
	  approvalsRequired++;
	}
	approvalRequired = approvalsRequired > 0
}%

<div class="container">
  #{breadcrumbs breadcrumbs /}

  #{title title:absenceRequestTypeLabel.capitalize(), administration:true /} 
 
  #{b.buttons center:true}
  		<a class="btn btn-success" href="@{AbsenceRequests.blank('person':person, 'type':type)}">
    		<i class="fa fa-plus"></i> &{'AbsenceRequestType.' + type + '.blank'}
  		</a>
  #{/b.buttons}
 
#{include './tableElements/_table.html' /}
</div>