body {
    padding-top: 0px;
    padding-bottom: 0px;
}
    
body {
	/*margin: 20px auto;*/
    /*width: 690px;*/
    font-family: Arial;
    color: rgb(54, 47, 45);
    background: #fff;
}

a {
    color: #666;
}

fieldset {
	border: 1pt solid darkblue;
	padding: 1em;
	margin: 1.5em;
}

fieldset legend {
	padding: 0.5em;
	font-weight: bold;
}

/** Main **/

.fError, .fSuccess {
    text-align: center;
    position: relative;
    top: -10px;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

#main {
    padding: 20px;
}

/** Header **/

header.notLoggedIn, header.loggedIn {
    height: 200px;
    /*position: relative;*/
    background: #fff url(../images/time_banner.jpg) 0px -180px no-repeat;
}

header {
	position: relative;
}

header h1 {
    margin: 0;
    background: #333;
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

div#options {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 80%;
    color: #eee;
    width: 200px;
}

div#options a {
    color: #eee;
}

/** Login **/

#login {
    text-align: center;
}

#formLogin {
    border-bottom: 1px dashed #aaa;
    width: 350px;
    margin: 2 auto;
    padding: 20px;
}

#formLogin label {
    text-align: right;
}

#formLogin p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/

table {
    border: 1px solid #aaa;
}

th {
    background: #eee !important;
}

td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/** Tabella senza bordi **/

.tablenoborder {
	border-style: none
}
.tablenoborder tr{
	border-style: none
}

.tablenoborder td{
	border-style: none
}

/** Modal inserimento assenza **/
div#myModal1 {
    width: 600px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -300px;
}
#myModal1 .modal-body {
    max-height: 1000px;
}
/** Modal inserimento timbratura **/
div#myModal2 {
    width: 600px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -300px;
    margin-top: -400px;
}
#myModal2 .modal-body {
    max-height: 800px;
}
/** Modal visualizzazione riepilogo assenze **/
div#myModal3 {
    width: 600px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -300px;
    margin-top: -400px;
}
#myModal3 .modal-body {
    max-height: 720px;
}

/** Forms **/

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 20px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    background: #eee;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
    text-align: left;
    background: #dedede;
    padding: 10px;
    margin-top: 20px;
}

/** Footer **/

footer {
    padding: 10px;
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
}

div#presenze_mensili {
	width:1300px;
  	margin: 20px auto;
}

table#assenze_mensili {
	margin: 4em 50em 0em 63em;
	
}

table#assenze_annuali {
	margin: 4em 0em 6em;
}

table#ferie {
	margin: 4em 0em 6em;
}

table#competenze {
	margin: 4em 0em 6em;
}

table#listaPersone {
	margin: 2em 0em 6em;
}

table#listaAmministratori {
	margin: 4em 0em 6em;
}


.capitalized {
	text-transform: capitalize;	
	text-align: center
}

th.giorni {width: 3em; text-align: center}

th.ferieFatte {text-align: center}
th.residuo {text-align: center}

th.competenze {width: 6em; text-align: center}
td.noWrap {white-space:nowrap}

table#tabellonetimbrature th{
	text-align: center;
}

table#tabellonetimbrature td{
	text-align: center;
}
td.positionleft{
	border-radius: 10px 0px 0px 10px;
	border-color: black;
	border-right-style: none;
	background-color: lightblue;
}

td.positionright{
	border-radius: 0px 10px 10px 0px;
	border-color: black;
	border-left-style: none;
	background-color: lightblue;
}

td.positioncenter{
	border-left-style: none;
	border-right-style: none;	
	border-color: black;
	background-color: lightblue;
}

td.positioncenter.warn{
	border-left-style: none;
	border-right-style: none;	
	border-color: black;
	background-color: lightblue;
}

td.positionnone.warn{
	border-radius: 10px 10px 10px 10px;
	border-color: black;
	background-color: yellow;
}

td.festivi {background-color: #F88017; width: 6em}
td.assenza {background-color: #FFFF99; text-align: center; width: 6em}
td.ingresso {background-color: #FFEEFF}
td.uscita {background-color: #CCFFCC}
td.tempoLavoro {width: 6em}
td.differenza {text-align: right; width: 6em}
td.progressivo {background-color: #FFFF99; text-align:right; width: 6em}
td.comp {height: 1em; text-align: right}
td.comp-nome {height: 1em; text-align: left}
td.inserisciTimbratura {text-align: center}
td.mese {background-color: #FFFF66;}
td.giornoAssenza {text-align: center}
td.nomeCognome {background-color: #CCFFCC}

#spiegazioneTabellaTimbrature {margin-top: 2em; margin-bottom: 2em}
p#validita {margin: 3em 2em 3em}
p#warning {margin: 2em 6em 2em}
p#nuovoCodiceCompetenza {margin: 4em 3em 2em; align: left}
p#tipoTimbratura {margin: 3em 0em 2em; align: left; font-weight:bold;}
p#updateStampingText{margin: 3em 0em 2em; align: left;}
p#allegaFile{margin:3em 0em 3em; align: center;}
p#nuovaPersona{margin: 2em 0em 3em; align: left}
p#nuovoPianoFerie{margin: 1em 0em 2em; align: left}
p#codice{margin: 1em 0em 0em}
p#codicePres{margin: 1em 0em 0em}
p#descrizione{margin: 1em 0em 0em}
p#usoInterno {margin: 1em 0em 0em}
p#usoMultiplo {margin: 1em 0em 0em}
p#inizioValidita {margin: 1em 0em 0em}
p#fineValidita {margin: 1em 0em 0em}
p#tempoGiustificato {margin: 1em 0em 0em}
p#valore {margin: 1em 0em 0em}
p#minutiEccesso {margin: 1em 0em 0em}
p#accumulo {margin: 1em 0em 0em}
p#limiteAccumulo {margin: 1em 0em 0em}
p#comportamentoAccumulo {margin: 1em 0em 0em}
p#sostituzione {margin: 1em 0em 0em}
p#dipartimento {margin: 1em 0em 0em}
p#stanza {margin: 1em 0em 0em}
p#sede {margin: 1em 0em 0em}
p#telefono {margin: 1em 0em 0em}
p#email {margin: 1em 0em 0em}
p#nascita {margin: 1em 0em 0em}
p#tipoTimbraturaClock {margin: 3em 0em 2em; text-align: center; font-size: 18px; }
p#choiceClock {text-align: center; font-size: 18px;}
p#descrizioneStampaCartellino {margin:3em 0em 4em}
p#inserisciAmministratore {margin: 2em 0em 0em}
p#nuovoOrario {margin: 2em 20em 1em}
p#puoFareTurni {margin:2em 32em 1em}
p#inserimentoCompetenze {margin: 0em 0em 1em 2em; align: center}
p#separatore {margin: 4em 1em 2em; align:center}
p#livelli {margin: 5em 0em 4em}
p#limiteAccumulo {margin: 2em 0em 2em}
p#codiceSost {margin: 2em 0em 2em}
p#sino {margin: 0em 26em 1em}
p#sinoBuono {margin: 0em 22em 1em}
p#sinoTimbrature {margin: 0em 24em 1em}
p#level {margin: 9em 3em 1em}
input#absenceTypeCodice {margin: 1em 20em 1em; align: left}
input#absenceTypeCodiceSost {margin: 1em 10em 1em; align: left}
input#absenceTypeDescrizione {margin: 1em 18em 1em; align: left}
input#absenceTypeInizioValidita {margin: 0em 18em 1em}
input#absenceTypeFineValidita {margin: 0em 18em 2em}
input#minutiEccesso {margin: 1em 16em 1em}
input#calcolaBuono {margin: 1em 18em 1em}
input#gruppo {margin: 1em 20em 2em}
input#limiteAccumulo {margin: 1em 16em 1em}
input#codiceSostituzione {margin: 1em 13em 1em}
select#tempoGiustificato {margin: 1em 12em 1em}
select#tipoAccumulo {margin: 1em 16em 1em}
select#comportamentoAccumulo {margin: 1em 12em 1em}
input#qualifica {margin: 1em 0em 1em}

div#logout {text-align: right; float: right}
div#chooseView {text-align: center}
div#cambiaPassword {margin: 3em 60em 2em; text-align: left}
div#annullaPassword {margin: 1em 60em 2em; text-align: left}
div#gestioneParametri {margin: 1em 4em 1em; text-align: left}
div#spiegazioneValoriGrassetto {margin: 1em 4em 1em}

div#caricamentoSituazioneMensile {text-align: center}
div#tabelleRiassuntive {margin: 1em 2em 1em}
div#tabellaPianoFerie {margin: 2em 20em 1em; align:center}

h2#titoloSituazionePresenzeMensili {text-align: center;
									margin-top: 30px;
									margin-bottom: 10px}
h2#titoloSituazioneAssenzeMensili {text-align: center}
h2#titoloSituazioneAssenzeAnnuali {text-align: center}
h3#titoloSituazioneFerie {text-align: center}
h2#titoloGestionePersonale {text-align: center}
h2#titoloModificaPersonale {text-align: center}
h3#stampaCartellino {text-align: center}

h2#titoloGestioneOrariLavoro {text-align: center}
h2#nuovoOrario {text-align: center}
h2#titoloGestioneTipiFerie {text-align: center}
h2#titoloModificaDatiPersonali {text-align: center}
h2#titoloTerminazioneRapporto {text-align: center}
h3#titoloSituazionePresenzeMensili {text-align: center}
h2#titoloConfigurazioneParametri {text-align: center}
h2#titoloTotaleAssenzeMensili {margin: 2em 0em 1em; text-align: center}
h2#inserimentoNuovoCodiceAssenza {text-align: center}
h2#titoloGestioneStraordinariCompetenze {margin: 2em 0em 2em; text-align: center}
h2#titoloControllaTimbratureMancanti {text-align: center}
h2#titoloInserimentoTipoFerie {text-align: center}
h2#titoloModificaTipoFerie {text-align: center}
h2#situazionePresenzaGiornaliera {text-align: center}
h2#titoloRiepilogoBuoniMensa {text-align: center}
h2#titoloGestisciCodiceCompetenza {text-align: center}
h2#titoloInserisciCodiceCompetenza {text-align: center}
h2#titoloGestioneCodiciAssenza {text-align: center}

h3#titoloGestioneCompetenze {margin: 2em 0em 2em; text-align: center}
h3#titoloGestioneParametri {margin: 2em 0em 2em; text-align: center}
h3#gestioneUtenteAmministrativo {margin: 2em 0em 2em; text-align: center}
h3#gestioneConfigurazioneParametri {text-align: center}
h3#titoloPianoFerie {margin: 1em 0em 1em; text-align: left}
h3#modificaCodiceCompetenza {margin: 2em 0em 2em; text-align: center}
h3#monteOreStraordinario {margin: 2em 0em 1em; text-align: left}
h3#titoloStraordinari {margin: 2em 0em 1em; text-align: left}
h3#titoloCambioPassword {text-align: center}
h3#clock {text-align: center}
h3#riepilogoMensile {text-align: center; margin: 2em 0em 1em}
h3#utentiEsistenti {text-align: center}
h3#pianoFerie {text-align: center}
h3#riepilogoOrarioLavoro {margin: 2em 2em 1em; align: center}
h3#ferieFatte{text-align:center}


h4#configurazioniEsistenti {margin:2em 0em 1em; text-align: left}

fieldset#timbraturaWeb {height: 17em}
fieldset#stampaPdf {height: 18em;}
fieldset#fieldsetTerminateContract {height: 30 em}
fieldset#nuovoCodiceAssenza {height: 37em}
fieldset#gruppo {height: 25em}
textarea#timbraturaWeb {margin: 0em 5em 0em}
textarea#stampaPdf {margin: 2em 1em 0em; width: 40em}
input#salvaConfigurazione {margin: 2em 3em 0em 60em; align: center}
input#annullaConfigurazione {margin: 0em 3em 0em; align: center}
input#submitInsertPerson {margin: 2em 3em 0em 55em; align: center}
input#resetInsertPerson {margin: 0em 3em -2em; align: center}
input#submitTerminazioneRapporto {margin: 2em 60em 0em; align: center}
input#discardTerminazioneRapporto {margin: 1em 60em 0em; align: center}
input#username {margin: -2em 9em 2em}
input#password {margin: -2em 9em 2em}
input#nuovaPassword {margin: 3em 2em 2em}
input#confermaPassword {margin: 4em 2em 2em}
input#submitStamping {margin: 1em 5em 0em 20em; align: center}
input#updateAbsence {margin: 0em 35em 0em; align: center}
input#discardStamping {margin: 0em 1em -1em; align: center}
input#updateStamping {margin: 0em 25em 0em; align: center}
input#submitCartellino {margin: 2em 1em 0em; align: center}
input#indietroCartellino {margin: 2em 3em 0em; align: center}
input#insertAdmin {margin: 2em 45em 6em}
input#discardAdmin {margin:2em -15em 6em}
input#insertCompetenceCode {margin: 2em 18em 6em; align: center}

input#updateAbsenceCode {margin: 2em 50em 0em; align:center}
input#indietroAbsenceList {margin: 2em -32em 0em; align:center}


input.StraordinarioDiurnoLavorativo {length: 5}
input#feature {length: 5}

p#nome {margin: 0em 1em 0em}
p#cognome {margin: 1em 1em 2em}
p#firma {margin: 2em 1em 0em}
p#giorniLavorativi {margin: 2em 1em 0em}
p#annoPrecedente {margin: 1em 1em 1em; text-align: center;}

input#submitNuovoCodiceAssenza {margin: 2em 60em 0em; align: center}
input#discardNuovoCodiceAssenza {margin: 1em 60em 0em; align: center}
input#submitEditPerson {margin: 2em 4em 0em 50em; align: center}
input#discardEditPerson {margin: 2em 0em 0em 0em; align: center}
input#deletePerson {margin: 2em 0em 0em 4em; align: center}
input#modificaContratto {margin: 1em 17em 0em; align: center}
input#submitSituation {margin: 2em 67em 0em; align: center}
input#indietro {margin: 2em 67em 0em; align: center}
input#submitStampingClock {margin: 0em 70em 0em; align: center}
input#saveCompetence {margin: 1em 67em 0em; align: center}
input#salvaVacationCode {margin: 4em 18em 2em}

input#inserisciAssenza {margin: 1em 15em 0em; align: center}
input#updateWorkingTime {margin: 0em 52em 0em; align: center}
input#backUpdate {margin: -3.5em 62em 0em;}
input#insertWorkingTime {margin: 21em -9em 5em; align: center}
input#back{margin: 21em 12em 5em}
input#submitContractPerson {margin: 2em 17em 0em; align:center}
input#note {margin: 1em 4em 0em; align: left}

input#updateOldOvertime {margin: 0em 25em 0em; align: center}
table#tabellaPersoneCodiciAssenzaMensili {margin: 2em 1em 1em; align: left}
table#tabellaPersoneCompetenze {margin: 2em 1em 1em; align: left}
table#tabellaTimbratureMancanti {margin: 2em 1em 1em; align: left}
table#tabellaPresenzaGiornaliera {margin: 2em 1em 1em; align: left}
table#tabellaRiepilogoBuoniMensa {margin: 2em; align:left}
table#tabellaCodiciCompetenza {margin: 2em; align: left}
table#pianoFerie {margin: auto}

div#frm *{display:inline}

select#assenzaFrequente {margin-bottom: 1em}

table#nuovoOrarioLavoro {margin: 2em 30em 1em; align:center}

table.riepilogo-ore {
	width: 60%;
	clear: left;
}

table.riepilogo-ore caption {
	font-weight: bold;
}

table.riepilogo-ore td.ore {
	text-align: right;
}

table.riepilogo-ore td.totale {
	font-weight: bold;
}

/* clock */

#clockBase{
	text-align: center;
	font-size:180px;
	font-weight:bold;
	text-shadow: 5px 5px 5px black;
	
}

form#formClockLogin{ font-size: 30px; }
input#formClockPassword{ font-size: 25px; height: 35px;}
input#formClockPerson{ size: 100; }

#myCarousel{
  background-color: white;

}

#myContainer1{
  height: 200px;
  background: url('/public/images/time_banner.jpg') -0px -180px;
  background-color: white;
  background-repeat: no-repeat;
}

#myContainer2{
	padding-top: 80px;
}

#myh2{
	text-align: center;
	line-height: 0px;
}

#myCarouselCaption{
	padding: 4px;
	color: white;
}

