html {
    background: #e0e0e0;
}

body {
	/*margin: 20px auto;*/
    /*width: 690px;*/
    font-family: Arial;
    color: rgb(54, 47, 45);
    background: #fff;
}

a {
    color: #666;
}

fieldset {
	border: 1pt solid darkblue;
	padding: 1em;
	margin: 1.5em;
}

fieldset legend {
	padding: 0.5em;
	font-weight: bold;
}

/** Main **/

.fError, .fSuccess {
    text-align: center;
    position: relative;
    top: -10px;
}

.fError {
    color: #c00;
}

.fSuccess {
    color: #0c0;
}

#main {
    padding: 20px;
}

/** Header **/

header.notLoggedIn, header.loggedIn {
    height: 200px;
    /*position: relative;*/
    background: #fff url(../images/time_banner.jpg) 0px -180px no-repeat;
}

header {
	position: relative;
}

header h1 {
    margin: 0;
    background: #333;
    color: #eee;
    border-bottom: 1px solid rgba(255,255,255,.5);
    font-weight: lighter;
    font-size: 18px;
    padding: 10px 20px;
    text-shadow: 0 0 5px rgba(255,255,255,.5);
}

div#options {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 80%;
    color: #eee;
    width: 200px;
}

div#options a {
    color: #eee;
}

/** Login **/

#login {
    text-align: center;
}

#formLogin {
    border-bottom: 1px dashed #aaa;
    width: 300px;
    /*margin: 0 auto;*/
    padding: 20px;
}

#formLogin label {
    text-align: right;
}

#formLogin p.buttons {
    text-align: center;
    background: none;
    margin-top: 0;
}

/** Table **/

table {
    border: 1px solid #aaa;
}

th {
    background: #eee !important;
}

td, th {
    padding: 5px;
    text-align: left;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/** Forms **/

label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

form p {
    text-align: center;
    height: 20px;
}

form p.field {
    text-align: left;
    margin: 0 0 5px 0;
}

form strong {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 10px;
    background: #eee;
    padding: 2px;
}

form p {
    clear: both;
    text-align: left;
    margin: 7px 0;
    min-height: 15px;
}

form p.hasError {
    color: #c00;
}

form .hasError .error {
    font-size: 80%;
}

form .buttons {
    text-align: left;
    background: #dedede;
    padding: 10px;
    margin-top: 20px;
}

/** Footer **/

footer {
    padding: 10px;
    font-size: 70%;
    border-top: 1px dotted #ccc;
    text-align: center;
}

table#presenze_mensili {
	margin: 4em 0em 6em;
}

table#assenze_mensili {
	margin: 4em 50em 0em 63em;
	
}

table#assenze_annuali {
	margin: 4em 0em 6em;
}

table#ferie {
	margin: 4em 0em 6em;
}

table#competenze {
	margin: 4em 0em 6em;
}

table#listaPersone {
	margin: 4em 0em 6em;
}

table#listaAmministratori {
	margin: 4em 0em 6em;
}

.capitalized {
	text-transform: capitalize;	
}

th.giorni {width: 3em; text-align: center}

th.ferieFatte {text-align: center}
th.residuo {text-align: center}

th.competenze {width: 6em; text-align: center}
td.noWrap {white-space:nowrap}


td.festivi {background-color: #F88017; width: 6em}
td.assenza {background-color: #FFFF99; text-align: right; width: 6em}
td.ingresso {background-color: #FFEEFF}
td.uscita {background-color: #CCFFCC}
td.tempoLavoro {width: 6em}
td.differenza {text-align: right; width: 6em}
td.progressivo {background-color: #FFFF99; text-align:right; width: 6em}
td.comp {height: 1em; text-align: right}
td.comp-nome {height: 1em; text-align: left}
td.inserisciTimbratura {text-align: center}

p#spiegazioneTabellaTimbrature {margin-top: 2em; margin-bottom: 2em}
p#validita {margin: 2em 0em 2em}
div#logout {text-align: right; float: right}
div#chooseView {text-align: center}
div#cambiaPassword {margin: 1em 4em; text-align: left}
div#annullaPassword {margin: 1em 4em; text-align: left}
div#gestioneParametri {margin: 1em 4em 1em; text-align: left}
div#spiegazioneValoriGrassetto {margin: 1em 4em 1em}
h2#titoloSituazionePresenzeMensili {text-align: center}
h2#titoloSituazioneAssenzeMensili {text-align: center}
h2#titoloSituazioneAssenzeAnnuali {text-align: center}
h2#titoloSituazioneFerie {text-align: center}
h2#titoloGestionePersonale {text-align: center}
h2#titoloModificaPersonale {text-align: center}
h2#titoloCambioPassword {text-align: center}
h2#titoloGestioneOrariLavoro {text-align: center}
h2#nuovoOrario {text-align: center}
h2#titoloGestioneTipiFerie {text-align: center}
h2#titoloModificaDatiPersonali {text-align: center}
h2#titoloTerminazioneRapporto {text-align: center}
h3#titoloSituazionePresenzeMensili {text-align: center}
h2#titoloConfigurazioneParametri {text-align: center}
h2#titoloTotaleAssenzeMensili {margin: 4em 1em 1em; text-align: center}
h2#inserimentoNuovoCodiceAssenza {text-align: center}

h3#titoloGestioneParametri {margin: 2em 0em 2em; text-align: center}
h3#gestioneUtenteAmministrativo {margin: 2em 0em 2em; text-align: center}
h3#gestioneConfigurazioneParametri {text-align: center}
fieldset#timbraturaWeb {height: 12em}
fieldset#stampaPdf {height: 12em}
fieldset#fieldsetTerminateContract {height: 30 em}
textarea#timbraturaWeb {margin: 0em 3em 0em}
textarea#stampaPdf {margin: 0em 3em 0em}
input#salvaConfigurazione {margin: 2em 60em 0em; align: center}
input#annullaConfigurazione {margin: 0em 80em 2em; align: center}
input#submitInsertPerson {margin: 2em 60em 0em; align: center}
input#resetInsertPerson {margin: 1em 60em 0em; align: center}
input#submitTerminazioneRapporto {margin: 2em 60em 0em; align: center}
input#discardTerminazioneRapporto {margin: 1em 60em 0em; align: center}

input#submitNuovoCodiceAssenza {margin: 2em 60em 0em; align: center}
input#discardNuovoCodiceAssenza {margin: 1em 60em 0em; align: center}
table#tabellaPersoneCodiciAssenzaMensili {margin: 2em 1em 1em; align: left}


select#assenzaFrequente {margin-bottom: 1em}