/* gestione impaginazione */

/* tabella default */
table { border: 1px solid #aaa; }
th { background: #eee}
td, th { padding: 5px; text-align: left; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa; }

/* tabellone timbrature */
table#tabellonetimbrature{
	font-size: small;
	border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-spacing: 0px 1px; 
}

/*
table#tabellonetimbrature tbody:before {
    line-height:1em;
    content:"-";
    color:white; 
    display:block;
}
*/
#mynavbar-inner .container{
padding-bottom: 5px;
width: 85%;
padding-left: 5%;
}
#mynavbar-inner .container a{
margin-left: 10px;
}

/* header */
table#tabellonetimbrature th{
	border: 1px solid #bbb;
	background-color: lightgrey;
	text-align: center;
}
table#tabellonetimbrature th.group-left  { border-radius: 5px 0 0 5px; border-right: none;}
table#tabellonetimbrature th.group-right { border-radius: 0 5px 5px 0; border-left: none;}
table#tabellonetimbrature th.group-center{ border-radius: none; border-left: none; border-right: none;}
table#tabellonetimbrature th.group-single{ border-radius: 5px;}

table#tabellonetimbrature th.invisible {border: none; padding-left: 2px; padding-right: 1px;}
table#tabellonetimbrature td.invisible {border: none; padding-left: 2px; padding-right: 1px;}

/* celle */
table#tabellonetimbrature td.default-single{border-radius: 5px; border-color: #bbb;}
table#tabellonetimbrature td.default-left{border-radius: 5px 0 0 5px; border-color: #bbb; border-right: none;}
table#tabellonetimbrature td.default-right{border-radius: 0 5px 5px 0; border-color: #bbb;border-left: none;}

table#tabellonetimbrature td{
	text-align: center;
	padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
table#tabellonetimbrature td.positionleft{
	border-radius: 10px 0px 0px 10px;
	border-color: #808080;
	border-right-style: none;
	background-color: rgba(205, 245, 255, 0.48);;
}
table#tabellonetimbrature td.positionright{
	border-radius: 0px 10px 10px 0px;
	border-color: #808080;
	border-left-style: none;
	background-color: rgba(205, 245, 255, 0.48);;
}
table#tabellonetimbrature td.positioncenter.default-left, table#tabellonetimbrature td.positioncenter.default-right{
	border-radius: 0px 0px 0px 0px;
	border-left-style: none;
	border-right-style: none;	
	border-color: #808080;
	background-color: rgba(205, 245, 255, 0.48);;
}
table#tabellonetimbrature td.positioncenter.warn{
	border-left-style: none;
	border-right-style: none;	
	border-color: #808080;
	background-color: rgba(205, 245, 255, 0.48);;
}
table#tabellonetimbrature td.positionnone.warn{
	border-radius: 10px 10px 10px 10px;
	border-color: #808080;
	background-color: yellow;
}
table#tabellonetimbrature td.festivi {background-color: #fac08d;}
table#tabellonetimbrature td.assenza {background-color: #ffffcf;}
table#tabellonetimbrature td.progressivo {background-color: #ffffcf;}
table#tabellonetimbrature td.capitalized {text-transform: capitalize;}

/* modali */

div.mymodal-small{width: 500px; margin-left: -300px;}
div.mymodal-medium{ width: 800px; margin-left: -400px;}
div.mymodal-large{ width: 1200px; margin-left: -600px;}

div#datepicker1{z-index:999999; }

/* fieldset */
fieldset { border: 1pt solid darkblue; 	padding: 1em;	margin: 5px; }
fieldset legend { margin-bottom: 10px; font-weight: bold; border-bottom: none; }

/* tabella senza bordi */
table.tablenoborder {border-style: none}
table.tablenoborder tr{border-style: none}
table.tablenoborder td{border-style: none}
table.tablenoborder-bottompadding td{padding-bottom: 10px; }

/* custom table class*/
table.table-small{max-width: 400px;}

table.table-display-contract{ border: 1px solid lightgrey; }
table.table-display-contract th{ text-align: center;}
table.table-display-contract td{ text-align: center;}

table.vacation-recap{ border: 1px solid lightgrey; max-width: 800px;}
table.vacation-recap th{ text-align: center; background-color: rgb(238, 238, 238); font-weight:bold;}
table.vacation-recap td{ text-align: center;}

table.hour-recap{ border: 1px solid lightgrey;}
table.hour-recap th{ text-align: center; background-color: rgb(238, 238, 238); font-weight:bold;}
table.hour-recap td{ text-align: center;}
table.hour-recap td.capitalized{ text-transform: capitalize;}

table.competence-recap{ border: 1px solid lightgrey;}
table.competence-recap th{ text-align: center; background-color: rgb(238, 238, 238); font-weight:bold;}
table.competence-recap td{ text-align: center;}

table.table-yearly-absence th {font-size: small; text-align: center; font-weight:bold; background-color: rgb(238, 238, 238);}
table.table-yearly-absence td.month {font-size: small; font-weight:bold; text-transform: capitalize;}
table.table-yearly-absence td{font-size: small; text-align: center;}

table.table-working-type th {font-size: small; text-align: center; font-weight:bold; background-color: rgb(238, 238, 238);}
table.table-working-type td.tipo-orario {font-size: small; background-color: rgb(238, 238, 238); font-weight:bold;}
table.table-working-type td.caratteristica {font-size: small; text-align: right;}
table.table-working-type td.first-line {border-top: solid 2px;}
table.table-working-type td{font-size: small; text-align: center;}

table.competence-big th {font-size: small; text-align: center; font-weight:bold; background-color: rgb(238, 238, 238); border-bottom: solid 1px;}
table.competence-big td.person {font-size: small; background-color: rgb(238, 238, 238);}
table.competence-big td{font-size: small; text-align: center;}

table.overtime-big th {text-align: center; font-weight:bold; background-color: rgb(238, 238, 238); border-bottom: solid 1px;}
table.overtime-big td.person {text-align: center; background-color: rgb(238, 238, 238);}
table.overtime-big td{ text-align: center;}

table.custom1 th {text-align: center; font-weight:bold; background-color: rgb(238, 238, 238); border-bottom: solid 1px;}
table.custom1 td.caratteristica {text-align: center; background-color: rgb(238, 238, 238);}
table.custom1 td.first-line {border-top: solid 2px;}
table.custom1 td{ text-align: center;}

table.custom2 th {text-align: center; font-weight:bold; background-color: rgb(238, 238, 238); border-bottom: solid 1px;}
table.custom2 td.caratteristica {text-align: center; background-color: rgb(238, 238, 238); border: solid 1px lightgrey;}
table.custom2 td{ text-align: center; border: solid 1px lightgrey;}

table.table-medium {width: 500px;}
table.table-centered {float: center;}

/* form button inline */
div.buttoncenter {text-align: center; } 
div.forminline form{ display: inline; margin-left: 20px; margin-right: 20px; } 

/*container centered */
div.container.centered{text-align: center};

/* fsuccess ferror */
fError, .fSuccess {text-align: center; }
.fError { color: #c00;}
.fSuccess {color: #0c0;}

/* menu form */
input#pastYear{width: 100px; margin-left: 10px;}
select#year{width: 90px;}

li.distanziato{padding-bottom: 5px;}


/**
 * Css per bordatura colonne tabella #tabellonetimbrature 
 */

table#tabellonetimbrature th,
table#tabellonetimbrature td {border: 1px solid #bbb;}


div.accordion-group { border-color: #bbb;}

div.accordion-inner {border-top: 1px solid #bbb;}

.popover{width:300px;}

/**
 * Css per clock
 */
/* clock */

#clockBase{
	text-align: center;
	font-size:180px;
	font-weight:bold;
	text-shadow: 5px 5px 5px black;
	
}

form#formClockLogin{ font-size: 30px; }
input#formClockPassword{ font-size: 25px; height: 35px;}
input#formClockPerson{ size: 100; }

