body {
	color: black;
	font-family: Verdana, Arial, sans-serif;
}

h1 {
	color: #284A7E;
	font-size: 11pt;
	text-align: center;
}

h2 {
	color: #284A7E;
	font-size: 10pt;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	width: 80%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #284A7E;
	background-color: white;
	padding: 0.5em 0 0.5em 0;
}

tr th {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	color: white;
	background-color: #284A7E;
	text-align: center;
}

tr td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	border: 0.2px solid silver;
	text-align: center;
	padding : 0.2em;
}

table.no-border tr th {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	border: none;
	padding: 0.5em;
	text-align: center;
	background-color: white;
	color: black;
	font-weight: bold;
}

/* Tabella riassuntiva nel PDF annuale*/
table.no-border {
	border: none;
	width: 80%;
	margin: 2em 1em;
}

table.no-border tr td {
	border: none;
}


/* tabella del PDF mensile*/
table.mensile {
	border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
}

table.mensile tr th {
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	border: 0.2px solid silver;
	padding: 0.5em;
	text-align: left;
	background-color: white;
	color: black;
	font-weight: bold;
	vertical-align: top;
}

table.mensile tr td {
	vertical-align: top;
	text-align: left;
}

table.mensile caption {
	width: 80%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #284A7E;
	padding: 0.5em 0 0.5em 0;
	background-color: white;
	margin-left: 10%;
}


tr td.no-border {
	border: none;
}

tr td.nome-dipendente {
	font-weight: bold;
	text-align: left;
}

tr td.label {
	padding-left: 1.5em;
	font-weight: bold;
}



.red {
	color: red;
}

tr td#Rossi {
	color: green;	
}

tr td#Lucchesi {
	color: #200772;	
}

tr td#Vivaldi {
	color: #E339A4;	
}

tr td#Ruberti {
	color: #64026E;	
}

tr td#LuconiTrombacchi {
	color: #33CCCC;	
}

tr td.fs {
	background-color: #FF8D40;
}

div.table {
	margin: 2em, 1em;
}

/* Firme in calce ai file PDF*/
div.firma {
	width: 20%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	text-align: center;
	margin-top: 3em;
}

div.date {
	width: 20%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	text-align: left;
	margin: 3em, 0, 4em, 7em;
}

div.dir {
	float: left;
	margin-left: 7em;
}

div.resp {
	float: right;
	margin-right: 7em;
}