/* Sticky footer styles (only up 768px)
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  max-width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  margin: 0 auto;
  overflow: hidden;
}

#footer p {
	margin: 0 auto;
	text-align: center;
}

@media (min-width: 768px) {

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  
  #footer {
    height: 60px;
  }

  #footer p {
    margin-top: 15px;
    font-size: .9em;
  }

}

@media (max-width: 767px) {

  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
  }
  
  #footer {
    height: 40px;
  }

  #footer p {
    margin-top: 10px;
    font-size: .7em;
  }

}
