#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:messages.get(request.action.endsWith('list') ? 'notification.list' : 'notification.archiveds') /}

<div class="container">
#{title title:title /}

#{form action:@Notifications.list(), method:'POST', autocomplete:false, class:'form form-horizontal auto-submit'}
  #{f.input 'message' /}
#{/form}    

#{paginate notifications, 'data-remote':'#notifications'}
 <ul class="list-group">
   #{list items:notifications.results, as:'notification'}
           #{include './_notification.html' /}
   #{/list}
  </ul>
#{/paginate}
</div>
