*{
     wttTips: se true visualizza i consigli di inserimento.
     tempoALavoro
     buonoPasto
     sogliaPomeridiana
}*   

	#{if _tempoALavoro}
     #{panel title:'Tempo a lavoro'}
      <p>
        <strong>Tempo di lavoro giornaliero</strong><br>
        La quantità di tempo in minuti che il dipendente deve effettuare per ogni giorno della settimana.
        #{if _wttTips}
           <br>Nei giorni impostati come festivi questa quantità viene automaticamente impostata a 0.
        #{/if}
      </p>
     #{/panel}
    #{/if}
    
    #{if _buonoPastoAbilitato}
     #{panel title:'Buono Pasto Abilitato'}
      <p>
        Nel caso di <strong>calcolo buono pasto abilitato</strong> per il tipo orario è possibile specificare le condizioni 
        di ottenimento del buono nel caso dei giorni non festivi.<br>
        
      </p>
     #{/panel}
    #{/if}
    
    #{if _buonoPasto}
     #{panel title:'Attribuzione Buoni Pasto'}
      <p>
        <strong>Tempo di lavoro minimo per diritto a usufruire del buono pasto</strong><br>
        La quantità di lavoro minima che il dipendente deve aver lavorato per poter usufruire del buono pasto. 
      </p>
      
      <p>
      <strong>Durata minima intervallo pranzo</strong><br>
        Il tempo minimo che deve obbligatoriamente trascorrere fra la timbratura di uscita per pranzo e la conseguente timbratura di ingresso.
        #{if _wttTips}
           <br> <em>N.B.</em>
          Per legge tale quantità minima non può essere inferiore a 30 minuti.
        #{/if}
        
      </p>
     #{/panel}
    #{/if}
    
    #{if _sogliaPomeridiana}
     #{panel title:'Soglia pomeridiana per attribuzione buoni pasto'}
      <p>
        <strong><em>Soglia pomeridiana per buono pasto e lavoro minimo per buono pasto dopo soglia pomeridiana </em></strong><br>
        Permette di aggiungere una ulteriore restrizione sulla attribuzione del buono pasto.
      </p>
      <p>La quantità minima di minuti da effettuare dopo la soglia oraria impostata.</p>
     #{/panel}
    #{/if}
