
#{alert color:'info', textcolor:'dark'} 

	#{if role.name.equals('PERSONNEL_ADMIN')}
	
	#{/if}
	
	#{if role.name.equals('PERSONNEL_ADMIN_MINI')}
	
	#{/if}
	
	#{if role.name.equals('SEAT_SUPERVISOR')}
	
	#{/if}
	
	#{if role.name.equals('EMPLOYEE')}
	
	#{/if}
	
	#{if role.name.equals('SHIFT_MANAGER')}
	
	#{/if}
	
	#{if role.name.equals('REPERIBILITY_MANAGER')}
	
	#{/if}
	
	#{if role.name.equals('GROUP_MANAGER')}
	
	#{/if}
	
	#{if role.name.equals('REGISTRY_MANAGER')}
	
	#{/if}
	
	#{if role.name.equals('MEAL_TICKET_MANAGER')}
	
	#{/if}
	
	#{if role.name.equals('TECHNICAL_ADMIN')}
	
	#{/if}
	
	#{if role.name.equals('BADGE_READER')}
	
	#{/if}
	
	#{if role.name.equals('PERSON_DAY_READER')}
	
	#{/if}


#{/alert}

