#{modalAsync id:'modalInsertInstitute', button:'Salva', title:group?.persistent ? 'Modifica gruppo di lavoro' : 'Nuovo gruppo di lavoro'}


<div class="alert alert-info" role="alert">
  Compila il form sottostante per 
  #{if group?.persistent}modificare#{/if}
  #{else}creare un nuovo#{/else}
  <strong><i class="fa fa-users"></i> gruppo di lavoro</strong>.
</div>

<div id="groupData">

  #{form action:@createGroup(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#groupData'}
  #{if group?.persistent}
    #{f.hidden 'group.id', value: group.id /}
  #{/if}
  #{f.input 'group.name', required:true /}
  #{f.input 'group.description' /}
  #{f.hidden 'office.id' /}  
  #{f.selectModel 'group.manager', items: peopleForGroups, required:true /}
  #{f.selectModels 'people', label:messages.get('group.people'), value:group?.people, items: peopleForGroups /}
  #{f.booleanRadio 'group.sendFlowsEmail' /}

  #{f.date 'group.endDate', label:messages.get('endDate') /}
  #{f.input 'group.externalId' /}
  #{b.buttons center:true}
    
    #{b.save /}
  #{/b.buttons}

  #{alert color:'info'}
  <p>
    <strong>Note:</strong> Soltanto gli amministratori del personale della sede potranno
    gestire questo gruppo, fra cui la modifica delle persone appartenenti allo stesso e
    il responsabile.
  </p>
  #{/alert}
  #{/form}

</div>



#{/modalAsync}