#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'Monte ore straordinari per: ' + group.name  /}

<div class="container">
	#{title title: title /}
	#{breadcrumbs ['manageGroups':@Groups.showGroups(group.office.id), (title):null ], noHome:'true' /}
	
	
	#{alert color:'info'}
	Il monte ore di straordinario disponibile per l'intera sede <strong>${group.office.name}</strong> è <strong>${hoursAvailable}</strong>
	#{/alert}
	
	#{alert color:'info'}
	La quantità di ore di straordinario assegnata al gruppo: <strong>${group.name}</strong> nell'anno è <strong>${totalGroupOvertimes}</strong> <br>
	La quantità di ore disponibili attualmente per il gruppo è: <strong>${groupOvertimesAvailable}</strong>
	#{/alert}
	#{secure.check 'GroupOvertimes.save'}
	#{form @GroupOvertimes.save(currentData.year), method:'POST', autocomplete:false, class:'form form-horizontal'}
		#{f.hidden 'groupId', value: group.id /}

		#{f.hidden 'groupOvertime.id', value: groupOvertime.id /}

		#{f.input 'groupOvertime.numberOfHours', type:'number' /}

		#{b.buttons center:true}
			#{b.submit 'Salva'/}
		#{/b.buttons}
	
	#{/form}
	#{/secure.check}
	
	#{if !map.isEmpty()}
	<div class="container">
		<h4 style="text-align:center;">Riepilogo dettagliato ore di straordinario assegnate nei mesi precedenti</h4>
		#{accordionGroup 'mensilita'}
		#{list items:map.entrySet(), as:'entry'}
			  #{accordionItem 'item'+entry.getKey(), parent:'mensilita', title:'Straordinari di '+templateUtility.monthName(entry.getKey()), open:false}
      			<ul>
      			#{list items:entry.getValue(), as:'pom'}
      				<li>${pom.person.fullName()} - ${pom.quantity} ore</li>
      			#{/list}
    			</ul>
  				#{/accordionItem}
		#{/list}
		#{/accordionGroup}
	</div>
	#{/if}
	
</div>