#{modalAsync id:'defaultModal', button:'Salva', title:'Users.addRole' }
<div class="alert alert-info" role="alert">
  Creazione nuovo ruolo per l'utente <strong>${user.username}</strong>
</div>
<div id="userRoleOfficeData">
#{form action:@saveRole(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#userRoleOfficeData'}

  #{f.hidden 'userRoleOffice.user.id', value: user.id /}
  #{f.selectModel 'userRoleOffice.role' , items: templateUtility.roles/}
  #{f.selectModel 'userRoleOffice.office' , items: templateUtility.technicalAdminOffices/}

  #{b.buttons center:true}
    #{b.submit 'Salva'/}
  #{/b.buttons}

#{/form}
</div>
#{/modalAsync}