#{modalAsync id:'modalInsertUser', button:'Salva', title:'User.blank' }

<div class="alert alert-info" role="alert">
  Inserisci i dati del nuovo <strong><i class="fa fa-user"></i> &{'user'}</strong>.
</div>

<div id="userData">

     
      <div id="form-physical">
 	  
  		#{form action:@save(), method:'POST', autocomplete:false,
  			class:'form-horizontal', 'data-async':'#badgeReaderList',
  			'data-async-error':'#userData'}


  		#{f.input 'user.username' /}
  		#{f.input 'user.password', type:'password' /}
  		#{f.selectMultipleModel 'roles',
  			values:templateUtility.allPhysicalRoles(), placeholder:'Tutti i ruoli fisici' /}

  		#{b.buttons center:true}
    		#{b.cancel @index() /}
    		#{b.save /}
  		#{/b.buttons}
  		#{/form}
	  </div>
	  
  		#{alert color:'info'}   
  			<p>
    		<strong>Note:</strong> Solo l'amministratore tecnico può generare un nuovo utente.
  			</p>
  		#{/alert}
  

</div>

#{/modalAsync}

