#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione utenti'  /}


#{if user.person}
  #{set breadcrumbs:['users':null, 'personUsers':@Users.list(), ('Gestisci '+ user.username):null] /}
#{/if}  
#{else}
  #{set breadcrumbs:['users':null, 'personUsers':@Users.systemList(), ('Gestisci '+ user.username):null] /}
#{/else}  

<div class="container">

#{breadcrumbs breadcrumbs, noHome:'true' /}

#{title title:'Gestione ' + user.username /}

#{panel title:'Informazioni', color:'primary'}
  #{alert color:'info'}
    <p>Informazioni relative all'utente #{if user.person} personale #{/if} #{else} di sistema #{/else}
    <strong>${user.username}</strong>. </p>
  #{/alert}
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'user.id' /}
		  #{if user.person}			
		    #{f.view 'user.person' /}
		  #{/if}	
		  #{f.input 'user.username', required:true /}
		  #{f.input 'user.password', type:'password', required:true /}
		  #{if user.owner != null}
		    #{f.input 'user.owner', readonly:true /}
		  #{/if}
		  <div class="col-sm-3">
		  </div>
		  <div class="col-sm-6">
		  <table class="table table-condended table-bordered">	
		  <tr>
		  	<th class="alert alert-info">Ruolo</th>
    		<th class="alert alert-info">Ufficio</th>
		  </tr>    
	      #{list items:uroList, as:'uro'}
	      <tr>
	      	<td>${uro.role}</td>
	      	<td>${uro.office}</td>
	      </tr>
	      #{/list}
 	  	  </table>
 	  	  #{b.buttons center:true}
    		
    		#{b.save /}
    		
    		*{ permetto di disabilitare/abilitare solo gli utenti di sistema }*
    		#{if user.person == null }
    		 #{if !user.disabled}
    		 	#{b.disable @disable(user.id) /}
    		 #{/if}
    		 #{else}    		 		
    		    #{b.enable /}
    		 #{/else}
    		#{/if}    		 
    			
  		  #{/b.buttons}
 	  	  </div>
 	  	  <div class="col-sm-3">
 	  	  </div>
 	  #{/form}
#{/panel}

	<div id="enable" style="display: none">
	#{panel title:'Riabilita utente', color:'primary'}
      #{form @Users.enable(), class:'form-horizontal'}
  		<input type="hidden" name="id" value="${user.id}" />
  		#{f.hidden 'systemUser', value:'true' /}
	    <div class="alert alert-success">
			E' possibile ripristinare l'utente selezionato assegnandogli il/i ruolo/i sulla/e sede/i di interesse.
        </div>	 
        #{f.selectModels 'officeIds', items:templateUtility.officesAllowed(), 
  		    value:offices, placeholder:'Tutti gli uffici' /}

		#{f.selectModels 'roleIds', items:templateUtility.allSystemRoles(), 
		    value:roles , placeholder:'Tutti i ruoli di sistema' /}
		<div class="center">
	    	<input class="btn btn-primary" type="submit" value="Riabilita"/>
	  	</div>
      #{/form}
    #{/panel}
    </div> <!-- end form vertical -->


</div>

<div id="modalUpdateRole" class="modal fade container" tabindex="-1"></div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
		
		jQuery(document).ready(function(){
	        jQuery('#hideshow').on('click', function(event) {    
	        	$(this).toggleClass('btn-info');
	        	$(this).toggleClass('btn-warning');
	        	jQuery('#enable').toggle('show');	             
	        });
	    });

		

	 });
	</script>
#{/set}

