#{extends 'main.html' /}
#{set header:'navbar' /}
#{if user}
	#{set title: 'Modifica utente ' + user.username /}
#{/if}
#{else}
	#{set title: 'Nuovo utente' /}
#{/else}

<div class="container">
	#{title title: title /}

	#{breadcrumbs ['manageUsers':@Users.list(), (title):null ], noHome:'true' /}

	#{form @Users.save(), method:'POST', autocomplete:false, class:'form form-horizontal'}

		#{f.hidden 'user.id', value: user.id /}
		#{f.input 'user.username' /}
	  #{f.input 'password' , type:'password', value: password?:'' /}
	  #{f.input 'confirmPassword' , type:'password', value: password?:'' /}
		#{f.selectEnums 'user.roles' , items:models.enumerate.AccountRole  /}
		#{f.selectModel 'user.person' , items: templateUtility.assignablePeople()  /}
		#{f.selectModel 'user.badgeReader' , items: null /}
		#{f.selectModel 'user.owner' , items: templateUtility.officesAllowed() /}

		#{f.checkbox 'user.disabled' /}

		#{b.buttons center:true}
			#{b.submit 'Salva'/}
		#{/b.buttons}

	#{/form}

	<div id="rolesList">
		<ul class="list-group col-sm-6 col-sm-offset-3">
			<a href="@{addRole('user.id':user.id)}" class="list-group-item active" data-async-modal="#defaultModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nuovo ruolo</a>
			#{list user.usersRolesOffices}
			<li class="list-group-item clearfix">
				<strong><em>${_.role}</em></strong> della sede di <strong><em>${_.office}</em></strong>
        <a href="@{removeRole('userRoleOffice.id': _.id)}" class="badge" style="color:white;">
          &{'crud.delete'} <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
			</li>
			#{/list}
		</ul>
	</div>

</div>


