#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione utenti'  /}

<div class="container">
  #{set breadcrumbs:['users':null, 'personUsers':@Users.list()] /}
  #{breadcrumbs breadcrumbs, noHome:'true' /}

  #{user.usersTabs activeAction:'list' /}

  	
	#{alert color:'info'}
	<p>Elenco degli utenti associati ad una persona.</p>
	#{/alert}

	#{form action:@Users.list(), class:'form-inline', method:'GET',
    'data-reload':'#normalResults', autocomplete:'off'}

    <div class="row">
     <div class="col-sm-3">
        #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'search'.label(), inline:true /}
     </div>
     <div class="col-sm-1">
        <button type="submit" name="_filter" class="btn btn-primary">
            <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
        </button>
     </div>
    </div>
	#{/form}
	
    <br>
	
	<section id="normalResults">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">

			 #{user.item item:item, edit:'true' /}
		  
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
     </section>
     </div>


<div id="modalInsertUser" class="modal container" tabindex="-1"></div>