#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione utenti'  /}

<div class="container">

  #{title title:'Gestione Utenti' /}

  #{include './_usersTabs.html' /}
  <br>
  #{breadcrumbs ['manageUsers':@Users.list()], noHome:'true' /}

  #{form action:@Users.list(), class:'form-inline', method:'GET', 'data-reload':'#normalResults', autocomplete:'off'}
  <div class="row">

    #{f.searchInput 'name' /}

    #{field 'office'}
    <div class="col-sm-5">
      <label for="${field.id}" class="control-label">&{'officeFilter'}</label>
      <div class="input-group">
        <select class="form-control" name="${field.name}.id" id="${field.id}" select2>
          <option></option>
          #{list templateUtility.officesAllowed(), as:'office'}
          <option value="${office.id}" #{if field.value?.id== office.id} selected#{/if}>
          ${office.getLabel()}
          </option>
          #{/list}
        </select>
      </div>
    </div>
    #{/field}

  </div>
  #{/form}
  <br>

  #{include './_usersList.html' /}

</div>