#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione utenti'  /}

<div class="container"> 
  	 
   #{set breadcrumbs:['users':null, 'systemUsers':@Users.systemList()] /}
   #{breadcrumbs breadcrumbs, noHome:'true' /}

   #{user.usersTabs activeAction:'systemList' /}
  	 
    #{alert color:'info'}
	<p>Elenco degli utenti di sistema. <br>
	In questa lista vengono presentati anche gli utenti di sistema che rappresentano le sorgenti timbrature 
	(verificabili nella apposita sezione <strong>Sorgenti Timbrature</strong> del menu <strong>Configurazione</strong>).
	<br> Per la modifica di questi ultimi, pertanto, è consigliato fare riferimento alla medesima sezione del menu <u>Configurazione</u>.</p>
	#{/alert}
	
	#{form action:@Users.systemList(), class:'form-inline', method:'GET',
    'data-reload':'#results', autocomplete:'off'}

    <div class="row">
     <div class="col-sm-3">
        #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'search'.label(), inline:true /}
     </div>
     <div class="col-sm-1">
        <button type="submit" name="_filter" class="btn btn-primary">
            <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
        </button>
     </div>
    </div>
	#{/form}
	
	  #{b.actions}
	    <a class="btn btn-success" href="@{systemBlank()}" data-async-modal="#modalInsertUser">
	      <i class="fa fa-plus"></i> &{'Users.blank'}
	    </a>
      #{/b.actions}
	
	<div id="userList">
	<section id="results">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
			 #{user.item item:item, edit:'true' /}		  
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
     </section>
     </div>
     
</div>

<div id="modalInsertUser" class="modal fade container" tabindex="-1"></div>
