    #{alert color:'info'}
      <p>Elenco dei blocchi consegnati a <strong>${recap.contract.person.fullname}</strong>.</p>
      <p><i class="fa fa-lightbulb-o"></i> Cliccando sui titoli delle colonne è possibile ordinare
      i blocchi consegnati per <em>Codice Blocco</em>, <em>Data Consegna</em> e <em>Data Scadenza</em> </p>
    #{/alert} 	

	  <table class="table center" datatable-meal>
	    <thead>
		    <tr>
		      <th>Codice</th>
		      <th>Consegnato il</th>
		      <th>Scadenza</th>
		      *{
		      <th>Usati</th>
		      <th>Rimanenti</th>
		      }*
		      <th>Rimozione</th>
		    </tr>
	     </thead>
	     <tbody>     
 	      #{list items:recap.getBlockMealTicketReceivedDeliveryDesc(), as:'block'}
		      <tr>
		        <td>
		          <strong>${block.codeBlock}</strong> (${block.first}-${block.last})
		        </td> 
		        <td data-order="${block.getDate()}">${block.getDate()?.format()}</td>
		        <td data-order="${block.getExpireDate()}">${block.getExpireDate()?.format()}</td>
		        *{
		        <td>
		          <h5 class="text-danger"><strong>${block.getConsumed()}</strong></h5>
		        </td>
		        <td>
		          <h5 class="text-success"><strong>${block.getRemaining()}</strong></h5>
		        </td>
		        }*
		        
		        <td>
                  <a class="btn btn-danger btn-xs" 
                  href="@{MealTickets.deletePersonMealTicket(recap.contract.id, block.codeBlock, block.first, block.last, false)}"
                  data-async-modal="#defaultModal" >Rimuovi</a>
                </td>
		      </tr>
		  #{/list}  
		  </tbody>
      </table>
