
#{alert color:'info'}
  <p>Inserisci blocchi buoni pasto (fino ad un massimo di 3 alla volta)</p>
#{/alert} 		
        
	    #{form @MealTickets.submitPersonMealTicket() }
		  <input type="hidden" name="personId" value="${recap.contract.person.id}"/>
		  <input type="hidden" name="name" value="${name}"/>
		  <input type="hidden" name="page" value="${page}"/>
		  <input type="hidden" name="max" value="${max}"/>	      
		  
		  <table class="table table-bordered center">
		    <tr>
		      <th>Codice Blocco</th>
		      <th>Dimensione<br>Blocco</th>
		      <th>Data Scadenza</th>
		      <th>Data Attribuzione</th>
		      <th>Amministratore Assegnatario</th>
		    </tr>
		    <!-- blocco1 -->
		    #{mealTickets.blockForm id:1, expireDate:expireDate, admin:admin, today:today /}
		    #{mealTickets.blockForm id:2, expireDate:expireDate, admin:admin, today:today /}
		    #{mealTickets.blockForm id:3, expireDate:expireDate, admin:admin, today:today /}
		  </table>
		  <div class="center">
		    <button type="submit" class="btn btn-sm btn-primary">Salva</button>
		  </div>
		#{/form}
