#{modalAsync title:'Elimina Blocco Buoni Pasto'}
<div class="text-center">
  #{alert color:'danger'}
  <p>Conferma rimozione Blocco inserito </strong>per <strong>${contract.person.fullname}</strong> 
  con codice <strong>${codeBlock}</strong> dal <strong>${first}</strong> al <strong>${last}</strong>.</p><br>

  #{form action:@deletePersonMealTicket(), method:'POST', autocomplete:false,
  class:'form form-horizontal' }

  #{f.hidden 'contractId', value:contract.id /}
  #{f.hidden 'confirmed', value:confirmed /}
  #{f.hidden 'codeBlock', value:codeBlock /}
  #{f.hidden 'first', value:first /}
  #{f.hidden 'last', value:last /}
  
  <div class="container-fluid center">
    <input class="btn btn-danger" type="submit" value="Elimina"/>
  </div>
  #{/form}


  #{/alert}


</div>
#{/modalAsync}
