#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione buoni pasto'  /}

#{set 'moreStyles'}
 
#{/set}




<div class="container">

  <div id="container-fluid-nav-tabs" class="container-fluid">
    <ul class="nav nav-tabs">
      <li><a href="@{MealTickets.recapMealTickets()}">Riepilogo buoni pasto</a></li>
      <li class="active"><a href="@{MealTickets.manageMealTickets()}">Assegnazione nuovi</a></li>
    </ul>
  </div>

  
  #{form action:@MealTickets.manageMealTickets(), class:'form', 
    method:'GET', autocomplete:'off',
    'data-reload':'#results'}
    
    <span class="glyphicon glyphicon-search"></span>
    <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="search-query"/>

  #{/form}
  <br>
  
  <section id="results">

  #{list items:personList, as:'person'}
   
    <div class="panel panel-default">
      <div class="panel-body bg-warning">
 		
 		<div class="center">
 		  <h3>${person.name} ${person.surname}</h3>
 		</div>

        <p><span class="badge">1</span><strong> Inserisci blocchi buoni pasto (fino ad un massimo di 3 alla volta)</strong></p>
	    #{form @MealTickets.submitPersonMealTicket() }
		  <input type="hidden" name="personId" value="${person.id}"/>
	      
		  
		  <table class="table table-bordered center">
		    <tr>
		      <th>Codice Blocco</th>
		      <th>Dimensione Blocco</th>
		      <th>Data Attribuzione</th>
		      <th>Amministratore Assegnatario</th>
		    </tr>
		    <!-- blocco1 -->
		    <tr  style="background-color: white;">
		      <td>
		        <input type="number" name="codeBlock1"/>		      
		      </td>
		      <td>
		        #{select 'dimBlock1'}
	              #{option 22}${22}#{/option}
	              #{option 23}${23}#{/option}
		        #{/select}
		      </td>
		       <td>
		        ${today}
		      </td>
		      <td>${admin.person.name} ${admin.person.surname}</td>
		    </tr>
		    <!-- blocco2 -->
		    <tr  style="background-color: white;">
		      <td>
		        <input type="number" name="codeBlock2"/>		      
		      </td>
		      <td>
		        #{select 'dimBlock2'}
	              #{option 22}${22}#{/option}
	              #{option 23}${23}#{/option}
		        #{/select}
		      </td>
		      <td>
		        ${today}
		      </td>
		      <td>${admin.person.name} ${admin.person.surname}</td>
		    </tr>
		    <!-- blocco3 -->
		    <tr style="background-color: white;">
		      <td>
		        <input type="number" name="codeBlock3"/>		      
		      </td>
		      <td>
		        #{select 'dimBlock3'}
	              #{option 23}${23}#{/option}
	              #{option 22}${22}#{/option}
		        #{/select}
		      </td>
		       <td>
		        ${today}
		      </td>
		      <td>${admin.person.name} ${admin.person.surname}</td>
		    </tr>
		  </table>
		  <div class="center">
		    <button type="submit" class="btn btn-sm btn-primary">Salva</button>
		  </div>
		#{/form}

		

		<p><span class="badge">2</span><strong> Riepilogo blocchi assegnati</strong></p>
		 <table class="table center">
		    <tr>
		      <th>Codice Blocco</th>
		      <th>Numero buoni</th>
		      <th>Rimozione</th>
		    </tr>
		    #{list items:person.getBlockMealTicket(), as:'block'}
		      <tr style="background-color: white;">
		        <td>${block.codeBlock}</td>
		        
		        <td>
		          <a href="@{MealTickets.showPersonBlockMealTicket(block.codeBlock)}" data-modal=".my-modal">
		            ${block.mealTickets.size()}
		    	  </a> 
		        </td>
		        
		        <td>
		        #{form @MealTickets.deletePersonMealTicket() }
		    	  <input type="hidden" name="codeBlock" value="${block.codeBlock}"/>
	        	  <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
		  		#{/form}
		        </td>
		        
		      </tr>
		    #{/list}
		    
		  </table>
		  </div>
        
      </div>
	  <br>
   
  #{/list}
  
  </section>
  
</div>
#{include '_myModal.html' /}
