#{modalAsync title:('Gestione Buoni Pasto ' + person.fullname) }
           

  #{tabs}
      #{tabItem id:'riepilogo', title:'Riepilogo', active:true /}
      #{tabItem id:'insert', title:'Inserisci' /}
  #{/tabs}
    <br>
  
  #{tabContent}
	<!-- Riepilogo e eliminazione dei blocchi precedentemente inseriti -->
   #{tabContentItem id:'riepilogo', active:true}
   	#{include './_recap.html' /}
   	#{include './_delete.html' /}
   #{/tabContentItem}

   <!-- Nuovi blocchi-->
   #{tabContentItem id:'insert'}
    #{include './_insert.html' /}
   #{/tabContentItem}
   
   
  #{/tabContent} 
        
#{/modalAsync}
