#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione buoni pasto'  /}

#{set 'moreStyles'}
 
#{/set}

<div class="container">
  
  <div id="container-fluid-nav-tabs" class="container-fluid">

  <ul class="nav nav-tabs">
    <li class="active"><a href="@{MealTickets.recapMealTickets()}">Riepilogo buoni pasto</a></li>
    <li><a href="@{MealTickets.manageMealTickets()}">Assegnazione nuovi</a></li>
  </ul>

  </div>
  
  <div class="col-md-10 col-md-offset-1">
 
	  <table class="table table-striped">
	    <tr>
	      <th>Nome</th>
	      <th>Rimanenti</th>
	      <th>Data Esaurimento</th>
	  	</tr>
	  	
	  	#{list items:mealTicketRecaps, as:'recap'}
	  	  <tr>
	  	    <td>${recap.contract.person.surname} ${recap.contract.person.name}</td> 
	  	    <!-- remaining cell -->
	  	    #{if recap.remaining >= 5}
	  	      <td class="success">
	  	    #{/if}
	  	    #{if recap.remaining > 0 && recap.remaining < 5}
	  	       <td class="warning">
	  	    #{/if}   
	  	    #{if recap.remaining == 0}
	  	      <td class="danger">
	  	    #{/if}
	  	      <strong>
	  	      ${recap.remaining}
	  	      </strong>
	  	    </td>
	  	    
	  	    <td>
	  	    #{if recap.isMealTicketRunOut()}
	  	    	${recap.getDateError()}
	  	    #{/if}
	  	     #{if recap.isMealTicketExpired()}
	  	    	${recap.getDateError()} *
	  	    #{/if}
	  	    </td>
	  	  </tr>

	  	#{/list}
	  
	  </table>
	  
</div>
