#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione buoni pasto'  /}

#{set 'moreStyles'}
 
#{/set}

<div class="container">
  
  <div id="container-fluid-nav-tabs" class="container-fluid">

  
  
    <!-- Ultimi inseriti -->
    #{if blockAdded != null }
    <div class="col-md-12 center">
  	
  	  <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>Buoni Pasto correttamente inseriti per la persona 
          <a data-toggle="modal" data-backdrop="true" href="@{MealTickets.quickBlocksInsert(personAdded.id)}"
	  	       data-modal=".my-modal-large">	  	      
	  	     ${personAdded.surname} ${personAdded.name}</a>
	  	  </a>
	  	</strong>
        <br><br>
         <table class="table center">
		    <tr>
		      <th>Codice Blocco</th>
		      <th>Dimensione</th>
			  <th>Data Scadenza</th>
		      <th>Data Attribuzione</th>
		      <th>Amministratore Assegnatario</th>
		    </tr>
		    #{list items:blockAdded, as:'block'}
		      <tr style="background-color: white;">
		        <td>
		          <strong>${block.codeBlock}</strong>
		        </td>
		        <td>${block.getDimBlock()}</td>
		        <td>${block.getExpireDate()}</td>
		        <td>${block.getReceivedDate()}</td>
		        <td>${block.getAdmin().name} ${block.getAdmin().surname}</td>	        
		      </tr>
		    #{/list}
		  </table>
      </div>
      
    </div>    
    #{/if}

  
    <div class="col-md-12">
      <table class="datatable-test table table-bordered center">
        <thead>
        <tr>
	      <th>Nome</th>
	      <th>Mese Precedente</th>
	      <th>Consegnati mese</th>
	      <th>Utilizzati mese</th>
	      <th>Rimanenti</th>
	  	</tr>
	  	</thead>
	  	<tbody>
	  	  #{list items:monthRecapList, as:'recap'}
	  	  <tr>
	  	    <td>
	  	       <a data-toggle="modal" data-backdrop="true" href="@{MealTickets.quickBlocksInsert(recap.contract.person.id)}"
	  	       data-modal=".my-modal-large">
		  	      ${recap.contract.person.surname} ${recap.contract.person.name}</a>
	  	    </td> 
	  	    <td>${recap.buoniPastoDalMesePrecedente}</td>
	  	    <td>${recap.buoniPastoConsegnatiNelMese}</td>
	  	    <td>${recap.buoniPastoUsatiNelMese}</td>
	  	    <!-- remaining cell -->
	  	    #{if recap.remainingMealTickets >= 5}
	  	      <td class="success">
	  	    #{/if}
	  	    #{if recap.remainingMealTickets > 0 && recap.remainingMealTickets < 5}
	  	       <td class="warning">
	  	    #{/if}   
	  	    #{if recap.remainingMealTickets <= 0}
	  	      <td class="danger">
	  	    #{/if}
	  	      <strong>
	  	      ${recap.remainingMealTickets}
	  	      </strong>
	  	    </td>
	  	  </tr>

	  	  #{/list}
	  	</tbody>	
	  </table>
    </div>
  </div>    
  
  <!-- Lista degli istituti che non hanno attiva la data inizio utilizzo -->
  <div id="container-fluid-nav-tabs" class="container-fluid">
	  <div class="alert alert-danger">
	    #{if officesNoMealTicketConf.size() > 0}
	    	<p><strong>Attenzione</strong>: non è stata definita una data inizio utilizzo TicketRestaurant per le seguenti sedi di
	    	cui si detengono i diritti di amministrazione:</p>
	    	#{list items:officesNoMealTicketConf, as:'office'}
	    		<ul>
	    		  <li>${office.name}</li>
	    		</ul>
	    	#{/list}
	    	<p>Per impostarla contattare l'amministratore tecnico della sede oppure epas@iit.cnr.it</p> 
	    	
	    #{/if} 
	  </div>
  </div>
    
  
</div>

#{include '_myModal_large.html' /}