#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione buoni pasto'  /}

#{set breadcrumbs:[recapMealTickets:@MealTickets.recapMealTickets(session.get('yearSelected'), 
session.get('monthSelected'), session.get('officeSelected')), (person.fullname):null] /}

#{breadcrumbs breadcrumbs, noHome:true, container:true /}

<div class="container">
  #{include './_personTabs.html' /}
  
  #{tabContentItem id:'recap'}
  	#{include './_recap.html' /}
  #{/tabContentItem}
        
</div>
