*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   personId = session.get("personSelected");
   officeId = session.get("officeSelected");
}%
   
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("showCompetences")} class="active" #{/if}>
      <a href="@{Competences.showCompetences(session.get("yearSelected"), session.get("monthSelected"), officeId)}">Assegna Competenze</a>
    </li>
    <li #{if _activeAction.equals("enabledCompetences")} class="active" #{/if}>
      <a href="@{Competences.enabledCompetences(session.get("officeSelected"))}">Abilita Competenze</a>
    </li>
    <li #{if _activeAction.equals("totalOvertimeHours")} class="active" #{/if}>
      <a href="@{Competences.totalOvertimeHours(session.get("yearSelected"), session.get("officeSelected"))}">Monte ore</a>
    </li>
    <li #{if _activeAction.equals("exportCompetences")} class="active" #{/if}>
      <a href="@{Competences.exportCompetences()}">Esporta competenze</a>
    </li>
    <li #{if _activeAction.equals("approvedCompetenceInYear")} class="active" #{/if}>
      <a href="@{Competences.approvedCompetenceInYear(session.get("yearSelected"), false, session.get("officeSelected"))}">Competenza Assegnate nell'anno</a>
    </li>
  </ul>
</div>
<br>
