*{
	activeAction: la action tab attiva
}*


#{title title:'Gestione Utenti' /}

<div id="container-nav-tabs">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("list")} class="active" #{/if}>
      <a href="@{Users.list()}">Utenti con associata persona</a>
    </li>
    <li #{if _activeAction.equals("systemList")} class="active" #{/if}>
      <a href="@{Users.systemList()}">Utenti di sistema</a>
    </li>
    <li #{if _activeAction.equals("disabledList")} class="active" #{/if}>
      <a href="@{Users.disabledList()}">Utenti disabilitati</a>
    </li>
    
  </ul>
</div>
<br>