#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Istituti contrattuali'  /}
#{set breadcrumbs:['Istituti contrattuali':null] /}

<div class="container">

#{breadcrumbs breadcrumbs /}

#{title title:'Istituti contrattuali' /}

#{accordionGroup 'contractual_clauses_and_references'}

  #{accordionItem 'contractual_clauses', parent:'contractual_clauses_and_references', 
		title:'Configurazione degli istituti contrattuali', open:true, color:'info'}

	  #{secure.check 'ContractualClauses.manage'}
	    <div class="row text-center">
		  #{secure.link @blank(), class:'btn btn-primary',fa:'plus' }
		    Nuovo istituto contrattuale
		  #{/secure.link}
	  </div>
	  #{/secure.check}

	  <table class="table table-bordered" datatable> 
	   <thead>
	 	<tr>
	 	  <th width="20%">Nome</th>
	 	  <th>Dal</th>
	 	  <th>Al</th>
	 	  <th>Categorie</th>
	 	  <th>Contesto</th>
	 	  <th>Azioni</th>
	 	</tr>
	   </thead>
	   <tbody>
		 #{list items:contractualClauses, as:'contractualClause'}
		  <tr>
		    <td>
		      ${contractualClause.name}		      
		    </td>
		    <td>${contractualClause.beginDate?.format()}</td>
		    <td>${contractualClause.endDate?.format()}</td>
		    <td>
			  #{list items:contractualClause.categoryGroupAbsenceTypes, as:'category'}
			    <span class="label label-success">${category.name}</span> <br>
			  #{/list}    
		    </td>
		    <td>
		       ${contractualClause.context.label()}
		    </td>
		    <td>
				#{secure.check 'ContractualClauses.show'}
					#{b.link @show(contractualClause.id), class:'btn btn-default btn-sm'}
		    		<i class="fa fa-book"></i> Mostra
		    		#{/b.link}
		    	#{/secure.check}
		    	#{secure.check 'ContractualClauses.edit'}
		    		#{b.link @edit(contractualClause.id), class:'btn btn-primary btn-sm'}
		    			<i class="fa fa-pencil-square-o"></i> Modifica
		    		#{/b.link}		    			    	
		    	#{/secure.check}
		    </td>
		  </tr>
		 #{/list}
	 </tbody>
	 </table>
  #{/accordionItem}

#{/accordionGroup}
</div>
