#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['badgeReaders':@BadgeReaders.list(), ('Configura '+ badgeReader.code):null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs, noHome:'true' /}
  
#{tabs}
  #{tabItem id:'info', title:'Riepilogo', active:true /}
  #{tabItem id:'badgeSystems', title:'badgeSystems' /}
  #{tabItem id:'delete', title:'Elimina'/}
#{/tabs}
<br>
#{tabContent}

  #{tabContentItem id:'info', active:true}
    #{panel title:'Informazioni', color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Modifica i dati della &{'badgeReader'} <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeReader.id' /}				
		  #{f.input 'badgeReader.code', required:true /}
	      #{f.input 'badgeReader.description' /}
	      #{f.input 'badgeReader.location' /}
	    
	      #{f.selectModel 'badgeReader.owner', items:templateUtility.officeForBadgeReaders(), required:true /}
 	  	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
	  #{/panel}
      
      #{panel title:'Nuova Password', color:'primary'}
  	  <div class="alert alert-danger" role="alert">
    	Modifica la password di accesso della &{'badgeReader'} <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@changePassword(badgeReader.id), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }
			

		  #{f.hidden 'user.id', value:badgeReader.user.id /}				
		  #{f.view 'badgeReader.user.username' /}
	  	  #{f.input 'newPass', type:'password', label:'Nuova password' /} 
	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
    #{/panel}
  
  #{/tabContentItem}
  
  #{tabContentItem id:'badgeSystems'}
    
    
    
    *{ TODO il target }*
    #{secure.checkAction 'BadgeReaders.joinBadgeSystems'}
	   <div class="text-center">
	    <a class="btn btn-success" href="@{joinBadgeSystems(badgeReader.id)}" data-async-modal="#defaultModal">
	      &{'BadgeReaders.joinBadgeSystems'} ${badgeReader.code}
	    </a>
       </div>
       <br>
    #{/secure.checkAction}
    
    #{alert color:'info'}
      <p>La lista dei <strong><i class="fa fa-credit-card"></i> &{'badgeSystems'}</strong> attualmente associati a <strong>${badgeReader.code}</strong>.</p>
    #{/alert}
    
    <section id="results">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
		   #{badgeSystem.item item:item /}
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
    </section> 
    
  
  #{/tabContentItem}
  
  #{tabContentItem id:'delete'} 
  
    #{if badgeReader.badgeSystems.empty }
   	<div class="text-danger center">
   	  #{alert color:'danger'}
	    <p>E' possibile eliminare la &{'badgeReader'} <strong>${badgeReader.code}</strong> poichè non è associata ad
	    alcun &{'badgeSystem'}.</p>
		<a class="btn btn-danger" href=@{BadgeReaders.delete(badgeReader.id)}>Elimina</a>
	  #{/alert} 
	</div>
	#{/if}
	#{else}
	  #{alert color:'info'}
	    <p>E' possibile eliminare una &{'badgeReader'} solo nel caso in cui non sia associato ad alcun &{'badgeSystem'}</p>
	  #{/alert}
	#{/else}

  #{/tabContentItem}
#{/tabContent}  
 

</div>

<div id="modalInsertBadgeReader" class="modal container" tabindex="-1"></div>