#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['badgeReaders':@BadgeReaders.list(), ('Configura '+ badgeReader.code):null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs, noHome:'true' /}
  
#{tabs}
  #{tabItem id:'info', title:'Riepilogo', active:true /}
  #{tabItem id:'badgeSystems', title:'badgeSystems' /}
#{/tabs}
   
#{tabContent}

  #{tabContentItem id:'info', active:true}
    #{panel title:'Informazioni', color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Modifica i dati del lettore <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeReader.id' /}				
		  #{f.input 'badgeReader.code', required:true /}
	      #{f.input 'badgeReader.description' /}
	      #{f.input 'badgeReader.location' /}
	    
	      #{f.selectModel 'badgeReader.owner', items:templateUtility.officeForBadgeReaders(), required:true /}
 	  	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
	  #{/panel}
      
      #{panel title:'Nuova Password', color:'primary'}
  	  <div class="alert alert-danger" role="alert">
    	Modifica la password di accesso del lettore <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@changePassword(badgeReader.id), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }
			

		  #{f.hidden 'badgeReader.id' /}				
		  #{f.view 'user.username' /}
	  	  #{f.input 'newPass', type:'password', label:'Nuova password' /} 
	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
    #{/panel}
  
  #{/tabContentItem}
  
  #{tabContentItem id:'badgeSystems', active:true}
    
    
    
    
    #{secure.checkAction 'BadgeReaders.joinBadgeSystems'}
	  #{b.actions}
	    <a class="btn btn-success" href="@{joinBadgeSystems(badgeReader.id)}" data-async-modal="#defaultModal">
	      <i class="fa fa-plus"></i> &{'BadgeReaders.joinBadgeSystems'}
	    </a>
      #{/b.actions}
    #{/secure.checkAction}
    
    #{alert color:'info'}
      <p>I &{'badgeSystems'} a associati alla &{'badgeReader'} ${badgeReader.code}.</p>
    #{/alert}
    <Section id="results">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
		 
		   <h4 style="color: black">	
	         <i class="fa fa-credit-card"></i><i class="fa fa-credit-card"></i><i class="fa fa-credit-card"></i>
	          
			    ${item.name}
	    	 
	       </h4>
	       <div class="container">
	       Istituto Responsabile del Badge System <strong>${item.owner.name}</strong>
	       <br>
	       
	       </div>
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
    </section> 
    
  
  #{/tabContentItem}
#{/tabContent}  
  
  
  
  *{  
  #{if office.persons.empty}
   #{secure.checkAction 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{Offices.delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.checkAction}
  #{/if}
  }*

</div>

<div id="modalInsertBadgeReader" class="modal container" tabindex="-1"></div>