#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['Lettori Badge':@BadgeReaders.list(), 'Configura Lettore Badge':null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs /}
  
#{tabs}
  #{tabItem id:'info', title:'Riepilogo', active:true /}
  #{tabItem id:'people', title:'Lista badge' /}
  #{tabItem id:'join', title:'Assegna badge' /}
#{/tabs}
   
#{tabContent}

  #{tabContentItem id:'info', active:true}
    #{accordionGroup 'info'}
    #{accordionItem 'badgeReader', parent:'info', title:'Informazioni', open:true, color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Modifica i dati del lettore <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeReader.id' /}				
		  #{f.input 'badgeReader.code', required:true /}
	      #{f.input 'badgeReader.description' /}
	      #{f.input 'badgeReader.location' /}
	    
	      #{f.selectModel 'badgeReader.owner', items:templateUtility.officeForBadgeReaders(), required:true /}
 	  	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
    #{/accordionItem}
    #{/accordionGroup}  
  
  #{accordionGroup 'pass'}
    #{accordionItem 'newPass', parent:'info', title:'Nuova Password', open:true, color:'primary'}
  	  <div class="alert alert-danger" role="alert">
    	Modifica la password di accesso del lettore <strong>${badgeReader.code}</strong>
      </div>
		#{form action:@changePassword(badgeReader.id), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }
			

		  #{f.hidden 'badgeReader.id' /}				
		  #{f.view 'user.username' /}
	  	  #{f.input 'newPass', type:'password', label:'Nuova password' /} 
	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
    #{/accordionItem}
  #{/accordionGroup}  
  
  #{/tabContentItem}
  
  #{tabContentItem id:'people'}
    #{accordionGroup 'people'}
    #{accordionItem 'badgeReader', parent:'info', title:'Lista badge associati', open:true, color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	La lista delle persone attive presenti in anagrafica con associato il badge 
      </div>
	  <table class="table table-hover">
	  <tr class="warning">
			<th>Nome</th>
			<th>Istituto</th>
			<th>Numero badge</th>
			<th>Elimina</th>			
	  </tr>
	  #{list items:badgeReader.badges, as:'badge'}
	  
	  <tr>
	  	<td class="alignLeft success">${badge.person.fullname}</td>
	  	<td>${badge.person.office.name}</td>
	  	<td>
	
		  		<li>${badge.code} associato a <strong>${badge.badgeReader.code}</strong></li>
		  	
	  	
	  	</td>
	  	<td>
	  	
	  		<li><a class="btn btn-danger btn-xs" href="@{Badges.delete(badge.id)}" 
	  		data-async-modal="#modalInsertBadgeReader">Elimina associazione</a></li>
	  	
	  	</td>
	  </tr>	         
	            
	  #{/list}
	  </table>
	  
	  
	 #{/accordionItem}
  #{/accordionGroup}
  
  #{/tabContentItem} 
  
    #{tabContentItem id:'join'}
    #{accordionGroup 'people'}
    #{accordionItem 'badgeReader', parent:'info', title:'Lista badge associati', open:true, color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Associazione delle persone al lettore <strong>${badgeReader.code}</strong> tramite badge 
      </div>
	  <table class="table table-hover">
	  <tr class="warning">
			<th>Nome</th>
			<th>Istituto</th>
			<th>Associa badge</th>
						
	  </tr>
	  #{list items:personList, as:'person'}
	  
	  <tr>
	  	<td class="alignLeft success">${person.fullname}</td>
	  	<td>${person.office.name}</td>
	  	<td>	
		  		<a href="@{Badges.joinPersonToBadge(person.id)}"><i class="fa fa-credit-card"></i> Assegna</a>	  	
	  	</td>	  	
	  </tr>	         
	            
	  #{/list}
	  </table>
	  
	  
	 #{/accordionItem}
  #{/accordionGroup}
  
  #{/tabContentItem} 
  
#{/tabContent}  
  
  
  
  *{  
  #{if office.persons.empty}
   #{secure.checkAction 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{Offices.delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.checkAction}
  #{/if}
  }*

</div>

<div id="modalInsertBadgeReader" class="modal container" tabindex="-1"></div>