#{modalAsync title:'BadgeReaders.joinBadgeSystems' }


    #{alert color:'info'}
     <p>
     Imposta i <strong><i class="fa fa-credit-card"></i> &{'badgeSystems'}</strong> 
     di <strong>${badgeReader.code}</strong>.
     </p>
     <p>Tutti i badge associati ai &{'badgeSystem'} selezionati saranno abilitati a timbrare alla &{'badgeReader'} ${badgeReader.code}. 
     </p>
    #{/alert}
	  	  
    #{form action:@saveBadgeSystems(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeReader.id' /}
		  #{f.view 'badgeReader' /}				
	      
	      #{f.selectMultipleModel 'badgeReader.badgeSystems',
           values:templateUtility.allBadgeSystem(), placeholder:'Tutti i badge system' /}
 	  	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
	#{/form}
  
#{/modalAsync}