#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Associazione badge ai lettori badge'  /}

#{set breadcrumbs:['Lettori Badge':@BadgeReaders.list(), 'Assegna badge ai lettori':null] /}

<div class="container">

#{breadcrumbs breadcrumbs /}

#{tabs}
  #{tabItem id:'people', title:'Badge associati a persone', active:true /}
  #{tabItemDisabled id:'info', title:'Assegna badge ai lettori' /}  
#{/tabs}
<br>
#{tabContent}

#{tabContentItem id:'info', class:disabled}
#{panel title:'Associa badge al lettore' , color:'primary'}	  
    <div class="alert alert-warning" role="alert">
    	Specificare l'intervallo dei numeri badge da associare al lettore <strong>${badgeReader.code}</strong>
    </div>
    #{form action:@allocateBadges(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }	
      <table class="table table-hover">
	  <tr class="warning">
			<th>Da (numero badge)</th>
			<th>A (numero badge)</th>
			
	  </tr>
	  <tr>
		<td>#{f.input 'inizio' /}</td>
	  	<td>#{f.input 'fine' /}</td>
	  </tr>
	  </table>  	  
	  	  	#{f.hidden 'badgeReader.id' /}
	  	
	  #{b.buttons}
	     #{b.save /}
	  #{/b.buttons}
	#{/form}
#{/panel}
#{/tabContentItem}

#{tabContentItem id:'people', active:true}
#{panel title:'Associa badge al lettore', color:'primary'}
	  <div class="alert alert-warning" role="alert">
    	Badge già associati al lettore <strong>${badgeReader.code}</strong>
      </div>
		#{list items:badgeReader.badges, as:'badge'}
	  		<li><strong>${badge.code}</strong> associato a <strong>${badge.person.fullname}</strong></li>
	  	#{/list}
#{/panel}
#{/tabContentItem}

#{/tabContent}

</div>