#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Controllo schedone anno passato' /}

#{charts.chartsTabs activeAction:'checkLastYearAbsences' /}

<div class="container">

<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Carica il file (formato .csv) su cui fare il controllo</h4>
		  </div>
		<div class="panel-body">

#{form @Charts.processLastYearAbsences() ,  enctype:'multipart/form-data'}

	    <input type="file" name="file">
		
		<div class="container-fluid center">
      		<input class="btn btn-primary" type="submit" value="Avanti" />
      	</div>

#{/form}
	</div>
</div>

<ul class="pager">
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>

</div>
