#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Controllo schedone anno passato' /}

#{charts.chartsTabs activeAction:'checkLastYearAbsences' /}

<div class="container">

  #{title title:('Controllo schedone ') /}
  <div id="process">

    #{if !process}
    #{form @Charts.checkLastYearAbsences() , enctype:'multipart/form-data', class:'form-horizontal',
    'data-async':'#page_content', 'data-async-error':'#process',
    'data-spinner':'#defaultSpinner'}
    #{f.hidden 'officeId', value:office.id /}
    #{alert color:'info'}
	    <i class="fa fa-info-circle fa-2x" aria-hidden="true"> Info:</i><br><br>
	    Ogni anno l'amministrazione centrale invia alle amministrazioni delle singole sedi uno schedone riepilogativo (in formato <strong>.csv</strong>)
	    contenente tutte le assenze fatte dai dipendenti di quella sede nel corso dell'anno precedente.<br>
	    Selezionando e caricando quel file in questa pagina, verrà analizzato il contenuto del file stesso in relazione alle
	    assenze salvate sul database di modo da fornire un parallelo tra le due situazioni, evidenziando i casi critici:
	    <li> i giorni in cui le assenze tra lo schedone e il database differiscono
	    <li> i giorni in cui sul database non sono presenti assenze invece presenti nello schedone. <br><br>
    #{/alert}


      #{f.input 'file', type:'file' /}

        #{b.buttons center:true}
          #{b.submit 'Avanti'/}
        #{/b.buttons}
      #{/form}
      #{/if}
      #{else}

      <table class="span10 table table-condensed table-striped" datatable>
        <thead>
        <tr>
          <th>Matricola</th>
          <th>Nome e cognome</th>
          <th>Data assenza rilevata</th>
          <th>Codice di assenza rilevato dallo schedone</th>
          <th>Esito confronto con anagrafica</th>
          <th>Motivazione</th>
          <th>Codice di assenza in anagrafica</th>
        </tr>
        </thead>
        <tbody>
        #{list items:listTrueFalse, as:'result'}
        #{if result != null}
        #{if result.type.getDescription().equals('warning')}
        <tr class="warning">
          #{/if}
          #{elseif result.type.getDescription().equals('danger')}
        <tr class="danger">
          #{/elseif}
          #{else}
        <tr class="success">
          #{/else}
          <td>${result.matricola}</td>
          <td>${result.nome} ${result.cognome}</td>
          <td>${result.data}</td>
          <td>${result.codice}</td>
          <td>
            #{if result.check}
            <i style="color: green" class="fa fa-check"></i>
            #{/if}
            #{else}
            <i style="color: red" class="fa fa-times"></i>
            #{/else}
          </td>
          <td>
            #{if result.message != null}
            ${result.message}
            #{/if}
          </td>
          <td>
            #{if result.codiceInAnagrafica != null}
            ${result.codiceInAnagrafica}
            #{/if}
          </td>
        </tr>

        #{/if}
        #{/list}
        </tbody>
      </table>

      #{/else}
  </div>
</div>
