#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Esportazione ore e straodinari' /}


#{charts.chartsTabs activeAction:'exportHourAndOvertime' /}

<div class="container">
<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Seleziona l'anno per il quale esportare ore in più e straordinari</h4>
		  </div>
		<div class="panel-body">

#{form @Charts.export()}

#{select 'year', value:year, id:'year'}
	#{list annoList}
		#{option _.anno}${_.anno}#{/option}
	#{/list}			
#{/select}
		<div class="container-fluid center">
      		<input class="btn btn-primary" type="submit" value="Avanti" />
      	</div>
#{/form}
		</div>
	</div>
</div>

<ul class="pager">
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>


