#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Grafici' /}


#{charts.chartsTabs activeAction:'indexCharts' /}

<div class="container">

<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Seleziona il grafico che ti interessa visualizzare</h4>
		  </div>
		<div class="panel-body">


<ul>
	<!-- <li><a href="@{Charts.overtimeOnPositiveResidual()}">Straordinari su residuo positivo MENSILE</a></li> -->
	<li><a href="@{Charts.overtimeOnPositiveResidualInYear(null)}">Straordinari su residuo positivo ANNUALE</a></li>
	<li><a href="@{Charts.whichAbsenceInYear(null)}">Suddivisione ANNUALE delle assenze</a></li>
	
</ul>


	</div>
</div>


<ul class="pager">
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>

</div>
