#{extends 'main_admin_no_menu.html' /}
#{set titolo: 'Grafici'/}

	
<p class="lead">Seleziona il grafico che ti interessa visualizzare</p>

<ul>
	<li><a href="@{Charts.overtimeOnPositiveResidual()}">Straordinari su residuo positivo MENSILE</a></li>
	<li><a href="@{Charts.overtimeOnPositiveResidualInYear(null)}">Straordinari su residuo positivo ANNUALE</a></li>
	<li><a href="@{Charts.whichAbsenceInYear(null)}">Suddivisione ANNUALE delle assenze</a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
</ul>





<ul class="pager">
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>