#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Export situazione mensile' /}

#{charts.chartsTabs activeAction:'listForExcelFile' /}

<div class="container">

#{title title:('Export in formato .xls della situazione mensile ') /}

	#{alert color:'info'}
		<i class="fa fa-info-circle fa-2x" aria-hidden="true"> Info:</i><br><br>
  		<p>Può essere generato un file in formato <strong>.xls</strong> contenente la situazione mensile di tutte le persone
  		della propria sede, utilizzabile al fine di avere un riscontro orario per la rendicontazione dei progetti.
  		E' possibile avere il resoconto di tutti anche in formato <strong>.csv</strong>, ma a causa delle caratteristiche del file .csv, 
  		verrà creato un archivio .zip contenente un file per ogni dipendente.</p>
  		<p>Usando i menu in alto per anno, mese e sede, sarà possibile ottenere la situazione nel mese/anno di 
  		interesse.</p>
  		<p>Selezionando <i><strong>no</strong></i> alla voce "per tutti", è possibile effettuare l'esportazione per le persone 
  		che interessano, selezionandole dal menu. In quel caso, sarà inoltre possibile specificare un intervallo
  		temporale più lungo immettendo le date specifiche nei campi "data inizio" e "data fine". </p>
  		
  	#{/alert}
  	
  	#{form @Charts.exportTimesheetSituation(), method:'POST', autocomplete:false, class:'form form-horizontal'}
  	<input type="hidden" name="month" value="${date.getMonthOfYear()}"/>
  	<input type="hidden" name="year" value="${date.getYear()}"/>
  	<input type="hidden" name="officeId" value="${office.id}"/>
	
  	#{f.selectEnum 'exportFile', items:controllers.Charts.ExportFile, 
		value:exportFile, byEquals:true /}
	#{f.date 'beginDate', value:date.format() /}
  	#{f.date 'endDate', value:date.dayOfMonth().withMaximumValue().format() /}
	#{f.booleanRadio 'forAll', label:'Per tutti' /}
    
    <div id="single-person" #{if forAll} style="display: none" #{/if}>	
    #{f.selectModels 'peopleIds',
  		items:personList, placeholder:'Il personale' /}  	
  	</div>
  	#{b.buttons center:'true'}
  		#{b.back /}
  		#{b.ok /}
  	#{/b.buttons}
  	
  	#{/form}

</div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
					
		$("input[name='forAll']").change(function(){
			
			jQuery( "#single-person" ).toggle(0);
		
		});
		       
	 });
	</script>
#{/set}