#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Export situazione mensile' /}

#{charts.chartsTabs activeAction:'listForExcelFile' /}

<div class="container">

#{title title:('Export della situazione mensile ') /}

	#{alert color:'info'}
		<i class="fa fa-info-circle fa-2x" aria-hidden="true"> Info:</i><br><br>
  		<p>Una volta scelti i parametri per cui ottenere l'eportazione, verrà generato un file <strong>.zip</strong>
  		che conterrà o la lista di file <strong>.csv</strong> per i dipendenti selezionati per il periodo selezionato,
  		oppure un file <strong>.xls</strong> contenente un foglio per ogni mese appartenente all'intervallo specificato
  		per ogni persona selezionata. </p>
  		
  	#{/alert}
  	
  	#{form @Charts.exportTimesheetSituation(), method:'POST', autocomplete:false, class:'form form-horizontal'}
  	<input type="hidden" name="month" value="${date.getMonthOfYear()}"/>
  	<input type="hidden" name="year" value="${date.getYear()}"/>
  	<input type="hidden" name="officeId" value="${office.id}"/>
	
  	#{f.selectEnum 'exportFile', items:controllers.Charts.ExportFile, 
		value:exportFile, byEquals:true /}
	#{f.date 'beginDate'/}
  	#{f.date 'endDate' /}
	#{f.booleanRadio 'forAll', label:'Per tutti' /}
    
    <div id="single-person" #{if forAll} style="display: none" #{/if}>	
    #{f.selectModels 'peopleIds',
  		items:personList, placeholder:'Il personale' /}  	
  	</div>
  	#{b.buttons center:'true'}
  		#{b.back /}
  		#{b.ok /}
  	#{/b.buttons}
  	
  	#{/form}

</div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
					
		$("input[name='forAll']").change(function(){
			
			jQuery( "#single-person" ).toggle(0);
		
		});
		       
	 });
	</script>
#{/set}