#{extends 'main.html' /}
#{set header:'navbar' /}

<div class="container">
#{if yearChart == null && monthChart == null }
	<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Seleziona mese e anno</h4>
		  </div>
		<div class="panel-body">
#{form @Charts.overtimeOnPositiveResidual()}


#{select 'yearChart', id:'yearChart'}
	#{list annoList}
		#{option _.anno}${_.anno}#{/option}
	#{/list}				
#{/select}

#{select 'monthChart', id:'meseChart'}
	#{list meseList}
		#{option _.id}${_.mese}#{/option}
	#{/list}		
#{/select}
<input class="btn btn-primary span1" type="submit" value="Ok"/>
#{/form}
		</div>
	</div>
	
	#{/if}
#{else}
<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Ore di straordinario a confronto con le ore in più per &{'views.tags.display.date.month.' + monthChart} ${yearChart} </h4>
		  </div>
		<div class="panel-body">
#{form @Charts.overtimeOnPositiveResidual()}


#{select 'yearChart', value:session.get("yearChart"), id:'yearChart'}
	#{list annoList}
		#{option _.anno}${_.anno}#{/option}
	#{/list}			
#{/select}

#{select 'monthChart', value: session.get("monthChart"), id:'meseChart'}
	#{list meseList}
		#{option _.id}${_.mese}#{/option}
	#{/list}			
#{/select}
<input class="btn btn-primary span1" type="submit" value="Ok"/>
#{/form}
		</div>
	</div>
#{/else}
</div>

#{if yearChart != 0 && monthChart != 0 }
<div class="container-fluid">
<div id="myfirstchart" style="height: 950px; margin-left: 30px;">

</div>
 	#{set 'moreScripts'}
<script type="text/javascript">
	new Morris.Bar({
	  element: 'myfirstchart',
	  data: [
		#{list poList, as:'person'}
	    {y: '${person.surname}', a: '${person.overtimeHour}', b: '${person.positiveHourForOvertime}'},
	    #{/list}
	  ],
	  xkey: 'y',
	  ykeys: ['a', 'b'],
	  labels: ['Ore straordinario', 'Ore positive usabili'],
	  xLabelAngle: 80.0,
	  gridTextSize: 14
	});

</script>
	
	#{/set}

#{/if}

<ul class="pager">
  <li><a href="/charts/indexCharts">Indietro</a></li>
  
</ul>
</div>	
