#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Straordinari e ore in più sul mese' /}

#{charts.chartsTabs activeAction:'overtimeOnPositiveResidual' /}

<div class="container">

	#{alert color:'info'}
		<i class="fa fa-info-circle fa-2x" aria-hidden="true"> Info:</i><br><br>
		Selezionando anno e mese dal menu sulla barra è possibile visualizzare, per ogni persona della sede, quanto incidono 
		le ore di straordinario prese sul residuo delle ore positive disponibili in quel mese.
	#{/alert}
	

</div>

#{if poList != null && !poList.isEmpty()}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>    
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Dipendente', 'Ore di straordinario', 'Ore in più'],
      #{list poList, as:'person'}
      ['${person?.surname} ${person?.name}', ${person?.overtimeHour}, ${person?.positiveHourForOvertime}],
      #{/list}
    ]);

    var options = {
      title: 'Ore di straordinario in relazione alle ore in più su base mensile',		
      backgroundColor: 'white',	
      fontSize: 16,
      height: 900,
      width: 1100,
      vAxis: {title: 'Dipendenti',
    	  textStyle: {color: 'black', italic: true},
    	  baselineColor: 'green'},
      hAxis: {title: 'Ore',
    	  textStyle: {color: 'black', italic: true}},
      seriesType: 'bars',
      series: {2: {type: 'line'}},
      chartArea:{
    	  top:45
      },
      chart: {
        title: 'Ore di straordinario in relazione alle ore in più',
        subtitle: 'Controllo solo tra coloro che hanno usufruito di straordinari nel mese e anno indicati',
      },
      bars: 'horizontal' // Required for Material Bar Charts.
    };

    var chart_div = document.getElementById('barchart_material');
    var chart = new google.visualization.BarChart(chart_div);
       
    google.visualization.events.addListener(chart, 'ready', function () {
        chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
        console.log(chart_div.innerHTML);
      });

    chart.draw(data, options);
    
    document.getElementById('png').outerHTML = '<a class="center" href="' + chart.getImageURI() + '">Versione stampabile</a>';
  }
</script>
#{/if}
<div class="container">
	<div id='png' ></div>
	<div id="barchart_material" class="center"></div>
</div>


