#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Straordinari e ore in più su base annuale' /}

#{charts.chartsTabs activeAction:'overtimeOnPositiveResidualInYear' /}

<div class="container">

	#{alert color:'info'}
		<i class="fa fa-info-circle fa-2x" aria-hidden="true"> Info:</i><br><br>
		Selezionando l'anno dal menu sulla barra è possibile visualizzare, per ogni persona della sede, il residuo delle ore positive
		in relazione alle ore di straordinario prese.
	#{/alert}
	

</div>
#{if poList != null && !poList.isEmpty()}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>    
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Dipendente', 'Ore di straordinario', 'Ore in più'],
          #{list poList, as:'person'}
          ['${person?.surname} ${person?.name}', ${person?.overtimeHour}, ${person?.positiveHourForOvertime}],
          #{/list}
        ]);

        var options = {
          height: 1000,
          width: 1000,
          chart: {
            title: 'Ore di straordinario in relazione alle ore in più',
            subtitle: 'Controllo solo tra coloro che hanno usufruito di straordinari nell&#39anno indicato',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
    </script>

#{/if}

<div class="container">
    <div id="barchart_material" class="center"></div>
    
    <div class="">
    #{alert color:'warning'}
		Questa la lista dei dipendenti che pur avendo ore in più disponibili, non hanno usufruito di straordinari.
	#{/alert}
    	<table class="table table-striped table-border table-condensed">
    	<tr class="warning">
		  <th>Dipendente</th>
		  <th>Matricola</th>
		  <th>Numero badge</th>
	    <tr>
	    #{list items:noOvertimeList, as:'person'}
	    <tr>
	      <td>${person.fullname}</td>
	      <td>${person.number}</td>
	      <td>${person.badgeNumber}</td>	
	    </tr>
	    #{/list}
    	</table>
    </div>
</div>