#{extends 'main3.html' /}
#{set header:'navbar' /}
<div class="container">
#{if yearChart != null}
	<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Seleziona l'anno</h4>
		  </div>
		<div class="panel-body">

#{form @Charts.overtimeOnPositiveResidualInYear()}

#{select 'yearChart', value:annoList.get(0), id:'yearChart'}
	#{list annoList}
		#{option _.anno}${_.anno}#{/option}
	#{/list}	
#{/select}
<input class="btn btn-primary span1" type="submit" value="Ok"/>
#{/form}
		</div>
	</div>
#{/if}
#{else}
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h4 class="panel-title">Torta della quantità di ore di straordinario annuali sul quantitativo orario in più totale dei dipendenti</h4>
		  </div>
		<div class="panel-body">

#{form @Charts.overtimeOnPositiveResidualInYear()}

#{select 'yearChart', value:session.get("yearChart"), id:'yearChart'}
	#{list annoList}
		#{option _.anno}${_.anno}#{/option}
	#{/list}					
#{/select}
<input class="btn btn-primary span1" type="submit" value="Ok"/>
#{/form}
		</div>
	</div>
#{/else}
</div>
#{if yearChart != 0}

<div id="mysecondchart" style="height: 550px;">

</div>

	#{set 'moreScripts'}
	<script type="text/javascript">
	new Morris.Donut({
	  element: 'mysecondchart',
	  data: [
		{label: "Ore totali di straordinario nell'anno ", value: '${val}'},
    	{label: "Ore totali usabili per straordinario nell'anno ", value: '${totaleOreResidue}'}    	
	  ]
	});

	</script>
	
	#{/set}
#{/if}

<ul class="pager">
  <li><a href="/charts/indexCharts">Indietro</a></li>
  
</ul>
