#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Controllo schedone anno passato' /}

<div class="row"></div>
<p class="lead">Resoconto</p>
<table class="span10 table table-condensed table-striped">
<tr>
	<th>Matricola</th>
	<th>Nome e cognome</th>
	<th>Data assenza</th>
	<th>Codice di assenza</th>
	<th>Esito confronto con anagrafica</th>
	<th>Motivazione</th>
	<th>Codice di assenza rilevato in anagrafica</th>
</tr>
#{list items:listTrueFalse, as:'result'}
#{if result != null}
#{if result.check}
<tr class="success">
	<td>${result.matricola}</td>
	<td>${result.nome} ${result.cognome}</td>
	<td>${result.data}</td>
	<td>${result.codice}</td>
	<td>
	  #{if result.check}
	    <i style="color: green"class="fa fa-check"></i>
<!-- 	    <i style="color: green" class="icon-ok"></i> -->
	  #{/if}
	  #{else}
	    <i style="color: red" class="fa fa-times"></i>
<!-- 	    <i style="color: red" class="icon-remove"></i> -->
	  #{/else}	
	</td>
	<td>
		#{if result.message != null}
		${result.message}
		#{/if}
	</td>
	<td>
	#{if result.codiceInAnagrafica != null}
		${result.codiceInAnagrafica}
	#{/if}
	</td>
</tr>
#{/if}
#{else}
<tr class="danger">
	<td>${result.matricola}</td>
	<td>${result.nome} ${result.cognome}</td>
	<td>${result.data}</td>
	<td>${result.codice}</td>
	<td>
	  #{if result.check}
	    <i style="color: green"class="fa fa-check"></i>
<!-- 	    <i style="color: green" class="icon-ok"></i> -->
	  #{/if}
	  #{else}
	    <i style="color: red" class="fa fa-times"></i>
<!-- 	    <i style="color: red" class="icon-remove"></i> -->
	  #{/else}	
	</td>
	<td>
		#{if result.message != null}
		${result.message}
		#{/if}
	</td>
	<td>
	#{if result.codiceInAnagrafica != null}
		${result.codiceInAnagrafica}
	#{/if}
	</td>
</tr>
#{/else}

#{/if}
#{/list}
</table>


#{list items:listNull, as:'result'}
#{if result != null}
  ${result.line}
#{/if}
#{/list}


<div class="row">
<ul class="pager">
  <li><a href="/charts/indexCharts">Indietro</a></li>
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>
</div>