#{extends 'main_admin_no_menu.html' /}
#{set titolo: 'Controllo schedone anno passato'/}

<ul class="nav nav-tabs">
  <li><a href="@{Charts.indexCharts()}">Grafici</a></li>
  <li><a href="@{Charts.checkLastYearAbsences()}">Controllo schedone anno passato</a></li>
</ul>
<div class="row"></div>
<p class="lead">Resoconto</p>
<table class="span10 table table-condensed table-striped">
<tr>
	<th>Matricola</th>
	<th>Nome e cognome</th>
	<th>Data assenza</th>
	<th>Codice di assenza</th>
	<th>Esito confronto con anagrafica</th>
	<th>Motivazione</th>
	<th>Codice di assenza rilevato in anagrafica</th>
</tr>
#{list items:listTrueFalse, as:'result'}
#{if result != null}
<tr>
	<td>${result.matricola}</td>
	<td>${result.nome} ${result.cognome}</td>
	<td>${result.data}</td>
	<td>${result.codice}</td>
	<td>
	  #{if result.check}
	    <i style="color: green" class="icon-ok"></i>
	  #{/if}
	  #{else}
	    <i style="color: red" class="icon-remove"></i>
	  #{/else}	
	</td>
	<td>
		#{if result.message != null}
		${result.message}
		#{/if}
	</td>
	<td>
	#{if result.codiceInAnagrafica != null}
		${result.codiceInAnagrafica}
	#{/if}
	</td>
</tr>
#{/if}
#{/list}
</table>

#{list items:listNull, as:'result'}
  ${result.line}
#{/list}
</div>

<div class="row">
<ul class="pager">
  <li><a href="/application/indexAdmin">Home</a></li>
  <li><a href="/stampings/personStamping">Timbrature</a></li>
</ul>
</div>