#{modalAsync id:'modalVariation', button:'Salva',
title:'Recupero orario per assenza ' + absence.absenceType.code
+ ' per ' + absence.personDay.person.fullname }

<div id="variation">
	#{form action:@TimeVariations.saveVariation(), method:'POST', autocomplete:false,
  		class:'form form-horizontal', 'data-async':'#page_content',
  		'data-async-error':'#variation'}
		#{alert color:'info',center:true} 
			Inserisci ore e minuti con cui intendi recuperare l'assenza 
		#{/alert} 
		#{f.hidden 'absenceId', value:absence.id /}
	    #{f.input 'hours', type:number  /}
	    #{f.input 'minutes', type:number  /}
	    

		#{secure.check 'TimeVariations.saveVariation'}
	      #{b.buttons center:true}
               #{b.submit 'Salva'/}
             #{/b.buttons}
		#{/secure.check}
	#{/form}
	<div class="col-md-8 col-md-offset-2">
	#{if absence.timeVariations.isEmpty()}
		#{alert color:'info', center:center}
  			Non sono ancora state associate variazioni di orario all'assenza.
    	#{/alert}
	#{/if}
	#{else}
		#{alert color:'warning', center:center}
  			Variazioni di orario già effettuate per l'assenza.
    	#{/alert}
    	<ul class="list-group">
    		#{list items:absence.timeVariations, as:'tv'}
  			<li class="list-group-item">
    		<span class="badge">${tv.dateVariation.format()}</span>
    		${(int)(tv.timeVariation / 60)} ore e ${tv.timeVariation % 60} minuti
  			</li>
  			#{/list}
		</ul>	
	#{/else}
	
  	</div>
</div>

#{/modalAsync}
