#{extends 'main.html' /}

#{logoutForm /}
#{functionalMenuForm mainMenu: mainMenu /} 

<h3 id="titoloCambioPassword">Cambio password per ${person.name} ${person.surname}</h3>

#{form @Persons.savePassword()}
	<input type="hidden" name="personId" value="${person.id}"/>
	<fieldset>
		<legend>Gestisci password</legend>
		
		<table id="withoutborder" align="center">
			<tr id="withoutborder">
				<td id="withoutborder">
					<input name="nuovaPassword" type="password" size="40" maxlength="200" placeholder="Nuova password"/>
				</td>
			</tr>
			<tr id="withoutborder">
				<td id="withoutborder">
					<input name="confermaPassword" type="password" size="40" maxlength="200" placeholder="Ripeti password"/>
				</td>
			</tr>
		
		
		</table>
		<p>
			<div align="center">
				<input type="submit" value="Cambia"/>&nbsp&nbsp
				<input type="submit" value="Annulla"/>
			</div>
		</p>
	</fieldset>

#{/form}
