#{extends 'main3_with_navbar.html' /}
#{set titolo: 'Gestisci Password' /}

#{form @Persons.savePassword()}
	<fieldset>
		<legend>Cambio password per ${user.person != null ? user.person.fullName() : user.username}</legend>
		
		<table class="tablenoborder">
			<tr>
				<td>
					<input name="nuovaPassword" type="password" size="40" maxlength="200" placeholder="Nuova password"/>
				</td>
			</tr>
			<tr>
				<td>
					<input name="confermaPassword" type="password" size="40" maxlength="200" placeholder="Ripeti password"/>
				</td>
			</tr>
		
		
		</table>
		<p>
			<div>
				<input class="btn btn-primary" type="submit" value="Cambia"/>
				<input class="btn" type="submit" value="Annulla"/>
			</div>
		</p>
	</fieldset>

#{/form}
