#{extends 'main.html' /}

#{logoutForm /}
#{functionalMenuForm mainMenu: mainMenu /} 

<h3 id="titoloCambioPassword">Cambio password per utente amministratore</h3>

#{form @Persons.savePassword()}
<input type="hidden" name="personId" value="${person.id}"/>
<fieldset>
	<legend>Gestisci password</legend>
		<p id="telefono">Nuova password <input name="nuovaPassword" type="password" size="40" maxlength="200" /></p>
		<p id ="telefono">Conferma password <input name="confermaPassword" type="password" size="40" maxlength="200" /></p>
		
		<div id="cambiaPassword"><input type="submit" value="Cambia"/></div>
#{/form}
		<div id="annullaPassword"><input type="submit" value="Annulla"/></div>
</fieldset>
