#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione figli di ' + person.getFullname() /}

#{set breadcrumbs:['Lista Persone':@Persons.list(), 
  (person.fullname):null] /}
#{breadcrumbs breadcrumbs, noHome:true, container:true /}

#{include './_tabs.html' /}

<div class="container">	
#{panel title:'Figli di ' + person.getFullname(), color:'primary'}

	#{if (person.personChildren.isEmpty())}
	   Nessun figlio in anagrafica.
	#{/if}
	#{else}
	    <table class="table table-hover table-striped">
	      <thead>
	      <tr>
	        <th>Nome</th>
	        <th>Cognome</th>
	        <th>Data di nascita</th>
	        <th></th>
	      </tr>
	      </thead>
	      <tbody>
	      #{list person.personChildren, as:'child'}
	    <tr>
	      <td>${child.name}</td>
	      <td>${child.surname}</td>
	      <td>${child.bornDate?.format()}</td>
	      <td class="col-xs-3">
	        <div class="btn-group pull-right" role="group" >
	            <a role="button" class="btn btn-primary" href="@{Persons.editChild(child.id)}" data-async-modal="#defaultModal">Modifica</a>
	            <a role="button" class="btn btn-danger" href="@{Persons.deleteChild(child.id)}" data-async-modal="#defaultModal">Elimina <i class="fa fa-trash"></i></a>
	          </div>
	      </td>
	    </tr>
	    #{/list}
	    </tbody>
	    </table>
	#{/else}

	#{secure.check 'Persons.insertChild'}
	<div class="text-center">
	  <p>
	    <a class="btn btn-success" href="@{Persons.insertChild(person.id)}" data-async-modal="#defaultModal">
	      <span class="glyphicon glyphicon-plus"></span> Inserisci figlio
	    </a>
	  </p>
	</div>
	#{/secure.check}
#{/panel}

</div>
#{include '_myModal.html' /}
