#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione figli di ' + person.getFullname() /}

#{set 'moreStyles'}
<style type="text/css">
#content{
  margin-top: 5em;
}
.panel-body{
  padding-top: 3em;
}
</style>
#{/set}

<input type="hidden" name="person.id" value="${person.id}" />

<ul class="nav nav-tabs">
  <li><a href="@{Persons.edit(person.id)}#">Dati Anagrafici di ${person.getFullname()}</a></li>
  <li class="active"><a href="@{Persons.childrenList(person.id)}#">Gestione figli di ${person.getFullname()}</a></li>
  #{if person.isPersonInCharge}
  	<li><a href="@{Persons.workGroup(person.id)}">Assegna gruppo di lavoro</a></li>
  #{/if}
</ul>

<div class="panel panel-default col-sm-6 col-sm-offset-3" id="content" >
  <div class="panel-heading">
      <h3>Figli di ${person.getFullname()}</h3>
  </div>
<div class="panel-body">
#{if (person.personChildren.isEmpty())}
   <h4>Nessun figlio in anagrafica</h4>
#{/if}

#{else}
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di nascita</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      #{list person.personChildren, as:'child'}
    <tr>
      <td>${child.name}</td>
      <td>${child.surname}</td>
      <td>${child.bornDate?.value()}</td>
      <td class="col-xs-3">
        <div class="btn-group pull-right" role="group" >
            <a role="button" class="btn btn-default" href="@{Persons.editChild(child.id)}">Modifica <i class="fa fa-cogs"></i></a>
              <a data-modal=".my-modal" role="button" class="btn btn-default" href="@{Persons.removeChild(child.id)}">Elimina <i class="fa fa-trash"></i></a>
          </div>
      </td>
    </tr>
    #{/list}
    </tbody>
    </table>
#{/else}

<legend></legend>
<a href="@{Persons.insertChild(person.id)}" role="button" class="btn btn-primary col-xs-offset-4 col-xs-3">Inserisci nuovo figlio</a>

</div>
</div>

#{include '_myModal.html' /}