#{extends 'main_admin_no_menu.html' /}
#{set titolo: 'Modifica dati per la persona ' + person.name + ' ' + person.surname /}
<ul class="nav nav-tabs">
  <li class="active"><a href="@{Persons.edit(person.id)}#">Dati Anagrafici ${person.name} ${person.surname}</a></li>
  <li><a href="@{Persons.insertChild(person.id)}#">Inserisci figlio per ${person.name} ${person.surname}</a></li>
</ul>

<input type="hidden" name="id" value="${id}"/>
#{form @Persons.update()}
<input type="hidden" name="personId" value="${person.id}"/>
<input type="hidden" name="year" value="${year}"/>
<input type="hidden" name="month" value="${month}"/>

<fieldset>
	<legend>Dati personali</legend>
	#{secure.check "developer"}
	<div class="pull-right">
		<a class="btn btn-danger" href="@{Administrators.switchUserTo(person.user.id)}">Assumi questa identità</a>
	</div>
	#{/secure.check}
	<table class="tablenoborder">
		<tr>
			<td><b>Cognome</b></td>
			<td><input name="surname" type="text" value="${person.surname}" size="20" maxlength="100" /></td>
		</tr>
		<tr>
			<td><b>Nome</b></td> 
			<td><input name="name" type="text" value="${person.name}" size="20" maxlength="50" /></td>
		</tr>
		<tr>
			<td>Id univoco</td> 
			<td><input class="span1" name="personId" type="text" value="${person.id}" disabled="disabled" /></td>
		</tr>
		<tr>
			<td>Matricola</td> 
			<td><input class="span1" name="number" type="number" value="${person.number}" size="10" maxlength="10" /></td>
		</tr>
		<tr>
			<td>Numbero badge</td>
			<td><input class="span1" name="badgeNumber" type="number" value="${person.badgeNumber}"	size="10" maxlength="20" /></td>
		</tr>
		<tr>
			<td> Livello </td>
			<td>
			%{
			if(person.qualification != null){
			}%
				#{select 'person.qualification',
				value:person.qualification.qualification, class:'span1', id:'withoutborder'} #{option null}Seleziona la qualifica#{/option}
				#{option 1}1#{/option} #{option 2}2#{/option} #{option 3}3#{/option}
				#{option 4}4#{/option} #{option 5}5#{/option} #{option 6}6#{/option}
				#{option 7}7#{/option} #{option 8}8#{/option} #{/select}</div>
			%{
			}else{
			}%
				#{select 'person.qualification', 
				value:'', class:'span1',id:'withoutborder'} #{option null}Seleziona la qualifica#{/option}
				#{option 1}1#{/option} #{option 2}2#{/option} #{option 3}3#{/option}
				#{option 4}4#{/option} #{option 5}5#{/option} #{option 6}6#{/option}
				#{option 7}7#{/option} #{option 8}8#{/option} #{/select} 
		
			%{
			}
			}%
			</td>
		</tr>
		<tr>
			<td>Sede</td>
			<td>
			    #{select 'person.office', value:person.office.id, id:'office'} 
					#{list items: officeList, as: 'office'}
						#{option office.id}${office.name}#{/option}
					#{/list}
			    #{/select}
			</td>
		</tr>
	
	
	</table>
	
		
	
	
</fieldset>

<fieldset>
	<legend>Dati Contrattuali</legend>
	<div class="row" style="margin-left: 30px;">
	  <p class="lead"><a data-toggle="modal" href="@{Persons.insertContract('person.id':person.id)}" data-target="#modal-insert-contract" >Inserisci</a> un nuovo contratto</p>
	</div>
	<div class="row" style="margin-left: 10px;">
	  <table class="table table-striped table-display-contract span12">
		<tr>
		    <th>Dati iniziali</th>
			<th>Data inizio contratto</th>
			<th>Data fine contratto</th>
			<th>Data terminazione esperienza lavorativa</th>
			<th>Orario di lavoro</th>
			<th>Attestato presenza</th>
			<th>Modifica date</th>
			<th>Elimina contratto</th>
			
			
		</tr>
		
		#{list items:contractList, as:'contract'}
		
		<tr>
		
		 <td class="span4" style="text-align: center;">
			 #{if contract.sourceDate!=null}
			     Situazione alla data
			     <strong class="text-error">${contract.sourceDate}</strong><br>
			   #{if contract.sourceRemainingMinutesLastYear>0 }
			     Residuo ${contract.sourceDate.getYear()-1} 
			     <strong class="text-error">${contract.sourceRemainingMinutesLastYear}</strong><br>
			   #{/if}
			   #{if contract.sourceRemainingMinutesCurrentYear>0}
			     Residuo ${contract.sourceDate.getYear()} 
			     <strong class="text-error">${contract.sourceRemainingMinutesCurrentYear}</strong><br>
			   #{/if}
			   #{if contract.sourceVacationLastYearUsed>0}
			     Ferie usate ${contract.sourceDate.getYear()-1}
			     <strong class="text-error">${contract.sourceVacationLastYearUsed}</strong><br>
			   #{/if}
			   #{if contract.sourceVacationCurrentYearUsed>0}
			     Ferie usate ${contract.sourceDate.getYear()} 
			     <strong class="text-error">${contract.sourceVacationCurrentYearUsed}</strong><br>
			   #{/if}
			   #{if contract.sourcePermissionUsed>0}
			     Permessi usati ${contract.sourceDate.getYear()} 
			     <strong class="text-error">${contract.sourcePermissionUsed}</strong><br>
			   #{/if}
			   #{if contract.sourceRecoveryDayUsed!=null && contract.sourceRecoveryDayUsed>0}
			     Riposi compensativi usati ${contract.sourceDate.getYear()} 
			     <strong class="text-error">${contract.sourceRecoveryDayUsed}</strong><br>
			   #{/if}
			   
			   <a data-toggle="modal" href="@{Persons.updateSourceContract(contract.id)}" data-target="#modal-edit-source-contract"><input value="Modifica" class="btn btn-small" type="button"></a>
			
			 #{/if}
			 #{else}
			   <a data-toggle="modal" href="@{Persons.updateSourceContract(contract.id)}" data-target="#modal-edit-source-contract"><input value="Definisci Inizializzazione" class="btn btn-small" type="button"></a>
			 #{/else}
			</td>
		
		
		
			<td>
			  ${contract.beginContract}
			</td>
			<td>
			  ${contract.expireContract}
			</td>
			
			<td>
			  #{if contract.endContract==null } 
			    <!-- <a href="@{Persons.terminatePerson(person.id)}">Termina contratto</a> -->
			    <a data-toggle="modal" href="@{Persons.terminatePerson(person.id)}" data-target="#modal-terminate-person">Termina contratto</a>
			  #{/if}
			  #{else}
			    ${contract.endContract}
			  #{/else}
			</td>
			
			<td>
			  <ul>
			  #{list items:contract.contractWorkingTimeType, as:'wtt'}
			    <li>
			    <a href="#" data-popover
	    		data-trigger="hover" data-toggle="popover" 
	    		data-placement="bottom"
	    		data-html="true"
	    		data-content="
	    		${(
	    		'Inizio Periodo: <strong>'+wtt.beginDate+'</strong>'+
	    		'<br>Fine Periodo: <strong>'+wtt.endDate+'</strong>'
	    		).escape()}"
	    		title="Periodo validità orario">${wtt.workingTimeType.description}</a>
	    		</li>
			  #{/list}
			  </ul>
			  <a data-toggle="modal" href="@{Persons.updateContractWorkingTimeType(contract.id)}" data-target="#myModal1"><input value="Modifica" class="btn btn-small" type="button"></a>
			</td>
			
			<td>
			  #{if contract.onCertificate == true}
				<i class="icon-check"></i>
			  #{/if}
			  #{else}
				<i class="icon-check-empty"></i>
			  #{/else}
			</td>
			<td>
			  <a data-toggle="modal" href="@{Persons.modifyContract(contract.id)}" data-target="#modal-edit-contract"><input value="Modifica" class="btn" type="button"></a>
			</td>
			
			<td>
			  <a data-toggle="modal" href="@{Persons.deleteContract(contract.id)}" data-target="#myModal2"><input value="Elimina" class="btn btn-danger" type="button"></a>
			</td>
			
		</tr>
		#{/list}
		
	  </table>
	</div>
	<div class="row" style="margin-left:10px;">
	  <br>
	  <table class="table table-condensed table-border span8">
	    <tr>
	      <th>Data Importazione da vecchio orologio</th>
	      <th>Monte ore inizio 2013</th>
	      <th>Ferie fatte dell'anno 2012</th>	  
	    </tr>
  
	    #{if initTime!=null }
	    <tr>
	      <td>${initTime.date}</td>
	      <td>${initTime.residualMinutesPastYear}</td>
	      <td>${initTime.vacationCurrentYearUsed}</td>
	    </tr>	  
	    #{/if}

	  </table>
	</div>
	<!-- 
	<table class="tablenoborder">
		<tr>
			<td>Ore di inizializzazione maturate in altro istituto l'anno passato (in minuti):</td>
			%{
			if(initTime != null){
			}%
				<td><input class="span1" name="minutesPastYear" type="number" value="${initTime.residualMinutesPastYear}" size="10" /></td>
			%{
			}else{
			}%
				<td><input class="span1" name="minutesPastYear" type="number" value="" size="10" /></td>
			%{
			}
			}%
		</tr>
		<tr>
			<td>Ore di inizializzazione maturate in altro istituto nell'anno corrente (in minuti):</td>
			%{
			if(initTime != null){
			}%
				 <td><input class="span1" name="minutesCurrentYear" type="number" value="${initTime.residualMinutesCurrentYear}" size="10" /></td>
			%{
			}else{
			}%
				 <td><input name="minutesCurrentYear" type="number" value="" size="10" /></td>
			%{
			}
			}%
		</tr>	
	</table>
	 -->
</fieldset>

<fieldset>
	<legend>Informazioni di ubicazione e contatti</legend>
	
	<input type="hidden" name="location.person_id" value="${person.id}" />
	
	<table class="tablenoborder">
		<tr>
			<td>Dipartimento</td>
			<td><input class="span2" name="department" type="text"	value="${person.location.department}" size="20" maxlength="100" /></td>
		</tr>
		<tr>
			<td>Sede</td>
			<td><input class="span2" name="headOffice" type="text"	value="${person.location.headOffice}" size="20" maxlength="200" /></td>
		</tr>
		<tr>
			<td>Stanza</td>
			<td><input class="span2" name="room" type="text" value="${person.location.room}"	size="20" maxlength="200" /></td>
		</tr>
		<tr>
			<td>Telefono</td>
			%{
			if(person.contactData.telephone != null || !person.contactData.telephone.equals('No phone number')){
			}%
				
				<td><input class="span2" name="telephone" type="text" value="${person.contactData.telephone}" size="20" maxlength="200" /></td>
			%{
			}else{
			}%
				<td><input class="span2" name="telephone" type="text" value="" size="20" maxlength="200" /></td>
			%{
			}
			}%
		</tr>
		<tr>
			<td>Email</td>
			<td><input class="span2" name="email" type="email" value="${person.contactData.email}" size="20" maxlength="200" /></td>
		</tr>
		<tr>
			<td>Data di nascita </td>
			%{
			if(person.bornDate != null){
			}%
				<td><input class="span2" name="bornDate" type="text" value="${person.bornDate.convertToLocalDate()}" size="10" maxlength="50" /></td>
			%{
			}else{
			}%
				<td><input class="span2" name="bornDate" type="text" value="" size="10" maxlength="50" /></td>
			%{	
			}
			}%
		</tr>
	</table>
</fieldset>


<div class="forminline buttoncenter">
<input class="btn btn-primary" id="submitEditPerson"type="submit" value="Ok" />
#{/form} 
#{form @Persons.discard()}
<input class="btn" id="discardEditPerson" type="submit" value="Annulla" />
#{/form} 
#{form @Persons.deletePerson(person.id)}
<input class="btn btn-danger" id="deletePerson" type="submit" value="Elimina" />
#{/form}
</div>


<div id="modal-insert-contract" class="modal hide fade mymodal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inserimento nuovo contratto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="modal-edit-contract" class="modal hide fade mymodal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modifica contratto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="modal-terminate-person" class="modal hide fade mymodal-large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Terminazione rapporto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="modal-edit-source-contract" class="modal hide fade mymodal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Imposta dati iniziali Contratto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="myModal1" class="modal hide fade mymodal-medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modifica i tipi orario associato al contratto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="myModal2" class="modal hide fade mymodal-small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Elimina Contratto</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
