#{extends 'main.html' /}

<h2 id="titoloModificaPersonale">
	%{ if (person.id == null) { }% 
		Inserisci dati per una nuova persona
	%{ } else { }%
		Modifica dati di ${person.name + ' ' + person.surname}
	%{ } }%
</h2>

#{form @save()}

	<input type="hidden" name="person.id"  value="${person.id}" />
	
	<fieldset>
		<legend>Dati personali</legend>
		<div>Cognome <input name="person.surname" type="text" value="${person.surname}" size="20" maxlength="100" /></div>
		<div>Nome <input name="person.name" type="text" value="${person.name}" size="20" maxlength="50" /></div>
		<!--  <div>Password <input name="person.password" type="text" value="" size="10" maxlength="10" /></div>-->
		<div>Matricola <input name="person.number" type="text" value="${person.number}" size="10" maxlength="10" /></div>
		<div>Livello 
			#{select 'person.qualification', value:person.qualification, id:'qualifica'} 
				#{option 0}0#{/option}
				#{option 1}1#{/option}
				#{option 2}2#{/option}
				#{option 3}3#{/option}
				#{option 4}4#{/option}
				#{option 5}5#{/option}
				#{option 6}6#{/option}
				#{option 7}7#{/option}
				#{option 8}8#{/option}
			#{/select}
		</div>
		
	</fieldset>
	
	<fieldset>
		<legend>Dati Contrattuali</legend>
		<div>Inizio contratto <input name="contract.beginContract" type="text" value="${contract.beginContract}" size="10" maxlength="10" /></div>
		<div>Fine contratto <input name="contract.endContract" type="text" value="${contract.endContract}" size="10" maxlength="10" /></div>
		<div>Continua <input name="contract.isContinued" type="checkbox" value="${contract.isContinued}"  /></div>
	</fieldset>
	
	<fieldset>
		<legend>Informazioni di ubicazione e contatti</legend>
		<input type="hidden" name="location.person_id"  value="${person.id}" />
	<p>Dipartimento <input name="location.department" type="text" value="${person.location.department}" size="20" maxlength="100" /></p>
	<p>Sede <input name="location.headOffice" type="text" value="${person.location.headOffice}" size="40" maxlength="200" /></p>
	<p>Stanza <input name="location.room" type="text" value="${person.location.room}" size="40" maxlength="200" /></p>
	<p>Telefono <input name="contactData.telephone" type="text" value="${person.contactData.telephone}" size="40" maxlength="200" /></p>
	<p>Email <input name="contactData.email" type="text" value="${person.contactData.email}" size="40" maxlength="200" /></p>
	<p>Data di nascita <input name="person.bornDate" type="text" value="${person.bornDate}" size="40" maxlength="200" /></p>
	<p>Codice Fiscale <input name="codiceFiscale" type="text" value="${person.location.department}" size="40" maxlength="200" /></p>	
	</fieldset>
	
	
	<p>I valori in <strong>grassetto</strong> sono obbligatori</p>
	
	<input type="submit" value="Ok"/>
		

#{/form}

#{form @discard()}
	<input type=reset value="Annulla">
#{/form}