#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Inserimento/modifica figli dei dipendenti' /}


<ul class="nav nav-tabs">
  <li><a href="@{Persons.edit(person.id)}#">Dati Anagrafici ${person.name} ${person.surname}</a></li>
  <li class="active"><a href="@{Persons.insertChild(person.id)}#">Inserisci figlio per ${person.name} ${person.surname}</a></li>
</ul>


<div class="container">
<p class="lead"><a data-toggle="modal" href="@{Persons.personChildrenList(person.id)}" data-target="#myModal4">Vedi figli di ${person.name} ${person.surname}</a></p>
#{form @Persons.saveChild()}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Inserimento nuovo figlio per ${person.name} ${person.surname}</h3>
  </div>
  <div class="panel-body">
    

    <table class="table table-condensed table-hover">
		
		<tr>
			<th>Nome</td>
			<th>Cognome</td>
			<th>Data di nascita</td>
		</tr>
		<tr>
			<td><input  type="text" value="" name="name"></td>
			<td><input  type="text" value="" name="surname"></td>
			<td><input  type="text" value="" name="bornDate" id="datepicker1" data-date-format="yyyy-mm-dd"></td>
		</tr>
	
	
	</table>

  </div>
</div>
<input type="hidden" name="personId" value="${person.id}"/>
<div class="container-fluid center">
      <input class="btn btn-primary" type="submit" value="Ok" />      
</div>
#{/form}

</div>


<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    
    <div class="modal-content">
             
    </div><!-- /.modal-content -->
           
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->