#{extends 'main_admin_no_menu.html' /}

#{set titolo: 'Inserimento nuova persona' /}

<!-- secondo me questo controllo è inutile perchè c'è il template apposito di modifica
<h2 id="titoloModificaPersonale">
	%{ if (person.id == null) { }% 
		Inserisci dati per una nuova persona
	%{ } else { }%
		Modifica dati di ${person.name + ' ' + person.surname}
	%{ } }%
</h2>
 -->
 
#{form @Persons.save()}

	<input type="hidden" name="person.id"  value="${person.id}" />
	
	<fieldset>
		<legend>Dati personali</legend>
		<table class="tablenoborder">
			<tr>
				<td><b>Cognome</b> </td>
				<td><input name="surname" type="text" size="20" maxlength="100" /></td>
			</tr>	
			<tr>	
				<td><b>Nome</b></td>
				<td><input name="name" type="text" size="20" maxlength="50" /></td>
			</tr>		
			<tr>	
				<td>Matricola</td>
				<td><input name="number" type="number" size="10" maxlength="10" /></td>
			</tr>		
			<tr>	
				<td>Numero badge</td>
				<td><input name="badgeNumber" type="number" size="10" maxlength="20" /></td>
			</tr>		
			<tr>	
				<td>Livello </td>
				<td>
					#{select 'person.qualification', value:person.qualification, id:'qualifica'} 
						#{option 0}0#{/option}
						#{option 1}1#{/option}
						#{option 2}2#{/option}
						#{option 3}3#{/option}
						#{option 4}4#{/option}
						#{option 5}5#{/option}
						#{option 6}6#{/option}
						#{option 7}7#{/option}
						#{option 8}8#{/option}
					#{/select}
				</td>
			</tr>	
		</table>	
	</fieldset>
	
	<fieldset>
	
		<legend>Dati Contrattuali</legend>
		<table class="tablenoborder">
			<tr>	
				<td><b>Inizio contratto</b></td>
				<td><input name="beginContract" type="text" id="datepicker1" data-date-format="yyyy-mm-dd"/></td>
			</tr>	
				
			<tr>	
				<td>Fine contratto</td>
				<td><input name="expireContract" type="text" id="datepicker2" data-date-format="yyyy-mm-dd"/></td>
				
				
			<tr>	
				<td>Obbligo attestato di presenza (per dipendenti CNR)</td>
				<td><input name="onCertificate" type="checkbox" /></td>
			</tr>	
				
			<tr>	
				<td>Ore di inizializzazione maturate in altro istituto l'anno passato (in minuti)</td>
				<td><input name="minutesPastYear" type="number" size="10" /></td>
			</tr>	
				
			<tr>	
				<td>Ore di inizializzazione maturate in altro istituto nell'anno corrente (in minuti)</td>
				<td><input name="minutesCurrentYear" type="number" size="10" /></td>
			</tr>
		</table>	
	</fieldset>

	<fieldset>
		<legend>Informazioni di ubicazione e contatti</legend>
		<input type="hidden" name="location.person_id"  value="${person.id}" />
		<table class="tablenoborder">
			<tr>
				<td>Sede centrale/distaccata</td>
				<td>#{select 'person.office', value:'', id:'office'} 
						#{list items: officeList, as: 'office'}
							#{option office.id}${office.name}#{/option}
						#{/list} 
					#{/select}</td>
			</tr>
			<tr>
				<td>Dipartimento</td>
				<td><input name="department" type="text" value="${location.department}" size="20" maxlength="100" /></td>
			</tr>	
			<tr>	
				<td>Sede</td>
				<td><input name="headOffice" type="text" value="${location.headOffice}" size="40" maxlength="200" /></td>
			</tr>		
			<tr>	
				<td>Stanza</td>
				<td><input name="room" type="text" value="${location.room}" size="40" maxlength="200" /></td>
			</tr>		
			<tr>	
				<td>Telefono</td>
				<td><input name="telephone" type="text" value="${contactData.telephone}" size="40" maxlength="200" /></td>
			</tr>		
			<tr>	
				<td>Email</td>
				<td><input name="email" type="email" value="${contactData.email}" size="40" maxlength="200" /></td>
			</tr>		
			<tr>	
				<td>Data di nascita</td>
				<td><input name="bornDate" type="date" value="${person.bornDate}" size="40" maxlength="200" /></td>
			</tr>	
	
		</table>
	</fieldset>
	
    <p>I valori in <b>grassetto</b> sono obbligatori</p>
    <p>Il fieldset "sede distaccata" va riempito SOLO SE la nuova persona appartiene a una sede distaccata</p>	
	
  <div class="forminline buttoncenter">	
    <input class="btn btn-primary" id="submitInsertPerson" type="submit" value="Avanti"/>
    #{/form}
    #{form @Persons.discard()}
      <input class="btn" id="resetInsertPerson"type="submit" value="Annulla">
    #{/form}
  </div>
