#{extends 'modal.html' /}
#{set modalHeader: 'Nuovo contratto ' + person.name + ' ' + person.surname /}

<div class="container-fluid center">

#{form @Persons.saveContract()}
  
  <input type="hidden" name="person.id" value="${person.id}"/>
  <table class="table table-form table-hover">
  
    <tr>
      <td class="lab"><strong>Data inizio</strong></td>
      <td><input name="dataInizio" type="text" datepicker-year /></td>
    </tr>
    
    <tr>
      <td class="lab"><strong>Data fine</strong></td>
      <td><input name="dataFine" type="text" datepicker-year /></td>
    </tr>
    
    <tr>
      <td class="lab"><strong>Tipo orario</strong></td>
      <td>
            #{select 'wtt.id', class:'span2', id:'wtt.id'}
              #{list items:wttList, as:'wttItem'}
	            #{option wttItem.id}${wttItem.description}#{/option}
		      #{/list}
		    #{/select}
      </td>
    </tr>
    
    <tr>
      <td class="lab"><strong>Attestato presenza</strong></td>
      <td><input name="onCertificate" type="checkbox" value="true"/></td>
    </tr>
		
  </table>

  <input class="btn btn-primary" type="submit" value="Inserisci" />

	
#{/form}

</div>