#{extends 'main.html' /}

<h2 id="titoloGestionePersonale">Gestione dati del personale per rilevazione presenze</h2><!-- Da aggiungere come entry nel file main.css dove dovrò sistemare le caratteristiche della tabella  -->

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /}


<p><a href="@{Persons.form}">Inserisci una nuova persona</a></p>

<p>Personale esistente</p>

<table id="listaPersone"><!-- Da aggiungere come entry nel file main.css dove dovrò sistemare le caratteristiche della tabella  -->
	<tr>
		<th>Cognome</th>
		<th>Nome</th>
		<th>Matricola</th>
		<th>Data inizio lavoro</th>
		<th>Data fine lavoro</th>
		<th>Orario</th>
		<th>Ferie</th>
		<th>Livello</th>
		<th>Aut. timbratura via web</th>
		<th>Dipartimento</th>
		<th>Sede</th>
		<th>Telefono</th>
		<th>Stanza</th>
		<th>Email</th>
		<th>Note</th>
	</tr>
	
%{
     for(person in personList) {
}%

	<tr>
		<td><a href="@{form(person.id)}">${person.surname}</a></td>
		<td>${person.name}</td>
		<td>${person.number}</td>
		<td>${person.getCurrentContract() != null ? person.getCurrentContract().beginContract : ''}</td>
		<td>${person.getCurrentContract() != null ? person.getCurrentContract().expireContract : ''}</td>
		<td>${person.workingTimeType != null && person.workingTimeType.description != null ? person.workingTimeType.description : ''}</td>
		<td>${person.getVacation() != null ? person.getVacation().description : ''}</td>
		<td>${person.getQualification() != null ? person.getQualification().qualification : ''}</td>
		<td>${''}</td>
		<td>${person.getLocation() != null ? person.location.department : ''}</td>
		<td>${person.getLocation() != null ? person.location.headOffice : '' }</td>
		<td>${person.contactData != null ? person.contactData.telephone : ''}</td>
		<td>${person.location != null ? person.location.room : ''}</td>
		<td>${person.contactData != null ? person.contactData.email : ''}</td>
		<td>${}</td>
	</tr>

%{  		   
     }
     
}%

</table>