#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Dati del personale'  /}

#{set 'moreStyles'}
  <style>
    td.personName { text-align: left !important; }
  </style>
#{/set}

#{secure.checkAction 'Administrators.switchUserTo'} 
  #{set switchUser:true /}
#{/secure.checkAction}


<p>
  <a href="@{Persons.insertPerson}">
  <span class="glyphicon glyphicon-plus"></span> Inserisci una nuova persona
  </a>
</p>

<p><h3>Lista del Personale Attivo</h3></p>

<table class="datatable-test table table-striped table-hover table-condensed center" cellspacing="0" width="100%">
    <thead>
	  <tr>
		<th>Nome</th>
		<th>Matricola</th>
		<th>Matricola<br> Badge</th>
		<th>Data inizio<br> lavoro</th>
		<th>Data fine<br> lavoro</th>
		<th>Orario</th>
		<th>Ferie</th>
		<th>Livello</th>
		<th>Timbratura<br>Default</th>
		<th>Email</th>
		<th>Contatti</th>
		<th>Dati<br> Iniziali</th>
		<th>Invio<br> Email</th>
		<th>Note</th>
		#{if switchUser}<th></th>#{/if}
	  </tr>
	</thead>
	<tbody>
	 #{list items:personList, as:'person'}
	 
	 #{if person.currentContract.present}
	   <tr>
	 	<td class="personName 
		#{if person.currentContractInitializationMissing()}
		  danger
		#{/if}
		#{else}
		  success
		#{/else}
		">
		<a href="@{edit(person.value.id)}"><font color="#0000FF">${person.value.fullname}</font></a>
		#{if person.currentContractMonthRecapMissing()}
		<span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="mancano i riepiloghi"></span>
		#{/if}
		#{if person.currentContractInitializationMissing()}
		<span class="glyphicon glyphicon-wrench" aria-hidden="true" title="mancano i dati iniziali"></span>
		#{/if}

		<td><font color="#000000">${person.value.number}</font></td>
		<td><font color="#000000">${person.value.badgeNumber}</font></td>
		<td><font color="#000000">${person.currentContract.get().beginContract}</font></td>
		<td><font color="#000000">${person.currentContract.get().expireContract}</font></td>

		<td>
		  #{if person.currentWorkingTimeType.present}
		    <a data-toggle="modal" href="@{Persons.showCurrentContractWorkingTimeType(person.value.id)}" data-target=".my-modal">
		      ${person.currentWorkingTimeType.get().description}
		    </a>
		  #{/if}
		</td>

		<td>
		  #{if person.currentVacationPeriod.present }
		     <a data-toggle="modal" href="@{Persons.showCurrentVacation(person.value.id)}" data-target=".my-modal">
		        ${person.currentVacationPeriod.get().vacationCode.description}
		     </a>
		  #{/if}
		</td>

		<td><font color="#000000">${person.value.getQualification() != null ? person.value.getQualification().qualification : ''}</font></td>
		<td>
		  #{if person.currentContractStampProfile.present && person.currentContractStampProfile.get().fixedworkingtime}
		    <i class="fa fa-check-square-o"></i>
		  #{/if}
		</td>
		<td><font color="#000000">${person.value.email}</font></td>
		<td>
		 <a href="#" data-popover
	    		data-trigger="hover" data-toggle="popover"
	    		data-placement="bottom"
	    		data-html="true"
	    		data-content="${(
	    		'<br>Telefono: <strong>'+person.value.telephone+'</strong>').escape()}"
	    		title="Contatti ${person.value.fullname}"><i class="fa fa-phone"></i></a>
		</td>

		<!-- Inizializzazione ePAS -->
		<td>
		  #{if person.currentContract.get().sourceDate != null}
		    <i class="fa fa-check-square-o"></i>
		  #{/if}
		</td>

		<!-- Invio email -->
		<td>
		  #{if person.value.wantEmail}
		    <i class="fa fa-check-square-o"></i>
		  #{/if}
		</td>

		<!-- Note -->

		#{if person.value.user == null}
			<td><a href="@{Persons.insertUsername(person.value.id)}">Ins.username</a></td>
		#{/if}
		#{else}
			<td></td>
		#{/else}
		#{if switchUser}
		<td>
			<a class="btn btn-warning btn-xs" href="@{Administrators.switchUserToPersonUser(person.value.id)}">Assumi identità</a>
		</td>#{/if}
		 </tr>
	  #{/if}
	
    
	#{/list}
	</tbody>
  </table>
  
  <p><h3>Lista del Personale Non Attivo</h3></p>
  
  <table class="datatable-test table table-striped table-hover table-condensed center" cellspacing="0" >
    <thead>
	  <tr>
		<th>Nome</th>
		<th>Matricola</th>
		<th>Matricola<br> Badge</th>
		<th>Data inizio<br> lavoro</th>
		<th>Data fine<br> lavoro</th>
		<th>Orario</th>
		<th>Ferie</th>
		<th>Livello</th>
		<th>Timbratura<br>Default</th>
		<th>Email</th>
		<th>Contatti</th>
		<th>Dati<br> Iniziali</th>
		<th>Invio<br> Email</th>
		<th>Note</th>
		#{if switchUser}<th></th>#{/if}
	  </tr>
	</thead>
	<tbody>
	 #{list items:personList, as:'person'}
	 
	 #{if person.currentContract.present}
	  #{/if}
	  #{else}
	   <tr>
		<td class="personName"><a href="@{edit(person.value.id)}"><font color="#808080">${person.value.fullname}</font></a></td>
		<td><font color="#808080">${person.value.number}</font></td>
		<td><font color="#000000">${person.value.badgeNumber}</font></td>
		<td><!-- begin contract --></td>
		<td><!-- expire contract --></td>
		<td><!-- tipo orario --></td>
		<td><!-- ferie --></td>
		<td><font color="#808080">${person.value.getQualification() != null ? person.value.getQualification().qualification : ''}</font></td>
		<td>${''}</td>
		<td><font color="#808080">${person.value.email}</font></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		#{if switchUser}<td></td>#{/if}
		</tr>
	  #{/else}
	     
	#{/list}
	</tbody>
  </table>


 #{include '_myModal.html' /}

