#{extends 'main_admin.html' /}

<h2 id="titoloGestionePersonale">Gestione dati del personale per rilevazione presenze</h2>

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /}


<p id="nuovaPersona"><a href="@{Persons.insertPerson}">Inserisci una nuova persona</a></p>

<p>Personale esistente</p>

<table id="listaPersone"><!-- Da aggiungere come entry nel file main.css dove dovrò sistemare le caratteristiche della tabella  -->
	<tr>
		<th>Cognome</th>
		<th>Nome</th>
		<th>Matricola</th>
		<th>Matricola Badge</th>
		<th>Data inizio lavoro</th>
		<th>Data fine lavoro</th>
		<th>Orario</th>
		<th>Ferie</th>
		<th>Livello</th>
		<th>Aut. timbratura via web</th>
		<th>Dipartimento</th>
		<th>Sede</th>
		<th>Telefono</th>
		<th>Stanza</th>
		<th>Email</th>
		<th>Note</th>
	</tr>
	
%{
     for(person in personList) {
}%

	<tr>
	%{if(activePerson.contains(person)){
	}%
		<td><a href="@{edit(person.id)}"><font color="#0000FF">${person.surname}</font></a></td>
		<td><font color="#000000">${person.name}</font></td>
		<td><font color="#000000">${person.number}</font></td>
		<td><font color="#000000">${person.badgeNumber}</font></td>
		<td><font color="#000000">${person.getCurrentContract() != null ? person.getCurrentContract().beginContract : ''}</font></td>
		<td><font color="#000000">${person.getCurrentContract() != null ? person.getCurrentContract().expireContract : ''}</font></td>
		<td><a href="@{editWorkingTime(person.id)}"><font color="#0000FF">${person.workingTimeType != null && person.workingTimeType.description != null ? person.workingTimeType.description : ''}</font></a></td>
		<td><a href="@{editVacation(person.id)}"><font color="#0000FF">${person.getVacation() != null ? person.getVacation().description : ''}</font></a></td>
		<td><font color="#000000">${person.getQualification() != null ? person.getQualification().qualification : ''}</font></td>
		<td>${''}</td>
		<td><font color="#000000">${person.getLocation() != null ? person.location.department : ''}</font></td>
		<td><font color="#000000">${person.getLocation() != null ? person.location.headOffice : '' }</font></td>
		<td><font color="#000000">${person.contactData != null && !person.contactData.telephone.equals('No phone number') ? person.contactData.telephone : ''}</font></td>
		<td><font color="#000000">${person.location != null ? person.location.room : ''}</font></td>
		<td><font color="#000000">${person.contactData != null ? person.contactData.email : ''}</font></td>
		<td>${}</td>
	%{
	}else{
	}%	
		<td><a href="@{edit(person.id)}"><font color="#808080">${person.surname}</font></a></td>
		<td><font color="#808080">${person.name}</font></td>
		<td><font color="#808080">${person.number}</font></td>
		<td><font color="#000000">${person.badgeNumber}</font></td>
		<td><font color="#808080">${person.getCurrentContract() != null ? person.getCurrentContract().beginContract : ''}</font></td>
		<td><font color="#808080">${person.getCurrentContract() != null ? person.getCurrentContract().expireContract : ''}</font></td>
		<td><a href="@{editWorkingTime(person.id)}"><font color="#808080">${person.workingTimeType != null && person.workingTimeType.description != null ? person.workingTimeType.description : ''}</font></a></td>
		<td><a href="@{editVacation(person.id)}"><font color="#808080">${person.getVacation() != null ? person.getVacation().description : ''}</font></a></td>
		<td><font color="#808080">${person.getQualification() != null ? person.getQualification().qualification : ''}</font></td>
		<td>${''}</td>
		<td><font color="#808080">${person.getLocation() != null ? person.location.department : ''}</font></td>
		<td><font color="#808080">${person.getLocation() != null ? person.location.headOffice : '' }</font></td>
		<td><font color="#808080">${person.contactData != null && !person.contactData.telephone.equals('No phone number') ? person.contactData.telephone : ''}</font></td>
		<td><font color="#808080">${person.location != null ? person.location.room : ''}</font></td>
		<td><font color="#808080">${person.contactData != null ? person.contactData.email : ''}</font></td>
		<td>${}</td>
	%{
	}
	}%
	</tr>

%{  		   
     }
     
}%

</table>