
#{form @Persons.updateContract()}
<fieldset>
  <legend>Modifica dati contrattuali per ${contract.person.name} ${contract.person.surname}</legend>
  <input type="hidden" name="contractId" value="${contract.id}" />

  <table class="tablenoborder">
	<tr>
		<td><strong>Data inizio contratto</strong></td>
		<td>%{if(contract.beginContract != null){
		}%
			<td><input name="inizio" type="date" value="${contract.beginContract}"/></td>
		%{
		}else{
		}%
			<td><input name="inizio" type="date" value="${}" /></td>
		%{
		}
		}%
		</td>
	</tr>
	<tr>
		<td><strong>Data fine contratto</strong></td>
		<td>%{if(contract.expireContract != null){
		}%
			<td><input name="fine" type="date" value="${contract.expireContract}" /></td>
		%{
		}else{
		}%
			<td><input name="fine" type="date" value="${}" /></td>
		%{
		}
		}%
		</td>
	</tr>
	<tr>
		<td><strong>Data terminazione contratto (causa morte, pensione...)</strong></td>
		<td>%{if(contract.endContract != null){
		}%
			<td><input name="end" type="date" value="${contract.endContract}" /></td>
		%{
		}else{
		}%	
			<td><input name="end" type="date" value="${}" /></td>
		%{
		}
		}%
		</td>
	</tr>
	<tr>
		<td><strong>In attestati presenza</strong></td>
		<td>%{if(contract.onCertificate){
		}%	
			<td><input name="certificate" type="checkbox" checked="checked" /></td>
		%{
		}else{
		}%
			<td><input name="certificate" type="checkbox" /></td>
		%{
		}
		}%	</td>
	</tr>
  </table>
</fieldset>
<div class="buttoncenter">
  <input id="modificaContratto" class="btn btn-primary" type="submit" value="Modifica"/>
</div>
#{/form}