#{extends 'main.html' /}


<h3 id="titoloModificaDatiContrattuali">Modifica dati contrattuali per l'utente ${contract.person.name} ${contract.person.surname}</h3>
#{form @Persons.updateContract()}
<input type="hidden" name="contractId" value="${contract.id}" />
<table>
	<tr>
		<th>Data inizio contratto</th>
		<th>Data fine contratto</th>
		<th>Data terminazione contratto (causa morte, pensione...)</th>
		<th>In attestati presenza</th>
	</tr>
	<tr>
		%{if(contract.beginContract != null){
		}%
			<td><input name="inizio" type="date" value="${contract.beginContract}"/></td>
		%{
		}else{
		}%
			<td><input name="inizio" type="date" value="${}" /></td>
		%{
		}
		}%
		%{if(contract.expireContract != null){
		}%
			<td><input name="fine" type="date" value="${contract.expireContract}" /></td>
		%{
		}else{
		}%
			<td><input name="fine" type="date" value="${}" /></td>
		%{
		}
		}%
		%{if(contract.endContract != null){
		}%
			<td><input name="end" type="date" value="${contract.endContract}" /></td>
		%{
		}else{
		}%	
			<td><input name="end" type="date" value="${}" /></td>
		%{
		}
		}%
		%{if(contract.onCertificate != null){
		}%	
			<td><input name="certificate" type="radio" value="${contract.onCertificate}" /></td>
		%{
		}else{
		}%
			<td><input name="certificate" type="radio" value="${}" /></td>
		%{
		}
		}%	
	</tr>
</table>
<input id="modificaContratto" type="submit" value="Modifica"/>
#{/form}