#{extends 'modal.html' /}
#{set modalHeader: 'Modifica dati contrattuali per ' + contract.person.name + ' ' + contract.person.surname /}

<div class="container-fluid center">

#{form @Persons.updateContract()}

  <input type="hidden" name="contract.id" value="${contract.id}" />

  <table class="table table-hover table-form">
	<!-- Begin contract -->
	<tr>
		<td class="lab"><strong>Data inizio contratto</strong></td>
		<td><input name="begin" type="text" datepicker value="${contract.beginContract?.value()}"/></td>

	</tr>
	
	<!-- Expire contract -->
	<tr>
		<td class="lab"><strong>Data fine contratto</strong></td>
		<td><input name="expire" type="text" datepicker value="${contract.expireContract?.value()}" /></td>
	</tr>
	
	<!-- End contract -->
	<tr>
		<td class="lab"><strong>Data terminazione contratto<br>(causa morte, pensione...)</strong></td>
		<td><input name="end" type="text" datepicker value="${contract.endContract?.value()}" /></td>
	</tr>
	
	<!-- On certificate -->
	<tr>
		<td class="lab"><strong>In attestati presenza</strong></td>
		#{if contract.onCertificate }
		  <td><input name="onCertificate" type="checkbox" checked="checked" /></td>
		#{/if}
		#{else}
		  <td><input name="onCertificate" type="checkbox" /></td>
		#{/else}
		
	</tr>
  </table>

  <input class="btn btn-primary" type="submit" value="Modifica"/>
  
#{/form}

</div>

<br>

<div class="container-fluid well well-sm"">
  <strong>Attenzione</strong>
  <ol>
    <li>
      <em>La modifica delle date del contratto causerà il ricalcolo dei riepiloghi annuali inerenti il contratto 
      fra cui il monte ore residuo.</em>
    </li>
    <li>
      <em>Il tipo orario attribuito di default all'eventuale prolungamento del contratto 
      sarà quello già attribuito alla parte conclusiva del contratto.</em>
    </li>
  </ol>
</div>