#{extends 'modal.html' /}
#{set modalHeader: 'Modifica possibilita invio mail per ' + person.name + ' ' + person.surname /}

<div class="container-fluid center">

#{form @Persons.updateSendEmail()}

<input type="hidden" name="person.id" value="${person.id}" />
<table class="table table-hover table-form">
	<tr>
		<td><strong>Invio mail</strong></td>
		<td><input name="wantEmail" type="checkbox" #{if person.wantEmail}checked#{/if} /></td>
	</tr>
</table>
<input class="btn btn-primary" type="submit" value="Modifica"/>
#{/form}
</div>
<br>
<div class="container-fluid well well-sm">
  <strong>Attenzione</strong>
  
      <em>Abilitando/disabilitando l'invio mail per il dipendente, si permetterà alle procedure di controllo sulle
      timbrature mancanti e sui giorni con totale assenza di timbrature e codici assenza di inviare/non inviare una mail
      al dipendente contenente i giorni in cui sono stati riscontrati i casi descritti.</em>

</div>