#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /}

    <ul class="nav nav-tabs">
    	<li><a href="@{Persons.edit(person.id)}#">Anagrafica</a></li>
    	<li class="active"><a href="@{Persons.personCompetence(person.id, month, year)}#">Competenze</a></li>
    </ul>

<h2>Situazione competenze per ${person.name} ${person.surname} nel mese di <span class="capitalized">&{'views.tags.display.date.month.' + mese}</span></h2>

#{form @Persons.saveCompetence()}
<fieldset>
	<legend>Informazioni su straordinari e reperibilità</legend>
	<p>Fra parentesi nella cella relativa agli straordinari diurni, il numero di ore disponibili nel mese da poter essere utilizzate per gli
	straordinari</p>
	<p>Nel caso si volessero modificare i valori degli straordinari del mese precedente, clicca qui ---> <a href="@{Competences.updateOldOvertime(person.id)}" class="updateOldOvertime${person.id}">Modifica gli straordinari per il mese precedente</a><script type="text/javascript"> 
				$('.updateOldOvertime${person.id}').popupWindow({ 
				height:500, 
				width:800, 
				scrollbars:1,
				resizable:0,
				top:50, 
				left:50 
				}); 
				</script></p>
	
	<input type="hidden" name="personId" value="${person.id}"/>
	<input type="hidden" name="year" value="${year}"/>
	<input type="hidden" name="month" value="${month}"/>
	<input type="hidden" name="progressive" value="${progressive}"/>
	<table id="competenze">
		<tr>
			
			<th class="competenze">Ind.tà rep.tà feriale (207)</th>
			<th class="competenze">Ind.tà rep.tà festiva (208)</th>
			<th class="competenze">Straordinario diurno nei giorni lavorativi (S1)</th>
			
		</tr>
		<tr>

			<td class="comp"><br><input type="number" name="weekDayAvailability" value="${weekDayAvailability}" size="4" maxlength="4"/></td>
			<td class="comp"><br><input type="number" name="holidaysAvailability" value="${holidaysAvailability}"size="4" maxlength="4"/></td>
			<td class="comp">(${progressive})<input type="number" name="daylightWorkingDaysOvertime" value="${daylightWorkingDaysOvertime}"size="4" maxlength="4"/></td>
			
		</tr>
		
	</table>
	
	<input id="submitEditPerson" type="submit" value="Ok">
</fieldset> 
#{/form}