#{extends 'main_with_navbar.html' /}
#{set titolo: 'Assegna nuovo orario di lavoro' /}

#{form @Persons.saveWorkingTime()}
<input type="hidden" name="personId" value="${person.id}" />

<p><strong>Data inizio nuovo orario:</strong> <input type="date" name="dataInizio" class="span2"/></p>
<p>Data fine nuovo orario: <input type="date" name="dataFine" class="span2"/></p>

<p>(La data inizio del nuovo orario di lavoro è obbligatoria, deve essere valorizzata)</p>
<br>
<table>
	<tr>
		<th>Nome tipo orario</th>
		<th></th>
		<th>Lunedì</th>
		<th>Martedì</th>
		<th>Mercoledì</th>
		<th>Giovedì</th>
		<th>Venerdì</th>
		<th>Sabato</th>
		<th>Domenica</th>

	</tr>
	%{
		for(wtt in wttList){ 
	}%
	<tr>
		<td rowspan=5>${wtt.description} <input type="radio" name ="description"value="${wtt.description}"/></td>
		<tr>
			<td>Tempo lavoro</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(1).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(2).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(3).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(4).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(5).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(6).workingTime.toHourTime()}</td>
			<td>${wtt.getWorkingTimeTypeDayFromDayOfWeek(7).workingTime.toHourTime()}</td>

			
		</tr>
		<tr>
			<td>Tempo minimo di lavoro per diritto a intervallo pranzo</td>
			<td>${wtt.getMinimalTimeForLunch(1, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(2, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(3, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(4, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(5, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(6, wtt).toHourTime()}</td>
			<td>${wtt.getMinimalTimeForLunch(7, wtt).toHourTime()}</td>

			
		</tr>
		<tr>
			<td>Intervallo pranzo </td>
			<td>${wtt.getBreakTime(1, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(2, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(3, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(4, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(5, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(6, wtt).toHourTime()}"</td>
			<td>${wtt.getBreakTime(7, wtt).toHourTime()}"</td>

		</tr>
		
		<tr>
			<td>Giorno festivo</td>
			<td>${wtt.getHolidayFromWorkinTimeType(1, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(2, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(3, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(4, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(5, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(6, wtt)}</td>
			<td>${wtt.getHolidayFromWorkinTimeType(7, wtt)}</td>

		</tr>
		
	
	</tr>
	%{
		}
	}%
</table>
<br>
<div class="forminline">
<input id="submitEditPerson"type="submit" class="btn btn-primary" value="Ok" />
#{/form}
#{form @Persons.discard()}
<input id="discardEditPerson" type="submit" class="btn" value="Annulla" />
#{/form}
</div>