#{extends 'modal.html' /}
#{set modalHeader: 'Tipo orario ' + person.fullname /}

<div class="container-fluid">

#{if cwtt}

<h4>Validità orario: 

	<strong>da</strong> <span class="label label-success">${cwtt.beginDate.format()}</span> 
	#{if cwtt.endDate}
		<strong>a</strong> <span class="label label-success">${cwtt.endDate.format()}</span>
	#{/if}	 
</h4>
</p>

<table class="table table-condensed table-bordered center">
  <tr>
    <th><h4><span class="label label-primary">${wtt.description}</span></h4></th>
		<th>Lun</th>
		<th>Mar</th>
		<th>Mer</th>
		<th>Gio</th>
		<th>Ven</th>
		<th>Sab</th>
		<th>Dom</th>
	</tr>

	<tr>
		<td class="center">Tempo lavoro</td>
		#{list wtt.workingTimeTypeDays}
		<td class="first-line">${_.workingTime.toHourTime()}</td>
		#{/list}	
	</tr>

	<tr>
		<td class="center">Tempo minimo per intervallo pranzo</td>
		#{list wtt.workingTimeTypeDays}
		<td>${_.mealTicketTime.toHourTime()}</td>
		#{/list}			
	</tr>
		
	<tr>
		<td class="center">Intervallo pranzo</td>
		#{list wtt.workingTimeTypeDays}
		<td>${_.breakTicketTime.toHourTime()}</td>
		#{/list}	
	</tr>

	<tr>
		<td class="center">Giorno festivo</td>
		#{list wtt.workingTimeTypeDays}
			<td>#{if _.holiday}<span class="glyphicon glyphicon-ok"></span>#{/if}</td>
		#{/list}	
	</tr>
</table>

#{/if}

</div>