
#{form @terminateContract(person.id)}
<fieldset>
	<legend>Terminazione rapporto per ${person.name} ${person.surname}</legend>
	<input type="hidden" name="personId"  value="${person.id}" />
	<table class="table table-striped table-display-contract ">
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Data inizio contratto corrente</th>
			<th>Data fine contratto corrente</th>
			<th>Data terminazione anticipata rapporto</th>
		</tr>
		<tr>
			<td><input name="name" type ="text" value="${person.name}" disabled="disabled" /></td>
			<td><input name="surname" type ="text" value="${person.surname}" disabled="disabled" /></td>
			<td><input name="beginContract" type ="date" value="${person.getCurrentContract().beginContract}" disabled="disabled" /></td>
			<td><input name="expireContract" type ="date" value="${person.getCurrentContract().expireContract}" disabled="disabled" /></td>
			<td><input name="endContract" type ="date" value="${person.getCurrentContract().endContract}" /></td>
		</tr>	
	</table>
</fieldset>

<div class="forminline buttoncenter">
<input class="btn btn-danger" type="submit" value="Ok"/>
#{/form}

#{form @Persons.discard()}
<input class="btn" type="submit" value="Annulla"/>
#{/form}
</div>