#{extends 'main.html' /}

<h2 id="titoloModificaPersonale">Modifica dati di ${person.name + ' ' + person.surname}</h2>

<p>Cognome <input name="cognome" type="text" value="" size="40" maxlength="200" /></p>
id univoco <input name="id" readOnly="text" size="40" maxlength="200" />
<p>Nome <input name="nome" type="text" value="" size="40" maxlength="200" /></p>
<p>Password <input name="password" type="text" value="" size="40" maxlength="200" /></p>
<p>Matricola <input name="matricola" type="text" value="" size="40" maxlength="200" /></p>
Rapporti di lavoro <table id="contratto">
						<tr>
							<th>N.</th>
							<th>Inizio (gg mm aa)</th>
							<th>Fine (gg mm aa)</th>
							<th>Continuat.con prec.</th>
							<th>* Non in attestati di presenza</th>
							<th>+ Presenza predefinita</th>
							<th>Note</th>							
						</tr>
						%{
							for(contract in contractList){ 
						}%
						<tr>
							<td></td>
							<td class="inizioContratto">${contract.beginContract}</td>
							<td class="fineContratto">${contract.endContract}</td>
							<td class="continua">${contract.isContinued}</td>
							<td><form action=ìì><input name="html" type="checkbox" value="html" checked="checked"/></form></td>
							<td><form action=ìì><input name="html" type="checkbox" value="html" checked="checked"/></form></td>
							<td></td>
						</tr>
						%{  		   
     						}
     					}%	
					</table>
<p>
Livello #{select 'level', value:person.qualification, id:'qualifica'} 
			#{option 0}0#{/option}
			#{option 1}1#{/option}
			#{option 2}2#{/option}
			#{option 3}3#{/option}
			#{option 4}4#{/option}
			#{option 5}5#{/option}
			#{option 6}6#{/option}
			#{option 7}7#{/option}
			#{option 8}8#{/option}
		#{/select}
</p>
<p>Dipartimento <input name="dipartimento" type="text" size="40" maxlength="200" /></p>
<p>Sede <input name="sede" type="text" size="40" maxlength="200" /></p>
<p>Stanza <input name="stanza" type="text" size="40" maxlength="200" /></p>
<p>Telefono <input name="telefono" type="text" size="40" maxlength="200" /></p>
<p>Email <input name="email" type="text" size="40" maxlength="200" /></p>
<p>Data di nascita <input name="dataNascita" type="text" size="40" maxlength="200" /></p>
<p>Codice Fiscale <input name="codiceFiscale" type="text" size="40" maxlength="200" /></p>



<p>I valori in <strong>grassetto</strong> sono obbligatori</p>

<input type="submit" value="Ok" action=""/>
<input type="submit" value="Annulla"/>
<input type="submit" value="Elimina"/>