#{extends 'modal.html' /}
#{set modalHeader: 'Modifica tipo orario per ' + contract.person.name + ' ' + contract.person.surname /}

<div class="container-fluid"  style="padding-left: 0px; padding-right: 0px;">

<table class="table table-bordered table-condensed" style="font-size: .9em;">
  <tr>
    <th>Inizio Periodo</th>
    <th>Fine Periodo</th>
    <th><a href="#" data-placement="top" data-toggle="tooltip" title="Modifica il tipo orario per il periodo di riferimento">Cambia tipo orario</a></th>
    <th><a href="#" data-placement="top" data-toggle="tooltip" title="Inserire la data inizio nuovo periodo">Dividi Periodo</a></th>
    <th><a href="#" data-placement="left" data-toggle="tooltip" title="Elimina il periodo assegnando come tipo orario quello del periodo precedente">Elimina Periodo</a></th>
    
    
  </tr>
  #{list items:contract.contractWorkingTimeType, as:'cwtt'}
    <tr>
      <td>
        #{if cwtt.beginDate.equals(wrappedContract.getContractDateInterval().begin)}
          <span class="badge badge-success">${cwtt.beginDate}</span>
        #{/if}
        #{else}
          <span class="badge badge-info">${cwtt.beginDate}</span>
        #{/else}
      </td>
      <td>
        #{if cwtt.endDate.equals(wrappedContract.getContractDateInterval().end)}
          <span class="badge badge-important">${cwtt.endDate}</span>
        #{/if}
        #{else}
          <span class="badge badge-info">${cwtt.endDate}</span>
        #{/else}
      </td>
      
      <!-- Cambia tipo orario -->
      <td style="text-align: center;" >
      #{form @Persons.changeTypeOfContractWorkingTimeType() }
        <input type="hidden" name="cwtt.id" value="${cwtt.id}" />
        #{select 'newWtt.id', value:cwtt.workingTimeType.id, class:'span2', id:'newWtt.id'}
          
          #{list items:wttList, as:'wttItem'}
	        #{option wttItem.id}${wttItem.description}#{/option}
		  #{/list}
		  
	    #{/select}
	    <br>
	    <button type="submit" class="btn btn-default btn-xs">Cambia</button>
	  #{/form}
      </td>
      
      <!-- Dividi periodo -->
      
      <td style="text-align: center;" >
      #{form @Persons.splitContractWorkingTimeType() }
        <input type="hidden" name="cwtt.id" value="${cwtt.id}" />
        <input name="splitDate" type="text" datepicker/>
        <br>
	    <button type="submit" class="btn btn-default btn-xs">Dividi</button>
      #{/form}
      </td>
      
      <!-- Elimina periodo -->
      
      <td style="text-align: center;" >
       #{if contract.contractWorkingTimeTypeAsList.indexOf(cwtt) > 0}
       #{form @Persons.deleteContractWorkingTimeType() }
        <input type="hidden" name="cwtt.id" value="${cwtt.id}" />
        <br>
        <button type="submit" class="btn btn-default"><i style="color:red;" class="fa fa-trash-o"></i></button>
	    
       #{/form}
       #{/if}
      </td>
 
    </tr>
  #{/list}
</table>

<div class="container-fluid well well-sm">
  <strong>Procedura per cambiare il tipo orario</strong>
  <p>Il software richiede che per ogni giorno di contratto sia specificato uno e uno solo tipo di orario.
       Questa procedura guidata permette di definire il tipo orario e la rispettiva durata di validità per quanto desiderato.</p>
  <ol>
    <li>
      <em>Individuare il periodo da specializzare fra quelli presenti in tabella
       e specificare nella form <strong>Dividi Periodo</strong> la data a partire dalla quale entrerà in vigore il nuovo tipo orario</em>
    </li>
    <li>
      <em>Impostare per il nuovo periodo creato il tipo di orario desiderato attraverso la form <strong>Cambia tipo orario</strong>.</em>
    </li>
    <li>
      <em>Attraverso la funzione <strong>Elimina</strong> è possibile tornare alla situazione precedente.
       Al periodo eliminato verrà attribuito il tipo orario del periodo precedente. Non è possibile eliminare il primo periodo.</em>
    </li>
  </ol>
  
   <strong>Attenzione!</strong>
   <p>Il cambio di tipo orario per periodi passati del tutto o in parte causerà il ricalcolo di tutti i valori riguardanti i giorni
   lavorati quali il tempo lavorato, la differenza rispetto al tempo giornaliero, i progressivi aggregati a livello mensile e i monte ore residui.</p>
  
</div>

</div>