#{extends 'modal.html' /}
#{set modalHeader: 'Modifica tipologia timbratura per ' + contract.contract.person.name + ' ' + contract.contract.person.surname /}

<div class="container-fluid"  style="padding-left: 0px; padding-right: 0px;">

<table class="table table-bordered table-condensed" style="font-size: .9em;">
  <tr>
    <th>Inizio Periodo</th>
    <th>Fine Periodo</th>
    <th><a href="#" data-placement="top" data-toggle="tooltip" title="Modifica il tipo timbratura per il periodo di riferimento">Cambia tipo timbratura</a></th>
    <th><a href="#" data-placement="top" data-toggle="tooltip" title="Inserire la data inizio nuovo periodo">Dividi Periodo</a></th>
        
  </tr>
  <tr>
  	<td><span class="badge badge-success">${contract.startFrom}</span></td>
  	<td><span class="badge badge-success">${contract.endTo}</span></td>
  	
  	<td style="text-align: center;" >
      #{form @Persons.changeTypeOfContractStampProfile() }
      <input type="hidden" name="contract.id" value="${contract.id}" />
  		 #{select 'newtipo', class:'span3', id:'newtipo'}
          
          #{list items:listTipo, as:'tipo'}
	        #{option tipo}${tipo}#{/option}
		  #{/list}
		  
	    #{/select}
	    <br>
	    <button type="submit" class="btn btn-default btn-xs">Cambia</button>
	  #{/form}
	</td>
	
  	<td style="text-align: center;">
  	#{form @Persons.splitContractStampProfile() }
  	<input type="hidden" name="contract.id" value="${contract.id}" />
  		<input name="splitDate" type="text" datepicker />
  		<br>
  		<button type="submit" class="btn btn-default btn-xs">Dividi</button>
  	#{/form}
  	</td>
  	  	
  </tr>
</table>

<div class="container-fluid well well-sm">
  <strong>Procedura per cambiare la tipologia di timbratura</strong>
  <p>Il software richiede che per ogni giorno di contratto sia specificata una e una sola tipologia di timbratura.
       Questa procedura guidata permette di definire la tipologia di timbratura e la rispettiva durata di validità per quanto desiderato.</p>
  <ol>
    <li>
      <em>Individuare il periodo da specializzare fra quelli presenti in tabella
       e specificare nella form <strong>Dividi Periodo</strong> la data a partire dalla quale entrerà in vigore la nuova tipologia di timbratura</em>
    </li>
    <li>
      <em>Impostare per il nuovo periodo creato la tipologia di timbratura desiderata attraverso la form <strong>Cambia tipo timbratura</strong>.</em>
    </li>
    <li>
      <em>Attraverso la funzione <strong>Elimina</strong> è possibile tornare alla situazione precedente.
       Al periodo eliminato verrà attribuita la tipologia di timbratura del periodo precedente. Non è possibile eliminare il primo periodo.</em>
    </li>
  </ol>
  
   <strong>Attenzione!</strong>
   <p>Il cambio di tipologia di timbratura per periodi passati del tutto o in parte non viene consentita</p>
  
</div>

</div>