#{extends 'modal.html' /}
#{set modalHeader: 'Definisci dati di inizializzazione per ' + contract.person.name + ' ' + contract.person.surname /}

<div class="container-fluid">


#{form @Persons.saveSourceContract()}
  <input type="hidden" name="contract.id" value="${contract.id}" />

  <table class="table table-condensed table-hover table-form">
	<tr>
	  <td class="lab"><strong>Data Inizializzazione (aaaa-mm-gg)</strong> </td>
	  <td><input name="contract.sourceDate" type="text" datepicker value="${contract.sourceDate}" /></td>
	</tr>
	<tr>
	  <td class="lab">Residuo anno passato (in minuti)</td>
	  <td><input name="contract.sourceRemainingMinutesLastYear" type="text" value="${contract.sourceRemainingMinutesLastYear}" /></td>
	</tr>
	<tr>
	  <td class="lab">Residuo anno corrente (in minuti)</td>
	  <td><input name="contract.sourceRemainingMinutesCurrentYear" type="text" value="${contract.sourceRemainingMinutesCurrentYear}" /></td>
	</tr>
	<tr>
	  <td class="lab">Ferie utilizzate anno passato</td>
	  <td><input name="contract.sourceVacationLastYearUsed" type="text" value="${contract.sourceVacationLastYearUsed}" /></td>
	</tr>
	<tr>
	  <td class="lab">Ferie utilizzate anno corrente</td>
	  <td><input name="contract.sourceVacationCurrentYearUsed" type="text" value="${contract.sourceVacationCurrentYearUsed}" /></td>
	</tr>
	<tr>
	  <td class="lab">Permessi utilizzati anno corrente</td>
	  <td><input name="contract.sourcePermissionUsed" type="text" value="${contract.sourcePermissionUsed}" /></td>
	</tr>
	<tr>
	  <td class="lab">Riposi compensativi effettuati anno corrente</td>
	  <td><input name="contract.sourceRecoveryDayUsed" type="text" value="${contract.sourceRecoveryDayUsed}" /></td>
	</tr>
	<tr>
	  <td class="lab">Buoni pasto residui</td>
	  <td><input name="contract.sourceRemainingMealTicket" type="text" value="${contract.sourceRemainingMealTicket}" /></td>
	</tr>
  </table>
  <div class="center">
  	<input class="btn btn-primary" type="submit" value="Salva"/>
  </div>
#{/form}

<br>


 
  <div class="panel-group" id="accordionUpdateSource">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionUpdateSource" href="#collapseUpdateSource">
            <strong>Importante</strong>
          </a>
        </h4>
      </div>
      <div id="collapseUpdateSource" class="panel-collapse collapse out">
        <div class="panel-body">
          <p>
          	Tramite questa form è possibile inizializzare la situazione di una persona in un momento arbitrario del contratto selezionato.
  			Questa procedura si rende necessaria nei casi in cui:
  			<ol>
  			  <li> Il database ePAS non contenga una informazione completa sulla persona, ad esempio la persona è stata inserita successivamente a trasferimento 
  			  dopo l'installazione del presente software.
  			  </li>  
  			  <li>La procedura di migrazione dal vecchio software orologio ha prodotto una situazione incompleta o non sufficientemente congrua per la persona
  			  (in quanto gli algoritmi di calcolo del tempo di lavoro e dei residui sono stati reimplementati con nuova logica diversa dalla precedente).
  			  </li>
  			</ol>
  		  </p> 
  		  <p>
  		  Inserire la situazione della persona alla fine della giornata specificata nel campo <strong>Data Inizializzazione</strong>.
  	 	  Una volta definiti i dati il software provvederà a ricalcolare i ripiloghi annuali della persona utilizzando i dati di inizializzazione e i dati presenti nel database 
  		  a partire dal giorno successivo a <strong>Data Inizializzazione</strong>. 
  		  </p>
  		  #{if initUse.isPresent() }
  		  <p>Impostare una data di inizializzazione uguale o successiva a ${initUse.get().plusDays(1)}.</p>
  		  #{/if}
  		  
        </div>
      </div>
    </div>
  </div> <!-- end accordion -->  
 
  
</div>	<!-- end container-fluid -->
