*{
 arg (required) field.name attribute
 value (optional) default to field.value
 label (optional) default to field.name
 required (optional) default to false
 values required, list of enum items
}*
#{f.edit _arg, label:_label, value:_value, required:_required}%{
 name = _name?:(field.name + '.id')
 value = _attrs.containsKey('value') ? _value : field.value
}%
<input type="hidden" name="${name}" value=""/>
<select name="${name}" id="${field.id}" class="form-control" multiple data-selectize
 ${helpers.Web.serialize(_attrs, "arg", "value", "label", "required", "values").raw()}>
  <option></option>
  #{list items:_values, as:'item'}
    <option value="${item.id}"#{if value.contains(item)} selected#{/if}>${item.label()}</option>
  #{/list}
</select>
#{/f.edit}
