		#{f.hidden 'shiftCategoryId', value:cat.id /}
		#{title title:'Riepilogo' /}
		
		#{alert color:'info'}
			Configurazione attività di turno (1)			
		#{/alert}	
		
		#{f.view 'Nome attività', value:sts.name /}
		#{f.view 'Descrizione attività', value:sts.description /}
		#{f.view 'Tolleranza minima per timbratura in ingresso', value:sts.entranceTolerance /}
		#{f.view 'Tolleranza massima per timbratura in ingresso', value:sts.entranceMaxTolerance /}
		#{f.view 'Tolleranza minima per timbratura in uscita', value:sts.exitTolerance /}
		#{f.view 'Tolleranza massima per timbratura in uscita', value:sts.exitMaxTolerance /}
		#{f.view 'Tolleranza minima per timbratura per pausa pranzo', value:sts.breakInShift /}
		#{f.view 'Tolleranza massima per timbratura per pausa pranzo', value:sts.breakMaxInShift /}
		
		#{if sts.maxTolerance != 0}
			#{f.view 'Numero massimo di tolleranze violabili', value: sts.maxTolerance /}
		#{/if}
		
		#{f.view 'Durata pausa in turno', value:sts.breakInShift /}		
		
		#{alert color:'info'}
			Configurazione timetable (2)
		#{/alert}
		<div class="row">
			
	  		<div class="col-sm-6">
				#{f.view 'Inizio turno mattina', value:stt.startMorning /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine turno mattina', value:stt.endMorning /}
			</div>
		</div>
		<div class="row">
			
		  	<div class="col-sm-6">
			#{f.view 'Inizio turno pomeriggio', value:stt.startAfternoon /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine turno pomeriggio', value:stt.endAfternoon /}
			</div>
		</div>
		<div class="row">
			
		  	<div class="col-sm-6">
			#{f.view 'Inizio turno notturno', value:stt.startEvening /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine turno notturno', value:stt.endEvening /}
			</div>
		</div>
		<div class="row">
			
		  	<div class="col-sm-6">
			#{f.view 'Inizio pausa pranzo turno mattina', value:stt.startMorningLunchTime /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine pausa pranzo turno mattina', value:stt.endMorningLunchTime /}
			</div>
		</div>
		<div class="row">
			
		  	<div class="col-sm-6">
			#{f.view 'Inizio pausa pranzo turno pomeriggio', value:stt.startAfternoonLunchTime /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine pausa pranzo turno pomeriggio', value:stt.endAfternoonLunchTime /}
			</div>
		</div>
		<div class="row">
			
		  	<div class="col-sm-6">
			#{f.view 'Inizio pausa pranzo turno notturno', value:stt.startEveningLunchTime /}
			</div>
	  		<div class="col-sm-6">
			#{f.view 'Fine pausa pranzo turno notturno', value:stt.endEveningLunchTime /}
			</div>
		</div>