#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Import istituti da Anagrafica'  /}

<div class="container">
#{form @Import.importOffices(),class:'form-horizontal'}

  <div class="row">
    <button type="submit" class="btn btn-default col-xs-2 col-xs-offset-5">
       <em class="text-primary"><i class="fa fa-cloud-download fa-2x"></i> Importa Sedi</em>
    </button>
  </div>

  #{field 'offices'}
    <select id="${field.id}" name="${field.name}.id" class="list-group form-control"
            multiple="multiple">
        #{list importedOffices}
        <option value="${_.id}">
            ${_.label()}
        </option>
        #{/list}
    </select>
  #{/field}

#{/form}
</div>