*{
	activeAction: la action tab attiva
}*

<div class="container">
  #{title title:'Sincronizzazione Perseo' /}
</div>


<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("activeContracts")} class="active" #{/if}>
      <a href="@{Synchronizations.activeContracts(session.get("officeSelected"))}">Contratti Perseo Attivi</a>
    </li>
    <li #{if _activeAction.equals("oldActiveContracts")} class="active" #{/if}>
      <a href="@{Synchronizations.oldActiveContracts(session.get("officeSelected"))}">Contratti Epas Attivi Non Sincronizzati</a>
    </li>
  </ul>
</div>
<br>
