*{
	activeAction: la action tab attiva
}*

<div class="container">
  #{title title:'Sincronizzazione Perseo' /}
</div>


<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("people")} class="active" #{/if}>
      <a href="@{Synchronizations.people(session.get("officeSelected"))}">Persone Perseo</a>
    </li>
    <li #{if _activeAction.equals("oldPeople")} class="active" #{/if}>
      <a href="@{Synchronizations.oldPeople(session.get("officeSelected"))}">Persone Epas Non Associate</a>
    </li>
    <li #{if _activeAction.equals("oldActiveContracts")} class="active" #{/if}>
      <a href="@{Synchronizations.oldActiveContracts(session.get("officeSelected"))}">Contratti Epas Non Associati</a>
    </li>
  </ul>
</div>
<br>
