*{
	activeAction: la action tab attiva
}*

<div class="container">
  #{title title:'Sincronizzazione Perseo' /}
</div>


<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("people")} class="active" #{/if}>
      <a href="@{Synchronizations.people(session.get("officeSelected"))}">Persone Epas</a>
    </li>
    <li #{if _activeAction.equals("otherPeople")} class="active" #{/if}>
      <a href="@{Synchronizations.otherPeople(session.get("officeSelected"))}">Altre Persone Perseo</a>
    </li>
  </ul>
</div>
<br>
