*{
	activeAction: la action tab attiva
}*

<div class="container">
  #{title title:'Sincronizzazione Perseo' /}
</div>


<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("institutes")} class="active" #{/if}>
      <a href="@{Synchronizations.institutes()}">Sedi Perseo</a>
    </li>
    <li #{if _activeAction.equals("oldInstitutes")} class="active" #{/if}>
      <a href="@{Synchronizations.oldInstitutes()}">Altre Sedi Epas Non Sincronizzate</a>
    </li>
  </ul>
</div>
<br>
