#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">

  #{set breadcrumbs:['Gruppi Assenze':@AbsenceGroups.showGroups(null), 
    (groupAbsenceType.category):@AbsenceGroups.showGroups(groupAbsenceType.category.id), (groupAbsenceType):groupAbsenceType] /}
  
  #{breadcrumbs breadcrumbs, noHome:true, container:true /}

	 #{form action:@AbsenceGroups.saveGroup(), method:'POST', autocomplete:false,
		    class:'form form-horizontal'}
		
		<input type="hidden" name="groupAbsenceType.id" value="${groupAbsenceType.id}"/>
		
		#{f.input 'groupAbsenceType.name' /}
		
	    #{f.input 'groupAbsenceType.description'/}
	    
	    #{f.selectEnum 'groupAbsenceType.pattern', items:models.absences.GroupAbsenceType.GroupAbsenceTypePattern.values() /}
	    
	    #{if !groupAbsenceType.chainDescription.equals(groupAbsenceType.description) }
	      #{f.input 'groupAbsenceType.chainDescription' /}
	    #{/if}
	    #{else}
	      #{f.input 'groupAbsenceType.chainDescription', value:'' /}
	    #{/else}
	    
	    #{f.selectModel 'groupAbsenceType.category', items:allCategories /}
	    
	    #{f.booleanRadio 'groupAbsenceType.automatic' /}
	    #{f.booleanRadio 'groupAbsenceType.initializable' /}
	    
	    
	    <!-- Parte takable -->
	    
	    #{f.selectEnum 'takeAmountType', items:models.absences.AmountType.values(), value:takeAmountType /}
	    #{f.input 'fixedLimit', value:fixedLimit /}
        #{f.selectEnum 'takableAmountAdjustment', items:models.absences.TakableAbsenceBehaviour.TakeAmountAdjustment.values(), value:takableAmountAdjustment /}	    
	    
	    #{f.selectModels 'takableCodes.id', 
 		  value:takableCodes,
               items:allAbsenceTypes /}

        #{f.selectEnum 'complationAmountType', items:models.absences.AmountType.values(), value:complationAmountType /}
		#{f.selectModels 'complationCodes.id', value:complationCodes, items:allAbsenceTypes /}
        #{f.selectModels 'replacingCodes.id', value:replacingCodes, items:allAbsenceTypes /}      
          
	    
	    #{b.buttons center:true}   
	      #{b.submit 'Salva' /}
	    #{/b.buttons}
	  #{/form}

</div>


