#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">

#{title title:absenceEngine.person.fullname + ' - ' + absenceEngine.periodChain.chainDescription /}
  
  #{if absenceEngine.report.containsCriticalProblems() }
  #{alert color:'danger'}
    <p>Impossibile visualizzare la situazione. Effettuare una segnalazione.</p>
  #{/alert}
  #{/if}
  
  
  #{list items:absenceEngine.periodChain.periods, as:'absencePeriod' }

    <p>  
      <strong>Periodo validità</strong>
      <br>Data inizio: ${absencePeriod.from.format()}
      <br>Data fine: ${absencePeriod.to.format()}
    </p>  
    <p>
      <strong>Gruppo</strong>
      ${absencePeriod.groupAbsenceType.description}
    </p>
    
  
	 
    
     <table class="table table-condensed table-bordered">
      <tr>
        <th>Data</th>
        <th>Assenza</th>
        <th>Limite<br>Utilizzabile</th>
        <th>Limite<br>Consumato</th>
        <th>Completamento<br>Precedente<br></th>
        <th>Completamento<br>Assenza</th>
        <th>Completamento<br>Residuo<br></th>
      </tr>
      #{list items:absencePeriod.daysStatus.values(), as:'dayStatus'}
      #{list items:dayStatus.buildDayRows(), as:'rowRecap' }
        <tr #{if dayStatus.complationCompromisedInThisDay()} class="bg-danger" #{/if}
            #{elseif dayStatus.complationCompromised()} class="bg-info" #{/elseif}>
          <td>
            #{if rowRecap.date}
              ${rowRecap.date.format()}
              #{if dayStatus.complationCompromisedInThisDay()}
                <i class="fa fa-fire-extinguisher" aria-hidden="true"></i> 
              #{/if}
            #{/if}  
          </td>
          <td>
              #{if !rowRecap.absence.troubles.empty }
		        <i class="fa fa-exclamation-triangle text-danger" webui-popover-hover data-url="#containError${rowRecap.absence.id}"></i>
		      #{/if}
		      <div class="webui-popover-content" id="containError${rowRecap.absence.id}">
                #{list items:rowRecap.absence.troubles, as:'trouble'}
                  <strong>&{trouble.trouble}</strong><br>
                #{/list}
                #{if rowRecap.missingReplacing }
                <p> 
                  Il codice di rimpiazzamento da inserire è
                  <span class="label label-default">${rowRecap.missingReplacing.code}</span>
                </p>
                #{/if}
              </div>
              #{absences.absence-popover absence:rowRecap.absence /}
              <span class="label label-success" webui-popover-hover data-url="#${rowRecap.absence.id}">${rowRecap.absence.absenceType.code}</span>
			  	                
          </td>
          <td>${rowRecap.usableLimit}</td>
          <td>${rowRecap.usableTaken}</td>
          <td>${rowRecap.consumedComplationBefore}</td>
          <td>${rowRecap.consumedComplationAbsence}</td>
          <td>${rowRecap.consumedComplationNext}</td>
        </tr>
      #{/list}
      #{/list}
      </table>
      
  #{/list}
    
</div>


<div class="webui-popover-content" id="missingReplacingError">
  Codice di assenza da inserire nel giorno.
</div>