#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">

#{title title:periodChain.person.fullname + ' - Controllo assenze con limiti e completamenti' /}
  
     #{form action:@AbsenceGroups.groupStatus(), method:'POST', autocomplete:false, class:'form form-horizontal auto-submit'}
       #{f.hidden 'person.id', value:periodChain.person.id /}
       #{f.date 'date', value:date.format() /}     

       *{ TODO: questa select mode fa fattorizzata ora è una copia di _selectGroup }*
       
       #{f.selectModel 'groupAbsenceType', label:'Tipologia Assenza', personalizeItems:true}
        <option></option>      
        *{ same priority }*
        #{list items:categories, as:'category'}
           <optgroup label="${category.categoryType.name}">
           #{list category.items, as:'groupAbsenceTypeItem'}
	         <option value="${groupAbsenceTypeItem.groupAbsenceType.id}"
	          #{if groupAbsenceTypeItem.selected} selected #{/if}> ${groupAbsenceTypeItem.getLabel()} </option>
  	       #{/list}
  	       </optgroup>
  	    #{/list}
       #{/f.selectModel}
   
   #{/form}
    
    
  <a class="btn btn-primary" href="@{Stampings.personStamping(periodChain.person.id, date.year, date.monthOfYear)}">Torna alle timbrature</a>
    
  #{if periodChain.containsCriticalErrors()}
    #{alert color:'danger'}
      <p>Impossibile visualizzare la situazione. Effettuare una segnalazione.</p>
    #{/alert}
  #{/if}
  #{if periodChain.childIsMissing()}
    #{alert color:'danger'}
      <p>Impossibile visualizzare la situazione. Figlio non presente in anagrafica o fuori età.</p>
    #{/alert}
  #{/if}
  
  #{list items:periodChain.periods, as:'absencePeriod' }

    

    #{alert color:'info'}
      <strong>Gruppo</strong> ${absencePeriod.groupAbsenceType.description}<br>
      <strong>Tipo periodo</strong> &{absencePeriod.groupAbsenceType.periodType} <br>
      <strong>Validità periodo</strong> ${absencePeriod.from.format()} - ${absencePeriod.to.format()}
    #{/alert}
    
    #{if absencePeriod.errorsBox.containsCriticalErrors() }
      <p>ci sono errori critici. TODO: elencarli</p>
    #{/if}
    #{if absencePeriod.errorsBox.containsAbsencesErrors() }
      <p>ci sono errori legati alle assenze. TODO: elencarli</p>
    #{/if}

     <table class="table table-condensed table-bordered">
      <tr>
        <th>Data</th>
        <th>Assenza</th>
        <th>Limite<br>Utilizzabile</th>
        <th>Limite<br>Consumato</th>
        <th>Completamento<br>Precedente<br></th>
        <th>Completamento<br>Assenza</th>
        <th>Completamento<br>Residuo<br></th>
      </tr>
      
      #{list items:absencePeriod.daysInPeriod.values(), as:'dayInPeriod'}
      #{list items:dayInPeriod.allTemplateRows(), as:'rowRecap' }
        <tr>
          <td>
            #{if rowRecap.date}
              ${rowRecap.date.format()}
            #{/if}  
          </td>
          <td>
	        #{absences.absence-popover absence:rowRecap.absence, groupSelected:absencePeriod.groupAbsenceType /}
          </td>
          <td>${rowRecap.usableLimit}</td>
          <td>${rowRecap.usableTaken}</td>
          <td>${rowRecap.consumedComplationBefore}</td>
          <td>${rowRecap.consumedComplationAbsence}</td>
          <td>${rowRecap.consumedComplationNext}</td>
        </tr>
      #{/list}
      #{/list}

      </table>
      
      
      
  #{/list}
  

    
</div>
