#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">

  <table class="table">
    <tr>
      <th>Label</th>
      *{ <th>Eccesso (minuti)</th> }*
      <th>Limite<br> (minuti)</th>
      <th>Tipo<br>Accumulo</th>
      <th>Comportamento</th>
      <th>Rimpiazzo e codici</th>
    </tr>
    #{list items:groups, as:'group'}
      <tr>
        <td>${group.label}</td>
        *{ <td>${group.minutesExcess}</td> }*
        <td>${group.limitInMinute.printHourMinute()}</td>
        <td>${group.accumulationType.description}</td>
        <td>${group.accumulationBehaviour.description}</td>
        <td>
          <strong>${group.replacingAbsenceType?.code} ${group.replacingAbsenceType?.description}</strong> 
          #{if group.replacingAbsenceType != null && group.replacingAbsenceType.absences != null}
            (${group.replacingAbsenceType.absences.size()})
          #{/if}
          
          <br>
          #{list group.absenceTypes, as:'abt'}
            ${abt.code} ${abt.description} (${abt.absences.size()})<br>
          #{/list}
        </td>
        
        
      </tr>
      
    #{/list}
  </table>
</div>