#{modalAsync id:'modalAbsence', button:'Salva',
title:'Nuovo codice assenza in data ' + absenceRequestForm.from?.format()
+ ' per ' + absenceRequestForm.person.fullname }

<div id="absenceData">

   *{ alcune scorciatorie }*
   	
   %{ selectedFormItem = absenceRequestForm.selectedAbsenceGroupFormItem; }%
   %{ selecteSubItem = selectedFormItem?.selectedSubAbsenceGroupFormItems; }%
   %{ alldaySelected = selecteSubItem?.selectedJustified?.name.equals(models.absences.JustifiedType.JustifiedTypeName.all_day) }%
   %{ specifiedMinuteSelected = selecteSubItem?.selectedJustified?.name.equals(models.absences.JustifiedType.JustifiedTypeName.specified_minutes) }%

   #{include './_selectGroup.html' /}
   #{include './_configureSelectedGroup.html' /}
   #{include './_verifyRequest.html' /}
 
   #{if report.containsProblems()}
    #{alert color:'danger'}
      #{if !report.absenceProblems.empty}
        <strong>Errori legati alle assenze</strong><br>
        #{list items:report.absenceProblems, as:'absenceProblem'}
          <table class="table table-condensed">
            <tr>
              <td>${absenceProblem.absence.getAbsenceDate().format()}</td>
              <td>${absenceProblem.absenceProblem}</td>
              <td>${absenceProblem.absence.absenceType.code}</td>
              <td>${absenceProblem.absence.absenceType.description}</td>
            </tr>
          </table>  
        #{/list}
      #{/if}
      #{if !report.requestProblems.empty}
        <strong>Errori legati alla richiesta</strong><br>
        #{list items:report.requestProblems, as:'requestProblem'}
          <table class="table table-condensed">
          <tr>
            <td>${requestProblem.date.format()}</td>
            <td>${requestProblem.requestProblem}</td>
          </tr>
          </table>
        #{/list}
      #{/if}
      #{if !report.implementationProblems.empty}
        <strong>Errori legati all'implementazione</strong><br>
        #{list items:report.implementationProblems, as:'implementationProblem'}
          <table class="table table-condensed">
          <tr>
            <td>${implementationProblem.date.format()}</td>
            <td>${implementationProblem.implementationProblem}</td>
          </tr>
          </table>
        #{/list}
      #{/if}
      </p>
    #{/alert} 
  #{/if}
  
  #{if !report.insertResultItems.empty }
    <table class="table condensed">
      <tr>
        <th>Data</th>
        <th>Codice</th>
        <th>Operazione</th>
        <th>Consumo</th>
        <th>Residuo</th>
        <th>Scadenza</th>
        <th>Problemi</th>
      </tr>
      #{list items:report.insertResultItems, as:'insertResultItem'}
      
      %{
        isInsertReplacing = insertResultItem.operation.equals(manager.services.absences.InsertResultItem.Operation.insertReplacing);
        isInsert = insertResultItem.operation.equals(manager.services.absences.InsertResultItem.Operation.insert);
        absence = insertResultItem.absence;
        id = absence.id;
           if (id == null) {
             id = absence.absenceType.code + absence.absenceDate;
           }
      }%
      
      <div class="webui-popover-content" id="${id}">
           <strong>Codice</strong> ${absence.absenceType.code}<br>
           <strong>Descrizione</strong> ${absence.absenceType.description}
	    #{if absence.justifiedType}
	        #{if absence.justifiedAllDay() }
	          <br><strong>Tempo giustificato</strong> &{absence.justifiedType}
	        #{/if}
		    #{if absence.justifiedTime() }
		      <br><strong>Tempo giustificato</strong> ${absence.justifiedTime().printHourMinute()}
		    #{/if}
	    #{/if}
	    #{if !absence.troubles.empty}
	         <br><br>  
	         <p class="text-danger">Questa assenza contiene errori:</p>
	         <ul>
	         #{list items:absence.troubles, as:'trouble'}
	           <li>&{trouble.trouble}</li>
	         #{/list}
	         </ul>
	     #{/if}
	  </div>
      
      <tr>
        <td><strong>${insertResultItem.date.format()}</strong></td>
        #{if isInsert}
          <td><span webui-popover-hover data-url="#${id}">${absence.absenceType.code}</span></td>
          <td><span class="label label-primary">&{insertResultItem.operation}</span></td>
        #{/if}
        #{elseif isInsertReplacing}
          <td><span webui-popover-hover data-url="#${id}" class="text-muted">${absence.absenceType.code}</span></td>
          <td><span class="label label-default">&{insertResultItem.operation}</span></td>
        #{/elseif}
        #{else}
          <td></td><td></td> *{ to implement }*
        #{/else}
        
        <td>
          #{list items:insertResultItem.consumedResidualAmount, as:'cra'}
            ${templateUtility.printAmount(cra.amount, cra.amountType)}<br>
          #{/list}
        </td>
        <td>
          #{list items:insertResultItem.consumedResidualAmount, as:'cra'}
            ${templateUtility.printAmount(cra.residualAfter(), cra.amountType)}<br>
          #{/list}
        </td>
        <td>
          #{list items:insertResultItem.consumedResidualAmount, as:'cra'}
            ${cra.expireResidual?.format()}<br>
          #{/list}
        </td>
        <td>
        #{if insertResultItem.absenceProblem}
          ${insertResultItem.absenceProblem}
        #{/if}
        #{else}
        <i class="fa fa-check fa-2x text-success" aria-hidden="true"></i>
        #{/else}
        </td>
        
      </tr>
      #{/list}
    </table>
   #{/if} 
      
     *{ save request }*
	 #{form action:@AbsenceGroups.save(), method:'POST', autocomplete:false, class:'form form-horizontal',
	  'data-async':'#page_content', 'data-async-error':'#absenceData' }
	  
	  #{f.hidden 'personId', value:absenceRequestForm.person.id /}
      
         #{f.hidden 'from', value:absenceRequestForm.from?.format() /}
         #{if alldaySelected }
          #{f.hidden 'to', value:absenceRequestForm.to?.format() /}
         #{/if}
   
      #{f.hidden 'groupAbsenceType.id', value:selectedFormItem.groupAbsenceType.id /}
      #{f.hidden 'absenceType.id', value:selecteSubItem.absenceType?.id /}
      #{f.hidden 'justifiedType.id', value:selecteSubItem.selectedJustified.id /}
      
      #{f.hidden 'hours', value:selecteSubItem.hours /}
         #{f.hidden 'minutes', value:selecteSubItem.minutes /}
    
      #{if report.containsProblems() }
       #{alert color:'info'}
         <p> La richiesta contiene errori e non può essere completata. </p>
         <p> E' comunque possibile forzare l'inserimento <strong>selezionando 
         il codice specifico</strong> e cliccando su Salva. Non verranno effettuati controlli di integrità dei dati inseriti.
         </p>
       #{/alert}
       #{if !selecteSubItem.isAutomatic() }
            #{f.checkbox 'forceInsert', value:forceInsert /}
       #{/if}
	   #{/if}
	 
	   #{b.buttons center:true}
         #{b.submit 'Salva'/}
       #{/b.buttons}
	 #{/form}	  
    
  
  
   
</div>

#{/modalAsync}