#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">

#{title title:'Gruppi di Assenze' /}

 #{form action:@AbsenceGroups.show(), method:'GET', autocomplete:false,
		    class:'form form-horizontal auto-submit'}
		#{f.selectModel 'category', inputName:'categoryId', items:categories, value:category /}
 #{/form}
 
 <table class="table table-bordered" datatable> 
   <thead>
 	<tr>
 	  <th class="col-md-3">Gruppo</th>
 	  <th>Categoria</th>
 	  <th>Tipologia</th>
 	  <th>Periodo</th>
 	  <th>Limiti e codici</th>
 	  <th>Completamenti e codici</th>
 	</tr>
   </thead>
   <tbody>
 #{list items:groups, as:'group'}
  
  *{ todo questo filtro andrebbe fatto direttamente nel controller }*
  #{if group.category.equals(category)}    
  <tr>
  
    #{include './_showGroup.html' /}
  </tr>
  #{/if}
  
  
  
  
 #{/list}
 </tbody>

 </table>
  
</div>