#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div class="container">


#{title title:'Categorie gruppi assenze' /}
  
#{accordionGroup 'absence_group_configuration'}

  #{secure.check 'AbsenceGroups.manageDocumentation'}
  #{accordionItem 'tab_configuration', parent:'absence_group_configuration', 
		title:'Configurazione gli istituti contrattuali', open:true, color:'info'}
	  
	  <div class="row text-center">
		#{secure.link @AbsenceGroups.insertContractualClause(), class:'btn btn-primary',fa:'plus' }
			Nuovo istituto contrattuale
		#{/secure.link}
	  </div>
  
	  <table class="table table-bordered" datatable> 
	   <thead>
	 	<tr>
	 	  <th>Nome</th>
	 	  <th>Descrizione</th>
	 	  <th>Dal</th>
	 	  <th>Al</th>
	 	  <th>Categorie</th>
	 	</tr>
	   </thead>
	   <tbody>
		 #{list items:contractualClauses, as:'contractualClause'}
		  <tr>
		    <td>
		      <span class="label label-danger">${contractualClause.name}</span>
		      <a href="@{AbsenceGroups.editContractualClause(contractualClause.id)}">Edit</a>
		    </td>
		    <td>${contractualClause.description}</td>
		    <td>${contractualClause.beginDate?.format()}</td>
		    <td>${contractualClause.endDate?.format()}</td>
		    <td>
			  #{list items:contractualClause.categoryGroupAbsenceTypes, as:'category'}
			    <span class="label label-success">${category.name}</span> <br>
			  #{/list}    
		    </td>
		  </tr>
		 #{/list}
	 </tbody>
	 </table>
  #{/accordionItem}  
  #{/secure.check}
    	
  #{secure.check 'AbsenceGroups.tabs'}
  #{accordionItem 'tab_configuration', parent:'absence_group_configuration', 
		title:'Configurazione delle tab delle assenze', open:true, color:'info'}
	  
	  <div class="row text-center">
		#{secure.link @AbsenceGroups.insertCategoryTab(), class:'btn btn-primary',fa:'plus' }
			Nuova tab
		#{/secure.link}
	  </div>
  
	  <table class="table table-bordered" datatable> 
	   <thead>
	 	<tr>
	 	  <th>Nome</th>
	 	  <th>Descrizione</th>
	 	  <th>Priorità</th>
	 	  <th>Default</th>
	 	  <th>Categorie</th>
	 	</tr>
	   </thead>
	   <tbody>
		 #{list items:categoryTabs, as:'categoryTab'}
		  <tr>
		    <td>
		      <span class="label label-danger">${categoryTab.name}</span>
		      <a href="@{AbsenceGroups.editCategoryTab(categoryTab.id)}">Edit</a>
		    </td>
		    <td>${categoryTab.description}</td>
		    <td>${categoryTab.priority}</td>
		    <td>${categoryTab.isDefault}</td>
		    <td>
			  #{list items:categoryTab.categoryGroupAbsenceTypes, as:'category'}
			    <span class="label label-success">${category.name}</span> <br>
			  #{/list}    
		    </td>
		  </tr>
		 #{/list}
	 </tbody>
	 </table>
  #{/accordionItem}
  #{/secure.check}
 
  #{accordionItem 'category_configuration', parent:'absence_group_configuration', 
  	title:'Configurazione delle categorie di gruppi di assenza', open:true, color:'info'}
 
     <div class="row text-center">
		#{secure.link @AbsenceGroups.insertCategoryGroupAbsenceType(), class:'btn btn-primary',fa:'plus' }
			Nuova Categoria
		#{/secure.link}
	 </div>
 
	 <table class="table table-bordered" datatable> 
	   <thead>
	 	<tr>
	 	  <th>Nome</th>
	 	  <th>Descrizione</th>
	 	  <th>Priorità</th>
	 	  <th>Tab</th>
	 	  <th>Gruppi</th>
	 	</tr>
	   </thead>
	   <tbody>
	 #{list items:categories, as:'category'}
	  <tr>
	    <td>
	      <span class="label label-success">${category.name}</span>
	      <a href="@{AbsenceGroups.editCategoryGroupAbsenceType(category.id)}">Edit</a>
	    </td>
	    <td>${category.description}</td>
	    <td>${category.priority}</td>
	    <td>
	      <span class="label label-danger">${category.tab}</span> <br>
		</td>
	    <td>
		  #{list items:category.groupAbsenceTypes, as:'group'}
		    <span class="label label-default">${group.description}</span> <a href="@{AbsenceGroups.editGroup(group.id)}">Edit</a> <br>
		  #{/list}    
	    </td>
	  </tr>
	 #{/list}
	 </tbody>
	 </table>
  #{/accordionItem}
#{/accordionGroup}
</div>


 