#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Gestione codice d\'assenza' /}
 		
 #{form @Absences.saveCode(),class:'form-horizontal col-sm-8 col-sm-offset-2'}
 <input type="hidden" name="absenceType.id" value="${absenceType?.id}">

 <div class="panel panel-primary">
 	<div class="panel-heading">
 		#{if absenceType?.isPersistent()}
 		<h2 class="panel-title">Modifica dati per codice di assenza: ${absenceType.code}#{if absenceType.description} (${absenceType.description})#{/if}</h2>
 		#{/if}
 		#{else}
 		<h2 class="panel-title">Inserimento nuovo codice d'assenza</h2>
 		#{/else}
 	</div>
 	<div class="panel-body">
 	
 		#{f.input 'absenceType.code',required:'true',value:absenceType?.code,popover:'true' /}
 		#{f.input 'absenceType.certificateCode',popover:'true' /}
 		#{f.input 'absenceType.description',popover:'true' /}
 		#{f.booleanRadio 'absenceType.internalUse',popover:'true' /}
 		#{f.date 'absenceType.validFrom',view:'year',popover:'true' /}
 		#{f.date 'absenceType.validTo',view:'year',popover:'true' /}

 		<div class="form-group">
 			<label class="col-sm-3 control-label">Utilizzabile per le categorie:</label>
 				<div class="col-sm-6">
 					<label class="checkbox-inline">
						<input name="tecnologi" type="checkbox"#{if tecnologi} checked#{/if}> Livelli I-III 
					</label>  
					<label class="checkbox-inline"> 
						<input name="tecnici" type="checkbox"#{if tecnici} checked#{/if}> Livelli IV-VIII
					</label>
				</div>
		</div>

 		#{f.booleanRadio 'absenceType.consideredWeekEnd',popover:'true' /}
 		
 		#{f.selectModels 'absenceType.justifiedTypesPermitted.id', label:'absenceType.justifiedTypesPermitted', 
 		  value:absenceType.justifiedTypesPermitted,
               items:allJustifiedType, placeholder:'Come giustifica' /}
        #{f.input 'absenceType.justifiedTime', type:'number' /}   
        #{f.booleanRadio 'absenceType.timeForMealTicket', popover:'true' /}
           
 		
 	</div>
 </div> 

 <div class="container-fluid center">
 #{secure.check 'Absences.insertCode' }
	<input class="btn btn-primary" type="submit" value="Ok">  
 #{/secure.check}
 <input class="btn" action="action" type="button" value="Indietro" onclick="history.go(-1);">
 </div>
#{/form}

