#{extends 'modal.html' /}
#{set modalHeader: 'Presenze festive ' + person.value.surname + ' ' + person.value.name + ' anno ' + year /}



<div class="container-fluid center" id="showDay">
  #{if person.totalHolidayWorkingTime(year) > 0}
  	  <p>
        <strong>Presenza festiva: </strong><span class="label label-warning"> ${person.totalHolidayWorkingTime(year).toHourTime()}</span>
        <strong>Approvata: </strong><span class="label label-primary"> ${person.totalHolidayWorkingTimeAccepted(year).toHourTime()}</span>
  	  </p>
      <table class="table table-hover table-striped">
	    <tr>
		  <th>Data</th>
		  <th>Giorno</th>
		  <th>Orario</th>
		  <th>Esito</th>
		</tr>
	   #{list items:person.holidyWorkingTimeDay(year), as:'pd'}
	   <tr>
		 <td><a href="@{Stampings.personStamping(pd.person.id, pd.date.getYear(), pd.date.getMonthOfYear())}">${pd.date?.format()}</a></td>
	     <td>${pd.date.dayOfWeek().getAsText()}</td>
	     <td>${pd.timeAtWork.toHourTime()}</td>
	     #{if pd.acceptedHolidayWorkingTime}
	       <td class="success">approvata</td> 
	     #{/if}
	     #{else}
	       <td class="danger">non approvata</td>
	     #{/else}
	   </tr>     
	   #{/list}
     </table>
  #{/if} 
</div>