#{modalAsync id:'modalStamping', title:('Gestione Del Giorno ' + personDay.date.format())   }

<div class="container-fluid" id="showDay">
  
  %{ person = personDay.person; }%
  #{include './_showDayTabs.html' /} 
  
  #{alert color:'info'}
   <p>
     Per il giorno <strong>${personDay.date.format()}</strong> 
     #{if personDay.onHoliday == 0}
       non risultano ore festive lavorate da approvare. 
     #{/if} #{else}
       è possibile approvare fino a un massimo di <strong>${personDay.onHoliday.printHourMinute()}</strong> lavoro festivo.
     #{/else}
   <p>
   <p>
     #{if personDay.approvedOnHoliday > 0}
       Lavoro festivo già approvato: <strong>${personDay.approvedOnHoliday.printHourMinute()}</strong>
     #{/if}#{else}
       Il lavoro festivo per questo giorno non è ancora stato approvato.
     #{/else}
   </p>
  #{/alert}
  
  #{form action:@PersonDays.approveWorkingHoliday(), method:'POST', autocomplete:false, class:'form-horizontal',
     'data-async':'#page_content', 'data-async-error':'#showDay', 'data-spinner':'#defaultSpinner'}
  
    #{f.hidden 'personDayId', value:personDay.id /}
    #{f.input 'hours', type:'number' /}
	#{f.input 'minutes', type:'number' /}
    
    #{b.buttons center:true}
      #{b.submit 'Salva'/}
    #{/b.buttons}
  #{/form}
 
 
 
 
  *{
  #{if person.totalHolidayWorkingTime(year) > 0}
  	  <p>
        <strong>Presenza festiva: </strong><span class="label label-warning"> ${person.totalHolidayWorkingTime(year).toHourTime()}</span>
        <strong>Approvata: </strong><span class="label label-primary"> ${person.totalHolidayWorkingTimeAccepted(year).toHourTime()}</span>
  	  </p>
      <table class="table table-hover table-striped">
	    <tr>
		  <th>Data</th>
		  <th>Giorno</th>
		  <th>Orario</th>
		  <th>Esito</th>
		</tr>
	   #{list items:person.holidyWorkingTimeDay(year), as:'pd'}
	   <tr>
		 <td><a href="@{Stampings.personStamping(pd.person.id, pd.date.getYear(), pd.date.getMonthOfYear())}">${pd.date?.format()}</a></td>
	     <td>${pd.date.dayOfWeek().getAsText()}</td>
	     <td>${pd.timeAtWork.toHourTime()}</td>
	     #{if pd.acceptedHolidayWorkingTime}
	       <td class="success">approvata</td> 
	     #{/if}
	     #{else}
	       <td class="danger">non approvata</td>
	     #{/else}
	   </tr>     
	   #{/list}
     </table>
  #{/if}
  }* 
</div>

#{/modalAsync}