*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   personId = session.get("personSelected"); }%
   
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">

	<li #{if _activeAction.equals("checkLastYearAbsences")} class="active" #{/if}>
      <a href="@{Charts.checkLastYearAbsences(null,session.get("officeSelected"))}">Controllo schedone<br> anno passato</a>
    </li>
    <li #{if _activeAction.equals("overtimeOnPositiveResidual")} class="active" #{/if}>
      <a href="@{Charts.overtimeOnPositiveResidual(session.get("yearSelected"), session.get("monthSelected"), session.get("officeSelected"))}">Ore positive vs. <br>straordinari mensili</a>
    </li>    
    <li #{if _activeAction.equals("overtimeOnPositiveResidualInYear")} class="active" #{/if}>
      <a href="@{Charts.overtimeOnPositiveResidualInYear(session.get("yearSelected"), session.get("officeSelected"))}">Ore positive vs. <br>straordinari annuali</a>
    </li>    
    <li #{if _activeAction.equals("exportHourAndOvertime")} class="active" #{/if}>
      <a href="@{Charts.exportHourAndOvertime()}">Export ore in più <br>e di straordinario</a>
    </li>
    <li #{if _activeAction.equals("exportFinalSituation")} class="active" #{/if}>
      <a href="@{Charts.exportFinalSituation()}">Export informazioni finali <br>di un dipendente</a>
    </li>
    
  </ul>
</div>
<br>