*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   personId = session.get("personSelected"); }%
   
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("indexCharts")} class="active" #{/if}>
      <a href="@{Charts.indexCharts()}">Grafici</a>
    </li>
    <li #{if _activeAction.equals("checkLastYearAbsences")} class="active" #{/if}>
      <a href="@{Charts.checkLastYearAbsences()}">Controllo schedone anno passato</a>
    </li>
    <li #{if _activeAction.equals("exportHourAndOvertime")} class="active" #{/if}>
      <a href="@{Charts.exportHourAndOvertime()}">Esportazione ore in più e di straordinario</a>
    </li>
    <li #{if _activeAction.equals("exportFinalSituation")} class="active" #{/if}>
      <a href="@{Charts.exportFinalSituation()}">Esportazione informazioni finali di un dipendente</a>
    </li>
    
  </ul>
</div>
<br>