#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio Attestati'  /}

<div class="container">
#{title title:'ePAS - Supporto per Invio Attestati', administration:true /}
</div>

#{uploadSituation.uploadSituationTabs activeAction:'newAttestati' /}

<div class="container">
*{
	#{form @Certifications.personCertificated(), class:'form-horizontal'}
		
		#{alert color:'info'}
		<p>La situazione della persona con matricola '9891'</p>
		#{/alert}

        #{f.selectModel 'office', items:templateUtility.officesAllowed(), value:wrOffice.value /}

		#{f.selectEnum 'year', label:'Anno Attestato', items:wrOffice.yearUploadable, value:monthToUpload.get().year, byEquals:true /} 
		#{f.selectEnum 'month', label:'Mese Attestato', items:wrOffice.monthUploadable, value:monthToUpload.get().monthOfYear, byEquals:true /}	
		
		#{f.hidden 'token', value:token.get() /}
		
		<br>
		#{b.buttons center:true}
            
            #{b.submit 'Invio'/}
          #{/b.buttons}
	#{/form}
}*

<a class="btn btn-warning" href="@{Certifications.processAll(office.id, year, month)}">Processa</a>

  
<ul class="list-group">
  #{list items:peopleCertificationStatus, as:'personCertificationStatus' }
  
  
  
  <li class="list-group-item">
    <div class="row">
    <div class="col-xs-3">
    <strong>${personCertificationStatus.person.fullname}</strong>
    </div>
    <div class="col-xs-3">
        #{if personCertificationStatus.okProcessable}
	      <p class="text-success"><i class="fa fa-check fa-2x"
	      popover-hover data-content="Attestato processato correttamente."></i></p>
	    #{/if}
	    #{if personCertificationStatus.incompleteProcessable}
	      <p class="text-warning"><i class="fa fa-cloud-upload fa-2x" style="color:#f0ad4e"
	      popover-hover data-content="Attestato incompleto da processare."></i></p>
	    #{/if}
	    
	
	    #{if personCertificationStatus.okNotProcessable}
	      <p class="text-muted"><i class="fa fa-check fa-2x"
	      popover-hover data-content="Attestato processato correttamente, non modificabile."></i></p>
	    #{/if}
	    #{if personCertificationStatus.incompleteNotProcessable}
	    <p class="text-danger"><i class="fa fa-frown-o fa-2x"
         popover-hover data-content="Attestato incompleto non processabile. 
         Fornire le credenziali di accesso o verificare la matricola."></i></p>
	      
	    #{/if}
    </div>
    
    <div class="col-xs-6">
      
      #{if personCertificationStatus.okProcessable}
	
	    #{/if}
	    
	
	    #{if personCertificationStatus.incompleteProcessable}
	    
	      #{list items:personCertificationStatus.correctCertifications.values(), as:'certification'}
	        #{certifications.showCertification certification:certification, type:'correct' /}
	      #{/list}
	      #{list items:personCertificationStatus.toSendCertifications.values(), as:'certification'}
	        #{certifications.showCertification certification:certification, type:'toSend' /}
	      #{/list}
	      #{list items:personCertificationStatus.problemCertifications.values(), as:'certification'}
	        #{certifications.showCertification certification:certification, type:'problems' /}
	      #{/list}
	      #{list items:personCertificationStatus.toDeleteCertifications.values(), as:'certification'}
	        #{certifications.showCertification certification:certification, type:'toDelete', 
	          staticView:personCertificationStatus.staticView /}
	      #{/list}
	    
	    #{/if}
	    
	
	    #{if personCertificationStatus.okNotProcessable}
	
	    #{/if}
	    #{if personCertificationStatus.incompleteNotProcessable}
	    #{/if}

    </div>
    </div>
  </li>

  #{/list}
</ul>
  
  
  
</div>