#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio Attestati'  /}

<div class="container">
#{title title:'ePAS - Supporto per Invio Attestati', administration:true /}
</div>

#{uploadSituation.uploadSituationTabs activeAction:'newAttestati' /}

<div class="container">
*{
	#{form @Certifications.personCertificated(), class:'form-horizontal'}
		
		#{alert color:'info'}
		<p>La situazione della persona con matricola '9891'</p>
		#{/alert}

        #{f.selectModel 'office', items:templateUtility.officesAllowed(), value:wrOffice.value /}

		#{f.selectEnum 'year', label:'Anno Attestato', items:wrOffice.yearUploadable, value:monthToUpload.get().year, byEquals:true /} 
		#{f.selectEnum 'month', label:'Mese Attestato', items:wrOffice.monthUploadable, value:monthToUpload.get().monthOfYear, byEquals:true /}	
		
		#{f.hidden 'token', value:token.get() /}
		
		<br>
		#{b.buttons center:true}
            
            #{b.submit 'Invio'/}
          #{/b.buttons}
	#{/form}
}*
  <table class="table"> 
    <tr>
      <th>Persona</th>
      <th>Stato</th>
      <th>Dati Attestati</th>
    <tr>
  #{list items:peopleCertificationStatus, as:'personCertificationStatus' }
    <tr>
      <td>${personCertificationStatus.person.fullname}</td>
      <td>
	    #{list items:personCertificationStatus.notSendedYet.values(), as:'certification'}
	      ${certification.certificationType} ${certification.content} 
	      <span class="label label-primary">Da Inviare</span>
	      <br>
	  	#{/list}

	    #{list items:personCertificationStatus.epasCorrect.values(), as:'certification'}
	      ${certification.certificationType} ${certification.content} 
	      <span class="label label-success">OK</span>
	      <br>
	    #{/list}
	  
	    #{list items:personCertificationStatus.epasProblemsTryAgain.values(), as:'certification'}
	      ${certification.certificationType} ${certification.content} ${certification.problems} 
	      <span class="label label-warning">Problemi Riprovare</span>
	      <br>
	    #{/list}	    
	  
	    #{list items:personCertificationStatus.epasOutdateNotErasable.values(), as:'certification'}
	      ${certification.certificationType} ${certification.content} 
	      <span class="label label-warning">Scaduta Non Eliminabile</span>
	      <br>
	    #{/list}
	  
	    #{list items:personCertificationStatus.attestatiIncorrectNotErasable.values(), as:'certification'}
	      ${certification.certificationType} ${certification.content} 
	      <span class="label label-danger">Errata Non Eliminabile</span>
	      <br>
	    #{/list}
	      
	  </td>
    </tr>
  #{/list}  
  </table>
</div>