#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio Attestati'  /}

<div class="container">
#{title title:'ePAS - Supporto per Invio Attestati', administration:true /}
</div>

*{
#{certifications.certificationsTabs activeAction:'certifications' /}
}*


<div class="container">

 
 #{alert color:'info'}
   <p> 
     Attraverso questa pagina è possibile popolare gli attestati CNR per il mese e sede selezionati nella nuova
     piattaforma. 
   </p>
 #{/alert}
 
 #{alert color:'info'}
    <p><strong>Guida</strong></p>
    <p>  
     Dopo aver effettuato l'operazione di <em>Stralcio</em> in attestati, cliccare sul
     pulsante <strong>Processa</strong>. 
   </p>
   <p>
     La procedura si occuperà di inviare i dati ancora non presenti in attestati e di rimuovere quelli obsoleti.
   </p>
   <p><strong>Nota bene</strong><br>
     E' possibile processare i dati più volte, fino a quando
     l'attestato non sarà validato attraverso la funzione <em>Valida Attestati</em> in attestati.<br>
     L'operazione Processa non ha effetti per ogni attestato già validato  <i class="fa fa-ban" aria-hidden="true" popover-hover data-content="Attestato validato su attestati non modificabile."></i> 
   </p>
 #{/alert}
 
 #{if numbers != null}  *{ se è injettato è stata ottenuta l'autenticazione }*  
	 #{if !numbers.empty}
	   #{alert color:'danger'}
	     <p>Ci sono matricole attive in attestati non inserite in ePAS.</p>
	     #{list items:numbers, as:'number'}
	       <span class="label label-danger">${number}</span>
	     #{/list}
	   #{/alert}
	 #{/if}
	  
	 #{if peopleNotInAttestati}
	   #{alert color:'danger'}
	     <p>Ci sono persone attive nel mese in ePAS non in attestati. Controllare le loro matricole.</p>
	     #{list items:peopleCertificationStatus, as:'personCertificationStatus'}
	       #{if  personCertificationStatus.notInAttestati}
	       <span class="label label-danger">${personCertificationStatus.person.fullname}</span>
	       #{/if}
	     #{/list}
	   #{/alert}
	  #{/if}  
	
	#{/if}
	
	
	 
	#{if peopleCertificationStatus} *{ se è injettato è stato fatto lo stralcio }*  

	#{secure.check 'Certifications.processAll'}
	<a class="btn btn-warning" href="@{Certifications.processAll(office.id, year, month)}">Processa <i class="fa fa-cloud-upload" aria-hidden="true"></i></a>
	#{/secure.check}
	<a class="btn btn-primary" href="@{Certifications.certifications(office.id, year, month)}">Aggiorna <i class="fa fa-refresh" aria-hidden="true"></i></a>
	
	*{
	<a class="btn btn-danger pull-right" href="@{Certifications.emptyCertifications(office.id, year, month)}">Svuota Attestati <i class="fa fa-trash-o" aria-hidden="true"></i></a>
	}*
	
	<ul class="list-group">
	  #{list items:peopleCertificationStatus, as:'personCertificationStatus' }
	  
	  
	  
	  <li class="list-group-item 
	    #{if personCertificationStatus.okProcessable || personCertificationStatus.okNotProcessable} list-group-item-success#{/if}
	    #{if personCertificationStatus.incompleteNotProcessable} list-group-item-danger#{/if}
	    #{if personCertificationStatus.incompleteProcessable} list-group-item-warning#{/if}
	    ">
	    <div class="row">
	    <div class="col-xs-3">
	    <strong>${personCertificationStatus.person.fullname}<br>${personCertificationStatus.person.number}</strong>
	    </div>
	    <div class="col-xs-3">
	      #{if !personCertificationStatus.validate}
	       
	        #{if personCertificationStatus.okProcessable}
		      <p class="text-success"><i class="fa fa-check fa-2x"
		      popover-hover data-content="Attestato processato correttamente in attesa di validazione."></i>
		    #{/if}
		    #{if personCertificationStatus.incompleteProcessable}
		      <p class="text-warning"><i class="fa fa-cloud-upload fa-2x" style="color:#f0ad4e"
		      popover-hover data-content="Attestato incompleto da processare."></i>
		    #{/if}
		    
		
		    #{if personCertificationStatus.okNotProcessable}
		      <p class="text-muted"><i class="fa fa-check fa-2x"
		      popover-hover data-content="Attestato processato correttamente, non modificabile."></i>
		    #{/if}
		    #{if personCertificationStatus.incompleteNotProcessable}
		    <p class="text-danger"><i class="fa fa-frown-o fa-2x"
	         popover data-content="Attestato incompleto non processabile."></i>
		    #{/if}
		    
	      #{/if}
	      #{else}  
	          <p class="text-danger"><i class="fa fa-ban fa-2x" aria-hidden="true" 
	          popover-hover data-content="Attestato validato su attestati non modificabile."></i>
	      #{/else}		    
		    </p>
	    </div>
	    
	    <div class="col-xs-6">
		
		    #{if personCertificationStatus.incompleteProcessable 
		    	|| personCertificationStatus.okProcessable}
		    
		      #{list items:personCertificationStatus.correctCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'correct' /}
		      #{/list}
		      #{list items:personCertificationStatus.toSendCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'toSend' /}
		      #{/list}
		      #{list items:personCertificationStatus.problemCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'problems' /}
		      #{/list}
		      #{list items:personCertificationStatus.toDeleteCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'toDelete', 
		          staticView:personCertificationStatus.staticView /}
		      #{/list}
		    
		    #{/if}
		    
		
		    #{if personCertificationStatus.incompleteNotProcessable || 
		    personCertificationStatus.okNotProcessable}
		    
		      #{list items:personCertificationStatus.correctCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'correct', muted:true /}
		      #{/list}
		      #{list items:personCertificationStatus.toSendCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'toSend', muted:true /}
		      #{/list}
		      #{list items:personCertificationStatus.problemCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'problems', muted:true /}
		      #{/list}
		      #{list items:personCertificationStatus.toDeleteCertifications.values(), as:'certification'}
		        #{certifications.showCertification certification:certification, type:'toDelete', 
		          muted:true /}
		      #{/list}
		      
		    #{/if}
	
	    </div>
	    </div>
	  </li>
	
	  #{/list}
	</ul>
  
  #{/if}
  
</div>