#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio buoni pasto'  /}

<div class="container">
  #{title title:'ePAS - Supporto per Invio informazioni di fine mese', administration:true /}
</div>

<div class="container">

  #{panel title:'Creazione file per invio delle informazioni di fine mese', color:'primary'}

  #{alert color:'info'}
  <p>Sarà generato un file PDF contenenti le informazioni da inviare a fine mese della sede selezionata.</p>
  
  #{/alert}

  #{form @PrintTags.showTag(), method:'POST', autocomplete:false, class:'form form-horizontal'}
  	<input type="hidden" name="month" value="${date.getMonthOfYear()}"/>
  	<input type="hidden" name="year" value="${date.getYear()}"/>
  	<input type="hidden" name="officeId" value="${office.id}"/>
  #{f.booleanRadio 'forAll', label:'Per tutti' /}
  <div id="single-person" #{if forAll} style="display: none" #{/if}>	
  #{f.selectModel 'person', items:personList /}
  </div>
  #{f.checkbox 'includeStampingDetails' /}
  
  #{b.buttons center:'true'}
  #{b.back /}
  #{b.ok /}
  #{/b.buttons}
  #{/form}
  #{/panel}

</div>