<li class="list-group-item
	    #{if personCertificationStatus.okProcessable || personCertificationStatus.okNotProcessable} list-group-item-success#{/if}
	    #{if personCertificationStatus.incompleteNotProcessable} list-group-item-danger#{/if}
	    #{if personCertificationStatus.incompleteProcessable} list-group-item-warning#{/if}
	    ">
  <div class="row">
    <div class="col-xs-3">
      <strong>${personCertificationStatus.person.fullname}</strong>
      <br><em>matricola:</em> ${personCertificationStatus.person.number}
    </div>
    <div class="col-xs-3">
      #{if !personCertificationStatus.validate}

      #{if personCertificationStatus.okProcessable}
      <p class="text-success"><i class="fa fa-check fa-2x"
                                 popover-hover data-content="Attestato processato correttamente in attesa di validazione."></i>
        #{/if}
        #{if personCertificationStatus.incompleteProcessable}
      <p class="text-warning"><i class="fa fa-cloud-upload fa-2x" style="color:#f0ad4e"
                                 popover-hover data-content="Attestato incompleto da processare."></i>
        #{/if}


        #{if personCertificationStatus.okNotProcessable}
      <p class="text-muted"><i class="fa fa-check fa-2x"
                               popover-hover data-content="Attestato processato correttamente, non modificabile."></i>
        #{/if}
        #{if personCertificationStatus.incompleteNotProcessable}
      <p class="text-danger"><i class="fa fa-frown-o fa-2x"
                                popover data-content="Attestato incompleto non processabile."></i>
        #{/if}

        #{/if}
        #{else}
      <p class="text-danger"><i class="fa fa-ban fa-2x" aria-hidden="true"
                                popover-hover data-content="Attestato validato su attestati non modificabile."></i>
        #{/else}
      </p>
    </div>

    <div class="col-xs-6">

      #{if personCertificationStatus.incompleteProcessable
      || personCertificationStatus.okProcessable}

      #{list items:personCertificationStatus.correctCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'correct' /}
      #{/list}
      #{list items:personCertificationStatus.toSendCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'toSend' /}
      #{/list}
      #{list items:personCertificationStatus.problemCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'problems' /}
      #{/list}
      #{list items:personCertificationStatus.toDeleteCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'toDelete',
      staticView:personCertificationStatus.staticView /}
      #{/list}

      #{/if}


      #{if personCertificationStatus.incompleteNotProcessable ||
      personCertificationStatus.okNotProcessable}

      #{list items:personCertificationStatus.correctCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'correct', muted:true /}
      #{/list}
      #{list items:personCertificationStatus.toSendCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'toSend', muted:true /}
      #{/list}
      #{list items:personCertificationStatus.problemCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'problems', muted:true /}
      #{/list}
      #{list items:personCertificationStatus.toDeleteCertifications.values(), as:'certification'}
      #{certifications.showCertification certification:certification, type:'toDelete',
      muted:true /}
      #{/list}

      #{/if}

    </div>
  </div>
  <script>progress(${stepSize});</script>
</li>