<div align="left">
#{form @SwitchTemplate.dispatch()}

	#{select 'action', value:_mainMenu.action, id:'action'}
		#{option 'yearlyAbsences'}Assenze Annuali#{/option}
		#{option 'absences'}Assenze Mensili#{/option}
		#{option 'stampings'}Timbrature#{/option}
		#{option 'vacations'}Ferie#{/option}
		#{option 'competences'}Competenze e Straordinari#{/option}	
		#{option 'changePassword'}Cambia password#{/option}
		#{option 'manageWorkingTime'}Orari di lavoro#{/option}
		#{option 'confParameters'}Configurazione Parametri#{/option}
	#{/select}
	
	#{select 'year', value:_mainMenu.year, id:'year'}
		#{option 2011}2011#{/option}
		#{option 2012}2012#{/option}
		#{option 2013}2013#{/option}
	#{/select}
	
	#{select 'month', value:_mainMenu.month, id:'month'}
		#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
	
	#{secure.check "viewPersonList"}
		#{select 'personId', value:_mainMenu.personId, id:'person'}
		%{
			for(person in _mainMenu.persons){
		}%
			#{option person.id}${person.surname + ' ' + person.name}#{/option}
			%{
				}
			}%
		
		#{/select}
	#{/secure.check}

	<input type="submit" value="Submit">
#{/form}

</div>