<div align="left">
#{form @SwitchTemplate.dispatch()}
	#{select 'method', value:_mainMenu.method, id:'method'}
	 %{
	 	for (menuItem in _mainMenu.getMethods()) {
	 }%
        #{option menuItem.getAction()}${menuItem.getDescription()}#{/option}
    %{
    	}
    }% 
		
	#{/select}
	
	#{select 'year', value:_mainMenu.year, id:'year'}
		#{option 2011}2011#{/option}
		#{option 2012}2012#{/option}
		#{option 2013}2013#{/option}
		#{option 2014}2014#{/option}
		#{option 2015}2015#{/option}
	#{/select}
	
	${_mainMenu.method.name()}
	
	#{select 'month', value:_mainMenu.month, id:'month'}
	%{if (_mainMenu.method.name().equals('monthRecap')){
	}%
		#{option 0}Tutti i mesi#{/option}
	%{
		}
	}%	
		#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
			
	#{secure.check "viewPersonList"}
		#{select 'personId', value:_mainMenu.personId, id:'person'}
			#{option}Scegli una persona#{/option}
		%{
			for(person in _mainMenu.persons){
		}%
			#{option person.id}${person.surname + ' ' + person.name}#{/option}
			%{
				}
			}%
		
		#{/select}
	#{/secure.check}
	
	%{if (_mainMenu.day != null || _mainMenu.method.name() == 'dailyPresence') {
	}%
		#{select 'day', value:_mainMenu.day, id: 'day'}
			%{ for(day in _mainMenu.days){
				}%
				#{option day}${day}#{/option}
				%{
					}
				}%		
		#{/select}		
	%{}}%

	<input type="submit" value="Submit">
#{/form}

</div>