*{
  title: il titolo
  noTitle: se non voglio il title (l'header in alto)
}*

#{if _noTitle}

#{/if}
#{else}
	<div class="modal-header center">
	    <div class="pull-left" webui-popover-hover data-url="#modalSpinnerPopover">
	      <i id="modalSpinner" class="fa fa-circle-o-notch fa-3x fa-spin hidden"></i>
	    </div>
	    <div class="webui-popover-content" id="modalSpinnerPopover">
	        Sto ricaricando la pagina. Attendi alcuni momenti...
	    </div>
	    
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3>&{_title}</h3>
	</div>
#{/else}

<div class="modal-body">
  #{if _noTitle}
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  #{/if}
  #{doBody /}
</div>
