 *{
    recomputeRecap: il recap delle modifiche
 }*
 #{if _recomputeRecap.initMissing}
  %{ color = 'danger' }%
 #{/if}
 #{else}
  %{ color = 'warning' }%
 #{/else}
 
 #{alert color:color } 
	 
	 #{if !_recomputeRecap.periods.empty }
	    <p>Nuova configurazione</p>
	    <table class="table table-bordered table-condensed center">
		  <tr>
		    <th>Dal</th>
		    <th>Al</th>
			<th>Valore</th>
		  </tr>
		  #{list items:_recomputeRecap.periods, as:'periodRecap'}
		  <tr>
		    <td>${periodRecap.beginDate.format()}</td>
			<td>#{if periodRecap.endDate != null} ${periodRecap.endDate.format()} #{/if}#{else}<em>Indeterminato</em>#{/else}</td>
			<td>
				&{periodRecap.label}
			</td>
		  </tr>
		  #{/list}
	  	</table>
	#{/if}
	
	#{if _recomputeRecap.initMissing}
	  <p>Finchè non verrà inserita l'inizializzazione non verranno effettuati i ricalcoli.>
	#{/if}
	#{else}  
	    #{if _recomputeRecap.needRecomputation }
			  <p>
			        ePAS effettuerà il ricalcolo di tutti i dati del dipendente 
		 	        dal <strong>${_recomputeRecap.recomputeFrom.format()}</strong>
		 	        al <strong>${_recomputeRecap.recomputeTo.get().format()}</strong> 
		 	        per un totale di <strong>${_recomputeRecap.days}</strong> giorni.
		 	  </p>			
		#{/if}	
		#{else}
		      <p>Per questa modifica non sono necessari ricalcoli.</p>
		#{/else} 
	#{/else}
  #{/alert}

