 *{
    recomputeRecap: il recap delle modifiche
 }*
 
 #{if _recomputeRecap.needRecomputation }
			  #{alert color:'danger'}
			    <p>Nuova configurazione</p>
			    <table class="table table-bordered table-condensed center">
				  <tr>
				    <th>Dal</th>
				    <th>Al</th>
					<th>Tip Orario</th>
				  </tr>
				  #{list items:_recomputeRecap.periods, as:'periodRecap'}
				  <tr>
				    <td>${periodRecap.beginDate.format()}</td>
					<td>#{if periodRecap.endDate != null} ${periodRecap.endDate.format()} #{/if}#{else}<em>Indeterminato</em>#{/else}</td>
					<td>${periodRecap.value.description}</td>
				  </tr>
				  #{/list}
			  	</table>
			    <p>
			        ePAS effettuerà il ricalcolo di tutti i dati del dipendente 
		 	        dal <strong>${_recomputeRecap.recomputeFrom.format()}</strong>
		 	        al <strong>${_recomputeRecap.recomputeTo.get().format()}</strong> 
		 	        per un totale di <strong>${_recomputeRecap.days}</strong> giorni.
		 	    </p>			
		 	    
			  #{/alert}
			  #{b.buttons center:true}
			   #{b.submit 'Conferma'/}
			 #{/b.buttons}
#{/if}