#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Stampa cartellino' /}

#{set 'moreStyles'}
<style type="text/css">
  .panel{
  margin-top: 5%;
  }
</style>
#{get 'moreStyles' /}
#{/set}

<div class="container">

  #{panel title:'Creazione cartellino mensile del Personale', color:'primary'}

  #{alert color:'info'}
  <p>Sarà generato un file PDF contenenti le informazioni della persona selezionata.</p>
  <p>Selezionare uno dei nomi presenti nella lista e premere ok</p>
  #{/alert}

  #{form @PrintTags.showTag(), method:'POST', autocomplete:false, class:'form form-horizontal'}
  <input type="hidden" name="month" value="${date.getMonthOfYear()}"/>
  <input type="hidden" name="year" value="${date.getYear()}"/>

  #{f.selectModel 'person', items:personList /}
  #{b.buttons center:'true'}
  #{b.back /}
  #{b.ok /}
  #{/b.buttons}
  #{/form}
  #{/panel}

</div>
