#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Stampa cartellino' /}


<div class="container">


#{form @PrintTags.showTag()}
<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title">Sarà generato un file per la stampa di tipo PDF. 
Selezionare uno dei nomi presenti nella lista e premere invio</h4>
		  </div>
		<div class="panel-body">
<input type="hidden" name="month" value="${date.getMonthOfYear()}"/>

<input type="hidden" name="year" value="${date.getYear()}"/>

<div id="frm">
#{select 'personId', value:personList.get(0), id:'person'}
	#{option}Scegli una persona#{/option}
	#{list personList}
		#{option _.id}${_.fullname}#{/option}
	#{/list}
#{/select}

	<input class="btn btn-primary" type="submit" value="Invio"/>
	<input  action="action" class="btn" type="button" value="Indietro" onclick="history.go(-1);" />
  </div>
</div>
#{/form}
</div>
</div>