<!DOCTYPE html>

<html>
<head>
  <style type="text/css">
    table {
    border: 1px solid black;
    background-color: #EAEAEA;
    font-size: 75%;
    }

    table th,td {
    background-color: #EAEAEA;
    border: 1px solid #757575;
    width: 12%;
    }

    #tabelleRiassuntive{
    margin-top: 7em;
    }

    #stampingsDetailsTitle {
    margin-top: 4em;
    }

    td.emptycell {
    background: white;
    padding-top: 1em;
    }
    
    .break{
    page-break-after: always;
    }

  </style>
</head>

<body>
#{list dtoList, as:'dto'}
<h3>Situazione presenze mensile ${org.joda.time.LocalDate.now().withYear(dto.psDto.year).withMonthOfYear(dto.psDto.month).toString("MMMM YYYY")} di ${dto.psDto.person.fullname}</h3>

<table>
  <tr>
    <th>Buono mensa</th>
    <th>Giorno</th>
    <th>Codice di assenza</th>
    #{list items:1..dto.psDto.numberOfInOut}
    <th>${_}° entrata</th>
    <th>${_}° uscita</th>
    #{/list}
    <th>Tempo lavoro</th>
    <th>Differenza</th>
    <th>Progressivo</th>
    <th>Tipo Orario</th>
  </tr>
  #{list dto.psDto.daysRecap,as:'dayRecap'}
	  #{if dayRecap.ignoreDay}
	  #{set ignore:true /}
	  #{/if}
	  #{else}
	  #{set ignore:false /}
	  #{/else}
	  <tr>
	    <td>
	      #{ifnot ignore}
	      #{if dayRecap.mealTicket.equals('NO')}
	        ${dayRecap.mealTicket}
	      #{/if}
	      #{if dayRecap.mealTicket.equals('YES') && dayRecap.personDay.isHoliday}
	        SI
	      #{/if}
	      #{/ifnot}
	    </td>
	    <td>
	      ${dayRecap.personDay.date.shortDayName()}
	    </td>
	    <td>
	      #{ifnot ignore}
	      #{list dayRecap.personDay.absences}
	      ${_.absenceType.code}
	      #{/list}
	      #{/ifnot}
	    </td>
	
	    #{list dayRecap.stampingsTemplate}
	    <td>
	      #{ifnot ignore}
	      #{if _.date}
	      ${_.hour}
	      #{/if}
	      
	      #{if _.stamping.stampType} <strong>${_.stamping.stampType.identifier}</strong> #{/if}
	        #{list _.stampModificationTypes, as:'smt'}
	          <strong>${smt.code}</strong>
	        #{/list}
	      #{/ifnot}
	      
	    </td>
	    #{/list}
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.timeAtWork.printHourMinute()}
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.difference.printHourMinute()}
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.progressive.printHourMinute()}
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	        #{if dayRecap.wttd.present }
              #{if dayRecap.wttd.get().workingTimeType.description.length() > 7 }
                ${dayRecap.wttd.get().workingTimeType.description.substring(0, 7)}
              #{/if}
              #{else}
                ${dayRecap.wttd.get().workingTimeType.description}
              #{/else}
            #{/if}
         #{/ifnot}
        </td>
       </tr>
  #{/list}
</table>
<br>

  #{list items:dto.psDto.contractMonths, as:'mese'}

  <!-- solo last in month -->
  #{if mese.contract.isLastInMonth((int)dto.psDto.month, (int)dto.psDto.year)}
    <br>Numero di giorni lavorativi in sede: <strong>${dto.psDto.basedWorkingDays}</strong>
    <br>Numero di riposi compensativi usati fin'ora (nell'anno in corso): <strong>${dto.psDto.numberOfCompensatoryRestUntilToday} giorni</strong>
  #{/if}
  #{else}
    <em>Il contratto e' terminato nel corso di questo mese.</em>
  #{/else}
  <br>Numero di buoni pasto maturati in questo mese: <strong>${dto.psDto.numberOfMealTicketToUse}</strong>
  <br>Totale ore di lavoro effettuate nel mese: <strong>${dto.psDto.totalWorkingTime.toHourTime()}</strong>
  #{if mese.getPreviousRecapInYear().present}
    <br>Monte ore all'inizio del mese:
    <strong>${mese.getPreviousRecapInYear().get().remainingMinutesCurrentYear.toHourTime()}</strong>
  #{/if}
  <br>Residuo del mese positivo (imputabili come straordinari):
  <strong>${mese.value.getPositiveResidualInMonth().toHourTimeWithPlus()}</strong>
  #{if mese.value.straordinariMinutiS1Print != 0}
    <br>Ore assegnate per straordinario diurno nei giorni lavorativi:
    <strong>${mese.value.straordinariMinutiS1Print.toHourTimeWithMinus()}</strong>
  #{/if}
  #{if mese.value.straordinariMinutiS2Print != 0}
    <br>Ore assegnate per straordinario diurno nei giorni festivi o notturno nei giorni lavorativi:
    <strong>${mese.value.straordinariMinutiS2Print.toHourTimeWithMinus()}</strong>
  #{/if}
  #{if mese.value.straordinariMinutiS3Print != 0}
    <br>Ore assegnate per straordinario notturno nei giorni festivi:
    <strong>${mese.value.straordinariMinutiS3Print.toHourTimeWithMinus()}</strong>
  #{/if}
  #{if mese.value.riposiCompensativiMinutiImputatoAnnoCorrente != 0}
    <br>Residuo utilizzato come riposo compensativo:
    <strong>${mese.value.riposiCompensativiMinutiImputatoAnnoCorrente.toHourTimeWithMinus()}</strong>
  #{/if}
  #{if mese.value.progressivoFinaleNegativoMeseImputatoAnnoCorrente != 0}
    <br>Residuo utilizzato come recupero ore:
    <strong>${mese.value.progressivoFinaleNegativoMeseImputatoAnnoCorrente.toHourTimeWithMinus()}</strong>
  #{/if}
  <br>Totale monte ore a fine mese: <strong>${(mese.value.remainingMinutesLastYear+mese.value.remainingMinutesCurrentYear).toHourTime()}</strong>
  #{/list}

#{if dto.includeStampingDetails == true}
    #{if !dto.stampingOwnersInDays.isEmpty()}
		<table>
		 <caption style="margin-top: 2em; font-weight:bold">Chi ha inserito le timbrature nei giorni</caption>
		 	<tr>
		 		<th>Lettore badge e/o utente</th>
		 		<th style="text-align:center">Numero di giorni</th>
		 		<th>Dettaglio giorni</th>

		 	</tr>
		 	#{list dto.stampingOwnersInDays.keySet(), as:'stampingOwner'}
		 	  <tr>
		 	    <td>${stampingOwner != null ? stampingOwner.getLabel() : ' Inserita dal sistema'}</td>
		 	    <td style="text-align:center">${dto.stampingOwnersInDays.get(stampingOwner).size()}</td>
		 	    <td>${dto.stampingOwnersInDays.get(stampingOwner)*.dayOfMonth()*.get().sort()}</td>
		 	  </tr>
		 	#{/list}
		</table>
    #{/if}
	#{if !dto.historyStampingsList.isEmpty()}
		<div class="break">
		  &nbsp;
		</div>
		<h2 id="stampingsDetailsTitle">Dettagli Timbrature modificate dall'amministratore</h2>
		<table>
		  <tr>
		    <th>&{'stamping'}</th>
		    <th>&{'date.modified'}</th>
		    <th>&{'history.type'}</th>
		    <th>&{'done.by'}</th>
		    <th>&{'stamping.way'}</th>
		    <th>&{'stamping.stampType'}</th>
		    <th>&{'stamping.note'}</th>
		    <th>&{'stamping.reason'}</th>
		    <th>&{'stamping.place'}</th>
		  </tr>

		  #{list dto.historyStampingsList,as:'stampHistory'}
			  <tr>
			    <td colspan="7" class="emptycell"></td>
			  </tr>
			  #{list stampHistory, as:'history'}
				  <tr>
				    <td>${history.value?.date.format()}</td>
				    <td>${history.formattedRevisionDate()}</td>
				    <td>${history.type}</td>
				    <td>${history.formattedOwner()}</td>
				    <td>${history.value?.way.label()}</td>
				    <td>${history.value?.stampType.label()}</td>
				    <td>${history.value?.note}</td>
				    <td>${history.value?.reason}</td>
				    <td>${history.value?.place}</td>
				  </tr>
			  #{/list}
		  #{/list}
		</table>
	#{/if}
  #{/if}
  <p style="page-break-after: always;">&nbsp;</p>
  <p style="page-break-before: always;">&nbsp;</p>
#{/list}
</body>