<!DOCTYPE html>

<html>
<head>
  <style type="text/css">
    table {
    border: 1px solid black;
    background-color: #EAEAEA;
    font-size: 75%;
    }

    table th,td {
    background-color: #EAEAEA;
    border: 1px solid #757575;
    width: 12%;
    }

    #tabelleRiassuntive{
    margin-top: 7em;
    }

    #stampingsDetailsTitle {
    margin-top: 4em;
    }

    td.emptycell {
    background: white;
    padding-top: 1em;
    }

  </style>
</head>

<body>

<h3>Situazione presenze mensile ${org.joda.time.LocalDate.now().withYear(psDto.year).withMonthOfYear(psDto.month).toString("MMMM YYYY")} di ${psDto.person.fullname}</h3>

<table>
  <tr>
    <th>Buono mensa</th>
    <th>Giorno</th>
    <th>Codice di assenza</th>
    #{list items:1..psDto.numberOfInOut}
    <th>${_}° entrata</th>
    <th>${_}° uscita</th>
    #{/list}
    <th>Tempo lavoro</th>
    <th>Differenza</th>
    <th>Progressivo</th>
    <th>Tipo Orario</th>
  </tr>
  #{list psDto.daysRecap,as:'dayRecap'}
	  #{if dayRecap.ignoreDay}
	  #{set ignore:true /}
	  #{/if}
	  #{else}
	  #{set ignore:false /}
	  #{/else}
	  <tr>
	    <td>
	      #{ifnot ignore}
	      #{if dayRecap.mealTicket.equals('NO')}
	      ${dayRecap.mealTicket}
	      #{/if}
	      #{/ifnot}
	    </td>
	    <td>
	      ${dayRecap.personDay.date.shortDayName()}
	    </td>
	    <td>
	      #{ifnot ignore}
	      #{list dayRecap.personDay.absences}
	      ${_.absenceType.code}
	      #{/list}
	      #{/ifnot}
	    </td>
	
	    #{list dayRecap.stampingsTemplate}
	    <td>
	      #{ifnot ignore}
	      #{if _.date}
	      ${_.hour}
	      #{/if}
	      
	      #{if _.stamping.stampType} <strong>${_.stamping.stampType.identifier}</strong> #{/if}
	        #{list _.stampModificationTypes, as:'smt'}
	          <strong>${smt.code}</strong>
	        #{/list}
	      #{/ifnot}
	      
	    </td>
	    #{/list}
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.timeAtWork.printHourMinute()}
	      <strong>${dayRecap.todayLunchTimeCode}</strong>
	      <strong>${dayRecap.fixedWorkingTimeCode}</strong>
	      <strong>${dayRecap.exitingNowCode}</strong>
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.difference.printHourMinute()}
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.personDay.progressive.printHourMinute()}
	      #{/ifnot}
	    </td>
	    <td>
	      #{ifnot ignore}
	      ${dayRecap.wttd.get().workingTimeType.description}
	      #{/ifnot}
	    </td>
	  </tr>
  #{/list}
</table>
<br>
<p>
  Il numero di buoni pasto maturati per questo mese e': <strong>${psDto.numberOfMealTicketToUse}</strong>
  <br>Il numero di giorni lavorativi in sede è di: <strong>${psDto.basedWorkingDays}</strong>
  <br>Il numero di ore di lavoro effettuate nel mese è di: <strong>${psDto.totalWorkingTime.toHourTime()}</strong>
  <br>Il numero di ore di disponibile per gli straordinari nel mese è di: <strong>${psDto.positiveResidualInMonth} ore</strong>
</p>

<p style="text-align: right;margin-top:6em;">
  AUTOCERTIFICAZIONE
  <br><br>
  Firma
  <br><br>
  _____________________________
</p>

<div id="tabelleRiassuntive">
  #{ifnot psDto.stampModificationTypeSet.isEmpty()}
  <strong style="margin-top: 2em">Note:</strong>
  <br>
  <table>
    <tr>
      <th>Codice timbratura</th>
      <th>Descrizione</th>
    </tr>
    #{list psDto.stampModificationTypeSet}
    <tr>
      <td>${_.code}</td>
      <td>${_.description}</td>
    </tr>
    #{/list}
    #{list psDto.stampTypeSet}
    <tr>
      <td>${_.identifier}</td>
      <td>${_.description}</td>
    </tr>
    #{/list}
  </table>
  #{/ifnot}

  #{ifnot psDto.absenceCodeMap.entrySet().isEmpty()}
  *{Significato codici assenza}*
  <br>
  <strong style="margin-top: 2em">Tabella codici di assenza:</strong>
  <br>
  <table>
    <tr>
      <th>Codice assenza</th>
      <th>Descrizione</th>
      <th>Numero giorni</th>
    </tr>
    #{list psDto.absenceCodeMap.entrySet()}
    <tr>
      <td>${_.getKey().code}</td>
      <td>${_.getKey().description}</td>
      <td>${_.getValue()}</td>
    </tr>
    #{/list}
  </table>
</div>
#{/ifnot}
#{if includeStampingDetails == true}
<h2 id="stampingsDetailsTitle">Dettagli Timbrature modificate dall'amministratore</h2>
<table>
  <tr>
    <th>&{'stamping'}</th>
    <th>&{'date.modified'}</th>
    <th>&{'history.type'}</th>
    <th>&{'done.by'}</th>
    <th>&{'stamping.way'}</th>
    <th>&{'stamping.stampType'}</th>
    <th>&{'stamping.note'}</th>
  </tr>

  #{list historyStampingsList,as:'stampHistory'}
  <tr>
    <td colspan="7" class="emptycell"></td>
  </tr>
  #{list stampHistory}
  <tr>
    <td>${_.value?.date.format()}</td>
    <td>${_.formattedRevisionDate()}</td>
    <td>&{_.type}</td>
    <td>${_.formattedOwner()}</td>
    <td>${_.value?.way.label()}</td>
    <td>${_.value?.stampType.label()}</td>
    <td>${_.value?.note}</td>
  </tr>
  #{/list}
  #{/list}
</table>

<p style="text-align: right;margin-top:6em;">
  AUTOCERTIFICAZIONE
  <br><br>
  Firma
  <br><br>
  _____________________________
</p>
#{/if}
</body>
</html>
