*{ _confirmed:
   _configuration
   _booleanNewValue
}*
  <!-- Parte sul primo step -->
  #{if !_confirmed}
    <!-- input period -->
    #{if configuration.epasParam.yearly }
      #{p.text 'configurationDto.validityYear', type:'number', value:_configurationDto.validityYear /}
      #{p.booleanRadio 'configurationDto.toTheEnd', value:_configurationDto.toTheEnd /}
    #{/if}
    #{if configuration.epasParam.periodic }
      #{p.date 'configurationDto.validityBegin', value:_configurationDto.validityBegin?.format(), required:true /}
	  #{p.date 'configurationDto.validityEnd', value:_configurationDto.validityEnd?.format() /}
    #{/if}
    
    <!-- input value -->
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.BOOLEAN) }
	  #{p.booleanRadio 'configurationDto.booleanNewValue', value:_configurationDto.booleanNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.INTEGER) }
	  #{p.text 'configurationDto.integerNewValue', type:'number', value:_configurationDto.integerNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.IP_LIST) }
	  #{p.textarea 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALDATE) }
	  #{p.date 'configurationDto.localdateNewValue', value:_configurationDto.localdateNewValue?.format() /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.EMAIL) }
	  #{p.text 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.DAY_MONTH) }
	  #{p.text 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.MONTH) }
	  #{p.text 'configurationDto.integerNewValue', value:_configurationDto.integerNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALTIME) }
	  #{p.text 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALTIME_INTERVAL) }
	  #{p.text 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue /}
	#{/if}
    
	
  #{/if}
  <!-- Parte sullo step di conferma -->
  #{else}
  
    <!-- input period -->
    #{if configuration.epasParam.yearly }
      #{f.simpleView 'configurationDto.validityYear', value:_configurationDto.validityYear, hidden:true /}
      #{f.simpleView 'configurationDto.toTheEnd', value:_configurationDto.toTheEnd, hidden:true /}
    #{/if}
    #{if configuration.epasParam.periodic }
      #{f.simpleView 'configurationDto.validityBegin', value:_configurationDto.validityBegin?.format(), hidden:true /}
      #{f.simpleView 'configurationDto.validityEnd', value:_configurationDto.validityEnd?.format(), hidden:true /}
    #{/if}

    <!-- input value -->
    #{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.BOOLEAN) }
	  #{f.simpleView 'configurationDto.booleanNewValue', value:_configurationDto.booleanNewValue, hidden:true /}
    #{/if}
    #{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.INTEGER) }
	  #{f.simpleView 'configurationDto.integerNewValue', value:_configurationDto.integerNewValue, hidden:true /}
	#{/if}
    #{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.IP_LIST) }
	  #{f.simpleView 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue, hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALDATE) }
	  #{f.simpleView 'configurationDto.localdateNewValue', value:_configurationDto.localdateNewValue.format(), hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.EMAIL) }
	  #{f.simpleView 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue, hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.DAY_MONTH) }
	  #{f.simpleView 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue, hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.MONTH) }
	  #{f.simpleView 'configurationDto.integerNewValue', value:_configurationDto.integerNewValue, hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALTIME) }
	  #{f.simpleView 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue, hidden:true /}
	#{/if}
	#{if _configuration.epasParam.epasParamValueType.equals(models.enumerate.EpasParam.EpasParamValueType.LOCALTIME_INTERVAL) }
	  #{f.simpleView 'configurationDto.stringNewValue', value:_configurationDto.stringNewValue, hidden:true /}
	#{/if}
		  
	  *{ vedi se ti vanno bene }*  		
	#{recomputeRecap.show recomputeRecap:recomputeRecap /}

  #{/else}