#{list items:psDto.contractMonths, as:'mese'} 

  #{if mese.contract.value.sourceDateResidual != null 
		&& mese.contract.value.sourceByAdmin == false}
		
<div class="panel panel-danger">
	<div class="panel-heading">
        <h3 class="panel-title">Attenzione</h3>
      </div>
    <div class="panel-body">
      I dati iniziali per il contratto con data inizio <strong>${mese.contract.value.beginDate}</strong>
      non sono ancora stati approvati dall'amministratore. <a href="@{Persons.edit(mese.contract.value.person.id)}">Dati del dipendente</a>
    </div>
</div>
		
  #{/if}		
#{/list}
