		#{f.select 'stampType'}
			<option></option>
			    %{ 
			    	firstStampTypeId = 1l
			    	<!--firstStampType = models.StampType.findById(firstStampTypeId) -->
			    }%
			    #{if firstStampType}
				<optgroup label="più comuni">
				    <!-- motivi di servizio -->
					<option value="${firstStampTypeId}">${firstStampType.label()}</option>
				</optgroup>
				#{/if}
				<optgroup label="tutte">
				  #{list templateUtility.allStampTypes}
				    <option value="${_.id}"#{if field.value?.id == _.id} selected#{/if}>${_.label()}</option>
				  #{/list}
			  </optgroup>
		#{/f.select}	
