#{list items:psDto.contractMonths, as:'mese'} 
 #{accordionGroup 'tickets'}
 
  #{accordionItem ('accordion_contract_meal'+mese.contract.value.id), parent:'tickets', 
                  title:'Situazione buoni pasto', open:true, color:'primary'} 
       #{if psDto.currentMonth}
	   	   <p><em>Il giorno attuale non è considerato nel conteggio dei buoni pasto utilizzati.</em></p>
   	   #{/if}
   	   <table class="table table-bordered table-condensed">
   	      #{if mese.value.buoniPastoDaInizializzazione > 0}
   	       <tr>
		    <td class="col-xs-10">Buoni pasto da inizializzazione</td>
		    <td class="col-xs-2 success">${mese.value.buoniPastoDaInizializzazione}</td>
		   </tr>
   	      #{/if}
   	      #{else}
   	       <tr>
		    <td class="col-xs-10">Buoni pasto rimanenti dal mese precedente</td>
		    <td class="col-xs-2 success">${mese.value.buoniPastoDalMesePrecedente}</td>
		   </tr>
   	      #{/else}
   	     
		  <tr>
		    <td class="col-xs-10">Buoni pasto consegnati nel mese</td>
		    <td class="col-xs-2 success">${mese.value.buoniPastoConsegnatiNelMese}</td>
		  </tr>
		  <tr>
				<td class="col-xs-10"> Buoni pasto utilizzati</td>
				<td class="col-xs-2 danger">${mese.value.buoniPastoUsatiNelMese}</td>
		  </tr>
		  <tr class="warning">
				<td class="col-xs-10">Buoni pasto rimanenti alla data di oggi</td>
				<td  class="col-xs-2"><strong>${mese.value.remainingMealTickets}</strong></td>
		  </tr>	
	    </table>
	  <!-- Vecchia gestione dei buoni pasto: capire cosa farne -->  
	  <!-- Il numero di buoni mensa usabili per questo mese è 
	  		<strong>${psDto.numberOfMealTicketToUse}</strong> <br> 
	  <p>Il numero di buoni mensa da restituire per questo mese è 
	  	<strong>${psDto.numberOfMealTicketToRender}</strong>
	   <p> -->
	  
	  <table class="table table-condensed table-bordered"> 
	 	<tr>
			<th width="80">Simbolo</th>
			<th width="400">Descrizione</th>
				
		</tr>
	    <tr>
		  <td><span class="glyphicon glyphicon-ban-circle"></span></td>
		  <td>Buono mensa non ottenuto</td>
		</tr>
		<tr>
		  <td><span class="glyphicon glyphicon-remove"></span></td>
		  <td>Buono mensa non ottenuto se si uscisse in questo momento</td>
		</tr>
		<tr>
		  <td><span class="glyphicon glyphicon-ok"></span></td>
		  <td>Buono mensa ottenuto se si uscisse in questo momento</td>
		</tr>
	  </table>

  #{/accordionItem}
  #{/accordionGroup}
#{/list}
  
  #{accordionGroup 'notes'}
  #{accordionItem 'accordion_notes', parent:'notes', 
                  title:'Legenda', open:false, color:'primary'} 
 
 	  #{if !psDto.stampModificationTypeSet.isEmpty() }
      <table class="table table-condensed table-bordered">
		<tr>
			<th width="80">Codice</th>
			<th width="400">Descrizione</th>
				
		</tr>
		#{list items:psDto.stampModificationTypeSet, as:'smt'}
		  <tr>
			<td>${smt.code}</td>     
			<td>${smt.description}</td>		
		  </tr>
		#{/list}
		
		#{list stampTypeList, as:'type'}
		  <tr>
			<td>${type.identifier}</td>
			<td>${type.description}</td>
		  </tr>
		#{/list}
	    </table>
       #{/if}
  #{/accordionItem}
  #{/accordionGroup}

  #{accordionGroup 'absenceRecap'}
  #{accordionItem 'accordion_absence', parent:'absenceRecap', 
                  title:'Riepilogo Assenze', open:false, color:'primary'} 
        <table class="table table-condensed table-bordered">
	      <tr>
		    <th width="80">Codice assenza</th>
		    <th width="200">Descrizione</th>
		    <th width="80">Numero giorni</th>
		  </tr>
		  #{list items:psDto.absenceCodeMap.entrySet(), as:'entry'}
		  <tr>
		    <td>${entry.getKey().code}</td>     
		    <td>${entry.getKey().description}</td>	
		    <td>${entry.getValue()}</td>	
	      </tr>
		  #{/list}
        </table>
  #{/accordionItem}
  #{/accordionGroup}