<div id="spiegazioneTabellaTimbrature">
	<p>
		Il numero di buoni mensa usabili per questo mese e': <strong>${numberOfMealTicketToUse}</strong>, mentre quelli da restituire sono <strong>${numberOfMealTicketToRender}</strong>. 
		Il numero di giorni lavorativi in sede è di: <strong>${personMonth.basedWorkingDays()}</strong> 
	</p>
	<p>Tempo disponibile per straordinari: <strong>${personMonth.tempoDisponibilePerStraordinari().toHourTime()}</strong></p>
	<p>Il numero di riposi compensativi usati fino ad oggi è: <strong>${numberOfCompensatoryRestUntilToday}</strong></p>
	<p>E' possibile utilizzare il residuo dell'anno precedente? <strong>${possibileUtilizzareResiduoAnnoPrecedente==true ? 'sì' : 'no'}</strong></p>
</div>

%{if (possibileUtilizzareResiduoAnnoPrecedente) { }%
<table class="table table-bordered table-condensed table-striped riepilogo-ore">
	<caption>Situazione residuo da anno precedente</caption>
	<tr>
		<td>Residuo da anno precedente disponibile all'inizio del mese</td>
		<td class="ore">${personMonth.residuoAnnoPrecedenteDisponibileAllInizioDelMese().toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td>Residuo da anno precedente utilizzato questo mese come riposo compensativo</td>
		<td class="ore">${personMonth.riposiCompensativiDaAnnoPrecedente.toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td>Residuo da anno precedente utilizzato questo mese come recupero ore</td>
		<td class="ore">${personMonth.recuperiOreDaAnnoPrecedente.toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td class="totale">Residuo da anno precedente disponibile alla fine del mese</td>
		<td class="ore totale">${personMonth.residuoAnnoPrecedenteDisponibileAllaFineDelMese().toHourTime()}</td>
	</tr>	
</table>
%{ } }%
 
<table class="table table-bordered table-condensed table-striped riepilogo-ore">
	<caption>Riepilogo delle ore di lavoro di questo anno</caption>
	<tr>
		<td>Residuo dai mesi precedenti</td>
		<td class="ore">${personMonth.totaleResiduoAnnoCorrenteAlMesePrecedente().toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td>Residuo del mese</td>
		<td class="ore">${residuoDelMese.toHourTimeWithPlus()}</td>
	</tr>

	%{if (possibileUtilizzareResiduoAnnoPrecedente) { }%
	<tr>
		<td>Ore recuperate dall'anno precedente (riposi compensativi + recupero ore)</td>
		<td class="ore">${(personMonth.totaleRecuperiDaAnnoPrecedente() * -1).toHourTimeWithPlus()}</td>
	</tr>
	%{ } }%

	%{if(personMonth.straordinari != 0) { }%
	<tr>
		<td>Straordinari</td>
		<td class="ore">${(personMonth.straordinari * -1).toHourTimeWithPlus()}</td>
	</tr>
	%{ } }%
	%{if(personMonth.riposiCompensativiDaAnnoCorrente != 0 ){ }%
	<tr>
		<td>Riposi compensativi</td>
		<td class="ore">${(personMonth.riposiCompensativiDaAnnoCorrente * -1).toHourTimeWithPlus()}</td>
	</tr>		
	%{ } }%
	<tr>
		<td class="totale">Residuo di questo anno a fine mese</td>
		<td class="ore totale">${personMonth.totaleResiduoAnnoCorrenteAFineMese().toHourTime()}</td>
	</tr>
</table>

<table class="table table-bordered table-condensed table-striped riepilogo-ore">
	<caption>Riepilogo generale delle ore di lavoro</caption>
	<tr>
		<td>Residuo da anno precedente</td>
		<td class="ore">${personMonth.residuoAnnoPrecedenteDisponibileAllaFineDelMese().toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td>Residuo di questo anno</td>
		<td class="ore">${personMonth.totaleResiduoAnnoCorrenteAFineMese().toHourTimeWithPlus()}</td>
	</tr>
	<tr>
		<td class="totale">Residuo ore ad oggi</td>
		<td class="ore totale">${personMonth.totaleResiduoAnnoCorrenteAFineMesePiuResiduoAnnoPrecedenteDisponibileAFineMese().toHourTime()}</td>
	</tr>
</table>


%{if(!stampModificationTypeList.isEmpty()) { }%

	<h3 style="margin-top: 2em">Note:</h3>
	<table id="Note timbrature">
		<tr>
			<th width="80">Codice timbratura</th>
			<th width="400">Descrizione</th>
				
		</tr>
		%{
	     for(smt in stampModificationTypeList) {
		}%
			<tr>
				<td>${smt.code}</td>     
				<td>${smt.description}</td>		
			</tr>
		
		%{  		   
	     }
	     
		}%
		%{
		for(type in stampTypeList) 
		{
		}%
			<tr>
				<td>${type.identifier}</td>
				<td>${type.description}</td>
			</tr>
		%{  		   
	    }
	    }%
	</table>
%{ } }%


*{Significato codici assenza}*
<h3 style="margin-top: 2em">Tabella codici di assenza</h3>
<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
		<th width="80">Numero giorni</th>
			
	</tr>
%{
     for(entry in personMonth.getAbsenceCode().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${entry.getValue()}</td>	
	</tr>

%{  		   
     }
     
}%
</table>