<ul class="nav nav-tabs">
  #{if personDay}
  <li#{if actionSelected == 'PersonDayHistory.personDayHistory'} class="active"#{/if}>
      <a href="@{PersonDayHistory.personDayHistory(personDay.id)}" data-async="#showDay">Storia Del Giorno</a>
  </li>
  #{secure.check 'Stampings.forceMealTicket'}
  <li#{if actionSelected == 'Stampings.forceMealTicket'} class="active"#{/if}>
    <a href="@{Stampings.forceMealTicket(personDay.id)}" data-async="#showDay">Buono Pasto</a>
  </li>
  #{/secure.check}
  #{/if}
  #{else}
      <li><a class="active">Storia Del Giorno</a></li>
  #{/else}
</ul>
<br>
