      <a href="#" popover-hover
         data-html="true"
         data-content="${(
	    		'Tempo Lavoro: <strong>'+dayRecap.workingTime+'</strong>'+
	    		'<br>Tempo lavoro per buono pasto: <strong>'+dayRecap.mealTicketTime+'</strong>'+
	    		'<br>Durata minima intervallo pranzo: <strong>'+dayRecap.breakTicketTime+'</strong>'+
	    		'<br>Finestra intervallo pranzo: <strong>'+dayRecap.timeMealFromTo+'</strong>'+' (estremi compresi)'+
	    		'<br>Finestra apertura/chiusura sede: <strong>'+dayRecap.workTimeFromTo+'</strong>'+' (estremi compresi)').escape()}"
         title="Info orario giornaliero">${dayRecap.workingTimeTypeDescription}</a>
