#{extends 'modal.html' /}
#{set modalHeader:'Nuova timbratura ' + personDay.date.format() + ' per ' + person.surname /}

<div class="container-fluid text-center">
#{form @Stampings.insert(), role:'form', autocomplete:'off'}
	
	<input type="hidden" name="personId" value="${personDay.person.id}"/>
	<input type="hidden" name="year" value="${personDay.date.year}"/>
	<input type="hidden" name="month" value="${personDay.date.monthOfYear}"/>
	<input type="hidden" name="day" value="${personDay.date.dayOfMonth}"/>
	
	<table class="table table-hover table-form">
		<tr>
			<td class="lab">
			  <a data-popover
	    		data-trigger="hover" data-toggle="popover" 
	    		data-placement="bottom"
	    		title="Formato richiesto 'HHMM' (HH ore, MM minuti)">Ore <i class="fa fa-clock-o fa-2"></i></a>
			</td>
			<td><input type="text" name="hourStamping" placeholder="HHMM"></td>
		</tr>
		
		<tr>
			<td class="lab">Tipologia</td>
			<td>	
			  <label for="in">Ingresso </label><input type="radio" name="type" value="true" checked id="in">
			  <label for="out">Uscita </label><input type="radio" name="type" value="false" id="out">
			</td>
		</tr>	
		<tr>	
			<td class="lab">Di Servizio</td>
			<td>
			  <label for="ser">Si</label><input type="radio" name="service" value="true" id="ser">
			  <label for="serNo">No</label><input type="radio" name="service" value="false" checked id="serNo">
			</td>
		</tr>	
		<tr>	
			<td class="lab">Note</td>
			<td><input type="text" name="note"></td>
		</tr>
	
	</table>
	
	<input class="btn btn-primary" type="submit" value="Inserisci"/>

#{/form}

</div>