#{extends 'main.html' /}
#{set title:personDay.person.surname + ' ' + personDay.person.name + ', matricola=' + personDay.person.number /}

<h3>Inserisci Entrata/Uscita del ${personDay.date}</h3>

Inserire ore e minuti nelle caselle seguenti nel formato HH.MM 
Lasciare la casella vuota per eliminare una entrata/uscita.

#{form @Stampings.insert()}
	

	<input type="hidden" name="personId" value="${personDay.person.id}"/>
	<input type="hidden" name="yearFrom" value="${personDay.date.year}"/>
	<input type="hidden" name="monthFrom" value="${personDay.date.monthOfYear}"/>
	<input type="hidden" name="dayFrom" value="${personDay.date.dayOfMonth}"/>
	<fieldset>
		<legend>Inserimento timbratura nel formato HH:MM</legend>
			<input type="text" name="hourStamping" value="${}" size="5" maxlength="5"/>
			<input type="text" name="minuteStamping" value="${}" size="5" maxlength="5"/>		
	</fieldset>
	
<input type="submit" value="Inserisci"/>
#{/form}

#{form @Stampings.discard()}
	<input type=reset value="Annulla">
#{/form}