#{extends 'main.html' /}
#{set title: personDay.person.surname + ' ' + personDay.person.name + ', matricola=' + personDay.person.number /}

<h3>Inserisci Entrata/Uscita del ${personDay.date}</h3>

Inserire ore e minuti nelle caselle seguenti nel formato HH.MM 
Lasciare la casella vuota per eliminare una entrata/uscita.

#{form @Stampings.insert()}
	

	<input type="hidden" name="personId" value="${personDay.person.id}"/>
	<input type="hidden" name="year" value="${personDay.date.year}"/>
	<input type="hidden" name="month" value="${personDay.date.monthOfYear}"/>
	<input type="hidden" name="day" value="${personDay.date.dayOfMonth}"/>
	<fieldset>
		<legend>Inserimento timbratura nel formato HH:MM</legend>
			Ore <input type="text" name="hourStamping" value="${hourStamping}" size="5" maxlength="5"/>
			Minuti <input type="text" name="minuteStamping" value="${minuteStamping}" size="5" maxlength="5"/>		
			<p id="tipoTimbratura">Tipologia di timbratura: </p> <p id="choice">Ingresso <input type="radio" name="type" value="true" /> Uscita <input type="radio" name="type" value="false"/></p>
			<p id="tipoTimbratura"> Timbratura di servizio: </p> <p id="choice"> Si <input type="radio" name="service" value="true" /> No <input type="radio" name="service" value="false" checked="checked"/></p>
			<p id="tipoTimbratura"> Forza l'orario di lavoro al tempo di lavoro previsto (non inserire valori nei campi ore e minuti): </p><p id="choice"> Si <input type="radio" name="timeAtWork" value="true" /> No <input type="radio" name="timeAtWork" value="false" checked="checked"/></p>
	</fieldset>
	
<div id="frm">	
<input id="submitStamping" type="submit" value="Inserisci"/>
#{/form}
#{form @Stampings.discard()}
<input id="discardStamping" type=reset value="Annulla">
#{/form}
</div>