#{extends 'main.html' /}

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h2 id="situazionePresenzaGiornaliera">Situazione presenze del giorno ${day} <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year}</h2>

<table id="tabellaPresenzaGiornaliera">
	<tr>
		<th rowspan="2">Nome</th>
		<th colspan="${maxNumberOfInOut+2}"></th>
		
	</tr>
	%{  for(col in tablePersonDailyPresence.columnKeySet()){
		}%
		<th>${col}</th>
	%{
		}
	}%
	%{  for(entry in tablePersonDailyPresence.rowMap().entrySet()){
		}%
	<tr>
		<td>${entry.getKey().name} ${entry.getKey().surname}</td>
		%{ for(col in tablePersonDailyPresence.columnKeySet()){
		}%
			<td>
			${entry.getValue().get(col)}
			
			</td>
		%{
		   }
		}%
	</tr>	
	%{
		}
	}%
</table>