#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Presenza Giornaliera'  /}

<div class="container">
  #{if office}
    #{title title:'Controllo presenze ' + office.name /}
  #{/if}
  #{else}
    #{title title:'Controllo presenze ' + date.format() /}
  #{/else}
</div>

#{if !groupView}
	#{stampings.presenceDashboardTabs activeAction:'dailyPresence' /}
#{/if}

<div class="container-fluid col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
   <div class="center">
   #{title title:date.format()/}
   </div>
	   <table id="tabellonetimbrature" class="table table-bordered table-condensed table-hover">
	      <tr>
			<th class="group-single">Nome</th>
			<th class="group-single">Assenza</th>
			<th class="group-single">Tempo<br>Lavoro</th>
			#{list items:1..numberOfInOut, as:'i'}
				<th class="group-left">${i}° entrata</th>
				<th class="group-right">${i}° uscita</th>
			#{/list}
			<th class="group-single">Buono<br>Mensa</th>
		  </tr>
	
	    
	    
		#{list items:daysRecap, as:'dayRecap'}
		%{
		  person = dayRecap.personDay.person;
		  link = false;
		}%
		<tr>
			<td class="default-single">
			<a href="@{Stampings.personStamping(dayRecap.personDay.person.id,date.getYear(),date.getMonthOfYear())}">${dayRecap.personDay.person.fullname}</a>
			</td>
			
			#{include './personStampingComponents/_absencesTemplate.html' /}
			
			<td class="default-single">${dayRecap.personDay.timeAtWork.printHourMinute()}</td>
			
			#{include './personStampingComponents/_stampingsTemplate.html' /}
		    
		    #{include './personStampingComponents/_mealTicketsTemplate.html' /}
			
		</tr>	
		#{/list}
	  </table>
</div>
