

<div class="modal-header center">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Modifica timbratura ${stamping.personDay.date.format()} per ${stamping.personDay.person.surname}</h4>
</div>

<!-- Start Body -->
<div class="modal-body">

<div class="container-fluid text-center">
#{form @Stampings.update(), role:'form'}
	
	<input type="hidden" name="stampingId" value="${stamping.id}"/>
		
	<table class="table table-hover table-form">
		<tr>
			<td class="lab">
			  Ore <i class="fa fa-clock-o fa-2"></i>
			</td>
			<td>
			    <input type="text" name="stampingHour" value="${hour}" class="input-sm">
			    <input type="text" name="stampingMinute" value="${minute}" class="input-sm">
			</td>
		</tr>
		
		<tr>	
			<td class="lab">Di Servizio</td>
			<td>
			  #{if stamping.isServiceStamping() }
			    <label for="ser">Si</label><input type="radio" name="service" value="true" checked id="ser">
			    <label for="serNo">No</label><input type="radio" name="service" value="false" id="serNo">
			  #{/if}
			  #{else}
			    <label for="ser">Si</label><input type="radio" name="service" value="true" id="ser">
			    <label for="serNo">No</label><input type="radio" name="service" value="false" checked id="serNo">
			  #{/else}
			</td>
		</tr>	
		<tr>	
			<td class="lab">Note</td>
			<td><input type="text" name="note" value="${stamping.note}"></td>
		</tr>
	
	</table>
	
	<input class="btn btn-primary" type="submit" value="Aggiorna"/>
	
	<input class="btn btn-danger pull-right" type="submit" name="elimina" value="Elimina timbratura"/>

#{/form}

</div>

</div>

 