<div class="modal-header center">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Modifica timbratura ${stamping.personDay.date.format()} per ${stamping.personDay.person.surname} <i class="fa fa-clock-o"></i></h4>
</div>

<!-- Start Body -->
<div class="modal-body">
    <div class="container-fluid text-center">
	#{form @Stampings.update(), class:'form-horizontal'}

        <input type="hidden" name="stamping.id" value="${stamping.id}"/>

        #{f.input 'stampingHour',value:stamping.date.getHourOfDay(), type:'number', class:'input-sm'/}
        #{f.input 'stampingMinute', value:stamping.date.getMinuteOfHour(), type:'number', class:'input-sm' /}

		#{f.booleanRadio 'stampingWay', true:'Ingresso', false:'Uscita' /}

		#{f.select 'stamping.stampType'}
			<option></option>
				<optgroup label="più comuni">
				    <!-- motivi di servizio -->
					<option value="1">${models.StampType.findById(1l).label()}</option>
				</optgroup>
				<optgroup label="tutte">
				  #{list templateUtility.allStampTypes}
				    <option value="${_.id}"#{if field.value?.id == _.id} selected#{/if}>${_.label()}</option>
				  #{/list}
			  </optgroup>
		#{/f.select}	
		
		#{f.input 'stamping.note' /}

        <input class="btn btn-primary col-xs-6 col-xs-offset-3 margin-bottom" type="submit" value="Aggiorna"/>

        <a href="@{Stampings.delete(stamping.id)}" class="btn btn-danger col-xs-4 col-xs-offset-4 margin-top-3">
            <i class="fa fa-trash-o"> Elimina timbratura</i>
        </a>


	#{/form}

    </div>
</div>

