#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Presenza festiva'  /}

<div class="container-fluid center col-md-6 col-md-offset-3">
 
  <table class="table table-hover table-striped">
  
   <tr>
    <th>Persona</th>
	<th>Totali</th>
	<th>Approvate</th>
	<th>Non Approvate</th>
   </tr>
	
   #{list items:personList, as:'person'}
    <tr>
    <td>
     <a data-toggle="modal" href="@{Stampings.personHolidaySituation(person.value.id, year)}" data-target=".my-modal">
		${person.value.fullname}
	 </a>
    </td>
    #{if person.totalHolidayWorkingTime(year) > 0}
    <td>${person.totalHolidayWorkingTime(year).toHourTime()}</td>    
    <td class="success">${person.totalHolidayWorkingTimeAccepted(year).toHourTime()}</td>
    <td class="danger">${ (person.totalHolidayWorkingTime(year) - person.totalHolidayWorkingTimeAccepted(year)).toHourTime()}</td>
    #{/if}
    #{else}
    <td></td>
    <td></td>
    <td></td>
    #{/else}
    </tr>  
   #{/list}
  </table>      
 
</div>

 #{include '_myModal.html' /}
