#{modalAsync id:'modalStamping', title:('Inserisci timbratura del ' + date.format() + ' per ' + person.fullname)}


	#{tabList}
		#{secure.check 'Stampings.save'}
  			#{tabItem id:'insert', title:'Inserisci timbratura', active:true /}
  		#{/secure.check}
  		#{secure.check 'Stampings.saveOffSite'}
  			#{tabItem id:'insertOffsite', title:'Fuori sede' /}
  		#{/secure.check}    
	#{/tabList}


<br>


#{tabContent}

  <!-- Inserimento / Modifica Timbratura -->
  #{tabContentItem id:'insert', active: insertNormal || autocertification}
	<div id="stampingData">
	
	  #{form action:@save(), method:'POST', autocomplete:false, 'data-async':'#page_content',
	    class:'form form-horizontal', 'data-async-error':'#stampingData', 'data-spinner':'#defaultSpinner'}
	
	  <!-- Alert message -->
	 
	  #{alert color:'info',center:true}
	    Inserisci i dati della nuova timbratura
	  #{/alert}
	 
	
	  <!-- Fields -->
	  #{include './personStampingComponents/_coreStampings.html' /}
	
	  #{set stampTypes: templateUtility.stampTypes /}
	  #{if stampTypes.size() == 1}
	    #{f.view messages.get('stamping.stampType'), value: stampTypes[0]/}
	    #{f.hidden 'stamping.stampType', value:stampTypes[0] /}
	  #{/if}
	  #{else}
	    #{f.selectEnum 'stamping.stampType', items:stampTypes /}
	  #{/else}
	  #{if !zones.isEmpty()}
	  	#{f.selectModel 'zone', items:zones, required:true, getLabel:true /}
	  #{/if}
	
	  #{f.input 'stamping.note' /}

      <!-- Buttons -->	
	  #{b.buttons center:true}
	     #{b.submit 'Inserisci'/}
	  #{/b.buttons}
	
	  #{/form}
	 
	</div>
  #{/tabContentItem}
  
  #{tabContentItem id:'insertOffsite', active: insertOffsite}
  <div id="stampingDataOffSite">
  	#{form action:@saveOffSite(), method:'POST', autocomplete:false, 'data-async':'#page_content',
	    class:'form form-horizontal', 'data-async-error':'#stampingDataOffSite', 'data-spinner':'#defaultSpinner'}
	   #{if autocertification}	
	   #{alert color:'warning',center:true}
	      <p>Il sottoscritto <strong>DICHIARA</strong> di essere consapevole delle sanzioni penali previste dall'art. 76 
	      del D.P.R. n.445/2000 nel caso di dichiarazioni mendaci e di falsità negli atti ed a conoscenza che i dati 
	      forniti con autocertificazione saranno soggetti ad eventuale controllo da parte dell'Amministrazione, 
	      ai sensi degli articoli 46 e 47 del D.P.R. n.445/2000.</p>
	   #{/alert}
	   #{/if}
	   #{else}
	   #{alert color:'warning',center:true}
	   Inserisci i dati per la timbratura fuori sede.
	   #{/alert}
	   #{/else}
	   #{include './personStampingComponents/_coreStampings.html' /}
	   #{f.view messages.get('stamping.stampType'), value: offsite[0]/}
	   #{f.hidden 'stamping.stampType', value:offsite[0] /}	   
	   #{f.input 'stamping.place', required:true /}
	   #{f.input 'stamping.reason', required:true /}
	   #{f.input 'stamping.note' /}	
	      <!-- Buttons -->	
	  #{b.buttons center:true}
	     #{b.submit 'Inserisci'/}
	  #{/b.buttons}
	
	#{/form}
	</div>
  #{/tabContentItem}  
  

#{/tabContent}

#{/modalAsync}
