#{extends 'main.html' /}
#{set title:personDay.person.surname + ' ' + personDay.person.name + ', matricola=' + personDay.person.number /}

<h3>Modifica Entrate/Uscite del ${personDay.date}</h3>

Inserire ore e minuti nelle caselle seguenti nel formato HH.MM 
Lasciare la casella vuota per eliminare una entrata/uscita.
{form @save()}
<table>
	<tr>
		<th>1^entrata</th>
		<th>1^uscita</th>
		<th>2^entrata</th>
		<th>2^uscita</th>
		<th>3^entrata</th>
		<th>3^uscita</th>
		<th>4^entrata</th>
		<th>4^uscita</th>		
	</tr>
	<tr>
		<td><input name="personDay.getStampings().get(0)" type="text" value="${personDay.getStampings().get(0).date.toCalendarTime() != null ? personDay.getStampings().get(0).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(1)" type="text" value="${personDay.getStampings().get(1).date.toCalendarTime() != null ? personDay.getStampings().get(1).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(2)" type="text" value="${personDay.getStampings().get(2).date.toCalendarTime() != null ? personDay.getStampings().get(2).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(3)" type="text" value="${personDay.getStampings().get(3).date.toCalendarTime() != null ? personDay.getStampings().get(3).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(4)" type="text" value="${personDay.getStampings().get(4).date.toCalendarTime() != null ? personDay.getStampings().get(4).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(5)" type="text" value="${personDay.getStampings().get(5).date.toCalendarTime() != null ? personDay.getStampings().get(5).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(6)" type="text" value="${personDay.getStampings().get(6).date.toCalendarTime() != null ? personDay.getStampings().get(6).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
		<td><input name="personDay.getStampings().get(7)" type="text" value="${personDay.getStampings().get(7).date.toCalendarTime() != null ? personDay.getStampings().get(7).date.toCalendarTime() : ''}" size="20" maxlength="100" /></td>
	</tr>
</table>

<input type="submit" value="ok" />
#{/form}
<input type=reset value="Annulla">
