#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /}
<div class="container">
<h2 id="titoloRiepilogoBuoniMensa">Riepilogo buoni mensa di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year}</h2>
<div class="span10">
<table class="table table-bordered" id="tabellaRiepilogoBuoniMensa">
	<tr>
		<th rowspan="2">Nome</th>
		<th colspan="${numberOfDays}">Giorni</th>
	</tr>
	%{  for(col in tablePersonTicket.columnKeySet()){
		}%
		<th>${col.getDayOfMonth()}</th>
	%{
		}
	}%
	%{  for(entry in tablePersonTicket.rowMap().entrySet()){
		}%
	<tr>
		<td class="nomeCognome">${entry.getKey().surname} ${entry.getKey().name}</td>
		%{ for(col in tablePersonTicket.columnKeySet()){
		}%
			<td><abbr title="${col}" class="initialism">${entry.getValue().get(col)}</abbr></td>
		%{
		   }
		}%
	</tr>
	%{
	   }
	}%
	
</table>
</div>
</div>