#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Riepilogo Buoni Mensa'  /}

<div class="container-fluid">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Riepilogo buoni mensa &{'views.tags.display.date.month.' + month} ${year} </h3>
    </div>
    <div class="panel-body">

	    <div class="col-xs-5">
          #{form action:@Stampings.mealTicketSituation(), class:'form-search',  
          method:'GET', autocomplete:'off',
          'data-reload':'#results'}
    
            <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="input-medium search-query"/>
            <i class="icon-search icon-large"></i>
            <input type="hidden" name="year" value="${year}"/>
	        <input type="hidden" name="month" value="${month}"/>
          #{/form}
         </div>

        <section id="results">

          <div class="col-xs-7">
            <ul class="pagination">
              #{if simpleResults.totalPage > 0}
	  	          #{list items:0..simpleResults.totalPage-1, as:'indexPage', class:'inline'}
	  	            #{if simpleResults.page==indexPage}
	  	              <li class="active"><a href="#">${indexPage+1}</a></li>
	  	            #{/if}
	  	            #{else}
	  	              <li><a href="@{Stampings.mealTicketSituation(year, month, name, indexPage)}">${indexPage+1}</a></li>
	  	            #{/else}
	  	          #{/list}
	  	       #{/if}
	           #{else}
	             <br>
	           #{/else}    
            </ul>
		  </div>

	      <div class="col-xs-12">
		  <table class="table table-hover center">
			<tr>
				<th rowspan="2" class="warning">Nome</th>
				<th colspan="${numberOfDays}" class="success">Giorni</th>
			</tr>
			
			#{list items:tablePersonTicket.columnKeySet(), as:'head'}
			   <th>${head.getDayOfMonth()}</th>
			#{/list}
			
			#{list items:tablePersonTicket.rowMap().entrySet(), as:'row'}
			  <tr>
				<td class="caratteristica">${row.getKey().surname} ${row.getKey().name}</td>
				
				#{list items:tablePersonTicket.columnKeySet(), as:'day'}
				  <td>
				      #{if row.getValue().get(day).equals("si")}
				        <a href="#" data-toggle="tooltip" title="${day}">SI</a>
				      #{/if}
				      #{if row.getValue().get(day).equals("siAd")}
				        <a href="#" data-toggle="tooltip" title="${day}">SIA</a>
				      #{/if}
				      #{if row.getValue().get(day).equals("noAd")}
				        <a href="#" data-toggle="tooltip" title="${day}">NOA</a>
				      #{/if}
				  </td>
				#{/list}
			  </tr>
			#{/list}
			
		
			
		 </table>
		 </div>
	  </section>
    </div>
  </div>	<!-- end panel -->
  
</div>
