#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h2 id="titoloControllaTimbratureMancanti">Controllo delle timbrature mancanti di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year}</h2>

<table id="tabellaTimbratureMancanti">
	<tr>
		<th>Nome</th>
		<th>No assenze e timbrature</th>
		<th>Timbrature disaccoppiate</th>
		<th>Timbrature disaccoppiate persone autocertificate</th>
	</tr>
	
	#{list items:missingStampings, as:'personMissingStampings'}
	<tr>
		<td><a href="@{Stampings.personStamping(personMissingStampings.person.id,year,month)}">${personMissingStampings.person.surname} ${personMissingStampings.person.name}</a></td>
		
		<td>
			${personMissingStampings.troublesNoAbsenceNoStampings}
	    </td>
	    <td>
			${personMissingStampings.troublesUncoupledStampings}
	    </td>
	    <td>
			${personMissingStampings.troublesAutoFixed}
	    </td>
	#{/list}
	</tr>
</table>