#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h2 id="titoloControllaTimbratureMancanti">Controllo delle timbrature mancanti di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year}</h2>
%{if(dbConsistentControl==true){
}%
Warning: il database ha riscontrato errori, contattare gli amministratori. Potrebbero esistere ulteriori timbrature mancanti non visualizzate in questo report.
%{
}
}%
<table id="tabellaTimbratureMancanti">
	<tr>
		<th>Nome</th>
		%{ for(col in tableMissingStampings.columnKeySet()){
		}%
		<th>${col}</th>
		%{
		}
		}%	
		
	</tr>
	%{ for(entry in tableMissingStampings.rowMap().entrySet()){
	}%
	<tr>
		<td>${entry.getKey().surname} ${entry.getKey().name}</td>
		%{ for(col in tableMissingStampings.columnKeySet()){
		}%
		<td>
			${entry.getValue().get(col).toString()} 
		</td>
		%{
		}
		}%
	</tr>
	%{
	}
	}%
</table>