#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Timbrature'  /}

#{set 'moreStyles'}
  #{include './personStampingComponents/_personStampingStyle.html' /}
#{/set}

<div class="col-xs-12 col-lg-8">
  <table id="tabellonetimbrature" class="table table-bordered table-condensed">


    <tr>
      <th class="group-single">Giorno</th>
      <th class="group-single">Buono<br>pasto</th>
      <th class="invisible"></th>

      <th class="group-single">Codice <br>assenza</th>

      #{list items:1..psDto.numberOfInOut, as:'i'}
      <th class="group-left">${i}<sup>a</sup> <br/>entrata</th>
      <th class="group-right">${i}<sup>a</sup> <br/>uscita</th>
      #{/list}
      
      #{if showLink || showLinkForEmployee}
      <th class="group-single">Inserisci<br>timbratura</th>
	  #{/if}

      <th class="invisible"></th>

      <th class="group-single">Tempo<br>lavoro</th>
      <th class="group-single">Diffe-<br/>renza</th>
      <th class="group-single">Progres-<br/>sivo</th>
      <th class="group-single">Tipo<br>Orario</th>
      <th class="group-single">Note</th>
    </tr>


    #{list items:psDto.daysRecap, as:'dayRecap'}

	    <tr#{if dayRecap.ignoreDay} class="ignore_day"#{/if}>
	    
	    <td class="${dayRecap.personDay.holiday ? 'festivi' : 'capitalized'} default-single">
	    #{if dayRecap.firstDay }<i class="fa fa-flag-checkered" aria-hidden="true" popover-hover data-content="&{'firstDay'}"></i>#{/if}
	    #{if showLink}
	      
	      #{secure.link @PersonDayHistory.personDayHistory(dayRecap.personDay.id), modal:'#defaultModal'} 
	      *{ #{secure.link @Stampings.forceMealTicket(dayRecap.personDay.id), modal:'#defaultModal'} }*
	      ${dayRecap.personDay.date.shortDayName()}
	      #{/secure.link}
	    #{/if}
	    #{else}
	      ${dayRecap.personDay.date.shortDayName()}
	    #{/else}
	    </td>
	    
	    #{include './personStampingComponents/_mealTicketsTemplate.html' /}
	
	    <td class="invisible"></td>
	
	    #{include './personStampingComponents/_absencesTemplate.html' /}
	
	    #{include './personStampingComponents/_stampingsTemplate.html' /}
	   
	    <td class="invisible"></td>
	
	    #{include './personStampingComponents/_workTimeDifferenceProgressive.html' /}

		  #{include './personStampingComponents/_workingTimeTypePopover.html' /}
	    
	    <td class="default-single note">
	      #{if dayRecap.note.size != 0}
	
	      <a href="#" class="btn btn-small note" popover-hover
	         data-html="true"
	         data-content="${('<ul><li>'+dayRecap.note.join('</li><li>')+'</li></ul>').escape()}"
	         title="Info timbrature">Info</a>
	
	      #{/if}
	    </td>
	
	    </tr>
    #{/list}
  </table>
</div>

<div id="riepiloghi">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 left">
    
    #{include './personStampingComponents/_alerts.html' /}
    #{include './personStampingComponents/_contractsRecap.html' /}
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 right">
    #{include './personStampingComponents/_notes.html' /}
  </div>
</div>


<div id="modalStamping" class="modal fade container" tabindex="-1"></div>

<div id="modalAbsence" class="modal fade container" tabindex="-1"></div>


