#{extends 'main_admin.html' /}
#{set title:personMonth.person.surname + ' ' + personMonth.person.name + ', matricola=' + personMonth.person.number /}

<h2 id="titoloSituazionePresenzeMensili">
	Situazione presenze mensile 
	<span class="capitalized">&{'views.tags.display.date.month.' + personMonth.month}</span> ${personMonth.year} 
	di ${personMonth.person.surname} ${personMonth.person.name}</h2>

#{functionalMenuForm mainMenu: mainMenu /}

<table id="presenze_mensili">
	<tr>
		<th>Buono mensa</th>
		<th>Giorno</th>
		<th>Codice di assenza</th>
		%{ for(int i = 1; i <= numberOfInOut; i++){
		}%
		<th>${i}° entrata</th>
		<th>${i}° uscita</th>
		%{ } }%
		<th>Inserisci timbratura</th>
		<th>Tempo lavoro</th>
		<th>Differenza</th>
		<th>Progressivo</th>
		<th>Tipo Orario</th>
		<th>Note</th>
	</tr>
	
%{
     for(day in personMonth.days) {
     		
			
}%
		
<tr>
			%{
			if(day.isHoliday()==false){
			}%	<td>${String.format(messages.get('views.common.yes_or_no.'+ day.mealTicket()))}</td>
			%{
			}else{
			}%	<td>${String.format(messages.get('views.common.yes_or_no.true'))}</td>
			%{
			}
			}%
			%{
			if(day.isHoliday()==false){
			}%	<td class="capitalized">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), day.date.toDate())}</td>
			
			%{
			}else{
			}%	<td class="festivi">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), day.date.toDate())}</td>
			%{
			}
			}%
		
			<td class="assenza">
				
					<a href="@{Absences.create(day.person.id, day.date.year, day.date.monthOfYear, day.date.dayOfMonth)}" class="insertAbsence${day.date.dayOfMonth}">___</a>
				%{	
					for (absence in day.absences) { 
				%}
						<a href="@{Absences.edit(absence.id)}" class="insertAbsence${day.date.dayOfMonth}">
							${absence.absenceType.code}
						</a>
										
				%{ } }%
				
				<script type="text/javascript"> 
				$('.insertAbsence${day.date.dayOfMonth}').popupWindow({ 
				height:600, 
				width:1000,
				scrollbars:1,
				resizable:0,
				top:50, 
				left:50 
				}); 
				</script>			
			</td>

			%{  int j = 0;
				for(int i = 0; i < numberOfInOut; i++){
					j = i*2;
				}%
				<td class="ingresso">
				%{ if(day.getStampingsForTemplate().size() > j && day.getStampingsForTemplate().get(j) !=null) { }%
					<a href="@{Stampings.edit(day.getStampingsForTemplate().get(j).id)}" class="insertStamping${day.date.dayOfMonth}-${j}">
					${day.getStampingsForTemplate().get(j).date.toCalendarTime()}
					</a>
				 
				<strong>${(day.getStampingsForTemplate().get(j).stampType?.identifier)}</strong>
				<script type="text/javascript"> 
				$('.insertStamping${day.date.dayOfMonth}-${j}').popupWindow({ 
				height:600, 
				width:800,
				scrollbars:1,
				resizable:0,
				top:50, 
				left:50 
				}); 
				</script>
					%{ if(day.stampings.get(j).markedByAdmin == true){ 
					}%
					  	<strong>${day.checkMarkedByAdmin().code}</strong>
					%{
						}
						if(day.getStampingsForTemplate().get(j).stampModificationType != null){
						}%
							<strong>${day.checkMissingExitStampBeforeMidnight() != null ? day.checkMissingExitStampBeforeMidnight().code : ''}</strong>
					%{ 
						}
					}else{
				}% 
					
					${' '}
					
				%{
					}
				}%
					
				</td>
				
				<td class="uscita">
				%{ if(day.getStampingsForTemplate().size() > j+1 && day.getStampingsForTemplate().get(j+1) !=null) { }%
					<a href="@{Stampings.edit(day.getStampingsForTemplate().get(j+1).id)}" class="insertStamping${day.date.dayOfMonth}-${j+1}">
					${day.getStampingsForTemplate().get(j+1).date.toCalendarTime()}
					</a>
					
					<strong>${(day.getStampingsForTemplate().get(j+1).stampType?.identifier)}</strong> 
				<script type="text/javascript"> 
				$('.insertStamping${day.date.dayOfMonth}-${j+1}').popupWindow({ 
				height:600, 
				width:800, 
				scrollbars:1,
				resizable:0,
				top:50, 
				left:50 
				}); 
				</script>
					%{ 	if(day.getStampingsForTemplate().get(j+1).markedByAdmin == true){ 
					}%
					  	<strong>${day.checkMarkedByAdmin().code}</strong>
					%{
						} 
						if(day.getStampingsForTemplate().get(j+1).stampModificationType != null){
						}%
							<strong>${day.checkMissingExitStampBeforeMidnight() != null ? day.checkMissingExitStampBeforeMidnight().code : ''}</strong>
					%{
					}
					}	else{
					}% 
					
					${' '}
					
					%{
						}
					}%
				</td>
			
				%{ } }%
			<td class="inserisciTimbratura"><a href="@{Stampings.create(day.person.id, day.date.year, day.date.monthOfYear, day.date.dayOfMonth)}" class="insertStamping${day.date.dayOfMonth}">+++</a>
				<script type="text/javascript"> 
				$('.insertStamping${day.date.dayOfMonth}').popupWindow({ 
				height:600, 
				width:800,
				scrollbars:1,
				resizable:0,
				top:50, 
				left:50
				}); 
				</script>
			</td>
				<td class="tempoLavoro">
			%{
	         	if(!day.isFuture()){
	         	
	         }%
	         %{
					if(day.isToday()){
				}%
						${day.getTimeAtWorkWithToday().timeAtWork.toHourTime()}<strong>${day.getTodayLunchTime()?.code}</strong><strong>${day.getTimeAtWorkWithToday().exitingNow ? 'f' : ''}</strong>
						
	        	%{ 
		  			} 
		  			else{
		  		}%
		  				${day.getTimeAtWorkWithToday().timeAtWork.toHourTime()}<strong>${day.checkTimeForLunch()?.code}</strong><strong>${day.getFixedWorkingTime() != null && !day.isHoliday() ? day.getFixedWorkingTime().code : ''}</strong>
		  				
		  		%{
		  			}
		  			
		  		}
		  	}%
		  		
		  		 	
		  	</td>							
	       <td class="differenza">
	       	 %{
	       	 	if(day.isToday() && day.absences.size() == 0){
	       	 }%
	       	 		${day.differenceToday().toHourTime()}
	       	 %{
	       	 	}
	       	 }%
	       	 %{
	       	 	if(day.isToday() && day.absences.size() != 0){
	       	 }%
	       	 		${(day.difference).toHourTime()}
	       	 %{
	       	 	}
	       	 }%
	         %{
	         	if(!day.isFuture() && !day.isToday()){
	         }%
	         	
	         	%{
	        		if(day.isHoliday()==false || day.stampings.size() != 0){
				}%
						${(day.difference).toHourTime()}
				%{ 
		  		    } else {
		  		 }%
		  		 		${'00:00'}
				 %{
				    }
				 }%
		    %{
		        }
		     }%
		     
			</td>	
			 <td class="progressivo">
			 %{
			 	if(day.isToday() && day.absences.size() == 0){
			 }%
			 		${day.progressiveToday().toHourTime()}
			 %{
			 	}
			 }%
			 %{
	       	 	if(day.isToday() && day.absences.size() != 0){
	       	 }%
	       	 		${(day.progressive).toHourTime()}
	       	 %{
	       	 	}
	       	 }%
			%{
			    if(!day.isFuture() && !day.isToday()) {
			}%
			     
				%{
				    if(day.isHoliday()==false) {
				 }%
	  			      ${day.progressive.toHourTime()}
		  		 %{ 
		  		    } else {
		  		  }%
				      ${day.checkPreviousProgressive() != null ? day.checkPreviousProgressive().progressive.toHourTime() : '00:00'}
				  %{
				    }
				  }%
		    %{
		        }
		     }%
		    	
			</td>
	         <td>${day.person.workingTimeType != null ? day.person.workingTimeType.description : ''}</td>
	         <td></td>
		</tr>

%{  		   
     }
     
}%

</table>



<p id="spiegazioneTabellaTimbrature">Il numero di buoni mensa usabili per questo mese e': <strong>${personMonth.numberOfMealTicketToUse()}</strong>, mentre quelli da restituire sono <strong>${personMonth.numberOfMealTicketToRender()}</strong>. Il numero di giorni lavorativi in sede è di: <strong>${personMonth.basedWorkingDays()}</strong> </p>

<p> - Il numero di riposi compensativi usati fino ad oggi è: ${numberOfCompensatoryRestUntilToday}</p>
<p>Riepilogo delle ore di lavoro in eccesso/difetto:</p> 
<p> - E' possibile utilizzare il residuo dell'anno precedente? ${personMonth.possibileUtilizzareResiduoAnnoPrecedente()==true ? 'sì' : 'no'}</p>
%{if(personMonth.residuoAnnoPrecedenteDaInizializzazione() != 0){
}%
<p> - Eventuale residuo da inizializzazione: ${personMonth.residuoAnnoPrecedenteDaInizializzazione().toHourTime()}</p>
%{
}
}%
%{if(personMonth.straordinari != 0){
}%
<p> - Straordinari: ${personMonth.straordinari / 60} ore</p>
%{
}
}%
%{if(personMonth.residuoAnnoPrecedenteDisponibileAllInizioDelMese() != 0){
}%
<p> - Residuo anno precedente disponibile a inizio mese: ${personMonth.residuoAnnoPrecedenteDisponibileAllInizioDelMese().toHourTime()}</p>
%{
}
}%
<p> - Residuo tempo di lavoro dei mesi precedenti: ${(situazioneParziale).toHourTime()}</p> 
<p> - Residuo del mese:  ${personMonth.residuoDelMese().toHourTime()}</p>
%{if(personMonth.person.qualification != null && personMonth.person.qualification.qualification > 3){
}%
<p> - Tempo disponibile per straordinari: ${personMonth.tempoDisponibilePerStraordinari().toHourTime()}</p>
%{
}
}%
<p> - Totale residuo anno corrente a fine mese:  ${personMonth.totaleResiduoAnnoCorrenteAFineMese().toHourTime()}</p>
%{if(personMonth.getCompensatoryRest() != 0 ){
}%
<p> - Giorni di riposo compensativo: ${personMonth.getCompensatoryRest()} per un totale di: -${personMonth.getCompensatoryRestInMinutes().toHourTime()} ore</p>
%{
}
}%<p> - Totale residuo a fine mese  <strong>${personMonth.totaleResiduoAnnoCorrenteAFineMesePiuResiduoAnnoPrecedenteDisponibileAFineMese().toHourTime()} ore</strong></p>


<div>
<h3 align="left">Note:</h3>
<table id="Note timbrature">
	<tr>
		<th width="80">Codice timbratura</th>
		<th width="400">Descrizione</th>
			
	</tr>
%{
     for(smt in personMonth.getStampingCode()) {
}%
	<tr>
		<td>${smt.code}</td>     
		<td>${smt.description}</td>		
	</tr>
	
%{  		   
     }
     
}%
%{	if(personMonth.getStampType() != null){
	for(type in personMonth.getStampType()) {
}%
	<tr>
		<td>${type.identifier}</td>
		<td>${type.description}</td>
	</tr>
%{  		   
     }
    }
}%
</table>
*{Significato codici assenza}*
<br>
<br>
<h3 align="left">Tabella codici di assenza</h3>
<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
		<th width="80">Numero giorni</th>
			
	</tr>
%{
     for(entry in personMonth.getAbsenceCode().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${entry.getValue()}</td>	
	</tr>

%{  		   
     }
     
}%
</table>
</div>