#{extends 'main_admin_no_menu.html' /}
#{set title:person.surname + ' ' + person.name + ', matricola=' + person.number /}
#{set titolo: 'Situazione presenze mensile ' +  month_capitalized + ' ' + year + ' di ' + person.surname + ' ' + person.name /}

<div class="row-fluid first-row">
  <div class="span8" style="min-width: 900px;">
    <table id="tabellonetimbrature" class="table table-bordered table-condensed">
      <tr>
		<th>Buono<br>mensa</th>
		<th>Giorno</th>
		<th>Codice di<br>assenza</th>
		#{list items:1..numberOfInOut, as:'i'}
			<th>${i}° entrata</th>
			<th>${i}° uscita</th>
		#{/list}
		<th>Inserisci<br>timbratura</th>
		<th>Tempo<br>lavoro</th>
		<th>Differenza</th>
		<th>Progressivo</th>
		<th>Tipo<br>Orario</th>
		<th>Note</th>
	  </tr>
	  
	  #{list items:daysRecap, as:'dayRecap'}
	  <tr>
	    <td>
		#{if dayRecap.mealTicket.equals("NO")}
		  <i class="icon-remove"></i>
		#{/if} 
		</td>
			
		#{if dayRecap.holiday==false}
		  <td class="capitalized">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
		#{/if}
		#{else}
		  <td class="festivi">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
		#{/else}
		
		<td class="assenza">
		  <a data-toggle="modal" data-backdrop="true" href="@{Absences.create(dayRecap.person.id, dayRecap.date.year, dayRecap.date.monthOfYear, dayRecap.date.dayOfMonth)}" data-target="#myModal1">___</a>
		  #{list items:dayRecap.absences, as:'absence'}
		    <a data-toggle="modal" href="@{Absences.edit(absence.id)}" data-target="#myModal1">
			  ${absence.absenceType.code}
			</a>
		  #{/list}	
		</td>
		
		#{list items:dayRecap.stampingsTemplate, as:'stampingTemplate'}
		  #{if stampingTemplate.colour.equals("in")}
			<td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} ">
		  #{/if}
		  #{elseif stampingTemplate.colour.equals("out")}
		    <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} ">
		  #{/elseif}
		  #{elseif stampingTemplate.colour.equals("warn")}
		    <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} warn">
	      #{/elseif}
					
		  #{if stampingTemplate.date!=null}
		    <a data-toggle="modal" href="@{Stampings.edit(stampingTemplate.stampingId)}" data-target="#myModal2">
			  ${stampingTemplate.hour}
			</a>
		  #{/if}
		  #{elseif stampingTemplate.pairPosition.equals("center")}
		    <abbr title="Timbratura di servizio mancante" class="initialism"><i class="icon-warning-sign"></i></abbr>
		  #{/elseif}

		  #{ifnot stampingTemplate.identifier.equals("")}
			<strong>${stampingTemplate.identifier}</strong>
		  #{/ifnot}	
		  #{ifnot stampingTemplate.markedByAdminCode.equals("")}
			<strong>${stampingTemplate.markedByAdminCode}</strong>
		  #{/ifnot}	
		  #{ifnot stampingTemplate.missingExitStampBeforeMidnightCode.equals("")}
			<strong>${stampingTemplate.missingExitStampBeforeMidnightCode}</strong>
		  #{/ifnot}	
		  <!--  ${stampingTemplate.pairId}${stampingTemplate.pairPosition}  -->		
		  </td>
	    #{/list}
	    <td class="inserisciTimbratura">
		    <a data-toggle="modal" data-backdrop="true" href="@{Stampings.create(dayRecap.person.id, dayRecap.date.year, dayRecap.date.monthOfYear, dayRecap.date.dayOfMonth)}" data-target="#myModal2">
		      +++
		    </a>
		</td>
	    <td class="tempoLavoro">
		  ${dayRecap.workTime}
		  #{ifnot dayRecap.todayLunchTimeCode.equals("")}
		    <strong>${dayRecap.todayLunchTimeCode}</strong>
		  #{/ifnot}
		  #{ifnot dayRecap.fixedWorkingTimeCode.equals("")}
		  	<strong>${dayRecap.fixedWorkingTimeCode}</strong>
		  #{/ifnot}	
		  #{ifnot dayRecap.exitingNowCode.equals("")}
		    <strong>${dayRecap.exitingNowCode}</strong>
		  #{/ifnot}
		</td>	
			
		#{if dayRecap.differenceNegative}
		  <td class="differenza" style="color: red;">${dayRecap.difference}</td>
		#{/if}
		#{else}
		  <td class="differenza">&nbsp;${dayRecap.difference}</td>
		#{/else}
			
		#{if dayRecap.progressiveNegative}
		  <td class="progressivo" style="color: red;">${dayRecap.progressive}</td>
		#{/if}
		#{else}
		  <td class="progressivo">&nbsp;${dayRecap.progressive}</td>
		#{/else}
												
	    <td>${dayRecap.workingTimeTypeDescription}</td>
	    <td>
	    #{if dayRecap.note.size != 0}
	    
	    	<a href="#" class="btn btn-small" data-popover
	    		data-trigger="hover" data-toggle="popover" 
	    		data-placement="right"
	    		data-html="true"
	    		data-content="${('<ul><li>'+dayRecap.note.join('</li><li>')+'</li></ul>').escape()}"
	    		title="Info timbrature">Info</a>    
	    
	    #{/if}
	    </td>
		
	  </tr>
	  #{/list}
    </table>
  </div>
  <div class="span4">
     #{include './_riepilogoRiassuntivoMese.html' /}
  </div>
</div>


<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Inserimento/modifica assenza</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--   <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
 


<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Inserimento/modifica timbratura</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <!--   <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
