#{extends 'main.html' /}
#{set title:monthRecap.person.surname /}

<table>
	<tr>
		<th>Buono mensa</th>
		<th>Giorno</th>
		<th>Codice di assenza</th>
		<th>1° entrata</th>
		<th>1° uscita</th>
		<th>2° entrata</th>
		<th>2° uscita</th>
		<th>tempo</th>
		<th>differ.</th>
		<th>progress</th>
		<th>tipo orario</th>
	</tr>
	
%{
     for(day in monthRecap.days) {
}%
		<tr>
			<td>${day.mealTicket()}</td>
			<td>${day.date}</td>
			<td>
				%{for (absenceType in day.absenceList()) {
					absenceType.code
				  }
				}%
			</td>
			<td>${day.getStampings().size()>0 ? day.getStampings().get(0) : ''}</td>
			<td>${day.getStampings().size()>1 ? day.getStampings().get(1) : ''}</td>
			<td>${day.getStampings().size()>2 ? day.getStampings().get(2) : ''}</td>
			<td>${day.getStampings().size()>3 ? day.getStampings().get(3) : ''}</td>
			<td>${day.timeAtWork()/60} ore e ${day.timeAtWork()%60} minuti</td>
			<td>${day.getDifference()}</td>			
			<td>${day.progressive()}</td>
			<td>${day.getWorkingTimeType().description}</td>
		</tr>
%{  		   
     }
     
}%

*{Significato codici assenza}*
</table>