#{extends 'main.html' /}
#{set title:monthRecap.person.surname + ' ' + monthRecap.person.name + ', matricola=' + monthRecap.person.number /}

<h2 align="center">Situazione presenze mensile <span class="capitalized">&{'views.tags.display.date.month.' + monthRecap.month}</span> ${monthRecap.year}</h2>

<div>
	<select name="Anno">
		<option value="2011">2011</option> 
		<option value="2012">2012</option> 
		<option value="2013">2013</option> 

	</select>

	<select name="mese">
		<option value="Gennaio">Gennaio</option> 
		<option value="Febbraio">Febbraio</option> 
		<option value="Marzo">Marzo</option> 
		<option value="Aprile">Aprile</option>
		<option value="Maggio">Maggio</option> 
		<option value="Giugno">Giugno</option> 
		<option value="Luglio">Luglio</option> 
		<option value="Agosto">Agosto</option> 
		<option value="Settembre">Settembre</option> 
		<option value="Ottobre">Ottobre</option> 
		<option value="Novembre">Novembre</option> 
		<option value="Dicembre">Dicembre</option> 

	</select>
	
	<input type="submit" value="Submit" onclick="monthRecap.byPersonAndYearAndMonth(person, Anno, mese )">
</div>
<br>
<br>


<table id="presenze_mensili">
	<tr>
		<th width="5%">Buono mensa</th>
		<th>Giorno</th>
		<th width="80">Codice di assenza</th>
		<th>1° entrata</th>
		<th>1° uscita</th>
		<th>2° entrata</th>
		<th>2° uscita</th>
		<th>tempo</th>
		<th>differ.</th>
		<th>progress</th>
		<th>tipo orario</th>
	</tr>
	
%{
     for(day in monthRecap.days) {
}%
		<tr>
			<td>${String.format(messages.get('views.common.yes_or_no.'+ day.mealTicket()))}</td>
			<td class="capitalized">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), day.date.toDate())}</td>
			<td>${day.absenceList().size()>0  ? day.absenceList().get(0).absenceType.code : ''}</td>
			<td>${day.getStampings().size()>0 && day.getStampings().size()==2 ? day.getStampings().get(0).date.toCalendarTime() : ''}</td>
			<td>${day.getStampings().size()>1 ? day.getStampings().get(1).date.toCalendarTime() : ''}</td>
			<td>${day.getStampings().size()>2 ? day.getStampings().get(2).date.toCalendarTime() : ''}</td>
			<td>${day.getStampings().size()>3 ? day.getStampings().get(3).date.toCalendarTime() : ''}</td>
			<td>${String.format("%02d", (day.timeAtWork()/60).toInteger())}:${day.timeAtWork()%60 } <b>${day.getStampings().size()==2 ? day.checkTimeForLunch(day.getStampings()).code : ''}</b></td>
			<td>${day.difference} </td>
			<td>${monthRecap.getProgressive(day.difference)} minuti</td>			
			<td>${day.person.workingTimeType != null ? day.person.workingTimeType.description : ''}</td>
		</tr>


%{  		   
     }
     
}%

</table>

*{Significato codici assenza}*
<div>
<h3 align="left">Note:</h3>
<table id="Note timbrature">
	<tr>
		<th width="80">Codice timbratura</th>
		<th width="400">Descrizione</th>
			
	</tr>

	<tr>
		<td>${monthRecap.getCodiceTimbratura(monthRecap.days).code}</td>     
		<td>${monthRecap.getCodiceTimbratura(monthRecap.days).description}</td>		
	</tr>


</table>

<br>
<br>
<h3 align="left">Tabella codici di assenza</h3>
<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
			
	</tr>

	<tr>
		<td>${monthRecap.getCodiceAssenza(monthRecap.days).absenceType.code}</td>     
		<td>${monthRecap.getCodiceAssenza(monthRecap.days).absenceType.description}</td>		
	</tr>


</table>
</div>