#{extends 'main.html' /}
#{set title:personMonth.person.surname + ' ' + personMonth.person.name + ', matricola=' + personMonth.person.number /}

<h2 id="titoloSituazionePresenzeMensili">Situazione presenze mensile <span class="capitalized">&{'views.tags.display.date.month.' + personMonth.month}</span> ${personMonth.year}</h2>


#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 
<input type="hidden" name="personId" value="${personMonth.person.id}"  />
<table id="presenze_mensili">
	<tr>
		<th>Buono mensa</th>
		<th>Giorno</th>
		<th>Codice di assenza</th>
		%{ for(int i = 1; i <= numberOfInOut; i++){
		}%
		<th>${i}° entrata</th>
		<th>${i}° uscita</th>
		%{ } }%
		<th>Tempo lavoro</th>
		<th>Differenza</th>
		<th>Progressivo</th>
		<th>Tipo Orario</th>
		<th>Note</th>
	</tr>
	
	%{
     for(dayRecap in daysRecap) {
     		
			
	}%
		
	<tr>
			<td>${dayRecap.mealTicket}</td>
			%{
			if(dayRecap.holiday==false)
			{
			}%	
				<td class="capitalized">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
			%{
			}
			else
			{
			}%	
				<td class="festivi">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
			%{
			}
			}%
		
			<td class="assenza">
				%{	
				for (absence in dayRecap.absences) 
				{ 
				%}
				 	${absence.absenceType.code}
				 %{
				 }
				 }%
			</td>


			%{  
			for(stampingTemplate in dayRecap.stampingsTemplate){
			}%
			%{
					if(stampingTemplate.colour.equals("in"))
					{
					}%
						<td class="ingresso">
					%{
					}
					else if (stampingTemplate.colour.equals("out"))
					{
					}%
						<td class="uscita">
					%{
					}
					else if (stampingTemplate.colour.equals("warn"))
					{
					}%
						<td class="warn">
					%{
					}
				}%
				%{ if(stampingTemplate.date!=null) 
				{ 
				}%
					${stampingTemplate.hour}
				 %{
				 }
				 }%
				 
				<strong>${stampingTemplate.identifier}</strong>
				<strong>${stampingTemplate.markedByAdminCode}</strong>
				<strong>${stampingTemplate.missingExitStampBeforeMidnightCode}</strong>

				</td>
			
			%{ 
			} 
			}%
			<td class="tempoLavoro">
				${dayRecap.workTime}
				<strong>${dayRecap.todayLunchTimeCode}</strong>
				<strong>${dayRecap.fixedWorkingTimeCode}</strong>
				<strong>${dayRecap.exitingNowCode}</strong>
			</td>							
	       	<td class="differenza">
	       		${dayRecap.difference}
	       	</td>	
			<td class="progressivo">
			 	${dayRecap.progressive}
		    </td>
	        
	        <td>${dayRecap.workingTimeTypeDescription}</td>
	        <td>
	    	%{
    		for(n in dayRecap.note) 
    		{
			}%
	       		${n}<br>
	        %{
	        }
	        }%
	        </td>
	        
	</tr>

	%{  		   
 	}
   
	}%

</table>

<p id="spiegazioneTabellaTimbrature">Il numero di buoni mensa usabili per questo mese e': <strong>${personMonth.numberOfMealTicketToUse()}</strong>, mentre quelli da restituire sono <strong>${personMonth.numberOfMealTicketToRender()}</strong>. Il numero di giorni lavorativi in sede è di: <strong>${personMonth.basedWorkingDays()}</strong> </p>

<p> - Il numero di riposi compensativi usati fino ad oggi è: ${personMonth.numberOfCompensatoryRestUntilToday()}</p>
<p>Riepilogo delle ore di lavoro in eccesso/difetto:</p> 
<p> - E' possibile utilizzare il residuo dell'anno precedente? ${personMonth.possibileUtilizzareResiduoAnnoPrecedente()==true ? 'sì' : 'no'}</p>
%{if(personMonth.residuoAnnoPrecedenteDaInizializzazione() != 0){
}%
<p> - Eventuale residuo da inizializzazione: ${personMonth.residuoAnnoPrecedenteDaInizializzazione().toHourTime()}</p>
%{
}
}%
%{if(personMonth.straordinari != 0){
}%
<p> - Straordinari: ${personMonth.straordinari / 60} ore</p>
%{
}
}%
%{if(personMonth.residuoAnnoPrecedenteDisponibileAllInizioDelMese() != 0){
}%
<p> - Residuo anno precedente disponibile a inizio mese: ${personMonth.residuoAnnoPrecedenteDisponibileAllInizioDelMese().toHourTime()}</p>
%{
}
}%
<p> - Residuo tempo di lavoro dei mesi precedenti: ${(situazioneParziale).toHourTime()}</p> 
<p> - Residuo del mese:  ${personMonth.residuoDelMese().toHourTime()}</p>
%{if(personMonth.person.qualification.qualification > 3){
}%
<p> - Tempo disponibile per straordinari: ${personMonth.tempoDisponibilePerStraordinari().toHourTime()}</p>
%{
}
}%
<p> - Totale residuo anno corrente a fine mese:  ${personMonth.totaleResiduoAnnoCorrenteAFineMese().toHourTime()}</p>
%{if(personMonth.getCompensatoryRest() != 0 ){
}%
<p> - Giorni di riposo compensativo: ${personMonth.getCompensatoryRest()} per un totale di: -${personMonth.getCompensatoryRestInMinutes().toHourTime()} ore</p>
%{
}
}%
<p> - Totale residuo a fine mese  <strong>${totaleResiduo.toHourTime()} ore</strong></p>


*{Significato codici assenza}*
<div>
<h3 align="left">Note:</h3>
<table id="Note timbrature">
	<tr>
		<th width="80">Codice timbratura</th>
		<th width="400">Descrizione</th>
			
	</tr>
	%{
     for(smt in stampModificationTypeList) {
	}%
		<tr>
			<td>${smt.code}</td>     
			<td>${smt.description}</td>		
		</tr>
	
	%{  		   
     }
     
	}%
	%{
	for(type in stampTypeList) 
	{
	}%
		<tr>
			<td>${type.identifier}</td>
			<td>${type.description}</td>
		</tr>
	%{  		   
    }
    }%
</table>

<br>
<br>
<h3 align="left">Tabella codici di assenza</h3>
<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
		<th width="80">Numero giorni</th>
			
	</tr>
%{
     for(entry in personMonth.getAbsenceCode().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${entry.getValue()}</td>	
	</tr>

%{  		   
     }
     
}%
</table>
</div>