#{extends 'main_admin_no_menu.html' /}
#{set title:person.surname + ' ' + person.name + ', matricola=' + person.number /}
#{set titolo: 'Situazione presenze mensile ' +  month_capitalized + ' ' + year + ' di ' + person.surname + ' ' + person.name /}

<div class="row-fluid">
  <div class="span8" style="min-width: 900px;">
    <table id="tabellonetimbrature" class="table table-bordered table-condensed">

	<tr>
		<th class="group-single">Giorno</th>
		<th class="group-single">Buono<br>mensa</th>
		
		<th class="invisible"></th>
		
		<th class="group-single">Codice <br>assenza</th>
		
		
		
		#{list items:1..numberOfInOut, as:'i'}
			<th class="group-left">${i}<sup>a</sup> <br/>entrata</th>
			<th class="group-right">${i}<sup>a</sup> <br/>uscita</th>
		#{/list}
		
		<th class="invisible"></th>
		
		<th class="group-single">Tempo<br>lavoro</th>
		<th class="group-single">Diffe-</div><br/>renza</th>
		<th class="group-single">Progres-<br/>sivo</th>		
		<th class="group-single">Tipo<br>Orario</th>
		<th class="group-single">Note</th>
	</tr>
	
	#{list items:daysRecap, as:'dayRecap'}
	<tr>
     		#{if dayRecap.holiday==false}
				<td class="capitalized default-single">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
			#{/if}
			#{else}
				<td class="festivi default-single">${String.format(messages.get('views.tags.display.date.format.dayAndShortDayName'), dayRecap.date.toDate())}</td>
			#{/else}

            <td class="default-single">
			#{if dayRecap.mealTicket.equals("NO")}
			  <i class="icon-ban-circle"></i>
			#{/if} 
			#{if dayRecap.mealTicket.equals("NOT_YET")}
			  <i class="icon-remove"></i>
			#{/if} 
			#{if dayRecap.mealTicket.equals("YES")}
			  <i class="icon-ok"></i>
			#{/if} 
			</td>

			<td class="invisible"></td>

			<td class="assenza default-single">
				#{list items:dayRecap.absences, as:'absence'}
				 	${absence.absenceType.code}
				 #{/list}	
			</td>
			
			
	       
			#{list items:dayRecap.stampingsTemplate, as:'stampingTemplate'}
				#{if stampingTemplate.colour.equals("in")}
				  <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} default-left">
				#{/if}
				#{elseif stampingTemplate.colour.equals("out")}
				  <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} default-right">
				#{/elseif}
				#{elseif stampingTemplate.colour.equals("warn")}
				  <td class="position${stampingTemplate.pairPosition} pair${stampingTemplate.pairId} warn">
				#{/elseif}
					
				#{if stampingTemplate.date!=null}
				  ${stampingTemplate.hour}
				#{/if}
				#{elseif stampingTemplate.pairPosition.equals("center")}
				    <abbr title="Timbratura di servizio mancante" class="initialism"><i class="icon-warning-sign"></i></abbr>
				#{/elseif}

				#{ifnot stampingTemplate.identifier.equals("")}
					<strong>${stampingTemplate.identifier}</strong>
				#{/ifnot}	
				#{ifnot stampingTemplate.markedByAdminCode.equals("")}
					<strong>${stampingTemplate.markedByAdminCode}</strong>
				#{/ifnot}	
				#{ifnot stampingTemplate.missingExitStampBeforeMidnightCode.equals("")}
					<strong>${stampingTemplate.missingExitStampBeforeMidnightCode}</strong>
				#{/ifnot}	
				<!--  ${stampingTemplate.pairId}${stampingTemplate.pairPosition}  -->		
				</td>
			
			#{/list}
			
			<td class="invisible"></td>
	       			
			<td class="tempoLavoro default-single">
				${dayRecap.workTime}
				#{ifnot dayRecap.todayLunchTimeCode.equals("")}
					<strong>${dayRecap.todayLunchTimeCode}</strong>
				#{/ifnot}
				#{ifnot dayRecap.fixedWorkingTimeCode.equals("")}
					<strong>${dayRecap.fixedWorkingTimeCode}</strong>
				#{/ifnot}	
				#{ifnot dayRecap.exitingNowCode.equals("")}
					<strong>${dayRecap.exitingNowCode}</strong>
				#{/ifnot}
			</td>	
			
			#{if dayRecap.differenceNegative}
			  <td class="differenza default-single" style="color: red;">${dayRecap.difference}</td>
			#{/if}
			#{else}
				<td class="differenza default-single">&nbsp;${dayRecap.difference}</td>
			#{/else}
			
			#{if dayRecap.progressiveNegative}
			  <td class="progressivo default-single" style="color: red;">${dayRecap.progressive}</td>
			#{/if}
			#{else}
			  <td class="progressivo default-single">&nbsp;${dayRecap.progressive}</td>
			#{/else}
												
		
	        
	        <td class="default-single">${dayRecap.workingTimeTypeDescription}</td>
	        <td class="default-single">
	        #{list items:dayRecap.note, as:'n'}
	        	<!--  ${n}<br> -->
	        #{/list}
	    	</td>
	</tr>
	#{/list}

    </table>

  </div>
  <div class="span4">
     #{include './_riepilogoRiassuntivoMese.html' /}
  </div>
</div>



