#{extends 'main.html' /}
#{set title:yearRecap.person.surname + ' ' + yearRecap.person.name + ', matricola=' + yearRecap.person.number /}

<h2 id="titoloSituazioneAssenzeAnnuali">Situazione assenze per l'anno ${yearRecap.year}</h2>

<div id="logout">
#{form @Application.logout()}
	
    	<input type="submit" value="Account logout" />
     

#{/form}
</div>

<div id="chooseView">
#{form @SwitchTemplate.dispatch()}

#{select 'menuItem', value:menuItem}
	#{option 'yearlyAbsences'}Assenze Annuali#{/option}
	#{option 'absences'}Assenze Mensili#{/option}
	#{option 'stampings'}Timbrature#{/option}
	#{option 'vacations'}Ferie#{/option}
	#{option 'competences'}Competenze e Straordinari#{/option}	
#{/select}
    	<input type="submit" value="go!" />
     

#{/form}
</div>

<div align="left">
#{form @YearlyAbsences.show()}

#{select 'year', value:yearRecap.year, id:'anno'}
	#{option 2011}2011#{/option}
	#{option 2012}2012#{/option}
	#{option 2013}2013#{/option}
#{/select}

	
		<input type="submit" value="Submit">
#{/form}

</div>

<table id="assenze_annuali">

	<tr>
		<th>Mese</th>
		%{
			int i =1;
			while(i<=31){
		}%
		<th class="giorni">${i}</th>
		%{
			i++;}
		}%

	</tr>
	
	%{
		for(mese in yearRecap.months){
	}%
	<tr>
		
		<td>${mese.toString()}</td>
		%{
			int j=1;
			while(j <= yearRecap.maxNumberOfDays(yearRecap.year, mese)){
		}%
		<td>${yearRecap.getAbsenceInYear(yearRecap.year,mese,j).size() > 0 ? yearRecap.getAbsenceInYear(yearRecap.year,mese,j).get(0).absenceType.code : ''}</td>
		%{
			j++;}
		}%

	</tr>
		%{
			}
		}%
</table>

<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
					
	</tr>
%{
     for(entry in yearRecap.getYearlyAbsence().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		
	</tr>

%{  		   
     }
     
}%
</table>
