#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div id="container-fluid-nav-tabs" class="container-fluid">

<ul class="nav nav-tabs">
  <li class="active"><a href="@{YearlyAbsences.showGeneralMonthlyAbsences(year, month)}">Assenze Mensili</a></li>
  <li><a href="@{YearlyAbsences.yearlyAbsences(session.get("personSelected"), year)}">Assenze Annuali</a></li>
  <li><a href="@{Absences.manageAttachmentsPerCode(year, month)}">Gestione Allegati Per Codice</a></li>
  <li><a href="@{Absences.manageAttachmentsPerPerson(session.get("personSelected"), year, month)}">Allegati Per Persona</a></li>
  <li><a href="@{Absences.absenceInPeriod()}">Assenze in periodo</a></li>
</ul>

</div>

<div class="container-fluid">
  
      <p>  <h3 class="panel-title text-center">Situazione assenze &{'views.tags.display.date.month.' + month} ${year} </h3></p>

  		  <table class="table table-striped table-bordered table-condensed" datatable width="100%">
  		    <thead>
				<tr>
					<th>Nome</th>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
					#{if !col.code.equals("Totale") }
						<th><abbr title="${col.code} ${col.description}" class="initialism">${col.code}</abbr></th>
					#{/if}
					#{/list}
					<th>Totale<br>giorni</th>
				</tr>
			</thead>
            <tfoot>
            	<tr>
					<th>Nome</th>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
					#{if !col.code.equals("Totale") }
						<th><abbr title="${col.code} ${col.description}" class="initialism">${col.code}</abbr></th>
					#{/if}
					#{/list}				    
					<th>Totale<br>giorni</th>
				</tr>
            </tfoot>
 
            <tbody>
            	#{list tableMonthlyAbsences.rowMap().entrySet(),as:'entry'}
				<tr>
					<td class="warning">${entry.getKey().name} ${entry.getKey().surname}</td>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
						<td data-order="${entry.getValue().get(col)}">
						 	<a href="@{YearlyAbsences.showPersonMonthlyAbsences(entry.getKey().id, year, month, col.code)}" data-modal=".my-modal">
						 	${entry.getValue().get(col)}							
							</a>
						</td>
					#{/list}
				</tr>	
				#{/list}	
			</tbody>	
	      </table>
</div>   

#{include '_myModal.html' /}


