#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div id="container-fluid-nav-tabs" class="container-fluid">

<ul class="nav nav-tabs">
  <li class="active"><a href="@{YearlyAbsences.showGeneralMonthlyAbsences(year, month)}">Assenze Mensili</a></li>
  <li><a href="@{YearlyAbsences.yearlyAbsences(session.get("personSelected"), year)}">Assenze Annuali</a></li>
  <li><a href="@{Absences.manageAttachmentsPerCode(year, month)}">Gestione Allegati Per Codice</a></li>
  <li><a href="@{Absences.manageAttachmentsPerPerson(session.get("personSelected"), year, month)}">Allegati Per Persona</a></li>
  <li><a href="@{Absences.absenceInPeriod()}">Assenze in periodo</a></li>
</ul>

</div>

<div class="container-fluid">
  
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Situazione assenze &{'views.tags.display.date.month.' + month} ${year} </h3>
      </div>
      <div class="panel-body">
      
          <div class="col-xs-5">
			#{form action:@YearlyAbsences.showGeneralMonthlyAbsences(), class:'form', 
			    method:'GET', autocomplete:'off',
			    'data-reload':'#results'}
			    
			    <input type="text" name="name" placeholder="Nome o cognome" value="${name}"class="input-medium search-query"/>
			    <input type="hidden" name="year" value="${year}"/>
				<input type="hidden" name="month" value="${month}"/>
			#{/form}
         </div>


		 <section id="results">

          <div class="col-xs-7">
            <ul class="pagination">
  	        #{list items:0..simpleResults.totalPage-1, as:'indexPage', class:'inline'}
  	          #{if simpleResults.page==indexPage}
  	            <li class="active"><a href="#">${indexPage+1}</a></li>
  	          #{/if}
  	          #{else}
  	            <li><a href="@{YearlyAbsences.showGeneralMonthlyAbsences(year, month, name, indexPage)}">${indexPage+1}</a></li>
  	          #{/else}
	        #{/list}
            </ul>
		  </div>

  		  <div class="col-xs-12 center">
  		  <table class="table table-condensed table-hover">
				<tr>
					<th rowspan="2" class="col-xs-2">Nome</th>
					<th colspan="${numberOfDifferentAbsenceType-1}">Codici di assenza</th>
					<th rowspan="2">Totale<br>giorni</th>
				</tr>
				<tr>
				%{  
				for(col in tableMonthlyAbsences.columnKeySet()){
				}%
				    #{if !col.code.equals("Totale") }
					<th><abbr title="${col.code} ${col.description}" class="initialism">${col.code}</abbr></th>
					#{/if}
					
				%{
				}
				}%
				</tr>
				
				%{  
				for(entry in tableMonthlyAbsences.rowMap().entrySet()){
				}%
				<tr>
					<td class="warning">${entry.getKey().name} ${entry.getKey().surname}</td>
					%{ 
					for(col in tableMonthlyAbsences.columnKeySet()){
					}%
						<td>
						 	<a href="@{YearlyAbsences.showPersonMonthlyAbsences(entry.getKey().id, year, month, col.code)}" data-modal=".my-modal">
						 	${entry.getValue().get(col)}							
							</a>
						</td>
					%{
					 }
					 }%
				</tr>	
				%{
				}
				}%
			</table>
		  </div>
		  </section>
	 </div>
   </div>
   
</div>   

#{include '_myModal.html' /}


