#{extends 'main.html' /}
#{set title:yearRecap.person.surname + ' ' + yearRecap.person.name + ', matricola=' + yearRecap.person.number /}

<h2 id="titoloSituazioneAssenzeAnnuali">Situazione assenze per l'anno ${yearRecap.year} di ${yearRecap.person.name} ${yearRecap.person.surname}</h2>

#{logoutForm /}

#{employeesForm mainMenu: mainMenu /}

<table id="assenze_annuali">

	<tr>
		<th>Mese</th>
		%{
			int i =1;
			while(i<=31){
		}%
		<th class="giorni">${i}</th>
		%{
			i++;}
		}%

	</tr>
	
	%{
		for(mese in yearRecap.getMonths()){
	}%
	<tr>
		
		<td>${mese.toString()}</td>
                %{
                  int j=1;
                  while(j <= yearRecap.maxNumberOfDays(yearRecap.year, mese)){
                }%

		<td>${yearRecap.getAbsenceInYear(yearRecap.year,mese,j).size() > 0 ? yearRecap.getAbsenceInYear(yearRecap.year,mese,j).get(0).absenceType.code : ''}</td>
                %{
                 j++;}
                }%
	</tr>
		%{
			}
		}%
</table>

<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
					
	</tr>
%{
     for(entry in yearRecap.getYearlyAbsence().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		
	</tr>

%{  		   
     }
     
}%
</table>
