#{extends 'main.html' /}
#{set title:monthRecap.person.surname + ' ' + monthRecap.person.name + ', matricola=' + monthRecap.person.number /}

<h2 id="titoloSituazioneAssenzeAnnuali">Situazione assenze per l'anno ${monthRecap.year}</h2>

<div id="logout">
#{form @Application.logout()}
	
    	<input type="submit" value="Account logout" />
     

#{/form}
</div>
<div align="left">
#{form @Absences.show()}

#{select 'year', value:monthRecap.year, id:'anno'}
	#{option 2011}2011#{/option}
	#{option 2012}2012#{/option}
	#{option 2013}2013#{/option}
#{/select}

	
		<input type="submit" value="Submit">
#{/form}

</div>

<table id="assenze_annuali">

	<tr>
		<th>Mese</th>
		%{
			int i =1;
			while(i<=31){
		}%
		<th>${i}</th>
		%{
			i++;}
		}%

	</tr>
	
	%{
		for(mese in monthRecap.months){
	}%
	<tr>
		
		<td>${mese.toString()}</td>
		%{
			int j=1;
			while(j<=31){
		}%
		<td></td>
		%{
			j++;}
		}%

	</tr>
		%{
			}
		}%
</table>