#{extends 'main_with_navbar.html' /}
#{set titolo: 'Situazione assenze per anno ' + yearlyAbsencesRecap.year + ' di ' + yearlyAbsencesRecap.person.name + ' ' +yearlyAbsencesRecap.person.surname /}
<br> 
<div class="container" style="{text-align: center}">
<div class="span12">
<table class="table table-bordered table-hover table-condensed table-yearly-absence" id="assenze_annuali">

	<!--  Riga di intestazione -->
	<tr>
		<th rowspan="2">Mese</th>
		<th colspan="31">Giorni</th>
	</tr>
		
		#{list items:1..31, as: 'i'}
		  <th class="bolded centered">${i}</th>
		#{/list}
		
		
	<!-- Contenuto tabella assenze annuali -->
	#{list items:yearlyAbsencesRecap.absenceTable.rowMap(), as: 'month'}
	<tr>
		
		<td class="month">${yearlyAbsencesRecap.fromIntToStringMonth( month.getKey() )}</td>
		#{list items:yearlyAbsencesRecap.absenceTable.columnKeySet(), as: 'col'}
		  <td>${month.getValue().get(col)}</td>
        #{/list}
	</tr>
    #{/list}
</table>
</div>

<table class="table table-bordered table-hover table-condensed table-yearly-absence span6">
	<tr>
		<th>Codice assenza</th>
		<th>Descrizione</th>
		<th>Totale</th>			
	</tr>
	#{list items:yearlyAbsencesRecap.absenceSummary.entrySet(), as: 'entry'}
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${entry.getValue()}</td>
	</tr>
    #{/list}
	<tr>
		<td>TOTALE</td>
		<td></td>
		<td>${yearlyAbsencesRecap.totalAbsence}</td>
	</tr>
</table>
</div>

