#{extends 'main.html' /}
#{set title:yearRecap.person.surname + ' ' + yearRecap.person.name + ', matricola=' + yearRecap.person.number /}

<h2 id="titoloSituazioneAssenzeAnnuali">Situazione assenze per l'anno ${yearRecap.year} di ${yearRecap.person.name} ${yearRecap.person.surname}</h2>

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<table id="assenze_annuali">

	<tr>
		<th rowspan="2">Mese</th>
		<th class="giorni"colspan="31">Giorni</th>
		</tr>
		%{
			int i =1;
			while(i<=31){
		}%
		
		<th class="giorni">${i}</th>
		%{
			i++;}
		}%

	
	
	%{
		for(mese in yearRecap.getMonths()){
	}%
	<tr>
		
		<td class="mese"><span class="capitalized">${mese}</span></td>
                %{
                  int j=1;
                  while(j <= yearRecap.maxNumberOfDays(yearRecap.year, mese)){
                  
                }%

		<td class="giornoAssenza">${yearRecap.getAbsenceInYear(yearRecap.year,mese,j).size() > 0 ? yearRecap.getAbsenceInYear(yearRecap.year,mese,j).get(0).absenceType.code : ''}</td>
		
                %{
                 j++;}
                }%
	</tr>
		%{
			}
		}%
</table>

<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
		<th width="20">Totale</th>			
	</tr>
%{
     for(entry in yearRecap.getYearlyAbsence().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${yearRecap.totalDaysHourOfAbsenceCode(yearRecap.person, yearRecap.year, entry.getKey().code)}</td>
	</tr>

%{  		   
     }
     
}%
	<tr>
		<td>TOTALE</td>
		<td></td>
		<td>${yearRecap.totalOfAllAbsences(yearRecap.person, yearRecap.year, yearRecap.getYearlyAbsence().keySet())}</td>
	</tr>
</table>
