#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['badgeSystems':@BadgeSystems.list(), ('Configura Sorgente '+ badgeSystem.name):null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs, noHome:'true' /}
  
#{tabs}
  #{tabItem id:'info', title:'Riepilogo', active:true /}
  #{tabItem id:'offices', title:'Sedi Abilitate'/}
  #{tabItem id:'badgeReaders', title:'badgeReaders'/}
#{/tabs}
   
#{tabContent}

  #{tabContentItem id:'info', active:true}
    #{panel title:'Informazioni', color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Modifica i dati del &{'badgeSystem'} <strong>${badgeSystem.name}</strong>
      </div>
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeSystem.id' /}				
		  #{f.input 'badgeSystem.name', required:true /}
	      #{f.input 'badgeSystem.description' /}
	    
	      #{f.selectModel 'badgeSystem.owner', items:templateUtility.officeForBadgeReaders(), required:true /}
 	  	
	      #{b.buttons center:'true'}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
	#{/panel}
  #{/tabContentItem} 
  
   
  #{tabContentItem id:'badgeReaders'}
	
	 #{alert color:'info'}
      <p>Le &{'badgeReaders'} a associati al &{'badgeSystem'} ${badgeSystem.name}.</p>
    #{/alert}
	
	<section id="results">
    #{paginate badgeReadersResults} 
	   <ul class="list-group">
	   #{list items:badgeReadersResults.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
		 
		   <h4 style="color: black">	
	         <i class="fa fa-database"></i>
	         <a class="list-group-item-heading" href="@{edit(item.id)}">
			    ${item.code}
	    	 </a>
	       </h4>
	       <div class="container">
	       Istituto Responsabile della &{'badgeReader'} <strong>${item.owner.name}</strong>
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
    </section> 
 
	 
  #{/tabContentItem} 
  
  #{tabContentItem id:'offices'}
	 
	  #{secure.checkAction 'BadgeSystems.joinOffices'}
		  #{b.actions}
		    <a class="btn btn-success" href="@{joinOffices(badgeSystem.id)}" data-async-modal="#defaultModal">
		      <i class="fa fa-plus"></i> &{'BadgeSystems.joinOffices'}
		    </a>
	      #{/b.actions}
	  #{/secure.checkAction}
	    
    #{alert color:'info'}
      <p>Le sedi abilitate su ${badgeSystem.name}.</p>
    #{/alert}
    
	   <ul class="list-group">
	   #{list items:badgeSystem.offices, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
		 
		   <h4 style="color: black">	
	         <i class="fa fa-university"></i>
	          
			    ${item.name}
	    	 
	       </h4>
	     </li>
	    
	   #{/list}
	   </ul>
    
  
  #{/tabContentItem}
  
  
   
  
#{/tabContent}  
  
  
  
  *{  
  #{if office.persons.empty}
   #{secure.checkAction 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{Offices.delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.checkAction}
  #{/if}
  }*

</div>
