#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sede'  /}

#{set breadcrumbs:['badgeSystems':@BadgeSystems.list(), ('Configura Sorgente '+ badgeSystem.name):null] /}
 
<div class="container">

  #{breadcrumbs breadcrumbs, noHome:'true' /}
  
#{tabs}
  #{tabItem id:'info', title:'Riepilogo', active:true /}
  #{tabItem id:'offices', title:'Sedi Abilitate'/}
  #{tabItem id:'badgeReaders', title:'badgeReaders'/}
#{/tabs}
<br>
   
#{tabContent}

  #{tabContentItem id:'info', active:true}
    #{panel title:'Informazioni', color:'primary'}
  	  <div class="alert alert-info" role="alert">
    	Modifica i dati del &{'badgeSystem'} <strong>${badgeSystem.name}</strong>
      </div>
		#{form action:@updateInfo(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeSystem.id' /}				
		  #{f.input 'badgeSystem.name', required:true /}
	      #{f.input 'badgeSystem.description' /}
	    
	      #{f.selectModel 'badgeSystem.office', 
	      items:templateUtility.officeForBadgeReaders(), required:true /}
 	  	
	      #{b.buttons center:'true'}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
	#{/panel}
  #{/tabContentItem} 
  
  #{tabContentItem id:'badgeReaders'}
	
	 #{alert color:'info'}
      <p>Le <strong><i class="fa fa-database"></i> &{'badgeReaders'}</strong> associate al &{'badgeSystem'} <strong>${badgeSystem.name}</strong>.</p>
    #{/alert}
	
	<section id="results">
    #{paginate badgeReadersResults} 
	   <ul class="list-group">
	   #{list items:badgeReadersResults.results, as:'item'}
	   
		 <li class="list-group-item list-group-item-grey">
		 
		  #{badgeReader.item item:item /}
	     </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
    </section> 
 
	 
  #{/tabContentItem} 
  
  
   
  
#{/tabContent}  
  
  
  
  *{  
  #{if office.persons.empty}
   #{secure.checkAction 'Office.delete', target:office}
    #{accordionGroup 'delete'}
     #{accordionItem 'deleteItem', parent:'delete', title:'Eliminare questa sede', open:false, color:'danger'}
	  <div class="text-danger center">
	    E' possibile eliminare la sede ${office.name} poichè non ha alcun dipendente inserito.<br>
		<a class="btn btn-danger" href=@{Offices.delete(office.id)}></i>Elimina</a> 
	  </div>
     #{/accordionItem}
    #{/accordionGroup }  
   #{/secure.checkAction}
  #{/if}
  }*

</div>
