#{modalAsync title:'BadgeSystems.joinOffices' }


  #{alert color:'info'}
   <p>Imposta le <strong><i class="fa fa-institution"></i>Sedi Abilitate</strong> su <strong>${badgeSystem.name}</strong>.</p>
   <p>Tutti i dipendenti delle Sedi Abilitate potranno riceve i badge del &{'badgeSystem'} ${badgeSystem.name}.</p>
  #{/alert}
	  	  
      #{form action:@saveOffices(), method:'POST', autocomplete:false,
		    class:'form form-horizontal' }			

		  #{f.hidden 'badgeSystem.id' /}
		  #{f.view 'badgeSystem' /}				
	      
	      #{f.selectMultipleModel 'badgeSystem.offices',
           values:allOffices, placeholder:'Tutte le sedi' /}
 	  	
	      #{b.buttons}
	        #{b.save /}
	      #{/b.buttons}
		#{/form}
  
#{/modalAsync}