#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione sedi'  /}

<div class="container">
	#{title title:'Badge System' /}

	
	#{alert color:'info'}
	  <p>Tutti i codici badge associati a un <strong class="text-primary">&{'badgeSystem'} 
	  	<i class="fa fa-credit-card"></i><i class="fa fa-credit-card"></i><i class="fa fa-credit-card"></i></strong>
	  </p> 
	  
	  <p>
	  1) Sono abilitati a timbrare nelle medesime <strong class="text-primary">&{'badgeReaders'} <i class="fa fa-database"></i></strong>
	  </p>
	  <p>
	  2) Possono essere attribuiti ai dipendenti delle <strong class="text-primary">Sedi Abilitate <i class="fa fa-institution"></i></strong>
	  </p>
	#{/alert}
	
	#{form action:@BadgeSystems.list(), class:'form-inline', method:'GET',
    'data-reload':'#results', autocomplete:'off'}

    <div class="row">
     <div class="col-sm-3">
        #{f.input 'name', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'search'.label(), inline:true /}
     </div>
     <div class="col-sm-1">
        <button type="submit" name="_filter" class="btn btn-primary">
            <i class="fa fa-search"></i> <span class="sr-only">&{'search'}</span>
        </button>
     </div>
    </div>
	#{/form}

	
	#{secure.checkAction 'BadgeSystems.blank'}
	  #{b.actions}
	    <a class="btn btn-success" href="@{blank()}" data-async-modal="#defaultModal">
	      <i class="fa fa-plus"></i> &{'BadgeSystems.blank'}
	    </a>
      #{/b.actions}
    #{/secure.checkAction}
	
	<div id="badgeSystemList"> <!-- per il risultato della modale asincrona -->
	
	<section id="results">
    #{paginate results} 
	   <ul class="list-group">
	   #{list items:results.results, as:'item'}
	     
		 <li class="list-group-item list-group-item-grey">
		   #{badgeSystem.item item:item, edit:'true' /}
		 </li>
	    
	   #{/list}
	   </ul>
    #{/paginate} 
     </section>
     </div>
</div>

