
table.mensile tr td.turnoA {
	background-color: #F7917E; 
	opacity:0.6;
  	filter:alpha(opacity=60); /* For IE8 and earlier */
}

table.mensile tr td.turnoB {
	background-color: #82B398;
}

table.mensile tr td.annullato {
	text-align: center;
}