
<h3>Caricamento situazione mensile del personale - Controllo attestati</h3>

<h4>Risultati del invio dei dati del mese ${month}/${year}</h4>

#{form @processAttestati()}
	<div style="margin-top: 1em">
		<input type="hidden" name="year" value="${year}" />
		<input type="hidden" name="month" value="${month}" />
	 	<input type="submit" name="home" value="Torna a riepilogo invio attestati" class="btn btn-primary"/>
	</div>
	
	</fieldset>
#{/form}

<fieldset>
<legend>Operazioni effettuate e risultati</legend>

#{if actions != null && ! actions.isEmpty()}
	<p>Operazioni effettuate:</p>
	<ul>
	#{list actions}
		<li>${_}</li>
	#{/list}
	</ul>		
#{/if}

#{if dipendentiNonInEpas?.size() > 0}
	<p>I seguenti dipendenti sono nell'anagrafica della sede centrale del CNR ma non in quella ePAS dell'istituto:
	<ul>
	#{list dipendentiNonInEpas}
		<li>${_.cognomeNome} (matricola=${_.matricola})</li>
	#{/list}
	</ul>
#{/if}

#{if dipendentiNonInCNR?.size() > 0}
	<p>I seguenti dipendenti sono nell'anagrafica ePAS dell'Istituto ma non in quella della sede centrale del CNR:
	<ul>
	#{list dipendentiNonInCNR}
		<li>${_.cognomeNome} (matricola=${_.matricola})</li>
	#{/list}
	</ul>
#{/if}

#{if risposteOk?.size() > 0}
	<p>Invio assenze e competenze del personale effettuate senza problemi:</p>
	<ul>
	#{list risposteOk}
	<li>
		  Dati inseriti OK per ${_.cognomeNome} (matricola ${_.matricola}). 
		  #{if _.absencesSent != null} <strong>Assenze</strong>: ${_.absencesSent} #{/if}
		  #{if _.competencesSent != null} <strong>Competenze</strong>: ${_.competencesSent} #{/if}
		  #{if _.mealTicketSent != null} <strong>Buoni mensa</strong>: ${_.mealTicket} #{/if}
	 </li>
	#{/list}
	</ul>		
#{/if}

#{if risposteNotOk != null && risposteNotOk.size() > 0}
	<p>Invio assenze e competenze del personale effettuate <strong>CON</strong> problemi:</p>
	<ul>
	#{list risposteNotOk}
	<li>
		  ${_.cognomeNome} -&gt; 
		  #{if _.absencesSent != null} assenze: ${_.absencesSent} #{/if}
		  #{if _.competencesSent != null} competenze: ${_.competencesSent} #{/if}
		  #{if _.mealTicketSent != null} buoni mensa: ${_.mealTicket} #{/if}
		  <strong>${_.problems}</strong>
	 </li>
	#{/list}
	</ul>
#{/if}

</fieldset>