#{modalAsync id:'modalAbsence', button:'Salva', 
  title:'Seleziona Anno e Mese' }

#{if sessionAttestati==null || !sessionAttestati.isLoggedIn() }

#{/if}

#{else}

  #{alert color:'info'}
    <p>Seleziona l'anno e il mese dei quali vuoi caricare o verificare gli attesti di presenza.</p>
  #{/alert}
  
  #{form @UploadSituation.fetchData(), class:'form-horizontal'}
    #{f.hidden 'office.id', value:wrOffice.value.id /}
    #{f.hidden 'changeMonth', value:true /}
 	#{f.selectEnum 'year', label:'Anno Attestato', items:wrOffice.yearUploadable, value:monthToUpload.get().year, byEquals:true, required:true /} 
	#{f.selectEnum 'month', label:'Mese Attestato', items:wrOffice.monthUploadable, value:monthToUpload.get().monthOfYear, byEquals:true, required:true /}		
    #{b.buttons center:true}
      #{b.submit 'Cambia mese'/}
    #{/b.buttons}
  #{/form}
#{/else}

#{/modalAsync}