#{extends 'main_admin.html' /}

<h3>Caricamento situazione mensile del personale - Controllo attestati</h3>

<h4>Risultati del invio dei dati del mese ${month}/${year}</h4>

#{form @checkAttestati(), class:'form-horizontal'}
	<div style="margin-top: 1em">
		<input type="hidden" name="year" value="${year}" />
		<input type="hidden" name="month" value="${month}" />
	 	<input type="submit" name="home" value="Torna alla home" class="btn btn-primary"/>
		<input type="submit" name="back" value="Indietro" class="btn"/>
	</div>
	
	</fieldset>
#{/form}

<fieldset>
<legend>Operazioi effettuate e risultati</legend>

#{if actions != null && ! actions.isEmpty()}
	<p>Operazioni effettuate:</p>
	<ul>
	%{for(action in actions){ }%
	  <li>${action}</li>
	%{ } }%
	</ul>		
#{/if}

#{if dipendentiNonInEpas != null && dipendentiNonInEpas.size() > 0}
	<p>I seguenti dipendenti sono nell'anagrafica della sede centrale del CNR ma non in quella ePAS dell'istituto:
	<ul>
	%{for(dipendente in dipendentiNonInEpas){ }%
	  <li>${dipendente.cognomeNome} (matricola=${dipendente.matricola})</li>
	%{ } }%
	</ul>
#{/if}

#{if dipendentiNonInCNR && dipendentiNonInCNR.size() > 0}
	<p>I seguenti dipendenti sono nell'anagrafica ePAS dell'Istituto ma non in quella della sede centrale del CNR:
	<ul>
	%{for(dipendente in dipendentiNonInCNR){ }%
	  <li>${dipendente.cognomeNome} (matricola=${dipendente.matricola})</li>
	%{ } }%
	</ul>
#{/if}

#{if risposteOk != null && risposteOk.size() > 0}
	<p>Invio assenze e competenze del personale effettuate senza problemi:</p>
	<ul>
	%{for(risposta in risposteOk){ }%
	  <li>
		  Dati inseriti OK per ${risposta.cognomeNome} (matricola ${risposta.matricola}). 
		  #{if risposta.absencesSent != null} <strong>Assenze</strong>: ${risposta.absencesSent} #{/if}
		  #{if risposta.competencesSent != null} <strong>Competenze</strong>: ${risposta.competencesSent} #{/if}
		  #{if risposta.mealTicketSent != null} <strong>Buoni mensa</strong>: ${risposta.mealTicket} #{/if}
	  </li>
	%{ } }%
	</ul>		
#{/if}

#{if risposteNotOk != null && risposteNotOk.size() > 0}
	<p>Invio assenze e competenze del personale effettuate <strong>CON</strong> problemi:</p>
	<ul>
	%{for(risposta in risposteNotOk){ }%
	  <li>
		  ${risposta.cognomeNome} -&gt;
		  #{if risposta.absencesSent != null} assenze: ${risposta.absencesSent} #{/if}
		  #{if risposta.competencesSent != null} competenze: ${risposta.competencesSent} #{/if}
		  #{if risposta.mealTicketSent != null} buoni mensa: ${risposta.mealTicket} #{/if}
		  <strong>${risposta.problems}</strong>
	  </li>	
	%{ } }%
	</ul>
#{/if}

</fieldset>