#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio Attestati'  /}

<div class="container">

  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Caricamento situazione mensile del personale - Controllo attestati</h3>
      </div>
      <div class="panel-body">


		
		
		
		
		<div class="well center">
		
		<h3>Dati da utilizzare con il sistema del CNR</h3>
		
		<br>
		
		#{form @processAttestati(), class:'form-horizontal'}
						
			<p>Conferma l'anno ed il mese di assenze e competenze di cui vuoi effettuare l'elaborazione dati sul sistema centrale del CNR</p>
				
				#{select 'year', value: year, id:'year'}
					#{option 2013}2013#{/option}
					#{option 2014}2014#{/option}
					#{option 2015}2015#{/option}
					#{option 2015}2016#{/option}
				#{/select}
				
				#{select 'month', value: month, id:'month'}
					#{option 1}Gennaio#{/option}
					#{option 2}Febbraio#{/option}
					#{option 3}Marzo#{/option}
					#{option 4}Aprile#{/option}
					#{option 5}Maggio#{/option}
					#{option 6}Giugno#{/option}
					#{option 7}Luglio#{/option}
					#{option 8}Agosto#{/option}
					#{option 9}Settembre#{/option}
					#{option 10}Ottobre#{/option}
					#{option 11}Novembre#{/option}
					#{option 12}Dicembre#{/option}
				#{/select}
			
			<br>
			<br>
			
			<p>Inserisci utente e password abilitati su <strong><em>${urlToPresence}</em></strong></p>
			
			<div class="control-group">		
				<label class="control-label" for="attestatiLogin">&{'secure.username'}</label>
				<div class="controls">
					<input type="text" name=attestatiLogin id="attestatiLogin" placeholder="nome.cognome" value="${attestatiLogin}" />
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="attestatiPassword">&{'secure.password'}</label>
				<div class="controls">
					<input type="password" name="attestatiPassword" id="attestatiPassword" value="${attestatiPassword}" placeholder="password di siper dell'utente"/>
				</div>
			</div>
		
			
			<div style="margin-top: 1em">
			 	<input type="submit" name="rispostaAttestati" value="Effettua Login" class="btn btn-primary"/>
				<input type="submit" name="back" value="Indietro" class="btn"/>
			</div>
			

		#{/form}
		</div> <!-- end well -->

	</div>
  </div> <!-- end panel -->
  

</div>
