#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Invio Attestati'  /}

#{set 'moreStyles' }
<style>
	#accordion_dip div.panel-body {
		background-color: #E8F9FF;
	}
	
	#accordion_dip table {
		background-color: white;
	}
	
	#dipendenti-epas div.panel-body {
		background-color: #E8F9FF;
	}
	
	#dipendenti-epas table {
		background-color: white;
	}

	
</style>
#{/set}


<div class="container center">

	  #{form @processAllPersons(year, month), class:'form-horizontal'}
		  <input type="hidden" name="year" value="${year}" />
		  <input type="hidden" name="month" value="${month}" />
		  <input type="submit" name="back" value="Torna a Login e Selezione mese" class="btn"/>
		  
		  <button type="submit" class="btn btn-warning"/><span class="glyphicon glyphicon-fire"></span> Elabora Tutti</button> 
	  #{/form}
	
	<br>

  <div class="col-xs-12">

    <div id="dipendenti-epas" class="panel panel-primary col-md-12">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Elaborazione attestati &{'views.tags.display.date.month.' + month} ${year} dipendenti ePAS</h3>
      </div>
      <div class="panel-body">
		<table class="table table-condensed table-bordered">
		  <tr>
		    <th>Matricola</th>
		    <th>Nome Cognome</th>
		    <th>Esito</th>
		    <th>Dati<br>elaborati</th>
		    <th>Problemi<br>Elaborazione</th>
		    <th>Elabora singolo<br>dipendente</th>
		  </tr>
		  
		  #{list items:activeDipendenti, as:'dipendente'}
		  
     	   <!-- (1) definire colore riga tr: warning=nonInCnr, success=elaboratoOk, danger="elaboratoProblems" -->

		   <!-- Non ancora elaborato -->
		   #{if wrapper.create(dipendente.person).getCertificatedData(year, month) == null}
		     #{if dipendentiNonInCNR.contains(dipendente)}
		     	<!-- non in cnr -->
		     	<tr">
		     #{/if}
		     #{else}
		        <!-- non ancora elaborato -->
		        <tr class="warning">
		     #{/else}
		   #{/if}
		      
		   <!-- Già elaborato -->
		   #{else}
		     #{if wrapper.create(dipendente.person).getCertificatedData(year, month).isOk }
		       <tr class="success">
		     #{/if}
		     #{else}
		       <tr class="danger">
		     #{/else}
		   #{/else}  
		    
		    
		    
		    <!-- (2) contenuto tabella -->
		    
		      <td>${dipendente.matricola}</td>
		      <td>${dipendente.cognomeNome}</td>
		      
		      <!-- Non ancora elaborato -->
		      #{if wrapper.create(dipendente.person).getCertificatedData(year, month) == null}
		           #{if dipendentiNonInCNR.contains(dipendente)}
		             <td>Non in CNR</td>
		             <td></td>
		             <td></td>
		             <td></td>
		           #{/if}
		           #{else}
		             <td>Non ancora elaborato</td>
		             <td></td>
		             <td></td>
		             <td></td>
		           #{/else}
		      #{/if}
		      
		      <!-- Già elaborato -->
		      #{else}
		        <!-- esito -->
		        
		        #{if wrapper.create(dipendente.person).getCertificatedData(year, month).isOk }
		           <td class="success"><span class="glyphicon glyphicon-ok" style="color: green;"></span></td>
		        #{/if}
		        #{else}
		           <td class="danger"><span class="glyphicon glyphicon-remove" style="color: red;"></span></td>   
		        #{/else}
		        
		        
		        <!-- dati elaborati -->
		        <td>
		          #{if wrapper.create(dipendente.person).getCertificatedData(year, month) != null}
		            <a href="@{UploadSituation.showCertificatedData(wrapper.create(dipendente.person).getCertificatedData(year, month).id)}" data-modal=".my-modal">dati</a>
		          #{/if}
		        </td>
		        <!-- problemi -->
		        <td>
		        #{if wrapper.create(dipendente.person).getCertificatedData(year, month).problems != null}
		          <a href="@{UploadSituation.showProblems(wrapper.create(dipendente.person).getCertificatedData(year, month).id)}" data-modal=".my-modal">problemi</a>
		        #{/if}
		        </td>
		        <!-- elabora singolo -->
		        <td>
		          <a href="@{UploadSituation.processSinglePerson(dipendente.getMatricola(), year, month)}">
		            <span class="glyphicon glyphicon-cog"></span>Elabora
		          </a>
		        </td>
		      #{/else} 
		 
		    </tr>  
		  #{/list}
		</table>
		
		
	  </div>
	</div>	<!-- end panel dipendenti epas -->
  </div>
  <div class="col-xs-12">	
  	<div class="panel-group" id="accordion_dip">
	  <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion_dip" href="#dip">
	          <i class="fa fa-exclamation"></i> Riepilogo confronto liste dipendenti
	        </a>
	      </h4>
	    </div>
	    <div id="dip" class="panel-collapse collapse in">
	      <div class="panel-body">
	   
	        <div class="col-md-6">	
			    <table class="table table-condensed">
				  <tr>
				    <th colspan="2">Dipendenti CNR non in EPAS</th>
				  </tr>
				  <tr>
				    <th>Matricola</th>
				    <th>Nome Cognome</th>
				  </tr>
				  #{list items:dipendentiNonInEpas, as:'dipendente'}
				    <tr>
				      <td>${dipendente.matricola}</td>
				      <td>${dipendente.cognomeNome}</td>
				    </tr> 
				  #{/list}
				</table>
			</div>	
			
			  <div class="col-md-6">	
				<table class="table table-condensed">
				  <tr>
				    <th colspan="2">Dipendenti EPAS non in CNR</th>
				  </tr>
				  <tr>
				    <th>Matricola</th>
				    <th>Nome Cognome</th>
				  </tr>
				  #{list items:dipendentiNonInCNR, as:'dipendente'}
				    <tr>
				      <td>${dipendente.matricola}</td>
				      <td>${dipendente.cognomeNome}</td>
				    </tr> 
				  #{/list}
				</table>
			  </div>
	
	
	
	      </div>
	    </div>
	  </div>
	</div>

  </div>

</div>

#{include '_myModal.html' /}

