#{modalAsync id:'modalAbsence', button:'Salva', 
  title:'Riepilogo Attestati elaborati ' + templateUtility.monthName(cd.month) + ' ' + cd.year + ' per ' + cd.person.surname + ' ' + cd.person.name }

<div class="container-fluid center">
  
    <table class="table table-condensed table-bordered">
      <tr>
        <th>Voce</th>
        <th>Valore</th>
      <tr>
      
      <!-- Assenze -->
      <tr>
        <td>Assenze</td>
        <td>${cd.absencesSent}</td>
      </tr>
      <!-- Competenze -->
      <tr>
        <td>Competenze</td>
        <td>${cd.competencesSent}</td>
      </tr>
      <!-- Ore Formazione -->
      <tr>
        <td>Ore Formazione</td>
        <td>${cd.trainingHoursSent}</td>
      </tr>
      <!-- Buoni Pasto -->
      <tr>
        <td>Buoni Pasto</td>
        <td>${cd.mealTicketSent}</td>
      </tr>
    </table>

</div>

#{/modalAsync}