#{extends 'main3.html' /}
#{set header:'clock' /}
#{set title: 'ePAS - Timbratura web'  /}

#{set 'moreScripts'}
<script type="text/javascript">
		function preventBack(){window.history.forward();}
		setTimeout("preventBack()", 0);
		window.onunload=function(){null};

		function startTime()
		{
			var today=new Date();
			var h=today.getHours();
			var m=today.getMinutes();
			var s=today.getSeconds();
			// add a zero in front of numbers<10
			m=checkTime(m);
			s=checkTime(s);
			document.getElementById('clockBase').innerHTML=h+":"+m+":"+s;
			t=setTimeout(function(){startTime()},500);
		}

		function checkTime(i)
		{
			if (i<10)
				{
					i="0" + i;
				}
			return i;
		}
</script>
#{/set}

<div class="container">

  <a href="@{secure.logout()}" class="btn btn-default col-xs-2 pull-right"><i class="fa fa-share text-danger"> Logout</i></a>

  <div class="row">
    <div class="col-xs-12" id="clockBase"></div>
  </div>

  <div class="center">
    <h2>Situazione ${user.person.fullname} ${dayRecap.personDay.date.format()}</h2>
    <table id="tabellonetimbrature" class="table table-bordered table-condensed">

      <tr>
        <th class="group-single">Giorno</th>
        <th class="group-single">Buono<br>mensa</th>

        <th class="invisible"></th>

        <th class="group-single">Codice <br>assenza</th>


        #{list items:1..numberOfInOut, as:'i'}
        <th class="group-left">${i}<sup>a</sup> <br/>entrata</th>
        <th class="group-right">${i}<sup>a</sup> <br/>uscita</th>
        #{/list}

        <th class="invisible"></th>

        <th class="group-single">Tempo<br>lavoro</th>
        <th class="group-single">Diffe-<br/>renza</th>
        <th class="group-single">Progres-<br/>sivo</th>
        <th class="group-single hidden-xs hidden-sm">Tipo<br>Orario</th>
        <th class="group-single hidden-xs hidden-sm">Note</th>
      </tr>

      <tr#{if dayRecap.ignoreDay} class="ignore_day"#{/if}>

      <td class="${dayRecap.personDay.holiday ? 'festivi' : 'capitalized'} default-single">
        #{if showLink}
        #{if dayRecap.firstDay }F#{/if}
        #{secure.link @PersonDayHistory.personDayHistory(dayRecap.personDay.id), modal:'#defaultModal'}
        *{ #{secure.link @Stampings.forceMealTicket(dayRecap.personDay.id), modal:'#defaultModal'} }*
        ${dayRecap.personDay.date.shortDayName()}
        #{/secure.link}
        #{/if}
        #{else}
        ${dayRecap.personDay.date.shortDayName()}
        #{/else}
      </td>

      #{include 'Stampings/personStampingComponents/_mealTicketsTemplate.html' /}

      <td class="invisible"></td>

      #{include 'Stampings/personStampingComponents/_absencesTemplate.html' /}

      #{include 'Stampings/personStampingComponents/_stampingsTemplate.html' /}

      <td class="invisible"></td>

      #{include 'Stampings/personStampingComponents/_workTimeDifferenceProgressive.html' /}

      <td class="default-single">
        #{if dayRecap.wttd.present}
        #{include 'Stampings/personStampingComponents/_workingTimeTypePopover.html' /}
        #{/if}
      </td>

      <td class="default-single note">
        #{if dayRecap.note.size != 0}
        <a href="#" class="btn btn-small note" popover-hover data-html="true"
           data-content="${('<ul><li>'+dayRecap.note.join('</li><li>')+'</li></ul>').escape()}"
           title="Info timbrature">
          Info
        </a>
        #{/if}
      </td>

      </tr>
    </table>
  </div>

  <a href="@{Clocks.webStamping("in")}" class="btn btn-lg btn-default col-xs-offset-3" data-async-modal="#defaultModal">
  <i class="fa fa-sign-in text-success"> &{'stamping.in'}</i>
  </a>

  <a href="@{Clocks.webStamping("out")}" class="btn btn-lg btn-default col-xs-offset-1" data-async-modal="#defaultModal">
  <i class="fa fa-sign-out text-primary"> &{'stamping.out'}</i>
  </a>

</div>
