#{extends 'main3.html' /}
#{set header:'clock' /}
#{set title:'ePAS - electronic Personnel Attendance System' /}

#{set 'moreScripts'}
	<script type = "text/javascript" >
		function preventBack(){window.history.forward();}
		setTimeout("preventBack()", 0);
		window.onunload=function(){null};
	</script>
	<script>
		function startTime()
		{
			var today=new Date();
			var h=today.getHours();
			var m=today.getMinutes();
			var s=today.getSeconds();
			// add a zero in front of numbers<10
			m=checkTime(m);
			s=checkTime(s);
			document.getElementById('clockBase').innerHTML=h+":"+m+":"+s;
			t=setTimeout(function(){startTime()},500);
		}
		
		function checkTime(i)
		{
			if (i<10)
				{
					i="0" + i;
				}
			return i;
		}
	</script>
#{/set}

<div class="container center">

<h2>Timbratura web per la data ${data.format()}</h3>
<br>
<div class="col-sm-offset-2 col-sm-8">

#{form action:@Clocks.clockLogin(), class:'form-horizontal', role:'form'}


  	#{f.selectModel 'person',items:personList,label:'Nome' /}
  	#{f.input 'password',type:'password',label:'Password' /}

<div >
    <input type="submit" class="btn btn-large btn-primary" name ="submit" value="Login" align="center"/>
</div>
#{/form}
</div>

<div class="container center">
  <div id="clockBase"></div>
</div>
</div>

