#{modalAsync id:'defaultModal', title: ('Nuova timbratura di ' + wayType.label() + ' in data ' + today.format() + ' per ' +
currentPerson.fullname) }

<p class="center">
  #{if wayType.equals(models.Stamping.WayType.in) }
    <i class="fa fa-sign-in text-success"> Nuova timbratura di &{wayType.label()}</i>
  #{/if}
  #{else}
    <i class="fa fa-sign-in text-primary"> Nuova timbratura di &{wayType.label()}</i>
  #{/else}
</p>

#{form @Clocks.insertWebStamping(), method:'POST', class:'form-horizontal'}

#{f.hidden 'way', value:wayType /}

#{f.selectEnum 'stampType', items:models.enumerate.StampTypes.onlyActive() /}
#{f.input 'note' /}

#{b.buttons center:true}
#{b.submit 'Timbra'/}
#{/b.buttons}

#{/form}

<br>
#{alert color:'info'}
 
  <p>
  <em>
    L'orario della timbratura verrà salvato sulla base del momento in cui sarà premuto il tasto <strong>Timbra</strong>.
  </em>
  <p>
  E' possibile specificare una causale timbratura fra quelle proposte.
  </p>
#{/alert}


#{/modalAsync}
