#{extends 'main_with_navbar.html' /}
#{set titolo: 'Riepilogo ore di lavoro, straordinario e recuperi ' + person.surname + ' ' + person.name + ' anno: ' + year /}

<div class="container">



	<br>
    <table class="table hour-recap table-condensed">
    <tr>
	  <th rowspan=2>Mese</th>
	  <th rowspan=2>Ore<br>Lavorate</th>
	  <th colspan=3>Monte ore inizio mese</th>
	  <th rowspan=2>Progressivo<br>a fine mese</th>
	  <th rowspan=2>Ore<br>Straordinario </th>
	  <th rowspan=2>Riposi<br>Compensativi </th>
	  <th colspan=3>Monte ore fine mese</th>
	</tr>
	<tr>
		<th>Anno<br>passato</th>
		<th>Anno<br>corrente</th>
		<th>Totale</th>
		
		
		
		<th>Anno<br>passato</th>
		<th>Anno<br>corrente</th>
		<th>Totale</th>
	</tr>
	
	#{list items:csap.mesi, as:'mese'}
	  <tr>
	    <td> &{'views.tags.display.date.month.' +mese.mese}</td>
	    
	    <td>${mese.oreLavorate.toHourTime()}</td>
	    
	    #{if mese.mesePrecedente!=null}
	      <td><em>${mese.mesePrecedente.monteOreAnnoPassato.toHourTime()}</em></td>
	      <td><em>${mese.mesePrecedente.monteOreAnnoCorrente.toHourTime()}</em></td>
	      <td style="color: darkblue">${(mese.mesePrecedente.monteOreAnnoPassato + mese.mesePrecedente.monteOreAnnoCorrente).toHourTime()}</td>
	    #{/if}  
	    #{else}
	      <td><em>${mese.initMonteOreAnnoPassato.toHourTime()}</em></td>
	      <td><em>${mese.initMonteOreAnnoCorrente.toHourTime()}</em></td>
	      <td style="color: darkblue">${(mese.initMonteOreAnnoPassato + mese.initMonteOreAnnoCorrente).toHourTime()}</td>
	    #{/else}  	    
	    
	   
	    <!-- Progressivo -->
	    #{if mese.progressivoFinaleMese > 0}
	      <td style="color: darkblue">${mese.progressivoFinaleMese.toHourTime()}</td>
	    #{/if}
	    #{else}
	      <td style="color: darkred">${mese.progressivoFinaleMese.toHourTime()}</td>
	    #{/else}  
	    
	    <!-- Straordinario -->
	    <td style="color: darkred">${mese.straordinariMinuti.toHour()} </td>
	    
	    <!-- Riposo compensativo -->
	    <td>(${mese.numeroRiposiCompensativi}) <div style="color: darkred; display: inline;">${mese.riposiCompensativiMinutiPrint.toHourTime()}</div></td>
	    
	    
	    
	    <td><em>${mese.monteOreAnnoPassato.toHourTime()}</em></td>
	    <td><em>${mese.monteOreAnnoCorrente.toHourTime()}</em></td>
	    <td style="color: darkblue">${(mese.monteOreAnnoPassato + mese.monteOreAnnoCorrente).toHourTime()}</td>
	  </tr>
	#{/list}
	
  </table>
  
</div>
