#{extends 'main.html' /}

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h3>Riepilogo ore di lavoro, straordinario e recuperi (${person.surname} ${person.name} anno: ${year})</h3>

<table>
	<tr>
		<th rowspan=2>Mese</th>
		<th rowspan=2>Da iniz.</th>
		<th colspan=3>Da anno e mesi prec.</th>
		<th rowspan=2>Ore di lavoro in eccesso</th>
		<th rowspan=2>Riposi compensativi (cod.91)</th>
		<th rowspan=2>Ore straordinario</th>
		<th rowspan=2>Residuo ore a fine mese</th>
	</tr>
	<tr>
		<th>Mese prec.</th>
		<th>Anno prec.</th>
		<th>Tot. prec.</th>
	</tr>
	%{for(entry in mapMonthSituation.entrySet()){
	}%<tr>
		<td><span class="capitalized">&{'views.tags.display.date.month.' + entry.getKey()}</span></td>
		<td>${entry.getValue().get(0).toHourTime()}</td>
		<td>${entry.getValue().get(1).toHourTime()}</td>
		<td>${entry.getValue().get(2).toHourTime()}</td>
		<td>${entry.getValue().get(3).toHourTime()}</td>
		<td>${entry.getValue().get(4).toHourTime()}</td>
		<td>${entry.getValue().get(5)} (${(entry.getValue().get(5)*432).toHourTime()})</td>
		<td>${entry.getValue().get(6)}</td>
		<td>${entry.getValue().get(7).toHourTime()}</td>	
	</tr>
	%{
	}
	}%

</table>


