#{form @PersonMonths.saveTrainingHours()}

<h3>Ore di formazione per ${person.name} ${person.surname}</h3>
<fieldset>

<table class="tablenoborder">
<input name="personId" type="hidden" value="${person.id}"/>
<input name="month" type="hidden" value="${month}"/>
<input name="year" type="hidden" value="${year}"/>
	<tr>
		<td>Giorno inizio</td><td>#{select 'begin',  class:'span1', id: 'begin'} 
					#{list items:1..max, as:'i'}
						#{option i}${i}#{/option}
					#{/list}
				#{/select}	
		</td>
	</tr>
	<tr>
		<td>Giorno fine</td><td>#{select 'end',  class:'span1', id: 'end' }
					#{list items:1..max, as:'i'}
						#{option i}${i}#{/option}
					#{/list}
				#{/select}	
		</td>
	</tr>
	<tr>
		<td>Quantità</td><td><input class="span2" name="value" type="number" /></td>
	</tr>
</table>

</fieldset>

<div class="buttoncenter">
<input class="btn btn-primary" type="submit" value="Ok" />
</div>
#{/form}
