#{form @PersonMonths.updateTrainingHours()}

<h3>Ore di formazione di &{'views.tags.display.date.month.' +month}</h3>
<fieldset>
<table class="tablenoborder">
<input name="personId" type="hidden" value="${person.id}"/>
<input name="month" type="hidden" value="${month}"/>
<input name="year" type="hidden" value="${year}"/>
<input name="personMonthId" type="hidden" value="${pm.id}"/>
	
	<tr>
		<td>Giorno inizio</td><td>#{select 'begin', value: pm.fromDate.getDayOfMonth(), class:'span1', id: 'begin'} 
					#{list items:1..max, as:'i'}
						#{option i}${i}#{/option}
					#{/list}
				#{/select}	
		</td>
	</tr>
	<tr>
		<td>Giorno fine</td><td>#{select 'end', value: pm.toDate.getDayOfMonth(), class:'span1', id: 'end' }
					#{list items:1..max, as:'i'}
						#{option i}${i}#{/option}
					#{/list}
				#{/select}	
		</td>
	</tr>
	<tr>
		<td>Quantità</td><td><input class="span2" name="value" type="text" value="${pm.trainingHours}"/></td>
	</tr>
	
</table>
</fieldset>

<div class="buttoncenter">
<input class="btn btn-primary" type="submit" value="Ok" />
</div>
#{/form}