#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Ore Formazione'  /}

<div class="container">

#{title title:('Ore di formazione ' + year + ' ' + person.fullname ) /}

    #{alert color:'info'}
     <p>Le ore di formazione possono essere inserite solo per il mese selezionabile.</p> 
  	 <p>Nel momento in cui l'amministratore le approva non potranno più essere modificate.</p>
  	
    #{/alert}
  	
    <table class="table table-condensed center">
	  <tr class="warning">
		<th>Mese</th>
		<th>Ore di formazione</th>
		<th>Modifica</th>
		<th>Approvate</th>
		
	  </tr>
	
	
	  #{list items:1..12, as: 'mese'}
	  <tr>
		<td class="warning">&{'views.tags.display.date.month.' +mese}</td>
		
		
		<!-- Modifica -->
		<td>
			<ul class="list-group">			
			#{list items:personMonthRecapList, as: 'pm'}
				#{if pm != null}
				  #{if pm.month == mese}
				    <!-- mese attuale o precedente-->	
					#{if mese == today.getMonthOfYear()  || (mese == today.minusMonths(1).getMonthOfYear() && pm.hoursApproved == false)}		
						
					  <li class="list-group-item list-group-item-info" >
					    <p>
					      <span class="label label-success">${pm.trainingHours} ore</span>
					      <span><b>Da:</b> ${pm.fromDate?.format()}</span>
					      <span><b>A:</b> ${pm.toDate?.format()}</span>
					    </p>
						<a href="@{PersonMonths.modifyTrainingHours(pm.id)}" data-async-modal="#defaultModal"><i class="fa fa-pencil"></i></a>
						
						<a href="@{PersonMonths.deleteTrainingHours(pm.person.id, pm.id)}" data-async-modal="#defaultModal"><span class="glyphicon glyphicon-trash"></span></a>
					  </li>
					#{/if}
					<!-- mesi passati -->
					#{else}
					  <li><b>${pm.trainingHours}</b> ore <b>Da:</b> <u>${pm.fromDate?.format()}</u> <b>A:</b> <u>${pm.toDate?.format()}</u></li>	
					#{/else}
				  #{/if}
				
				#{/if}
			#{/list}
			</ul>
		</td>
		
		
		<!-- Inserimento -->
		<td>
			#{if mese == today.getMonthOfYear() && year == today.getYear()}
				<a href="@{PersonMonths.insertTrainingHours(mese, year)}" data-async-modal="#defaultModal">Inserisci ore di formazione</a>
			#{/if}
			
		</td>
		
		
		<!-- Approvazione -->
		<td>
			#{if pm != null && pm.month == mese }
				#{if mese == today.getMonthOfYear() || mese == today.minusMonths(1).getMonthOfYear()}
					#{if pm.hoursApproved == true}
						SI<br>
					#{/if}
					#{else}
						NO<br>
					#{/else}			
				#{/if}
			#{/if}
			
		</td>
	  </tr>
	  #{/list}
    </table>
	
	    
  	  <a href="@{PersonMonths.insertTrainingHoursPreviousMonth()}" data-async-modal="#defaultModal">
  	  Inserisci ore di formazione del mese precedente se non ancora approvate.</a>


</div>




