#{extends 'main3.html' /} 
#{set header:'navbar' /} 
#{set title: 'ePAS - Ore di formazione dei dipendenti' /}

<div class="container">
	#{title title:'Ore di formazione ' + templateUtility.monthName(month) +	' ' + year, administration:true /}	

	<table class="table table-striped table-hover" width="100%" datatable>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Ore di formazione</th>
				<th>Inviate ad Attestati</th>
			</tr>
		</thead>
		<tbody>
			#{list table.rowMap().entrySet(),as:'entry'}

			<tr>
				<td class="warning">${entry.getKey().surname} ${entry.getKey().name}</td>
				#{list table.columnKeySet(),as:'col'}
					<td data-order="${entry.getValue().get(col)}">
						#{list items:entry.getValue().get(col), as: 'item'}
							<strong>${item.trainingHours}</strong> ore dal <strong>${item.begin}</strong> al <strong>${item.end}</strong><br>
						#{/list}
					</td>
					
					<td data-order="${entry.getValue().get(col)}">
						#{list items:entry.getValue().get(col), as: 'item'}
							
								#{if item.sentToAttestati}
								<i class="fa fa-check" green aria-hidden="true"></i>
								#{/if}
								#{else}
								
								<i class="fa fa-times" red aria-hidden="true" ></i>
								#{/else}
								<br>
						#{/list}
					</td>
				#{/list}
			</tr>

			#{/list}
		</tbody>

	</table>

	#{alert color:'info'}
     <p><i class="fa fa-times" red aria-hidden="true"></i> : &{'notSentToAttestati'}</p> 
     <p><i class="fa fa-check" green aria-hidden="true"></i> : &{'sentToAttestati'}</p>  	
    #{/alert}
</div>