#{extends 'main.html' /}
#{set header:'navbar' /} 
#{set title: 'ePAS - Ore di formazione dei dipendenti' /}

<div class="container">
	#{title title:'Ore di formazione ' + templateUtility.monthName(month) +	' ' + year, administration:true /}	

    #{alert color:'info'}
     <p>Lista delle ore di formazione inserite dai dipendenti per il mese e la sede selezionati.</p>
    #{/alert}

		#{f.hidden 'month', value:month /}
  	#{f.hidden 'year', value:year /}

		#{secure.check 'PersonMonths.insertPeopleTrainingHours'}
  	#{b.buttons center:true}
  		<a class="btn btn-success" href="@{PersonMonths.insertPeopleTrainingHours(currentData.officeId,month,year)}" data-async-modal="#defaultModal">
    		<i class="fa fa-plus"></i> &{'PersonMonths.insertPeopleTrainingHours'}
  		</a>
  	#{/b.buttons}
		#{/secure.check}
	<table class="table table-striped table-hover" width="100%" datatable>
		<thead>
			<tr>
				<th class="col-md-4">Nome</th>
				<th class="center">Ore di formazione</th>
			</tr>
		</thead>
		<tbody>
			#{list items:map.entrySet(), as:'key'}				
		
			<tr>
				<td class="warning">${key.getKey().surname} ${key.getKey().name}</td>
				
				<td class="center">	
				#{list items:key.getValue(), as:'pmr'}
					#{if pmr.isEditable()}
            #{secure.link @PersonMonths.modifyTrainingHours(pmr.id), 'data-async-modal':'#defaultModal'}
              ${pmr.trainingHours} ore dal ${pmr.fromDate.format()} al ${pmr.toDate.format()}
            #{/secure.link}

            #{secure.check 'PersonMonths.deleteTrainingHours'}
						<a href="@{PersonMonths.deleteTrainingHours(pmr.person.id, pmr.id)}" 
						   data-async-modal="#defaultModal"><span class="glyphicon glyphicon-trash"></span></a><br>
            #{/secure.check}
					#{/if}
					#{else}
						<strong>${pmr.trainingHours}</strong> ore dal <strong>${pmr.fromDate.format()}</strong> al <strong>${pmr.toDate.format()}</strong><br>
					#{/else}
					
				#{/list}	
				</td>				
			</tr>

			#{/list}
		</tbody>

	</table>
	
</div>