#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /}
<h2 id="nuovoAdmin">Inserimento dati per nuovo amministratore</h2>

#{form @Administrators.save()}
<fieldset>
	<legend>Dati nuovo amministratore e permessi</legend>
	<!-- Cambiare con un menu a tendina contenente la lista delle persone al posto dei due campi text per nome e cognome -->
	#{select 'personId', value:_person, id:'person'}
		%{
			for(person in personList){
		}%
			#{option person.id}${person.surname + ' ' + person.name}#{/option}
			%{
				}
			}%
		
	#{/select}
	<p>Può vedere persone: Sì <input type="radio" name="viewPersonList" value="true"/> No <input type="radio" name="viewPersonList" value="false"/></p>
	<p>Può inserire e modificare straordinari e competenze: Sì <input type="radio" name="insertAndUpdateCompetences" value="true"/> No <input type="radio" name="insertAndUpdateCompetences" value="false"/></p>
	<p>Può inserire e modificare ferie: Sì <input type="radio" name="insertAndUpdateVacations" value="true"/> No <input type="radio" name="insertAndUpdateVacations" value="false"/></p>
	<p>Può inserire e modificare persone: Sì <input type="radio" name="insertAndUpdatePerson" value="true"/> No <input type="radio" name="insertAndUpdatePerson" value="false"/></p>
	<p>Può cancellare persone: Sì <input type="radio" name="deletePerson" value="true"/> No <input type="radio" name="deletePerson" value="false"/></p>
	<p>Può inserire e modificare timbrature: Sì <input type="radio" name="insertAndUpdateStamping" value="true"/> No <input type="radio" name="insertAndUpdateStamping" value="false"/></p>
	<p>Può inserire e moficare password: Sì <input type="radio" name="insertAndUpdatePassword" value="true"/> No <input type="radio" name="insertAndUpdatePassword" value="false"/></p>
	<p>Può inserire e modifcare orari di lavoro: Sì <input type="radio" name="insertAndUpdateWorkingTime" value="true"/> No <input type="radio" name="insertAndUpdateWorkingTime" value="false"/></p>
	<p>Può inserire e modificare assenze: Sì <input type="radio" name="insertAndUpdateAbsence" value="true"/> No <input type="radio" name="insertAndUpdateAbsence" value="false"/></p>
	<p>Può inserire e modificare configurazioni di sistema: Sì <input type="radio" name="insertAndUpdateConfiguration" value="true"/> No <input type="radio" name="insertAndUpdateConfiguration" value="false"/></p>
	<p>Può inserire e modificare utenti amministratori: Sì <input type="radio" name="insertAndUpdateAdministrator" value="true"/> No <input type="radio" name="insertAndUpdateAdministrator" value="false"/></p>
	<p>Può caricare le situazioni del personale: Sì <input type="radio" name="uploadSituation" value="true"/> No <input type="radio" name="uploadSituation" value="false"/> 
</fieldset>
<div id="frm">
<input class="btn btn-primary" id="insertAdmin" type="submit" value="Ok"/>

#{/form}

#{form @Administrators.discard()}
<input class="btn" id="discardAdmin" type="submit" value="Annulla"/>

#{/form}
</div>