#{extends 'modal.html' /}
#{set modalHeader: 'Gestione Account Sistema ' + wrapperOffice.value.name /}

<div class="container-fluid">

  #{form @Administrators.saveSystemUro()}
	
	<input type="hidden" name="office.id" value="${wrapperOffice.value.id}"/>
		
	<table class="table table-form table-hover">
	  
	  <tr>
        <td> <strong>Ruolo</strong> </td>
        <td>
          <select name="role.id">
	        #{list items:systemRoles, as:'roleItem'}
	          <option value="${roleItem.id}">
                ${roleItem.name}
	          </option>
			#{/list}
	      </select>
        </td>
      </tr>
	  <tr>
	    <td> <strong>Username</strong> </td>
        <td> <input type="text" name="username"/> </td>
      </tr>
      <tr>
	    <td> <strong>Password</strong> </td>
        <td> <input type="text" name="password"/> </td>
      </tr>  
      
	 </table>
	 
	 <p class="center">
	 <input class="btn btn-primary" type="submit" value="Inserisci" />
	 </p>
	
	
	#{/form}

</div>