#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione amministratori'  /}


<div class="container-fluid">

  <table>
    <tr>
      <th>Nome</th>
      #{list items:officeList, as:'office'}
        <th>${office.name}</th>
      #{/list}
    </tr>
    
    #{list items:personList, as:'person'}
  
      <tr>
          <td>${person.name} ${person.surname}</td>
          #{list items:officeList, as:'office'}
          
            <td>
              #{if person.user.isOfficeGeneralAdministrator(office)}
                <span class="glyphicon glyphicon-ok"></span>
              #{/if}
              #{else}
                
              #{/else}
            </td>
            
          #{/list}
      </tr>
      
    #{/list}
    
  </table>


</div>
