#{extends 'main_admin.html' /}

<h3 id="gestioneUtenteAmministrativo">Gestione user per accesso amministrativo</h3>

#{functionalMenuForm mainMenu: mainMenu /}

<p id="inserisciAmministratore"><a href="@{Administrators.insertAdmin}">Inserisci un nuovo amministratore</a></p>

<h3 id="utentiEsistenti">User esistenti</h3>

<table class="table table-striped" id="listaAmministratori">
	<tr>
		<th>Nome</th>
		<th>Cognome</th>
		<th>Può vedere persone</th>
		<th>Può inserire e modificare persone</th>
		<th>Può cancellare persone</th>
		<th>Può inserire e modificare timbrature</th>
		<th>Può inserire e moficare password</th>
		<th>Può inserire e modifcare orari di lavoro</th>
		<th>Può inserire e modificare assenze</th>
		<th>Può inserire e modificare configurazioni di sistema</th>
		<th>Può inserire e modificare utenti amministratori</th>
		<th>Può inserire e modificare straordinari e competenze</th>
		<th>Può inserire e modificare ferie e permessi</th>
		<th>Può caricare la situazione del personale<th>
		
	</tr>
	%{
		for(admin in administratorList){ 
	}%
	<tr>
		<td><a href="@{Administrators.edit(admin.id)}">${admin.name}</a></td>
		<td>${admin.surname}</td>
		<td>
		
		%{ if(admin.isViewPersonAvailable() == true){ }%
				<input type="checkbox" name="viewPersonList" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="viewPersonList" value=""/>
			%{ } }%		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdatePersonAvailable()==true){ }%
				<input type="checkbox" name="insertAndUpdatePerson" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdatePerson" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isDeletePersonAvailable()){ }%
				<input type="checkbox" name="deletePerson" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="deletePerson" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdateStampingAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateStamping" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateStamping" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdatePasswordAvailable()){ }%
				<input type="checkbox" name="insertAndUpdatePassword" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdatePassword" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdateWorkinTimeAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateWorkingTime" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateWorkingTime" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdateAbsenceAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateAbsence" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateAbsence" value=""/>
			%{ } }%
			
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdateConfigurationAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateConfiguration" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateConfiguration" value=""/>
			%{ } }%
		
		</td>
		<td>
		
		%{ if(admin.isInsertAndUpdateAdministratorAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateAdministrator" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateAdministrator" value=""/>
			%{ } }%
			
		</td>	
		<td>
		
		%{ if(admin.isInsertAndUpdateCompetenceAndOvertimeAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateCompetences" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateCompetences" value=""/>
			%{ } }%
			
		</td>	
		<td>
		
		%{ if(admin.isInsertAndUpdateVacationsAvailable()){ }%
				<input type="checkbox" name="insertAndUpdateVacations" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="insertAndUpdateVacations" value=""/>
			%{ } }%
			
		</td>	
		<td>
		
		%{ if(admin.isUploadSituationAvailable()){ }%
				<input type="checkbox" name="uploadSituation" value ="" checked="checked"/>
			%{ } else { }%
				<input type="checkbox" name="uploadSituation" value=""/>
			%{ } }%
			
		</td>
	</tr>

	%{
		}
	}%
</table>