#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione amministratori'  /}


<div class="container">

  <table class="table center table-hover table-condensed">
    <tr>
      <th>Nome</th>
      #{list items:officeList, as:'office'}
        <th>${office.name}</th>
      #{/list}
    </tr>
    
    #{list items:personList, as:'person'}
  
      <tr>
          <td class="warning">
            ${person.name} ${person.surname}
          </td>
          #{list items:officeList, as:'office'}
          
            
              #{if person.user.isOfficeGeneralAdministrator(office)}
              <td class="success">
                <a href="@{Administrators.edit(person.id, office.id)}"><span class="glyphicon glyphicon-pencil"></span></a>
              </td>
              #{/if}
              #{else}
              <td>
                <a href="@{Administrators.edit(person.id, office.id)}"><span class="glyphicon glyphicon-pencil"></span></a>
              </td>  
              #{/else}
            
            
          #{/list}
      </tr>
      
    #{/list}
    
  </table>


</div>
