#{f.edit _arg, label:_label}
%{
	value = _value == null ? field.value : _value;
}%
<label class="radio-inline ${_class}" #{if _popover}popover data-content=#{if _popText}${_popText}#{/if}#{else}'&{field.name+'.popover'}'#{/else}#{/if}>
	<input type="radio" name="${field.name}" value="true"#{if value == true} checked#{/if}>${_true == null ? 'Si' : _true}
</label>
<label class="radio-inline ${_class}" #{if _popover}popover data-content=#{if _popText}${_popText}#{/if}#{else}'&{field.name+'.popover'}'#{/else}#{/if}>
	<input type="radio" name="${field.name}" value="false"#{if value == false} checked#{/if}>${_false == null ? 'No' : _false}
</label>
#{/f.edit}