#{field _arg}
%{
value = _value == null ? field.value : _value;
}%
<div class='form-group #{if field.error}has-error has-feedback#{/if}'>
    <div class="col-sm-offset-3 col-sm-6">
        <div class="checkbox">
            <label>
                <input #{if _class}class=${_class} #{/if}name="${field.name}" type="checkbox"#{if _value} checked#{/if}#{if _title} title='${_title}'#{/if}#{if _disabled} disabled#{/if}/>
				#{if _label}${_label}#{/if}#{else}&{field.name}#{/else}
                <input name="${field.name}" type="hidden"  />
            </label>
        </div>
    </div>
	#{if _description}<div class="col-sm-3">&{field.name+'.description'}</div>#{/if}
</div>
#{/field}