<div class='form-group #{if _arg.error}has-error has-feedback#{/if}'>
	<label for="${_arg.id}" class="col-sm-3 control-label">&{_arg.name}#{if _required?:false}*#{/if}</label>
	<div class="col-sm-6">
		<div class="input-group">
			<input datepicker#{if _view}-${_view}#{/if} class="form-control ${_attrs['class']}" id="${_arg.id}" name="${_arg.name}" type="text" 
			value="${_value == null ? _arg.value?.value() : _value}" >
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
	</div>
	#{if _arg.error}
	<span class="help-block col-sm-3">&{_arg.error}</span>
	#{/if}
</div>