#{field _arg}
<div class='form-group #{if field.error}has-error has-feedback#{/if}'>
	<label for="${field.id}" class="col-sm-3 control-label">&{field.name}#{if _required?:false}*#{/if}</label>
	<div class="col-sm-6">
		<div class="input-group">
			<input datepicker#{if _view}-${_view}#{/if} class="form-control ${_attrs['class']}" id="${field.id}" name="${field.name}" type="text" 
			value="${_value == null ? field.value?.format() : _value}" >
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		</div>
	</div>
	#{if field.error}
	<span class="help-block col-sm-3">&{field.error}</span>
	#{/if}
</div>
#{/field}