#{field _arg}
<div class='form-group #{if field.error}has-error has-feedback#{/if}'>
	<label for="${field.id}" class="col-sm-3 control-label">&{field.name}#{if _required}*#{/if}</label>
	<div class="col-sm-6">
		<input class="form-control ${_class}" id="${field.id}" name="${field.name}" type="${_type == null ? 'text' : _type}"
		 value="${_value == null ? field.value : _value}"#{if _placeholder} placeholder="${_placeholder}"#{/if}#{if _popover} popover data-content='&{field.name+'.popover'}'#{/if}#{if _disabled} disabled#{/if} >
		#{if field.error}
		<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
		<span class="help-block">&{field.error}</span>
		#{/if}
	</div>
	#{if _description}<div class="col-sm-3">&{field.name+'.description'}</div>#{/if}
</div>
#{/field}