*{ATTENZIONE! i popover bootstrap non sono compatibili con la select2, non usarli contemporaneamente!!}*
#{f.edit _arg, label:_label}

*{
Per fare confronto con liste di tipi primitivi (esempio integer, etc) passare il campo
byEquals: true
}*

<input type="hidden" name="${field.name}" value=""/>
<select class="form-control ${_class}" name="${field.name}" id="${field.id}" multiple select2
        ${helpers.Web.serialize(_attrs, "arg", "value", "label", "items").raw()}>
<option></option>
#{list _items}
  #{if _byEquals}
    <option value="${_}"#{if _value?.contains(_)} selected#{/if}}>${_.label()}</option>
  #{/if}
  #{else }
    <option value="${_}"#{if field.value.contains(_)} selected#{/if}>${_.label()}</option>
  #{/else}
#{/list}
</select>
#{/f.edit}