<tr>
#{field _arg}

  <!-- label -->
  <td class="lab">
    #{if _required}
      <strong>&{field.name}</strong>
    #{/if}
    #{else}
      &{field.name}
    #{/else}
  </td>
  
  <!-- input -->
  %{
  	_argId = field.name + '.id'
  }%
  <td>
    ${field.value}
    #{select _argId, value:_value?.id } 
	  #{option null}Seleziona &{field.name}#{/option}
	
	  #{list items: _items, as: 'item'}
	    #{option item.id}${item.label}#{/option}
	  #{/list}
	
	#{/select}
	#{ifError field.name}<span class="error">${field.error}</span>#{/ifError}
  </td>
  	
#{/field}
</tr>

