#{field _arg}
<div class='form-group #{if field.error}has-error has-feedback#{/if}'>
	<label for="${field.id}" class="col-sm-3 control-label">&{field.name}#{if _required?:false}*#{/if}</label>
	<div class="col-sm-6">
      #{select field.name + '.id', value:field.value?.id, id:field.id,class:'form-control'}
      	#{option}#{/option}
		#{list _items}
			#{option _.id}${_.label}#{/option}
		#{/list}
	  #{/select}
    </div>
    #{if field.error}
     <span class="help-block col-sm-3">&{field.error}</span>
    #{/if}
</div>
#{/field}