*{
  id: id della sequenza del blocco da inseriri
  expireDate: data di scadenza
  admin: amministratore
  today: data di oggi...
}* 

		    <tr>
		      <td>
		        <input type="number" name="codeBlock${_id}"/>		      
		      </td>
		      <td>
		        #{select ('dimBlock'+_id)}
	              #{option 22}${22}#{/option}
	              #{option 23}${23}#{/option}
		        #{/select}
		      </td>
		      <td>
		        <input name="expireDate${_id}" type="text" 
		        datepicker value="${_expireDate?.format()}"/>
		      </td>
		      <td>
		        ${_today?.format()}
		      </td>
		      <td>${_admin.person.name} ${_admin.person.surname}</td>
		    </tr>