*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   officeId = session.get("officeSelected");
}%

<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("recapMealTickets")} class="active" #{/if}>
      <a href="@{MealTickets.recapMealTickets(year, month, officeId)}">Riepilogo</a>
    </li>
    <li #{if _activeAction.equals("returnedMealTickets")} class="active" #{/if}>
      <a href="@{MealTickets.returnedMealTickets(officeId)}">Riconsegnati</a>
    </li>
    <li #{if _activeAction.equals("findCodeBlock")} class="active" #{/if}>
      <a href="@{MealTickets.findCodeBlock()}">Ricerca</a>
    </li>
  </ul>
</div>
<br>
