*{
	activeAction: la action tab attiva
}*

%{ year = session.get("yearSelected");
   month = session.get("monthSelected");
   personId = session.get("personSelected"); }%
   
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
    <li #{if _activeAction.equals("showGeneralMonthlyAbsences")} class="active" #{/if}>
      <a href="@{Absences.showGeneralMonthlyAbsences(year, month)}">Assenze Mensili</a>
    </li>
    <li #{if _activeAction.equals("yearlyAbsences")} class="active" #{/if}>
      <a href="@{Absences.yearlyAbsences(personId, year)}">Assenze Annuali</a>
    </li>
    <li #{if _activeAction.equals("manageAttachmentsPerCode")} class="active" #{/if}>
      <a href="@{Absences.manageAttachmentsPerCode(year, month)}">Allegati Per Codice Assenza</a>
    </li>
    <li #{if _activeAction.equals("manageAttachmentsPerPerson")} class="active" #{/if}>
      <a href="@{Absences.manageAttachmentsPerPerson(personId, year, month)}">Allegati Per Persona</a>
    </li>
    <li #{if _activeAction.equals("absenceInPeriod")} class="active" #{/if}>
      <a href="@{Absences.absenceInPeriod(personId)}">Assenze Nel Periodo</a>
    </li>
  </ul>
</div>
<br>