*{
  absence l'assenza da visionare
  groupSelected Se voglio stampare la situazione relativa ad un gruppo. In quel caso oltre al popover stampo
                la lable. Se null siamo nel tabellone timbrature.
  remainingTroubles: copia runtime degli errori calcolati
}*

 %{
   if (_absence.id == null) {
     id = _absence.absenceDate.year + _absence.absenceDate.monthOfYear + _absence.absenceType.id; 
   } else {
     id = _absence.id;
   }
 
 }%
 
 
 #{if _groupSelected}
   *{
   <span class="label
   #{if templateUtility.isTakableOnly(_absence.absenceType, _groupSelected)} label-warning #{/if}
   #{elseif templateUtility.isReplacingCode(_absence.absenceType, _groupSelected)} label-default  #{/elseif}
   #{elseif templateUtility.isComplationCode(_absence.absenceType, _groupSelected)} label-success #{/elseif}
   #{else} label-info #{/else} 
   " webui-popover-hover data-url="#${id}">${_absence.absenceType.code}</span>
   }*
   <span class="
   #{if templateUtility.isTakableOnly(_absence.absenceType, _groupSelected)} text-warning #{/if}
   #{elseif templateUtility.isReplacingCode(_absence.absenceType, _groupSelected)} text-default  #{/elseif}
   #{elseif templateUtility.isComplationCode(_absence.absenceType, _groupSelected)} text-success #{/elseif}
   #{else} text-info #{/else} 
   " webui-popover-hover data-url="#${id}"><strong>${_absence.absenceType.code}</strong></span>   
 #{/if}
 
 <div class="webui-popover-content" id="${id}">
    
    #{if _absence.absenceType.internalUse }
      <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-paper-plane-o fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger"></i>
        </span>
        <strong class="text-success">Il codice ${_absence.absenceType.code} è ad uso interno ePAS e non verrà inviato ad attestati.</strong>

      </p>
    #{/if}
    #{else}
      <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-paper-plane-o fa-stack-1x"></i>
        </span>
        <strong class="text-success">Il codice ${_absence.absenceType.code} verrà inviato ad attestati.</strong>

      </p>
           
    #{/else}
   
    #{if _person && !templateUtility.involvedGroupAbsenceType(_absence.absenceType).empty }
    <p>
      #{list items:templateUtility.involvedGroupAbsenceType(_absence.absenceType), as:'group'}
        %{ groupVerified = false; }%
        #{if _absence.personDay}
        #{list items:_absence.personDay.absences, as:'otherAbsence' }
          #{if !otherAbsence.equals(_absence)}
            #{if group.complationAbsenceBehaviour && group.complationAbsenceBehaviour.replacingCodes.contains(otherAbsence.absenceType)}
               <p>
                 <span class="fa-stack fa-lg">
                   <i class="fa fa-paper-plane-o fa-stack-1x"></i>
                 </span>
                 <strong class="text-success">Il codice ${otherAbsence.absenceType.code} verrà inviato ad attestati.</strong>
                 %{ groupVerified = true; }%
                 <a href="@{AbsenceGroups.groupStatus(_person.id, group.id, _absence.getAbsenceDate().format())}">Verifica</a>
               </p>
            #{/if}
          #{/if}
        #{/list}
        #{/if}
        
        #{if !groupVerified }
          <a href="@{AbsenceGroups.groupStatus(_person.id, group.id, _absence.getAbsenceDate().format())}">${group.description} </a>
        #{/if}   
      #{/list}
    </p>  
    #{/if}
    
    
    <strong class="text-primary">${_absence.absenceType.code}</strong><br>
    <strong>Data</strong> ${_absence.absenceDate.format()}<br>
    <strong>Descrizione</strong> ${_absence.absenceType.description}<br>
    #{absences.justifiedTime absence:_absence /}
    
    #{if _remainingTroubles }
    <br>
         #{list items:_remainingTroubles, as:'trouble'}
           <strong class="text-danger">&{trouble.trouble}</strong><br>
         #{/list}
    #{/if}
    #{elseif !_absence.troubles.empty}
    <br>
         #{list items:_absence.troubles, as:'trouble'}
           <strong class="text-danger">&{trouble.trouble}</strong><br>
         #{/list}
     #{/elseif}

  </div>

   