*{ almeno una tab visibile ... }*
#{if _absenceRequestForm.tabsVisibile.values()}
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
  
  *{ per ogni tab visibile ... }*  
  #{list items:_absenceRequestForm.tabsVisibile.values(), as:'tab' }
       <li #{if !_findCode && _absenceRequestForm.categoryTabSelected.equals(tab)} class="active" #{/if}>
         <a data-async="#absenceData" 
         href="@{AbsenceGroups.insert('personId':_absenceRequestForm.person.id, 'from':_absenceRequestForm.from.format(), 'categoryTab.id':tab.id)}">
         ${tab.label}</a>
       </li>
  #{/list}
  #{secure.check 'AbsenceGroups.findCode',  target:_absenceRequestForm.person.office}
  <li #{if _findCode} class="active" #{/if}>
    <a data-async="#absenceData" 
       href="@{AbsenceGroups.findCode('personId':_absenceRequestForm.person.id, 'from':_absenceRequestForm.from.format())}">
       <i class="fa fa-search" aria-hidden="true"></i> Ricerca Codici</a>
  </li>
  #{/secure.check}
  
  </ul>
</div>
<br>
#{/if}