#{if _absenceRequestForm.tabsVisibile}
<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
  
  #{list items:manager.services.absences.AbsenceForm.AbsenceInsertTab.values(), as:'tab' }
     #{if _absenceRequestForm.tabsVisibile.contains(tab) }
       <li #{if _absenceRequestForm.absenceInsertTab.equals(tab)} class="active" #{/if}>
         <a data-async="#absenceData" 
         href="@{AbsenceGroups.insert(_absenceRequestForm.person.id, _absenceRequestForm.from.format(), tab)}">
         ${tab.label}</a>
       </li>
     #{/if}
  #{/list}
  </ul>
</div>
<br>
#{/if}