#{if _absence.justifiedType}
        #{if _absence.justifiedAllDay() }
          <strong>Tempo giustificato</strong>
          &{_absence.justifiedType}
        #{/if}
        #{if _absence.justifiedAllDayLimit()  }
          <strong>Tempo giustificato</strong>
          &{_absence.justifiedType}
        #{/if}
        #{if _absence.nothingJustified() }
          <strong>Tempo giustificato</strong>
             Questo codice non giustifica alcun orario.
          
        #{/if}
	    #{if _absence.justifiedTime() }
	      <strong>Tempo</strong>
	       ${_absence.justifiedTime().printHourMinute()}
	    #{/if}
#{/if}