#{extends 'main3.html' /}
#{set header: 'navbar' /}
#{set title: 'ePAS - Riepilogo Danila'  /}

 <!-- FILTRO OFFICE RIPETUTO IN OGNI TEMPLATE DI COMPETENCES, DA METTERE NEL NAVBAR?? -->
 <!-- risolto nel branch PersonUserPermssion -->
<div class="container-fluid">
	<div class="center" style="margin-top: 0px; margin-bottom: 10px;">
		#{form action:@MonthRecaps.customRecap(), role:'form',
		class:'form-inline', method:'GET', autocomplete:'off'}
		<div class="form-group">
			<label class="hidden-xs hidden-sm" for="dip">Sede</label> 
			<input type="hidden" name="year" value="${year}" />
			<input type="hidden" name="month" value="${month}" /> 
			<select name="officeId" class="form-control" id="dip" 
			onChange="javascript:this.form.submit()"> 
			#{list items:offices, as:'officeItem'}
				<option value="${officeItem.id}" 
				    #{if officeItem.id.equals(office.id) } selected="selected"#{/if} >
					${officeItem.name}
				</option>
			#{/list}
			</select>
		</div>

		<button type="submit" class="btn btn-default">Invio</button>
		#{/form}
	</div>
</div>
<!-- FINE FILTRO OFFICE -->

<div class="container-fluid">

 <table class="table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
   <thead>
      <tr>
          <th>Persona</th>
		  <th>Ferie residue<br>anno passato</th>
		  <th>Ferie residue<br>anno corrente</th>
		  <th>Permessi residui<br>anno corrente</th>
		  <th>Monte ore<br>anno passato</th>
		  <th>Monte ore<br>anno corrente</th>
		  <th>Riposi</th>
		  <th>Straordinari<br>Feriali S1</th>
		  <th>Straordinari<br>Festivi S2</th>
      </tr>
   </thead>

   <tbody>
   		
   		#{list items:customRecapList, as:'recap'}
		
		   <tr>
		     <td>${recap.person.fullname}</td>
		     <td>${recap.ferieAnnoPassato}</td>
		     <td>${recap.ferieAnnoCorrente}</td>
		     <td>${recap.permessi}</td>
		     <td data-order="${recap.monteOreAnnoPassato}">${recap.monteOreAnnoPassato.toHourTime()}</td>
		     <td data-order="${recap.monteOreAnnoCorrente}">${recap.monteOreAnnoCorrente.toHourTime()}</td>
		     <td>${recap.giorni}</td>
		     <td>${recap.straordinariFeriali / 60 }</td>
		     <td>${recap.straordinariFestivi / 60 }</td>
		   </tr>
		
		#{/list}
   
   </tbody>
 </table>

</div>

<div class="alert alert-success">
	Riepilogo mensile <a href="@{MonthRecaps.showRecaps(year, month, officeId)}">versione classica</a> (link provvisorio).
</div>
