#{extends 'main3.html' /}
#{set header: 'navbar' /}
#{set title: 'ePAS - Riepilogo Mensile'  /}

<div class="container-fluid">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Riepilogo mensile &{'views.tags.display.date.month.' + month} ${year} </h3>
    </div>
    <div class="panel-body">
        

	  <p class="lead">Numero di giorni lavorativi: ${generalWorkingDaysOfMonth}</p>
	  
	 
	  
	     <div class="col-xs-5">
	     
          #{form action:@MonthRecaps.show(), class:'form', method:'GET', autocomplete:'off',
          'data-reload-no-ajax':'#results'}
    
            <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="input-medium search-query"/>
            <i class="icon-search icon-large"></i>
            <input type="hidden" name="year" value="${year}"/>
	        <input type="hidden" name="month" value="${month}"/>
          #{/form}
         </div>

         

          <div class="col-xs-7">
            <ul class="pagination">
  	          #{list items:0..simpleResults.totalPage-1, as:'indexPage', class:'inline'}
  	            #{if simpleResults.page==indexPage}
  	              <li class="active"><a href="#">${indexPage+1}</a></li>
  	            #{/if}
  	            #{else}
  	              <li><a href="@{MonthRecaps.show(year, month, name, indexPage)}">${indexPage+1}</a></li>
  	            #{/else}
  	          #{/list}
            </ul>
		  </div>
	  
	  
	  
	  
		  <table class="table table-hover center">
			<tr>
				<th>Nome</th>
				%{  for(col in tableMonthRecap.columnKeySet()){
				}%
				<th>${col}</th>
				%{
					}
				}%
				</tr>
				
				%{  
				for(entry in tableMonthRecap.rowMap().entrySet())
				{
				}%
				<tr>
					
					<td class="caratteristica">
						<a href="@{Stampings.personStamping(entry.getKey().id,lastDayOfMonth.getYear(),lastDayOfMonth.getMonthOfYear())}">${entry.getKey().name} ${entry.getKey().surname}</a>
					</td>
					
					%{ 
					for(col in tableMonthRecap.columnKeySet())
					{
						 if(col.equals('Differenza ore (Residuo a fine mese)') || col.equals('Ore di lavoro fatte'))
						 {
					}%
							<td>${entry.getValue().get(col).toHourTime()}</td>
					%{
						}
						if(col.equals('Assenze giustificate')){
							
					}%						
							<td>
		 					  <a data-toggle="modal"  href="@{MonthRecaps.justifiedAbsences(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" data-modal=".my-modal">${entry.getValue().get(col)}</a>
							</td>
					%{
							
						}
						if(col.equals('Assenze non giustificate')){
					}%
							<td>
							  <a data-toggle="modal"  href="@{MonthRecaps.notJustifiedAbsences(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" data-modal=".my-modal">${entry.getValue().get(col)}</a>
							</td>
					%{
						}
						if(col.equals('Giorni di presenza al lavoro nei giorni festivi')){
					}%
							<td>
							  <a data-toggle="modal"  href="@{MonthRecaps.workingDayHoliday(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" data-modal=".my-modal">${entry.getValue().get(col)}</a>
							</td>
					%{
						}
						if(col.equals('Giorni di presenza al lavoro nei giorni lavorativi')){
					}%
							<td>
							  <a data-toggle="modal"  href="@{MonthRecaps.workingDayNotHoliday(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" data-modal=".my-modal">${entry.getValue().get(col)}</a>
							</td>
					%{
						}
						if(col.equals('Ore straord. pagate') || col.equals('Buoni mensa da restituire')){
					}%
					  		<td>${entry.getValue().get(col)}</td>
					%{
						}
			
						
					}	
					}%
				
				</tr>
				%{
					}
				}%	
		  </table>
		  
		 
	  
	   
	  
	</div>
  </div> <!-- end panel -->  

</div>

#{include '_myModal.html' /}




