#{extends 'main3.html' /}
#{set header: 'navbar' /}
#{set title: 'ePAS - Riepilogo Mensile'  /}

<div class="container-fluid">
 
 <!-- FILTRO OFFICE RIPETUTO IN OGNI TEMPLATE DI COMPETENCES, DA METTERE NEL NAVBAR?? -->
 <!-- risolto nel branch PersonUserPermssion -->
<div class="container-fluid">
	<div class="center" style="margin-top: 0px; margin-bottom: 10px;">
		#{form action:@MonthRecaps.showRecaps(), role:'form',
		class:'form-inline', method:'GET', autocomplete:'off'}
		<div class="form-group">
			<label class="hidden-xs hidden-sm" for="dip">Sede</label> 
			<input type="hidden" name="year" value="${year}" />
			<input type="hidden" name="month" value="${month}" /> 
			<select name="officeId" class="form-control" id="dip" 
			onChange="javascript:this.form.submit()"> 
			#{list items:offices, as:'officeItem'}
				<option value="${officeItem.id}" 
				    #{if officeItem.id.equals(office.id) } selected="selected"#{/if} >
					${officeItem.name}
				</option>
			#{/list}
			</select>
		</div>

		<button type="submit" class="btn btn-default">Invio</button>
		#{/form}
	</div>
</div>
<!-- FINE FILTRO OFFICE -->


 <table class="datatable-test table table-striped table-bordered table-condensed" cellspacing="0" width="100%">
   <thead>
      <tr>
          <th>Nome</th>
		  <th>Monte ore <br>anno passato</th>
		  <th>Monte ore <br>anno corrente</th>
		  <th>Buoni residui</th>
		  <th>Progressivo</th>
		  <th>Ore Lavorate</th>
		  <th>Riposi</th>
		  <th>Straordinari</th>
      </tr>
   </thead>
 
   <tfoot>
      <tr>
          <th>Nome</th>
		  <th>Monte ore <br>anno passato</th>
		  <th>Monte ore <br>anno corrente</th>
		  <th>Buoni residui</th>
		  <th>Progressivo</th>
		  <th>Ore Lavorate</th>
		  <th>Riposi</th>
		  <th>Straordinari</th>
      </tr>
   </tfoot>
   <tbody>
   		
   		#{list items:recaps, as:'recap'}
		
		   <tr>
		     <td>${recap.contract.person.fullname}</td>
		     
		     <td data-order="${recap.remainingMinutesLastYear}" #{if recap.remainingMinutesLastYear < 0} class="danger"#{/if}>${recap.remainingMinutesLastYear.toHourTime()}</td>
		     
		     <td data-order="${recap.remainingMinutesCurrentYear}" #{if recap.remainingMinutesCurrentYear < 0} class="danger"#{/if}>${recap.remainingMinutesCurrentYear.toHourTime()}</td>
		     <td #{if recap.remainingMealTickets < 0} class="danger"#{/if}>${recap.remainingMealTickets}</td>
		     
		     <td data-order="${recap.progressivoFinaleMese}" #{if recap.progressivoFinaleMese < 0} class="danger"#{/if}>${recap.progressivoFinaleMese.toHourTime()}</td>
		     <td data-order="${recap.oreLavorate}">${recap.oreLavorate.toHourTime()}</td>
		     <td>${recap.recoveryDayUsed}</td>
		     <td #{if recap.straordinarioMinuti > 0} class="warning"#{/if}>${recap.straordinarioMinuti.toHourTime()}</td>
		   </tr>
		
		#{/list}
   
   </tbody>
 </table>

</div>

<div class="alert alert-success">
	Riepilogo mensile <a href="@{MonthRecaps.customRecap(year, month, officeId)}">versione 2</a> (link provvisorio).
</div>


