#{extends 'main3.html' /}
#{set header: 'navbar' /}
#{set title: 'ePAS - Riepilogo Mensile'  /}


<div class="container">

  #{title title:'Riepilogo mensile ' + templateUtility.monthName(month) + ' ' + year, administration:true /}

 <table class="table table-striped table-hover" width="100%" datatable>
   <thead>
      <tr>
          <th>Nome</th>
		  <th>Monte ore <br>anno passato</th>
		  <th>Monte ore <br>anno corrente</th>
		  <th>Buoni residui</th>
		  <th>Progressivo</th>
		  <th>Ore Lavorate</th>
		  <th>Riposi</th>
		  <th>Straordinari</th>
      </tr>
   </thead>
 
   <tbody>
   		
   		#{list items:recaps, as:'recap'}
		
		   <tr>
		     <td>${recap.contract.person.fullname}</td>
		     
		     <td data-order="${recap.remainingMinutesLastYear}" #{if recap.remainingMinutesLastYear < 0} class="danger"#{/if}>${recap.remainingMinutesLastYear.toHourTime()}</td>
		     
		     <td data-order="${recap.remainingMinutesCurrentYear}" #{if recap.remainingMinutesCurrentYear < 0} class="danger"#{/if}>${recap.remainingMinutesCurrentYear.toHourTime()}</td>
		     <td #{if recap.remainingMealTickets < 0} class="danger"#{/if}>${recap.remainingMealTickets}</td>
		     
		     <td data-order="${recap.progressivoFinaleMese}" #{if recap.progressivoFinaleMese < 0} class="danger"#{/if}>${recap.progressivoFinaleMese.toHourTime()}</td>
		     <td data-order="${recap.oreLavorate}">${recap.oreLavorate.toHourTime()}</td>
		     <td>${recap.recoveryDayUsed}</td>
		     <td #{if recap.straordinarioMinuti > 0} class="warning"#{/if}>${recap.straordinarioMinuti.toHourTime()}</td>
		   </tr>
		
		#{/list}
   
   </tbody>
 </table>

<div class="alert alert-success">
	Riepilogo mensile <a href="@{MonthRecaps.customRecap(year, month, session.get("officeSelected"))}">versione 2</a> (link provvisorio).
</div>

</div>





