#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /} 

%{if(lastDayOfMonth != null){
}%
	<h3 id="riepilogoMensile">Riepilogo Mensile <span class="capitalized">&{'views.tags.display.date.month.' + lastDayOfMonth.getMonthOfYear()}</span> ${lastDayOfMonth.getYear()}</h3>
	%{
	}else{
	}%
	<h3 id="riepilogoMensile">Riepilogo di tutti i mesi fino ad oggi</h3>
	%{
	}
	}%
	
<p id="numeroGiorniLavorativi">Numero di giorni lavorativi: ${generalWorkingDaysOfMonth}</p>
  <table>
	<tr>
		<th>Nome</th>
		%{  for(col in tableMonthRecap.columnKeySet()){
		}%
		<th>${col}</th>
		%{
			}
		}%
		</tr>
		
		%{  for(entry in tableMonthRecap.rowMap().entrySet()){
			}%
		<tr>
			<td>${entry.getKey().name} ${entry.getKey().surname}</td>
			%{ for(col in tableMonthRecap.columnKeySet()){
				 if(col.equals('Differenza ore (Residuo a fine mese)') || col.equals('Ore di lavoro fatte')){
			}%
					<td>${entry.getValue().get(col).toHourTime()}</td>
			%{
				}
				if(col.equals('Assenze giustificate')){
					
			}%						
					<td>
					<a href="@{MonthRecaps.justifiedAbsences(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" class="justifiedAbsence${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}">${entry.getValue().get(col)}</a>
					<script type="text/javascript"> 
					$('.justifiedAbsence${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}').popupWindow({ 
						height:500, 
						width:800, 
						top:50, 
						left:50 
					}); 
					</script></td>
			%{
					
				}
				if(col.equals('Assenze non giustificate')){
			}%
					<td><a href="@{MonthRecaps.notJustifiedAbsences(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" class="notJustifiedAbsence${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}">${entry.getValue().get(col)}</a>
					<script type="text/javascript"> 
					$('.notJustifiedAbsence${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}').popupWindow({ 
						height:500, 
						width:800, 
						top:50, 
						left:50 
					}); 
					</script></td>
			%{
				}
				if(col.equals('Giorni di presenza al lavoro nei giorni festivi')){
			}%
					<td><a href="@{MonthRecaps.workingDayHoliday(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" class="workingDayHoliday${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}">${entry.getValue().get(col)}</a>
					<script type="text/javascript"> 
					$('.workingDayHoliday${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}').popupWindow({ 
						height:500, 
						width:800, 
						top:50, 
						left:50 
					}); 
					</script></td>
			%{
				}
				if(col.equals('Giorni di presenza al lavoro nei giorni lavorativi')){
			}%
					<td><a href="@{MonthRecaps.workingDayNotHoliday(entry.getKey().id, lastDayOfMonth.getYear(), lastDayOfMonth.getMonthOfYear())}" class="workingDayNotHoliday${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}">${entry.getValue().get(col)}</a>
					<script type="text/javascript"> 
					$('.workingDayNotHoliday${entry.getKey().id}-${lastDayOfMonth.getYear()}-${lastDayOfMonth.getMonthOfYear()}').popupWindow({ 
						height:500, 
						width:800, 
						top:50, 
						left:50 
					}); 
					</script></td>
			%{
				}
				if(col.equals('Ore straord. pagate') || col.equals('Buoni mensa da restituire')){
			}%
			  		<td>${entry.getValue().get(col)}</td>
			%{
				}
	
				
			}	
			}%
		
		</tr>
		%{
			}
		}%	
</table>
