#{extends 'main3.html' /}
#{set header: 'navbar' /}
#{set title: 'ePAS - Riepilogo Mensile'  /}

<div class="container-fluid">

	<table class="table">
		<tr>
		  <th>Nome</th>
		  <th>Monte ore <br>anno passato</th>
		  <th>Monte ore <br>anno corrente</th>
		  <th>Buoni residui</th>
		  <th>Riposi compensativi</th>
		</tr>
		
		#{list items:recaps, as:'recap'}
		
		   <tr>
		     <td>${recap.person.fullname}</td>
		     <td>${recap.monteOreAnnoPassato.toHourTime()}</td>
		     <td>${recap.monteOreAnnoCorrente.toHourTime()}</td>
		     <td>${recap.buoniPastoResidui}</td>
		     <td>${recap.numeroRiposiCompensativi}</td>
		   </tr>
		
		#{/list}
	
	</table>

</div>

