#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Assenze mensili' /}

#{switcher year:true, month:true /}

<div class="panel panel-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Assenze mensili &{'Month.'+ month}</h3>
      </div>
      <div class="panel-body">
      
      <table class="table table-striped table-border table-condensed">
	    <tr>
		  <th>Descrizione</th>
		  <th>Codice</th>
		  <th>Numero giorni</th>
	    <tr>
	    
	    #{list items:absenceTypeInMonth.entrySet(), as:'entry'}
	    <tr>
	        <td>${entry.getKey().description}</td>
	        <td>${entry.getKey().code}</td>
	        <td>
	         <a data-toggle="modal" href="@{Absences.absenceInMonth(entry.getKey().code, year, month)}" data-target=".my-modal">${entry.getValue()}</a>
			</td>
		</tr>
		 #{/list}
     </table>
    
     </div>
</div> 



<div class="modal fade my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    
    <div class="modal-content">
             
    </div><!-- /.modal-content -->
           
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->