#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title:'Assenze annuali' /} 

#{switcher year:true /}

#{set 'moreStyles' }

<style>
	@media (max-width: 767px) {
	
	  #assenzeannuali{
	    font-size: .8em;
	  }
	  
	  #assenzeannuali th, #assenzeannuali td{
	    padding-left: 1px;
	    padding-right: 1px;
	  }
	
	}
	
	@media (max-width: 991px) {
	
	  #assenzeannuali{
	    font-size: .8em;
	  }
	  
	  #assenzeannuali {
		background-color: white;
		max-width: 700px;
	  }
	
	}
}
	

</style>

#{/set}

<div class="container">

#{title title:('Assenze Annuali ' + session.get("yearSelected")) /}

<table id="assenzeannuali" class="table table-bordered table-hover table-condensed">

	<!--  Riga di intestazione -->
		
	<tr class="warning">
		<th rowspan="2">Mese</th>
		<th colspan="31">Giorni</th>
	</tr>
		
		#{list items:1..31, as: 'i'}
		  <th class="warning">${i}</th>
		#{/list}
		
		
	<!-- Contenuto tabella assenze annuali -->
	#{list items:yearlyAbsencesRecap.absenceTable.rowMap(), as: 'month'}
	<tr>
		
		<td class="warning">${yearlyAbsencesRecap.fromIntToStringMonth( month.getKey() )}</td>
		#{list items:yearlyAbsencesRecap.absenceTable.columnKeySet(), as: 'col'}
		  <td>${month.getValue().get(col)}</td>
        #{/list}
	</tr>
    #{/list}
  </table>


<div class="container col-lg-8 col-lg-offset-2">
<table class="table table-bordered table-hover table-condensed">
	<tr class="warning">
		<th>Codice assenza</th>
		<th>Descrizione</th>
		<th>Totale</th>			
	</tr>
	#{list items:yearlyAbsencesRecap.absenceSummary.entrySet(), as: 'entry'}
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		<td>${entry.getValue()}</td>
	</tr>
    #{/list}
	<tr>
		<td>TOTALE</td>
		<td></td>
		<td>${yearlyAbsencesRecap.totalAbsence}</td>
	</tr>
</table>
</div>

</div>
