#{extends 'main.html' /}
#{set title:personMonth.person.surname + ' ' + personMonth.person.name + ', matricola=' + personMonth.person.number /}

<h2 id="titoloSituazioneAssenzeMensili">Situazione assenze mensili <span class="capitalized">&{'views.tags.display.date.month.' + personMonth.month}</span> ${personMonth.year}</h2>

#{logoutForm /}

#{functionalMenuForm mainMenu: mainMenu /} 

<table id="assenze_mensili">

	<tr>
		<th>Nome</th>
		%{
			for(entry in personMonth.getAbsenceCode().entrySet()){
		}%
		<th>${entry.getKey().code}</th>
		%{
			}
		}%

	</tr>
	
	<tr>
		<td>${personMonth.person.surname + ' ' + personMonth.person.name}</td>
		%{
			for(entry in personMonth.getAbsenceCode().entrySet()){
		}%
		<td>${entry.getValue()}</td>
		%{
			}
		}%

	</tr>

</table>


*{Significato codici assenza}*

<h3 align="left">Significato codici di assenza</h3>
<table id="Codici di assenza">
	<tr>
		<th width="80">Codice assenza</th>
		<th width="200">Descrizione</th>
					
	</tr>
%{
     for(entry in personMonth.getAbsenceCode().entrySet()) {
}%
	<tr>
		<td>${entry.getKey().code}</td>     
		<td>${entry.getKey().description}</td>	
		
	</tr>

%{  		   
     }
     
}%
</table>