#{extends 'modal.html' /}
#{set modalHeader:'Nuovo codice assenza in data ' + personDay.date + ' per ' + personDay.person.name + ' ' + personDay.person.surname /}

<div class="container-fluid">

  #{form @Absences.insert(),  enctype:'multipart/form-data'}
 	
	<input type="hidden" name="person.id" value="${personDay.person.id}"/>
	<input type="hidden" name="dateFrom" value="${personDay.date}"/>

    <table class="table table-hover table-form">
    
    <tr>
      <td class="lab"><strong>Codice</strong></td>
      <td>
        <div class="container-fluid" style="padding-left:0px;">
          <div class="col-sm-6" style="padding-left:0px; padding-bottom:10px;">
            <input name="absenceCode" type="text" id="absenceCode"/><br>
          </div>
          <div class="col-sm-6" style="padding-left:0px;">
		    #{select 'code', value: '', class:'col-xs-12', id:'assenzaFrequente', 
		    style:'margin-bottom: 10px;', onchange:'Change();'}
		      <option value="">Codici più usati</option>
		      #{list items: frequentAbsenceTypeList, as:'absenceType'} 
	           #{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
		      #{/list}
		    #{/select}
			<br>
			#{select 'code', value: '', class:'col-xs-12', id:'tuttiCodici', onchange:'Change2();'}
		      <option value="">Tutti i codici</option>
		      #{list items: allCodes, as:'absenceType'}
		        #{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
 		      #{/list}
 		    #{/select}
	      </div>
        </div>
        		
      </td>
    </tr>
    
	<tr>
      <td class="lab"><strong>Fino a</strong></td>
      <td><input name="dateTo" type="text" value="${personDay.date?.value()}" datepicker-year /></td>
	</tr>
	
	<tr>
	  <td class="lab"><strong>Allegato</strong></td>
	  <td>
	    <input type="file" name="file">
	  </td>
	</tr>
    </table>
    
    <input style="margin-left: 200px; margin-top: 10px; margin-bottom: 15px;" class="btn btn-primary" type="submit" id="inserisciAssenza" value="Inserisci"/>
  #{/form}
  
	<div class="well col-xs-12">
	  
	  <p>Se si vuole inserire un'assenza per più giorni, inserire nel campo <strong>Fino a</strong> il giorno fino al quale si vuole inserire tale codice d'assenza.</p>
	  <p>Di default, in tale campo, viene visualizzato il giorno di partenza per cui si vuole inserire l'assenza</p>
	  <p class="text-info" style="margin-top: 5px;"><em>N.B. Non e' possibile inserire in uno stesso giorno due codici di assenza che giustificano tutto il giorno</em></p>
	  <p>Utilizzando il codice <em>FER</em> il software provvederà ad assegnare ferie e permessi fin quando disponibili nel seguente ordine di priorità: 
	      <ul>
	        <li>31 (recupero ferie anno precedente)</li>
	        <li>94 (permesso)</li>
	        <li>32 (ferie anno corrente)</li>	        
	      </ul>
	  </p>
	</div>

</div>