#{extends 'main.html' /}
#{set title:personDay.person.surname + ' ' + personDay.person.name + ', matricola=' + personDay.person.number /}

<h3>Modifica codici di assenza del ${personDay.date}</h3>

Inserire il codice di assenza per la persona

#{form @Absences.insert()}
	
	<input type="hidden" name="personId" value="${personDay.person.id}"/>
	<input type="hidden" name="yearFrom" value="${personDay.date.year}"/>
	<input type="hidden" name="monthFrom" value="${personDay.date.monthOfYear}"/>
	<input type="hidden" name="dayFrom" value="${personDay.date.dayOfMonth}"/>

<table>
	<tr>
		<th>Codice da inserire</th>
		<th>Codici</th>
		<th>Fino a</th>
		
	</tr>
	<tr>
		<td>
			<input name="absenceCode" id="absenceCode" type="text" value="${absenceCode}" size="10" maxlength="10" />
			<script type="text/javascript">
   			function Change()
    		{
        		var assenzaFrequente = document.getElementById("assenzaFrequente");
				var absenceCode = document.getElementById("absenceCode");
				absenceCode.value = assenzaFrequente.value;
    		}
			</script>
			<script type="text/javascript">
   			function Change2()
    		{
        		var tuttiCodici = document.getElementById("tuttiCodici");
				var absenceCode = document.getElementById("absenceCode");
				absenceCode.value = tuttiCodici.value;
    		}
			</script>
		</td>
		<td>
		
			#{select 'code', value: '', id:'assenzaFrequente', onclick:'Change();'}
			<option value="">Codici più usati</option>
			%{ 
			for(absenceType in frequentAbsenceTypeList)
			{
			}%
				#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
			}
			}%
			#{/select}	
		
							
			#{select 'code', value: '', id:'tuttiCodici', onclick:'Change2();'}
			<option value="">Tutti i codici</option>
			%{ 
				for(absenceType in allCodes){
			}%
			#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
				}
			}%
			#{/select}		
		</td>
		<td>
			#{select 'annoFine', value:mainMenu.year, id:'annoFine'}
				#{option 2011}2011#{/option}
				#{option 2012}2012#{/option}
				#{option 2013}2013#{/option}
				#{option 2014}2014#{/option}
				#{option 2015}2015#{/option}
			#{/select}
			#{select 'meseFine', value:mainMenu.month, id:'meseFine'}
				#{option 1}Gennaio#{/option}
				#{option 2}Febbraio#{/option}
				#{option 3}Marzo#{/option}
				#{option 4}Aprile#{/option}
				#{option 5}Maggio#{/option}
				#{option 6}Giugno#{/option}
				#{option 7}Luglio#{/option}
				#{option 8}Agosto#{/option}
				#{option 9}Settembre#{/option}
				#{option 10}Ottobre#{/option}
				#{option 11}Novembre#{/option}
				#{option 12}Dicembre#{/option}
			#{/select}
			#{select 'giornoFine', value:mainMenu.day, id:'giornoFine'}
				#{option 1}1#{/option}
				#{option 2}2#{/option}
				#{option 3}3#{/option}
				#{option 4}4#{/option}
				#{option 5}5#{/option}
				#{option 6}6#{/option}
				#{option 7}7#{/option}
				#{option 8}8#{/option}
				#{option 9}9#{/option}
				#{option 10}10#{/option}
				#{option 11}11#{/option}
				#{option 12}12#{/option}
				#{option 13}13#{/option}
				#{option 14}14#{/option}
				#{option 15}15#{/option}
				#{option 16}16#{/option}
				#{option 17}17#{/option}
				#{option 18}18#{/option}
				#{option 19}19#{/option}
				#{option 20}20#{/option}
				#{option 21}21#{/option}
				#{option 22}22#{/option}
				#{option 23}23#{/option}
				#{option 24}24#{/option}
				#{option 25}25#{/option}
				#{option 26}26#{/option}
				#{option 27}27#{/option}
				#{option 28}28#{/option}
				#{option 29}29#{/option}
				#{option 30}30#{/option}
				#{option 31}31#{/option}
			#{/select}
		</td>
	</tr>
</table>
<p>Se si vuole inserire un'assenza per più giorni, selezionare dal menu a tendina qui sopra il giorno, il mese e l'anno fino a cui quel codice deve essere inserito</p>

<fieldset>
	<legend>Buono mensa:</legend>
	  	calcolato<input type="radio" name="buonoMensaCalcolato" value="true" checked="checked"/>
	  	No <input type="radio" name="buonoMensaNo" value="true"/>
	  	Sì <input type="radio" name="buonoMensaSi" value="true"/>
</fieldset>

<p id="allegaFile">
Allega il file contenente la dichiarazione di assenza:<br>
<input type="file" name="datasize" size="30">
</p>

<input type="submit" id="inserisciAssenza" value="Inserisci"/>
#{/form}