#{extends 'main.html' /}
#{set title:personDay.person.surname + ' ' + personDay.person.name + ', matricola=' + personDay.person.number /}

<h3>Modifica codici di assenza del ${personDay.date}</h3>

Inserire il codice di assenza per la persona

#{form @Absences.insert()}
	
	<input type="hidden" name="personId" value="${personDay.person.id}"/>
	<input type="hidden" name="yearFrom" value="${personDay.date.year}"/>
	<input type="hidden" name="monthFrom" value="${personDay.date.monthOfYear}"/>
	<input type="hidden" name="dayFrom" value="${personDay.date.dayOfMonth}"/>

<table>
	<tr>
		<th>Codice da inserire</th>
		<th>Codici</th>
		
	</tr>
	<tr>
		<td><input name="absenceCode" type="text" value="${absenceCode}" size="10" maxlength="10" /></td>
		<td>		
			#{select 'code', value: '', id:'assenzaFrequente'}
			<option value="">Codici più usati</option>
			%{ 
				for(absenceType in frequentAbsenceTypeList){
			}%
			#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
				}
			}%
			#{/select}
							
			#{select 'code', value: '', id:'tuttiCodici'}
			<option value="">Tutti i codici</option>
			%{ 
				for(absenceType in allCodes){
			}%
			#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
				}
			}%
			#{/select}		
		</td>

	</tr>
</table>


<fieldset>
	<legend>Buono mensa:</legend>
	  	calcolato<input type="radio" name="buonoMensaCalcolato" value="true" checked="checked"/>
	  	No <input type="radio" name="buonoMensaNo" value="true"/>
	  	Sì <input type="radio" name="buonoMensaSi" value="true"/>
</fieldset>

<p id="allegaFile">
Allega il file contenente la dichiarazione di assenza:<br>
<input type="file" name="datasize" size="30">
</p>

<input type="submit" value="Inserisci"/>
#{/form}