#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Gestione codice d\'assenza' /}
 		
%{ 
 		if(absenceTypeGroup?.isPersistent()){
 			disableGroup = true;
 		}
 		else{
			disableGroup = false;
 		}
}%
	
 #{form @Absences.saveCode(),class:'form-horizontal col-sm-8 col-sm-offset-2'}
 <input type="hidden" name="absenceType.id" value="${absenceType?.id}">
 <input type="hidden" name="absenceTypeGroup.id" value="${absenceType?.absenceTypeGroup?.id}">

 <div class="panel panel-default">
 	<div class="panel-heading">
 		#{if absenceType?.isPersistent()}
 		<h2 class="panel-title">Modifica dati per codice di assenza: ${absenceType.code}#{if absenceType.description} (${absenceType.description})#{/if}</h2>
 		#{/if}
 		#{else}
 		<h2 class="panel-title">Inserimento nuovo codice d'assenza</h2>
 		#{/else}
 	</div>
 	<div class="panel-body">
 	
 		#{f.input 'absenceType.code',required:'true',value:absenceType?.code,popover:'true' /}
 		#{f.input 'absenceType.certificateCode', value:absenceType.certificateCode,popover:'true' /}
 		#{f.input 'absenceType.description',popover:'true' /}
 		#{f.booleanRadio 'absenceType.internalUse',popover:'true' /}
 		#{f.date 'absenceType.validFrom',view:'year',popover:'true' /}
 		#{f.date 'absenceType.validTo',view:'year',popover:'true' /}
 		#{f.selectEnum 'absenceType.justifiedTimeAtWork',items:models.enumerate.JustifiedTimeAtWork,select2:'off',popover:'true' /}

 		<div class="form-group">
 			<label class="col-sm-3 control-label">Utilizzabile per le categorie:</label>
 				<div class="col-sm-6">
 					<label class="checkbox-inline">
						<input name="tecnologi" type="checkbox"#{if tecnologi} checked#{/if}> Tecnologi (lv 1-3) 
					</label>  
					<label class="checkbox-inline"> 
						<input name="tecnici" type="checkbox"#{if tecnici} checked#{/if}> Tecnici (lv 4-10)
					</label>
				</div>
		</div>

 		#{f.booleanRadio 'absenceType.consideredWeekEnd',popover:'true' /}
 		#{f.input 'absenceTypeGroup.label',popover:'true',disabled:disableGroup /}
 	</div>
 </div> 

	<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Da riempire in caso di gruppo valorizzato</h3>
		  </div>
		<div class="panel-body">

		 #{f.selectEnum 'absenceTypeGroup.accumulationType',items:models.enumerate.AccumulationType,disabled:'true',popover:'true',select2:'off' /}
		 #{f.input 'absenceTypeGroup.limitInMinute',type:'number',disabled:'true',popover:'true' /}
		 #{f.booleanRadio 'absenceTypeGroup.minutesExcess',popover:'true' /}
		 #{f.selectEnum 'absenceTypeGroup.accumulationBehaviour',items:models.enumerate.AccumulationBehaviour,disabled:'true',popover:'true',select2:'off' /}
		 #{f.selectModel 'absenceTypeGroup.replacingAbsenceType',items:templateUtility.certificateAbsenceTypes,disabled:'true',description:'true' /}

 	</div>
 </div> 


 <div class="container-fluid center">
 	<input class="btn btn-primary" type="submit" value="Ok">  
 	<input class="btn" action="action" type="button" value="Indietro" onclick="history.go(-1);">    
 </div>

#{/form}


#{set 'moreScripts'}
<script type="text/javascript">
$(document).ready(function() {
  // questa parte di codice abilita gli input per la modifica dell'absenceTypeGroup se di valorizza il campo label
  $("input[name=absenceTypeGroup\\.label]").keyup(function() {
    if (this.value) {
      $("#absenceTypeGroup\\_accumulationType").removeAttr('disabled');
      $("#absenceTypeGroup\\_limitInMinute").removeAttr('disabled');
      $("#absenceTypeGroup\\_accumulationBehaviour").removeAttr('disabled');
      $("#absenceTypeGroup\\_replacingAbsenceType").removeAttr('disabled');
    } else {
      $("#absenceTypeGroup\\_accumulationType").attr('disabled', 'disabled');
      $("#absenceTypeGroup\\_limitInMinute").attr('disabled', 'disabled');
      $("#absenceTypeGroup\\_accumulationBehaviour").attr('disabled', 'disabled');
      $("#absenceTypeGroup\\_replacingAbsenceType").attr('disabled', 'disabled');
    }
  });
 });
</script>
#{/set}