
#{set title:absence.personDay.person.surname + ' ' + absence.personDay.person.name + ', matricola=' + absence.personDay.person.number /}

<h3>${absence.personDay.date.toDateTime()}</h3>

#{form @Absences.update()}
	

	<input type="hidden" name="absenceId" value="${absence.id}"/>
	<input type="hidden" name="date" value="${absence.personDay.date}"/>
	<input type="hidden" name="person" value="${absence.personDay.person}"/>
	<input type="hidden" name="personId" value="${absence.personDay.person.id}"/>
	<input type="hidden" name="yearFrom" value="${absence.personDay.date.year}"/>
	<input type="hidden" name="monthFrom" value="${absence.personDay.date.monthOfYear}"/>
	<input type="hidden" name="dayFrom" value="${absence.personDay.date.dayOfMonth}"/>


<table>
	<tr>
		<th>Codice da inserire</th>
		<th>Codici</th>
		<th>Fino a</th>
	</tr>
	<tr>
		<td><input name="absenceCode" class="span1"type="text" value="${absence.absenceType.code}" size="20" maxlength="100" /></td>	
		<td>		
			#{select 'code', class:'span2', value: '', id:'assenzaFrequente'}
			<option value="">Codici più usati</option>
			%{ 
				for(absenceType in frequentAbsenceTypeList){
			}%
			#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
				}
			}%
			#{/select}
							
			#{select 'code', class:'span2', value: '', id:'tuttiCodici'}
			<option value="">Tutti i codici</option>
			%{ 
				for(absenceType in allCodes){
			}%
			#{option absenceType.code}${absenceType.code} ${absenceType.getShortDescription()}#{/option}
			%{
				}
			}%
			#{/select}		
		</td>	
		<td>
			#{select 'annoFine', class:'span2',value:mainMenu.year, id:'annoFine'}
				#{option 2011}2011#{/option}
				#{option 2012}2012#{/option}
				#{option 2013}2013#{/option}
				#{option 2014}2014#{/option}
				#{option 2015}2015#{/option}
			#{/select}
			#{select 'meseFine', class:'span2',value:mainMenu.month, id:'meseFine'}
				#{option 1}Gennaio#{/option}
				#{option 2}Febbraio#{/option}
				#{option 3}Marzo#{/option}
				#{option 4}Aprile#{/option}
				#{option 5}Maggio#{/option}
				#{option 6}Giugno#{/option}
				#{option 7}Luglio#{/option}
				#{option 8}Agosto#{/option}
				#{option 9}Settembre#{/option}
				#{option 10}Ottobre#{/option}
				#{option 11}Novembre#{/option}
				#{option 12}Dicembre#{/option}
			#{/select}
			#{select 'giornoFine', class:'span2',value:mainMenu.day, id:'giornoFine'}
				#{option 1}1#{/option}
				#{option 2}2#{/option}
				#{option 3}3#{/option}
				#{option 4}4#{/option}
				#{option 5}5#{/option}
				#{option 6}6#{/option}
				#{option 7}7#{/option}
				#{option 8}8#{/option}
				#{option 9}9#{/option}
				#{option 10}10#{/option}
				#{option 11}11#{/option}
				#{option 12}12#{/option}
				#{option 13}13#{/option}
				#{option 14}14#{/option}
				#{option 15}15#{/option}
				#{option 16}16#{/option}
				#{option 17}17#{/option}
				#{option 18}18#{/option}
				#{option 19}19#{/option}
				#{option 20}20#{/option}
				#{option 21}21#{/option}
				#{option 22}22#{/option}
				#{option 23}23#{/option}
				#{option 24}24#{/option}
				#{option 25}25#{/option}
				#{option 26}26#{/option}
				#{option 27}27#{/option}
				#{option 28}28#{/option}
				#{option 29}29#{/option}
				#{option 30}30#{/option}
				#{option 31}31#{/option}
			#{/select}
		</td>
	</tr>
</table>


<fieldset>
	<legend>Buono mensa:</legend>
		
		#{if absence.absenceType.code.equals("92")}
		    calcolato<input type="radio" name="buonoMensa" value="calcolato" #{if !absence.personDay.isTicketForcedByAdmin } checked="checked" #{/if}/>
	  		No <input type="radio" name="buonoMensa" value="no" 			 #{if absence.personDay.isTicketForcedByAdmin && !absence.personDay.isTicketAvailable } checked="checked" #{/if}/>
	  		Sì <input type="radio" name="buonoMensa" value="si" 			 #{if absence.personDay.isTicketForcedByAdmin && absence.personDay.isTicketAvailable } checked="checked" #{/if}/>
		#{/if}
		#{else}
		   calcolato<input type="radio" name="buonoMensa" value="calcolato" checked="checked" disabled/>	<!-- in questo caso sempre calcolato -->
	  		No <input type="radio" name="buonoMensa" value="no" disabled/>
	  		Sì <input type="radio" name="buonoMensa" value="si" disabled/>
		#{/else}
		
		
</fieldset>

<!-- Qui bisogna inserire un modo per uploadare i file da filesystem contenenti i permessi per eventuali  -->

<p id="allegaFile">
Allega il file contenente la dichiarazione di assenza:<br>
<input type="file" name="datasize" size="30">
</p>

<input class="btn btn-primary" id="inserisciAssenza" type="submit" value="Aggiorna"/>
#{/form}