#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title:'ePAS - Inserimento assenze' /}

#{set 'moreStyles'}
#{stylesheet 'stampingsTable.css'/}
#{/set}

<div class="container col-md-6 col-md-offset-3">

  <h2 class="text-center">Assenze ${templateUtility.monthName(month)} ${year} di ${person.fullname}</h2>

  #{alert color:'danger'}

  <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Attenzione! </strong><br>
  Utilizzando questa pagina è possibile inserire e rimuovere le assenze senza nessun vincolo ne controllo da parte del sistema.
  Un uso non corretto di questa funzionalità potrebbe causare delle anomalie nei conteggi fatti sulla situazione
  dei dipendenti.
  <strong><em>Usare con cautela!</em></strong>
  #{/alert}

  <table id="tabellonetimbrature" class="table table-bordered table-condensed" style="font-size:14pt;">
    <tr>
      <th class="group-single col-xs-3">Giorno</th>
      <th class="group-single">Assenze</th>
    </tr>

    #{list items:psDto.daysRecap, as:'dayRecap'}

    <tr#{if dayRecap.ignoreDay} class="ignore_day"#{/if}>

    <td class="${dayRecap.personDay.holiday ? 'festivi' : 'capitalized'} default-single">
      #{if dayRecap.firstDay }<i class="fa fa-flag-checkered" aria-hidden="true" webui-popover-hover data-content="&{'firstDay'}"></i>#{/if}
      ${dayRecap.personDay.date.shortDayName()}
    </td>

    <td class="assenza default-single" style="padding-right:5px;">
      <a class="btn btn-xs btn-default pull-right" data-async-modal="#modalAbsence"
         href="@{blank(dayRecap.personDay.person.id,dayRecap.personDay.date.format(),true)}">
        Nuova <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      #{list items:dayRecap.personDay.absences, as:'absence'}
      <span class="badge">
        <span webui-popover-hover data-url="#${absence.id}">${absence.absenceType.code} </span>
        #{if absence.justifiedMinutes}${absence.justifiedMinutes}min#{/if}
        &nbsp;

        <a href="@{forceRemoval('absence.id':absence.id)}" webui-popover-hover data-content="Elimina Assenza" style="color:white;">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </span>
      &nbsp;
      <div class="webui-popover-content" id="${absence.id}">
        <strong>${absence.absenceType.code}</strong> ${absence.absenceType.description}
      </div>

      #{/list}
    </td>
    </tr>
    #{/list}
  </table>
</div>

<div id="modalAbsence" class="modal fade container" tabindex="-1"></div>