#{extends 'main_admin.html' /}

<h2 id="inserimentoNuovoCodiceAssenza">Inserimento dati per nuovo codice di assenza</h2>

#{form @Absences.saveAbsenceCode()}
<fieldset>
	<legend>Nuovo codice di assenza</legend>
	<table class="tablenoborder">
		<tr>
			<td>Codice*</td>
			<td><input id="codiceNuovoCodiceAssenza"type="text" name="codice" value="${}" size="10" maxlength="10"/></td>
			<td>codice di assenza</td>
		</tr>
	
		<tr>
			<td>Codice per attestati presenza</td>
			<td><input id="attPresNuovoCodiceAssenza"type="text" name="codiceAttestati" value="${}" size="10" maxlength="10"/></td>
			<td>Usare solo se il codice che deve andare negli attestati di presenza e' diverso da quello definito nella riga precedente (questo diventa il codice vero e quello sulla riga precedente un alias per uso interno)</td>
		</tr>
	
	

		<tr>
			<td>Descrizione*</td>
			<td><input id="descrizioneNuovoCodiceAssenza" type="text" name="descrizione" value="${}" size="50" maxlength="200"/></td>
			<td>Descrizione codice di assenza</td>
		</tr>
		

		<tr>
			<td>Uso interno</td>
			<td>
				Sì<input id="usoInternoNuovoCodiceAssenzaSI" type="radio" name="usoInterno" value="true"/>
     			No<input id="usoInternoNuovoCodiceAssenzaNO" type="radio" name="usoInterno" value="false"/>
     		</td>
			<td>Seleziona "si" se il codice è solo per uso interno (non previsto dal CNR) non sarà trasferito negli attestati di presenza</td>
		</tr>
		
		<tr>
			<td>Uso multiplo </td>
			<td>
				Sì<input id="usoMultiploNuovoCodiceAssenza"type="radio" name="usoMultiplo" value="true"/>
     			No<input type="radio" name="usoMultiplo" value="false"/>
			</td>
			<td>Seleziona "si" se il codice può essere usato insieme ad altri codici nello stesso giorno</td>
		</tr>
		
		<tr>
			<td>Uso w.e. e festivi </td>
			<td>
				Sì<input id="usoMultiploNuovoCodiceAssenza"type="radio" name="weekEnd" value="true"/>
     			No<input type="radio" name="weekEnd" value="false"/>
			</td>
			<td>Seleziona "si" se il codice può essere inserito anche nel week end e nei festivi</td>		
		</tr>

		<tr>
			<td>Inizio validità</td>
			<td><input  type="text" name="inizioValidita" id="datepicker1" data-date-format="yyyy-mm-dd"/></td>
			<td>Data inizio validità di questo codice nel formato aaa/mm/gg (se vuoto valido da sempre)	</td>
		</tr>

		
		<tr>
			<td>Fine validità</td>
			<td><input  type="text" name="fineValidita" id="datepicker2" data-date-format="yyyy-mm-dd"/></td>
			<td>Data fine validità di questo codice nel formato aaaa/mm/gg (se vuoto valido da sempre)</td>
		</tr>
		
		<tr>
			<td>Tempo lavoro giustificato</td>
			<td>
				#{select 'jwt', value:jwt , id:'jwt.id'}
					%{ for(jwt in justifiedTimeAtWorkList){ }%
						#{option jwt}${jwt.description}#{/option}
					%{	} }%
				#{/select} 
			</td>
			<td>Tempo di lavoro giustificato (Es. codice 661h2 indicare 2)</td>
		</tr>
		
		<tr>
			<td>Livelli</td>
			<td>
				<input type="checkbox" name="livello1" value ="livello1" checked= "checked"/> 1
				<input type="checkbox" name="livello2" value ="livello2" checked= "checked"/> 2
				<input type="checkbox" name="livello3" value ="livello3" checked= "checked"/> 3
				<input type="checkbox" name="livello4" value ="livello4" checked= "checked"/> 4
				<input type="checkbox" name="livello5" value ="livello5" checked= "checked"/> 5
				<input type="checkbox" name="livello6" value ="livello6" checked= "checked"/> 6
				<input type="checkbox" name="livello7" value ="livello7" checked= "checked"/> 7
				<input type="checkbox" name="livello8" value ="livello8" checked= "checked"/> 8
				<input type="checkbox" name="livello9" value ="livello9" checked= "checked"/> 9
			</td>
			<td>livelli CNR per i quali può essere usato questo codice</td>
		</tr>
		
	
		<tr>
			<td>Calcolo buono pasto</td>
			<td>
				Sì<input type="radio" name="calcoloBuono" value="true"/>
     			No<input type="radio" name="calcoloBuono" value="false"/>
			</td>
			<td>Seleziona "si" per considerare anche il tempo giustificato nel calcolo della spettanza del buono pasto</td>
		</tr>
		
		
		<tr>
			<td>Ignora timbrature</td>
			<td>
				Sì<input type="radio" name="ignoraTimbrature" value="true"/>
    			No<input type="radio" name="ignoraTimbrature" value="false"/>
			</td>
			<td>Seleziona "si" per ignorare eventuali timbrature di ingresso/uscita quando presente questo codice di assenza (le timbrature inserite dall'amministratore sono gestite regolarmente)</td>
		</tr>
		
		
		<p>
		
		
		
	</p>
		
		
		
		
		
		<tr>
			<td>Gruppo</td>
			<td>
				<input id="gruppoNuovoCodiceAssenza"type="text" name="gruppo" value="${}" size="10" maxlength="10"/><br>
				o seleziona gruppo esistente<br>
				#{select 'label', value:abtg.label, id:'abtg.id'}
					%{ for(abtg in abtList){ }%
						#{option abtg.id}${abtg.label}#{/option}
					%{	} }%										
				#{/select} 
			</td>
			<td><br>Nome che raggruppa più codici che devono essere gestiti insieme per gli accumuli 
			<br>(Es. i codici 661h1,661h2,661h3,.. possono essere assegnati a un gruppo 661hx in modo da poter accumulare i valori e controllare il tetto)</td>
		</tr>
		
	
	</table>
</fieldset>

<fieldset>
	<legend>Da compilare in caso di valorizzazione del campo "Gruppo"</legend>
	<table class="tablenoborder">
		<tr>
			<td>Valore</td>
			<td><input id="valoreNuovoCodiceAssenza"type="text" name="valore" value="${}" size="5" maxlength="5"/></td>
			<td>Valore o peso (Es.codice 661h2 il valore è 2) nel caso di codici a completamento usare 999 per accumulare i minuti mancanti</td>
		</tr>
		
		<tr>
			<td>Minuti in eccesso</td>
			<td>
				Sì<input type="radio" name="minutiEccesso" value="true"/>
     			No<input type="radio" name="minutiEccesso" value="false"/>
     		</td>
			<td>Seleziona "si" se il codice prevede il conteggio dei minuti in eccesso rispetto all'ora intera (Es. codici 18h2,18h3,...)</td>
		</tr>

		<tr>
			<td>Accumulare i valori </td>
			<td>
			#{select 'accType', value:accType, id:'accType.id'}
			%{ for(accType in accumulationTypeList){ }%
				#{option accType}${accType.description}#{/option}
			%{ } }%										
			#{/select} 
			</td>
			<td>Se i valori devono essere sommati per ogni utilizzo. Alla fine del periodo (mese o anno) l'accumulo riparte da zero. (Es. codice 661h2 indicare "Annuale")</td>
		</tr>
		
		<tr>
			<td>Limite accumulo</td>
			<td><input id="limiteAccumuloNuovoCodiceAssenza" type="text" name="limiteAccumulo" value="${}" size="5" maxlength="5"/></td>
			<td>Valore massimo accumulo, raggiuntio il quale deve comportarsi come specificato nella definizione successiva (Es. codice 661h2 indicare 18)</td>
		</tr>

		<tr>
			<td>Cosa fare raggiunto il limite </td>
			<td>
			#{select 'accBehaviour', value:accBehaviour, id:'accBehaviour.id'}
			%{ for(accBehaviour in accumulationBehaviourList){ }%
				#{option accBehaviour}${accBehaviour.description}#{/option}
			%{ } }%										
			#{/select}
			</td>
			<td>Comportamento da tenere al raggiungimento del limite (Es. codice 661h2 selezionere "Non accetta ...")</td>
		</tr>
		
		<tr>
			<td>Codice per sostituzione</td>
			<td><input id="codSostNuovoCodiceAssenza" type="text" name="codicePerSostituzione" value="${}" size="10" maxlength="10"/></td>
			<td>Codice di assenza da sostituire quando nella definizione precedente si è selezionato "sostituisci ..." 
			(Es. si potrebbe definire un codice ad uso interno per mezza giornata di ferie usando: valore=1, quantità giustificata= mezza giornata, accumulare i valori=sempre,limite=2, cosa fare=sostituisci questo campo=32)</td>
		</tr>
		
	</table>	
	

</fieldset>


	<input class="btn btn-primary" id="submitNuovoCodiceAssenza" type="submit" value="Ok"/>

	#{/form}
	#{form @Absences.discard()}
	<input class="btn btn-primary" id="discardNuovoCodiceAssenza" type="submit" value="Annulla"/>
	#{/form}

