#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

#{set breadcrumbs:['Allegati per persona':null] /}
 
<div class="container">
  #{breadcrumbs breadcrumbs /}
  
  #{absences.absencesTabs activeAction:'manageAttachmentsPerPerson' /}
  
  #{title title:'Allegati per persona ' + templateUtility.monthName(month) + ' ' + year, administration:true /}

		<ul class="icons-ul">
			#{list items:personAbsenceListWithFile, as:'personAbsence'}
				<li class="distanziato"> 
				  <i class="icon-li icon-ok"></i>Allegato del ${personAbsence.personDay.date} 
				  <a href="@{Absences.downloadAttachment(personAbsence.id)}"><span class="glyphicon glyphicon-paperclip"></span></a>
				</li>
			#{/list}
		</ul>
</div>
