#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div id="container-fluid-nav-tabs" class="container-fluid">

<ul class="nav nav-tabs">
  <li><a href="@{YearlyAbsences.showGeneralMonthlyAbsences(year, month)}">Assenze Mensili</a></li>
  <li><a href="@{YearlyAbsences.yearlyAbsences(session.get("personSelected"), year)}">Assenze Annuali</a></li>
  <li class="active"><a href="@{Absences.manageAttachmentsPerCode(year, month)}">Gestione Allegati Per Codice</a></li>
  <li><a href="@{Absences.manageAttachmentsPerPerson(session.get("personSelected"), year, month)}">Allegati Per Persona</a></li>
  <li><a href="@{Absences.absenceInPeriod()}">Assenze in periodo</a></li>
</ul>

</div>

<div class="container">

   <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Allegati Assenze &{'views.tags.display.date.month.' + month} ${year} </h3>
      </div>
      <div class="panel-body">
        
		<table class="table table-hover">   
		  <tr>
		  	<th>Codice</th>
		  	<th>Allegati</th>
		  	#{if attachmentRecapList.size() > 0}
		  		<th>Comprimi</th>
		  	#{/if}
		  </tr>
		  #{list items:attachmentRecapList, as:'recap'}
		  <tr>
		    <td>${recap.getCode()}</td>
		    <td>
		      #{list items:recap.absenceSameType, as:'absence'}
		        <a href="@{Absences.downloadAttachment(absence.id)}" 
					   data-toggle="tooltip" 
					   title="${absence.personDay.date} di ${absence.personDay.person.name} ${absence.personDay.person.surname}">
					<span class="glyphicon glyphicon-envelope"></span>
				</a>
		      #{/list}
		    
		    
		    </td>
		    #{if recap != null}
		    	<td><a href="@{Absences.zipAttachment(recap.getCode(),year, month)}" 
					   data-toggle="tooltip" 
					   title="comprimi file">
					<span class="glyphicon glyphicon-compressed"></span>
				</a></td>
		    #{/if}
		  </tr>
		  #{/list}
		
		</table>
	 </div>
   </div>	

</div>