#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

<div id="container-fluid-nav-tabs" class="container-fluid">

<ul class="nav nav-tabs">
  <li><a href="@{YearlyAbsences.showGeneralMonthlyAbsences(year, month)}">Assenze Mensili</a></li>
  <li><a href="@{YearlyAbsences.yearlyAbsences(session.get("personSelected"), year)}">Assenze Annuali</a></li>
  <li><a href="@{Absences.manageAttachmentsPerCode(year, month)}">Gestione Allegati Per Codice</a></li>
  <li class="active"><a href="@{Absences.manageAttachmentsPerPerson(session.get("personSelected"), year, month)}">Allegati Per Persona</a></li>
  <li><a href="@{Absences.absenceInPeriod()}">Assenze in periodo</a></li>
</ul>

</div>

<div class="container">

   <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Allegati Assenze di ${person.name} ${person.surname} &{'views.tags.display.date.month.' + month} ${year} </h3>
      </div>
      <div class="panel-body">
		<ul class="icons-ul">
			#{list items:personAbsenceListWithFile, as:'personAbsence'}
				<li class="distanziato"> 
				  <i class="icon-li icon-ok"></i>Allegato del ${personAbsence.personDay.date} 
				  <a href="@{Absences.downloadAttachment(personAbsence.id)}"><span class="glyphicon glyphicon-paperclip"></span></a>
				</li>
			#{/list}
		</ul>
     </div>
   </div>
   
</div>
