#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /} 

<h2 id="titoloGestioneCodiciAssenza">Gestione dei codici di assenza</h2>

<p><a href="@{Absences.insertAbsenceCode}">Definisci nuovo codice di assenza</a></p>

<h4>Codici di assenza esistenti:</h4>

<table class="table table-condensed">
	<tr>
		<th>Codice</th>
		<th>Codice per att. presenza</th>
		<th>Descrizione</th>
		<th>uso interno</th>
		<th>uso multiplo</th>
		<th>inizio validità</th>
		<th>fine validità</th>
		<th>tempo di lavoro giustificato</th>
		<th>livelli</th>
		<th>calcolo buono pasto</th>
		<th>ignora timbrature</th>
		<th>gruppo</th>
		<th>valore</th>
		<th>minuti in eccesso</th>
		<th>accumulare i valori</th>
		<th>limite accumulo</th>
		<th>cosa fare raggiunto il limite</th>
		<th>codice per sostituzione</th>
	</tr>
	%{
		for(absenceCode in absenceList){			
	}%
	<tr class="info">
		<td><a href="@{Absences.editCode(absenceCode.id)}">${absenceCode.code}</a></td>
		<td>${absenceCode.certificateCode}</td>
		<td>${absenceCode.description}</td>
		<td>${absenceCode.internalUse == true ? 'Sì' : 'No'}</td>
		<td>${absenceCode.multipleUse == true ? 'Sì' : 'No'}</td>
		<td>${absenceCode.validFrom}</td>
		<td>${absenceCode.validTo}</td>
		<td>${absenceCode.justifiedTimeAtWork != null ? absenceCode.justifiedTimeAtWork.description : ''}</td>
		<td>%{for(qualification in absenceCode.qualifications){
			}%
				${qualification.qualification},
			%{ } }%
		</td> 
		<td>${absenceCode.mealTicketCalculation == true ? 'Sì' : 'No'}</td>
		<td>${absenceCode.ignoreStamping == true ? 'Sì' : 'No'}</td>
		<td>${absenceCode.absenceTypeGroup != null ? absenceCode.absenceTypeGroup.label : ''}</td>
		<td>${}</td> <!-- cos'è??? -->
		<td>${absenceCode.absenceTypeGroup != null ? absenceCode.absenceTypeGroup.minutesExcess : ''}</td>
		<td>${absenceCode.absenceTypeGroup != null ? absenceCode.absenceTypeGroup.accumulationType.description : ''}</td>
		<td>${absenceCode.absenceTypeGroup != null ? absenceCode.absenceTypeGroup.limitInMinute : ''}</td>
		<td>${absenceCode.absenceTypeGroup != null ? absenceCode.absenceTypeGroup.accumulationBehaviour.description : ''}</td>
		<td>${absenceCode.absenceTypeGroup != null && absenceCode.absenceTypeGroup.replacingAbsenceType != null ? absenceCode.absenceTypeGroup.replacingAbsenceType.code : ''}</td>
	</tr>
	%{
		}
	}%

</table>