#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assenze'  /}

#{absences.absencesTabs activeAction:'showGeneralMonthlyAbsences' /}

<div class="container">

 #{title title:'Assenze Mensili ' + templateUtility.monthName(month) + ' ' + year, administration:true /}
  
  		  <table class="table table-striped table-bordered table-condensed" width="100%" datatable>
  		    <thead>
				<tr>
					<th class="col-md-2">Nome</th>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
					#{if !col.code.equals("Totale") }
						<th><abbr title="${col.code} ${col.description}" class="initialism">${col.code}</abbr></th>
					#{/if}
					#{/list}
					<th>Totale<br>giorni</th>
				</tr>
			</thead>
            <tfoot>
            	<tr>
					<th>Nome</th>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
					#{if !col.code.equals("Totale") }
						<th><abbr title="${col.code} ${col.description}" class="initialism">${col.code}</abbr></th>
					#{/if}
					#{/list}				    
					<th>Totale<br>giorni</th>
				</tr>
            </tfoot>
 
            <tbody>
            	#{list tableMonthlyAbsences.rowMap().entrySet(),as:'entry'}
				<tr>
					<td class="warning">${entry.getKey().name} ${entry.getKey().surname}</td>
					#{list tableMonthlyAbsences.columnKeySet(),as:'col'}
						<td data-order="${entry.getValue().get(col)}">
							<a href="@{Absences.showPersonMonthlyAbsences(entry.getKey().id, year, month, col.code)}"
								 data-async-modal="#modalStamping">
						 	${entry.getValue().get(col)}							
							</a>
						</td>
					#{/list}
				</tr>	
				#{/list}	
			</tbody>	
	      </table>
</div>

<div id="modalStamping" class="modal container" tabindex="-1"></div>



