#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'faq ePAS'/}
#{set titolo: 'FAQ - Frequently Asked Questions' /}
#{set 'moreStyles' }
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/faq.css'}" />  
#{/set}
<br>
 <div class="row-fluid">
    <div class="accordion span8 offset2" id="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <strong>Come mai non ho il buono mensa assegnato mentre io penso di meritarlo?</strong>
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            Per ottenere il buono mensa è necessario innanzitutto raggiungere con la somma delle varie timbrature il totale di 6 ore di lavoro.Inoltre il sistema verifica che le timbrature includano una pausa lavorativa di almeno 30 minuti durante l'orario stabilito
            per l'intervallo della pausa pranzo.Se questi requisiti vengono soddisfatti il buono mensa viene assegnato senza ulteriori calcoli.
            <br />Nel caso invece sia presente un unica timbratura d'ingresso e una di uscita, quindi senza la pausa lavorativa di mezz'ora nell'intervallo per la pausa pranzo, vengono sottratti 30 minuti all'orario totale lavorato in quella giornata, perciò
            in questo caso saranno necessarie almeno 6:30 per l'ottenimento del buono.
            <br />Se è presente una pausa tra le varie timbrature durante l'intervallo della pausa pranzo, ma inferiore ai 30 minuti, verrà scalato dal tempo totale solo la differenza rimanente al raggiungimento della mezz'ora.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <strong>Come faccio a inserire una timbratura/assenza?</strong>
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            L'inserimento di timbrature e assenze può essere fatto vista 'timbrature' raggiungibile dal menu di Amministrazione.Sulla relativa pagina di riepilogo delle timbrature, verrà visualizzata la situazione mensile di una data persona.Dal menù superiore dell'applicazione
            è possibile selezionare l'anno,il mese e la persona desiderata.
            <br />Da qui si può inserire un'assenza dalla colonna 'codice assenza', e una timbratura dalla colonna ”inserisci timbratura”: un click del mouse sulla riga relativa al giorno desiderato aprirà un'ulteriore finestra nella quale inserire tutte le
            informazioni dell'assenza/timbratura.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <strong>Ci sono dei limiti nell'inserimento di un'assenza?</strong>
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            In una giornata di lavoro è possibile inserire piu' assenze, anche con lo stesso codice, purchè tra queste non vi sia un'assenza giornaliera. Infatti nel caso vi sia un'assenza giornaliera, non sará possibile l'inserimento di ulteriori assenze. Inoltre
            è possibile inserire lo stesso codice d'assenza più di una volta solo se l'impostazione 'uso multiplo' relativa a tale codice è settata su 'Si' (vedere la scheda ”gestione codici d'assenza”).
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            <strong>Dove trovo il tempo residuo per gli straordinari?</strong>
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            Il tempo residuo imputabile per straordinari è viene visualizzato, per ogni mese, nella schermata della propria situazione mensile, nel pannello ”Riepilogo generale” con la voce ”Tempo disponibile per straordinari”.
            <br />Gli amministratori possono trovare la stessa informazione per ogni persona nella schermata ”Timbrature”.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            <strong>Dove trovo il tempo residuo per i riposi compensativi?</strong>
          </a>
        </div>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            Come per il residuo per gli straordinari, quello per i riposi compensativi può essere consultato dalla schermata della propria situazione mensile dal pannello ”Riepilogo generale ore di lavoro” indicato dal campo ”Residuo ore ad oggi”.Analogamente gli
            amministratori possono trovare la stessa informazione per ogni persona nella schermata ”Timbrature”.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            <strong>Come faccio a inserire una nuova persona?</strong>
          </a>
        </div>
        <div id="collapseSix" class="accordion-body collapse">
          <div class="accordion-inner">
            E' possibile inserire una nuova persona dalla scheda ”Lista persone” utilizzando il collegamento in alto a sinistra nella pagina ”Inserisci una nuova persona”.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            <strong>Come faccio ad assegnare le competenze ai dipendenti?</strong>
          </a>
        </div>
        <div id="collapseSeven" class="accordion-body collapse">
          <div class="accordion-inner">
            Tutto quello che concerne le competenze dei dipendenti, è gestibile dalla vista ”Gestione competenze”. Qui potremmo accedere a diversi Tab (nella parte superiore della pagina): dal tab ”Competenze” è possibile assegnare le ore o giorni in base alle competenze
            attive per ogni persona. Per abilitare le persone per altri tipi di competenze invece, bisogna andare sul tab ”Recap competenze” e clickare sul nome della persona alla quale si vuole cambiare i tipi di competenze.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            <strong>Come inserisco/modifico l'orario di lavoro?</strong>
          </a>
        </div>
        <div id="collapseEight" class="accordion-body collapse">
          <div class="accordion-inner">
            La gestione dell'orario di lavoro deve essere effettuata dalla scheda ”Gestione orari di lavoro”. Da qui è possibile creare un nuovo schema per l'orario di lavoro selezionando ”Inserisci nuovo orario di lavoro” in alto a sinistra nella pagina, oppure
            modificarne uno esistente clickando sul nome dello schema dall'elenco.Gli schemi degli orari di lavoro sono assegnabili alle persone dalla scheda ”Lista persone” dalla colonna ”Orario”.
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            <strong>Come viene calcolato il tempo di lavoro?</strong>
          </a>
        </div>
        <div id="collapseNine" class="accordion-body collapse">
          <div class="accordion-inner">
            Il tempo di lavoro viene calcolato a partire dalle varie coppie di timbrature (intervalli di lavoro) ritenute valide dal sistema. Una coppia di lavoro viene ritenuta valida se formata da una timbratura d'ingresso susseguita da una timbratura d'uscita,
            senza ulteriori timbrature in quell'intervallo.Dalla somma complessiva dei vari intervalli di lavoro, viene poi verificato l' <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">intervallo per la pausa pranzo</a>
            .
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            <strong>Come faccio a segnalare un'anomalia/situazione d'errore?</strong>
          </a>
        </div>
        <div id="collapseTen" class="accordion-body collapse">
          <div class="accordion-inner">
            Per segnalare un anomalia o un errore riscontrato durante l'utilizzo di ePAS è sufficiente l'invio di una mail all'indirizzo <a href="mailto:epas@iit.cnr.it">epas@iit.cnr.it</a>
            <br />Nell'oggetto della mail è bene indicare una breve descrizione del problema, seguita da una descrizione il quanto più accurata possibile del problema nel corpo della mail.
            <br />Inoltre è caldamente consigliato allegare al messaggio una screenshot (immagine della schermata) dell'errore.
            <br />
            <br />Qui sotto qualche linea qualche linea guida per effettuare uno screenshot:
            <br />
            <br />
            <strong>Linux</strong>
            <br />In quasi tutte le distribuzioni di linux è già integrato tutto il necessario per creare con facilità un'immagine del proprio schermo: prendo il tasto "Stamp/R Sist" in alto a destra sulla tastiera appare la finestra del wizard per il salvataggio
            della nostra screenshot, selezioniamo 'salva' e scegliamo il percorso e il nome da dare al file.
            <br />Nel caso con la pressione del tasto "Stamp/R Sist" non dovesse accadere nulla, si può provare ad aprire manualmente il software da Applicazioni->Accessori, qui dovremmo trovare 'Cattura schermata' o 'istantanea'.
            <br />
            <br />U'altro modo è quello di usare da terminale il comando
            <br />
            <br />
            <code>import path/nomefile.png </code>
            <br />
            <br />tramite il quale il cursore diventerà una croce da utilizzare per selezionare la porzione del monitor che vogliamo salvare nell'immagine.
            <br />
            <br />
            <strong>Windows</strong>
            <br />Il funzionamento su windows è simile a linux. Premendo il tasto "Stamp/R Sist" il sistema acquisisce l'immagine della schemata presente al momento della pressione del tasto, ma poi sta a noi salvarlo su un file. Apriamo un qualsiasi editor
            di immagini, paint per esempio, e con la pressione dei tasti <code>Ctrl+v</code>
            incolliamo l'immagine nell'editor e salviamo il file dove referiamo.
            <br />
            <br />
            <strong>Mac</strong>
            <br />Con la pressione dei tasti <code>Cmd + Shift + 3</code>
            viene creato direttamente sulla scrivania il file con l'immagine della schermata attuale
          </div>
        </div>
      </div>
    </div>
   </div>

