*{
  action: ['initializationsStatus', 'initializationsMeal']
  office:
}*

<div id="container-nav-tabs" class="container">
  <ul class="nav nav-tabs">
  
       <li #{if _action.equals('initializationsStatus')} class="active" #{/if}>
         <a href="@{Contracts.initializationsStatus(_office.id)}">Inizializzazione Generale</a>
       </li>
       <li #{if _action.equals('initializationsMeal')} class="active" #{/if}>
         <a href="@{Contracts.initializationsMeal(_office.id)}">Inizializzazione Buoni Pasto</a>
       </li>

  </ul>
</div>
