#{extends 'main.html' /}


<div>
	<p>Data inizio di validità di questi parametri: </p> 
	<p>mese: <input name="" type="text" value="${}" size="5" maxlength="100" /></p>
	<p>anno: <input name="" type="text" value="${}" size="5" maxlength="100" /></p>
	<p>Data di inizio uso di questo programma gg/mm/aaaa <input name="" type="text" value="${}" size="20" maxlength="100" /><p>
	<p>Nome dell'istituto <input name="" type="text" value="${}" size="20" maxlength="100" /></p>
	<p>Email a cui può essere inviato un messaggio in caso di password dimenticata <input name="" type="text" value="${}" size="20" maxlength="100" /></p>
	<p>Codice sede</p>
	<p>URL per gestione attestato presenza dell'amministrazione centrale <input name="" type="text" value="${}" size="20" maxlength="100" /></p>
	<p>User per gestione attestato presenza dell'amministrazione centrale <input name="" type="text" value="${}" size="20" maxlength="100" /></p>
	<p>Password per gestione attestato presenza dell'amministrazione centrale <input name="" type="text" value="${}" size="20" maxlength="100" /></p>
	<p>Festa del patrono (giorno) <input name="" type="text" value="${}" size="5" maxlength="100" /></p>
	<p>Festa del patrono (mese) <input name="" type="text" value="${}" size="5" maxlength="100" /></p>
	<p>Altre feste fisse (ggmm,ggmm,ggmm ....)</p>
	<p>Indicare se la durata dell'intervallo pranzo è più corta del minimo deve essere automaticamente spostata l'ora di rientro</p>
	<p>Se quando manca l'intervallo pranzo il tempo dell'intervallo deve essere tolto automaticamente dal tempo si lavoro</p>
	<p>Se manca l'intervallo pranzo e il tempo di lavoro è compreso tra il "tempo minimo per intervallo pranzo" e "tempo minimo per intervallo pranzo + durata intervallo" assegna il buono mensa?</p>
	<p>Se quando manca l'ora di rientro dopo l'intervallo pranzo essa deve essere calcolata automaticamente</p>
	<p>Buono mensa assegnato solo se c'è un intervallo pranzo reale (non calcolato automatcamente)</p>
	<p>Buono mensa assegnato solo se c'è un intervallo reale con causale pausa mensa</p>
	<p>Consente all'amministratore di inserire/modificare orari specificando il segno + per ridurre il tempo di lavoro a quello definito nell'orario di lavoro</p>
	<p>Nella situazione mensile deve essere mostrata la colonna relativa ai buoni mensa</p>
	<p>Abilita la possibilità per l'amministratore di inserire tempo di lavoro in eccesso</p>
	<p>L'ultimo giorno lavorativo prima di Natale deve essere considerato intero anche se le ore di lavoro sono minori?</p>
	<p>L'ultimo giorno lavorativo prima di Pasqua deve essere considerato intero anche se le ore di lavoro sono minori?</p>
	<p>L'ultimo giorno dell'anno deve essere considerato intero anche se le ore di lavoro sono minori?</p>
	<p>Se il primo o ultimo giorno di missione è festivo deve essere considerato come presenza al lavoro?</p>
	<p>Giorno di missione festivo deve essere considerato come presenza al lavoro?</p>
	<p>Nella inserimento/modifica dei codici di assenza l'elenco dei valori possibili deve essere alfabetico o secondo l'utilizzo?</p>
	<p>Nella situazione mensile numero minimo di coppie entrata/uscita da mostrare</p>
	<p>Dimensione orizzontale delle popup windows in pixel (per inserimento/modifica orari, codici di assenza, ecc.)</p>
	<p>Dimensione verticale delle popup windows in pixel (per inserimento/modifica orari, codici di assenza, ecc.)</p>
	<p>Tempo di scadenza del login per amministratori</p>
	<p>Tempo di scadenza del login per gli utenti</p>
	<p>Tempo di lavoro giornaliero default (in minuti) valore medio se il tempo di lavoro cambia di giorno in giorno</p>
	<p>Defaul tempo di lavoro giornaliero per avere il buono pasto (in minuti)</p>
	<p>Defaul tempo intervallo pasto (in minuti)</p>
	<p>Scadenza ferie dell'anno precedente (mmgg)</p>
	<p>Mese entro il quale devono essere usati i residui dell'anno precedente per i livelli da 1 a 3 (mm) 
	   00=i recuperi devono essere presi nell'anno. 99=i recuperi non scadono mai</p>
	<p>Mese entro il quale devono essere usati i residui dell'anno precedente per i livelli da 4 a 9 (mm)
	   00=i recuperi devono essere presi nell'anno. 99=i recuperi non scadono mai</p>
	<p>Numero massimo di giorni di recupero in un anno per i livelli da 1 a 3</p>
	<p>Numero massimo di giorni di recupero in un anno per i livelli da 4 a 9</p>
	<p>Compensazione dei residui con quelli dell'anno precedente</p>
	<p>Numero massimo di ore di straordinario mensili a persona</p>
	<p>Nella funzione Straordinari e competenze NON mostra il personale con questi livelli. Uno o piu' numeri separati da virgola</p>
	<p>Selezionare "si" per permettere l'inserimento forzato di giorni di ferie/permessi che superano il massimo di giorni usofruibili in un anno</p>
	<p>Se c'è una uscita prima di questa ora e manca l'uscita finale del giorno precedente, considera lavoro a cavallo della mezzanotte</p>
	<p>Deve controllare automaticamente la disponibilita' di nuove versioni del programma</p>
	<p>Permette al personale di autodichiarare gli orari di lavoro</p>
	<p>Permette al personale di autodichiarare le assenze</p>
	<p>Controllo capienza riposi compensativi livelle 1-3</p>
	<p>Controllo capienza riposi compensativi livelle 4-8</p>
	<p>Abilita possibilita' di inserire piu' di un codice di assenza per giorno</p>
	<p>Abilita compatibilita' con versione precedende alla 2.3 che ignorava timbrature negative a inizio o fine giornata</p>
	<p>Abilita autenticazione utenti via Shibboleth single sign on (deve essere installato e configurato Shibboleth)</p>
	<p>Se deve essere data la possibilita' di indicare una causale anche in entrata</p>
	<p>Tempo entro il quale e' possibile cancellare una timbratura appena fatta (in secondi)</p>
	<p>Ignora tempo di lavoro in un giorno con anche un codice di assenza che giustifica tutto il giorno (es. lavoro in ferie o missione ...)</p>
	<p>Caratteri (font family) da usare nelle pagine web</p>
	<p>Dimensione caratteri nelle pagine web in punti tipografici (1/72 di pollice)</p>
	<p>Caratteri (font family) da usare nella stampa in pdf</p>
	<p>Dimensione caratteri nella stampa in pdf, in punti tipografici (1/72 di pollice)</p>
	<p>Orientamento della pagina nella stampa in pdf</p>
	<p>Eventuale testo da scrivere in fondo alla stampa in pdf della situazione mensile (codifica html) <textarea title="text"></textarea></p>
	<p>Permette di vedere la storia delle modifiche alle timbrature</p>
	<p>Nella situazione mensile evidenzia modifiche fatte da amministratore</p>
	<p>Permette al personale di vedere le presenze del giorno</p>
	<p>Autorizzazione timbratura via web</p>
	<p>Indirizzi abilitati alla timbratura via web</p>
</div>