 *{ howTo circa la creazione di un turno }*
 
#{accordionItem 'infoTurno', parent:'info', title:'Informazioni utili per configurare un turno', open:false, color:'warning' }
  <p>Per configurare correttamente un turno occorre definirlo in ogni sua parte.<br>
    Una volta inserito il servizio per cui si ha la necessità di utilizzare il turno 
    (cliccando sul bottone verde qui sopra), occorre:
  
  <ul>
    <li>Specificare le eventuali attività che fanno capo a quel servizio e per cui si richiede il turno 
    (cliccando su "<strong>crea attività per turno</strong>"), in questo modo è possibile definire una o più attività
    che vengono dotate di timetable su cui assegnare il personale abilitato ai turni.</li>
    <li>Specificare il personale che deve far parte di quella attività cliccando <u>sul nome della attività</u> che si vuole 
    popolare in corrispondenza della colonna "<strong>Associa personale</strong>"</li>
    
  </ul>
  </p>
#{/accordionItem}	