 *{ howTo sulla compilazione dei campi della form}*

#{alert color:'info', textcolor:'dark'}
		<p>#{if group != null}
		Compilare i campi selezionando i codici di competenza che si intende inserire nel gruppo.<br>
		#{/if}
		#{else}
		Compilare i campi presenti nella form.<br>
		#{/else}
		   I campi "<strong>quantità massima</strong>" e "<strong>descrizione limite</strong>" sono mutuamente esclusivi.<br>
		   Il campo "<strong>descrizione limite</strong>" deve essere compilato nel caso in cui il limite di utilizzo di un certo gruppo (o codice) competenza sia fissato 
		   in base ai giorni presenti in un mese/anno e non in valori puntuali.</p>
#{/alert}