 *{ howTo sui tipi di codice }*
 
	#{alert color:'info', textcolor:'dark'}
	#{if competence.competenceCode.code.equals('S1')}
  		<p>Per assegnare gli straordinari vengono proposti alcuni valori che possono essere considerati per attribuire il giusto numero di <strong>ore</strong>:
  		<ul>
  			<li> tempo disponibile per gli straordinari
  			<li> residuo del mese
  			<li> residuo dell'anno
  		</ul>
  		Il tutto deve comunque essere subordinato al fatto che, al massimo, in un anno di straordinari per persona 
  		possono essere attribuite <strong>${competence.competenceCode.competenceCodeGroup.limitValue} ore</strong>.
  		</p>
  	#{/if}
  	#{elseif competence.competenceCode.code.equals('S2')}
  		<p>Per assegnare gli straordinari festivi non ci sono limiti di quantità, solo il tutto deve comunque essere subordinato 
  		al fatto che, al massimo, in un anno di straordinari per persona possono essere attribuite <strong>${competence.competenceCode.competenceCodeGroup.limitValue} ore</strong>.
  		</p>
  	#{/elseif}
  	#{elseif competence.competenceCode.code.equals('207')}
  		<p>In questo caso il valore viene espresso in <strong>giorni</strong>:
  		<ul>
  			<li> Il limite massimo assegnabile a un dipendente è di <strong>12 giorni</strong>.
  			<li> Si può superare quel limite solo se contestualmente non viene assegnato alcun codice '208', quindi
  				il massimo disponibile in giorni per reperibilità (<strong>${competence.competenceCode.competenceCodeGroup.limitValue}</strong>) può essere raggiunto aumentando i giorni per il codice '207'.
  		</ul>  			
  		</p>
  	#{/elseif}
  	#{elseif competence.competenceCode.code.equals('208')}
  		<p>Per la reperibilità festiva il valore massimo assegnabile è <strong>${competence.competenceCode.limitValue} giorni</strong>. 
  			Non sono previsti aggiustamenti in caso di riduzione dei giorni di reperibilità feriale.  			
  		</p>
  	#{/elseif}
  	#{elseif competence.competenceCode.code.equals('T1')}
  		<p>Per il turno ordinario feriale il quantitativo massimo assegnabile è di <strong>${competence.competenceCode.limitValue} ore</strong>.<br>
  			Non esistono casi di assegnamento di valori superiori a quel limite.
  		</p>
  	#{/elseif}
  	#{elseif competence.competenceCode.code.equals('T2')}
  		<p>Per il turno ordinario festivo il quantitativo massimo assegnabile è di <strong>${competence.competenceCode.limitValue} ore</strong>.<br>
  			Non esistono casi di assegnamento di valori superiori a quel limite.
  		</p>
  	#{/elseif}
  	#{elseif competence.competenceCode.competenceCodeGroup != null && 
  	competence.competenceCode.competenceCodeGroup.label.equals('Gruppo Ind.tà rischio')}
  		<p>Questo codice appartiene al gruppo delle indennità di rischio.<br>
  			Il quantitativo da assegnare per questo codice è espresso in <strong>giorni</strong>
  			e deve essere uguale al numero di giorni di presenza a lavoro nel mese per il dipendente.
  		</p>
  	#{/elseif}
  	#{else}
  		<p>Per questo codice non è stata definita una linea di comportamento nella definizione delle quantità usabili singolarmente
  			o per il proprio gruppo di appartenenza. Rivolgersi all'amministrazione della sede centrale per chiarimenti sui quantitativi
  			da poter inserire. 
  		</p>
  	#{/else}
    #{/alert}
