#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Attiva servizi'  /}

<div class="container">
  	#{title title:'Attiva servizi', administration:true /}
  
  	#{tabList}
  		#{tabItem id:'reperibility', title:'Reperibilità', active:true /}
  		#{tabItem id:'shift', title:'Turni' /}
  	#{/tabList}

	#{tabContent}
		#{tabContentItem id:'reperibility', active:true}
  		<br>
  		#{alert color:'info'}
		  In questa pagina è possibile abilitare i servizi che la sede <strong>${office.code} - ${office.name}</strong> 
		  mette a disposizione e sui quali è stata richiesta (e ottenuta) l'autorizzazione a fornire <strong>Reperibilità</strong> 
		  ai propri dipendenti.<br>
		  Per ciascun servizio che la sede si vede abilitare per reperibilità, la sede centrale eroga giorni di reperibilità
		  in numero uguale ai giorni del mese in cui la reperibilità è attiva. 
		  <br><strong>Es.:</strong> Giugno <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 30 gg
		  <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 30gg di reperibilità per ciascun servizio
  		#{/alert}

  		#{secure.check 'Competences.addService'}
  		#{b.buttons center:true}
    		<a class="btn btn-success" href="@{addReperibility(currentData.officeId)}" data-async-modal="#modalActivateService">
      			<i class="fa fa-plus"></i> Nuovo servizio per reperibilità
    		</a>
  		#{/b.buttons}
  		#{/secure.check}
  		#{if prtList.isEmpty()}
  		#{alert color:'warning'}
  			<p>Al momento per la sede selezionata non sono state assegnate reperibilità per alcun servizio</p>
  		#{/alert}
  		#{/if}
  		#{else}
  			<table class="table">
    		<thead>
    		<tr>
      			<th>Servizio</th>
      			<th>Eventuale supervisore</th>
      			<th>Elimina</th>
    		</tr>
    		</thead>
    		<tbody>
    		#{list items:prtList, as:'prt'}
    		<tr #{if prt.disabled}class="danger" webui-popover-hover data-content="&{'serviceDisabled'}" #{/if}>
    		<td>
      			#{secure.link @Competences.editReperibility(prt.id), 'data-async-modal':'#defaultModal'}
        			${prt.description}
      			#{/secure.link}
    		<td>${prt.supervisor}</td>
    		<td>
      			#{secure.check 'Competences.evaluateReperibility'}
      			#{if prt.disabled}
      				<a class="btn btn-primary btn-xs" href="@{Competences.evaluateReperibility(prt.id)}" data-async-modal="#defaultModal">
        				Riabilita
      				</a>
      			#{/if}
      			#{else}
      				<a class="btn btn-danger btn-xs" href="@{Competences.evaluateReperibility(prt.id)}" data-async-modal="#defaultModal">
        				Disabilita
      				</a>
      			#{/else}
      			#{/secure.check}
    		</td>
    		</tr>
    		#{/list}
    		</tbody>
  			</table>
  		#{/else}
  #{/tabContentItem}
  
  #{tabContentItem id:'shift'}
  <br>
  #{alert color:'info'}
  In questa pagina è possibile abilitare i servizi che la sede <strong>${office.code} - ${office.name}</strong> mette a disposizione e sui quali è stata
  richiesta (e ottenuta) l'autorizzazione a fornire <strong>Turni</strong> ai propri dipendenti.<br>
  Per ciascun servizio che la sede si vede abilitare per turno, la sede stessa eroga ore di turni in numero tale da coprire
  i turni previsti per quel servizio. 
  #{/alert}
  #{secure.check 'Competences.addService'}
  #{b.buttons center:true}
    <a class="btn btn-success" href="@{addShift(currentData.officeId)}" data-async-modal="#modalActivateService">
      <i class="fa fa-plus"></i> Nuovo servizio per turno
    </a>
  #{/b.buttons}
  #{/secure.check}
  #{if scList.isEmpty()}
  #{alert color:'warning'}
  <p>Al momento per la sede selezionata non sono stati assegnati turni per alcun servizio</p>
  #{/alert}
  #{/if}
  #{else}
  
  #{include './_tutorialShift.html'/}
  
  <table class="table">
    <thead>
    <tr>
      <th>Servizio</th>
      <th>Responsabile servizio</th>
      <th>Configura servizio (aggiungi attività)</th>
      <th>Gestisci attività</th>
      <th>Elimina</th>
    </tr>
    </thead>
    <tbody>
    #{list items:scList, as:'sc'}
    <tr #{if sc.disabled}class="danger" webui-popover-hover data-content="&{'serviceDisabled'}" #{/if}>
    <td>
      #{secure.link @Competences.editShift(sc.id), 'data-async-modal':'#defaultModal'}
        ${sc.description}
      #{/secure.link}
    <td>${sc.supervisor}</td>
    <td>
    	#{secure.link @Competences.configureShift(sc.id)}
    		<i class="fa fa-plus" aria-hidden="true"></i> Crea attività per turno
    	#{/secure.link}

    </td>
    <td>
    	<ul>
    	#{list items:sc.shiftTypes, as:'stype'}
	    	<li>
	    	#{secure.link @Competences.manageShiftType(stype.id), 'data-async-modal':'#defaultModal'}
	    	  	
	        	<i class="fa fa-calendar" aria-hidden="true"></i> ${stype.type}
	        #{/secure.link}
	        </li>
        #{/list}
        </ul>
    </td>
    <td>
      #{secure.check 'Competences.evaluateShift'}
      #{if sc.disabled}
      <a class="btn btn-primary btn-xs" href="@{Competences.evaluateShift(sc.id)}" data-async-modal="#defaultModal">
        Riabilita ${sc.description}
      </a>
      #{/if}
      #{else}
      <a class="btn btn-danger btn-xs" href="@{Competences.evaluateShift(sc.id)}" data-async-modal="#defaultModal">
        Disabilita ${sc.description}
      </a>
      #{/else}
      #{/secure.check}
    </td>
    </tr>
    #{/list}
    </tbody>
  </table>
  #{/else}
  #{/tabContentItem}
  
  #{/tabContent}
</div>

<div id="modalActivateService" class="modal fade container" tabindex="-1"></div>
<div id="defaultModal" class="modal fade container" tabindex="-1"></div>