#{modalAsync id:'modalAddCompetenceCodeToGroup', button:'Salva', 
title:('Aggiungi codici di competenza al '+group.label )}
<div id="absenceCodeData">
	#{alert color:'info'}
		Vengono proposti i codici già associati al gruppo. Selezionare, cliccando nell'apposita finestra sottostante,
		quelli che si intende aggiungere.
	#{/alert}
  #{form action:@Competences.addCompetences(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#absenceCodeData'}
  
    #{if group?.persistent}
    	#{f.hidden 'group.id', value:group.id /}
  	#{/if}
  	#{f.selectModel 'code', items:templateUtility.allCodesWithoutGroup() /}


	#{b.buttons center:true}
		#{b.submit 'Aggiungi'/}
	#{/b.buttons}
  #{/form}
</div>
#{/modalAsync}