#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Competenze pagate'  /}

<div class="container">

      #{competences.competencesTabs activeAction:'approvedCompetenceInYear' /}
   
   #{if onlyDefined}
     <a href="@{Competences.approvedCompetenceInYear(year, !onlyDefined, office.id)}">Tutti</a> 
   #{/if}
   #{else}
     <a href="@{Competences.approvedCompetenceInYear(year, !onlyDefined, office.id)}">Solo Determinati</a>
   #{/else} 

  <table class="table">
    <tr>
      <th></th>
      #{list items:totalValueAssigned.keySet(), as:'code'}
      <th>${code.code}</th>
      #{/list}
    </tr>
    
    <tr class="warning">
      <td><strong>Totale</strong></td>
      #{list items:totalValueAssigned.keySet(), as:'code'}
      <td><strong>${totalValueAssigned.get(code)}</strong></td>
      #{/list}  
    </tr>
    
    #{list personList, as:'person'}
    <tr>
      <td>${person.value.fullname}
          #{if person.hasPassToIndefiniteInYear(year)} (*)#{/if}
      </td>
      
      #{list items:totalValueAssigned.keySet(), as:'code'}
      
      #{if mapPersonCompetenceRecap.get(person.value) != null && mapPersonCompetenceRecap.get(person.value).get(code) != null}
        <td>${mapPersonCompetenceRecap.get(person.value).get(code)}</td>
	  #{/if}
	  #{else}
	    <td>0</td>
	  #{/else}
      
      #{/list}
    </tr>
    #{/list}
    
  </table>
  
  <p>(*) La persona è passata a tempo indeterminato durante l'anno selezionato.</p>

</div>