#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Situazione Mensile'  /}

<div class="panel panel-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Riepilogo straordinari e altre competenze ${templateUtility.monthName(session.get("monthSelected"))} ${year}  </h3>
    </div>
    <div class="panel-body">
      
      <table class="table table-bordered table-hover">
        
        <tr>
          <th>Competenza</th>
          <th>Quantità</th>
        </tr>
        
        <tr>
          <td>Ind.tà rep.tà feriale (207)</td>
          <td>${personMonthCompetenceRecap.weekDayAvailability}</td>
        </tr>
        
        <tr>
          <td>Ind.tà rep.tà festiva (208)</td>
          <td>${personMonthCompetenceRecap.holidaysAvailability}</td>
        </tr>
        
        <tr>
          <td>Straordinario diurno nei giorni lavorativi</td>
          <td>(${personMonthCompetenceRecap.progressivoFinalePositivoMese.toHour()}) ${personMonthCompetenceRecap.daylightWorkingDaysOvertime}</td>
        </tr>
        
        <tr>
          <td>Straordinario diurno nei giorni festivi o notturno nei giorni lavorativi</td>
          <td>${personMonthCompetenceRecap.daylightholidaysOvertime}</td>
        </tr>
        
        <tr>
          <td>Turno ordinario (T1)</td>
          <td>${personMonthCompetenceRecap.ordinaryShift}</td>
        </tr>
        
        <tr>
          <td>Turno notturno (T2)</td>
          <td>${personMonthCompetenceRecap.nightShift}</td>
        </tr>

      </table>
      
      <p class="text-info"><em>Il numero tra parentesi, nella colonna degli straordinari, rappresenta le ore di lavoro 
      fatte in più nel mese sulle quali possono essere pagati gli straordinari.</em></p>

    
   </div>
</div> 

