#{modalAsync id:'modalCompetenceCode', 
title:('Nuova timetable')}

<div id="timeTableData">
#{form action:@saveTimeTable(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#timeTableData'}
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
  		 #{select 'officeId', class:'form-control', id:'office'}
		  		#{list items:officeList, as:'office'}
		    		#{option office.id}${office.name}#{/option}
	  			#{/list}
		 #{/select}
		 
	</div>
	<br><br>

#{alert color:'info'}
	Turno di mattina
#{/alert}

<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startMorning', type:text, required:'true' /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endMorning', type:text, required:'true' /}
	  </div>	  
</div>
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startMorningLunchTime', type:text, required:'true' /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endMorningLunchTime', type:text, required:'true' /}
	  </div>	  
</div>

#{alert color:'warning'}
	Turno di pomeriggio
#{/alert}
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startAfternoon', type:text, required:'true' /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endAfternoon', type:text, required:'true' /}
	  </div>	  
</div>
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startAfternoonLunchTime', type:text, required:'true' /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endAfternoonLunchTime', type:text, required:'true' /}
	  </div>	  
</div>
#{alert color:'danger'}
	Turno di notte
#{/alert}
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startEvening', type:text /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endEvening', type:text /}
	  </div>	  
</div>
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.startEveningLunchTime', type:text /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'timeTable.endEveningLunchTime', type:text /}
	  </div>	  
</div>
<div class="row">
	<div class="col-sm-offset-4"></div>	
	#{f.input 'timeTable.totalWorkMinutes', type:'number' /}	
	
</div>
<div class="row">
	<div class="col-sm-offset-4"></div>
	#{f.input 'timeTable.paidMinutes', type:'number' /}
	
</div>
	  	  #{b.buttons center:true}
	        #{b.submit 'Salva'/}
	      #{/b.buttons}

#{/form}
</div>
#{/modalAsync}