#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestisci ' + cat.description /}

#{set breadcrumbs:['Gestisci servizi':@Competences.activateServices(cat.office.id), 
  (cat.description):null] /}
#{breadcrumbs breadcrumbs, noHome:true, container:true /}

<div class="container">
#{form @Competences.linkTimeTableToShift(), class:'form-horizontal', 
	'data-async':'#page_content', 'data-async-error':'#modifyContract', 
	'data-spinner':'#defaultSpinner' }
	 
#{title title:'Organizzazione del lavoro in turni - Creazione attività per turno' /}

#{if type.shiftCategories != null}
------
#{/if}
#{else}
	#{alert color:'info'}
		Specificare nome e descrizione per l'attività relativa a <strong>${cat.description}</strong><br>
		E selezionare la tipologia di turno da applicare tra quelle proposte in tabella.		
	#{/alert}	
#{/else}
#{f.input 'sts.name', popover:'true',required:'true'/}
#{f.input 'sts.description', popover:'true', required:'true'/}
#{f.input 'sts.tolerance', type:'number', popover:'true', required:'true'/}
#{f.radioEnum 'sts.toleranceType', items:models.ShiftType.ToleranceType /}

#{f.input 'sts.hourTolerance', type:'number', popover:'true', required:'true'/}
#{f.booleanRadio 'sts.breakInShiftEnabled', value:false, popover:'true' /}
<div id="horizontal-mealticket" #{if !type.breakInShiftEnabled} style="display: none" #{/if}>
#{f.input 'sts.breakInShift', type:'number' /}
</div>
#{f.hidden 'cat.id', value:cat.id /}


		#{b.buttons center:true}
			#{b.link @Competences.activateServices(cat.office.id)}
      			Indietro
    		#{/b.link}
    		#{b.link @Competences.addShiftTimeTable(cat.office.id, sts)}
      			Avanti
    		#{/b.link}
		    #{b.submit 'Conferma'/}
		   
		#{/b.buttons}
	#{/form}
</div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
				
		$("input[name='sts.breakInShiftEnabled']").change(function(){
			
			jQuery( "#horizontal-mealticket" ).toggle(0);
		
		});		
       
	 });
	</script>
#{/set}
