#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestisci ' + cat.description /}

#{set breadcrumbs:['Gestisci servizi':@Competences.activateServices(cat.office.id), 
  (cat.description):null] /}
#{breadcrumbs breadcrumbs, noHome:true, container:true /}

<div class="container">
#{form @Competences.configureShift(), class:'form-horizontal', method: 'POST'}
	#{f.hidden 'step', value:step /}
	
	
	#{if step == 1}  
		#{f.hidden 'shiftCategoryId', value:cat.id /}
		#{title title:'Organizzazione del lavoro in turni - Creazione attività per turno' /}
	
	
		#{alert color:'info'}
			Specificare nome e descrizione per l'attività relativa a <strong>${cat.description}</strong><br>
			E selezionare la tipologia di turno da applicare tra quelle proposte in tabella.		
		#{/alert}	
	
		#{f.input 'sts.name', popover:'true',required:'true'/}
		#{f.input 'sts.description', value:type?.description, popover:'true', required:'true'/}
		#{f.input 'sts.tolerance', type:'number', popover:'true', required:'true'/}
		#{f.radioEnum 'sts.toleranceType', items:models.ShiftType.ToleranceType /}
		
		#{f.input 'sts.hourTolerance', type:'number', popover:'true', required:'true'/}
		#{f.booleanRadio 'sts.breakInShiftEnabled',  popover:'true' /}
		<div id="horizontal-mealticket" #{if !sts.breakInShiftEnabled} style="display: none" #{/if}>
			#{f.input 'sts.breakInShift', type:'number' /}
		
		</div>	
		
	#{/if}
	
	#{if step == 2}
		#{f.hidden 'shiftCategoryId', value:cat.id /}
		#{title title:'Organizzazione del lavoro in turni - Associazione timetable' /}
		#{alert color:'info'}
			E' necessario associare all'attività <strong>${sts.name}</strong> una timetable tra quelle proposte o, in alternativa, 
			definirne una propria tramite il pulsante sotto.	
		#{/alert}	
		<table class="table table-hover table-striped table-bordered">
		<tr>
			<th>Seleziona</th>
			<th>Inizio turno mattina</th>
			<th>Fine turno mattina</th>
			<th>Inizio turno pomeriggio</th>
			<th>Fine turno pomeriggio</th>
			<th>Info aggiuntive</th>
		</tr>
		#{list items:dtoList, as:'key'}
		<tr>
			<td><input type="radio" name="shift" value="${key.id}"> </td>
			<td>${key.startMorning}</td>
			<td>${key.endMorning}</td>
			<td>${key.startAfternoon}</td>
			<td>${key.endAfternoon}</td>
			<td><i class="fa fa-info-circle" aria-hidden="true" webui-popover-hover data-url="#shift-${key.id}" data-placement="right"  data-title="Info turno">
		 	  	</i>
		 	</td>
				<div class="webui-popover-content" id="shift-${key.id}">  			
		  			Inizio pausa pranzo turno mattina: <strong>${key.startMorningLunchTime}</strong><br>
		  			Fine pausa pranzo turno mattina: <strong>${key.endMorningLunchTime}</strong><br>
					Inizio pausa pranzo turno pomeriggio: <strong>${key.startAfternoonLunchTime}</strong><br>
					Fine pausa pranzo turno pomeriggio: <strong>${key.endAfternoonLunchTime}</strong><br>			  
				</div> 	  
			
		</tr>
		#{/list}
		</table>

	#{/if}
	
	#{b.buttons center:true}
			#{b.link @Competences.activateServices(cat.office.id)}
	   			Indietro
	   		#{/b.link}
			#{if step != 2 }
				#{b.submit 'Avanti' /}
			#{/if}
			#{else}
				#{b.submit 'Crea' /}
			#{/else}   
		#{/b.buttons}
#{/form}
</div>

<div id="modalActivateService" class="modal fade container" tabindex="-1"></div>

#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
				
		$("input[name='sts.breakInShiftEnabled']").change(function(){
			
			jQuery( "#horizontal-mealticket" ).toggle(0);
		
		});		
       
	 });
	</script>
#{/set}
