%{
Action = (cat != null && cat.persistent) ? 'Modifica ' : 'Nuovo '
}%
#{modalAsync id:'modalActivateService', 
title:(Action + ' servizio per turno')}

<div id="absenceCodeData">
  #{form action:@Competences.saveShift(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#absenceCodeData'}
  
  #{f.hidden 'cat.id' /}
  #{f.input 'cat.description'/}
  #{if office?.persistent}
    	#{f.hidden 'office.id', value:office.id /}
  #{/if}
  
  #{f.view 'cat.office', value:office /}
  #{f.selectModel 'cat.supervisor', items: officePeople, required:true /}

	#{b.buttons center:true}

  		#{if cat?.persistent}
    		#{b.submit 'Aggiorna'/}
  		#{/if}
  		#{else}
  	  		#{b.submit 'Inserisci'/}
  		#{/else}

  	#{/b.buttons}
  #{/form}
</div>
#{/modalAsync}