<div class="modal-header hidden-xs">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 id="modificaCodiceCompetenza">Modifica codice ${code.code} ${code.description}</h4> 
</div>

<div class="modal-body">

#{form @Competences.save()}
<table class="table table-condensed table-form table-hover">
		<tr>
			<td class="lab"><b>Codice</b></td>
			<td><input type="text" name="codice" value="${code.code}" /></td>
		</tr>
		<tr>
			<td class="lab"><b>Codice per attestato<br> di presenza</b></td> 
			<td><input type="text" name="codiceAttPres" value="${code.codeToPresence}" /></td>
		</tr>
		
		<tr>
			<td class="lab">Descrizione</td> 
			<td><input type="text" name="descrizione" value="${code.description}"/></td>
		</tr>


</table>


<div class="container-fluid center">
      <input class="btn btn-primary" type="submit" value="Ok" />      
</div>
#{/form}

</div>