#{extends 'main.html' /}

<h3 id="modificaCodiceCompetenza">Modifica codice ${code.code} ${code.description}</h3>

#{form @Competences.save()}

		<p>Codice <input type="text" name="codice" value="${code.code}"/></p>
		<p>Codice per attestato di presenza <input type="text" name="codiceAttPres" value="${code.codeToPresence}"/></p>
		<p>Descrizione <input type="text" name="descrizione" value="${code.description}" size="60" maxlength="100"/></p>
		<p>Inattivo %{ if(code.inactive == true){
			}%<input type="checkbox" name ="inattivo" value="${code.inactive}" checked="checked"/>
			%{ }else{
			}%<input type="checkbox" name ="inattivo" value="${code.inactive}" />
			%{
			}
			}%
		</p>

<input type="submit" value="Ok"/>
#{/form}
#{form @Competences.discard()}
<input type="submit" value="Annulla"/>
#{/form}