#{modalAsync id:'modalCompetenceCode', button:'Salva', 
title:(competenceCode?.persistent ? 'Modifica codice competenza' : 'Nuovo codice competenza')}
<div id="absenceCodeData">
  #{include './_tutorialFill.html' /}
  #{form action:@Competences.save(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#absenceCodeData'}
  
	  #{f.hidden 'competenceCode.id' /}
	
	  #{f.input 'competenceCode.code'/}
	  #{f.input 'competenceCode.codeToPresence'/}
	  #{f.input 'competenceCode.description'/}
	  <div class="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-4">
	  #{f.input 'competenceCode.limitValue', type:'number'/}
	  </div>
	  <div class="col-sm-4">
	  #{f.selectEnum 'competenceCode.limitUnit',items:models.enumerate.LimitUnit,select2:'off'/}
	  </div>	  
	  </div>
	  
	  #{f.selectEnum 'competenceCode.limitDescription',items:models.enumerate.LimitDescription,select2:'off'/}
	  #{f.selectEnum 'competenceCode.limitType',items:models.enumerate.LimitType,select2:'off'/}  	
	#{secure.check 'Competences.insertCompetenceCode'}
	  #{if competenceCode != null}
		  #{b.buttons center:true}
		    #{b.submit 'Modifica'/}
		  #{/b.buttons}
	  #{/if}
	  #{else}
	  	  #{b.buttons center:true}
	        #{b.submit 'Inserisci'/}
	      #{/b.buttons}
	  #{/else}	  
	#{/secure.check}
  #{/form}
</div>
#{/modalAsync}
