#{modalAsync id:'modalCompetence',
title:person.fullname + ' - ' + code.description + ' ' + code.code}

<div id="competenceData">
  
  
  
  #{if code.disabled}
	#{alert color:'danger', textcolor:'dark'}
	  <p>
	    Il codice di competenza <strong>${code.code} - ${code.description}</strong> 
	    risulta disabilitato. Non è possibile inserire ulteriori quantitativi per questo codice. In caso di necessità effettuare una segnalazione.<br>
	  </p>	
	#{/alert}
  #{/if}
  #{else}
  
    #{alert color:'info'}
      <p>Inserisci il nuovo valore per la competenza <strong>${code.code} 
      ${code.description}</strong> per <strong>${person.fullname}</strong>.</p>
    #{/alert}
    
    #{alert color:'warning'}
      <!-- Suggerimenti -->
      #{if code.code.equals('S1')}
  		#{if psDto != null}
  		  <p><strong>Suggerimenti</strong></p>
  		  <p>
			#{list items:psDto.contractMonths, as:'mese'}
				<table class="table table-condensed">
				  <tr>
				    <td>
				      <em>Tempo per straordinari</em>
				      <i class="fa fa-question-circle" aria-hidden="true" webui-popover-hover 
				           data-content="<strong>Tempo per straordinari</strong> La somma di tutte le differenze positive nel mese.<br> 
				                   <strong>Differenze positive</strong> Giorni in cui il dipendente ha svolto più ore di quelle <br>previste dal piano orario giornaliero."></i>
				    </td>
				    <td>
				      <strong>${mese.value.progressivoFinalePositivoMese.toHourTime()}</strong>
				      <a href="@{Stampings.personStamping(person.id, year, month)}">
				        <i class="fa fa-search" aria-hidden="true" webui-popover-hover data-content="Visualizza Presenze"></i></a>
				    </td>
				  </tr>
				  <tr>
				    <td>
				      <em>Progressivo a fine mese</em>
				      <i class="fa fa-question-circle" aria-hidden="true" webui-popover-hover 
    				       data-content="<strong>Progressivo a fine mese</strong> Il saldo fra le differenze positive e negative nel mese. <br>
				                   <strong>Differenze positive/negative</strong> Giorni in cui il dipendente ha svolto più ore/meno ore di quelle <br>previste dal piano orario giornaliero."></i>
				    </td>
				    <td>
                      <strong>${mese.value.progressivoFinaleMese.toHourTime()}</strong>
				    </td>
				  </tr>
				  <tr>
				    <td><em>Residuo monte ore anno corrente</em></td>
				    <td><strong>${mese.value.remainingMinutesCurrentYear.toHourTime()}</strong></td>
				  </tr>
				</table>
			#{/list}
		  <p>	 
		#{/if}
	  #{/if}
	  #{elseif code.code.equals('S2')}
	  	<table class="table table-condensed">
	  			<tr>
				    <td>
				      <em>Tempo per straordinari festivi abilitabile</em>
				      <i class="fa fa-question-circle" aria-hidden="true" webui-popover-hover 
				           data-content="<strong>Tempo per straordinari festivi abilitabile</strong> La somma di tutte le differenze positive nel mese abilitabili nei giorni festivi.<br> 
				                   <strong>Differenze positive</strong> Giorni in cui il dipendente ha svolto più ore di quelle <br>previste dal piano orario giornaliero."></i>
				    </td>
				    <td>
				      <strong>${dto.decurtedTimeAtWork.toHourTime()}</strong>
				      <a href="@{Stampings.personStamping(person.id, year, month)}">
				        <i class="fa fa-search" aria-hidden="true" webui-popover-hover data-content="Visualizza Presenze"></i></a>
				    </td>
				  </tr>
				  <tr>
				    <td>
				      <em>Tempo per straordinari festivi abilitato</em>
				      <i class="fa fa-question-circle" aria-hidden="true" webui-popover-hover 
    				       data-content="<strong>Tempo per straordinari festivi abilitato</strong> La somma di tutte le differenze positive nel mese abilitate nei giorni festivi."></i>
				    </td>
				    <td>
                      <strong>${dto.assignedTimeAtWork.toHourTime()}</strong>
				    </td>
				  </tr>
	  	</table>
	  #{/elseif}	
	  
    <!-- Limiti -->
    <p><strong>Limiti</strong></p>	  
	#{if code.code.equals('S1') || code.code.equals('S2')}
	  #{if !check}
  	  <p>
  	    Massimo annuale per persona <strong class="text-danger">${code.competenceCodeGroup.limitValue} ore</strong>
  	  </p>	
	  #{/if}
	  #{else}
		  <p>Per ${person.fullname} è stato disabilitato il limite delle 200 ore annue di straordinario. 
			Se non è questo che si desidera, verificare la sua configurazione personale e modificare il valore del parametro
			<em>Disabilitare limite 200 ore di straordinario annuale</em>
		  </p>
	  #{/else}
	#{/if}
  	#{elseif code.code.equals('207')}
  		<p>Valore massimo assegnabile <strong class="text-danger">12 giorni</strong></p>
  		<p>Se contestualmente non viene assegnato alcun codice <strong>208</strong> il valore massimo assegnabile diventa 
  		<strong class="text-danger">${code.competenceCodeGroup.limitValue} giorni</strong> 
  		</p>
  	#{/elseif}
  	#{elseif code.code.equals('208')}
  		<p>
  		  Valore massimo assegnabile <strong class="text-danger">${code.limitValue} giorni</strong>
  		</p>
  	#{/elseif}
  	#{elseif code.code.equals('T1') || code.code.equals('T2')}
  		<p>Valore massimo assegnabile <strong class="text-danger">${code.limitValue} ore</strong></p>
  	#{/elseif}
  	#{elseif code.competenceCodeGroup != null && 
  	code.competenceCodeGroup.label.equals('Gruppo Ind.tà rischio')}
  		<p>Questo codice appartiene al gruppo delle indennità di rischio.<br>
  			Il quantitativo da assegnare per questo codice è espresso in <strong>giorni</strong>
  			e deve essere uguale al numero di giorni di presenza a lavoro nel mese per il dipendente.
  		</p>
  	#{/elseif}
  	#{elseif code.limitType.equals(models.enumerate.LimitType.entireMonth)}
  		<p>Questo codice appartiene alle indennità di rischio radiazione ionizzante e viene assegnato su base mensile.
  		Il massimo valore assegnabile è <strong>${code.limitValue}</strong></p>
  	#{/elseif}
  	#{else}
  		<p>Per questo codice non è stata definita una linea di comportamento nella definizione delle quantità usabili singolarmente
  			o per il proprio gruppo di appartenenza. Rivolgersi all'amministrazione della sede centrale per chiarimenti sui quantitativi
  			da poter inserire. 
  		</p>
  	#{/else}
  	<p>È possibile inserire il valore <strong>zero</strong> per annullare la competenza assegnata.</p>
    #{/alert}
  

	  #{form action:@saveCompetence(), method:'POST', autocomplete:false,
	    class:'form form-horizontal', 'data-async':'#page_content',
	    'data-async-error':'#competenceData','data-spinner':'#defaultSpinner'}
	    
	    #{f.hidden 'officeId', value:office.id /}
		#{f.hidden 'personId', value:person.id /}
		#{f.input 'valueApproved',type:'number', value:competence?.valueApproved, required:true /}
		#{f.input 'competence.reason' /}
		#{if competence?.persistent}
	    	#{f.hidden 'competence.id', value:competence.id /}	    	
	  	#{/if}
	  	#{else}
	  		#{f.hidden 'competence.month', value:month /}
	    	#{f.hidden 'competence.year', value:year /}
	    	#{f.hidden 'competence.person.id', value:person.id /}  
	    	#{f.hidden 'competence.competenceCode.id', value:code.id /}  	
	  	#{/else}
		#{b.buttons center:true}
			#{b.submit 'Modifica'/}
		#{/b.buttons}
		  
	  #{/form}
	  
	  
	  
  #{/else}
</div>
#{/modalAsync}