#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Abilita competenze'  /}

<div class="container">

  #{include './_tabs.html' /}
  
  #{title title:'Competenze abilitate nel mese di ' + templateUtility.monthName(month) + ' ' + year + ' ' + ' per ' + office.name, color:'primary' /}

  #{alert color:'info'}
  <p>Elenco di tutte le competenze abilitate ai dipendenti di <strong>${office.name}</strong></p>
  #{/alert}

  <table class="table table-condensed table-hover table-bordered center" datatable >
	<thead>
	  <tr>
		<th>Nome</th>
		<th>Competenza</th>
		<th>Descrizione</th>
		<th>Abilitata Dal</th>
		<th>Al</th>
   	  </tr>
	</thead>
	<tbody>

    #{list items:mapEnabledCompetences.values(), as:'personCompetenceCodes'}
      #{list items:personCompetenceCodes, as:'personCompetenceCode'}
      
       <tr>
         <td>
			#{secure.link @Competences.updatePersonCompetence(personCompetenceCode.person.id, year, month), 'data-async-modal':'#defaultModal' }
               ${personCompetenceCode.person.fullName()}
			#{/secure.link}
 	     </td>
 	     <td>${personCompetenceCode.competenceCode.code}</td>
 	     <td>${personCompetenceCode.competenceCode.description}</td>
 	     <td>${personCompetenceCode.beginDate.format()}</td>
 	     <td>${personCompetenceCode.endDate?.format()}</td>
        </tr>
      #{/list}
    #{/list}
    
    </tbody>
  </table>

</div>

