#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Abilita competenze'  /}

#{competences.competencesTabs activeAction:'enabledCompetences' /}

<div class="container">

	#{title title:'Competenze abilitate ' + office.name, color:'primary' /}

  #{alert color:'info'}
  <p>Cliccando sul nome del dipendente è possibile attivare o disattivare la possibilità di attribuire ogni specifica competenza.</p>
  #{/alert}

  <table class="table table-condensed table-hover table-bordered center" datatable >
		<thead>
		<tr>
			<th>Nome</th>
			<th>Competenze Abilitate</th>			
		</tr>
		</thead>
		<tbody>

    #{list items:map.entrySet(), as:'key'}	
    <tr>
      <td>
		  <a href="@{Competences.updatePersonCompetence(key.getKey().id)}" data-async-modal="#updateCompetenceModal">
		    ${key.getKey().fullName()}
		  </a>
 	  </td>
 	  <td>
 	   #{list items:key.getValue(), as:'dto'}
 	     
 	     	#{if dto.endDate == null}
 	       		<span class="label label-primary">${dto.code.code} - ${dto.code.description}</span>
 	       	#{/if}
 	       	#{if dto.endDate != null && dto.endDate.getMonthOfYear() == date.getMonthOfYear()}
 	       		<span class="label label-warning" webui-popover-hover data-content="&{'endCompetenceCode'}">${dto.code.code} - ${dto.code.description}</span>
 	       	#{/if}
	     	
       #{/list}
       </td>
      
    #{/list}
    </tr>
  </tbody>
  </table>

</div>


<div id="updateCompetenceModal" class="modal fade container" tabindex="-1"></div>


