#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Abilita competenze'  /}


<div id="container-fluid-nav-tabs" class="container-fluid">

<ul class="nav nav-tabs">
  <li><a href="@{Competences.showCompetences(year, month, office.id)}">Assegna Competenze</a></li>
  <li class="active"><a href="@{Competences.enabledCompetences(office.id)}">Abilita Competenze</a></li>
  <li><a href="@{Competences.totalOvertimeHours(year, office.id)}">Monte ore</a></li>
  <li><a href="@{Competences.exportCompetences()}">Esporta competenze</a></li>
  <li><a href="@{Competences.approvedCompetenceInYear(year, true, office.id)}">Competenza Assegnate nell'anno</a></li>
</ul>

</div>
 
<div class="container-fluid">

<!-- FILTRO OFFICE RIPETUTO IN OGNI TEMPLATE DI COMPETENCES, DA METTERE NEL NAVBAR?? -->
<div class="container-fluid">
 <div class="center" style="margin-top: 0px; margin-bottom: 10px;">
	  #{form action:@Competences.enabledCompetences(), role:'form', class:'form-inline', 
	    method:'GET', autocomplete:'off',
	    'data-reload':'#results'}
	    
	       <div class="form-group">
	        <label class="hidden-xs hidden-sm" for="dip">Sede </label>
	        	        	        
	        <select name="officeId" class="form-control" id="dip" onChange="javascript:this.form.submit()" >
	            #{list items:offices, as:'officeItem'}
	              <option value="${officeItem.id}" #{if officeItem.id.equals(office.id) } selected="selected" #{/if} >
	                ${officeItem.name}
	              </option>
	            #{/list}
	        </select>
	      </div>
	       
	      <button type="submit" class="btn btn-default">Invio</button>
	  #{/form}
      </div>
</div>
<!-- FINE FILTRO OFFICE -->

#{form action:@Competences.enabledCompetences(), class:'form-search',  
    method:'GET', autocomplete:'off',
    'data-reload':'#results'}
    
    <input type="hidden" name="officeId" value="${office.id}"/>

#{/form}

<br>

 <section id="results"> 

  <table class="table table-condensed table-hover table-bordered center" datatable >
		<thead>
		<tr>
			<th>Nome</th>
			#{list tableRecapCompetence.columnKeySet()}
			<th>${_}</th>
			#{/list}
		</tr>
		</thead>
		<tbody>

	#{list tableRecapCompetence.rowMap().entrySet(),as:'entry'}
	<tr>
		<td>
		  <a href="@{Competences.updatePersonCompetence(entry.getKey().id)}" data-async-modal="#updateCompetenceModal">
		    ${entry.getKey().name} ${entry.getKey().surname}
		  </a>
		</td>
		#{list tableRecapCompetence.columnKeySet(),as:'col'}
			<td>	
				#{if entry.getValue().get(col) == true}<span class="glyphicon glyphicon-ok"></span>#{/if}
			</td>
		#{/list}
	</tr>	
	#{/list}
		</tbody>
  </table>
 </section> 
</div>

<div id="updateCompetenceModal" class="modal container" tabindex="-1"></div>


