#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Esporta competenze'  /}

<div class="container">

#{title title:'Esporta Competenze' /}

#{include './_tabs.html' /}





#{alert color:'info'}
  <p>
   Esporta in formato.csv la situazione annuale degli straordinari per tutti i dipendenti gestiti.
  </p>
#{/alert}
 
 	  #{form @Competences.getOvertimeInYear(), class:'form-inline'}

      #{ff.finput 'year', type:'number', sronly:true, value:session.get('yearSelected'), faicon:'calendar' /}  	  
       <input class="btn btn-primary" type="submit" value="Esporta straordinari"/>
     #{/form}    
     

 
</div>
