#{modalAsync id:'defaultModal', button:'Salva', 
title: ('Assegna personale alla ' +type.type+ ' - ' +type.description)}
<div id="absenceCodeData">
	
#{form action:@Competences.linkPeopleToShift(), method:'POST', autocomplete:false,
  class:'form form-horizontal', 'data-async':'#page_content',
  'data-async-error':'#absenceCodeData'}
  	#{if type.persistent}
 		#{f.hidden 'type.id' /}
	#{/if}
	#{alert color: 'info'}
		Il nome e la descrizione della attività possono essere cambiati in qualsiasi momento.
	#{/alert}
	#{f.input 'type.type' /}
	#{f.input 'type.description' /}
	#{f.input 'type.tolerance',type:'number' /}
	#{f.input 'type.hourTolerance', type:'number' /}
	#{if peopleForShift.isEmpty()}
		#{alert color:'warning'}
			Per poter assegnare dei dipendenti all'attività <strong>${type.description}</strong>
			occorre prima abilitare la competenza turno ai dipendenti stessi andando su: <br>
			<i>Amministrazione</i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> 
			<i>Competenze</i> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			<i>Abilita competenze</i>
		#{/alert}
	#{/if}
	#{else}	
	
	#{alert color:'info'}
		Selezionare dalla lista le persone che si intende associare al turno <strong>${type.description}</strong>.
	#{/alert}
		#{f.selectModels 'peopleIds',
  		items:templateUtility.allPersonShiftByOffice(office), placeholder:'I codici di competenza' /}
	#{/else}
	
  
  #{b.buttons center:true}
  		#{b.submit 'Ok'/}
  #{/b.buttons}

#{/form}

</div>
#{/modalAsync}