#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Gestione Codici competenze' /}

<div class="container col-lg-6 col-lg-offset-3">

  #{b.buttons center:true}
    #{b.link @Competences.insertCompetenceCode(), color:'primary'
  , title:messages.get('competenceCode.new'),fa:'plus', modal:'#modalCompetenceCode' /}
  #{/b.buttons}

<div class="span10">
<table class="table table-striped" id="tabellaCodiciCompetenza">
	<tr>
		<th>Codice</th>
		<th>Codice per attestato di presenza</th>
		<th>Descrizione</th>
		
	</tr>
	#{list items:compCodeList, as:'compCode'}
	
	<tr>
		<td><a href="@{Competences.edit(compCode.id)}" data-async-modal="#modalCompetenceCode">${compCode.code}</a></td>
		<td>${compCode.codeToPresence}</td>
		<td>${compCode.description}</td>
		
	</tr>
	#{/list}
</table>
</div>
</div>

<div id="modalCompetenceCode" class="modal container" tabindex="-1"></div>
