#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Straordinari mensili Gruppo'  /}

<div class="container-fluid">

  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tabella riassuntiva del mese di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year} </h3>
      </div>
      <div class="panel-body">
      
            <input type="hidden" name="year" value="${year}"/>
	        <input type="hidden" name="month" value="${month}"/>

		 <div class="col-xs-12">
		    <table class="table overtime-big table-hover">
		    	<tr>
			    	<th>Nome e cognome</th>
			    	#{list items:tableFeature.columnKeySet(), as:'col' }
			    	
					<th>${col}</th>
					#{/list}
		    	</tr>
		    	#{list items:tableFeature.rowMap().entrySet(), as:'entry' }
		    	<tr>
		    		<td class="warning">${entry.getKey().surname} ${entry.getKey().name} (${entry.getKey().number})</td>
		    		#{list items:tableFeature.columnKeySet(), as:'col' }
		    		
					#{if col.equals('Giorni di Presenza') || col.equals('Ore straordinario pagate')}
						<td>${entry.getValue().get(col)}</td>
					#{/if}
					#{else}
						#{if entry.getValue().get(col) > 0}				
							<td>${entry.getValue().get(col).toHourTime()}</td>
						#{/if}
						#{else}
							<td class="danger">${entry.getValue().get(col).toHourTime()}</td>
						#{/else}
					#{/else}
					
					#{/list}
		    	</tr> 
		    	#{/list}
		    </table>
		  </div>        
       
      </div>
    </div>

</div>
