#{extends 'main3.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Riepilogo Straordinari'  /}

<div id="container-fluid-nav-tabs" class="container-fluid">
  <ul class="nav nav-tabs">
    <li><a href="@{Competences.showCompetences(year, month)}">Assegna Competenze</a></li>
    <li class="active"><a href="@{Competences.overtime(year, month)}">Straordinari</a></li>
    <li><a href="@{Competences.totalOvertimeHours(year)}">Monte ore</a></li>
    <li><a href="@{Competences.enabledCompetences()}">Abilita Competenze</a></li>
    <li><a href="@{Competences.exportCompetences()}">Esporta competenze</a></li>
  </ul>
</div>

<div class="container-fluid">

  <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tabella riassuntiva del mese di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year} </h3>
      </div>
      <div class="panel-body">
      
        <div class="col-xs-5">
          #{form action:@Competences.overtime(), class:'form-search',  
          method:'GET', autocomplete:'off',
          'data-reload':'#results'}
    
            <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="input-medium search-query"/>
            <i class="icon-search icon-large"></i>
            <input type="hidden" name="year" value="${year}"/>
	        <input type="hidden" name="month" value="${month}"/>
          #{/form}
         </div>

        <section id="results">

          <div class="col-xs-7">
            <ul class="pagination">
  	          #{list items:0..simpleResults.totalPage-1, as:'indexPage', class:'inline'}
  	            #{if simpleResults.page==indexPage}
  	              <li class="active"><a href="#">${indexPage+1}</a></li>
  	            #{/if}
  	            #{else}
  	              <li><a href="@{Competences.overtime(year, month,name, indexPage)}">${indexPage+1}</a></li>
  	            #{/else}
  	          #{/list}
            </ul>
		  </div>

		  
		  
		  
		  
		 <div class="col-xs-12">
		    <table class="table overtime-big table-hover">
		    	<tr>
			    	<th>Nome e cognome</th>
			    	%{for(col in tableFeature.columnKeySet()){
					}%
					<th>${col}</th>
					%{
					}
					}%
		
		    	</tr>
		    	%{  for(entry in tableFeature.rowMap().entrySet()){
				}%
		    	<tr>
		    		<td class="person">${entry.getKey().surname} ${entry.getKey().name} (${entry.getKey().number})</td>
		    		%{ for(col in tableFeature.columnKeySet()){
					}%
					%{if(col.equals('Giorni di Presenza') || col.equals('Ore straordinario pagate') || col.equals('Riposi compens.')){
					}%
						<td>
							${entry.getValue().get(col)}			
						</td>
						%{
						}else{
						}%
						<td>
							${entry.getValue().get(col).toHourTime()}			
						</td>
						%{
						}
						}%
					%{
					}
					}%
		    	</tr> 
		    	%{
		    	}
		    	}%   
		    </table>
		  </div>
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		  
		        

        </section>
        
        
        
        <!-- end Assegna Competenze panel body -->
      </div>
    </div>

</div>





































    
    
    