#{extends 'main_admin.html' /}

<div class="row">
  <div class="span0"></div>
  <div class="span11">

<h2 id="titoloGestioneStraordinariCompetenze">Gestione straordinari e altre competenze</h2>    

 <ul class="nav nav-tabs">
    	<li><a href="@{Competences.showCompetences(year, month)}#">Competenze</a></li>
    	<li><a href="@{Competences.overtime(year, month)}#">Straordinari</a></li>
    	<li><a href="@{Competences.totalOvertimeHours(year, month)}#">Monte ore</a></li>
    	<li class="active"><a href="@{Competences.recapCompetences()}#">Recap competenze</a></li>
 </ul>
 
<h3 id="titoloGestioneCompetenze">Da questa pagina puoi definire quali competenze spettano ad ogni persona</h3>

<input type="hidden" name="year" value="${year}"/>
<input type="hidden" name="month" value="${month}"/>


<table class="table table-striped">
	<tr>
		<th>Nome</th>
		%{for(col in tableRecapCompetence.columnKeySet()){
		}%
		<th>${col}</th>
	%{
		}
	}%
	</tr>

	%{  for(entry in tableRecapCompetence.rowMap().entrySet()){
		}%
	<tr>
		<td><a href="@{Competences.updatePersonCompetence(entry.getKey().id)}">${entry.getKey().name}</a> ${entry.getKey().surname}</td>
		%{ for(col in tableRecapCompetence.columnKeySet()){
		}%
		%{ if(entry.getValue().get(col) == true){
		}%	<td>	
				<input type="checkbox" name="name" value ="true" checked="checked" disabled="disabled"/>
			</td>
		%{ 
		}else{
		}%
			<td>	
				<input type="checkbox" name="name" value ="false" disabled="disabled"/>
			</td>
		%{
			}
		}%
		%{
		   }
		}%
	</tr>	
	%{
		}
	}%
</table>

</div>
</div>
