#{extends 'main_admin_no_menu.html' /}
#{set titolo: 'Gestione straordinari e altre competenze' /}

<ul class="nav nav-tabs">
  <li class="active"><a href="@{Competences.showCompetences(year, month)}#">Competenze</a></li>
  <li><a href="@{Competences.overtime(year, month)}#">Straordinari</a></li>
  <li><a href="@{Competences.totalOvertimeHours(year, month)}#">Monte ore</a></li>
  <li><a href="@{Competences.recapCompetences()}#">Recap competenze</a></li>
  <li><a href="@{Competences.exportCompetences()}#">Esporta competenze</a></li>
</ul>

<div class="row">

<div class="accordion span8" id="accordion1">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <p class="text-error"><strong>Competenze del mese di <span class="capitalized">&{'views.tags.display.date.month.' + month}</span> ${year}</strong></p>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse out">
      <div class="accordion-inner">
        <p>Totale ore di straordinario(S1+S2+S3) pagate a <span class="capitalized">&{'views.tags.display.date.month.' + month}</span>: <strong>${totaleOreStraordinarioMensile}</strong></p>
		<p>Totale ore di straordinario pagate nell'anno: <strong>${totaleOreStraordinarioAnnuale}</strong></p>
		<p>Totale monte ore nell'anno ${year}: <strong>${totaleMonteOre}</strong></p>
		<p class="lead">I valori per le reperibilità sono espressi in GIORNI, quelli per straordinari e turni in ORE</p>
      </div>
    </div>
  </div>
</div>
</div>
 
<input type="hidden" name="year" value="${year}"/>
<input type="hidden" name="month" value="${month}"/>







<section id="results">
<div class="row">
<div class="container span3">
#{form action:@Competences.showCompetences(), class:'form-search',  
    method:'GET', autocomplete:'off',
    'data-reload':'#results'}
    
    <input type="text" name="name" placeholder="Nome o cognome" value="${name}" class="input-medium search-query"/>
    <i class="icon-search icon-large"></i>
    <input type="hidden" name="year" value="${year}"/>
	<input type="hidden" name="month" value="${month}"/>

#{/form}
</div>

<div class="container">
<div class="pagination pagination-centered" style="margin-top: 0px;">
  <ul>
  	#{list items:0..simpleResults.totalPage, as:'indexPage', class:'inline'}
  	  #{if simpleResults.page==indexPage}
  	    <li class="active"><a href="#">${indexPage+1}</a></li>
  	  #{/if}
  	  #{else}
  	    <li><a href="@{Competences.showCompetences(year, month, name, indexPage)}">${indexPage+1}</a></li>
  	  #{/else}
  	  
       
	#{/list}
  </ul>
</div>
</div>

</div>
<table class="table table-hover competence-big" >
	<tr>
	  <th class="span2">Nome e cognome</th>
	#{list items:competenceCodes, as:'code'}
	     <th class="span2">
	      ${code.description}<br>
	      ${code.code}
	     </th>
	#{/list}
	</tr>
	
	#{list items:activePersons, as:'person'}
	  <tr>
	  <td class="person">${person.name} ${person.surname}</td>
	    #{list items:competenceCodes, as:'code'}
	     <td>
	     #{if person.competenceCode.contains(code)}
	     	#{if code.code.equals('S1')}
	     	(${person.getPositiveResidualInMonth(year,month)})
	     #{/if}
	     <a data-x-editable href="#" data-type="number" data-pk="${person.competence(code,year,month).id}" data-name="value"
	     	data-url="@{updateCompetence()}" 
	     	data-title="Modifica ${code.description} per ${person.name} ${person.surname}">${person.competence(code,year,month).valueApproved}</a>
	     </td>
	     #{/if}
	     
	     #{else}
	      <input class="span1" type="number" disabled="disabled"/>
	      <abbr title="La competenza ${code.code}-${code.description} non è attiva per l'utente ${person.name} ${person.surname}" class="initialism">.</abbr>
	     #{/else}
	    #{/list}
	  </tr>  
	#{/list}
	<tr>
		<td class="nomeCognome">TOTALE</td>
		#{list items:competenceCodes, as:'code'}
		<td>${code.totalFromCompetenceCode(month, year)}</td>
		#{/list}
	</tr>
</table>
</section>


