#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Assegna competenze'  /}


#{competences.competencesTabs activeAction:'showCompetences' /}

<div class="container">
  #{title title:'Assegna competenze ' + templateUtility.monthName(month) + ' ' + year, color:'primary' /}

  #{alert color:'info'}
  <p>Per assengnare la competenza individuare il dipendente ed il tipo di competenza nella
    tabella sottostante e cliccare sul valore attualmente assegnato.

  <p>

  <p>I valori per le reperibilità sono espressi in <strong>giorni</strong>,
    quelli per straordinari e turni in <strong>ore</strong>.</p>
  #{/alert}

    <!-- form paginata --> 
    #{form action:@showCompetences(), class:'form-horizontal', method:'GET',
          'data-reload':'#results', autocomplete:'off'}
	<input type="hidden" name="year" value="${year}"/>
    <input type="hidden" name="month" value="${month}"/>
    <input type="hidden" name="officeId" value="${office.id}"/>
	
	<div class="row">
	  <div class="col-md-6">
	    #{f.selectModel 'competenceCode', label:'Codice', items:competenceCodeList,
    		value:wrCompetenceCode.value /}
	  </div>
	   <div class="col-md-6">
	    #{f.input 'name', label:'Nome', 'data-autochange':true, value:name, autofocus:true,
            placeholder:'nome'.label() /}
	  </div>
	</div>    
    
    #{/form}

    <section id="results">
   	#{paginate results} 
	   
	   <table class="table table-hover table-bordered">
	     <tr class="warning">
	       <th>Nome e cognome</th>
	       <th>${wrCompetenceCode.value.description} ${wrCompetenceCode.value.code}</th>
	     </tr>
		
		
	   #{list items:results.results, as:'person'}
	    <tr>
	       %{ wrPerson = person.getWrapper(templateUtility.wrapperFactory); }%
   
           <td class="person">${person.fullname}</td>
           <td>
           
    	      #{if wrCompetenceCode.value.code.equals('S1')}
    	        (${wrPerson.getPositiveResidualInMonth(year,month)})
             #{/if}
           
             <a 
             #{if editCompetence} data-x-editable href="#" data-type="number" 
             data-pk="${wrPerson.competence(wrCompetenceCode.value,year,month).id}" data-name="value"
     	     data-url="@{updateCompetence()}" 
     	     data-title="Modifica ${wrCompetenceCode.value.description} per ${person.fullname}"
     	  	 #{/if}
     	     >
   	 	     ${wrPerson.competence(wrCompetenceCode.value,year,month).valueApproved}
    	    </a>

           </td>
         </tr>
	    #{/list}
	    </table>      
	    #{/paginate}



  <br>
  <br>
  #{alert color:'warning'}
  Totale competenze <strong>${wrCompetenceCode.value.description} ${wrCompetenceCode.value.code}</strong>
    assegnate nel mese per <strong>${office.name}</strong>
  <a data-tooltip data-toggle="tooltip" data-placement="right"
     title="Per aggiornare questo valore ricaricare la pagina">
    <strong>${wrCompetenceCode.totalFromCompetenceCode(month, year, office.id)}</strong>
  </a>
  #{/alert}
  </section>
  
  #{title title:'Riepilogo Straordinari assegnati ' + year, color:'primary' /}

  #{alert color:'info'}
  <h4><strong>Riepilogo straordinari ${office.name}</strong></h4>

  <table class="table table-condensed">

    <tr>
          <td>
            Totale ore di straordinario pagate a ${templateUtility.monthName(month)} (S1+S2+S3) 
          </td>
      <td><strong>${totaleOreStraordinarioMensile}</strong></td>
        </tr>
        <tr>
          <td>Totale ore di straordinario pagate nell'anno</td>
          <td><strong>${totaleOreStraordinarioAnnuale}</strong></td>
        </tr>
        <tr>
          <td>Totale monte ore nell'anno ${year}</td>
          <td><strong>${totaleMonteOre}</strong></td>
        </tr>
      </table>
  #{/alert}
</div> <!-- end container-fluid -->
