#{extends 'main_admin.html' /}

#{functionalMenuForm mainMenu: mainMenu /} 
<h2 id="titoloGestioneStraordinariCompetenze">Gestione straordinari e altre competenze</h2>
    <ul class="nav nav-tabs">
    	<li ><a href="@{Competences.showCompetences(year,month)}#">Competenze</a></li>
    	<li><a href="@{Competences.overtime(year, month)}#">Straordinari</a></li>
    	<li class="active"><a href="@{Competences.totalOvertimeHours(year, month)}#">Monte ore</a></li>
    	<li><a href="@{Competences.recapCompetences()}#">Recap competenze</a></li>
    </ul>
    #{form @Competences.saveOvertime()}
    <input type="hidden" name="year" value="${year}"/>
	<input type="hidden" name="month" value="${month}"/>
    <h3 id="monteOreStraordinario">Modifica del monte ore di straordinario del ${year}</h3>
    <table>
	    <tr>
	    	<th>Quando</th>
	    	<th>Ore definite</th>
	    </tr>
	    %{for(tot in total){
	    }%
	    <tr>
	    	<td>${tot.date}</td>
	    	<td>${tot.numberOfHours}</td>
	    </tr>
	    	%{
	    	}
	    	}%	
    </table>
    <p>Totale monte ore definite: %{int totale = 0;
    								for(tot in total) {
    								    totale = totale+tot.numberOfHours;
    								    }
    							   }% <b>${totale}</b>
    </p>
    
    <p id="inserimentoMonteOre">Inserire un incremento (segno +) o una diminuizione (segno -) rispetto al totale già disponibile prima del numero di ore da inserire</p>
    
    <input type="text" name="numeroOre" value="${}"/>
    
    <input id="" type="submit" value="Salva" />
    #{/form}
    
    