#{extends 'main.html' /}
#{form @Competences.saveOldOvertime()}
<h3>Tabella contenente le informazioni su straordinari e reperibilità del mese di <span class="capitalized">&{'views.tags.display.date.month.' + date.getMonthOfYear()}</span> ${date.getYear()}</h3>
<input type="hidden" name="person.id" value="${person.id}" />
<input type="hidden" name="month" value="${date.getMonthOfYear()}" />
<input type="hidden" name="year" value="${date.getYear()}" />
<input type="hidden" name="progressive" value="${progressive}" />
<p>Tra parentesi nella cella relativa agli straordinari, si trova il numero di ore disponibili per quel mese da utilizzare per eventuali straordinari da assegnare</p>
<table id="competenze">
		<tr>
			
			<th class="competenze">Ind.tà rep.tà feriale (207)</th>
			<th class="competenze">Ind.tà rep.tà festiva (208)</th>
			<th class="competenze">Straordinario diurno nei giorni lavorativi (S1)</th>
			
		</tr>
		<tr>
			
			<td class="comp"><br><br><input type="number" name="reperibilitaFeriale" value="${weekDayAvailability}" size="4" maxlength="4"/></td>
			<td class="comp"><br><br><input type="number" name="reperibilitaFestiva" value="${holidaysAvailability}"size="4" maxlength="4"/></td>
			<td class="comp"><p>Ore disponibili: (${progressive})<p><input type="number" name="straordinari" value="${daylightWorkingDaysOvertime}"size="4" maxlength="4"/></td>
			
		</tr>
		
</table>

<input id="updateOldOvertime" type="submit" value="Applica"/>
#{/form}