#{extends 'modal.html' /}
#{set modalHeader: 'Abilita competenze per ' + person.name + ' ' + person.surname /}

<div class="container-fluid center">
#{form @Competences.saveNewCompetenceConfiguration()}
<input type="hidden" name="personId" value="${person.id}"/>
<table class="table table-condensed table-hover table-form">

#{list items:pcr.totalCompetenceCode, as:'comp'}
<tr>
	<td>
	#{if pcr.personActiveCompetence.contains(comp)}
		Sì <input type="radio" value="true" name="competence.${comp.code}" checked="checked"/> 
		No <input type="radio" value="false" name="competence.${comp.code}"/>
	#{/if}
	#{else}
		Sì <input type="radio" value="true" name="competence.${comp.code}"/>
		No <input type="radio" value="false" checked="checked" name="competence.${comp.code}"/>
	#{/else}
	</td>
	<td>${comp.description}</td>
</tr>
#{/list}

</table>
  <div class="buttoncenter">
    <input type="submit" class="btn btn-primary"id="saveCompetence" value="Ok"/>
  </div>
#{/form}
</div>