#{extends 'main.html' /}
#{set title:'ePas - electronic Personnel Attendance Sheet' /}

<h2>Benvenuto in ePAS</h2>

 <div id="login">
    
    #{form @login(), id:'formLogin'}
        <p class="field">
            <label>Username:</label>
            <input type="text" name="username" size="19" value="${flash.username}" />
        </p>
        <p class="field">
            <label>Password:</label>
            <input type="password" name="password" size="19"/>
        </p>    
        <p class="buttons">
            <input type="submit" value="Account login" />
        </p> 
    #{/form}
</div>