#{if ip.isAdministrationVisible() }
  <ul class="nav navbar-nav">
    
   *{ Drop down corrente }*
   #{if dropDown.equals("dropDownAdministration") }
     <li class="dropdown active">
   #{/if}
   #{else}
     <li class="dropdown">
   #{/else}
    
    *{ responsività dropDown }*
     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o"></i>
       <div class="visible-xs-inline visible-md-inline visible-lg-inline"> &{'administrations'}<span class="caret"></span></div>
     </a>
     
     *{ items }*
     <ul class="dropdown-menu">
     
	   *{ Lista Persone }*	
     
       #{if ip.viewPerson }
       <li><a href="@{Persons.list()}">Lista Persone</a></li>
       <li class="divider"></li>
       #{/if}

       *{ Gestione Presenze Timbrature / Assenze / Competenze / Ferie e Permessi / Buoni Pasto }*
       
       #{if ip.viewPersonDay }
       <li><a href="@{Stampings.personStamping(session.get("personSelected"),
         session.get("yearSelected"),
         session.get("monthSelected"))}">Timbrature</a></li>
       <li><a href="@{Absences.showGeneralMonthlyAbsences(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected"))}">Assenze</a></li>
       <li><a href="@{VacationsAdmin.list(session.get("yearSelected"), session.get("officeSelected"))}">Ferie e Permessi</a></li>
       #{/if}
       #{if ip.viewCompetence }
       <li><a href="@{Competences.showCompetences(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected"))}">Competenze</a></li>
       #{/if}
       #{if ip.viewPersonDay }
       <li><a href="@{MealTickets.recapMealTickets(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected") )}">Buoni Pasto</a></li>
       #{/if}
       #{if ip.viewPersonDay || ip.viewCompetence}
       <li class="divider"></li>
       #{/if}
       
       *{ Controllo Presenze Timbrature Mancanti / Presenza giornaliera / Riepilogo Mensile }*
       
       #{if ip.viewPersonDay }
       <li><a href="@{Stampings.missingStamping(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected") )}">Timbrature Mancanti</a></li>
       <li><a href="@{Stampings.dailyPresence(session.get("yearSelected"),
         session.get("monthSelected"), session.get("daySelected"), session.get("officeSelected") )}">Presenza Giornaliera</a></li>
       *{
       <li><a href="@{Stampings.holidaySituation(session.get(" yearSelected"))}">Presenza Festiva Annuale</a></li>
       }*
       <li><a href="@{MonthRecaps.showrecaps(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected") )}">Riepilogo Mensile</a></li>
       #{/if}
       
       #{if ip.viewPersonDay}
       <li class="divider"></li>
       #{/if}
       
       *{ Utility Stampa Cartellino / Utility }*
       
       #{if ip.viewPersonDay }
       <li><a href="@{PrintTags.listPersonForPrintTags(session.get("yearSelected"),
         session.get("monthSelected"))}">Stampa Cartellino</a></li>
       <li><a href="@{PersonMonths.visualizePeopleTrainingHours(session.get("yearSelected"),
         session.get("monthSelected"), session.get("officeSelected") )}">Ore di formazione</a></li>
       <li><a href="@{Charts.indexCharts()}">Utility</a></li>
       #{/if}
       
       #{if ip.viewPersonDay}
       <li class="divider"></li>
       #{/if}
       
       *{ Invio Attestati }*
       
       #{if ip.uploadSituation }
       <li><a href="@{UploadSituation.uploadData(session.get("officeSelected"))}">Invio Attestati</a></li>
       <li><a href="@{Certifications.certifications(session.get("officeSelected"))}">Invio Nuovo Attestati</a></li>
       #{/if}

      </ul> *{ end items }*
    </li>
  </ul>
#{/if}