<script src="/public/javascripts/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#337ab7"
    },
    "button": {
      "background": "#fff",
      "text": "#337ab7"
    }
  },
  "position": "bottom-left",
  "content": {
    "message": "Questo sito utilizza cookies tecnici nel rispetto dell'articolo 13 del GDPR " + 
               "2016/679. Proseguendo nella navigazione acconsenti " + 
               "al trattamento dei dati essenziali per il funzionamento del servizio.",
    "dismiss": "Ok accetto",
    "link": "Maggiori approfondimenti",
    "href": "/applicationInfo/privacyPolicy"
  }
});
</script>