<ul class="nav navbar-nav">

  #{set actions:[
  'Stampings.stampings',
  'Absences.absences',
  'Absences.absencesPerPerson',
  'Vacations.show',
  'Competences.competences',
  'PersonMonths.trainingHours',
  'PersonMonths.hourRecap',
  'MealTickets.mealTickets',
  'PrintTags.showTag',
  'Persons.changePassword',
  'Absences.absencesVisibleForEmployee'] /}

  <li class="dropdown #{if request.action in actions}active#{/if}">

                

    *{ responsività dropDown }*
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
     
     <!-- popover element che indicano la tipologia di connessione -->
     <div class="webui-popover-content" id="loginShibboleth">
       <p class="text-success">Connessione effettuata tramite credenziali CNR</p>
  	 </div>
  	 <div class="webui-popover-content" id="loginLocal">
       <p>Connessione effettuata tramite credenziali locali ePAS</p>
  	 </div>
     
     <!-- selezione icona e popover a seconda della tipologia di connessione -->
     #{if session.get('shibboleth')}  
       <span webui-popover-hover data-url="#loginShibboleth"> 
  	     <i class="fa fa-id-card" aria-hidden="true"></i>
       </span>
     #{/if}
     #{else}
      <span webui-popover-hover data-url="#loginLocal"> 
        <i class="fa fa-user"></i>
      </span>  
     #{/else}
     
     <!-- visualizza l'username -->
     <div class="visible-lg-inline visible-xs-inline"> ${session.username}
        <span class="caret"></span>
     </div>
      
    </a>

    *{ items }*
    <ul class="dropdown-menu">

      #{secure.li @Stampings.stampings(session.get("yearSelected"), session.get("monthSelected")) }
        <i class="fa fa-calendar" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @Absences.absences(session.get("yearSelected"), session.get("monthSelected")) }
      <i class="fa fa-user-times" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @Absences.absencesPerPerson(session.get("yearSelected")) }
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @Vacations.show(session.get("yearSelected")) }
      <i class="fa fa-plane" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @Competences.competences(session.get("yearSelected"), session.get("monthSelected")) }
      <i class="fa fa-money" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @PersonMonths.trainingHours(session.get("yearSelected")) }
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @PersonMonths.hourRecap(session.get("yearSelected")) }
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @MealTickets.mealTickets() }
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.check 'PrintTags.showTag'}
      <li class="divider"></li>
      #{/secure.check}

      #{secure.li @PrintTags.showTag('id':session.get("personSelected"), session.get("monthSelected"),session.get("yearSelected"), true) }
      <i class="fa fa-print" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.check 'Persons.changePassword'}
      <li class="divider"></li>
      #{/secure.check}

      #{secure.li @Persons.changePassword() }
      <i class="fa fa-key" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.check 'Absences.absencesVisibleForEmployee'}
      <li class="divider"></li>
      #{/secure.check}

      #{secure.li @Absences.absencesVisibleForEmployee(session.get("yearSelected"), session.get("monthSelected"), session.get("daySelected")) }
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.check 'Stampings.dailyPresenceForPersonInCharge'}
        <li class="divider"></li>
      #{/secure.check}

      #{secure.li @Stampings.dailyPresenceForPersonInCharge(session.get("yearSelected"), session.get("monthSelected"), session.get("daySelected")) }
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      #{/secure.li}

      #{secure.li @Competences.monthlyOvertime(session.get("yearSelected"), session.get("monthSelected")) }
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      #{/secure.li}

    </ul>
    *{ end items }*
  </li>
</ul>