#{if templateUtility.notifications.count > 0 || templateUtility.archivedNotifications.count > 0}
<li class="dropdown" id="notifications">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-bell fa-fw"></i>
    #{if templateUtility.notifications.count > 0}
      <span class="label label-danger label-badge">${templateUtility.notifications.count}</span>
    #{/if}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    #{list items:templateUtility.notifications.partialList, as:'notification'}
    <li>
      <a #{if notification.redirect}href="@{Notifications.readAndRedirect(notification.id)}"#{/if}
        #{else}href="@{Notifications.read(notification.id)}" data-async="#notifications"#{/else}>
      <i class="fa fa-comment fa-fw"></i> ${notification.message}
        <span class="label label-info label-badge">
          <time datetime="${notification.createdAt}"
            title="${notification.createdAt.format()}">${notification.createdAt.toDate().since()}
          </time>
        </span>
      </a>
    </li>
    #{if notification_isLast}
    <li class="divider"></li>
    #{/if}
    #{/list}
    #{secure.check 'Notifications.list'}
    #{if templateUtility.notifications.count > 0}
    <li>
      <a href="@{Notifications.list()}">
        <i class="fa fa-bell fa-fw"></i> &{'notification.list'}
          <span class="label label-danger label-badge">${templateUtility.notifications.count}</span>
      </a>
    </li>
    #{/if}
    #{if templateUtility.archivedNotifications.count > 0}
    <li>
      <a href="@{Notifications.archiveds()}">
        <i class="fa fa-bell-o fa-fw"></i> &{'notification.archiveds'}
          <span class="label label-default label-badge">${templateUtility.archivedNotifications.count}</span>
      </a>
    </li>
    #{/if}
    #{/secure.check}
  </ul>
</li>
#{/if}