

#{form @SwitchTemplate.dispatch(), class: 'navbar-form' }
	#{select 'method', value:session.get("methodSelected"), class:'span3', id:'method', onChange:'javascript:this.form.submit()' }
	 %{
	 	for (menuItem in mainMenu.getMethods()) {
	 }%
        #{option menuItem.getAction()}${menuItem.getDescription()}#{/option}
    %{
    	}
    }% 
		
	#{/select}
	
	#{select 'year', value:session.get("yearSelected"), class:'span1', id:'year', onChange:'javascript:this.form.submit()'}
		#{option 2013}2013#{/option}
		#{option 2014}2014#{/option}
		#{option 2015}2015#{/option}
	#{/select}
	
		
	#{select 'month', value:session.get("monthSelected"), class:'span2', id:'month', onChange:'javascript:this.form.submit()'}
	%{if (mainMenu.method.name().equals('monthRecap') || mainMenu.method.name().equals('totalMonthlyAbsences')){
	}%
		#{option 0}Tutti i mesi#{/option}
	%{
		}
	}%	
		#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
	
	
	%{if (mainMenu.day != null || mainMenu.method.name() == 'dailyPresence') {
	}%
		#{select 'day', value:mainMenu.day, class:'span1', id: 'day', onChange:'javascript:this.form.submit()'}
			%{ for(day in mainMenu.days){
				}%
				#{option day}${day}#{/option}
				%{
					}
				}%		
		#{/select}		
	%{}}%		
	
	#{secure.check "viewPersonList"}
		#{select 'personId', value:session.get("personSelected"), class:'span3', id:'person', onChange:'javascript:this.form.submit()'}
			#{option 0}Scegli una persona#{/option}
		%{
			for(person in mainMenu.persons){
		}%
			#{option person.id}${person.surname + ' ' + person.name}#{/option}
			%{
				}
			}%
		
		#{/select}
	#{/secure.check}
	
	

	<input class="btn" type="submit" value="Invio">
	<input id="pastYear" type="button" onclick="window.open('http://orologio-history.iit.cnr.it/');" class="btn" value="Anni &lt; 2013">

     #{if session.username}
			
           <a href="@{secure.logout()}" class="btn btn-warning pull-right">Logout</a>
		   #{secure.permissionCheck}
    		  <a href="@{Faq.faq()}" class="btn btn-success pull-right">FAQ</a>
		   #{/secure.permissionCheck}
      #{/if}

#{/form}



#{set 'moreScripts'}
#{get 'moreScripts'/}

#{/set}