#{extends 'Wizard/wizard.html' /}
#{form @Wizard.changeAdminPsw(),class:'form-horizontal',role:'form'}
#{f.hidden 'stepIndex', value:currentStep.index/}

#{f.view 'Utente Admin',value:'admin' /}

#{f.input 'adminPassword',type:'password',required:true,value:properties.getProperty('adminPassword'),placeholder:'Password' /}
#{f.input 'adminPasswordRetype',type:'password',required:true,value:properties.getProperty('adminPassword'),placeholder:'Ridigita  Password' /}
<legend id="bottom_line" class="col-sm-12"></legend>
#{b.submit 'Invia', class:'col-sm-2 col-sm-offset-5', /}

#{/form}
