#{extends 'Wizard/wizard.html' /}

%{
  stepIndex = currentStep.getIndex();
  
  adminPassword = properties.getProperty("Nuova Password Admin");
}%

#{form @Wizard.changeAdminPsw(),class:'form-orizontal',role:'form'}
<fieldset>
#{field 'admin'}
<div class='form-group col-sm-8 col-sm-offset-2'>
  <label class="control-label" for="${field.id}">Profilo Admin</label>
  <input class="form-control" disabled placeholder="admin" id="${field.id}" type="text" />
</div>
#{/field}

#{field 'adminPassword'}
<div class='form-group col-sm-4 col-sm-offset-2 #{if field.error}has-error#{/if}'>
  <label class="control-label" for="${field.id}">Nuova Password Admin</label>
  <input  class="form-control" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}">
  #{if field.error}
  <span class="help-block">${field.error}</span>
  #{/if}
</div>
#{/field}

#{field 'adminPasswordRetype'}
<div class='form-group col-sm-4 #{if field.error}has-error#{/if}'>
  <label class="control-label" for="${field.id}">Reinserire la password</label>
  <input class="form-control" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}">
  #{if field.error}
  <span class="help-block">${field.error}</span>
  #{/if}
</div>
#{/field}

<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4">Invia</button>
</fieldset>
#{/form}














