#{extends 'Wizard/wizard.html' /}
#{set 'moreStyles'}
<style>
form{
	margin-bottom: 8.5em;
}
</style>
#{/set}

%{
	adminPassword = properties.getProperty("Nuova Password Admin");
}%


#{form @Wizard.changeAdminPsw(),class:'form-horizontal'}
<fieldset>

#{field 'admin'}
    <div class="control-group">         
            <label  class="control-label"">Profilo Admin</label>
     <div class="controls">
            <input class="input-large" disabled placeholder="admin" id="${field.id}" type="text">
      </div>
   </div>
#{/field}

#{field 'adminPassword'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Reimpostare password account 'admin'</label>
     <div class="controls">
            <input  class="input-large" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}">
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

#{field 'adminPasswordRetype'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Reinserire la password</label>
     <div class="controls">
            <input  class="input-large" placeholder="Retype Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}" />
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

<input type="submit" class="btn btn-info btn-large"/>

</fieldset>
#{/form}


