#{extends 'Wizard/wizard.html' /}

#{form @Wizard.seatManagerRole(),class:'form-horizontal'}
#{f.hidden 'stepIndex', value:currentStep.index/}
<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Amministratore della Sede</em>
</h2></legend>

#{f.input 'person.name',required:true,value:properties.getProperty('personnelAdminName') /}
#{f.input 'person.surname',required:true,value:properties.getProperty('personnelAdminSurname') /}
#{f.date 'person.birthday',view:'year',value:properties.getProperty('personnelAdminBirthday') /}
#{f.input 'person.email',required:true,value:properties.getProperty('personnelAdminEmail') /}
#{f.input 'person.number',type:'number',value:properties.getProperty('personnelAdminNumber') /}

#{f.edit 'qualification'}
  #{select field.id, value:properties.getProperty('personnelAdminQualification'),class:'form-control'}
  #{list items:1..8}
    #{option _}Livello ${_}#{/option}
  #{/list}
  #{/select}
#{/f.edit}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Dati contrattuali</em></h2>
</legend>

#{f.date 'beginDate',required:true,view:'year',value:properties.getProperty('personnelAdminbeginDate') /}
#{f.date 'endContract',view:'year',value:properties.getProperty('personnelAdminEndContract') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Scelta password d'accesso</em>
</h2></legend>

#{f.input 'managerPassword',type:'password',required:true,value:properties.getProperty('personnelAdminPassword'),placeholder:'Password' /}
#{f.input 'managerPasswordRetype',type:'password',required:true,value:properties.getProperty('personnelAdminPassword'),placeholder:'Ridigita  Password' /}


<legend id="bottom_line" class="col-sm-12"></legend>
#{b.submit 'Invia', class:'col-sm-2 col-sm-offset-5', /}
#{/form}
