#{extends 'Wizard/wizard.html' /}

#{form @Wizard.seatManagerRole(),role:'form'}
<input type="hidden" name="stepIndex" value="${currentStep.index}"/>
<fieldset>

  <div class="page-header col-sm-6 col-sm-offset-3">
    <h1><small>Amministratore della Sede</small></h1>
  </div>

  <div class="row">
    #{field 'manager_surname'}
    <div class='form-group col-sm-3 col-sm-offset-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Cognome</label>
      <input class="form-control" placeholder="Cognome" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}' required>
      #{if field.error}
      <span class="help-block">${field.error}</span>
      #{/if}
    </div>
    #{/field}

    #{field 'manager_name'}
    <div class='form-group col-sm-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Nome</label>
      <input class="form-control" placeholder="Nome" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}' required>
      #{if field.error}
      <span class="help-block">${field.error}</span>
      #{/if}
    </div>
    #{/field}
  </div>

  <div class="row">
    #{field 'manager_qualification'}
    <div class='form-group col-sm-3 col-sm-offset-3' >
      <label class="control-label" for="${field.id}">Livello qualifica</label>
      #{select field.id, value:properties.getProperty(field.name), id:field.id,class:'form-control'}
      #{list items:1..9, as:'i'}
      #{option i}${i}#{/option}
      #{/list}
      #{/select}
    </div>
    #{/field}

    #{field 'manager_birthday'}
    <div class='form-group col-sm-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Data di Nascita</label>
      <div class="input-group">
        <input datepicker-year class="form-control" placeholder="yyyy-mm-dd" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}'>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}
  </div>

  <div class="row">
    #{field 'manager_badge_number'}
    <div class='form-group col-sm-3 col-sm-offset-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Numero badge</label>
      <input class="form-control" placeholder="num. badge" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}'>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}

    #{field 'manager_registration_number'}
    <div class='form-group col-sm-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Matricola</label>
      <input class="form-control" placeholder="num. matricola" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}'>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}
  </div>

  <div class="row">
    #{field 'manager_contract_begin'}
    <div class='form-group col-sm-3 col-sm-offset-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Data inizio contratto</label>
      <div class="input-group">
        <input datepicker-year class="form-control" placeholder="yyyy-mm-dd" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}' required>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}

    #{field 'manager_contract_end'}
    <div class='form-group col-sm-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Data termine contratto</label>
      <div class="input-group">
        <input datepicker-year class="form-control" placeholder="yyyy-mm-dd" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}'>
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}

  </div>
  <div class="row">
    #{field 'manager_email'}
    <div class='form-group col-sm-6 col-sm-offset-3 #{if field.error}has-error#{/if}'>
      <label class="control-label" for="${field.id}">Indirizzo email</label>
      <input class="form-control" placeholder="tua@email.it" id="${field.id}" type="text" name="${field.name}" value='${properties.getProperty(field.name)}'>
      #{if field.error}<span class="help-block">${field.error}</span>#{/if}
    </div>
    #{/field}
  </div>

  <div class="page-header col-sm-6 col-sm-offset-3">
    <h1><small>Username e Password</small></h1>
  </div>

  #{field 'manager_username'}
  <div class='form-group col-sm-6 col-sm-offset-3 #{if field.error}has-error#{/if}' >
    <label class="control-label" for="${field.id}">Scelta Username</label>
    #{select field.id, id:field.id,class:'form-control'}
    #{/select}
    #{if field.error}<span class="help-block">${field.error}</span>#{/if}
  </div>
  #{/field}

  #{field 'manager_password'}
  <div class='form-group col-sm-3 col-sm-offset-3 #{if field.error}has-error#{/if}'>
    <label class="control-label" for="${field.id}">Password</label>
    <input  class="form-control" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value='${properties.getProperty(field.name)}' required>
    #{if field.error}<span class="help-block">${field.error}</span>#{/if}
  </div>
  #{/field}

  #{field 'manager_password_retype'}
  <div class='form-group col-sm-3 #{if field.error}has-error#{/if}'>
    <label class="control-label" for="${field.id}">Reinserire la password</label>
    <input class="form-control" placeholder="Retype Password" id="${field.id}" type="password" name="${field.name}" value='${properties.getProperty("manager_password")}' required>
    #{if field.error}<span class="help-block">${field.error}</span>#{/if}
  </div>
  #{/field}

  <legend id="bottom_line" class="col-sm-12"></legend>

  <button type="submit" class="btn btn-primary col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">Invia</button>

</fieldset>
#{/form}

#{set 'moreScripts'}
<script type="text/javascript">

 $(document).ready( function (){

   generateUserName($("#manager_name"),$("#manager_surname"),$("#manager_username"));
  $("#manager_username").val('${properties.getProperty('manager_username')}');

  $('#manager_surname').change(function(){
    generateUserName($("#manager_name"),$("#manager_surname"),$("#manager_username"));
  });

  $('#manager_name').change(function(){
     generateUserName($("#manager_name"),$("#manager_surname"),$("#manager_username"));
  });

});
</script>
#{/set}
