#{extends 'Wizard/wizard.html' /}
#{set 'moreStyles'}
<style>
form{
	margin-bottom: 8.5em;
}
</style>
#{/set}

%{
	user = properties.getProperty("Nome Amministratore");
	password = properties.getProperty("Password Amministratore");
}%


#{form @Wizard.setAdmin(),class:'form-horizontal'}
<fieldset>

#{field 'user'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Inserire un nome utente</label>
     <div class="controls">
            <input class="input-large" required="" placeholder="Username" id="${field.id}" type="text" name="${field.name}" value="${user}">
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

#{field 'password'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Inserire la password</label>
     <div class="controls">
            <input  class="input-large" required="" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${password}">
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

#{field 'passwordRetype'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Reinserire la password</label>
     <div class="controls">
            <input  class="input-large" required="" placeholder="Retype Password" id="${field.id}" type="password" name="${field.name}" value="${password}" />
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

<input type="submit" class="btn btn-info btn-large"/>

</fieldset>
#{/form}


