#{extends 'Wizard/wizard.html' /}

%{
	user = properties.getProperty("Nome Amministratore");
	password = properties.getProperty("Password Amministratore");
  stepIndex = currentStep.index;
}%

#{form @Wizard.setAdmin(),class:'form-orizontal',role:'form'}
<fieldset>
#{field 'admin'}
<div class='form-group col-sm-8 col-sm-offset-2'>
  <label for="${field.id}">Profilo Admin</label>
  <input class="form-control" disabled placeholder="admin" id="${field.id}" type="text" />
</div>
#{/field}

#{field 'adminPassword'}
<div class='form-group col-sm-4 col-sm-offset-2 #{if field.error}has-error has-feedback#{/if}'>
  <label for="${field.id}">Nuova Password Admin</label>
  <input  class="form-control" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}">
  #{if field.error}
  <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  <span class="help-block">${field.error}</span>
  #{/if}
</div>
#{/field}

#{field 'adminPasswordRetype'}
<div class='form-group col-sm-4 #{if field.error}has-error has-feedback#{/if}'>
  <label for="${field.id}">Reinserire la password</label>
  <input class="form-control" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${adminPassword}">
  #{if field.error}<span class="glyphicon glyphicon-remove form-control-feedback"></span>#{/if}
  <span class="help-block">${field.error}</span>
</div>
#{/field}

<button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4">Invia</button>
</fieldset>
#{/form}

#{form @Wizard.setAdmin(),class:'form-horizontal'}
<fieldset>

#{field 'user'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Inserire un nome utente</label>
     <div class="controls">
            <input class="input-large" placeholder="Username" id="${field.id}" type="text" name="${field.name}" value="${user}">
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

#{field 'password'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Inserire la password</label>
     <div class="controls">
            <input  class="input-large" placeholder="Password" id="${field.id}" type="password" name="${field.name}" value="${password}">
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

#{field 'passwordRetype'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Reinserire la password</label>
     <div class="controls">
            <input  class="input-large" placeholder="Retype Password" id="${field.id}" type="password" name="${field.name}" value="${password}" />
            <p class="help-block">${field.error}</p>
      </div>
   </div>
#{/field}

<input type="submit" class="btn btn-info btn-large"/>

</fieldset>
#{/form}


