#{extends 'Wizard/wizard.html' /}

#{set 'moreStyles'}
#{/set}

%{
dayVacantionExp = properties.getProperty("day_expiry_vacation_past_year");
monthVacantionExp = properties.getProperty("month_expiry_vacation_past_year");
monthExpireRecoveryDaysOneThree = properties.getProperty("month_expire_recovery_days_13");
maxRecoveryDaysOneThree = properties.getProperty("max_recovery_days_13");
monthExpireRecoveryDaysFourNine = properties.getProperty("month_expire_recovery_days_49");
maxRecoveryDaysFourNine = properties.getProperty("max_recovery_days_49");
hourMaxToCalculateWorkTime = properties.getProperty("hour_max_to_calculate_worktime");

  stepIndex = currentStep.index;

}%

#{form @Wizard.setConfYear(),class:'form-horizontal'}
<fieldset>


    <div class="control-group">         
            <label class="control-label">Giorno scadenza vacanze anno precedente</label>
     <div class="controls form-inline">
     #{select 'dayVacantionExp', value:dayVacantionExp, id:'dayVacantionExp',class:'input-mini'}
  		 #{list items:1..31, as:'i'}
  	 		#{option i}${i}#{/option}
  	 	#{/list}
	#{/select}
	
	#{select 'monthVacantionExp', value:monthVacantionExp, id:'monthVacantionExp',class:'input-medium'}
     	#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
    </div>
   </div>

#{field 'monthExpireRecoveryDaysOneThree'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label class="control-label" for="${field.id}">Mese scadenza giorni di recupero lv 1-3</label>
     <div class="controls">
     #{select field.name, value:monthExpireRecoveryDaysOneThree, id:field.id}
     	#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
    </div>
   </div>
#{/field}

#{field 'maxRecoveryDaysOneThree'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Numero massimo giorni di recupero lv 1-3</label>
     <div class="controls">
            <input placeholder="Giorni di recupero massimi" class="input-large" id="${field.id}" type="text" name="${field.name}" value="${maxRecoveryDaysOneThree}">
            <span class="help-block">${field.error}</span>
      </div>
   </div>
#{/field}
  
#{field 'monthExpireRecoveryDaysFourNine'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label class="control-label" for="${field.id}">Mese scadenza giorni di recupero lv 4-9</label>
     <div class="controls">
     #{select field.name, value:monthExpireRecoveryDaysFourNine, id:field.id}
     	#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
    </div>
   </div>
#{/field}

#{field 'maxRecoveryDaysFourNine'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Numero massimo giorni di recupero lv 4-9</label>
     <div class="controls">
            <input placeholder="Giorni di recupero massimi" class="input-large" id="${field.id}" type="text" name="${field.name}" value="${maxRecoveryDaysFourNine}">
            <span class="help-block">${field.error}</span>
      </div>
   </div>
#{/field}

#{field 'hourMaxToCalculateWorkTime'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label  class="control-label" for="${field.id}">Soglia oraria per il calcolo delle timbrature del giorno</label>
     <div class="controls">
            <input placeholder="hh" class="input-mini" id="${field.id}" type="text" name="${field.name}" value="${hourMaxToCalculateWorkTime}">
            <span class="help-block">${field.error}</span>
      </div>
   </div>
#{/field}

<input type="submit" class="btn btn-info btn-large"/>

</fieldset>
#{/form}
