#{extends 'Wizard/wizard.html' /}

#{form @Wizard.setOffice(),class:'form-horizontal'}
#{f.hidden 'stepIndex', value:currentStep.index/}
<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Istituto</em></h2></legend>

#{f.input 'institute.name',value:properties.getProperty('instituteName') /}
#{f.input 'institute.cds',popover:true,value:properties.getProperty('instituteCds') /}
#{f.input 'institute.code',popover:true,value:properties.getProperty('instituteCode') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Sede</em></h2></legend>

#{f.input 'office.name',value:properties.getProperty('officeName') /}
#{f.input 'office.code',popover:true,value:properties.getProperty('officeCode') /}
#{f.input 'office.codeId',popover:true,value:properties.getProperty('officeCodeId') /}
#{f.input 'office.address',value:properties.getProperty('officeAddress') /}
#{f.date 'office.joiningDate',popover:true,value:properties.getProperty('officeJoiningDate') /}

<legend id="bottom_line" class="col-sm-12"></legend>
#{b.submit 'Invia', class:'col-sm-2 col-sm-offset-5', /}
#{/form}
