#{extends 'Wizard/wizard.html' /}
#{set 'moreStyles'}
<style>
form{
	margin-bottom: 14em;
}
</style>
#{/set}
%{
	patronMonth = properties.getProperty("month_of_patron");
	patronDay = properties.getProperty("day_of_patron");
}%

#{form @Wizard.setPatron(),class:'form-horizontal'}
<fieldset>

#{field 'patronDay'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label class="control-label" for="${field.id}">Giorno del Patrono</label>
     <div class="controls">
     #{select field.name, value:patronDay, id:field.id}
  		 #{list items:1..31, as:'i'}
  	 		#{option i}${i}#{/option}
  	 	#{/list}
		#{/select}
    </div>
   </div>
#{/field}

#{field 'patronMonth'}
    <div class="control-group #{if field.error}error#{/if}">         
            <label class="control-label" for="${field.id}">Mese del Patrono</label>
     <div class="controls">
     #{select field.name, value:patronMonth, id:field.id}
     	#{option 1}Gennaio#{/option}
		#{option 2}Febbraio#{/option}
		#{option 3}Marzo#{/option}
		#{option 4}Aprile#{/option}
		#{option 5}Maggio#{/option}
		#{option 6}Giugno#{/option}
		#{option 7}Luglio#{/option}
		#{option 8}Agosto#{/option}
		#{option 9}Settembre#{/option}
		#{option 10}Ottobre#{/option}
		#{option 11}Novembre#{/option}
		#{option 12}Dicembre#{/option}
	#{/select}
    </div>
   </div>
#{/field}

<input type="submit" class="btn btn-info btn-large"/>
</fieldset>

#{/form}

