#{extends 'Wizard/wizard.html' /}

#{form @Wizard.summary(),class:'form-horizontal col-sm-8 col-sm-offset-2'}
#{f.hidden 'stepIndex', value:currentStep.index/}
<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Password Amministratore</em>
</h2></legend>

#{f.view 'Utente Admin',value:'admin' /}
#{f.view 'adminPassword',value:properties.getProperty('adminPassword') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Istituto</em></h2></legend>

#{f.view 'institute.name',value:properties.getProperty('instituteName') /}
#{f.view 'institute.cds',value:properties.getProperty('instituteCds') /}
#{f.view 'institute.code',value:properties.getProperty('instituteCode') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Sede</em></h2></legend>

#{f.view 'office.name',value:properties.getProperty('officeName') /}
#{f.view 'office.code',value:properties.getProperty('officeCode') /}
#{f.view 'office.codeId',value:properties.getProperty('officeCodeId') /}
#{f.view 'office.address',value:properties.getProperty('officeAddress') /}
#{f.view 'office.joiningDate',value:properties.getProperty('officeJoiningDate') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Configurazione Generale</em></h2></legend>

#{f.view 'dateOfPatron',value:properties.getProperty('dateOfPatron') /}
#{f.view 'lunchPauseStart',value:properties.getProperty('lunchPauseStart') /}
#{f.view 'lunchPauseEnd', value:properties.getProperty('lunchPauseEnd') /}
#{f.view 'emailToContact',value:properties.getProperty('emailToContact') /}

<legend class="col-sm-8 col-sm-offset-2"><h2 class="text-center"><em>Amministratore della Sede</em>
</h2></legend>

#{f.view 'person.name',value:properties.getProperty('personnelAdminName') /}
#{f.view 'person.surname',value:properties.getProperty('personnelAdminSurname') /}
#{f.view 'person.birthday',value:properties.getProperty('personnelAdminBirthday') /}
#{f.view 'person.email',value:properties.getProperty('personnelAdminEmail') /}
#{f.view 'person.number',value:properties.getProperty('personnelAdminNumber') /}
#{f.view 'qualification',value:properties.getProperty('personnelAdminQualification') /}

<legend class="col-sm-8 col-sm-offset-2"><h3 class="text-center"><em>Dati contrattuali</em></h3>
</legend>

#{f.view 'beginDate',value:properties.getProperty('personnelAdminbeginDate') /}
#{f.view 'endContract',value:properties.getProperty('personnelAdminEndContract') /}

<legend class="col-sm-8 col-sm-offset-2"><h3 class="text-center"><em>Password d'accesso amministratore</em>
</h3></legend>

#{f.view 'managerUser' /}
#{f.view 'managerPassword',value:properties.getProperty('personnelAdminPassword') /}

<legend id="bottom_line" class="col-sm-12"></legend>
#{b.submit 'Conferma', class:'col-sm-4 col-sm-offset-4 btn-success', /}

#{/form}

