#{extends 'main.html' /}
#{set title:'Wizard di installazione ePas' /}

#{set 'moreStyles'}
<style type="text/css">
h2{
padding: 2px;
border-radius:40px;
margin: 5% 20% 8% 20%; 
}
#page-content{
text-align: center;
margin:	auto 20%;
}
form{
margin: auto 30%;
}
#progressBar{
position: absolute;
bottom: 60px;
width: 60%;
}
</style>
 #{get 'moreStyles' /}
#{/set}


<div class="btn-group">
 #{list items:steps, as:'step'}
	<a class="btn #{if currentStep.name == step.name} btn-info #{/if}
			#{else}
				#{if step.completed} btn-success #{/if}
	     		#{else} btn-danger#{/else}
			#{/else}" href="@{wizard.wizard(step.index)}">${step.name}</a>
 #{/list}
</div>

<h2 class="btn-info">${currentStep.name}</h2>

#{doLayout/}

<div id="progressBar">
<ul class="pager">
  <li><a href="@{Wizard.wizard(currentStep.index-1)}">Previous</a></li>
  <li><a href="@{Wizard.wizard(currentStep.index+1)}">Next</a></li>
</ul>

<div class="progress progress-success">
  <div class="bar" style="width: ${percent}%">${percent}%</div>
</div>

</div>