#{extends 'main3.html' /}
#{set header:'banner' /}

#{set title:'Wizard di installazione ePas' /}

#{set 'moreStyles'}
<style type="text/css">
.panel{
	margin-top: 110px;
}
#top_divider{
	margin-top: 5px;
	margin-bottom: 55px;
}

.panel-title{
	text-align: center;
	font-style: italic;
	text-transform: capitalize;
	font-size: 35px;
	color: #1990d5;
}
fieldset > legend{
	margin-top: 1em;
	margin-top: 1em;
}
#bottom_line{
	margin-top: 2em;
}
</style>
#{get 'moreStyles' /}
#{/set}

<div class="panel panel-default col-md-8 col-md-offset-2">
	<div class="panel-heading">
		<h1 class="panel-title">${currentStep.name}</h1>
	</div>
	<div class="panel-body">

		<ul class="nav nav-pills nav-justified" role="tablist">
			#{list items:steps, as:'step'}
			<li role="presentation" class="#{if currentStep.name == step.name}active #{/if} #{if !step.completed}disabled#{/if} "><a href="@{wizard.wizard(step.index)}">
				#{if step.completed}<span> <i class="fa fa-check-circle"></i></span>#{/if} 
				${step.name}</a></li>
				#{/list}
			</ul>
			<legend id="top_divider"></legend>
			#{doLayout/}
	</div>
		<div class="panel-footer">
			<ul class="pager">
				<li class="previous"><a href="@{Wizard.wizard(currentStep.index-1)}">Previous</a></li>
				<li class="next"><a href="@{Wizard.wizard(currentStep.index+1)}">Next</a></li>
			</ul>

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="${percent}%" aria-valuemin="0" aria-valuemax="100" style="width: ${percent}%">
					${percent}%
				</div>
			</div>
		</div>
	</div>