#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'Approvazione Reperibilità' /}


<div class="container">
  #{if reperibilityTypeMonth?.approved}
  #{title title: 'Revoca competenze' /}
  <h2>${reperibilityTypeMonth.yearMonth.asText()} - ${reperibilityTypeMonth.personReperibilityType}</h2>
  #{alert color:'warning', dismissible: true}
  <p>
    Le competenze per il mese ${reperibilityTypeMonth.yearMonth.asText()} risultano già approvate.
    La rimozione dell'approvazione comporterà un ricalcolo delle competenze assegnate agli assegnatari
    di questa attività.
    Inoltre una volta rimossa l'approvazione sarà nuovamente possibile effettuare le modifiche
    sulle attività del calendario.
  </p>
  #{/alert}
  #{/if}
  #{else}
  #{title title: 'Approvazione competenze' /}
  <h2>${reperibilityTypeMonth.yearMonth.asText()} - ${reperibilityTypeMonth.personReperibilityType}</h2>
  #{alert color:'info', dismissible: true}
  <p>
    Le competenze per il mese ${reperibilityTypeMonth.yearMonth.asText()} risultano da approvare.
    L'approvazione comporterà l'assegnamento delle competenze riportate qui sotto agli assegnatari di
    questa attività.<br>
    Una volta approvate, non sarà possibile apportare ulteriori modifiche alle attività dal calendario
    salvo annullamento dell'approvazione.
  </p>
  #{/alert}
  #{/else}
  <!-- Stampa calendario di reperibilità -->
<div class="row"></div>
<div class="row">
    
</div>
<div class="row"><br></div>
<div class="col-sm-6">
  	<span class="text-success">
  	<h4>Attività feriali</h4>
  	</span>
  	<ul class="list-group">
    #{list items:listWorkdaysRep, as:'item'}
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        ${item.person.fullname}

      </h4>
      <p class="list-group-item-text">Competenze maturate: <span
          class="label label-success">${item.workdaysReperibility}</span>
          #{list items:item.workdaysPeriods, as:'item2'}
          	${item2.lowerEndpoint().getDayOfMonth()}-${item2.upperEndpoint().getDayOfMonth()}/${item2.lowerEndpoint().monthOfYear().getAsText()}
          #{/list}</p>
    </li>
    #{/list}
  </ul>
  </div>
  <div class="col-sm-6">
  	<span class="text-danger">
  	<h4>Attività festive</h4>
  	</span>
  	<ul class="list-group">
    #{list items:listHolidaysRep, as:'item'}
    <li class="list-group-item">
      <h4 class="list-group-item-heading">
        ${item.person.fullname}
 
      </h4>
      <p class="list-group-item-text">Competenze maturate: <span
          class="label label-danger">${item.holidaysReperibility}</span>
          #{list items:item.holidaysPeriods, as:'item2'}
          	${item2.lowerEndpoint().getDayOfMonth()}-${item2.upperEndpoint().getDayOfMonth()}/${item2.lowerEndpoint().monthOfYear().getAsText()}
          #{/list}</p>
    </li>
    #{/list}
  </ul>
  </div>
  
    

  #{if reperibilityTypeMonth?.approved}
    #{form action:@removeApprovation(), method:'POST', class:'form form-horizontal' }
    #{f.hidden 'reperibilityTypeMonthId', value: reperibilityTypeMonth.id /}
    #{f.hidden 'version', value: reperibilityTypeMonth.version /}

    #{b.buttons center:true}
      #{b.submit 'Rimuovi approvazione' /}
      #{b.cancel @show('id':reperibilityTypeMonth.personReperibilityType.id, reperibilityTypeMonth.yearMonth.toLocalDate(1).toString()) /}
    #{/b.buttons}

    #{/form}
  #{/if}
  #{else}
    #{form action:@approveReperibilityInMonth(), method:'POST', class:'form form-horizontal' }
      #{f.hidden 'reperibilityTypeMonthId', value: reperibilityTypeMonth.id /}
      #{f.hidden 'version', value: reperibilityTypeMonth.version /}

      #{b.buttons center:true}
        #{b.submit 'Approva competenze' /}
        #{b.cancel @show('id':reperibilityTypeMonth.personReperibilityType.id, reperibilityTypeMonth.yearMonth.toLocalDate(1).toString()) /}
      #{/b.buttons}

    #{/form}
  #{/else}
</div>


