#{extends 'main.html' /}
#{set header:'navbar' /}
#{set title: 'ePAS - Calendario Reperibilità'  /}

#{set 'moreStyles' }
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
<link rel="stylesheet" media="print"
      href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.print.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
#{/set}

<!-- Switcher delle attività di turno-->
#{title title:'Calendario ' + reperibilitySelected.monthlyCompetenceType.name /}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        #{form action:@ReperibilityCalendar.show(), method:'POST', class:'form form-horizontal',
        onChange:"getCurrentViewDate('#date'); this.submit();" }
        #{f.hidden 'date', value:date.format() /}
        #{f.selectModel 'reperibility', items:reperibilities, value: reperibilitySelected /}
        #{/form}
    </div>
</div>

<!-- Menu laterale-->
<div class="col-md-2 well well-lg" data-render-load="@{reperibilityPeople()}"></div>

<!-- Calendario-->
<div class="col-md-8"
     data-calendar
     data-calendar-source="@{events()}"
     data-calendar-drop="@{changeReperibility()}"
     data-calendar-external-drop="@{newReperibility()}"
     data-calendar-event-remove="@{deleteReperibility()}"
     data-calendar-editable="@{editable()}"
     data-calendar-date="${currentDate}">
</div>

<div class="col-md-2 well well-lg" data-render-load="@{recap()}">

</div>

#{set 'moreScripts'}
<script src="//code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/it.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/gcal.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
#{script 'calendars/newReperibilityCalendar.js' /}
#{/set}