#{panel title:'(3) Definisci le fasce di turno', color:'primary'}

<div id="timeTableData">

#{list items:list, as:'ott'}
#{alert color:'info'}
	Slot di Turno ${ott.numberSlot}
#{/alert}
#{f.hidden 'index', value: ott_index /}
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'ott['+ott_index+'].beginSlot', value:ott.beginSlot, type:text, required:'true' /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'ott['+ott_index+'].endSlot', value:ott.endSlot, type:text, required:'true' /}
	  </div>	  
</div>

#{f.booleanRadio 'ott['+ott_index+'].isMealActive', value:ott.isMealActive, id:ott_index /}
<div class="ott-${ott_index}" id="meal-panel-ott[${ott_index}].isMealActive" #{if !ott.isMealActive} style="display: none" #{/if}>
<div class="row">
	  <div class="col-sm-1"></div>
	  <div class="col-sm-5">
	  #{f.input 'ott['+ott_index+'].beginMealSlot', value:ott.beginMealSlot, type:text /}
	  </div>
	  <div class="col-sm-5">
	  #{f.input 'ott['+ott_index+'].endMealSlot', value:ott.endMealSlot, type:text /}
	  </div>	  
</div>
</div>

<div class="row" >
	<div class="col-sm-offset-4"></div>	
	#{f.input 'ott['+ott_index+'].minutesSlot', value:ott.minutesPaid, type:'number' /}	
	
</div>
<div class="row" id="lunch" >
	<div class="col-sm-offset-4"></div>
	#{f.input 'ott['+ott_index+'].minutesPaid', value:ott.minutesPaid, type:'number' /}
	
</div>
#{/list}



</div>
#{/panel}


#{set 'moreScripts'}
  <script type="text/javascript">
	$(document).ready(function() {
					
		$("input[type=radio]").change(function(){
				jQuery( "#meal-panel-"+this.class ).toggle();	
			
			
		});
		       
	 });
	</script>	
#{/set}